{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="info-side-bar">
        <ul>
            {% if image.is_stored %}
            <li class="first last" style="margin: 8px 0;">
                <a href="{% url image_detail image.id %}">
                    <img class="thumbnail" src="http://astrobin_images.{{s3_url}}/{{image.filename}}_small_thumb{{image.original_ext}}"/>
                 </a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="sided-main-content">
        <h1>{% trans "Done!" %}</h1>
        <p>
            {% blocktrans %}The image was brought to the attention of the selected users.{% endblocktrans %}
        </p>
        <p>
            <a href="{% url image_detail image.id %}">Return to image</a>
        </p>
    </div>
{% endblock %}

