{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block content %}
    <h1>{% trans "Bring image to attention" %}</h1>
    <div class="well">
        {% blocktrans %}By choosing some users and clicking the button below, you will send them a notification prompting them to checkout this image.{% endblocktrans %}
    </div>
    <form class="form-horizontal" action="{% url bring_to_attention_process %}" method="post">
        {{form|as_bootstrap}}
        <input type="hidden" name="image_id" value="{{image.id}}" />
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{% trans "Continue" %} &rarr;" />
            <a class="btn" href="{{image.get_absolute_url}}/">{% trans "Return to image" %}</a>
        </ul>
    </form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_users').autoSuggest('/autocomplete_usernames/', {
            asHtmlID: 'users',
            searchObjProps: 'name',
            preFill: '',
            selectedItemProp: 'name',
            selectedValuesProp: 'name',
            startText: "",
            emptyText: "{% trans "No results. Sorry." %}",
            resultsTitleText: "{% trans "Click on a user below!" %}"
        });
    });
</script>
{% endblock %}
