{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans "TIFF/FITS requested" %}</h1>
    <div class="well">
        {% url messages_compose image.user.username as message_url %}
        {% blocktrans with image.user.username as username %}<strong>{{username}}</strong> has been notified. Hopefully they will get in touch with you and send you the TIFF/FITS files. AstroBin doesn't currently offer to host these files, unfortunately.{% endblocktrans %}
    </div>
    
    <a class="btn" href="{% url image_detail image.id %}">{% trans "Return to image" %}</a>
{% endblock %}
