{% extends 'base.html' %}

{% load i18n %}
{% load astrobin_apps_images_tags %}
{% load tags %}

{% block title %}{% trans "Archive of 'Image of the day' winners" %}{% endblock %}

{% block content %}
    <h1>{% trans "Archive of 'Image of the day' winners" %}</h1>

    <a class="anchor" name="page_anchor"></a>
    {% for iotd in object_list %}
        <div class="iotd-archive-image">
            {% astrobin_image iotd.image 'iotd' nav_ctx='iotd' %}

            <div class="data hidden-phone">
                <h3>{{iotd.image.title|escape}}</h3>
                <p>
                    {{iotd.date|date:"SHORT_DATE_FORMAT"}},
                    {% trans "by" %}
                    <a href="{% url 'user_page' iotd.image.user %}">
                        {{iotd.image.user.userprofile}}
                    </a>
                </p>
            </div>
        </div>
    {% endfor %}

    {% include 'pagination.html' %}
{% endblock %}
