{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load astrobin_apps_iotd_tags %}
{% load astrobin_apps_images_tags %}
{% load common_tags %}

{% block title %}{% trans "IOTD Submission Queue" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Moderate' None %}
    {% breadcrumb 'IOTD Submission Queue' None %}
{% endblock %}

{% block content %}
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
    <div class="subtitle">
        <i class="icon icon-info-sign"></i>
        {% blocktrans %}Please select the images that you want to propose for IOTD consideration.{% endblocktrans %}
        <div class="pull-right todays-count badge badge-success">
            <span class="used">
                {{user|iotd_submissions_today}}
            </span> / {{MAX_SUBMISSIONS_PER_DAY}}
        </div>
    </div>

    <div class="iotd-promotion-queue">
        {% for image in object_list %}
            <div class="iotd-queue-item
                       {% if request.user|may_toggle_submission:image %} may-select{% else %}may-not-select{% endif %}
                       {% if request.user|has_submitted:image %} selected{% endif %}">
                <a href="#" class="select" data-toggle-url="{% url 'iotd_toggle_submission_ajax' image.pk %}">
                    {% astrobin_image image 'story' link=False tooltip=False %}
                </a>

                <div class="iotd-queue-item-actions">
                    <a href="{% url 'image_rawthumb' image.get_id '0' 'hd_anonymized' %}{% query_string "sync=" "" %}" class="fancybox">
                        <i class="icon-zoom-in"></i>
                    </a>

                    <a href="{% url 'image_full' image.get_id %}?real" target="_blank">
                        <i class="icon-fullscreen"></i>
                    </a>

                    <a href="{{ image.get_absolute_url }}" target="_blank">
                        <i class="icon-link"></i>
                    </a>
                </div>

                <div class="iotd-queue-item-loading-overlay">
                    <i class="icon-spinner"></i>
                </div>

                <div class="iotd-queue-item-selected-overlay">
                    <i class="icon-ok"></i>
                </div>

                <div class="iotd-queue-item-may-not-select-overlay">
                    <img
                        src="{% get_static_prefix %}astrobin_apps_iotd/images/iotd_may_not_select_overlay.png"
                        rel="tooltip"
                        {% if not request.user|may_toggle_submission:image %}
                            title="{{request.user|may_not_toggle_submission_reason:image}}"
                        {% endif %}
                    />
                </div>
            </div>
        {% empty %}
            {% trans "This queue is currently empty." %}
        {% endfor %}
    </div>
    {% endif %} {# READONLY #}
{% endblock %}

{% block modals %}
    <div id="error-modal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "Error" %}</h3>
        </div>

        <div class="modal-body">
            <p class="error-message">
            </p>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.fancybox').fancybox({
                type: 'image'
            });

            $('.iotd-queue-item a.select').click(function(e) {
                var $item = $(this).closest('.iotd-queue-item'),
                    url = $(this).data('toggle-url');

                if (!$item.hasClass('may-not-select')) {
                    $item.find('.iotd-queue-item-loading-overlay').show();
                    if ($item.hasClass('selected')) {
                        $item.find('.iotd-queue-item-selected-overlay').hide();
                    }

                    $.ajax({
                        url: url,
                        type: 'post',
                        timeout: 5000,
                        success: function(response) {
                            $item.find('.iotd-queue-item-loading-overlay').hide();

                            if ('used_today' in response) {
                                $('.todays-count .used').text(response['used_today']);
                            }

                            if ('submission' in response) {
                                if (!$item.hasClass('selected')) {
                                    $item.addClass('selected');
                                    $item.find('.iotd-queue-item-selected-overlay').show();
                                }
                            } else {
                                $item.removeClass('selected');
                            }

                            if ('error' in response) {
                                $('#error-modal .error-message').text(response['error']);
                                $('#error-modal').modal('show');
                            }
                        }
                    });
                }

                e.preventDefault();
            });
        });
    </script>
{% endblock %}
