{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load astrobin_apps_iotd_tags %}
{% load astrobin_apps_images_tags %}

{% block title %}{% trans "IOTD Submission Queue" %}{% endblock %}

{% block content %}
    <h1>{% trans "IOTD Submission Queue" %}</h1>
    <div class="subtitle">
        {% blocktrans %}Please select the images that you want to promote for final review by clicking on them.{% endblocktrans %}
    </div>

    <div class="iotd-promotion-queue">
        {% for image in object_list %}
            <div class="iotd-queue-item
                       {% if request.user|may_toggle_vote:image %} may-vote{% else %}may-not-vote{% endif %}
                       {% if request.user|has_voted:image %} voted{% endif %}">
                {% with count=image|submissions_count %}
                    {% if count > 1 %}
                        <div class="submissions-count">
                            <span class="badge badge-warning" rel="tooltip" title="{% trans "Number of submissions for this image" %}">
                                {{count}}
                            </span>
                        </div>
                    {% endif %}
                {% endwith %}

                <a href="#" class="vote" data-toggle-url="{% url 'iotd_toggle_vote_ajax' image.pk %}">
                    {% astrobin_image image 'story' link=False tooltip=False %}
                </a>

                <div class="iotd-queue-item-actions">
                    <a href="{% url 'image_rawthumb' image.pk '0' 'hd' %}" class="fancybox">
                        <i class="icon-zoom-in"></i>
                    </a>

                    <a href="{% url 'image_detail' image.pk %}" target="_blank">
                        <i class="icon-link"></i>
                    </a>
                </div>

                <div class="iotd-queue-item-vote-overlay">
                    <i class="icon-ok"></i>
                </div>

                <div class="iotd-queue-item-may-not-vote-overlay">
                    <img
                        src="{% get_static_prefix %}astrobin_apps_iotd/images/iotd_may_not_vote_overlay.png"
                        rel="tooltip"
                        {% if not request.user|may_toggle_vote:image %}
                            title="{{request.user|may_not_toggle_vote_reason:image}}"
                        {% endif %}
                    />
                </div>
            </div>
        {% empty %}
            {% trans "This queue is currently empty." %}
        {% endfor %}
    </div>
{% endblock %}

{% block modals %}
    <div id="error-modal" class="modal hide fide">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "Error" %}</h3>
        </div>

        <div class="modal-body">
            <p class="error-message">
            </p>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.fancybox').fancybox({
                type: 'image'
            });

            $('.iotd-queue-item a.vote').click(function(e) {
                var $item = $(this).closest('.iotd-queue-item'),
                    url = $(this).data('toggle-url');

                if (!$item.hasClass('may-not-vote')) {
                    $.ajax({
                        url: url,
                        type: 'post',
                        success: function(response) {
                            if ('vote' in response) {
                                if (!$item.hasClass('voted')) {
                                    $item.addClass('voted');
                                }
                            } else {
                                $item.removeClass('voted');
                            }

                            if ('error' in response) {
                                $('#error-modal .error-message').text(response['error']);
                                $('#error-modal').modal('show');
                            }
                        }
                    });
                }

                e.preventDefault();
            });
        });
    </script>
{% endblock %}
