{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load astrobin_apps_iotd_tags %}
{% load astrobin_apps_images_tags %}

{% block title %}{% trans "IOTD Review Queue" %}{% endblock %}

{% block content %}
    <h1>{% trans "IOTD Review Queue" %}</h1>
    <div class="subtitle">
        {% blocktrans %}Please select the images that you want to promote for final judgement by clicking on them.{% endblocktrans %}
    </div>

    <div class="iotd-promotion-queue">
        {% for image in object_list %}
            <div class="iotd-queue-item
                       {% if request.user|may_toggle_vote:image %} may-select{% else %}may-not-select{% endif %}
                       {% if request.user|has_voted:image %} selected{% endif %}">
                {% with count=image|submissions_count %}
                    <div class="submissions-count">
                        <a class="badge"
                           href="#submitters-modal"
                           data-toggle="modal"
                           data-image="{{image.pk}}">
                            {{count}}
                        </a>
                    </div>
                {% endwith %}

                <a href="#" class="select" data-toggle-url="{% url 'iotd_toggle_vote_ajax' image.pk %}">
                    {% astrobin_image image 'story' link=False tooltip=False %}
                </a>

                <div class="iotd-queue-item-actions">
                    <a href="{% url 'image_rawthumb' image.pk '0' 'hd' %}" class="fancybox">
                        <i class="icon-zoom-in"></i>
                    </a>

                    <a href="{% url 'image_detail' image.pk %}" target="_blank">
                        <i class="icon-link"></i>
                    </a>
                </div>

                <div class="iotd-queue-item-selected-overlay">
                    <i class="icon-ok"></i>
                </div>

                <div class="iotd-queue-item-may-not-select-overlay">
                    <img
                        src="{% get_static_prefix %}astrobin_apps_iotd/images/iotd_may_not_select_overlay.png"
                        rel="tooltip"
                        {% if not request.user|may_toggle_vote:image %}
                            title="{{request.user|may_not_toggle_vote_reason:image}}"
                        {% endif %}
                    />
                </div>
            </div>
        {% empty %}
            {% trans "This queue is currently empty." %}
        {% endfor %}
    </div>
{% endblock %}

{% block modals %}
    <div id="submitters-modal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "Submitters" %}</h3>
        </div>

        <div class="modal-body">
            <img src="{% get_static_prefix %}images/ajax-loader.gif" alt="{% trans "Loading" %}" />
        </div>
    </div>

    <div id="error-modal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "Error" %}</h3>
        </div>

        <div class="modal-body">
            <p class="error-message">
            </p>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.fancybox').fancybox({
                type: 'image'
            });

            $('.badge').on('click', function() {
                var $modal = $('#submitters-modal'),
                    pk = $(this).data('image');

                $.ajax({
                    url: '/iotd/submitters-for-image-ajax/' + pk,
                    timeout: 0,
                    success: function(data, textStatus, jqXHR) {
                        $modal.find('.modal-body').html(data);
                    }
                });
            });

            $('#submitters-modal').on('hidden', function() {
                $(this).find('.modal-body').html(
                    '<img src="{% get_static_prefix %}images/ajax-loader.gif" alt="{% trans "Loading" %}" />');
            });

            $('.iotd-queue-item a.select').click(function(e) {
                var $item = $(this).closest('.iotd-queue-item'),
                    url = $(this).data('toggle-url');

                if (!$item.hasClass('may-not-select')) {
                    $.ajax({
                        url: url,
                        type: 'post',
                        success: function(response) {
                            if ('vote' in response) {
                                if (!$item.hasClass('selected')) {
                                    $item.addClass('selected');
                                }
                            } else {
                                $item.removeClass('selected');
                            }

                            if ('error' in response) {
                                $('#error-modal .error-message').text(response['error']);
                                $('#error-modal').modal('show');
                            }
                        }
                    });
                }

                e.preventDefault();
            });
        });
    </script>
{% endblock %}
