<div class="page has-breadcrumb">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>
  </form>
</div>

<ng-template #remoteSourceLabelTemplate let-item="item">
  <span class="code">{{ item.label }}</span>
  <span class="remote-affiliate-sponsor" *ngIf="isSponsor(item.value)">(sponsor)</span>
</ng-template>

<ng-template #remoteSourceOptionTemplate let-item="item">
  <span class="code">{{ item.label }}</span>
  <span class="remote-affiliate-sponsor" *ngIf="isSponsor(item.value)">(sponsor)</span>
</ng-template>
