{% extends 'base.html' %}

{% load i18n %}
{% load tags %}

{% block content %}
<div class="full-box advanced-search-box">
    <p><a href="#" onclick="common.showHideAdvancedSearch()">{% trans "Show/hide advanced search box." %}</a></p>
    <form id="advanced_search" method="get" action="{% url haystack_search %}">{% csrf_token %}
        {{form.as_p}}
        <input class="button submit-button" type="submit" value="{% trans "Search" %} &rarr;" />
    </form>
</div>

<a name="page_anchor"></a>
<div id="search-results" class="full-box clear">
    <h2>
        {% if query %}
            {% trans "Images matching" %} <em>"{{query}}"</em>
        {% else %}
            {% trans "All images" %}
        {% endif %}

        {% if 'start_date' in request.GET and 'end_date' in request.GET and request.GET.start_date != '' and request.GET.end_date != '' and request.GET.start_date == request.GET.end_date %}
            &nbsp;{% trans "acquired on" %} {{request.GET.start_date|string_to_date|date:"DATE_FORMAT"}}
        {% else %}
            {% if 'start_date' in request.GET and request.GET.start_date != '' %}
                &nbsp;{% trans "acquired after" %} {{request.GET.start_date|string_to_date|date:"DATE_FORMAT"}}
                {% if 'end_date' in request.GET and request.GET.end_date != '' %}
                    &nbsp;{% trans "and before" %} {{request.GET.end_date|string_to_date|date:"DATE_FORMAT"}}
                {% endif %}
            {% else %}
                {% if 'end_date' in request.GET and request.GET.end_date != '' %}
                    &nbsp;{% trans "acquired before" %} {{request.GET.end_date|string_to_date|date:"DATE_FORMAT"}}
                {% endif %}
            {% endif %}
        {% endif %}
    </h2>

    <div class="sort">
            {% trans "Sort these images by:" %}&nbsp;
            <a href="/search/?q={{query}}">{% trans "Relevance" %}</a>&nbsp;|&nbsp;
            <a href="/search/?q={{query}}&sort=-uploaded">{% trans "Upload time" %}</a>&nbsp;|&nbsp;
            <a href="/search/?q={{query}}&sort=-rating">{% trans "Rating" %}</a>&nbsp;|&nbsp;
            <a href="/search/?q={{query}}&sort=-integration">{% trans "Integration" %}</a>
    </div>

    {% image_list request page.object_list %}

</div>
{% endblock %}
