{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="full-box">
    <p><a href="#" onclick="common.showHideAdvancedSearch()">{% trans "Show/hide advanced search box." %}</a></p>
    <form id="advanced_search" method="get" action="{% url haystack_search %}">{% csrf_token %}
        {{form.as_p}}
        <input class="button submit-button" type="submit" value="{% trans "Search" %} &rarr;" />
    </form>
</div>

{% if query %}
<a name="pag_anchor"></a>
<div id="search-results" class="full-box clear">
    <h2>{% trans "Images matching" %} <em>"{{query}}"</em></h2>

    <div class="sort">
            {% trans "Sort these images by:" %}&nbsp;
            <a href="/search/?q={{query}}">{% trans "Relevance" %}</a>&nbsp;|&nbsp;
            <a href="/search/?q={{query}}&sort=-new">{% trans "Date" %}</a>&nbsp;|&nbsp;
            <a href="/search/?q={{query}}&sort=-rating">{% trans "Rating" %}</a>&nbsp;|&nbsp;
            <a href="/search/?q={{query}}&sort=-integration">{% trans "Integration" %}</a>
    </div>

    {% load tags %}
    {% image_list request page.object_list %}
</div>
{% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}
{% endblock %}
