{% load i18n %}
{% load astrobin_apps_iotd_tags %}

{% if iotd_submit_enabled %}
    <a href="#iotd-submit-modal"
       data-toggle="modal"
       class="btn btn-primary btn-large btn-block btn-iotd-submit">
        {% trans "Submit for IOTD" %}
    </a>
{% else %}
    {% if request.user|is_iotd_submitter %}
        <a href="#iotd-submit-disabled-modal"
           data-toggle="modal"
           class="btn btn-large btn-block btn-primary btn-disabled btn-iotd-submit disabled">
          {% trans "Submit for IOTD" %}
        </a>
    {% endif %}
{% endif %}

{% block modals %}
    {% if iotd_submit_enabled %}
        <div class="modal hide fade" id="iotd-submit-modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>{% trans "Submit for IOTD" %}</h3>
            </div>

            <div class="modal-body">
                {% trans "You will submit this image to the IOTD Submissions Queue. From there, a member of the IOTD Reviewers Board will consider promoting it for final evaluation from an IOTD Judge" %}
            </div> 

            <div class="modal-footer">
                <form action="{% url 'iotd_submission_create' %}" method="post">{% csrf_token %}
                    <input type="hidden" name="image" value="{{image.pk}}" />
                    <input type="submit" class="btn btn-primary btn-block-mobile" value="{% trans "Submit" %}" />
                </form>
            </div>
        </div>
    {% else %}
        {% if iotd_submit_disabled_reason %}
            <div class="modal hide fade" id="iotd-submit-disabled-modal">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>{% trans "Submit for IOTD" %}</h3>
                </div>

                <div class="modal-body">
                    {{iotd_submit_disabled_reason}}
                </div> 
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
