{% load i18n %}

<p>
    {% blocktrans trimmed %}
        Your offer for <strong>{{ listing }}</strong> has been retracted.
    {% endblocktrans %}
</p>

<p>
    {% for offer in retracted_offers %}
        {% trans "Item" %}: <strong>{{ offer.line_item }}</strong><br/>
        {% trans "Offer amount" %}: <strong>{{ offer.line_item.currency }} {{ offer.amount }}</strong>
        {% if offer.line_item.shipping_cost %}
            <br/>
            {% trans "Shipping cost" %}: <strong>{{ offer.line_item.currency }} {{ offer.line_item.shipping_cost }}</strong>
        {% endif %}
        {% if not forloop.last %}
            <br/><br/>
        {% endif %}
    {% endfor %}
</p>

<p>
    <a href="{{ listing_url }}" class="btn btn-primary">{% trans "View listing" %}</a>
</p>
