{% load i18n %}

{% blocktrans trimmed %}
    <a href="{{ user_url }}">{{ user }}</a> approved the equipment item <a href="{{ item_url }}">{{ item }}</a> that you
    created.
{% endblocktrans %}

<br /><br />

{% blocktrans trimmed %}
    This item can now be added to images by anyone on AstroBin.
{% endblocktrans %}

<br /><br />

{% if comment %}
    {% blocktrans trimmed %}
        The reviewer left the following comment:
    {% endblocktrans %}

    <br />

    "<em>{{ comment }}</em>"
{% endif %}

<br /><br />

<a href="{{ item_url }}" class="btn btn-primary">{% trans "View item" %}</a>
