{% load i18n %}

<div class="subtle-container">
    <h3>{% trans "Pay securely with PayPal" %}</h3>

    {% if PAYPAL_TEST %}
        {{ form.sandbox }}
    {% else %}
        {{ form.render }}
    {% endif %}
</div>

{% if object.recurrence_unit == None %}
    <div class="subtle-container">
        <h3>{% trans "Pay with a bank transfer" %}</h3>
        <p>
            {% blocktrans with amount=object.price currency=object.currency email_prefix="<a href='mailto:astrobin@astrobin.com'>" email="astrobin@astrobin.com" email_postfix="</a>" %}
                Prefer to pay via bank transfer? Please make a deposit of {{ currency }} {{ amount }} to the following
                bank details and then email us at {{ email_prefix }}{{ email }}{{ email_postfix }} with your username so
                we may upgrade your account manually. Thanks!
            {% endblocktrans %}
        </p>

        <pre>BANK: PostFinance Switzerland
ACCOUNT HOLDER: Salvatore Iovene
ADDRESS: Obstgartenstrasse 32, 8136 Gattikon (Switzerland)
ACCOUNT # (IBAN):  CH97 0900 0000 6922 3618 4
SWIFT / BIC: POFICHBEXXX</pre>
    </div>
{% endif %}
