{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load tags %}
{% load astrobin_apps_premium_tags %}

{% block title %}{% trans "Subscription plans" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Subscription plans' None %}
{% endblock %}

{% block content %}
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
        <h1>{% trans "Subscription plans" %}</h1>
        {% if PREMIUM_ENABLED %}
            <div class="row subscription-plans-overview">
                <div class="span4 lite">
                    {% get_subscription_by_name 'AstroBin Lite 2020+' as subscription %}
                    <div class="subtle-container">
                        <div class="header">
                            <div class="subscription-name">Lite</div>
                            <div class="price">
                                {{ subscription.currency }}
                                <span class="number">{{ PREMIUM_PRICE_LITE }}</span> / {% trans "year" %}
                            </div>
                            {% include 'subscription/_subscription_status_form.html' %}
                        </div>

                        <ul>
                            <li>
                                <i class="icon-ok"></i>{% blocktrans with number=PREMIUM_MAX_IMAGES_LITE size=PREMIUM_MAX_IMAGE_SIZE_LITE|filesizeformat %}
                                {{ number }} images, max {{ size }} each{% endblocktrans %}
                            </li>
                            <li><i class="icon-ok"></i>{% trans "View complete images tech info" %}</li>
                            <li><i class="icon-ok"></i>{% trans "Advanced search" %}</li>
                            <li>
                                <i class="icon-ok"></i>{% blocktrans with number=PREMIUM_MAX_REVISIONS_LITE %}Up to {{ number }} revisions per image{% endblocktrans %}
                            </li>
                            <li><i class="icon-ok"></i>{% trans "Social features (likes, comments, forums, etc)" %}</li>
                            <li><i class="icon-ok"></i>{% trans "Create and join Groups" %}</li>
                            <li><i class="icon-ok"></i>{% trans "Plate-solving" %}</li>
                        </ul>
                    </div>

                    <div class="subtle-container in-the-future">
                        <div class="header">{% trans "In the future..." %}</div>
                        <ul>
                            <li><i class="icon-ok"></i>{% trans "Vote in custom community contests" %}</li>
                            <li><i class="icon-ok"></i>{% trans "View ads in the Buy & Sell section" %}</li>
                        </ul>
                    </div>
                </div>

                <div class="span4 premium">
                    {% get_subscription_by_name 'AstroBin Premium 2020+' as subscription %}
                    <div class="subtle-container">
                        <div class="header">
                            <div class="subscription-name">Premium</div>
                            <div class="price">
                                {{ subscription.currency }}
                                <span class="number">{{ PREMIUM_PRICE_PREMIUM }}</span> / {% trans "year" %}
                            </div>
                            {% include 'subscription/_subscription_status_form.html' %}
                        </div>
                        <ul>
                            <li>
                                <i class="icon-ok"></i>
                                {% blocktrans with number=PREMIUM_MAX_IMAGES_PREMIUM size=PREMIUM_MAX_IMAGE_SIZE_PREMIUM|filesizeformat %}{{ number }} images, max {{ size }} each{% endblocktrans %}
                            </li>
                            <li><i class="icon-ok"></i>{% trans "View complete images tech info" %}</li>
                            <li><i class="icon-ok"></i>{% trans "Advanced search" %}</li>
                            <li>
                                <i class="icon-ok"></i>{% blocktrans with number=PREMIUM_MAX_REVISIONS_PREMIUM %}Up to {{ number }} revisions per image{% endblocktrans %}
                            </li>
                            <li><i class="icon-ok"></i>{% trans "Social features (likes, comments, forums, etc)" %}</li>
                            <li><i class="icon-ok"></i>{% trans "Participate in Image of the Day / Top Picks contests" %}</li>
                            <li><i class="icon-ok"></i>{% trans "Create and join Groups" %}</li>
                            <li><i class="icon-ok"></i>{% trans "Plate-solving" %}</li>
                            <li><i class="icon-ok"></i>{% trans "Option to hide astronomy ads from our partners" %}</li>
                        </ul>
                    </div>

                    <div class="subtle-container in-the-future">
                        <div class="header">{% trans "In the future..." %}</div>
                        <ul>
                            <li><i class="icon-ok"></i>{% trans "Vote and participate in custom community contests" %}</li>
                            <li><i class="icon-ok"></i>{% trans "View and post ads in the Buy & Sell section" %}</li>
                        </ul>
                    </div>
                </div>

                <div class="span4 ultimate">
                    <div class="subtle-container">
                        {% get_subscription_by_name 'AstroBin Ultimate 2020+' as subscription %}
                        <div class="header">
                            <div class="subscription-name">Ultimate</div>
                            <div class="price">
                                {{ subscription.currency }}
                                <span class="number">{{ PREMIUM_PRICE_ULTIMATE }}</span> / {% trans "year" %}
                            </div>
                            {% include 'subscription/_subscription_status_form.html' %}
                        </div>
                        <ul>
                            <li>
                                <i class="icon-ok"></i>{% trans "Unlimited images, unlimited size" %}
                            </li>
                            <li><i class="icon-ok"></i>{% trans "View complete images tech info" %}</li>
                            <li><i class="icon-ok"></i>{% trans "Advanced search" %}</li>
                            <li>
                                <i class="icon-ok"></i>{% trans "Unlimited image revisions" %}
                            </li>
                            <li><i class="icon-ok"></i>{% trans "Social features (likes, comments, forums, etc)" %}</li>
                            <li>
                                <i class="icon-ok"></i>{% trans "Participate in Image of the Day / Top Picks contests" %}
                            </li>
                            <li><i class="icon-ok"></i>{% trans "Create and join Groups" %}</li>
                            <li><i class="icon-ok"></i>{% trans "Plate-solving" %}</li>
                            <li><i class="icon-ok"></i>{% trans "No astronomy ads from our partners" %}</li>
                            <li><i class="icon-ok"></i>{% trans "Nobody else, including visitors and free members, sees ads on your pages" %}</li>
                            <li><i class="icon-ok"></i>{% trans "Guaranteed access to all future additions to AstroBin" %}</li>
                        </ul>
                    </div>

                    <div class="subtle-container in-the-future">
                        <div class="header">{% trans "In the future..." %}</div>
                        <ul>
                            <li><i class="icon-ok"></i>{% trans "Vote and participate in custom community contests" %}</li>
                            <li><i class="icon-ok"></i>{% trans "View and post ads in the Buy & Sell section" %}</li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="well">
                <h2>{% trans "Feature comparison" %}</h2>
                <table class="table subscription-plans-features">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>
                            <span class="hidden-phone">Free</span>
                            <span class="visible-phone">Fr</span>
                        </th>
                        <th>
                            <span class="hidden-phone">Lite</span>
                            <span class="visible-phone">Li</span>
                        </th>
                        <th>
                            <span class="hidden-phone">Premium</span>
                            <span class="visible-phone">Pr</span>
                        </th>
                        <th>
                            <span class="hidden-phone">Ultimate</span>
                            <span class="visible-phone">Ul</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>{% trans "Images" %}</th>
                        <td class="free">{{ PREMIUM_MAX_IMAGES_FREE }}</td>
                        <td class="lite">{{ PREMIUM_MAX_IMAGES_LITE }}</td>
                        <td class="premium">{{ PREMIUM_MAX_IMAGES_PREMIUM }}</td>
                        <td class="ultimate"><span class="infinity">&infin;</span></td>
                    </tr>
                    <tr>
                        <th>{% trans "Revisions per image" %}</th>
                        <td class="free"><i class="icon-remove"></i></td>
                        <td class="lite">{{ PREMIUM_MAX_REVISIONS_PREMIUM }}</td>
                        <td class="premium">{{ PREMIUM_MAX_REVISIONS_PREMIUM }}</td>
                        <td class="ultimate"><span class="infinity">&infin;</span></td>
                    </tr>
                    <tr>
                        <th>{% trans "Upload quality" %}</th>
                        <td class="free">Max {{ PREMIUM_MAX_IMAGE_SIZE_FREE | filesizeformat }}</td>
                        <td class="lite">Max {{ PREMIUM_MAX_IMAGE_SIZE_LITE | filesizeformat }}</td>
                        <td class="premium">Max {{ PREMIUM_MAX_IMAGE_SIZE_PREMIUM | filesizeformat }}</td>
                        <td class="ultimate"><span class="infinity">&infin;</span></td>
                    </tr>
                    <tr>
                        <th>{% trans "View complete images tech info" %}</th>
                        <td class="free"><i class="icon-remove"></i></td>
                        <td class="lite"><i class="icon-ok"></i></td>
                        <td class="premium"><i class="icon-ok"></i></td>
                        <td class="ultimate"><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <th>{% trans "Plate-solving" %}</th>
                        <td class="free"><i class="icon-ok"></i></td>
                        <td class="lite"><i class="icon-ok"></i></td>
                        <td class="premium"><i class="icon-ok"></i></td>
                        <td class="ultimate"><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <th>{% trans "Advanced search" %}</th>
                        <td class="free"><i class="icon-remove"></i></td>
                        <td class="lite"><i class="icon-ok"></i></td>
                        <td class="premium"><i class="icon-ok"></i></td>
                        <td class="ultimate"><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <th>{% trans "Hide ads from our partners" %}</th>
                        <td class="free"><i class="icon-remove"></i></td>
                        <td class="lite"><i class="icon-remove"></i></td>
                        <td class="premium"><i class="icon-ok"></i></td>
                        <td class="ultimate"><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <th>{% trans "Nobody else, including visitors and free members, sees ads on your pages" %}</th>
                        <td class="free"><i class="icon-remove"></i></td>
                        <td class="lite"><i class="icon-remove"></i></td>
                        <td class="premium"><i class="icon-remove"></i></td>
                        <td class="ultimate"><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <th>{% trans "Social features" %}</th>
                        <td class="free"><i class="icon-ok"></i></td>
                        <td class="lite"><i class="icon-ok"></i></td>
                        <td class="premium"><i class="icon-ok"></i></td>
                        <td class="ultimate"><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <th>{% trans "Groups" %}</th>
                        <td class="free"><i class="icon-remove"></i></td>
                        <td class="lite"><i class="icon-remove"></i></td>
                        <td class="premium"><i class="icon-ok"></i></td>
                        <td class="ultimate"><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <th>
                            {% trans "Image of the Day / Top Picks" %}
                        </th>
                        <td class="free"><i class="icon-remove"></i></td>
                        <td class="lite"><i class="icon-remove"></i></td>
                        <td class="premium"><i class="icon-ok"></i></td>
                        <td class="ultimate"><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <th>
                            {% trans "Custom contests" %}
                            <span class="in-the-future">
                                {% trans "(in the future)" %}
                            </span>
                        </th>
                        <td class="free"><i class="icon-remove"></i></td>
                        <td class="lite">{% trans "Vote" %}</td>
                        <td class="premium">{% trans "Vote" %}</td>
                        <td class="ultimate">{% trans "Vote + enter" %}</td>
                    </tr>
                    <tr>
                        <th>
                            {% trans "Post in the Buy & Sell section" %}
                            <span class="in-the-future">
                                {% trans "(in the future)" %}
                            </span>
                        </th>
                        <td class="free"><i class="icon-remove"></i></td>
                        <td class="lite"><i class="icon-remove"></i></td>
                        <td class="premium"><i class="icon-remove"></i></td>
                        <td class="ultimate"><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <th>
                            {% trans "Guaranteed access to future AstroBin features" %}
                        </th>
                        <td class="free"><i class="icon-remove"></i></td>
                        <td class="lite"><i class="icon-remove"></i></td>
                        <td class="premium"><i class="icon-remove"></i></td>
                        <td class="ultimate"><i class="icon-ok"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- well -->
        {% endif %}

        <div class="well">
            <h2>{% trans "AstroBin Raw Data subscription plans" %}</h2>

            <p>
                {% blocktrans %}<strong>AstroBin Raw Data</strong> allows you to store your raw files (
                    <strong>FIT</strong> and <strong>digital camera raw</strong>) on AstroBin. We will keep them neatly
                    organized, and you will have a safe backup of all your work, including calibration
                    files.{% endblocktrans %}

                {% url 'rawdata.help1' as rawdata_url %}
                {% blocktrans %}Learn more by reading
                    <a href="{{ rawdata_url }}">a short introduction.</a>{% endblocktrans %}
            </p>

            <p>
                {% trans "Here's a short description of each plan:" %}
            </p>

            <ul class="subscription-plans-description-list">
                <li>
                    <strong>Atom</strong><br/>
                    {% blocktrans %}This plan is free! Choose it to share a small amount of data with other
                        users.{% endblocktrans %}
                </li>
                <li>
                    <strong>Meteor</strong><br/>
                    {% blocktrans %} Choose this plan if you want to keep your expenses to a minimum, but still want the
                        possibility to share your FIT and digital camera raw files with your friends. You can also
                        participate to public data pools and contribute to the deepest deep sky images ever created, and
                        you will always know that you support AstroBin.{% endblocktrans %}
                </li>
                <li>
                    <strong>Luna</strong><br/>
                    {% blocktrans %}Choose this plan if you have started out in the recent year or two, or you don't
                        want to share and backup your calibration files. Enjoy a lot of room for a convenient
                        price.{% endblocktrans %}
                </li>
                <li>
                    <strong>Sol</strong><br/>
                    {% blocktrans %}Choose this plan if you have several years worth of data. You will probably have
                        enough room for all your calibration files, and will enjoy the full potential of the
                        platform.{% endblocktrans %}
                </li>
                <li>
                    <strong>Galaxia</strong><br/>
                    {% blocktrans %}Choose this plan if you have a massive amount of raw data that you want to share and
                        backup securely online.{% endblocktrans %}
                </li>
            </ul>
            </p>
            {% with subscription_category='rawdata' %}
                {% include 'subscription/subscription_category_list.html' %}
            {% endwith %}
        </div>

        {% if request.user|valid_subscriptions %}
            <div class="well">
                <h2>{% trans "Your active subscription plans" %}</h2>
                {% with object_list=request.user|valid_subscriptions subscription_category='any' %}
                    {% include 'subscription/subscription_category_list.html' %}
                {% endwith %}
            </div>
        {% endif %}

        {% if request.user|inactive_subscriptions %}
            <div class="well">
                <h2>{% trans "Your inactive subscription plans" %}</h2>
                {% with object_list=request.user|inactive_subscriptions subscription_category='any' %}
                    {% include 'subscription/subscription_category_list.html' %}
                {% endwith %}
            </div>
        {% endif %}

        <div class="thankyou">
            {% blocktrans %}Thank you for supporting AstroBin!{% endblocktrans %}
        </div>
        <div style="text-align:center">
            {% blocktrans %}PS: are you interested in larger plans?
                <a href="/contact/">Let us know!</a>{% endblocktrans %}
        </div>
    {% endif %} {# READONLY #}
{% endblock %}
