{% load i18n %}
{% load tags %}
{% load astrobin_apps_premium_tags %}

<table class="table subscription-plans">
    <thead>
        <tr>
            <th>{% trans "Plan" context "Subscription plan name" %}</th>
            {% if request.user.is_authenticated and request.user|has_valid_premium_offer and not request.user|has_valid_subscription_in_category:"premium" %}
                <th>{% trans "Offer valid until" %}</th>
            {% endif %}
            <th>{% trans "Price" %}</th>
            <th>{% trans "Validity" %}</th>
            <th>{% trans "Autorenew" %}</th>
            <th>{% trans "Trial period" %}</th>
            <th>{% trans "Size" %}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        {% if object.category == subscription_category or subscription_category == 'any' %}
        <tr>
            <td>{% trans object.name %}</td>

            {% if request.user.is_authenticated and request.user|has_valid_premium_offer and not request.user|has_valid_subscription_in_category:"premium" %}
                <td>{{ request.user.userprofile.premium_offer_expiration|date:"SHORT_DATE_FORMAT" }}</td>
            {% endif %}

            <td>
                {% if object.price > 0 %}
                    {{ object.currency }} {{ object.price }}

                    {% if object.recurrence_unit == 'D' %}
                        / {% trans "day" %}
                    {% endif %}

                    {% if object.recurrence_unit == 'W' %}
                        / {% trans "week" %}
                    {% endif %}

                    {% if object.recurrence_unit == 'M' %}
                        / {% trans "month" %}
                    {% endif %}

                    {% if object.recurrence_unit == 'Y' %}
                        / {% trans "year" %}
                    {% endif %}

                    {% if object.recurrence_unit == None %}
                        / {% trans "one time" %}
                    {% endif %}
                {% else %}
                    {% trans "Free" context "At no cost" %}
                {% endif %}
            </td>

            <td>
                {% if object.recurrence_unit == None or object.recurrence_unit == "0" %}
                    1 {% trans "year" %}
                {% else %}
                    {% trans "n/a" %}
                {% endif %}
            </td>

            <td>
                {% if object.recurrence_unit == 'D' %}
                    {% trans "Daily" %}
                {% endif %}

                {% if object.recurrence_unit == 'W' %}
                    {% trans "Weekly" %}
                {% endif %}

                {% if object.recurrence_unit == 'M' %}
                    {% trans "Monthly" %}
                {% endif %}

                {% if object.recurrence_unit == 'Y' %}
                    {% trans "Yearly" %}
                {% endif %}

                {% if object.recurrence_unit == None or object.recurrence_unit == "0" %}
                    {% trans "No" %}
                {% endif %}
            </td>

            <td>
                {% if object.trial_period > 0 %}
                    {{object.trial_period}}

                    {% if object.trial_unit == 'D' %}
                        {% trans "days" %}
                    {% endif %}

                    {% if object.trial_unit == 'W' %}
                        {% trans "weeks" %}
                    {% endif %}

                    {% if object.trial_unit == 'M' %}
                        {% trans "months" %}
                    {% endif %}

                    {% if object.trial_unit == 'Y' %}
                        {% trans "years" %}
                    {% endif %}
                {% else %}
                    {% trans "No trial" %}
                {% endif %}
            </td>

            <td>
                {% if object.description %}
                    {{object.description}}
                {% else %}
                    {% trans "n/a" %}
                {% endif %}
            </td>

            <td>
                <a  class="btn btn-block{% if request.user|has_valid_subscription:object.pk %} btn-danger{% endif %}"
                    href="{% url 'subscription_detail' object.pk %}">

                    {% if request.user|has_valid_subscription:object.pk %}
                        {% if object.recurrence_unit == None %}
                            {% trans "View" %}
                        {% else %}
                            {% trans "Unsubscribe" %}
                        {% endif %}
                    {% else %}
                        {% if object.recurrence_unit == None %}
                            {% trans "Buy" %}
                        {% else %} 
                            {% if request.user|has_valid_subscription_in_category:object.category %}
                                {% trans "Switch to" %}
                            {% else %}
                                {% trans "Subscribe" %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
