{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% load astrobin_apps_premium_tags %}

{% block title %}{% trans "Subscription plan" %}: {% trans object.name %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Subscription plans' 'subscription_list' %}
    {% breadcrumb object.name None %}
{% endblock %}

{% block content %}
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
        <div class="subtitle">
            <i class="icon icon-info-sign"></i>
            {% trans "Status" %}:

            {% if usersubscription %}
                {% if usersubscription.valid %}
                    <span class="label label-success">
                        {% trans "Subscribed" %}
                    </span>
                    ({% trans "Expires" %}: {{usersubscription.expires|date:"SHORT_DATE_FORMAT"}})
                {% else %}
                    <span class="label label-warning">
                        {% trans "Invalid" %}
                    </span>
                {% endif %} <!-- valid -->

                {% if usersubscription.expired %}
                    <span class="label label-warning">
                        {% trans "Expired" %}
                    </span>
                {% endif %}

                {% if usersubscription.cancelled and object.recurrence_unit %}
                    <span class="label label-info">
                        {% trans "Cancelled" %}
                    </span>
                {% endif %}
            {% else %}
                {% if change_denied_reasons %}
                    <span class="label label-warning">
                        {% trans "Unavailable" %}
                    </span>
                {% else %}
                    <span class="label label-warning">
                        {% trans "Unsubscribed" %}
                    </span>
                {% endif %}
            {% endif %} <!-- usersubscription defined -->
        </div>

        <div class="page-header">
            <h1>
                {% trans object.name %}
                <small>
                    <span class="price">
                    {% if object.price > 0 %}
                        {{ object.currency }} {{ object.price }} /

                        {% if object.recurrence_unit == 'D' %}
                            {% trans "day" %}
                        {% endif %}

                        {% if object.recurrence_unit == 'W' %}
                            {% trans "week" %}
                        {% endif %}

                        {% if object.recurrence_unit == 'M' %}
                            {% trans "month" %}
                        {% endif %}

                        {% if object.recurrence_unit == 'Y' %}
                            {% trans "year" %}
                        {% endif %}

                        {% if object.recurrence_unit == None %}
                            {% trans "one time" %}
                        {% endif %}

                        {% with subscription=object %}
                            {% include "./_currency_conversion.html" %}
                        {% endwith %}
                    {% else %}
                        {% trans "Free" context "At no cost" %}
                    {% endif %}
                    </span>
                </small>
            </h1>
        </div>

        {% if not object|is_subscription_offered %}
        <div class="alert alert-error">
            {% url 'subscription_list' as url %}
            {% blocktrans %}This subscription is not offered anymore on AstroBin. Please visit the <a href="{{url}}">subscriptions page</a> to see the available plans, thanks!{% endblocktrans %}
        </div>
        {% endif %}

        {% if usersubscription|show_renew_message %}
            <div class="alert alert-info">
                <em>
                    {% blocktrans %}If you would like to renew your subscription, please visit this page again after
                        your current subscription's expiration date:{% endblocktrans %}
                    <strong>{{ usersubscription.expires|date:"SHORT_DATE_FORMAT" }}</strong>.
                </em>
            </div>
        {% endif %}


        {% comment %} Cancelled subscription {% endcomment %}
        {% if usersubscription and usersubscription.cancelled and object.recurrence_unit %}
            <div class="alert alert-warning">
                <h4>
                    <i class="icon icon-warning-sign"></i>
                    {% trans "Warning!" %}
                </h4>

                <p>
                    {% blocktrans %}Your subscription is either cancelled or not active yet. If you want to subscribe again, please wait until your subscription is expired. If you just subscribed, please wait a few minutes while PayPal contacts our server for the final transaction confirmation. Thank you!{% endblocktrans %}
                </p>
            </div>
        {% endif %}


        {% comment %} Not cancelled subscription {% endcomment %}
        {% if usersubscription and not usersubscription.cancelled and object.recurrence_unit %}
            {% if 'premium' in object.category %}
                <div class="alert alert-warning">
                    <h4>
                        <i class="icon icon-warning-sign"></i>
                        {% trans "Warning!" %}
                    </h4>

                    <p>
                        {% trans "By cancelling, you will revert to a free plan." %}
                        {% blocktrans with max_allowed=PREMIUM_MAX_IMAGES_FREE %}Free plans are limited to <strong>{{max_allowed}}</strong> images.{% endblocktrans %}
                        {% blocktrans %}However, your existing images will not be deleted or deactivated in any way! Simply, you will not be able to upload any more images unless you switch to a paid plan.{% endblocktrans %}
                    </p>
                </div>
            {% endif %} <!-- if premium -->

            <div class="well text-center">
                <a href="{{cancel_url}}">
                    <img src="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_LG.gif"
                    alt="{% trans "Cancel via PayPal" %}"/>
                </a>
            </div>
        {% endif %}

        {% comment %} Invalid subscription {% endcomment %}
        {% if usersubscription and not usersubscription.valid and object|is_subscription_offered %}
            {% include 'subscription/_paypal_form.html' %}
        {% endif %}

        {% comment %} Missing subscription {% endcomment %}
        {% if not usersubscription and object|is_subscription_offered %}
            {% if change_denied_reasons %}
                <div class="alert alert-error">
                    <h4 class="alert-heading">
                        <i class="icon-fire"></i>
                        {% trans "You cannot switch to this plan." %}
                    </h4>
                    <ul class="unstyled">
                        {% for reason in change_denied_reasons %}
                            <li>{{reason}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %} <!-- usersubscription unavailable and no known reason -->
                {% if form %}
                    {% include 'subscription/_paypal_form.html' %}
                {% endif %} <!-- if form -->
            {% endif %} <!-- if change_denied_reasons -->
        {% endif %}

        <a class="btn btn-secondary btn-block-mobile" href="{% url 'subscription_list' %}">
            {% trans "Back to the plans" %}
        </a>
    {% endif %} {# READONLY #}
{% endblock %}

{% block extra_js %}
    {% include "subscription/_currency_conversion_js.html" %}
{% endblock %}
