{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load tags %}
{% load astrobin_apps_premium_tags %}

{% block title %}{% trans "Subscription plans" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Subscription plans' None %}
{% endblock %}

{% block content %}
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
        <h1>{% trans "Subscription plans" %}</h1>
        {% if PREMIUM_ENABLED %}
            <div class="row subscription-plans-overview">
                <div class="span4 lite">
                    {% include "subscription/_lite_summary.html" %}
                </div>

                <div class="span4 premium">
                    {% include "subscription/_premium_summary.html" %}
                </div>

                <div class="span4 ultimate">
                    {% include "subscription/_ultimate_summary.html" %}
                </div>

            </div>

            <div class="subscription-plans-features">
                {% include "subscription/_features_comparison.html" %}
            </div> <!-- well -->
        {% endif %}

        {% if request.user|valid_subscriptions %}
            <div class="well">
                <h2>{% trans "Your active subscription plans" %}</h2>
                {% with object_list=request.user|valid_subscriptions subscription_category='any' %}
                    {% include 'subscription/subscription_category_list.html' %}
                {% endwith %}
            </div>
        {% endif %}

        {% if request.user|inactive_subscriptions %}
            <div class="well">
                <h2>{% trans "Your inactive subscription plans" %}</h2>
                {% with object_list=request.user|inactive_subscriptions subscription_category='any' %}
                    {% include 'subscription/subscription_category_list.html' %}
                {% endwith %}
            </div>
        {% endif %}

        <div style="text-align:center">
            <div class="thankyou">
                {% blocktrans %}Thank you for supporting AstroBin!{% endblocktrans %}
            </div>
            {% blocktrans %}PS: are you interested in larger plans?
                <a href="/contact/">Let us know!</a>{% endblocktrans %}
        </div>
    {% endif %} {# READONLY #}
{% endblock %}

{% block extra_js %}
    {% include "subscription/_currency_conversion_js.html" %}
{% endblock %}
