{% load tags %}
{% load i18n %}

<table class="table group-list">
    <thead>
        <th class="group-membership"></th>
        <th class="group-name">{% trans "Name" %}</th>
        <th class="group-category hidden-phone hidden-tablet">{% trans "Category" %}</th>
        <th class="group-last-activity hidden-phone hidden-tablet">{% trans "Last activity" %}</th>
        <th class="group-members hidden-phone">{% trans "Members" %}</th>
        <th class="group-images hidden-phone">{% trans "Images" %}</th>
        <th class="group-forum-posts hidden-phone">{% trans "Forum posts" %}</th>
    </thead>
    <tbody>
        {% for group in groups %}
            <tr>
                <td class="group-membership">
                    {% if request.user == group.owner %}
                        <i class="icon icon-fixed-width icon-certificate" rel="tooltip" title="{% trans "Owner" %}"></i>
                    {% endif %}

                    {% if request.user != group.owner and request.user in group.moderators.all %}
                        <i class="icon icon-fixed-width icon-legal" rel="tooltip" title="{% trans "Moderator" %}"></i>
                    {% endif %}

                    {% if request.user != group.owner and request.user not in group.moderators.all and request.user in group.members.all %}
                        <i class="icon icon-fixed-width icon-user" rel="tooltip" title="{% trans "Member" %}"></i>
                    {% endif %}

                    {% if request.user != group.owner and request.user not in group.members.all and request.user in group.invited_users.all %}
                        <i class="icon icon-fixed-width icon-exclamation" rel="tooltip" title="{% trans "Invited" %}"></i>
                    {% endif %}

                    {% if request.user != group.owner and request.user not in group.members.all and request.user in group.join_requests.all %}
                        <i class="icon icon-fixed-width icon-question" rel="tooltip" title="{% trans "Join request pending approval" %}"></i>
                    {% endif %}
                </td>
                <td class="group-name"><a href="{% url 'group_detail' group.pk %}">{{group.name}}</a></td>
                <td class="group-category hidden-phone hidden-tablet">{{group.category_humanized}}</td>
                <td class="group-last-activity hidden-phone hidden-tablet">
                    <abbr class="timeago" title="{{group.date_updated|to_user_timezone:request.user|date:'Y-m-d\TH:i:s'}}"></abbr>
                </td>
                <td class="group-members hidden-phone">{{group.members_count}}</td>
                <td class="group-images hidden-phone">{{group.images_count}}</td>
                <td class="group-forum-posts hidden-phone">{{group.forum.post_count}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
