{% load tags %}
{% load i18n %}
{% load common_tags %}
{% load el_pagination_tags %}


{% lazy_paginate 25 groups using "page" %}

<table class="table group-list">
    <thead>
        <th class="group-membership"></th>
        <th class="group-name">
            <a href="{% url 'group_list' %}?q={{ request.GET.q }}&sort=name">
                {% trans "Name" %}
                {% if request.GET.sort == 'name' %}
                    <i class="icon-sort-down"></i>
                {% endif %}
            </a>
        </th>
        <th class="group-category hidden-phone hidden-tablet">
            <a href="{% url 'group_list' %}?q={{ request.GET.q }}&sort=category">
                {% trans "Category" %}
                {% if request.GET.sort == 'category' %}
                    <i class="icon-sort-down"></i>
                {% endif %}
            </a>
        </th>
        <th class="group-last-activity hidden-phone hidden-tablet">
            <a href="{% url 'group_list' %}?q={{ request.GET.q }}&sort=activity">
                {% trans "Last activity" %}
                {% if request.GET.sort == 'activity' or request.GET.sort is None %}
                    <i class="icon-sort-down"></i>
                {% endif %}
            </a>
        </th>
        <th class="group-last-activity hidden-phone hidden-tablet">
            <a href="{% url 'group_list' %}?q={{ request.GET.q }}&sort=created">
                {% trans "Date created" %}
                {% if request.GET.sort == 'created' %}
                    <i class="icon-sort-down"></i>
                {% endif %}
            </a>
        </th>
        <th class="group-members hidden-phone">
            <a href="{% url 'group_list' %}?q={{ request.GET.q }}&sort=members">
                {% trans "Members" %}
                {% if request.GET.sort == 'members' %}
                    <i class="icon-sort-down"></i>
                {% endif %}
            </a>
        </th>

        <th class="group-images hidden-phone">
            <a href="{% url 'group_list' %}?q={{ request.GET.q }}&sort=images">
                {% trans "Images" %}
                {% if request.GET.sort == 'images' %}
                    <i class="icon-sort-down"></i>
                {% endif %}
            </a>
        </th>

        <th class="group-forum-posts hidden-phone">
            <a href="{% url 'group_list' %}?q={{ request.GET.q }}&sort=posts">
                {% trans "Forum posts" %}
                {% if request.GET.sort == 'posts' %}
                    <i class="icon-sort-down"></i>
                {% endif %}
            </a>
        </th>
    </thead>
    <tbody>
        {% for group in groups %}
            <tr>
                <td class="group-membership">
                    {% if request.user == group.owner %}
                        <i class="icon icon-fixed-width icon-certificate" rel="tooltip" title="{% trans "Owner" %}"></i>
                    {% endif %}

                    {% if request.user != group.owner and request.user in group.moderators.all %}
                        <i class="icon icon-fixed-width icon-legal" rel="tooltip" title="{% trans "Moderator" %}"></i>
                    {% endif %}

                    {% if request.user != group.owner and request.user not in group.moderators.all and request.user in group.members.all %}
                        <i class="icon icon-fixed-width icon-user" rel="tooltip" title="{% trans "Member" %}"></i>
                    {% endif %}

                    {% if request.user != group.owner and request.user not in group.members.all and request.user in group.invited_users.all %}
                        <i class="icon icon-fixed-width icon-exclamation" rel="tooltip" title="{% trans "Invited" %}"></i>
                    {% endif %}

                    {% if request.user != group.owner and request.user not in group.members.all and request.user in group.join_requests.all %}
                        <i class="icon icon-fixed-width icon-question" rel="tooltip" title="{% trans "Join request pending approval" %}"></i>
                    {% endif %}
                </td>
                <td class="group-name"><a href="{% url 'group_detail' group.pk group.slug %}">{{group.name}}</a></td>
                <td class="group-category hidden-phone hidden-tablet">{{group.category_humanized}}</td>
                <td class="group-last-activity hidden-phone hidden-tablet">{% timestamp group.date_updated %}</td>
                <td class="group-last-activity hidden-phone hidden-tablet">{% timestamp group.date_created %}</td>
                <td class="group-members hidden-phone">{{group.members_count}}</td>
                <td class="group-images hidden-phone">{{group.images_count}}</td>
                <td class="group-forum-posts hidden-phone">{{group.forum.post_count}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination pagination-centered">
    {% show_pages %}
</div>
