{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    {% trans "Create new group" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Explore' None %}
    {% breadcrumb 'Groups' 'group_list' %}
    {% breadcrumb 'Create' None %}
{% endblock %}

{% block content %}
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
        <form class="form-horizontal" action="" method="post">{% csrf_token %}
            {{form|as_bootstrap}}
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" value="{% trans "Create new group" %}"/>
                <a class="btn" href="{% url 'group_list' %}">{% trans "Cancel" %}</a>
            </div>
        </form>
    {% endif %}
{% endblock %}
