{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap_toolkit %}

{% block title %}
    {% trans "Create new group" %}
{% endblock %}

{% block content %}
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            <li>
                <a href="{% url 'group_list' %}">
                    <i class="icon icon-arrow-left"></i>
                    {% trans "Back to list" %}
                </a>
            </li>
        </ul> <!-- nav -->
    </div> <!-- subnav -->

    <h1>{% trans "Create new group" %}</h1>

    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        {{form|as_bootstrap}}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{% trans "Create new group" %}"/>
            <a class="btn" href="{% url 'group_list' %}">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock %}
