{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block title %}
    {% trans "Edit group" %}
{% endblock %}

{% block content %}
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            <li>
                <a href="{% url 'group_detail' object.pk %}">
                    <i class="icon icon-arrow-left"></i>
                    {% trans "Back to group" %}
                </a>
            </li>
        </ul> <!-- nav -->
    </div> <!-- subnav -->

    <h1>{% trans "Edit group" %}</h1>

    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        {{form|as_bootstrap}}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{% trans "Save" %}"/>
        </div>
    </form>
{% endblock %}
