{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load astrobin_apps_images_tags %}
{% load static %}

{% block title %}
    {% trans "Add/remove images" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Explore' None %}
    {% breadcrumb 'Groups' 'group_list' %}
    {% breadcrumb group.name 'group_detail' group.pk %}
    {% breadcrumb 'Add/Remove images' None %}
{% endblock %}

{% block content %}
    <div class="subtitle">
        <i class="icon icon-info-sign"></i>
        {% trans "Click on the images to include them in this group (and click again to exclude them). Then click on the Save button down below." %}
    </div>

    <div class="group-add-remove-images">
        <ul class="astrobin-thumbnails">
            {% for image in images %}
                <li class="thumbnail astrobin-thumbnail top-title">
                    <a href="#">
                        {% astrobin_image image 'gallery' link=False tooltip=False %}
                        <div class="image-title">
                            {{image.title|escape|default:_("(no title)")}}
                        </div>
                        <div
                            {% if image.pk in images_pk_in_group %}
                                class="added-thumbnail-overlay added" style="visibility:visible"
                            {% else %}
                                class="added-thumbnail-overlay" style="visibility:hidden"
                            {% endif %}>
                            <span>&#x2714;</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <hr/>
        <div class="text-right">
            <span class="loading hide"><img src="{% static 'astrobin/images/ajax-loader.gif' %}" alt=""/></span>
            <a href="#" id="save-button" class="btn btn-primary">
                {% trans "Save" %} &rarr;
            </a>
            <a href="{% url 'group_detail' object.pk %}" class="btn">
                {% trans "Cancel" %}
            </a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            window.astrobinGroupAddRemoveNumberAdded = 0;
            $('.astrobin-thumbnail a').click(function(e) {
                e.preventDefault();

                let $added = $(this).find('.added-thumbnail-overlay');
                if ($added.length === 0) {
                    $added = $(this).parent('.astrobin-image-container').siblings('.added-thumbnail-overlay')
                }

                if (window.astrobinGroupAddRemoveNumberAdded === 100 && !$added.hasClass('added')) {
                    alert('{{ _("Please don't add more than 100 images in one go, thanks!") | escapejs }}');
                    return;
                }

                $added.toggleClass('added');
                if ($added.css('visibility') === 'hidden') {
                    $added.css('visibility', 'visible');
                    window.astrobinGroupAddRemoveNumberAdded++;
                } else {
                    $added.css('visibility', 'hidden');
                    window.astrobinGroupAddRemoveNumberAdded--;
                }
            });

            $('#save-button').click(function(e) {
                let $btn, added_ids;

                e.preventDefault();

                $btn = $(this);
                $btn.addClass('disabled');
                $btn.siblings('.loading').removeClass('hide');

                added_ids = $('.astrobin-thumbnails .added')
                    .siblings('.astrobin-image-container')
                    .find('img')
                    .map(function()
                {
                    return $(this).data('id');
                }).get();

                $.ajax({
                    url: '{% url 'group_add_remove_images' object.pk %}',
                    type: 'POST',
                    cache: false,
                    timeout: 10000,
                    data: {images: added_ids},
                    dataType: 'json'
                }).done(function() {
                    location = "{% url 'group_detail' object.pk %}";
                });
            });
        });
    </script>
{% endblock %}
