{% extends 'base.html' %}

{% load avatar_tags %}
{% load i18n %}

{% block title %}{{object.name}}{% endblock %}

{% block content %}
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-bolt icon-white"></i>
                    {% trans "Actions" %}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% ifequal request.user object.owner %}
                    <li>
                        <a href="{% url 'group_manage_members' object.pk %}">
                            <i class="icon-group"></i>
                            {% trans "Manage members" %}
                        </a>
                    </li>
                    {% endifequal %}
                </ul>
            </li>
        </ul> <!-- nav -->
    </div> <!-- subnav -->

    <h1>
        {{object.name}}
        <small>
            {% if object.public %}
                {% trans "A public group" %}
            {% else %}
                {% trans "A private group" %}
            {% endif %}
        </small>
    </h1>

    <div class="subtle-container group-members-container">
        <div class="header">
            <h4>
                <i class="icon-group"></i>
                {% blocktrans with amount=object.members.all.count|add:1 count counter=object.members.all.count|add:1 %}{{amount}} member{% plural %}{{amount}} members{% endblocktrans %}
                {% if object.members.all.count > 129 %}
                    <a  href="#"> <!-- TODO -->
                        {% trans "View all" %}
                    </a>
                {% endif %}
            </h4>
        </div>

        <ul>
            <li>
                <a href="{% url 'user_page' object.owner.username %}">
                    {% avatar object.owner 36 %}
                </a>
            </li>

            {% for member in object.members.all|slice:":129" %}
                <li>
                    <a href="{% url 'user_page' member.username %}">
                        {% avatar member 36 %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
