{% load i18n %}
{% load endless %}
{% load astrobin_apps_groups_tags %}

{% lazy_paginate 50 object.members.all as members %}

{% for user in members %}
    <tr>
        <td class="member-name">
            <a href="{% url 'user_page' user %}">
                {{user.userprofile}}
            </a>
        </td>
        <td class="member-images-count">{{user | count_images_in_group:object}}</td>
        <td class="member-posts-count">{{user | count_forum_posts_in_group:object}}</td>
    </tr>
{% empty %}
    <tr>
        <td colspan="3" class="empty-table">
            {% trans "This group has no members." %}
        </td>
    </tr>
{% endfor %}

<tr class="pagination">
    <td colspan="3">
        {% show_pages %}
    </td>
</tr>
