{% load i18n %}
{% load el_pagination_tags %}
{% load astrobin_apps_groups_tags %}
{% load astrobin_apps_users_tags %}


{% for user in members %}
    <tr>
        <td class="member-name">{% astrobin_username user %}</td>
        <td class="member-images-count">{{user | count_images_in_group:object}}</td>
        <td class="member-posts-count">{{user | count_forum_posts_in_group:object}}</td>
    </tr>
{% empty %}
    <tr>
        <td colspan="3" class="empty-table">
            {% trans "This group has no members." %}
        </td>
    </tr>
{% endfor %}
