{% extends 'base.html' %}

{% load bootstrap_toolkit %}
{% load i18n %}
{% load astrobin_apps_groups_tags %}

{% block title %}{{object.name}}{% endblock %}

{% block content %}
    <h1>
        {{object.name}}
        <small>
            {% trans "Manage members" %}
        </small>
    </h1>

    <form id="invite-form" class="form-horizontal" method="post" action="{% url 'group_invite' object.pk %}">
        {% csrf_token %}
        {{form|as_bootstrap}}
        <div class="form-actions">
            <button class="btn btn-primary">
                {% trans "Invite users" %}
            </button>
        </div>
    </form>

    <h2>{% trans "Invited users" %}</h2>
    <table class="table invited-users">
        <thead>
            <th>Name</th>
            <th>Revoke?</th>
        </thead>
        <tbody>
            {% for user in object.invited_users.all %}
                <tr>
                    <td>
                        <a href="{% url 'user_page' user.username %}">
                            {{user.userprofile}}
                        </a>
                    </td>
                    <td>
                        <button
                            class="revoke-invitation btn btn-mini"
                            data-user="{{user.username}}"
                            data-url="{% url 'group_revoke_invitation' object.pk %}">
                            &times;
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="empty-table" colspan="2">{% trans "This group has no active invitations." %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>{% trans "Members" %}</h2>
    {% if object.members.all %}
    {% else %}
        {% trans "This group has no members." %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            var parameters = {
                classes: {
                    tokenList: "token-input-list",
                    token: "token-input-token btn btn-primary",
                    tokenDelete: "token-input-delete-token",
                    selectedToken: "token-input-selected-token",
                    highlightedToken: "token-input-highlighted-token",
                    dropdown: "token-input-dropdown",
                    dropdownItem: "token-input-dropdown-item",
                    dropdownItem2: "token-input-dropdown-item2",
                    selectedDropdownItem: "token-input-selected-dropdown-item",
                    inputToken: "token-input-input-token"
                },
                hintText: "{% trans "Type in a search term" %}",
                noResultsText: "{% trans "No results" %}",
                searchingText: "{% trans "Searching" %}...",
                queryParam: "term",
                propertyToSearch: "display_name"
            };

            $("#id_invite_users").tokenInput(
                "{% url 'astrobin_apps_users.user_search_ajax' %}?format=json",
                parameters);

            $("#invite-form button").click(function(e) {
                e.preventDefault();

                var $btn = $(this),
                    $form = $(this).parents('form'),
                    $input = $form.find('input#id_invite_users'),
                    users = $input.val();

                if (users !== "") {
                    $btn.prop('disabled', true);

                    $.ajax({
                        url: $form.attr('action'),
                        type: 'POST',
                        cache: false,
                        timeout: 10000,
                        data: {'users[]': users.split(',')},
                        dataType: 'json'
                    }).done(function(data) {
                        var $table, $row, i, users;

                        $input.tokenInput("clear");

                        $table = $('table.invited-users');
                        users = data.invited_users

                        $table.find('tbody tr').remove();
                        for (i = 0; i < users.length; i++) {
                            $row = $(
                                '<tr>' +
                                    '<td>' +
                                        '<a href="' + users[i].url + '">' + users[i].display_name + '</a>' +
                                    '</td>' +
                                    '<td>' +
                                        '<button ' +
                                            'class="revoke-invitation btn btn-mini" ' +
                                            'data-user="' + users[i].username + '" ' +
                                            'data-url="' + users[i].revoke_url + '">' +
                                            '&times;' +
                                         '</button>' +
                                     '</td>' +
                                '</tr>')
                            $table.find('tbody').append($row);
                        }

                        $btn.prop('disabled', false);
                    });
                }
            });

            $("button.revoke-invitation").live('click', function(e) {
                e.preventDefault();

                var $button = $(this),
                    user = $button.data('user'),
                    $row = $button.parents('tr'),
                    $table = $row.parents('table');

                $.ajax({
                    url: $button.data('url'),
                    type: 'POST',
                    cache: false,
                    timeout: 10000,
                    data: {'user': user},
                    dataType: 'json'
                }).done(function(data) {
                    $row.remove();
                    if ($table.find('tbody tr').length === 0) {
                        $table.find('tbody').append(
                                $('<tr>' +
                                       '<td class="empty-table" colspan="2">' +
                                            '{% trans "This group has no active invitations." %}' +
                                       '</td>' +
                                  '</tr>')
                        );
                    }
                });
            });
        });
    </script>
{% endblock %}
