{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    {% trans "Edit group" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Explore' None %}
    {% breadcrumb 'Groups' 'group_list' %}
    {% breadcrumb group.name 'group_detail' group.pk %}
    {% breadcrumb 'Edit' None %}
{% endblock %}

{% block content %}
    <form id="group-update-form" class="form-horizontal" action="" method="post">{% csrf_token %}
        {{form|as_bootstrap}}
        <div class="form-actions">
            <input class="btn btn-primary btn-block-mobile" type="submit" value="{% trans "Save" %}"/>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    {{block.super}}

    {% if object.images.count > 0 and object.autosubmission %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('input#id_autosubmission').change(function() {
                    var $control_group = $('form#group-update-form select#id_autosubmission_deactivation_strategy').closest('.control-group');
                    if (!$(this).is(':checked')) {
                        $control_group.show();
                    } else {
                        $control_group.hide();
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
