{% extends 'base.html' %}

{% load i18n %}
{% load common_tags %}

{% block title %}
    {% trans "Delete group?" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Delete group?" %}</h1>

    <div class="alert alert-danger">
        {% trans "Careful! Do you really want to delete this group? This operation cannot be undone!" %}
    </div>

    <form class="form-horizontal" action="" method="post">{% csrf_token %}
        <div class="form-actions">
            <button class="btn btn-primary {% button_loading_class %}" type="submit">
                {% button_loading_indicator %}
                {% trans "Delete group" %}
            </button>
        </div>
    </form>
{% endblock %}
