{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load astrobin_apps_groups_tags %}

{% block title %}{% trans "Groups" %}{% endblock %}
{% block container_extra_classes %}has-subnav{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Explore' None %}
    {% breadcrumb 'Groups' None %}
{% endblock %}

{% block content %}
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-bolt icon-white"></i>
                    <span class="hidden-phone">{% trans "Actions" %}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a
                                {% if request.user|has_access_to_premium_group_features %}
                                    href="{% url 'group_create' %}"
                                {% else %}
                                    href="#feature-restricted-modal" data-toggle="modal"
                                {% endif %}
                        >
                            <i class="icon-plus-sign"></i>
                            {% trans "Create new group" %}
                        </a>
                    </li>
                </ul>
            </li>

            <li class="dropdown hidden-phone hidden-tablet">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-bolt icon-sort-by-attributes-alt"></i>
                    {% trans "Sort" %}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'group_list' %}?sort=name">
                            <i class="icon icon-sort-by-alphabet"></i>
                            {% trans "Name" %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'group_list' %}?sort=category">
                            <i class="icon icon-folder-open-alt"></i>
                            {% trans "Category" %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'group_list' %}?sort=activity">
                            <i class="icon icon-bolt"></i>
                            {% trans "Last activity" %}
                        </a>
                    </li>


                    <li>
                        <a href="{% url 'group_list' %}?sort=created">
                            <i class="icon icon-calendar"></i>
                            {% trans "Date created" %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'group_list' %}?sort=posts">
                            <i class="icon icon-comments-alt"></i>
                            {% trans "Forum posts" %}
                        </a>
                    </li>
                </ul>
            </li>
        </ul> <!-- nav -->
    </div> <!-- subnav -->

    {% if private_groups %}
        <div class="group-list">
            <div class="row header">
                <div class="span9">
                    <h1>
                        {% trans "Your private groups" %}
                        <small>
                            {% trans "You own, or are a member of, or were invited to, these private groups." %}
                        </small>
                    </h1>
                </div>
                <div class="span3 text-right hidden-phone">
                    <a
                            {% if request.user|has_access_to_premium_group_features %}
                                href="{% url 'group_create' %}"
                            {% else %}
                                href="#feature-restricted-modal" data-toggle="modal"
                            {% endif %}
                            class="btn btn-primary btn-large create-group">
                        <i class="icon icon-plus-sign"></i>
                        {% trans "Create private group" context "group" %}
                    </a>
                </div>
            </div>

            {% with private_groups as groups %}
                {% include 'astrobin_apps_groups/_group_list_table.html' %}
            {% endwith %}
        </div>
    {% endif %}

    {% if public_groups %}
        <div class="group-list">
            <div class="row">
                <div class="span9">
                    <h1>
                        {% trans "Public groups" %}
                        <small>
                            {% trans "Open to the whole community." %}
                        </small>
                    </h1>
                </div>
                <div class="span3 text-right hidden-phone">
                    <a
                            {% if request.user|has_access_to_premium_group_features %}
                                href="{% url 'group_create' %}?public=True"
                            {% else %}
                                href="#feature-restricted-modal" data-toggle="modal"
                            {% endif %}
                            class="btn btn-primary btn-large create-group">
                        <i class="icon icon-plus-sign"></i>
                        {% trans "Create public group" context "group" %}
                    </a>
                </div>
            </div>

            {% with public_groups as groups %}
                {% include 'astrobin_apps_groups/_group_list_table.html' %}
            {% endwith %}
        </div>
    {% endif %}

    {% if not object_list %}
        <p>{% trans "No groups available." %}</p>
    {% endif %}
{% endblock %}
