{% extends 'base.html' %}

{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% load astrobin_apps_users_tags %}

{% block title %}{{object.name}}: {% trans "Moderate join requests" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Explore' None %}
    {% breadcrumb 'Groups' 'group_list' %}
    {% breadcrumb group.name 'group_detail' group.pk %}
    {% breadcrumb 'Moderate join requests' None %}
{% endblock %}

{% block content %}
    <table class="table table-striped requesting-users">
        <thead>
            <tr>
                <th class="user">{% trans "Name" %}</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in object.join_requests.all %}
                <tr>
                    <td class="user">{% astrobin_username user %}</td>
                    <td class="actions">
                        <a
                            href="#"
                            class="handle-request btn"
                            data-user="{{user.pk}}"
                            data-url="{% url 'group_approve_join_request' object.pk %}">
                            <i class="icon icon-thumbs-up"></i>
                            {% trans "Approve" %}
                        </a>

                        <a
                            href="#"
                            class="handle-request btn"
                            data-user="{{user.pk}}"
                            data-url="{% url 'group_reject_join_request' object.pk %}">
                            <i class="icon icon-thumbs-down"></i>
                            {% trans "Reject" %}
                        </a>

                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="empty-table" colspan="2">{% trans "This group has no join requests." %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.handle-request").live('click', function(e) {
                e.preventDefault();

                var $button = $(this),
                    user = $button.data('user'),
                    $row = $button.parents('tr'),
                    $table = $row.parents('table');

                $.ajax({
                    url: $button.data('url'),
                    type: 'POST',
                    cache: false,
                    timeout: 10000,
                    data: {'user': user},
                    dataType: 'json'
                }).done(function(data) {
                    $row.remove();
                    if ($table.find('tbody tr').length === 0) {
                        $table.find('tbody').append(
                                $('<tr>' +
                                       '<td class="empty-table" colspan="2">' +
                                            '{{ _("This group has no join requests.") | escapejs }}' +
                                       '</td>' +
                                  '</tr>')
                        );
                    }
                });
            });
        });
    </script>
{% endblock %}
