{% extends 'base.html' %}

{% load avatar_tags %}
{% load i18n %}
{% load tags %}
{% load pybb_tags %}
{% load sanitizer %}
{% load django_bootstrap_breadcrumbs %}
{% load astrobin_apps_groups_tags %}

{% block title %}{{object.name}}{% endblock %}
{% block container_extra_classes %}has-subnav{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Explore' None %}
    {% breadcrumb 'Groups' 'group_list' %}
    {% breadcrumb object.name|escape|safe None %}
{% endblock %}

{% block content %}
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            {% if request.user == object.owner or request.user.is_superuser %}
            <li class="dropdown">
                {% if READONLY_MODE %}
                <a data-toggle="modal" href="#readonly-mode-modal">
                    <i class="icon-legal icon-white"></i>
                    <span class="hidden-phone">{% trans "Admin" %}</span>
                </a>
                {% else %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-legal icon-white"></i>
                    <span class="hidden-phone">{% trans "Admin" %}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'group_update' object.pk %}">
                            <i class="icon-edit"></i>
                            {% trans "Edit group" %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'group_manage_members' object.pk %}">
                            <i class="icon-group"></i>
                            {% trans "Manage members" %}
                        </a>
                    </li>

                    <li>
                        <a href="#delete-modal" data-toggle="modal" class="danger">
                            <i class="icon-trash"></i>
                            {% trans "Delete group" %}
                        </a>
                    </li>
                </ul>
                {% endif %} {# READONLY #}
            </li>
            {% endif %} {# owner or superuser #}

            <li class="dropdown">
                {% if READONLY_MODE %}
                <a data-toggle="modal" href="#readonly-mode-modal">
                    <i class="icon-bolt icon-white"></i>
                    <span class="hidden-phone">{% trans "Actions" %}</span>
                </a>
                {% else %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-bolt icon-white"></i>
                    <span class="hidden-phone">{% trans "Actions" %}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% if not user_is_member %}
                        <li>
                            <a
                                    {% if request.user|has_access_to_premium_group_features %}
                                        href="#join-modal"
                                    {% else %}
                                        href="#feature-restricted-modal"
                                    {% endif %}
                                    data-toggle="modal"
                            >
                                <i class="icon icon-signin"></i>
                                {% trans "Join group" %}
                            </a>
                        </li>
                    {% endif %}

                    {% if user_is_member and not object.autosubmission %}
                    <li>
                        <a href="{% url 'group_add_remove_images' object.pk %}">
                            <i class="icon-plus-sign"></i>
                            {% trans "Add/remove images" %}
                        </a>
                    </li>
                    {% endif %}

                    {% if user_is_member %}
                        <li>
                            <a href="#leave-modal" data-toggle="modal" class="danger">
                                <i class="icon icon-signout"></i>
                                {% trans "Leave group" %}
                            </a>
                        </li>
                    {% endif %}

                    {% if group.moderated and user_is_moderator %}
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'group_moderate_join_requests' object.pk %}">
                                <i class="icon icon-user"></i>
                                {% trans "Moderate join requests" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
                {% endif %} {# READONLY #}
            </li>

            <li class="group-info pull-right">
                <a href="">
                    {% if object.public %}
                        <i class="icon-unlock" rel="tooltip" data-placement="bottom" title="{% trans "This group is public" %}"></i>
                    {% else %}
                        <i class="icon-lock icon-inactive" rel="tooltip" data-placement="bottom" title="{% trans "This group is private" %}"></i>
                    {% endif %}

                    {% if object.moderated %}
                        <i class="icon-legal" rel="tooltip" data-placement="bottom" title="{% trans "This group is moderated" %}"></i>
                    {% else %}
                        <i class="icon-legal icon-inactive" rel="tooltip" data-placement="bottom" title="{% trans "This group is not moderated" %}"></i>
                    {% endif %}

                    {% if object.autosubmission %}
                        <i class="icon-upload-alt" rel="tooltip" data-placement="bottom" title="{% trans "This group has automatic submission" %}"></i>
                    {% else %}
                        <i class="icon-upload-alt icon-inactive" rel="tooltip" data-placement="bottom" title="{% trans "This group does not have automatic submission" %}"></i>
                    {% endif %}
                </a>
            </li>

            <li class="group-info pull-right hidden-phone">
                <a
                    href="{% url 'group_members_list' object.pk %}"
                    class="group-info-members"
                    rel="tooltip" data-placement="bottom"
                    title="{% trans "Members" %}">
                    {{object.members.count}}
                </a>
            </li>

            {% if request.user == group.owner %}
            <li class="group-info pull-right hidden-phone">
                <a
                    href="{% url 'group_manage_members' object.pk %}"
                    class="group-info-invited"
                    rel="tooltip" data-placement="bottom"
                    title="{% trans "Invited users" %}">
                    {{object.invited_users.count}}
                </a>
            </li>
            {% endif %}

            {% if group.moderated and user_is_moderator %}
            <li class="group-info pull-right hidden-phone">
                <a
                    href="{% url 'group_moderate_join_requests' object.pk %}"
                    class="group-info-join-requests"
                    rel="tooltip" data-placement="bottom"
                    title="{% trans "Join requests" %}">
                    {{object.join_requests.count}}
                </a>
            </li>
            {% endif %}

            <li class="group-info pull-right hidden-phone">
                <a href="" class="group-info-images" rel="tooltip" data-placement="bottom" title="{% trans "Images" %}">
                    {{object.images.count}}
                </a>
            </li>
        </ul>
    </div> <!-- subnav -->

    <div class="subtitle">
        <i class="icon icon-info-sign"></i>
        {% url 'user_page' object.owner.username as owner_url %}
        {% blocktrans with date_created=object.date_created|date:"SHORT_DATE_FORMAT" owner=object.owner.userprofile category=object.category_humanized %}A group created on {{date_created}}, owned by <a href="{{owner_url}}">{{owner}}</a>, categorized as <strong>{{category}}</strong>.{% endblocktrans %}
    </div>

    <div class="group-description">
        {{object.description|strip_html|safe|linebreaks}}
    </div>

    <div class="group-forum">
        <h2>
            {% trans "Group forum" %}
            <small>
                {% blocktrans with post_count=object.forum.post_count topic_count=object.forum.topic_count %}<strong>{{post_count}}</strong> posts in <strong>{{topic_count}}</strong> topics{% endblocktrans %}
            </small>
        </h2>
        {% if request.user in object.members.all %}
            {% with topic_list=topics forum=object.forum %}
                {% include 'pybb/topic_list.html' %}
            {% endwith %}
            <div class="group-forum-buttons">
                <a class="btn btn-primary" href="{% url 'pybb:forum' object.forum.id %}">{% trans "View all" %}</a>
                {% if request.user|pybb_may_create_topic:object.forum %}
                    <a class="btn btn-primary" href="{% url 'pybb:add_topic' object.forum.id %}">{% trans "New topic" %}</a>
                {% endif %}
            </div>
        {% else %}
            <div class="alert alert-warning">
                {% trans "Please join the group to view its forum." %}
            </div>
        {% endif %}
    </div>

    <div class="group-images">
        <h2>{% trans "Images" %}</h2>
        {% image_list image_list nav_ctx='group' nav_ctx_extra=object.pk %}
    </div>
{% endblock %}

{% block modals %}
    <div class="modal hide fade" id="delete-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{% trans "Delete group?" %}</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger">
                {% trans "Careful! Do you really want to delete this group? This operation cannot be undone and the group's forum and all its topics will be irreversibly deleted!" %}
            </div>

            <form class="form-inline" action="{% url 'group_delete' group.pk %}" method="post">{% csrf_token %}
                <input class="btn btn-danger" type="submit" value="{% trans "Delete group" %}"/>
            </form>
        </div>
    </div>

    <div class="modal hide fade" id="join-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{% trans "Join group?" %}</h3>
        </div>
        <div class="modal-body">
            <div class="well">
                <p>
                    {% if group.public %}
                        {% trans "This is a public group: all content, including the members list, is available to non-members." %}
                    {% else %}
                        {% trans "This is a private group: only members have access to its contents." %}
                    {% endif %}
                </p>
                <p>
                    {% if group.moderated %}
                        {% trans "This is a moderated group, join requests, images and forum posts might go through a moderation queue." %}
                    {% else %}
                        {% trans "This is a non-moderated group." %}
                    {% endif %}
                </p>
                <p>
                    {% if group.autosubmission %}
                        {% trans "This is an automatic submission group: all of your images will instantly appear here without any need for action." %}
                    {% else %}
                        {% trans "This is a non-automatic submission group: you will pick and choose which images you want to submit." %}
                    {% endif %}
                </p>
            </div>

            <form class="form-inline" action="{% url 'group_join' group.pk %}" method="post">{% csrf_token %}
                <input class="btn btn-primary" type="submit" value="{% trans "Join group" %}"/>
            </form>
        </div>
    </div>

    <div class="modal hide fade" id="leave-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{% trans "Leave group?" %}</h3>
        </div>
        <div class="modal-body">
            <div class="well">
            {% trans "By leaving this group, your image submissions will no longer be visible to group members, while your forum posts will remain. Are you sure?" %}
            </div>

            <form class="form-inline" action="{% url 'group_leave' group.pk %}" method="post">{% csrf_token %}
                <input class="btn btn-primary" type="submit" value="{% trans "Leave group" %}"/>
            </form>
        </div>
    </div>
{% endblock %}
