{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block content %}
    {% if 'plate_solving_started' in request.GET %}
    <div id="context_message">
        <img src="/static/icons/iconic/black/info_8x16.png" alt="{% trans "Info" %}" />
        <p>{% blocktrans %}Plate-solving has started in the background. It might take a while, so please don't request it again! You will be notified when the job has completed. Thanks!{% endblocktrans %}</p>
    </div>
    {% endif %}


    <a name="related_anchor"></a>
    <div id="image-detail">
        <div id="main-content">
            <ul class="bar">
                <li id="menu">
                    <ul class="topnav">
                        {% if request.user.is_authenticated %}
                        <li id="actions" class="first">
                            <span class="text"><a href="#">{% trans "Actions" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <noscript>
                                    <li style="padding-bottom: 12px;">
                                        <strong>
                                            {% blocktrans %}Sorry, but the items in this menu<br/>require Javascript, at this time.{% endblocktrans %}
                                        </strong>
                                    </li>
                                    </noscript>
                                {% if request.user == image.user %}
                                    <li class="first bg-icon icon-edit">
                                        <span class="text"><a href="{% url image_edit_basic image.id %}">{% trans "Edit basic information" %}</a></span>
                                    </li>
                                    <li class="bg-icon icon-edit-gear">
                                        <span class="text"><a href="{% url image_edit_gear image.id %}">{% trans "Edit gear used" %}</a></span>
                                    </li>
                                    <li class="bg-icon icon-edit-acquisition">
                                        <span class="text"><a href="{% url image_edit_acquisition image.id %}">{% trans "Edit acquisition details" %}</a></span>
                                    </li>
                                    <li class="bg-icon icon-upload">
                                        <span class="text"><a class="upload-revision" href="#">{% trans "Upload new revision" %}</a></span>
                                    </li>
                                    {% if not image.is_solved and not is_revision %}
                                    <li class="bg-icon icon-plate-solve">
                                        <span class="text"><a class="plate-solve" href="{% url image_edit_presolve image.id %}{% query_string "done_later=" "plate_solving_started" %}">{% trans "Plate-solve" %}</a></span>
                                    </li>
                                    {% endif %}
                                    <li class="bg-icon icon-delete">
                                        <span class="text"><a class="delete danger" href="{% url image_delete image.id %}">{% trans "Delete" %}</a></span>
                                    </li>
                                    <li class="separator"></li>
                                {% endif %}
                                    <li class="bg-icon icon-quote">
                                        <span class="text"><a class="bring-to-attention" href="#">{% trans "Bring to a user's attention" %}</a></span>
                                    </li>
                                {% if request.user != image.user %}
                                    <li class="bg-icon icon-info">
                                        <span class="text"><a class="image-request-additional-information" href="#">{% trans "Request additional information" %}</a></span>
                                    </li>
                                    <li class="last bg-icon icon-file">
                                        <span class="text"><a class="image-request-fits" href="#">{% trans "Request TIFF/FITS" %}</a></span>
                                    </li>
                                {% endif %}
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        <li id="view" {% if not request.user.is_authenticated %}class="first"{% endif %}>
                            <span class="text"><a href="#">{% trans "View" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li class="first {% if inverted or solved %}bg-icon icon-normal{% else %}bg-icon icon-inverted{% endif %}">
                                        {% if inverted or solved %}
                                        <span class="text"><a href="{{image.get_absolute_url}}{% query_string "mod='none'" "plate_solving_started" %}">{% trans "Normal" %}</a></span>
                                        {% else %}
                                        <span class="text"><a href="{{image.get_absolute_url}}{% query_string "mod='inverted'" "plate_solving_started" %}">{% trans "Inverted monochrome" %}</a></span>
                                        {% endif %}
                                    </li>
                                    {% if image.is_solved and not solved %}
                                    <li class="last bg-icon icon-solved">
                                        {% if is_revision %}
                                        <span class="text"><a href="{{image.get_absolute_url}}{% query_string "mod='solved'" "r, plate_solving_started" %}">{% trans "Annotatad (original version)" %}</a></span>
                                        {% else %}
                                        <span class="text"><a href="{{image.get_absolute_url}}{% query_string "mod='solved'" "plate_solving_started" %}">{% trans "Annotated" %}</a></span>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        {% if request.user != image.user %}
                        <li id="user">
                            <span class="text"><a href="#">{% trans "User" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li class="first {% if not request.user.is_authenticated %}last{% endif %} bg-icon icon-profile">
                                        <span class="text"><a href="{{image.user.get_absolute_url}}">{% trans "View profile" %}</a></span>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                    <li class="bg-icon {% if follows %}icon-unfollow{% else %}icon-follow{% endif %}">
                                        <span class="text">
                                            <a class="{% if follows %}unfollow{% else %}follow{% endif %}"
                                               href="{% if follows %}{% url unfollow image.user %}{% else %}{% url follow image.user %}{% endif %}{% query_string "next=request.path" "plate_solving_started" %}">
                                                {% if follows %}
                                                    {% trans "Stop following" %}
                                                {% else %}
                                                    {% trans "Follow" %}
                                                {% endif %}
                                            </a>
                                        </span>
                                    </li>
                                    <li class="last bg-icon icon-message">
                                        <span class="text"><a class="send-private-message" href="{% url messages_new image.user %}">{% trans "Send private message" %}</a></span>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        <li id="share" class="last">
                            <span class="text"><a href="#">{% trans "Share" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li class="first copy-box">
                                        <table>
                                            <tr>
                                                <th><span class="text">{% trans "Direct link:" %}</span></th>
                                                <td><form><textarea rows="1">http://astrob.in/{{image.id}}/</textarea></form></td>
                                            </tr>
                                            <tr>
                                                <th><span class="text">{% trans "Link for forums:" %}</span></th>
                                                <td><form><textarea rows="6">[URL=http://astrob.in/{{image.id}}/]{{image.title|escape}}[/URL]</textarea></form></td>
                                            </tr>
                                            {% if is_ready %}
                                            <tr>
                                                <th><span class="text">{% trans "With thumbnail:" %}</span></th>
                                                <td><form><textarea rows="10">[URL=http://astrob.in/{{image.id}}/][IMG]http://astrobin_images.{{s3_url}}/{{image.filename}}_thumb{{image.original_ext}}[/IMG][/URL]</textarea></form></td>
                                            </tr>
                                            {% endif %}
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="rating"><div id="rating"></div></li>
            </ul>
            <div id="main-image">
            {% if is_ready %}
                {% if is_revision %}
                    {% with revision_image as image %}
                        {% if inverted %}
                        <a class="zoomable" href="{% url image_full image.image.id %}{% query_string "r=image.id, mod='inverted'" "plate_solving_started" %}">
                            <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}{% if not full %}_resized{% endif %}_inverted{{image.original_ext}}" alt="{{image.title|escape}}"/>
                        </a>
                        {% endif %}
                        {% if solved %}
                        <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}_solved{{image.original_ext}}" alt="{{image.title|escape}}"/>
                        {% endif %}
                        {% if not inverted and not solved %}
                        <a class="zoomable" href="{% url image_full image.image.id %}{% query_string "r=image.id" "mod, plate_solving_started" %}">
                            <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}_resized{{image.original_ext}}" alt="{{image.title|escape}}" width="{{resized_size}}"/>
                        </a>
                        {% endif %}
                    {% endwith %}
                {% else %}
                    {% if inverted %}
                    <a class="zoomable" href="{% url image_full image.id %}{% query_string "mod='inverted'" "plate_solving_started" %}">
                        <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}_resized_inverted{{image.original_ext}}" alt="{{image.title|escape}}"/>
                    </a>
                    {% endif %}
                    {% if solved %}
                    <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}_solved{{image.original_ext}}" alt="{{image.title|escape}}"/>
                    {% endif %}
                    {% if not inverted and not solved %}
                    <a class="zoomable" href="{% url image_full image.id %}{% query_string "mod='none'" "plate_solving_started" %}">
                        <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}_resized{{image.original_ext}}" alt="{{image.title|escape}}" width="{{resized_size}}"/>
                    </a>
                    {% endif %}
                {% endif %}
            {% else %} <!-- not ready -->
            <p class="info">
                {% blocktrans %}This image was just uploaded and is still processing. Please try to refresh this page in a few seconds.{% endblocktrans %}
            </p>
            {% endif %}
            </div>

            <div class="main-image-data">
                <ul>
                    <li class="title">{{image.title|escape|default:_("(no title)")}}</li>
                    <li class="uploaded">({% trans "uploaded" %}: {{uploaded_on|ago}}</li>
                    <li class="author">
                        {% url user_page image.user.username as the_url %}
                        {% blocktrans with user=image.user.username %}by <a href="{{the_url}}">{{user}}</a>{% endblocktrans %})</li>
                    {% if image.subjects %}
                    {% endif %}
                </ul>
                <div class="hline"></div>
                <p>
                    {% trans "Contains" %}:
                    {% for s in subjects_short %}
                        <a href="/search/?q={{s.mainId|escape|cut:" "}}">{{s.mainId|escape|cut:"NAME "|lower|capfirst}}</a>{% if not forloop.last %},{% endif %}
                    {% empty %}
                        {% trans "(no subjects)" %}
                    {% endfor %}
                    {% if subjects_all|length > 10 %}
                        <span id="more-subjects">
                            <span class="hidden">
                                ,&nbsp;
                                {% for s in subjects_reminder %}
                                    <a href="/search/?q={{s.mainId|escape|cut:" "}}">{{s.mainId|escape|cut:"NAME "|lower|capfirst}}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </span>
                            <span class="more">
                                &#8230;&nbsp; 
                                <a href="#">
                                    <em>
                                       {% blocktrans with subjects_all|length|add:subjects_limit as number %}and {{number}} more (click to view).{% endblocktrans %}
                                    </em>
                                </a>
                            </span>
                            <span class="collapse">
                                <a href="#">
                                    &nbsp;
                                    <em>
                                       {% blocktrans %}(hide these subjects){% endblocktrans %}
                                    </em>
                                </a>
                            </span>
                        </span>
                    {% endif %}
                </p>
            </div>
            {% if revisions or is_revision %}
            <div id="revisions">
                <h3>
                    {% if is_revision %}
                        {% trans "This image is a revision. Here are its older versions" %}:
                    {% else %}
                        {% trans "This image has some later revisions" %}:
                    {% endif %}
                </h3>
                <div class="image-strip clear">
                    {% if is_revision %}
                    <div style="float:left; width:{{small_thumbnail_size}}; height:{{small_thumbnail_size}}; padding: 2px">
                        <a href="{% url image_detail image.id %}{% query_string "" "r, plate_solving_started, mod" %}">
                            <img src="{% if image.is_stored %}http://astrobin_images.{{s3_url}}/{{image.filename}}_small_thumb{{image.original_ext}}{% else %}/static/icons/iconic/orange/waiting_thumbnail_small.png{% endif %}" alt="" width="{{small_thumbnail_size}}" height="{{small_thumbnail_size}}"/>
                        </a>
                    </div>
                    {% endif %}
                    {% for i in revisions %}
                    <div style="float:left; width:{{small_thumbnail_size}}; height:{{small_thumbnail_size}}; padding: 2px">
                        <a href="{% url image_detail i.image.id %}{% query_string "r=i.id" "plate_solving_started, mod" %}">
                            <img src="{% if image.is_stored %}http://astrobin_images.{{s3_url}}/{{i.filename}}_small_thumb{{i.original_ext}}{% else %}/static/icons/iconic/orange/waiting_thumbnail_small.png{% endif %}" alt="" width="{{small_thumbnail_size}}" height="{{small_thumbnail_size}}"/>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <h3>{% trans "Technical card" %}</h3>
            <div id="technical-card">
                <div class="gear">
                    {% for i in gear_list %}
                        <p>
                            <strong>{% trans i.0 %}:&nbsp;</strong>
                            {% for g in i.1 %}
                                <a href="/search/?q={{g.name|escape|cut:" "}}">{{g.name|escape}}</a>
                                {% if not forloop.last %},&nbsp;{% endif %}
                            {% endfor %}
                        </p>
                    {% endfor %}
                </div>
                <div class="acquisition">
                    {% if image_type == 'deep_sky' %}
                        {% for data in deep_sky_data %}
                            {% if data.1 %}
                                <p>
                                    <strong>{{data.0}}</strong>:
                                    {% if data.0 == dates_label %}
                                        {% for date in data.1 %}
                                            <a href="/search/{% query_string "start_date=date, end_date=date" "plate_solving_started" %}">{{date|date:"DATE_FORMAT"}}</a>{% if not forloop.last %},&nbsp;{% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {{data.1|linebreaksbr}}
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if ssa.date %}
                            <p><strong>{% trans "Date" %}</strong>: <a href="/search/{% query_string "start_date=date, end_date=date" "plate_solving_started" %}">{{ssa.date|date:"DATE_FORMAT"}}</a>
                        {% endif %}
                        {% if ssa.time %}
                            <p><strong>{% trans "Time" %}</strong>: {{ssa.time}}
                        {% endif %}
                        {% if ssa.frames %}
                            <p><strong>{% trans "Frames" %}</strong>: {{ssa.frames}}
                        {% endif %}
                        {% if ssa.fps %}
                            <p><strong>{% trans "FPS" %}</strong>: {{ssa.fps}}
                        {% endif %}
                        {% if ssa.focal_length %}
                            <p><strong>{% trans "Focal length" %}</strong>: {{ssa.focal_length}}
                        {% endif %}
                        {% if ssa.cmi %}
                            <p><strong>{% trans "CMI" %}</strong>: {{ssa.cmi}}
                        {% endif %}
                        {% if ssa.cmii %}
                            <p><strong>{% trans "CMII" %}</strong>: {{ssa.cmii}}
                        {% endif %}
                        {% if ssa.cmiii %}
                            <p><strong>{% trans "CMIII" %}</strong>: {{ssa.cmiii}}
                        {% endif %}
                        {% if ssa.seeing %}
                            <p><strong>{% trans "Seeing" %}</strong>: {{ssa.seeing}}
                        {% endif %}
                        {% if ssa.transparency %}
                            <p><strong>{% trans "Transparency" %}</strong>: {{ssa.transparency}}
                        {% endif %}
                    {% endif %}
                    {% if is_ready and not image.animated %}
                    <hr/>
                    <h4>{% trans "Histogram" %}</h4>
                    <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}_hist.png" alt="{% trans "Histogram" %}"/>
                    {% endif %}
                </div>
            </div>

            {% if image.description %}
            <h3>{% trans "Description" %}</h3>
            <p id="description">{{image.description|escape}}</p>
            {% endif %}
        </div>
        <div id="side-pane">
            <ul class="topnav">
                <li>
                    <span class="text">
                        <a href="#">
                            {% if related == 'rel_user' %}{% trans "More: same user" %}{% endif %}
                            {% if related == 'rel_subject' %}{% trans "More: same subjects" %}{% endif %}
                            {% if related == 'rel_imaging_telescope' %}{% trans "More: same telescope" %}{% endif %}
                            {% if related == 'rel_imaging_camera' %}{% trans "More: same camera" %}{% endif %}
                        </a>
                    </span>
                    <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                    <div class="sub">
                        <ul class="subnav">
                            <li><a href="{{image.get_absolute_url}}{% query_string "related='rel_user', mod=mod" "plate_solving_started" %}">{% trans "More: same user"%}</a></li>
                            <li><a href="{{image.get_absolute_url}}{% query_string "related='rel_subject', mod=mod" "plate_solving_started" %}">{% trans "More: same subjects" %}</a></li>
                            <li><a href="{{image.get_absolute_url}}{% query_string "related='rel_imaging_telescope', mod=mod" "plate_solving_started" %}">{% trans "More: same telescope" %}</a></li>
                            <li><a href="{{image.get_absolute_url}}{% query_string "related='rel_imaging_camera', mod=mod" "plate_solving_started" %}">{% trans "More: same camera" %}</a></li>
                        </ul>
                    </div>
                </ul>
            </ul>
            {% if related_images.count > 1 %} 
            {% related_images request related_images related %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/jquery.raty.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    image_detail.init(
        {{image.id}},
        "{{image.user.username}}",
        {{current_rating}},
        {
            rating: {
                hint_list: [
                    "{% trans "Bad" %}",
                    "{% trans "Poor" %}",
                    "{% trans "Regular" %}",
                    "{% trans "Good" %}",
                    "{% trans "Gorgeous" %}"],
                read_only: {% if request.user.is_authenticated %} false {% else %} true {% endif %}
            },
            upload_revision_action: {
                dialog: {
                    title: "{% trans "Upload new revision" %}",
                    body : "{% blocktrans %}Did you improve the post-processing of your image? Upload the new revision!{% endblocktrans %}"
                },
                form_html: '{% autoescape off %}{{upload_revision_form.as_p|append_slash}}{% endautoescape %}',
                fileDefaultText: "{% trans "No file selected" %}",
                fileBtnText: "{% trans "Choose file" %}",
                uploadingText: "{% trans "Uploading..." %}"
            },
            delete_action: {
                dialog: {
                    title : "{% trans "Delete image?" %}",
                    body  : "{% trans "The image will be permanently deleted and cannot be recovered. All its revisions will be deleted too. Are you sure?"%}",
                    button: "{% trans "Yes, delete image" %}"
                }
            },
            follow_action: {
                dialog: {
                    title : "{% blocktrans with image.user.username as username %}Follow {{username}}?{% endblocktrans %}",
                    body  : "{% blocktrans with image.user.username as username %}You will receive a notification every time {{username}} posts a new image. Continue?{% endblocktrans %}",
                    button: "{% trans "Yes, follow!" %}"
                },
                stop_following: "{% trans "Stop following" %}"
            },
            unfollow_action: {
                dialog: {
                    title : "{% blocktrans with image.user.username as username %}Stop following {{username}}?{% endblocktrans %}",
                    body  : "{% blocktrans with image.user.username as username %}You will stop receiving notifications when {{username}} posts a new image. Continue?{% endblocktrans %}",
                    button: "{% trans "Yes, stop following!" %}"
                },
                follow: "{% trans "Follow" %}"
            },
            message_action: {
                dialog: {
                    title : "{% blocktrans with image.user.username as username %}Send {{username}} a message{% endblocktrans %}",
                    body  : "",
                    button: "{% trans "Send" %} &rarr;"
                },
                form_html: '{% autoescape off %}{{private_message_form.as_p|append_slash}}{% endautoescape %}',
                url      : "{% url send_private_message %}"
            },
            bring_to_attention_action: {
                dialog: {
                    title : "{% trans "Bring image to attention" %}",
                    body  : "{% blocktrans %}By choosing some users and clicking the button below, you will send them a notification prompting them to checkout this image.{% endblocktrans %}",
                    button: "{% trans "Continue" %} &rarr;"
                },
                form_html: '{% autoescape off %}{{bring_to_attention_form.as_p|append_slash}}{% endautoescape %}',
                autocomplete: {
                    startText: "{% trans "Enter partial name" %}",
                    emptyText: "{% trans "User not found. Cannot notify them." %}"
                },
                url: "{% url bring_to_attention %}"
            },
            image_request_additional_information_action: {
                dialog: {
                    title : "{% trans "Request additional information" %}",
                    body  : "{% blocktrans with image.user.username as username %}You will notify {{username}} that you would like them to feed more information in the technical card for this photograph. Continue?{% endblocktrans %}",
                }
            },
            image_request_fits_action: {
                dialog: {
                    title : "{% trans "Request TIFF/FITS" %}",
                    body  : "{% blocktrans with image.user.username as username %}You will notify {{username}} that you would like to see the TIFF or FITS file. AstroBin doesn't currently offer to host such large files, so hopefully {{username}} will contact you about how to handle the transaction. Continue?{% endblocktrans %}",
                }
            }
        });

    });
</script>
{% endblock %}

