{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load hitcount_tags %}

{% block extra_gaq_push %}
    {% if image.is_wip %}
          _gaq.push(['_setCustomVar', 3, 'Staging Image', 'Yes']);
    {% endif %}
{% endblock %}

{% block title %}AstroBin - {{image.title}} ({{image.user}}){% endblock %}
{% block content %}
    {% if 'plate_solving_started' in request.GET %}
    <div class="context_message">
        <img src="/static/icons/iconic/black/info_8x16.png" alt="{% trans "Info" %}" />
        <p>{% blocktrans %}Plate-solving has started in the background. It might take a while, so please don't request it again! You will be notified when the job has completed. Thanks!{% endblocktrans %}</p>
    </div>
    {% endif %}

    <a name="related_anchor"></a>
    {% ifequal request.user image.user %}
    {% if image.is_wip %}
    <p class="info">
        {% url image_promote image.id as promote_url %}
        {% url me as profile_url %}
        {% blocktrans %}This image is a <strong>work in progress</strong> from your <a href="{{profile_url}}?staging">Staging Area</a>. This means nobody can see it unless you give them one of the links you can find in the <em>Share</em> menu below. Use that link to post this image to Internet forums and get feedback on it. When you are satisfied, perhaps after uploading some revisions, <a href="{{promote_url}}">promote it</a> to the <a href="{{profile_url}}">Public Area</a>.{% endblocktrans %}
    </p>
    {% endif %}
    {% endifequal %}
    <div id="image-detail">
        <div id="main-content">
            <ul class="bar">
                <li id="menu">
                    <ul class="topnav">
                        {% if request.user.is_authenticated %}
                        <li id="actions" class="first">
                            <span class="text"><a href="#">{% trans "Actions" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <noscript>
                                    <li style="padding-bottom: 12px;">
                                        <strong>
                                            {% blocktrans %}Sorry, but the items in this menu<br/>require Javascript, at this time.{% endblocktrans %}
                                        </strong>
                                    </li>
                                    </noscript>
                                {% if request.user == image.user or request.user.is_superuser %}
                                    <li class="first bg-icon icon-edit">
                                        <span class="text"><a href="{% url image_edit_basic image.id %}">{% trans "Edit basic information" %}</a></span>
                                    </li>
                                    <li class="bg-icon icon-edit-gear">
                                        <span class="text"><a href="{% url image_edit_gear image.id %}">{% trans "Edit gear used" %}</a></span>
                                    </li>
                                    <li class="bg-icon icon-edit-acquisition">
                                        <span class="text"><a href="{% url image_edit_acquisition image.id %}">{% trans "Edit acquisition details" %}</a></span>
                                    </li>
                                    {% if not is_final %}
                                    <li class="bg-icon icon-make-final">
                                        <span class="text">
                                            {% if is_revision %}
                                            <a href="{% url image_edit_revision_make_final revision_image.id %}">
                                            {% else %}
                                            <a href="{% url image_edit_make_final image.id %}">
                                            {% endif %}
                                                {% trans "Mark this revision as final" %}
                                            </a>
                                        </span>
                                    </li>
                                    {% endif %}
                                    <li class="bg-icon icon-change-license">
                                        <span class="text"><a href="{% url image_edit_license image.id %}">{% trans "Change license" %}</a></span>
                                    </li>
                                    <li class="bg-icon icon-upload">
                                        <span class="text"><a class="upload-revision" href="#">{% trans "Upload new revision" %}</a></span>
                                    </li>
                                    {% if not image.is_solved and not is_revision %}
                                    <li class="bg-icon icon-plate-solve">
                                        <span class="text"><a class="plate-solve" href="{% url image_edit_presolve image.id %}{% query_string "done_later=" "plate_solving_started" %}">{% trans "Plate-solve" %}</a></span>
                                    </li>
                                    {% else %}
                                    <li class="bg-icon icon-plate-solve">
                                        <span class="text"><a class="plate-solve" href="{% url image_edit_presolve image.id %}{% query_string "done_later=" "plate_solving_started" %}">{% trans "Plate-solve again" %}</a></span>
                                    </li>
                                    {% endif %}
                                    {% if image.is_wip %}
                                    <li class="bg-icon icon-promote">
                                        <span class="text"><a href="{% url image_promote image.id %}{% query_string "" "plate_solving_started" %}">{% trans "Promote to public area" %}</a></span>
                                    </li>
                                    {% else %}
                                    <li class="bg-icon icon-demote">
                                        <span class="text"><a href="{% url image_demote image.id %}{% query_string "" "plate_solving_started" %}">{% trans "Move to staging area" %}</a></span>
                                    </li>
                                    {% endif %}
                                    <li class="bg-icon icon-delete">
                                        <span class="text">
                                        {% if not is_revision %}
                                            {% if revisions %}
                                            <a class="delete-original danger" href="{% url image_delete_original image.id %}">{% trans "Delete original image" %}</a>
                                            {% else %}
                                            <a class="delete-everything danger" href="{% url image_delete image.id %}">{% trans "Delete everything" %}</a>
                                            {% endif %}
                                        {% else %}
                                            <a class="delete-revision danger" href="{% url image_delete_revision image.id %}">{% trans "Delete this revision" %}</a>
                                        {% endif %}
                                        </span>
                                    </li>
                                    <li class="separator"></li>
                                {% endif %}
                                    <li class="bg-icon icon-quote">
                                        <span class="text"><a class="bring-to-attention" href="#">{% trans "Bring to a user's attention" %}</a></span>
                                    </li>
                                {% if request.user != image.user %}
                                    <li class="bg-icon icon-info">
                                        <span class="text"><a class="image-request-additional-information" href="#">{% trans "Request additional information" %}</a></span>
                                    </li>
                                    <li class="last bg-icon icon-file">
                                        <span class="text"><a class="image-request-fits" href="#">{% trans "Request TIFF/FITS" %}</a></span>
                                    </li>
                                {% endif %}
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        <li id="view" {% if not request.user.is_authenticated %}class="first"{% endif %}>
                            <span class="text"><a href="#">{% trans "View" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    {% if not inverted and not solved %}
                                    <li class="first bg-icon icon-inverted">
                                        <span class="text"><a href="{{image.get_absolute_url}}{% query_string "mod='inverted'" "plate_solving_started" %}">{% trans "Inverted monochrome" %}</a></span>
                                    </li>
                                    {% if image.is_solved and not solved %}
                                    <li class="last bg-icon icon-solved">
                                        {% if is_revision %}
                                        <span class="text"><a href="{{image.get_absolute_url}}{% query_string "mod='solved', r=0" "plate_solving_started" %}">{% trans "Annotatad (original version)" %}</a></span>
                                        {% else %}
                                        <span class="text"><a href="{{image.get_absolute_url}}{% query_string "mod='solved'" "plate_solving_started" %}">{% trans "Annotated" %}</a></span>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                    {% endif %}

                                    {% if inverted %}
                                    <li class="first bg-icon icon-normal">
                                        <span class="text"><a href="{{image.get_absolute_url}}{% query_string "mod='none'" "plate_solving_started" %}">{% trans "Normal" %}</a></span>
                                    </li>
                                    {% if image.is_solved and not solved %}
                                    <li class="last bg-icon icon-solved">
                                        {% if is_revision %}
                                        <span class="text"><a href="{{image.get_absolute_url}}{% query_string "mod='solved', r=0" "plate_solving_started" %}">{% trans "Annotatad (original version)" %}</a></span>
                                        {% else %}
                                        <span class="text"><a href="{{image.get_absolute_url}}{% query_string "mod='solved'" "plate_solving_started" %}">{% trans "Annotated" %}</a></span>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                    {% endif %}

                                    {% if solved %}
                                    <li class="first bg-icon icon-normal">
                                        <span class="text"><a href="{{image.get_absolute_url}}{% query_string "mod='none'" "plate_solving_started" %}">{% trans "Normal" %}</a></span>
                                    </li>
                                    <li class="first bg-icon icon-inverted">
                                        <span class="text"><a href="{{image.get_absolute_url}}{% query_string "mod='inverted'" "plate_solving_started" %}">{% trans "Inverted monochrome" %}</a></span>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        {% if request.user != image.user %}
                        <li id="user">
                            <span class="text"><a href="#">{% trans "User" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li class="first {% if not request.user.is_authenticated %}last{% endif %} bg-icon icon-profile">
                                        <span class="text"><a href="{{image.user.get_absolute_url}}">{% trans "View profile" %}</a></span>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                    <li class="bg-icon {% if follows %}icon-unfollow{% else %}icon-follow{% endif %}">
                                        <span class="text">
                                            <a class="{% if follows %}unfollow{% else %}follow{% endif %}"
                                               href="{% if follows %}{% url unfollow image.user %}{% else %}{% url follow image.user %}{% endif %}{% query_string "next=request.path" "plate_solving_started" %}">
                                                {% if follows %}
                                                    {% trans "Stop following" %}
                                                {% else %}
                                                    {% trans "Follow" %}
                                                {% endif %}
                                            </a>
                                        </span>
                                    </li>
                                    <li class="last bg-icon icon-message">
                                        <span class="text"><a class="send-private-message" href="{% url messages_compose_to image.user.username %}{% query_string "next=request.path, subject=image.title" "" %}">{% trans "Send private message" %}</a></span>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        <li id="share" class="last">
                            <span class="text"><a href="#">{% trans "Share" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li class="first copy-box">
                                        <table>
                                            <tr>
                                                <th><span class="text">{% trans "Direct link:" %}</span></th>
                                                <td>
                                                    <form>
                                                        <textarea rows="2">{% if is_revision %}http://astrob.in/{{revision_image.image.id}}/?r={{revision_image.id}}{% else %}http://astrob.in/{{image.id}}{% endif %}</textarea>
                                                    </form>
                                                    <div id="clip1_container" class="button-container">
                                                        <div id="clip1">
                                                            <img alt="{% trans "Copy" %}" src="/static/icons/copy.png" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </div>
                                                    </div>
                                                 </td>
                                            </tr>
                                            <tr>
                                                <th><span class="text">{% trans "Link for forums:" %}</span></th>
                                                <td>
                                                    <form>
                                                        <textarea rows="6">{% if is_revision %}[URL=http://astrob.in/{{revision_image.image.id}}/?r={{revision_image.id}}]{{image.title|escape}}[/URL]{% else %}[URL=http://astrob.in/{{image.id}}/]{{image.title|escape}}[/URL]{% endif %}</textarea>
                                                    </form>
                                                    <div id="clip2_container" class="button-container">
                                                        <div id="clip2">
                                                            <img alt="{% trans "Copy" %}" src="/static/icons/copy.png" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% if is_ready %}
                                            <tr>
                                                <th><span class="text">{% trans "...with thumbnail:" %}</span></th>
                                                <td>
                                                    <form>
                                                        <textarea rows="10">{% if is_revision %}[URL=http://astrob.in/{{revision_image.image.id}}/?r={{revision_image.id}}][IMG]http://astrobin_images.{{s3_url}}/{{image.filename}}_thumb.png[/IMG][/URL]{% else %}[URL=http://astrob.in/{{image.id}}/][IMG]http://astrobin_images.{{s3_url}}/{{image.filename}}_thumb.png[/IMG][/URL]{% endif %}</textarea>
                                                    </form>
                                                    <div id="clip3_container" class="button-container">
                                                        <div id="clip3">
                                                            <img alt="{% trans "Copy" %}" src="/static/icons/copy.png" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="text">{% trans "Full size:" %}</span></th>
                                                <td>
                                                    <form>
                                                        <textarea rows="2">{% if is_revision %}http://astrob.in/full/{{revision_image.image.id}}/?r={{revision_image.id}}{% else %}http://astrob.in/full/{{image.id}}/{% endif %}</textarea>
                                                    </form>
                                                    <div id="clip4_container" class="button-container">
                                                        <div id="clip4">
                                                            <img alt="{% trans "Copy" %}" src="/static/icons/copy.png" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="text">{% trans "...with thumbnail:" %}</span></th>
                                                <td>
                                                    <form>
                                                        <textarea rows="10">{% if is_revision %}[URL=http://astrob.in/full/{{revision_image.image.id}}/?r={{revision_image.id}}][IMG]http://astrobin_images.{{s3_url}}/{{image.filename}}_thumb.png[/IMG][/URL]{% else %}[URL=http://astrob.in/full/{{image.id}}/][IMG]http://astrobin_images.{{s3_url}}/{{image.filename}}_thumb.png[/IMG][/URL]{% endif %}</textarea>
                                                    </form>
                                                    <div id="clip5_container" class="button-container">
                                                        <div id="clip5">
                                                            <img alt="{% trans "Copy" %}" src="/static/icons/copy.png" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="rating"><div id="rating"></div></li>
            </ul>
            <div id="main-image">
                <div id="container">
                {% if is_ready %}
                    {% if is_revision %}
                        {% with revision_image as image %}
                            {% if inverted %}
                            <a class="zoomable" href="{% url image_full image.image.id %}{% query_string "r=image.id, mod='inverted'" "plate_solving_started" %}">
                                <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}{% if not full %}_resized{% endif %}_inverted{{image.original_ext}}" alt="{{image.title|escape}}"/>
                            </a>
                            {% endif %}
                            {% if not inverted and not solved %}
                            <a class="zoomable" href="{% url image_full image.image.id %}{% query_string "r=image.id" "mod, plate_solving_started" %}">
                                <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}_resized{{image.original_ext}}" alt="{{image.title|escape}}" width="{{resized_size}}"/>
                            </a>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        {% if inverted %}
                            <a class="zoomable" href="{% url image_full image.id %}{% query_string "mod='inverted'" "plate_solving_started" %}">
                                <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}_resized_inverted{{image.original_ext}}" alt="{{image.title|escape}}" width="{{resized_size}}"/>
                            </a>
                            {% if image.is_solved and image.plot_is_overlay %}
                                <a class="zoomable" href="{% url image_full image.id %}{% query_string "mod='inverted'" "plate_solving_started" %}">
                                    <img class="plot-overlay" src="http://astrobin_images.{{s3_url}}/{{image.filename}}_solved{{solved_ext}}" alt="{{image.title|escape}}"/>
                                </a>
                            {% endif %}
                        {% endif %}

                        {% if solved %}
                            {% if image.plot_is_overlay %}
                                <a class="zoomable" href="{% url image_full image.id %}{% query_string "mod='none'" "plate_solving_started" %}">
                                    <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}_resized{{image.original_ext}}" alt="{{image.title|escape}}" width="{{resized_size}}"/>
                                </a>
                                <a class="zoomable" href="{% url image_full image.id %}{% query_string "mod='none'" "plate_solving_started" %}">
                                    <img class="fixed-plot-overlay" src="http://astrobin_images.{{s3_url}}/{{image.filename}}_solved{{solved_ext}}" alt="{{image.title|escape}}"/>
                                </a>
                            {% else %}
                                <a class="zoomable" href="{% url image_full image.id %}{% query_string "mod='none'" "plate_solving_started" %}">
                                    <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}_solved{{solved_ext}}" alt="{{image.title|escape}}"/>
                                </a>
                            {% endif %}
                        {% endif %}

                        {% if not inverted and not solved %}
                            <a class="zoomable" href="{% url image_full image.id %}{% query_string "mod='none'" "plate_solving_started" %}">
                                <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}_resized{{image.original_ext}}" alt="{{image.title|escape}}" width="{{resized_size}}"/>
                            </a>
                            {% if image.is_solved and image.plot_is_overlay %}
                                <a class="zoomable" href="{% url image_full image.id %}{% query_string "mod='none'" "plate_solving_started" %}">
                                    <img class="plot-overlay" src="http://astrobin_images.{{s3_url}}/{{image.filename}}_solved{{solved_ext}}" alt="{{image.title|escape}}"/>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% else %} <!-- not ready -->
                <p class="info">
                    {% blocktrans %}This image was just uploaded and is still processing. Please try to refresh this page in a few seconds.{% endblocktrans %}
                </p>
                {% endif %}
                </div>
            </div>
            <div class="main-image-data">
                <table class="title">
                    <tr>
                        <td class="data">
                            <h2>{{image.title|escape|default:_("(no title)")}}</h2>
                            {% if image.link %}
                                <p class="link">
                                    <a href="{{image.link}}" target="_blank">{{image.link}}</a>
                                </p>
                            {% endif %}
                            <span>
                                ({% trans "uploaded" %}: {{uploaded_on|ago}}
                                {% url user_page image.user.username as the_url %}
                                {% blocktrans with user=image.user.username %}by <a href="{{the_url}}">{{user}}</a>{% endblocktrans %}
                                {% get_hit_count for image as hit_count %}
                                {% if hit_count != '0' %}, {% blocktrans count counter=hit_count|add:"0" %}viewed one time{% plural %}viewed {{counter}} times{% endblocktrans %}{% endif %})
                            </span>
                        </td>
                        <td class="license">
                            <a target="_blank" href="http://creativecommons.org/licenses/">
                                <img src="/static/icons/{{license_icon}}"
                                     alt="{% trans "License" %}: {{license_title}}"
                                     title="{% trans "License" %}: {{license_title}}" />
                            </a>
                        </td>
                    </tr>
                </table>
                <div class="hline"></div>
                <p>
                    {% trans "Contains" %}:
                    {% if solar_system_main_subject >= 0 %}
                        <a href="/search/?q=&ssms={{solar_system_main_subject_id}}">{{solar_system_main_subject}}</a>{% if subjects_short %},{% endif %}
                    {% endif %}
                    {% for s in subjects_short %}
                        <a href="/search/?q={{s.mainId|escape|cut:" "}}">{{s.mainId|escape|cut:"NAME "|lower|capfirst}}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                    {% if subjects_all|length > 10 %}
                        <span id="more-subjects">
                            <span class="hidden">
                                ,&nbsp;
                                {% for s in subjects_reminder %}
                                    <a href="/search/?q={{s.mainId|escape|cut:" "}}">{{s.mainId|escape|cut:"NAME "|lower|capfirst}}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </span>
                            <span class="more">
                                &#8230;&nbsp; 
                                <a href="#">
                                    <em>
                                       {% blocktrans with subjects_all|length|add:subjects_limit as number %}and {{number}} more (click to view).{% endblocktrans %}
                                    </em>
                                </a>
                            </span>
                            <span class="collapse">
                                <a href="#">
                                    &nbsp;
                                    <em>
                                       {% blocktrans %}(hide these subjects){% endblocktrans %}
                                    </em>
                                </a>
                            </span>
                        </span>
                    {% endif %}
                </p>
            </div>
            {% if revisions or is_revision %}
            <div id="revisions">
                <h3>
                    {% if is_revision %}
                        {% trans "This image is a revision. Here are its other versions" %}:
                    {% else %}
                        {% trans "This image has some other revisions" %}:
                    {% endif %}
                </h3>
                <div class="image-strip clear">
                    {% if is_revision %}
                    <div style="float:left; width:{{small_thumbnail_size}}; height:{{small_thumbnail_size}}; padding: 2px">
                        <a href="{% url image_detail image.id %}{% query_string "r=0" "plate_solving_started, mod" %}">
                            <img {% if image.is_final %}style="border: 2px solid white"{% endif %} src="{% if image.is_stored %}http://astrobin_images.{{s3_url}}/{{image.filename}}_small_thumb{{image.original_ext}}{% else %}/static/icons/iconic/orange/waiting_thumbnail_small.png{% endif %}" alt="" width="{{small_thumbnail_size}}" height="{{small_thumbnail_size}}"/>
                        </a>
                    </div>
                    {% endif %}
                    {% for i in revisions %}
                    <div style="float:left; width:{{small_thumbnail_size}}; height:{{small_thumbnail_size}}; padding: 2px">
                        <a href="{% url image_detail i.image.id %}{% query_string "r=i.id" "plate_solving_started, mod" %}">
                            <img {% if i.is_final %}style="border: 2px solid white"{% endif %} src="{% if image.is_stored %}http://astrobin_images.{{s3_url}}/{{i.filename}}_small_thumb{{i.original_ext}}{% else %}/static/icons/iconic/orange/waiting_thumbnail_small.png{% endif %}" alt="" width="{{small_thumbnail_size}}" height="{{small_thumbnail_size}}"/>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <h3>{% trans "Technical card" %}</h3>
            <div id="technical-card">
                <div class="left">
                    <div class="container">
                        <div class="gear">
                            <h3>{% trans "Gear" %}</h3>
                            {% for i in gear_list %}
                                {% if i.1 %}
                                <p>
                                    <strong>{% trans i.0 %}:</strong>
                                    {% for g in i.1 %}
                                        {% if i.2 == 'imaging_telescopes' or i.2 == 'imaging_cameras' %}<a href="/search/?q=&as_values_{{i.2}}={{g.id}}">{{g.name|escape}}</a>{% else %}<a href="/search/?q={{g.name|escape}}&type={{i.2}}">{{g.name|escape}}</a>{% endif %}{% if not forloop.last %},&nbsp;{% endif %} {% endfor %}
                                </p>
                                {% endif %}
                            {% endfor %}
                        </div>

                        {% if is_ready and not image.animated %}
                        <div class="histogram">
                            <h3>{% trans "Histogram" %}</h3>
                            <img src="http://astrobin_images.{{s3_url}}/{{image.filename}}_hist.png" alt="{% trans "Histogram" %}"/>
                        </div>
                        {% endif %}
                    </div> <!-- container -->
                </div> <!-- left -->
                <div class="right">
                    <div class="container">
                        <div class="acquisition">
                            <h3>{% trans "Acquisition" %}</h3>
                            {% if image_type == 'deep_sky' %}
                                {% for data in deep_sky_data %}
                                    {% if data.1 %}
                                        <p>
                                            <strong>{{data.0}}</strong>:
                                            {% if data.0 == dates_label %}
                                                {% for date in data.1 %}
                                                    <a href="/search/{% query_string "start_date=date, end_date=date" "plate_solving_started, r, mod" %}">{{date|date:"DATE_FORMAT"}}</a>{% if not forloop.last %},&nbsp;{% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {{data.1|linebreaksbr}}
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% if ssa.date %}
                                    <p><strong>{% trans "Date" %}</strong>: <a href="/search/{% query_string "start_date=ssa.date, end_date=ssa.date" "plate_solving_started, r, mod" %}">{{ssa.date|date:"DATE_FORMAT"}}</a>
                                {% endif %}
                                {% if ssa.time %}
                                    <p><strong>{% trans "Time" %}</strong>: {{ssa.time}}
                                {% endif %}
                                {% if ssa.frames %}
                                    <p><strong>{% trans "Frames" %}</strong>: {{ssa.frames}}
                                {% endif %}
                                {% if ssa.fps %}
                                    <p><strong>{% trans "FPS" %}</strong>: {{ssa.fps}}
                                {% endif %}
                                {% if ssa.focal_length %}
                                    <p><strong>{% trans "Focal length" %}</strong>: {{ssa.focal_length}}
                                {% endif %}
                                {% if ssa.cmi %}
                                    <p><strong>{% trans "CMI" %}</strong>: {{ssa.cmi}}
                                {% endif %}
                                {% if ssa.cmii %}
                                    <p><strong>{% trans "CMII" %}</strong>: {{ssa.cmii}}
                                {% endif %}
                                {% if ssa.cmiii %}
                                    <p><strong>{% trans "CMIII" %}</strong>: {{ssa.cmiii}}
                                {% endif %}
                                {% if ssa.seeing %}
                                    <p><strong>{% trans "Seeing" %}</strong>: {{ssa.seeing}}
                                {% endif %}
                                {% if ssa.transparency %}
                                    <p><strong>{% trans "Transparency" %}</strong>: {{ssa.transparency}}
                                {% endif %}
                            {% endif %}
                        </div>

                        {% if image.is_solved and image.ra_center_hms %}
                        <div class="astrometry">
                            <h3>{% trans "Astrometry" %}</h3>
                            <p><strong>{% trans "RA center" %}</strong>: {{image.ra_center_hms}}</p>
                            <p><strong>{% trans "DEC center" %}</strong>: {{image.dec_center_dms}}</p>
                            {% if image.pixscale != 0 %}
                                <p><strong>{% trans "Pixel scale" %}</strong>: {{image.pixscale|cut_decimals:"2"}} {% trans "arcsec/pixel" %}</p>
                            {% endif %}
                            <p><strong>{% trans "Orientation" %}</strong>: {{image.orientation|cut_decimals:"2"}} {% trans "degrees" %}</p>
                            <p><strong>{% trans "Field width" %}</strong>: {{image.fieldw|cut_decimals:"2"}} {% if image.fieldunits == 'degrees' %}{% trans "degrees" %}{% else %}{% if image.fieldunits == 'arcminutes' %}{% trans 'arcminutes' %}{% endif %}{% endif %}</p>
                            <p><strong>{% trans "Field height" %}</strong>: {{image.fieldh|cut_decimals:"2"}} {% if image.fieldunits == 'degrees' %}{% trans "degrees" %}{% else %}{% if image.fieldunits == 'arcminutes' %}{% trans 'arcminutes' %}{% endif %}{% endif %}</p>
                        </div>
                        {% endif %}
                    </div> <!-- container -->
                </div> <!-- right -->
            </div>

            {% if image.description %}
            <h3>{% trans "Description" %}</h3>
            <div id="description">{{image.description|safe|linebreaks}}</div>
            {% endif %}
        </div>
        <div id="side-pane">
            <ul class="topnav">
                <li style="z-index: 1">
                    <span class="text">
                        <a href="#">
                            {% if related == 'rel_user' %}{% trans "More: same user" %}{% endif %}
                            {% if related == 'rel_subject' %}{% trans "More: same subjects" %}{% endif %}
                            {% if related == 'rel_imaging_telescope' %}{% trans "More: same telescope" %}{% endif %}
                            {% if related == 'rel_imaging_camera' %}{% trans "More: same camera" %}{% endif %}
                        </a>
                    </span>
                    <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                    <div class="sub">
                        <ul class="subnav">
                            <li><a href="{{image.get_absolute_url}}{% query_string "related='rel_user', mod=mod" "plate_solving_started" %}">{% trans "More: same user"%}</a></li>
                            <li><a href="{{image.get_absolute_url}}{% query_string "related='rel_subject', mod=mod" "plate_solving_started" %}">{% trans "More: same subjects" %}</a></li>
                            <li><a href="{{image.get_absolute_url}}{% query_string "related='rel_imaging_telescope', mod=mod" "plate_solving_started" %}">{% trans "More: same telescope" %}</a></li>
                            <li><a href="{{image.get_absolute_url}}{% query_string "related='rel_imaging_camera', mod=mod" "plate_solving_started" %}">{% trans "More: same camera" %}</a></li>
                        </ul>
                    </div>
                </ul>
            </ul>
            {% if related_images.count > 1 %} 
            {% related_images request related_images related %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/jquery.raty.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var clip1 = new ZeroClipboard.Client();
    clip1.setText(
        {% if is_revision %}
            "http://astrob.in/{{revision_image.image.id}}/?r={{revision_image.id}}"
        {% else %}
            "http://astrob.in/{{image.id}}/"
        {% endif %}
    );
    clip1.glue('clip1', 'clip1_container');

    var clip2 = new ZeroClipboard.Client();
    clip2.setText(
        {% if is_revision %}
            "[URL=http://astrob.in/{{revision_image.image.id}}/?r={{revision_image.id}}]{{image.title|escape}}[/URL]"
        {% else %}
            "[URL=http://astrob.in/{{image.id}}/]{{image.title|escape}}[/URL]"
        {% endif %}
    );
    clip2.glue('clip2', 'clip2_container');

    {% if is_ready %}
    var clip3 = new ZeroClipboard.Client();
    clip3.setText(
        {% if is_revision %}
            "[URL=http://astrob.in/{{revision_image.image.id}}/?r={{revision_image.id}}][IMG]http://astrobin_images.{{s3_url}}/{{image.filename}}_thumb.png[/IMG][/URL]"
        {% else %}
            "[URL=http://astrob.in/{{image.id}}/][IMG]http://astrobin_images.{{s3_url}}/{{image.filename}}_thumb.png[/IMG][/URL]"
        {% endif %}
    );
    clip3.glue('clip3', 'clip3_container');

    var clip4 = new ZeroClipboard.Client();
    clip4.setText(
        {% if is_revision %}
            "http://astrob.in/full/{{revision_image.image.id}}/?r={{revision_image.id}}"
        {% else %}
            "http://astrob.in/full/{{image.id}}/"
        {% endif %}
    );
    clip4.glue('clip4', 'clip4_container');

    var clip5 = new ZeroClipboard.Client();
    clip5.setText(
        {% if is_revision %}
            "[URL=http://astrob.in/full/{{revision_image.image.id}}/?r={{revision_image.id}}][IMG]http://astrobin_images.{{s3_url}}/{{image.filename}}_thumb.png[/IMG][/URL]"
        {% else %}
            "[URL=http://astrob.in/full/{{image.id}}/][IMG]http://astrobin_images.{{s3_url}}/{{image.filename}}_thumb.png[/IMG][/URL]"
        {% endif %}
    );
    clip5.glue('clip5', 'clip5_container');
    {% endif %}

    {% get_hit_count_javascript for image %}

    common.init(
        '{{image.user.username}}',
        {
            follow_action: {
                dialog: {
                    title : "{% blocktrans with image.user.username as username %}Follow {{username}}?{% endblocktrans %}",
                    body  : "{% blocktrans with image.user.username as username %}You will receive a notification every time {{username}} posts a new image. Continue?{% endblocktrans %}",
                    button: "{% trans "Yes, follow!" %}"
                },
                stop_following: "{% trans "Stop following" %}"
            },
            unfollow_action: {
                dialog: {
                    title : "{% blocktrans with image.user.username as username %}Stop following {{username}}?{% endblocktrans %}",
                    body  : "{% blocktrans with image.user.username as username %}You will stop receiving notifications when {{username}} posts a new image. Continue?{% endblocktrans %}",
                    button: "{% trans "Yes, stop following!" %}"
                },
                follow: "{% trans "Follow" %}"
            },
            message_action: {
                dialog: {
                    title : "{% blocktrans with image.user.username as username %}Send {{username}} a message{% endblocktrans %}",
                    body  : "",
                    button: "{% trans "Send" %} &rarr;"
                },
                form_html: '{% autoescape off %}{{private_message_form.as_p|append_slash}}{% endautoescape %}',
                csrf_token: '{{csrf_token}}',
                url      : "{% url send_private_message %}"
            }
        });

    image_detail.init(
        {{image.id}},
        {% if is_revision %}{{revision_image.id}}{% else %}0{% endif %},
        "{{image.user.username}}",
        "{{current_rating}}",
        {
            rating: {
                hint_list: [
                    "{% trans "Bad" %}",
                    "{% trans "Poor" %}",
                    "{% trans "Regular" %}",
                    "{% trans "Good" %}",
                    "{% trans "Gorgeous" %}"],
                read_only: {% if request.user.is_authenticated %} false {% else %} true {% endif %}
            },
            upload_revision_action: {
                dialog: {
                    title: "{% trans "Upload new revision" %}",
                    body : "{% blocktrans %}Did you improve the post-processing of your image? Upload the new revision!{% endblocktrans %}"
                },
                form_html: '{% autoescape off %}{{upload_revision_form.file}}\
                            <input class="button submit-button inline-button" type="submit" value="{% trans "Upload" %}" />\
                            {% endautoescape %}',
                csrf_token: '{{csrf_token}}',
                fileDefaultText: "{% trans "No file selected" %}",
                fileBtnText: "{% trans "Choose file" %}",
                uploadingText: "{% trans "Uploading..." %}"
            },
            delete_action: {
                dialog: {
                    title : "{% trans "Delete image and all its revisions?" %}",
                    body  : "{% trans "The image will be permanently deleted and cannot be recovered. All its revisions will be deleted too. Are you sure?"%}",
                    button: "{% trans "Yes, delete everything" %}"
                }
            },
            delete_revision_action: {
                dialog: {
                    title : "{% trans "Delete this revision?" %}",
                    body  : "{% trans "This revision will be permanently deleted and cannot be recovered. Are you sure?"%}",
                    button: "{% trans "Yes, delete revision" %}"
                }
            },
            delete_original_action: {
                dialog: {
                    title : "{% trans "Delete original image?" %}",
                    body  : "{% trans "The image will be permanently deleted and cannot be recovered. Its revisions will not be deleted. Are you sure?"%}",
                    button: "{% trans "Yes, delete image" %}"
                }
            },
            bring_to_attention_action: {
                dialog: {
                    title : "{% trans "Bring image to attention" %}",
                    body  : "{% blocktrans %}By choosing some users and clicking the button below, you will send them a notification prompting them to checkout this image.{% endblocktrans %}",
                    button: "{% trans "Continue" %} &rarr;"
                },
                form_html: '{% autoescape off %}{{bring_to_attention_form.as_p|append_slash}}{% endautoescape %}',
                autocomplete: {
                    startText: "{% trans "Enter partial name" %}",
                    emptyText: "{% trans "User not found. Cannot notify them." %}"
                },
                url: "{% url bring_to_attention %}"
            },
            image_request_additional_information_action: {
                dialog: {
                    title : "{% trans "Request additional information" %}",
                    body  : "{% blocktrans with image.user.username as username %}You will notify {{username}} that you would like them to feed more information in the technical card for this photograph. Continue?{% endblocktrans %}"
                }
            },
            image_request_fits_action: {
                dialog: {
                    title : "{% trans "Request TIFF/FITS" %}",
                    body  : "{% blocktrans with image.user.username as username %}You will notify {{username}} that you would like to see the TIFF or FITS file. AstroBin doesn't currently offer to host such large files, so hopefully {{username}} will contact you about how to handle the transaction. Continue?{% endblocktrans %}"
                }
            }
        });
    });
</script>
{% endblock %}

