{% load astrobin_apps_images_tags %}
{% load common_tags %}
{% load pipeline %}
{% load hitcount_tags %}
{% load cookielaw_tags %}
{% load i18n %}
{% load tags %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{{ image.title }} ({{ image.user }}) - {% trans "Full resolution" %} |
        AstroBin{% endblock %}</title>

    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="author" content="Salvatore Iovene - http://iovene.com/" />
    <meta name="description" content="Community for astrophotographers" />
    <meta name="keywords" content="astrophotography, astronomy, telescopes" />
    <meta name="robots" content="index, follow, noarchive" />
    <meta name="googlebot" content="noarchive" />

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700|Noto+Serif:700&subset=latin-ext"
          rel="stylesheet">
    {% stylesheet 'screen' %}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-844985-10']);
        _gaq.push(['_trackPageview']);
        {% if user.is_authenticated %}
            _gaq.push(['_setCustomVar', 1, 'User Type', 'Member']);
            _gaq.push(['_setCustomVar', 2, 'Username', '{{user.username}}']);
        {% else %}
            _gaq.push(['_setCustomVar', 1, 'User Type', 'Anonymous']);
        {% endif %}

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body class="full">
{% cookielaw_banner %}

<div class="navbar navbar-fixed-top" id="top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{% url 'index' %}">
                <img src="{% static 'astrobin/images/astrobin-logo-small.png' %}" alt="AstroBin" />
            </a>

            <ul class="nav">
                <li>
                    <div class="full-title">
                        <span class="title">{{ image.title|escape|default:_("(no title)") }}</span>
                        <span class="subtitle">
                                    (
                            {% if image.published %}
                                {{ image.published }}
                            {% else %}
                                {{ image.uploaded }}
                            {% endif %}
                            {% url 'user_page' image.user.username as the_url %}
                            {% blocktrans with user=image.user.userprofile %}by
                                <a href="{{ the_url }}">{{ user }}</a>{% endblocktrans %})
                                </span>
                    </div>
                </li>
            </ul>
            <ul class="nav pull-right">
                {% with request.GET.mod as mod %}
                    <li>
                        {% if real %}
                            <a class="btn btn-primary navbar-btn" href="
                                    {% get_image_url image revision_label 'full' %}{% if mod %}{% query_string "mod=mod" "real" %}{% endif %}">
                                <i class="icon-resize-full"></i>
                                {% trans "Fit to window" %}
                            </a>
                        {% else %}
                            <a class="btn btn-primary navbar-btn" href="
                                    {% get_image_url image revision_label 'full' %}{% query_string "mod=mod,real=''" "" %}">
                                <i class="icon-fullscreen"></i>
                                {% trans "Full resolution" %}
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        <a class="btn navbar-btn" href="
                                {% get_image_url image revision_label %}{% if mod %}{% query_string "mod=mod" "" %}{% endif %}">
                            <i class="icon-list-alt"></i>
                            {% trans "Technical card" %}
                        </a>
                    </li>
                {% endwith %}
            </ul>
        </div>
    </div>
</div>

<div id="full-size-image">
    {% astrobin_image image alias revision=revision_label url_size='regular' %}

    {% if show_solution and not real%}
        <div class="astrobin-image-container hover-overlay hover-overlay-solution">
            <a href="{% get_image_url image revision_label %}{% if mod %}{% query_string "mod=mod" "" %}{% endif %}">
                <img src="{{ IMAGES_URL }}{{ instance_to_platesolve.solution.pixinsight_svg_annotation }}"
                       alt="{{ image.title|escape }}"
                       width="{{ instance_to_platesolve | thumbnail_width:'hd' }}"
                       height="{{ instance_to_platesolve | thumbnail_height:'hd' }}"
                />
            </a>
        </div>
    {% endif %}
</div>

<script type="text/javascript" src="{% static 'common/js/jquery-1.8.3.js' %}"></script>
<script type="text/javascript" src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
<script type="text/javascript" src="{% static 'astrobin_apps_images/js/astrobin_apps_images.js' %}"></script>
<script type="text/javascript" src="{% static 'astrobin/js/astrobin.js' %}"></script>
{% insert_hit_count_js_variables for image %}
<script type="text/javascript">
    $(document).ready(function () {
        astrobin_common.init_ajax_csrf_token();
        {% if image.w > 0 %}
            if ($(window).width() * .95 > {{image.w}}) {
                $('#full-size-image img').addClass('real');
            }
        {% endif %}
    });
</script>
</body>
</html>

