{% load i18n %}
{% load staticfiles %}

{% load cookielaw_tags %}
{% load hitcount_tags %}
{% load pipeline %}

{% load tags %}
{% load common_tags %}
{% load astrobin_apps_platesolving_tags %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_premium_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{{ image.title }} ({{ image.user }}) - {% trans "Full resolution" %} |
        AstroBin{% endblock %}</title>

    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="author" content="Salvatore Iovene - http://iovene.com/" />
    <meta name="description" content="Community for astrophotographers" />
    <meta name="keywords" content="astrophotography, astronomy, telescopes" />
    <meta name="robots" content="index, follow, noarchive" />
    <meta name="googlebot" content="noarchive" />

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700|Noto+Serif:700|Roboto+Mono&subset=latin-ext"
          rel="stylesheet">
    {% stylesheet 'screen' %}

    {% include "base/ga.html" %}

    <script src="{% static 'astrobin_apps_platesolving/js/astrobin_apps_platesolving.js' %}"></script>
</head>

<body class="full">
{% cookielaw_banner %}

<div class="navbar navbar-fixed-top" id="top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{% url 'index' %}">
                <img src="{% static 'astrobin/images/astrobin-logo-small.png' %}" alt="AstroBin" />
            </a>

            <ul class="nav">
                <li>
                    <div class="full-title">
                        <span class="title">{{ image.title|escape|default:_("(no title)") }}</span>
                        <span class="subtitle">
                            (
                            {% if image.published %}
                                {{ image.published }}
                            {% else %}
                                {{ image.uploaded }}
                            {% endif %}

                            {% url 'user_page' image.user.username as the_url %}
                            {% blocktrans with user=image.user.userprofile %}by <a href="{{ the_url }}">{{ user }}</a>{% endblocktrans %}
                            )
                        </span>
                    </div>
                </li>
            </ul>
            <ul class="nav pull-right">
                {% with request.GET.mod as mod %}
                    <li>
                        {% if real %}
                            <a class="btn btn-primary navbar-btn" href="{% get_image_url image revision_label 'full' %}{% if mod %}{% query_string "mod=mod" "real" %}{% endif %}">
                                <i class="icon-resize-full"></i>
                                {% trans "Fit to window" %}
                            </a>
                        {% elif request.user|can_see_real_resolution:image %}
                            <a class="btn btn-primary navbar-btn" href="{% get_image_url image revision_label 'full' %}{% query_string "mod=mod,real=''" "" %}">
                                <i class="icon-fullscreen"></i>
                                {% trans "Full resolution" %}
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        <a class="btn navbar-btn" href=" {% get_image_url image revision_label %}{% if mod %}{% query_string "mod=mod" "real" %}{% endif %}">
                            <i class="icon-list-alt"></i>
                            {% trans "Technical card" %}
                        </a>
                    </li>
                {% endwith %}
            </ul>
        </div>
    </div>
</div>

<div id="full-size-image"{% if real %} class="real"{% endif %}>
    {% astrobin_image image alias revision=revision_label url_size='regular' %}

    {% if show_advanced_solution and not real %}
        <div
                class="astrobin-image-container hover-overlay hover-overlay-solution advanced-plate-solution show-ra-dec-coordinates"
                style="
                    max-width: {{ instance_to_platesolve | thumbnail_width:'hd' }}px;
                    max-height: {{ instance_to_platesolve | thumbnail_height:'hd' }}px;
                ">
            <a class="advanced-plate-solution"
               href="{% get_image_url image revision_label %}{% if mod %}{% query_string "mod=mod" "" %}{% endif %}">
                <object
                        id="advanced-plate-solution-svg"
                        onload="AstroBinPlatesolving.advancedSvgLoaded()"
                        type="image/svg+xml"
                        data="{% url 'astrobin_apps_platesolving.serve_svg' instance_to_platesolve.solution.pk 'hd' %}"
                        style="
                                max-width: {{ instance_to_platesolve | thumbnail_width:'hd' }}px;
                                max-height: {{ instance_to_platesolve | thumbnail_height:'hd' }}px;
                        ">
                </object>
                <div id="x-ruler"></div>
                <div id="y-ruler"></div>
            </a>
        </div>
    {% endif %}
</div>

<div id="ra-dec-coordinates" class="full">
    <div class="coordinates image-coordinates">
        <abbr title="{% trans 'Abscissa ' %}" class="x"></abbr>
        <abbr title="{% trans 'Ordinate' %}" class="y"></abbr>
    </div>
    <div class="coordinates equatorial-coordinates">
        <abbr title="{% trans 'Right ascension' %}" class="alpha"></abbr>
        <abbr title="{% trans 'Declination' %}" class="delta"></abbr>
    </div>
    <div class="coordinates ecliptic-coordinates">
        <abbr title="{% trans 'Ecliptic longitude' %}" class="lambda"></abbr>
        <abbr title="{% trans 'Ecliptic latitude' %}" class="beta"></abbr>
    </div>
    <div class="coordinates galactic-coordinates">
        <abbr title="{% trans 'Galactic longitude' %}" class="l"></abbr>
        <abbr title="{% trans 'Galactic latitude' %}" class="b"></abbr>
    </div>
    <div class="powered-by-pixinsight">
        <span>Powered by</span>
        <a href="https://pixinsight.com/" target="_blank">PixInsight</a>
    </div>
</div>

<script type="text/javascript" src="{% static 'common/js/jquery-1.8.3.js' %}"></script>
<script type="text/javascript" src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
<script type="text/javascript" src="{% static 'astrobin_apps_images/js/astrobin_apps_images.js' %}"></script>
<script src="{% static 'astrobin_apps_platesolving/js/CoordinateInterpolation.js' %}"></script>
<script src="{% static 'astrobin_apps_platesolving/js/astrobin_apps_platesolving_mousemove.js' %}"></script>
<script type="text/javascript" src="{% static 'astrobin/js/astrobin.js' %}"></script>
{% insert_hit_count_js_variables for image %}
<script type="text/javascript">
    $(document).ready(function () {
        astrobin_common.init_ajax_csrf_token();

        {% if instance_to_platesolve.solution|is_advanced_success_status %}
            new AstroBinPlatesolvingMouseMove(
                '{{ instance_to_platesolve.solution.advanced_ra_matrix }}'.split(',').map(parseFloat),
                '{{ instance_to_platesolve.solution.advanced_dec_matrix }}'.split(',').map(parseFloat),
                '{{ instance_to_platesolve.solution.advanced_matrix_rect }}'.split(',').map(parseFloat),
                parseFloat('{{ instance_to_platesolve.solution.advanced_matrix_delta }}'),
                {{ instance_to_platesolve | thumbnail_width:'hd' }},
                {{ instance_to_platesolve | thumbnail_height:'hd' }}
            );
        {% endif %}
    });
</script>
</body>
</html>

