@import "../../../styles/variables";

.navbar {
  background: url("/assets/images/darkest-background.png") repeat;
  color: $white;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.75);
  height: 3rem;
  font-size: .8rem;
}

.nav-item {
  margin-left: .75rem;
  font-size: .85rem;
}
