@import "../../../styles/variables";

.navbar {
  background: url("/assets/images/darkest-background.png") repeat;
  color: $white;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.75);
  height: 3rem;
  font-size: .8rem;
}

.nav-item {
  margin: 0 0 0 6px;

  .dropdown-toggle:not(.user-dropdown-toggle) {
    margin: 0;
    padding: 12px;

    &:hover {
      text-decoration: none;
    }

    &[aria-expanded="true"] {
      background: transparentize($white, 0.975);
    }
  }

  .user-dropdown-toggle {
    margin-top: 8px;
    padding: 4px 12px;
  }

  &.btn {
    margin-top: -4px;
  }

  &.quick-search {
    margin-top: 7px;
    margin-left: 12px;
  }

  .nav-link {
    display: inline-block;
    margin: 0;
    padding: 5px;
  }

  > .nav-link {
    padding: 10px;
  }

  .no-triangle::after {
    border: none;
  }
}
