{% extends "base.html" %}
{% load common_tags %}
{% load i18n %}
{% load avatar_tags %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    {% trans "Change avatar" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Users' None %}
    {% breadcrumb request.user.userprofile.get_display_name 'user_page' request.user.username %}
    {% breadcrumb 'Settings' None %}
    {% breadcrumb 'Avatar' None %}
    {% breadcrumb 'Change' None %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        {% include 'user/profile/edit/navigation.html' %}
        <div class="span9">
            {% if READONLY_MODE %}

                {% include 'readonly_mode.html' %}

            {% else %}

                <ul class="nav nav-tabs">
                    <li class="active"><a href="{% url 'avatar_change' %}">{% trans "Change" %}</a></li>
                    <li><a href="{% url 'avatar_delete' %}">{% trans "Delete" %}</a></li>
                </ul>

                {% if avatars %}
                    <div class="subtle-container">
                        <div class="header">
                            <h4>{% trans "Current avatar" %}</h4>
                        </div>
                        <div class="subtle-container-body">
                            <form class="current-avatar">
                                {% avatar user %}
                            </form>
                        </div>
                    </div>

                    <div class="subtle-container">
                        <div class="header">
                            <h4>{% trans "Choose new default" %}</h4>
                        </div>
                        <div class="subtle-container-body">
                            <form method="POST" action="{% url 'avatar_change' %}" class="avatar-change">
                                {% csrf_token %}
                                {{ primary_avatar_form|as_bootstrap }}
                                <button class="btn btn-primary {% button_loading_class %}" type="submit">
                                    {% trans "Choose new default" %}
                                    {% button_loading_indicator %}
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}

                <div class="subtle-container">
                    <div class="header">
                        <h4>{% trans "Upload a new image" %}</h4>
                    </div>
                    <div class="subtle-container-body">
                        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                            {% csrf_token %}
                            <input type="file" name="avatar" value="{% trans "Avatar image" %}" />
                            <button class="btn btn-primary {% button_loading_class %}" type="submit">
                                {% trans "Upload" %}
                                {% button_loading_indicator %}
                            </button>
                        </form>
                    </div>
                </div>

            {% endif %} {# READONLY #}
        </div>
    </div>
{% endblock %}
