{% extends "base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    {% trans "Avatar" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Users' None %}
    {% breadcrumb request.user.userprofile.get_display_name 'user_page' request.user.username %}
    {% breadcrumb 'Settings' None %}
    {% breadcrumb 'Avatar' None %}
{% endblock %}

{% block content %}
<div class="row-fluid">
    {% include 'user/profile/edit/navigation.html' %}
    <div class="span9">
        {% if READONLY_MODE %}
            {% include 'readonly_mode.html' %}
        {% else %}
            <div class="row-fluid">
                {% if avatars %}
                    <div class="span2">
                        <div class="well"><strong>{% trans "Current avatar" %}</strong></div>
                        {% avatar user %}
                    </div>

                {% else %}
                    <div class="span12">
                        <div class="alert alert-warning">
                            {% trans "You do not yet have an avatar. Please upload one now." %}
                        </div>
                    </div>
                {% endif %}

                {% if avatars %}
                    <div class="span10">
                        <div class="well"><strong>{% trans "Previously uploaded" %}</strong></div>
                        <form method="POST" action="{% url 'avatar_change' %}" class="avatar-change"> {% csrf_token %}
                            {{primary_avatar_form|as_bootstrap}}
                            <input class="btn btn-primary" type="submit" value="{% trans "Choose new default" %}" />
                        </form>
                    </div>
                {% endif %}
                    <div class="span12">
                        <div class="well"><strong>{% trans "Upload a new image" %}</div>
                        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}" class="form-inline"> {% csrf_token %}
                            <input type="file" name="avatar" value="{% trans "Avatar image" %}" />
                            <input class="btn btn-primary" type="submit" value="{% trans "Upload" %}" />
                        </form>
                    </div>
                </div>
            </div>
        {% endif %} {# READONLY #}
    </div>
</div>
{% endblock %}
