{% extends "base.html" %}

{% load common_tags %}
{% load i18n %}
{% load avatar_tags %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    {% trans "Delete avatars" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Users' None %}
    {% breadcrumb request.user.userprofile.get_display_name 'user_page' request.user.username %}
    {% breadcrumb 'Settings' None %}
    {% breadcrumb 'Avatar' None %}
    {% breadcrumb 'Delete' None %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        {% include 'user/profile/edit/navigation.html' %}
        <div class="span9">
            {% if READONLY_MODE %}

                {% include 'readonly_mode.html' %}

            {% else %}

                <ul class="nav nav-tabs">
                    <li><a href="{% url 'avatar_change' %}">{% trans "Change" %}</a></li>
                    <li class="active"><a href="{% url 'avatar_delete' %}">{% trans "Delete" %}</a></li>
                </ul>

                {% if avatars %}
                    <div class="subtle-container">
                        <div class="header">
                            <h4>{% trans "Delete avatar" %}</h4>
                        </div>
                        <div class="subtle-container-body">
                            <form method="POST" action="{% url 'avatar_delete' %}" class="avatar-delete">
                                {% csrf_token %}
                                {{ delete_avatar_form|as_bootstrap }}
                                <button class="btn btn-primary {% button_loading_class %}" type="submit">
                                    {% trans "Delete selected" %}
                                    {% button_loading_indicator %}
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}

            {% endif %} {# READONLY #}
        </div>
    </div>
{% endblock %}
