{% load i18n %}
{% load static %}

<h1>
    {% blocktrans trimmed %}
        Your image could not be automatically submitted for IOTD/TP consideration
    {% endblocktrans %}
</h1>

<br /><br />

<p>
    {% if image_thumbnail %}
        <a href="{{ url }}">
            <img src="{{ image_thumbnail }}" alt="{{ title }}" />
        </a>
    {% endif %}

    <br />

    {{ image.title }}
</p>

<br/><br/>

<p>
    <strong>{% trans "Reason" %}</strong>: {{ reason }}
</p>

{% if raw_reason == 'DID_NOT_AGREE_TO_RULES_AND_GUIDELINES' %}
    {% blocktrans trimmed with '<a href=""https://www.astrobin.com/profile/edit/preferences/">' as _0 and '</a>' as _1 %}
        You can find your preferences on the following page: {{ _0 }}Your preferences{{ _1 }}. Please look for the
        checkbox labelled "I agree to the IOTD/TP rules and guidelines". To submit your image for IOTD/TP consideration
        again, navigate to your image's page, find the "Actions" menu in the orange bar at the top, and click on
        "Submit for IOTD/TP consideration".
    {% endblocktrans %}
{% endif %}

<br/><br/>

<p>
    {% blocktrans trimmed %}
        The “AstroBin Image of the Day and Top Picks” is a long-running system to promote beautiful,
        interesting, peculiar, or otherwise amazing astrophotographs, with a focus on technical
        excellence.
    {% endblocktrans %}
</p>

<p>
{% blocktrans trimmed %}
    If you haven't already, please take a few minutes to learn how the process works:
{% endblocktrans %}
</p>

<p>
    <a href="https://welcome.astrobin.com/iotd" class="btn btn-primary">
        {% trans "Image of the Day" %}
    </a>
</p>

<p>
    {% blocktrans trimmed with url="https://welcome.astrobin.com/iotd#faq" %}
        If you have any questions, have a look at the <a href="{{ url }}">frequently asked questions</a>.
    {% endblocktrans %}
</p>

<p>
    {% url 'contact' as contact_url %}
    {% blocktrans trimmed with url=base_url|add:contact_url %}
        Finally, should you need any support, simply use the <a href="{{ url }}">contact form</a> or send
        an email to <a href="mailto:support@astrobin.com">support@astrobin.com</a>.
    {% endblocktrans %}
</p>
