{% load astrobin_apps_images_tags %}
{% load astrobin_apps_users_tags %}
{% load cache %}
{% load common_tags %}
{% load i18n %}
{% load staticfiles %}

{% if status != 'error' %}
    <div class="astrobin-image-container{% if classes %} {{classes}}{% endif %}">
        {% if error_message %}
            <div class="alert alert-error">
                <h4 class="alert-heading">
                    <i class="icon-fire"></i> {% trans "Error!" %}
                </h4>
                {{error_message}}
            </div>
        {% endif %}

        {% random_id %}

        {% if alias != 'histogram' %}
            {% if link %}
            <a href="{{url}}{% query_string "mod=mod,nc=nav_ctx,nce=nav_ctx_extra" "querystring_key,recent_images_page,public,staging,sub,s,q,t,d,license,camera_type,telescope_type,subject_type,pixel_size_min,pixel_size_max,field_radius_min,field_radius_max,integration_min,integration_max,moon_phase_min,moon_phase_max,country" %}">
            {% endif %}

                {% if badges %}
                    <ul class="badges">
                        {% for badge in badges %}
                            {% if badge == 'iotd' and alias != 'regular' and alias != 'regular_sharpened' %}
                                <li class="iotd-thumb-banner">
                                    <h2>
                                        <i class="icon iotd-badge icon-trophy"></i>
                                    </h2>
                                </li>
                            {% endif %}

                            {% if badge == 'top-pick' %}
                                <li class="top-pick-badge{% if alias == 'regular' or alias == 'regular_sharpened' %} top-pick-badge-large{% endif %}">
                                    <h2>
                                        <span>Top</span>
                                        <span>pick</span>
                                    </h2>
                                </li>
                            {% endif %}

                            {% if badge == 'top100' %}
                                <li class="top100-badge{% if alias == 'regular' or alias == 'regular_sharpened' %} top100-badge-large{% endif %}">
                                    <h2>
                                        <span>Top</span>
                                        <span>100</span>
                                    </h2>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %} {# badges #}
        {% endif %} {# not histogram #}
            <figure>
                <img
                    {% if thumb_url %}
                         src="{{thumb_url}}"
                         data-preloaded="true"
                         data-loaded="true"
                    {% else %}
                         {% if alias == 'gallery' %}
                            src="{% static 'astrobin/images/placeholder-gallery.jpg' %}"
                         {% else %}
                            {% if alias == 'story' %}
                                src="{% static 'astrobin/images/placeholder-stories.jpg' %}"
                            {% else %}
                                src="https://placehold.it/{{placehold_size}}/222/333&text={% trans "Loading" %}"
                            {% endif %}
                         {% endif %}
                         data-preloaded="false"
                         data-loaded="false"
                    {% endif %}

                     class="astrobin-image{% if real %} real{% endif %}"

                     {% if provide_size %}
                         width="{{size_x}}"
                         height="{{size_y}}"
                     {% endif %}

                     data-id="{{image.id}}"
                     data-alias="{{alias}}"
                     data-revision="{{revision}}"
                     data-get-thumb-url="{{get_thumb_url}}"
                     
                     data-hires-loaded="false"
                     {% if enhanced_thumb_url %}
                         data-enhanced-thumb-url="{{enhanced_thumb_url}}"
                     {% endif %}
                     {% if get_enhanced_thumb_url %}
                         data-get-enhanced-thumb-url="{{get_enhanced_thumb_url}}"
                     {% endif %}
                     alt="{{image.title|escape}}, {% astrobin_username image.user link=False %}" />

                {% if show_tooltip %}
                    <figcaption>
                        <h3>{{ image.title | escape | default:_("(no title)") }}</h3>
                        <h4>{% astrobin_username image.user link=False %}</h4>
                        {% if alias == 'gallery' %}
                            {% cache 43200 astrobin_image_caption caption_cache_key %}
                            <table class="table table-condensed">
                                <tr>
                                    <th><i class="icon-calendar"></i></th>
                                    {% if image.published %}
                                        <td>{{image.published|date:"SHORT_DATE_FORMAT"}}</td>
                                    {% else %}
                                        <td>{{image.uploaded|date:"SHORT_DATE_FORMAT"}}</td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <th><i class="icon-thumbs-up"></i></th>
                                    <td>{{image.likes}}</td>
                                </tr>

                                <tr>
                                    <th><i class="icon-bookmark"></i></th>
                                    <td>{{image.bookmarks}}</td>
                                </tr>

                                {% if image.views %}
                                    <tr>
                                        <th><i class="icon-eye-open"></i></th>
                                        <td>{{image.view}}</td>
                                    </tr>
                                {% endif %}
                            </table>
                            {% endcache %}
                        {% endif %}
                    </figcaption>
                {% endif %}
            </figure>
        {% if alias != 'histogram' and link %}
        </a>
        {% endif %}
    </div>
{% endif %}
