{% load astrobin_apps_images_tags %}
{% load common_tags %}
{% load i18n %}

<div class="astrobin-image-container

    {% if alias == 'regular_solved_overlay' %}
        plot-overlay
    {% endif %}
">

    <a
        {% if show_tooltip %}
            rel="tooltip"
            title="{{image.title|escape}}, {% trans "by" %} {{image.user.userprofile}}"
        {% endif %}

        href="{{url}}{% if mod %}{% query_string "mod=mod" "" %}{% endif %}">

        {% if alias != 'iotd' and image.iotd_date %}
            <div class="iotd-thumb-banner{% if alias == 'runnerup' %} iotd-thumb-banner-tiny{% endif %}">
                <h2>
                    <i class="icon icon-trophy"></i>
                </h2>
            </div>
        {% endif %}

        <img src="http://placehold.it/{{placehold_size}}/222/333&text=AstroBin / {% trans "Loading" %}..."
             class="astrobin-image{% if real %} real{% endif %}"
             data-id="{{image.id}}"
             data-loaded="false"
             data-alias="{{alias}}"
             data-revision="{{revision}}"
             data-mod="{{mod}}"
             alt="{{image.title|escape}}" />
    </a>
</div>
