.idea
.DS_Store
*.bak
*.Plo
*.Po
*.a
*.pyc
*.so
*.swp
*.swo
*.dep
*.la
*.lo
#*.o
*.mo
*.orig
*.pid
*.log*
!docker/astrobin.logrotate.conf
*.err
*.po~
.dirstamp
cover/
.coverage
coverage.xml
env/dev
/src
/docker/astrobin.env
/docker/secrets.env
/ssl-certs
astrobin-mobile.css
astrobin.css
*.scssc
*.css.map
node_modules
/cypress/videos/
