*.Plo
*.Po
*.a
*.pyc
*.so
*.swp
*.swo
*.dep
*.la
*.lo
*.o
*.mo
*.orig
astrobin.db
*.pid
*.log
.dirstamp
static/CACHE
uploads/*
venv
vpip
xapian-core-1.2.6/build
xapian-bindings-1.2.6/build
xapian_indexes
celerybeat-schedule
celerybeat.pid
celeryd.log
nginx-1.0.4/Makefile
nginx-1.0.4/objs/
data/cities.txt

xapian-bindings-1.2.6/Makefile
xapian-bindings-1.2.6/config.h
xapian-bindings-1.2.6/config.status
xapian-bindings-1.2.6/csharp/AssemblyInfo.cs
xapian-bindings-1.2.6/csharp/Makefile
xapian-bindings-1.2.6/java-swig/Makefile
xapian-bindings-1.2.6/java/Makefile
xapian-bindings-1.2.6/java/native/Makefile
xapian-bindings-1.2.6/java/org/xapian/Makefile
xapian-bindings-1.2.6/java/org/xapian/errors/Makefile
xapian-bindings-1.2.6/java/org/xapian/examples/Makefile
xapian-bindings-1.2.6/libtool
xapian-bindings-1.2.6/lua/Makefile
xapian-bindings-1.2.6/perl/.libs/Xapian.lai
xapian-bindings-1.2.6/perl/Makefile
xapian-bindings-1.2.6/perl/util.i
xapian-bindings-1.2.6/php/Makefile
xapian-bindings-1.2.6/python/.libs/_xapian.lai
xapian-bindings-1.2.6/python/Makefile
xapian-bindings-1.2.6/python/xapian/__init__.py
xapian-bindings-1.2.6/python/xapian/__init__.pyo
xapian-bindings-1.2.6/ruby/Makefile
xapian-bindings-1.2.6/stamp-h1
xapian-bindings-1.2.6/tcl8/Makefile
xapian-bindings-1.2.6/tcl8/pkgIndex.tcl
xapian-bindings-1.2.6/xapian-version.h

xapian-core-1.2.6/.libs/libxapian.lai
xapian-core-1.2.6/.libs/libxapian.so.22
xapian-core-1.2.6/.libs/libxapian.so.22.4.0
xapian-core-1.2.6/Makefile
xapian-core-1.2.6/bin/.libs/xapian-check
xapian-core-1.2.6/bin/.libs/xapian-chert-update
xapian-core-1.2.6/bin/.libs/xapian-compact
xapian-core-1.2.6/bin/.libs/xapian-inspect
xapian-core-1.2.6/bin/.libs/xapian-progsrv
xapian-core-1.2.6/bin/.libs/xapian-replicate
xapian-core-1.2.6/bin/.libs/xapian-replicate-server
xapian-core-1.2.6/bin/.libs/xapian-tcpsrv
xapian-core-1.2.6/bin/xapian-check
xapian-core-1.2.6/bin/xapian-chert-update
xapian-core-1.2.6/bin/xapian-compact
xapian-core-1.2.6/bin/xapian-inspect
xapian-core-1.2.6/bin/xapian-progsrv
xapian-core-1.2.6/bin/xapian-replicate
xapian-core-1.2.6/bin/xapian-replicate-server
xapian-core-1.2.6/bin/xapian-tcpsrv
xapian-core-1.2.6/cmake/xapian-config-version.cmake
xapian-core-1.2.6/cmake/xapian-config.cmake
xapian-core-1.2.6/config.h
xapian-core-1.2.6/config.status
xapian-core-1.2.6/docs/Makefile
xapian-core-1.2.6/docs/doxygen_api.conf
xapian-core-1.2.6/docs/doxygen_source.conf
xapian-core-1.2.6/docs/gen_codestructure_doc
xapian-core-1.2.6/examples/.libs/copydatabase
xapian-core-1.2.6/examples/.libs/delve
xapian-core-1.2.6/examples/.libs/quest
xapian-core-1.2.6/examples/.libs/simpleexpand
xapian-core-1.2.6/examples/.libs/simpleindex
xapian-core-1.2.6/examples/.libs/simplesearch
xapian-core-1.2.6/examples/.libs/xapian-metadata
xapian-core-1.2.6/examples/copydatabase
xapian-core-1.2.6/examples/delve
xapian-core-1.2.6/examples/quest
xapian-core-1.2.6/examples/simpleexpand
xapian-core-1.2.6/examples/simpleindex
xapian-core-1.2.6/examples/simplesearch
xapian-core-1.2.6/examples/xapian-metadata
xapian-core-1.2.6/include/xapian/version.h
xapian-core-1.2.6/include/xapian/version.h.timestamp
xapian-core-1.2.6/languages/generate-allsnowballheaders
xapian-core-1.2.6/libtool
xapian-core-1.2.6/makemanpage
xapian-core-1.2.6/stamp-h1
xapian-core-1.2.6/tests/Makefile
xapian-core-1.2.6/tests/perftest/get_machine_info
xapian-core-1.2.6/tests/runsrv
xapian-core-1.2.6/tests/runtest
xapian-core-1.2.6/tests/submitperftest
xapian-core-1.2.6/xapian-config
