.DS_Store
*.Plo
*.Po
*.a
*.pyc
*.so
*.swp
*.swo
*.dep
*.la
*.lo
*.o
*.mo
*.orig
astrobin.db
*.pid
*.log
*.err
*.po~
.dirstamp
static/CACHE
uploads/*
venv
vpip
celerybeat-schedule
celerybeat.pid
celeryd.log
cover/
.coverage
.vagrant/
env/dev
/src
