[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = https://github.com/siovene/bootstrap.git
[submodule "submodules/abc"]
	path = submodules/abc
	url = https://siovene@bitbucket.org/siovene/abc.git
