-e git+https://github.com/astrobin/django-change-email.git@a3508ea9736758081f460b1bae49dcb0153f7507#egg=django_change_email
-e git+https://github.com/astrobin/django-hitcount.git@3acf5bdb9728ca8c38cd792dd746114c9076ae88#egg=django_hitcount
-e git+https://github.com/astrobin/django-notification.git@9293ab2880b1b0a13bcd0aec267d74c92aff1421#egg=django_notification
-e git+https://github.com/astrobin/django-persistent-messages.git@bf1911aeb61941156457fbf2082b4cfe9d379493#egg=django_persistent_messages
-e git+https://github.com/astrobin/django-subscription.git@37491e1de5bd450cd0c850923b5ae16cf6d8ca29#egg=django_subscription
-e git+https://github.com/astrobin/django-threaded-messages.git@9966694e8c92f4814ca4635dffadef5fdf70d37b#egg=django_threaded_messages
-e git+https://github.com/astrobin/easy-thumbnails.git@c82fe8d270c36ae53114f0421630cef1945fa866#egg=easy-thumbnails
-e git+https://github.com/nickhargreaves/django-bootstrap-toolkit.git@edbfafbd01705aed0580205a81323d1545e4d733#egg=django_bootstrap_toolkit
-e git+https://github.com/siovene/django.js.git@bee62fca8fb814fdccd8cbd837008e2e761a277f#egg=django.js
-e git+https://github.com/siovene/pybbm.git@1658f189908ee664530f663dfd37da4ee9ad45ae#egg=pybbm
-e git+https://github.com/astrobin/django-otp.git@892fedb74a9106387d47021b5f9c6ba0b1ffac54#egg=django_otp
-e git+https://github.com/caktus/django-celery-monitor.git@3ad31848901fd8c095cf541b76c1c645d83130f4#egg=django-celery-monitor
amqp==2.6.1
amqplib==1.0.2
anyjson==0.3.3
asgiref==3.6.0
asn1crypto==1.5.1
async-timeout==4.0.3
autopep8==1.7.0
awscli==1.19.112
babel==2.15.0
backports-abc==0.5
backports.zoneinfo==0.2.1
bbcode==1.1.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
bleach==3.3.1
boto3==1.17.112
botocore==1.20.112
cachetools==5.5.2
cairocffi==1.3.0
cairosvg==2.7.0
ccy==1.2.2
celery[redis]==4.4.7
celery-haystack==0.10
certifi==2024.7.4
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.2.0
click==7.1.2
cssmin==0.2.0
Coffin==2.0.1
colorama==0.4.6
configparser==4.0.2
confusable-homoglyphs==3.2.0
contextlib2==0.6.0.post1
coverage==5.5
cryptography==3.4.7
cssmin==0.2.0
cssselect==1.1.0
cssselect2==0.4.1
decorator==4.4.2
defusedxml==0.7.1
django-activity-stream[jsonfield]==0.10.0
django-annoying==0.10.6
django-appconf==1.0.4
django-avatar==5.0.0
django-bootstrap-breadcrumbs==0.9.2
django-bouncy==0.2.8
django-braces==1.15.0
django-celery-beat==2.2.1
django-celery-email==3.0.0
django-classy-tags==2.0.0
django-contrib-comments==2.1.0
django-cookie-consent==0.3.1
django-cors-middleware==1.5.0
django-crispy-forms==1.14.0
django-debug-toolbar-template-profiler==2.1.0
django-debug-toolbar-template-timings==0.9
django-debug-toolbar==3.2.1
django-easysettings==2.0.1
django-el-pagination==3.3.0
django-extensions==3.1.3
django-filter==2.4.0
django-formtools===2.4
django-haystack==3.1.1
django-image-cropping==1.5.0
django-jsonfield-backport==1.0.5
django-keyedcache==1.5.1
django-kombu==0.9.4
django-markup-deprecated==0.0.4
django-model-utils==4.2.0
django-multidb-router==0.10
django-paypal==2.0
django-phonenumber-field==6.4.0
django-pipeline==2.0.8
django-precise-bbcode==1.2.13
django-pwnedpasswords-validator==1.0.1
django-redis==5.2.0
django-registration==2.5.2
django-robots==6.1
django-safedelete==1.1.2
django-split-settings==0.3.0
django-storages==1.11.1
django-tagging==0.5.0
django-tastypie==0.14.4
django-tinymce==3.4.0
django-timezone-field==4.1.2
django-two-factor-auth==1.14.0
django-user-agents==0.4.0
django-xmlrpc==0.1.8
Django==2.2.24
djangorestframework-camel-case==1.2.0
djangorestframework==3.15.2
docutils==0.18.1
drf-haystack==1.8.11
elasticsearch==2.4.1
enum34==1.1.10
exceptiongroup==1.2.1
fanstatic==1.1
flickrapi==2.4.0
flower==0.9.7
funcsigs==1.0.2
future==0.18.3
futures==3.1.1
fuzzywuzzy[speedup]==0.18.0
geographiclib==2.0
geoip2==3.0.0
geopy==2.4.1
gevent==21.12.0
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-core==2.4.2
google-cloud-translate==3.20.1
googleapis-common-protos==1.68.0
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
gprof2dot==2021.2.21
greenlet==1.1.3.post0
gunicorn==20.1.0
hiredis==2.3.2
html5lib==1.1
httplib2==0.20.4
humanize==4.2.3
idna==3.7
imageio==2.31.1
imageio-ffmpeg==0.4.8
importlib-metadata==2.1.3
importlib-resources==6.4.0
importmagic3==0.2.0
iniconfig==2.0.0
ipaddress==1.0.23
IPy==1.01
jedi==0.17.2
Jinja2==2.11.3
jmespath==0.10.0
js.tinymce==4.5.4
jsmin==3.0.1
kombu==4.6.11
langdetect==1.0.9
lamson==1.3.4
lockfile==0.12.2
log-colorizer==2.0.0
longerusername==0.4
lxml==4.9.2
MarkupSafe==1.1.1
maxminddb==2.0.3
mimeparse==0.1.3
mock==3.0.5
moviepy==1.0.3
msgpack==1.0.8
mwclient==0.10.1
nose==1.3.7
numpy==1.22.0
oauth2==1.9.0.post1
oauthlib==3.1.0
odict==1.8.0
olefile==0.46
packaging==21.0
parso==0.7.1
Paste==3.5.2
pathlib2==2.3.7.post1
pbr==5.8.0
pem==21.2.0
phonenumbers==8.13.4
Pillow==8.4.0
pluggy==1.5.0
ply==3.11
pprintpp==0.4.0
prometheus-client==0.8.0
proglog==0.1.10
proto-plus==1.26.0
protobuf==5.29.3
psycopg2==2.9.1
psutil==5.9.8
pyasn1==0.4.8
pyasn1-modules==0.4.1
pycodestyle==2.8.0
pycountry==24.6.1
pycountry-convert==0.7.2
pycparser==2.21
pyflakes==2.4.0
Pygments==2.15.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyquery==1.4.3
pystache==0.6.0
pytest==8.2.2
pytest-cov==5.0.0
pytest-mock==3.14.0
python-crontab==2.6.0
python-daemon==2.3.0
python-dateutil==2.8.2
python-Levenshtein==0.12.2
python-magic==0.4.27
python-mimeparse==1.6.0
python-modargs==1.7
pytz==2021.3
PyYAML==5.4.1
qrcode==7.3.1
pwnedpasswords==2.0.0
rcssmin==1.1.1
redis[hiredis]==5.0.1
regex==2022.1.18
repoze.lru==0.7
requests-aws4auth==1.1.2
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
requests==2.32.0
rjsmin==1.2.1
rsa==4.7.2
s3transfer==0.4.2
scandir==1.10.0
sentry-sdk[django]==1.40.4
simplejson==3.17.6
singledispatch==3.7.0
six==1.16.0
slimit==0.8.1
soupsieve==2.2.1
spark-parser==1.8.9
sphinx-me==0.3
SQLAlchemy==1.4.45
sqlparse==0.5.0
stripe==3.2.0
tblib==1.7.0
termcolor==1.1.0
tqdm==4.66.3
toml==0.10.2
tornado==6.1
tinycss2==1.1.0
ua-parser==0.10.0
uncompyle6==3.8.0
Unidecode==1.3.1
urllib3==1.26.19
user-agents==2.2.0
vine==1.3.0
watchtower==1.0.6
webencodings==0.5.1
wrapt==1.16.0
WebOb==1.8.8
wrapt==1.16.0
Werkzeug==1.0.1
xdis==6.0.5
yolk==0.4.3
zipp==3.19.2
zope.event==4.5.0
zope.interface==5.4.0
