-e git+https://github.com/astrobin/django-change-email.git@a3508ea9736758081f460b1bae49dcb0153f7507#egg=django_change_email
-e git+https://github.com/astrobin/django-hitcount.git@3acf5bdb9728ca8c38cd792dd746114c9076ae88#egg=django_hitcount
-e git+https://github.com/astrobin/django-notification.git@9293ab2880b1b0a13bcd0aec267d74c92aff1421#egg=django_notification
-e git+https://github.com/astrobin/django-persistent-messages.git@39ff78a88cd6338179924a9855786551934d7979#egg=django_persistent_messages
-e git+https://github.com/astrobin/django-subscription.git@1fa52045b32c8c4d468e4f04d38995101171bd0d#egg=django_subscription
-e git+https://github.com/astrobin/django-threaded-messages.git@9966694e8c92f4814ca4635dffadef5fdf70d37b#egg=django_threaded_messages
-e git+https://github.com/astrobin/easy-thumbnails.git@09174c9c4fef1e2b4363e8f0e43c854a82f3b7f6#egg=easy-thumbnails
-e git+https://github.com/nickhargreaves/django-bootstrap-toolkit.git@edbfafbd01705aed0580205a81323d1545e4d733#egg=django_bootstrap_toolkit
-e git+https://github.com/siovene/django.js.git@bee62fca8fb814fdccd8cbd837008e2e761a277f#egg=django.js
-e git+https://github.com/siovene/pybbm.git@168c19e7d5399ee3faa1970444d8d4d6372753e5#egg=pybbm
amqp==2.6.1
amqplib==1.0.2
anyjson==0.3.3
asn1crypto==1.4.0
autopep8==1.5.7
awscli==1.19.112
backports-abc==0.5
bbcode==1.1.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
bleach==3.3.1
boto3==1.17.112
botocore==1.20.112
ccy==1.2.2
celery[redis]==4.4.7
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==7.1.2
Coffin==2.0.1
colorama==0.4.4
configparser==4.0.2
confusable-homoglyphs==3.2.0
contextlib2==0.6.0.post1
coverage==5.5
cryptography==3.4.7
cssmin==0.2.0
cssselect==1.1.0
defusedxml==0.7.1
django-activity-stream==0.10.0
django-annoying==0.10.6
django-appconf==1.0.4
django-avatar==5.0.0
django-bootstrap-breadcrumbs==0.9.2
django-bouncy==0.2.8
django-braces==1.14.0
django-cachalot==2.4.3
django-celery-beat==2.2.1
django-celery-email==3.0.0
django-celery-monitor==1.1.2
django-classy-tags==2.0.0
django-contrib-comments==2.1.0
django-cookie-law==2.1.0
django-cors-middleware==1.5.0
django-crispy-forms==1.12.0
django-debug-toolbar-template-timings==0.9
django-debug-toolbar==3.2.1
django-easysettings==2.0.1
django-el-pagination==3.3.0
django-extensions==3.1.3
django-filter==2.4.0
django-haystack==3.1.1
django-image-cropping==1.5.0
django-keyedcache==1.5.1
django-kombu==0.9.4
django-maintenancemode==0.11.6
django-markup-deprecated==0.0.4
django-model-utils==4.1.1
django-multidb-router==0.9
django-paypal==0.5.0
django-pipeline==2.0.6
django-precise-bbcode==1.2.13
django-recaptcha==2.0.6
django-redis==5.0.0
django-registration==2.5.2
django-robots==4.0
django-safedelete==1.1.0
django-silk==4.1.0
django-split-settings==0.3.0
django-storages==1.11.1
django-tagging==0.5.0
django-tastypie==0.14.3
django-tinymce==3.3.0
django-timezone-field==4.1.2
django-user-agents==0.4.0
django-xmlrpc==0.1.8
Django==2.2.24
djangorestframework-camel-case==1.2.0
djangorestframework==3.12.4
docutils==0.17.1
elasticsearch==2.4.1
enum34==1.1.10
fanstatic==1.1
flickrapi==2.4.0
funcsigs==1.0.2
future==0.18.2
futures==3.1.1
fuzzywuzzy[speedup]==0.18.0
geoip2==3.0.0
gevent==21.8.0
gprof2dot==2021.2.21
greenlet==1.1.1
gunicorn==20.1.0
html2bbcode==2.3.3
html5lib==1.1
httplib2==0.19.1
idna==3.2
importlib-metadata==2.1.1
importmagic3==0.2.0
ipaddress==1.0.23
IPy==1.01
jedi==0.17.2
Jinja2==2.11.3
jmespath==0.10.0
js.tinymce==4.5.4
jsmin==2.2.2
kombu==4.6.11
lamson==1.3.4
lockfile==0.12.2
log-colorizer==1.8.6
longerusername==0.4
lxml==4.6.3
MarkupSafe==1.1.1
maxminddb==2.0.3
mimeparse==0.1.3
mock==3.0.5
mwclient==0.10.1
nose==1.3.7
numpy==1.21.0
oauth2==1.9.0.post1
oauthlib==3.1.0
odict==1.7.0
olefile==0.46
packaging==21.0
parso==0.7.1
Paste==3.5.0
pathlib2==2.3.6
pbr==5.6.0
pem==21.2.0
Pillow==8.3.0
ply==3.11
psycopg2==2.9.1
pyasn1==0.4.8
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.9.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyquery==1.4.3
pystache==0.5.4
python-crontab==2.5.1
python-daemon==2.3.0
python-dateutil==2.8.2
python-Levenshtein==0.12.2
python-magic==0.4.24
python-mimeparse==1.6.0
python-modargs==1.7
pytz==2021.1
PyYAML==5.4.1
rcssmin==1.0.6
redis==3.5.3
requests-aws4auth==1.1.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests==2.26.0
rjsmin==1.1.0
rsa==4.7.2
s3transfer==0.4.2
scandir==1.10.0
simplejson==3.17.5
singledispatch==3.7.0
six==1.16.0
slimit==0.8.1
soupsieve==2.2.1
spark-parser==1.8.9
sphinx-me==0.3
SQLAlchemy==1.4.25
sqlparse==0.4.1
stripe==2.60.0
tblib==1.7.0
termcolor==1.1.0
tornado==6.1
ua-parser==0.10.0
uncompyle6==3.7.4
Unidecode==1.3.1
urllib3==1.26.6
user-agents==2.2.0
vine==1.3.0
watchtower==1.0.6
webencodings==0.5.1
WebOb==1.8.7
Werkzeug==1.0.1
xdis==5.0.12
yolk==0.4.3
zipp==1.2.0
zope.event==4.5.0
zope.interface==5.4.0
