amqp==2.5.2
amqplib==1.0.2
anyjson==0.3.3
asn1crypto==0.24.0
autopep8==1.5.2
backports-abc==0.5
bbcode==1.1.0
BeautifulSoup==3.2.2
beautifulsoup4==4.6.0
beautifulsoupselect==0.2
billiard==3.6.3.0
bleach==3.1.4
boto==2.49.0
boto3==1.13.5
botocore==1.16.4
ccy==0.7.0
celery==4.4.2
celery-haystack==0.10
certifi==2017.11.5
cffi==1.14.0
chardet==3.0.4
click==6.7
codecov==2.0.22
Coffin==2.0.1
confusable-homoglyphs==3.2.0
coverage==4.5.4
cryptography==2.9.2
cssmin==0.2.0
cssselect==1.1.0
defusedxml==0.6.0
Django==1.11.29
-e git+https://github.com/astrobin/django-activity-stream.git@c6eb3bab372414f1db9fc38515295d7235b032e8#egg=django_activity_stream
django-annoying==0.10.6
django-appconf==1.0.2
django-avatar==4.1.0
django-bootstrap-breadcrumbs==0.9.2
-e git+https://github.com/nickhargreaves/django-bootstrap-toolkit.git@edbfafbd01705aed0580205a81323d1545e4d733#egg=django_bootstrap_toolkit
django-bouncy==0.2.8
django-braces==1.14.0
django-celery-beat==1.1.0
django-celery-email==2.0.0
-e git+https://github.com/astrobin/django-change-email.git@e64be68dd0b3b36e8c683fd4a101842d0fe4e1cb#egg=django_change_email
django-classy-tags==0.9.0
django-contact-form-gv==0.7.0
django-contrib-comments==1.9.2
-e git+https://github.com/siovene/snakecheese.git@72c5c7be4a5ae19c9054f11c8cedb68dd661fd65#egg=django_contrib_requestprovider&subdirectory=gadjolib
django-cookie-law==2.0.3
django-cors-middleware==1.5.0
django-crispy-forms==1.7.0
django-debug-toolbar==1.11
django-debug-toolbar-template-timings==0.9
-e git+https://github.com/siovene/django-dfp.git@1da94954a6f2211538fcdde2b8e98497357220e9#egg=django_dfp
django-easysettings==1.1
django-el-pagination==3.3.0
-e git+https://github.com/siovene/django-ember.git@b925ecd22c8008ccb339a4977d0081972c58f39f#egg=django_ember
django-extensions==2.2.9
django-filter==1.1.0
django-followit==0.4.1
django-haystack==2.6.1
django-hitcount==1.3.2
-e git+https://github.com/ui/django-html_sanitizer.git@63311131630471ef2315f1ddbbd18354159d24c1#egg=django_html_sanitizer
django-image-cropping==1.1.0
django-keyedcache==1.5.1
django-kombu==0.9.4
django-maintenancemode==0.11.3
django-markup-deprecated==0.0.3
django-memcached==0.1.2
django-model-utils==3.2.0
django-modeltranslation==0.12.1
django-mptt==0.8.7
django-multidb-router==0.9
-e git+https://github.com/astrobin/django-notification.git@094c70829e2540f13268adf006b2f0f040cb3b27#egg=django_notification
django-paypal==0.5.0
-e git+https://github.com/astrobin/django-persistent-messages.git@624d4d34fb745b96a30e69c02940efb651c84baf#egg=django_persistent_messages
django-pipeline==1.6.13
django-precise-bbcode==1.2.8
django-progressbarupload==0.1.7
django-recaptcha-works==0.3.4
django-registration==2.4.1
django-reviews==1.2.1
django-robots==3.0
django-safedelete==0.4.5
django-silk==2.0.0
django-split-settings==0.3.0
django-staticfiles==1.2.1
django-storages==1.9.1
-e git+https://github.com/siovene/django-subscription.git@662487f36472eec1891a32835e4fcf7d97f4f623#egg=django_subscription
django-tagging==0.4.5
django-tastypie==0.13.3
-e git+https://github.com/astrobin/django-threaded-messages.git@da86dea6dd854f9ab37201d3953f9d028faa85e9#egg=django_threaded_messages
django-timezones==0.2
django-tinymce==2.6.0
django-user-agents==0.3.0
django-xmlrpc==0.1.7
-e git+https://github.com/siovene/django.js.git@bee62fca8fb814fdccd8cbd837008e2e761a277f#egg=django.js
djangorestframework==3.6.3
djangorestframework-camel-case==1.0.3
docutils==0.13.1
easy-thumbnails==2.4.1
elasticsearch==5.4.0
enum34==1.1.6
fanstatic==0.16
flickrapi==2.3
funcsigs==1.0.2
futures==3.1.1
geoip2==2.9.0
gevent==1.4.0
gprof2dot==2016.10.13
greenlet==0.4.15
gunicorn==19.7.1
gunicorn-console==0.1.16
html5lib==0.999999999
httplib2==0.10.3
idna==2.5
importmagic3==0.2.0
ipaddress==1.0.19
IPy==0.83
jedi==0.11.1
Jinja2==2.11.2
jmespath==0.9.5
js.tinymce==4.5.4
jsmin==2.2.2
kombu==4.1.0
lamson==1.3.4
lockfile==0.12.2
log-colorizer==1.8.5
longerusername==0.4
lxml==3.8.0
Markdown==2.6.11
markdown2==2.3.8
MarkupSafe==1.1.1
maxminddb==1.4.1
mimeparse==0.1.3
mock==2.0.0
mwclient==0.8.5
newrelic==2.106.1.88
nose==1.3.7
numpy==1.16.2
oauth2==1.9.0.post1
oauthlib==2.0.2
odict==1.5.2
olefile==0.44
parso==0.1.1
Paste==2.0.3
pbr==3.0.1
pem==17.1.0
Pillow==4.3.0
ply==3.10
psycopg2==2.7.1
-e git+https://github.com/siovene/pybbm.git@ddf640fcae1889601a293c210ec6eb9e624207f3#egg=pybbm
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.5.0
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyquery==1.2.17
pyrg==0.2.6
pystache==0.5.4
python-daemon==2.1.2
python-dateutil==2.6.0
python-http-client==3.0.0
python-magic==0.4.15
python-memcached==1.58
python-mimeparse==1.6.0
python-modargs==1.7
pytz==2017.3
PyYAML==5.3.1
rcssmin==1.0.6
redis==2.10.6
requests==2.20.1
requests-aws4auth==0.9
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rjsmin==1.0.12
s3transfer==0.3.3
sendgrid==5.3.0
setproctitle==1.1.10
simplejson==3.10.0
singledispatch==3.4.0.3
six==1.10.0
slimit==0.8.1
spark-parser==1.8.5
sphinx-me==0.3
SQLAlchemy==1.3.16
sqlparse==0.2.3
termcolor==1.1.0
tornado==4.5.1
typing==3.7.4.1
ua-parser==0.7.3
uncompyle6==2.15.1
Unidecode==0.04.21
urllib3==1.24.2
user-agents==1.1.0
vine==1.1.4
watchtower==0.7.3
webencodings==0.5.1
WebOb==1.8.6
Werkzeug==0.16.1
xdis==3.6.11
yolk==0.4.3
