{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="info-side-bar">
    <ul>
        <li><a href="{% url auth_password_reset %}">{% trans "Reset password" %}</a></li>
        <li class="last"><a href="{% url registration_register %}">{% trans "Register" %}</a></li>
    </ul>
</div>

<div class="sided-main-content">
<h1>{% trans "Login with AstroBin" %}</h1>
<form method="post" action=".">
  {{ form.as_p }}
  <input class="button submit-button" type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}
