{% load i18n %}

<p>
    {% blocktrans trimmed %}
        <a href="{{ user_url }}">{{ user }}</a> proposed an edit to the equipment item
        <a href="{{ item_url }}">{{ item }}</a>.
    {% endblocktrans %}
</p>

<p>
    {% if item.reviewer_decision == None %}
        <strong>{% trans "Please note" %}</strong>:
        {% blocktrans trimmed %}
            This item has not been approved yet, therefore is not yet officially part of AstroBin's equipment database.
            Please review this edit proposal as soon as possible to prevent the possibility that this item be rejected.
        {% endblocktrans %}
    {% else %}
        {% blocktrans trimmed %}
            Please review it as soon as possible.
        {% endblocktrans %}
    {% endif %}
</p>

<p>
    <em>
        {% blocktrans trimmed %}
            You received this notification because you created this equipment item, or you
            created/approved/rejected/commented an edit proposal for this item in the past.
        {% endblocktrans %}
    </em>
</p>

<p>
    <a href="{{ edit_proposal_url }}" class="btn btn-primary">
        {% trans "View edit proposal" %}
    </a>
</p>
