{% load astrobin_apps_donations_tags %}
{% load astrobin_apps_premium_tags %}
{% load astrobin_apps_users_tags %}
{% load avatar_tags %}
{% load cache %}
{% load i18n %}
{% load toggleproperty_tags %}

{% get_current_language as LANGUAGE_CODE %}

{% if view == 'default' %}
    <div class="subtle-container user-card">
        <div class="header">
            <h4>{% astrobin_username user link=False %}</h4>
        </div>

        <div class="avatar">
            <a href="
                {% if request.user == user %}
                    {% url 'avatar_change' %}

                {% else %}
                    {% url 'user_page' user.username %}
                {% endif %}
            ">
                {% avatar user 194 %}

                {% if DONATIONS_ENABLED %}
                    {% donor_badge user 'large' %}
                {% endif %}

                {% if PREMIUM_ENABLED %}
                    {% premium_badge user 'large' %}
                {% endif %}

                {% if request.user == user %}
                    <i class="icon icon-pencil edit"></i>
                {% endif %}
            </a>

            {% if request.user != user %}
                {% add_remove_toggleproperty "follow" user request_user %}
            {% endif %}
        </div>

        <div id="profile-details">
            {% cache 300 astrobin_user user.username view LANGUAGE_CODE user_is_owner %}
                <ul>
                    <li>
                        <a href="{% url 'user_page' user.username %}?sub=uploaded">
                            <strong>{{ images }}</strong> {% trans "Images" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'user_page_followers' user.username %}">
                            <strong>{{ followers }}</strong> {% trans "Followers" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'user_page_following' user.username %}">
                            <strong>{{ following }}</strong> {% trans "Following" %}
                        </a>
                    </li>
                </ul>
            {% endcache %}
        </div>
    </div>

    {% if request.user == user and DONATIONS_ENABLED and user|is_donor %}
        {% thank_you_for_your_donations %}
    {% endif %}
{% endif %}

{% if view == 'table' %}
    <td class="user-list-avatar">
        <a href="{% url 'user_page' user.username %}">
            {% avatar user 20 %}
        </a>
    </td>

    <td class="user-list-name">{% astrobin_username user %}</td>

    {% if layout == 'default' %}
        <td class="user-list-images">
            {{images}}
        </td>

        <td class="user-list-followers">
            {{followers}}
        </td>


        <td class="user-list-following">
            {{following}}
        </td>
    {% endif %}

    <td class="user-list-follow-action">
        {% if request.user != user %}
            {% add_remove_toggleproperty "follow" user request_user %}
        {% endif %}
    </td>
{% endif %}
