{% load astrobin_apps_donations_tags %}
{% load astrobin_apps_premium_tags %}
{% load avatar_tags %}
{% load cache %}
{% load i18n %}
{% load toggleproperty_tags %}

{% get_current_language as LANGUAGE_CODE %}

{% if view == 'default' %}
    <div class="subtle-container user-card hidden-phone">
        <div class="header">
            <h4>
                {{user.userprofile}}
            </h4>
        </div>

        <div class="avatar">
            <a href="{% url 'user_page' user.username %}">
                <span class="hidden-phone hidden-tablet">{% avatar user 194 %}</span>
                <span class="visible-tablet">{% avatar user 140 %}</span>

                {% if DONATIONS_ENABLED %}
                    {% donor_badge user 'large' %}
                {% endif %}

                {% if PREMIUM_ENABLED %}
                    {% premium_badge user 'large' %}
                {% endif %}
            </a>

            {% if request.user != user %}
                <div class="hidden-phone hidden-tablet">
                    {% add_remove_toggleproperty "follow" user request_user %}
                </div>
            {% endif %}
        </div>

        <div id="profile-details" class="hidden-phone hidden-tablet">
            {% cache 300 astrobin_user user.username view LANGUAGE_CODE %}
            <ul>
                <li><a href="{% url 'user_page' user.username %}?sub=uploaded"><strong>{{images}}</strong> {% trans "Images" %}</a></li>
                <li><a href="{% url 'user_page_followers' user.username %}"><strong>{{followers}}</strong> {% trans "Followers" %}</a></li>
                <li><a href="{% url 'user_page_following' user.username %}"><strong>{{following}}</strong> {% trans "Following" %}</a></li>
            </ul>
            {% endcache %}
        </div>
    </div>

    {% if request.user == user and DONATIONS_ENABLED and user|is_donor %}
        {% thank_you_for_your_donations %}
    {% endif %}
{% endif %}

{% if view == 'table' %}
    <td class="user-list-avatar">
        <a href="{% url 'user_page' user.username %}">
            {% avatar user 20 %}
        </a>
    </div>

    <td class="user-list-name">
        <a href="{% url 'user_page' user.username %}">
            {{user.userprofile}}
        </a>
    </td>

    {% if layout == 'default' %}
        <td class="user-list-images">
            {{images}}
        </td>

        <td class="user-list-followers">
            {{followers}}
        </td>


        <td class="user-list-following">
            {{following}}
        </td>
    {% endif %}

    <td class="user-list-follow-action">
        {% if request.user != user %}
            {% add_remove_toggleproperty "follow" user request_user %}
        {% endif %}
    </td>
{% endif %}
