{% load i18n %}
{% load el_pagination_tags %}

{% paginate 60 user_list using "user_page" %}

<table class="astrobin-users table table-striped table-condensed">
    {% if layout != 'compact' %}
        <thead>
            <tr>
                <th class="user-list-name">{% trans "User" %}</th>
            </tr>
        </thead>
    {% endif %}
    <tbody>
        {% for u in user_list %}
            <tr>
                <td>
                    <a href="{% url 'user_page' u.username %}">
                        {{ u.userprofile }}
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr><td >{% trans "No users." %}</td></tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination pagination-centered">
    {% show_pages %}
</div>
