{% load astrobin_apps_users_tags %}
{% load endless %}
{% load i18n %}

{% if view == 'default' %}
    {% lazy_paginate 20 user_list using "user_list_page" %}
{% endif %}


{% for u in user_list %}
    {% if view == 'default' %}
        <li>{% astrobin_user u view=view %}</li>
    {% endif %}

    {% if view == 'table' %}
        <tr>{% astrobin_user u view=view%}</td>
    {% endif %}
{% empty %}
    {% if view == 'default' %}
        <li>{% trans "No users." %}</li>
    {% endif %}

    {% if view == 'table' %}
        <tr><td colspan="6">{% trans "No users." %}</td>
    {% endif %}
{% endfor %}

{% if view == 'default' %}
    {% show_more %}
{% endif %}
