{% load i18n %}

{% if view == 'list' %}
    <table class="user-list table table-condensed">
        <tr>
            <th>{% trans "User" %}</th>
            <th>{% trans "Images" %}</th>
            <th>{% trans "Followers" %}</th>
            <th>{% trans "Following" %}</th>
            <th>&nbsp;</th>
        </tr>

        {% include 'astrobin_apps_users/inclusion_tags/user_list_entries.html' %}
    </table>
{% endif %}

{% if view == 'default' %}
    <ul class="user-list">
        {% include 'astrobin_apps_users/inclusion_tags/user_list_entries.html' %}
        {% include 'astrobin_apps_users/inclusion_tags/endless_pagination_js.html' %}
    </ul>
{% endif %}

