{% load astrobin_apps_users_tags %}
{% load el_pagination_tags %}
{% load i18n %}


{% if view == 'default' %}
    {% lazy_paginate 40 user_list using "user_page" %}
{% endif %}

{% for u in user_list %}
    {% if view == 'default' %}
        <li>{% astrobin_user u view=view %}</li>
    {% endif %}

    {% if view == 'table' %}
        <tr>{% astrobin_user u view=view%}</tr>
    {% endif %}
{% empty %}
    {% if view == 'default' %}
        <li>{% trans "No users." %}</li>
    {% endif %}

    {% if view == 'table' %}
        <tr><td colspan="6">{% trans "No users." %}</td>
    {% endif %}
{% endfor %}

{% if view == 'default' %}
    {% show_more %}
{% endif %}
