{% load i18n %}
{% load dfp_tags %}
{% load tags %}
{% load astrobin_apps_premium_tags %}

{% if request.user|show_ads and not image.user|is_any_ultimate %}
    <div class="subtle-container simple-container advertisement advertisement-frontpage">
        <div class="header">
            <h4><i class="icon-bullhorn"></i></h4>

            {% if request.user|can_remove_ads %}
                <a class="remove" data-toggle="modal" href="#remove-ads-modal">
                    <i class="icon-remove"></i>
                </a>
            {% endif %}
        </div>

        {% dfp_tag '47890729/front-page' 220 135 brands='' %}
    </div>
{% endif %}

