{% load i18n %}
{% load astrobin_apps_images_tags %}
{% load el_pagination_tags %}

<div id="why-astrobin" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item">
            <div class="carousel-image" style="background-image:url('{{STATIC_URL}}images/home_carousel_1.jpg')"></div>
            <div class="carousel-caption">
                <h4>{% blocktrans %}The perfect home for your astrophotography.{% endblocktrans %}</h4>
                {% url 'help' as help_url %}
                <p>{% blocktrans %}AstroBin is an image hosting service made specifically for astrophotographers. It comes packed with features that benefit the astrophotography community greatly! See the <a href="{{help_url}}">help page.</a> for more information.{% endblocktrans %}</p>
            </div>
        </div>

        <div class="item">
            <div class="carousel-image" style="background-image:url('{{STATIC_URL}}images/home_carousel_2.jpg')"></div>
            <div class="carousel-caption">
                <h4>{% blocktrans %}Unlimited uploads, unlimited size.{% endblocktrans %}</h4>
                <p>{% blocktrans %}Astrophotography images have scientific value that shouldn't be lost in file compression. On AstroBin you can (and should!) upload full size images.{% endblocktrans %}</p>
            </div>
        </div>

        <div class="item">
            <div class="carousel-image" style="background-image:url('{{STATIC_URL}}images/home_carousel_3.jpg')"></div>
            <div class="carousel-caption">
                <h4>{% blocktrans %}Have your data neatly plotted.{% endblocktrans %}</h4>
                <p>{% blocktrans %}Data is everything, and AstroBin will give you the tools to keep your data neat and organized. And with our plots, you can get insights on your productivity and on the gear you use the most.{% endblocktrans %}</p>
            </div>
        </div>
    </div> <!-- carousel-inner -->

    <a class="carousel-control left hidden-phone" href="#why-astrobin" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right hidden-phone" href="#why-astrobin" data-slide="next">&rsaquo;</a>
</div> <!-- carousel -->

<div class="recent-images">
    <div class="thumbnails astrobin-thumbnails endless justified-gallery">
        {% include 'index/recent_images_page.html' %}
        {% include 'snippets/endless_pagination_js.html' %}
    </div>
</div>

