{% extends 'base.html' %}

{% load i18n %}
{% load astrobin_apps_donations_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% trans "Home of Astrophotography" %}{% endblock %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
{% endblock %}

{% block container_extra_classes %}no-breadcrumb{% endblock %}

{% block content %}
    <div id="index">
        {% include 'index/anonymous.html' %}
    </div>
{% endblock %}

{% block modals %}
    {% if ADS_ENABLED and not request.user|is_donor %}
        {% remove_ads_modal %}
    {% endif %}
{% endblock %}

