{% extends 'base.html' %}

{% load astrobin_apps_donations_tags %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_iotd_tags %}
{% load astrobin_apps_users_tags %}
{% load el_pagination_tags %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% load tags %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block canonical %}
    <link rel="canonical" href="{{ BASE_URL }}{% url 'index' %}" />
{% endblock %}

{% block title %}{% trans "Home of Astrophotography" %}{% endblock %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
{% endblock %}

{% block container_extra_classes %}no-breadcrumb{% endblock %}

{% block content %}

<div id="index">

    {% get_iotd as iotd %}
    {% if iotd %}
        <div class="image-of-the-day">
            <div class="header">
                <h2>
                    <i class="icon-trophy"></i>
                    {% trans "Image of the day" %}

                    <a
                        class="info"
                        href="https://welcome.astrobin.com/iotd"
                        target="_blank"
                    >
                        <i class="icon-info-sign"></i>
                    </a>

                    <a
                        class="iotd-stats-link"
                        href="#iotd-stats-modal"
                        data-toggle="modal"
                    >
                        <i class="icon-bar-chart"></i>
                    </a>

                    <span class="title">
                        {{iotd.image.title|truncatechars:50}}
                        <a href="{% url 'user_page' iotd.image.user %}">
                            {{iotd.image.user.userprofile|truncatechars:50}}
                        </a>
                    </span>
                </h2>
            </div>

            {% if request.user_agent.is_mobile %}
                {% astrobin_image iotd.image 'iotd_mobile' instant=True %}
            {% else %}
                {% astrobin_image iotd.image 'iotd' instant=True %}
            {% endif %}
        </div>
    {% endif %}

    <div class="subtle-container simple-container">
        <div class="header">
            <h4>
                {% trans "Latest from the forums" %}
                <div class="actions">
                    <a href="{% url 'pybb:topic_latest' %}">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </h4>
        </div>

        <div class="latest-from-forums">
            <div class="endless">
                <table class="table table-striped topic-list index-recent-topics">
                    <tbody>
                        <tr class="loading">
                            <td colspan="5">
                                <img
                                    class="loading"
                                    src="{% static 'astrobin/images/ajax-loader.gif' %}"
                                    alt="{% trans "Loading..." %}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% with ad_container_classes='advertisement-frontpage' %}
        {% with None|ad_key_value_pairs:request.user as key_value_pairs %}
            {% include 'ads/wide_ad.html' %}
        {% endwith %}
    {% endwith %}

    <a class="anchor" name="stream"></a>
    <div class="subtle-container simple-container overflow-visible">
        <div class="header">
            <h4>
                {% if section == 'global' %}
                    {% trans "Global stream" %}
                {% endif %}

                {% if section == 'personal' %}
                    {% trans "Personal stream" %}
                {% endif %}

                {% if section == 'recent' %}
                    {% trans "Recent images" %}
                {% endif %}

                {% if section == 'followed' %}
                    {% trans "Recent from your followed users" %}
                {% endif %}

                <div class="actions">
                    {% if section != 'global' %}
                        <a href="{% url 'index' %}?s=global#stream" title="{% trans "Global stream" %}">
                    {% endif %}
                            <i class="icon icon-globe"></i>
                    {% if section != 'global' %}
                        </a>
                    {% endif %}

                    {% if section != 'personal' %}
                        <a href="{% url 'index' %}?s=personal#stream" title="{% trans "Personal stream" %}">
                    {% endif %}
                            <i class="icon icon-user"></i>
                    {% if section != 'personal' %}
                        </a>
                    {% endif %}

                    {% if section != 'recent' %}
                        <a href="{% url 'index' %}?s=recent#stream" title="{% trans "Recent images" %}">
                    {% endif %}
                            <i class="icon icon-time"></i>
                    {% if section != 'recent' %}
                        </a>
                    {% endif %}

                    {% if section != 'followed' %}
                        <a href="{% url 'index' %}?s=followed#stream" title="{% trans "Recent from your followed users" %}">
                    {% endif %}
                            <i class="icon icon-plus-sign"></i>
                    {% if section != 'followed' %}
                        </a>
                    {% endif %}

                    <span class="separator">/</span>

                    <a href="{% url 'profile_edit_preferences' %}">
                        <i class="icon-cog"></i>
                    </a>
                </div>
            </h4>
        </div>

        {% if section == 'global' or section == 'personal' %}
            <div class="activity-actions">
                <div class="endless">
                    <img class="loading" src="{% static 'astrobin/images/ajax-loader.gif' %}" alt="{% trans "Loading..." %}" />
                </div> <!-- endless -->
            </div> <!-- activity stream container -->
        {% else %}
            <div class="recent-images">
                <div class="endless">
                    <ul class="thumbnails astrobin-thumbnails">
                        <li class="loading">
                            <img class="loading" src="{% static 'astrobin/images/ajax-loader.gif' %}" alt="{% trans "Loading..." %}" />
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            let latestFromForumsPage = 1;

            function loadLatestFromForums(url) {
                const $el = $(".latest-from-forums");

                if (typeof url === "undefined") {
                    url = "{% url 'latest_from_forums_fragment' %}";
                }

                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "html",
                    timeout: 0,
                    success: function (data) {
                        $el.find(".loading").remove();
                        $el.find(".pagination .btn").closest("tr").remove();
                        $el.find("tbody").append(data);

                        astrobin_common.init_timestamps();

                        $el.find(".pagination .btn").on("click", function(e) {
                            e.preventDefault();
                            e.stopPropagation();

                            $(this).addClass("running");

                            latestFromForumsPage += 1;

                            loadLatestFromForums("{% url 'latest_from_forums_fragment' %}?latest_from_forums_page=" + latestFromForumsPage);
                        });
                    }
                });
            }

            function loadActivityStream() {
                $.ajax({
                    url: "{% url 'activity_stream_fragment' section %}",
                    type: "GET",
                    dataType: "html",
                    timeout: 0,
                    success: function (data) {
                        $(".activity-actions .endless").html(data);
                        window.loadAstroBinImages(data);
                    }
                });
            }

            function loadRecentImages() {
                $.ajax({
                    url: "{% url 'recent_images_fragment' section %}",
                    type: "GET",
                    dataType: "html",
                    timeout: 0,
                    success: function (data) {
                        $(".recent-images .endless .thumbnails").html(data);
                        window.loadAstroBinImages(data);
                    }
                });
            }

            $.ajaxSetup({timeout: 0});

            loadLatestFromForums();

            {% if section == 'global' or section == 'personal' %}
                loadActivityStream();
            {% else %}
                loadRecentImages();
            {% endif %}
        });
    </script>

    {% include 'snippets/endless_pagination_js.html' %}
{% endblock %}
