{% load i18n static %}

<section class="explore section-padding bg-img bg-fixed" data-scroll-index="3" data-overlay-dark="5"
         data-background="{% static 'astrobin_apps_landing/img/explore-bg.jpg' %}">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-sm-12">
                <h4>{% trans "Explore AstroBin" %}</h4>

                <a class="butn butn-bg butn-huge mt-30" href="{% url 'haystack_search' %}?d=i&q=">
                    <span>
                        <i class="icon fas fa-search"></i>
                        {% trans "Search engine" %}
                    </span>
                </a>

                <a class="butn butn-bg butn-huge mt-30" href="{% url 'iotd_archive' %}">
                    <span>
                        <i class="icon fas fa-trophy"></i>
                        {% trans "Image of the day" %}
                    </span>
                </a>

                <a class="butn butn-bg butn-huge mt-30" href="{% url 'top_picks' %}">
                    <span>
                        <i class="icon fas fa-medal"></i>
                        {% trans "Top picks" %}
                    </span>
                </a>
            </div>

        </div>
    </div>
</section>
