{% load static %}

<footer class="text-center">
    <div class="container">

        <!-- Logo -->
        <a class="logo" href="#">
            <img src="{% static 'astrobin/images/astrobin-logo.png' %}" alt="logo">
        </a>

        <div class="social">
            <a href="https://www.facebook.com/astrobin/" class="icon">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/astrobin_com" class="icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://github.com/astrobin/astrobin/" class="icon">
                <i class="fab fa-github"></i>
            </a>
        </div>

        <p>&copy; 2010-{% now "Y" %} <a href="/users/siovene/">Salvatore Iovene</a></p>
    </div>
</footer>
