{% load i18n static %}

<header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="3"
        data-background="{% static 'astrobin_apps_landing/img/header-bg.jpg' %}"
        data-stellar-background-ratio="0.5">

    <!-- particles -->
    <div id="particles-js"></div>

    <div class="container">
        <div class="row">
            <div class="full-width text-center caption mt-30">
                <h4>Welcome to</h4>
                <h1>AstroBin</h1>
                <p>The Home of Astrophotography</p>
                <a href="#" data-scroll-nav="2" class="butn butn-light mt-30">
                    <span>{% trans "Learn More" %}</span>
                </a>
                <a href="{% url 'auth_login' %}" class="butn butn-bg mt-30">
                    <span>{% trans "Login" %}</span>
                </a>
                <a href="{% url 'registration_register' %}" class="butn butn-bg mt-30">
                    <span>{% trans "Sign up" %}</span>
                </a>

                <div class="scroll-down bounce">
                    <a href="#" data-scroll-nav="2"><i class="icon fas fa-chevron-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
