{% load i18n %}
{% load static %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="{% if request.user.is_authenticated and user_language %}{{ user_language }}{% else %}en{% endif %}">

<head>

    {% include "base/meta.html" %}{% block extra_meta %}{% endblock %}
    {% include "base/favicon.html" %}
    {% include "base/ie8html5.html" %}

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    {% stylesheet 'landing' %}

</head>

<body>

{% include "astrobin_apps_landing/loading.html" %}
{% include "astrobin_apps_landing/navbar.html" %}
{% include "astrobin_apps_landing/header.html" %}
{% include "astrobin_apps_landing/numbers.html" %}
{% include "astrobin_apps_landing/services.html" %}
{% include "astrobin_apps_landing/explore.html" %}
{% include "astrobin_apps_landing/testimonials.html" %}
{% include "astrobin_apps_landing/footer.html" %}

{% javascript 'landing' %}

</body>
</html>
