{% load i18n %}

<div class="numbers section-padding bg-img bg-fixed" data-scroll-index="1">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="item text-center mb-md50">
                    <span class="icon fas fa-user"></span>
                    <h3 class="count">{{ users }}</h3>
                    <h6>{% trans "Users" %}</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item text-center mb-md50">
                    <span class="icon fas fa-images"></span>
                    <h3 class="count">{{ images }}</h3>
                    <h6>{% trans "Images" %}</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item text-center mb-sm50">
                    <span class="icon fas fa-camera"></span>
                    <h3 class="count">{{ gear_items }}</h3>
                    <h6>{% trans "Equipment items" %}</h6>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item last text-center">
                    <span class="icon fas fa-comment"></span>
                    <h3 class="count">{{ comments | add:posts }}</h3>
                    <h6>{% trans "Social messages" %}</h6>
                </div>
            </div>

        </div>
    </div>
</div>
