{% load i18n static %}

<section class="price section-padding" data-scroll-index="4">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-sm-12">
                <h4>{% trans "Subscription plans" %}</h4>
            </div>

            <div class="pricing-tables full-width">

                <div class="row">

                    <div class="col-lg-4">
                        <div class="item text-center mb-md50">
                            <div class="type">
                                <h4>Free</h4>
                            </div>

                            <div class="value">
                                <h3>0<span>$</span></h3>
                                <span class="per"></span>
                            </div>

                            <div class="features">
                                <ul>
                                    <li>{% trans "View full image data" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Advanced search" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Social tools" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Groups" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Image uploads" %}<i class="false">10 (trial)</i></li>
                                    <li>{% trans "Plate-solving" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Image revisions" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Raw data downloads" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Contests" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Ad free" %}<i class="false fas fa-times"></i></li>
                                </ul>
                            </div>

                            <div class="order">
                                <a href="{% url "registration_register" %}" class="butn butn-bg">
                                    <span>{% trans "Sign up" %}</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item text-center"
                             data-background="{% static 'astrobin_apps_landing/img/premium-bg.jpg' %}">

                            <div class="type">
                                <h4>Lite</h4>
                            </div>

                            <div class="value">
                                <h3>18<span>$</span></h3>
                                <span class="per">{% trans "per annum" %}</span>
                            </div>

                            <div class="features">
                                <ul>
                                    <li>{% trans "View full image data" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Advanced earch" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Social tools" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Groups" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Image uploads" %}<i class="true">12 per term</i></li>
                                    <li>{% trans "Plate-solving" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Image revisions" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Raw data downloads" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Contests" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Ad free" %}<i class="true fas fa-check"></i></li>
                                </ul>
                            </div>

                            <div class="order">
                                <a href="{% url 'subscription_list' %}" class="butn butn-bg">
                                    <span>{% trans "Buy" %}</span>
                                </a>
                            </div>

                            <div class="value-month">
                                {% blocktrans with amount="$1,50" %}That's only {{ amount }} per
                                    month!{% endblocktrans %}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item text-center active bg-img mb-md50"
                             data-background="{% static 'astrobin_apps_landing/img/premium-bg.jpg' %}">
                            <div class="type">
                                <h4>Premium</h4>
                            </div>

                            <div class="value">
                                <h3>36<span>$</span></h3>
                                <span class="per">{% trans "per annum" %}</span>
                            </div>

                            <div class="features">
                                <ul>
                                    <li>{% trans "View full image data" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Advanced earch" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Social tools" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Groups" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Image uploads" %}<i class="true fas fa-infinity"></i></li>
                                    <li>{% trans "Plate-solving" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Image revisions" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Raw data downloads" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Contests" %}<i class="true fas fa-check"></i></li>
                                    <li>{% trans "Ad free" %}<i class="true fas fa-check"></i></li>
                                </ul>
                            </div>

                            <div class="order">
                                <a href="{% url 'subscription_list' %}" class="butn butn-light">
                                    <span>{% trans "Buy" %}</span>
                                </a>
                            </div>

                            <div class="value-month">
                                {% blocktrans with amount="$3" %}That's only {{ amount }} per month!{% endblocktrans %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
