{% load static %}

<section class="testimonials carousel-single section-padding bg-img" data-overlay-dark="3"
         data-background="{% static 'astrobin_apps_landing/img/testimonials-bg.jpg' %}">
    <div class="container">
        <div class="row">

            <div class="offset-lg-1 col-lg-10">

                <div class="owl-carousel owl-theme text-center">
                    <div class="item">
                        <div class="client-img">
                            <img src="{% static 'astrobin_apps_landing/img/testimonials/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>AstroEthan</h6>
                        </div>
                        <p>My AstroBin has 4x more followers than my next biggest hub to publish my images, but unlike
                            every other site, those 78 users that follow me on AB know what I'm talking about when I
                            post complex descriptions.</p>
                    </div>
                    <div class="item">
                        <div class="client-img">
                            <img src="{% static 'astrobin_apps_landing/img/testimonials/2.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>TimN</h6>
                        </div>
                        <p>I have my images on a couple of other sites. However, AstroBin provides a unique service.</p>
                    </div>
                    <div class="item">
                        <div class="client-img">
                            <img src="{% static 'astrobin_apps_landing/img/testimonials/3.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>jhayes_tucson</h6>
                        </div>
                        <p>Salvatore has done a great service to the community by creating AstroBin and by maintaining
                            it for so long. I thank him for all of his efforts and everything he's done to promote AP.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
