{% load i18n %}
{% load astrobin_apps_notifications_tags %}

{% blocktrans trimmed with image.user.userprofile.get_display_name as user %}
    An image you dismissed made it to IOTD
{% endblocktrans %}: <a href="{{ base_url }}{% url 'image_detail' image.get_id %}?{% notification_url_params_for_email %}">{{ image.title }}</a>

<br /><br />

<a href="{{ base_url }}{% url 'image_detail' image.get_id %}?{% notification_url_params_for_email %}">
    <img src="{{ image_thumbnail }}" />
</a>

<br /><br />

<p>
    {% blocktrans trimmed %}
        This means that you were in disagreement with the rest of the IOTD/TP staff. A variety of opinions and tastes is
        fine, but images should only be dismissed if they present glaring technical issues as documented in the IOTD
        manifesto:
    {% endblocktrans %}

    <a href="https://welcome.astrobin.com/iotd">
        https://welcome.astrobin.com/iotd
    </a>
</p>

<p>
    {% blocktrans trimmed %}
        Please only dismiss images if you are sure they are not up to the standards of the IOTD/TP.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
        Thank you for your understanding.
    {% endblocktrans %}
</p>
