{% load avatar_tags %}
{% load astrobin_apps_donations_tags %}
{% load astrobin_apps_premium_tags %}
{% load astrobin_apps_users_tags %}
{% load toggleproperty_tags %}
{% load i18n %}

{% is_toggled 'follow' image.user request.user as already_follows %}

<div class="avatar-content">
    <a
        data-instant
        href="{% url 'user_page' user %}"
    >
        {% avatar user 194 %}

        {% if DONATIONS_ENABLED %}
            {% donor_badge user 'medium' %}
        {% endif %}

        {% if PREMIUM_ENABLED %}
            {% premium_badge user 'medium' %}
        {% endif %}

        <div class="username">
            {% astrobin_username user link=False %}

            {% if already_follows %}
                <span class="contextual-menu">
                    <button class="dropdown-toggle btn-link" data-toggle="dropdown">
                        <i class="icon-ellipsis-vertical icon-white"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            {% add_remove_toggleproperty "follow" user request.user btn_class="btn-link" hide_icon=True %}
                        </li>
                    </ul>
                </span>
            {% endif %}
        </div>
    </a>

    {% if request.user != user and not already_follows %}
        {% add_remove_toggleproperty "follow" user request.user btn_class="btn-link" hide_icon=True %}
    {% endif %}

    {% if request.user == user and as_collaborator == True %}
        <a href="#remove-as-collaborator-modal" data-toggle="modal" class="btn btn-mini btn-danger btn-remove-as-collaborator">
            {% trans "Remove me" %}
        </a>
    {% endif %}
</div>
