{% load astrobin_apps_donations_tags %}
{% load i18n %}
{% load dfp_tags %}

{% comment %} TODO: make an app: astrobin_apps_ads {% endcomment %}
{% if ADS_ENABLED and not request.user|is_donor %}
    <div class="subtle-container advertisement">
        <div class="header">
            <h4><i class="icon-dollar"></i> {% trans "Advertisement" %}</h4>

            {% if request.user.is_authenticated %}
                <a class="remove" data-toggle="modal" href="#remove-ads-modal">
                    <i class="icon-remove"></i>
                </a>
            {% endif %}
        </div>

        {% dfp_tag '47890729/image-page' 300 250 '' '' %}
    </div>
{% endif %}

