{% load i18n %}
{% load tags %}

{% if gear_list_has_commercial and gear_list_has_paid_commercial %}
    <div class="subtle-container">
        <div class="header"><h4><i class="icon-group"></i> {% trans "Made possible by" %}</h4></div>
        {% for i in gear_list %}
            {% if i.1 %}
                {% for g in i.1 %}
                    {% if g.commercial and g.commercial.is_paid or g.commercial.producer == request.user %}
                        <a rel="popover"
                           class="gear-popover btn btn-mini btn-warning"
                           data-load="{% url gear_popover_ajax g.id %}"
                           href="{% url gear_page g.id g.slug %}">{% gear_name g %}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %} {# gear_list_has_commercial #}

