{% load i18n %}

<div class="subtle-container nested-comments-container">
    <div class="header"><h4><i class="icon-comments-alt"></i> {% trans "Comments" %}</h4></div>
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
        {% if image.allow_comments %}
            {% if user.is_authenticated %}
            <p>
                {% blocktrans trimmed %}
                    <strong>Leave a comment here</strong>, and remember that AstroBin is an international community:
                    using <strong>English</strong> is preferred.
                {% endblocktrans %}

                {% blocktrans trimmed with user=image.user.userprofile %}
                    The author of this image is comfortable with the following languages:
                    <strong>{{ preferred_languages }}</strong>.
                {% endblocktrans %}
            </p>
            {% endif %}

            <div id="nested-comments"
                 data-content-type-id="{{content_type.pk}}"
                 data-object-id="{{image.pk}}"
                 data-readonly-mode="{{READONLY_MODE}}">
            </div>

            {% include 'nested_comments/nestedcomment_app.html' %}
        {% else %}
            <p>
                {% blocktrans %}Comments are closed.{% endblocktrans %}
            </p>
        {% endif %}
    {% endif %}
</div> <!-- subtle-container -->

