{% load static %}
{% load tags %}
{% load common_tags %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_platesolving_tags %}

<div class="main-image">
    <div class="main-image-inner">
        {% astrobin_image image alias revision=revision_label url_size='full' %}

        {% if is_revision %}
            {% if revision_image.mouse_hover_image == "INVERTED" %}
                {% astrobin_image image "regular_inverted" revision=revision_image.label url_size='full' classes="hover-overlay hover-overlay-revision-inverted" %}
            {% endif %}

            {% if revision_image.mouse_hover_image|startswith:"REVISION" %}
                {% with revision_image.mouse_hover_image|split:"__" as revision_label_split %}
                    {% astrobin_image image "regular" revision=revision_label_split.1 url_size='full' url_revision=revision_image.label classes="hover-overlay hover-overlay-revision-revision" %}
                {% endwith %}
            {% endif %}

            {% if revision_image.mouse_hover_image == "ORIGINAL" %}
                {% astrobin_image image "regular" revision='0' url_size='full' url_revision=revision_image.label classes="hover-overlay hover-overlay-revision-original" %}
            {% endif %}
        {% else %}
            {% if image.mouse_hover_image %}
                {% if image.mouse_hover_image == "INVERTED" %}
                    {% astrobin_image image "regular_inverted" revision=revision_label url_size='full' classes="hover-overlay hover-overlay-original-inverted" %}
                {% endif %}

                {% if image.mouse_hover_image|startswith:"REVISION" %}
                    {% with image.mouse_hover_image|split:"__" as revision_label_split %}
                        {% astrobin_image image "regular" revision=revision_label_split.1 url_size='full' url_revision=revision_label classes="hover-overlay hover-overlay-original-revision" %}
                    {% endwith %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if show_solution %}
            <div
                    class="astrobin-image-container
                    hover-overlay
                    {% if mod == 'solved' %} hover-overlay-fixed{% endif %} hover-overlay-solution">
                <a href="

                        {% get_image_url image revision_label 'full' %}{% if mod %}{% query_string "mod=mod" "" %}{% endif %}">

                    {% if instance_to_platesolve.solution|is_advanced_success_status %}
                        <img class="show-ra-dec-coordinates"
                             src="{{ IMAGES_URL }}{{ instance_to_platesolve.solution.pixinsight_svg_annotation }}"
                             alt="{{ image.title|escape }}"
                             width="{{ instance_to_platesolve | thumbnail_width:'regular' }}"
                             height="{{ instance_to_platesolve | thumbnail_height:'regular' }}"
                        />
                        <div id="ra-dec-coordinates"></div>
                    {% else %}
                        <img
                                onerror="solution_image_error(this)"
                                src="{{ IMAGES_URL }}{{ instance_to_platesolve.solution.image_file }}"
                                alt="{{ image.title|escape }}" />
                    {% endif %}
                </a>
            </div>
        {% endif %}
    </div> <!-- main-image-inner -->
</div> <!-- main-image -->

{% block extra_js %}
    <script src="{% static 'astrobin_apps_platesolving/js/CoordinateInterpolation.js' %}"></script>
    <script src="{% static 'astrobin_apps_platesolving/js/astrobin_apps_platesolving_mousemove.js' %}"></script>
    <script type="text/javascript">
        var platesolving_attempts = 0;

        function solution_image_error(img) {
            if (platesolving_attempts > 1)
                return;

            if (img.src.indexOf('images/solutions') === -1) {
                split = img.src.split('solutions');
                img.src = split[0] + 'images/solutions' + split[1];
            } else {
                split = img.src.split('images/solutions');
                img.src = split[0] + 'solutions' + split[1];
            }

            platesolving_attempts++;
        }

        {% if instance_to_platesolve.solution|is_advanced_success_status %}
            $(document).ready(function () {
                new AstroBinPlatesolvingMouseMove(
                    '{{ instance_to_platesolve.solution.advanced_ra_matrix }}'.split(',').map(parseFloat),
                    '{{ instance_to_platesolve.solution.advanced_dec_matrix }}'.split(',').map(parseFloat),
                    '{{ instance_to_platesolve.solution.advanced_matrix_rect }}'.split(',').map(parseFloat),
                    parseFloat('{{ instance_to_platesolve.solution.advanced_matrix_delta }}'),
                    {{ instance_to_platesolve | thumbnail_width:'hd' }},
                    {{ instance_to_platesolve | thumbnail_height:'hd' }}
                );
            });
        {% endif %}
    </script>
{% endblock %}
