{% load i18n %}
{% load tags %}
{% load common_tags %}

<div class="image-title">
    <div class="row-fluid">
        <div class="span12">
            <h3 class="image-title">
                {% if image.title %}
                    {% with image.title|escape as cleaned_title %}
                        {% highlight_text cleaned_title with search_query %}
                    {% endwith %}
                {% else %}
                    {% trans "(no title)" %}
                {% endif %}

            </h3>
            {% if revision_image and revision_image.title %}
                <h4 class="revision-title">
                    <span class="title-heading">{% trans "Revision title" %}: </span>
                    {% with revision_image.title|escape as cleaned_title %}
                        {% highlight_text cleaned_title with search_query %}
                    {% endwith %}
                </h4>
            {% endif %}
        </div>
    </div>

    {% if image.link %}
        <div class="row-fluid">
            <div class="span12">
                <strong>{% trans "Link" %}</strong>: <a href="{{image.link | ensure_url_protocol }}" target="_blank">{{image.link}}</a>
            </div>
        </div>
    {% endif %}

    {% if image.link_to_fits %}
        <div class="row-fluid">
            <div class="span12">
                <strong>{% trans "Link to TIFF/FITS" %}</strong>: <a href="{{image.link_to_fits | ensure_url_protocol }}" target="_blank">{{image.link_to_fits}}</a>
            </div>
        </div>
    {% endif %}

    {% if image.acquisition_type and image.acquisition_type != 'REGULAR' and image.acquisition_type != 'OTHER' %}
        <div class="row-fluid">
            <div class="span12">
                <strong>{% trans "Acquisition type" %}</strong>: {{ image.acquisition_type | humanize_image_acquisition_type }}
            </div>
        </div>
    {% endif %}

    {% if request.user == image.user or request.user.is_superuser %}
        <div class="row-fluid download-original-file">
            <div class="span12">
                <strong>{% trans "Download original file" %}</strong>:

                <a href="{{ download_original_url }}" target="_blank">
                    {% private_abbr %} {% trans "Download" %}
                </a>
            </div>
        </div>
    {% endif %}
</div>


