{% load astrobin_apps_images_tags %}
{% load common_tags %}

<div class="main-image">
    <div class="main-image-inner">
        {% astrobin_image image 'regular' revision_label 'full' mod %}

        {% if show_solution %}
            <div class="astrobin-image-container plot-overlay {% if mod == 'solved' %} plot-overlay-fixed{% endif %}">
                <a href="{% get_image_url image revision_label 'full' %}{% if mod %}{% query_string "mod=mod" "" %}{% endif %}">
                    <img src="{{IMAGES_URL}}{{instance_to_platesolve.solution.image_file}}" alt="{{image.title|escape}}" />
                </a>
            </div>
        {% endif %}
    </div> <!-- main-image-inner -->
</div> <!-- main-image -->

