{% load common_tags %}
{% load astrobin_apps_equipment_tags %}
{% load astrobin_apps_premium_tags %}
{% load astrobin_apps_platesolving_tags %}
{% load astrobin_apps_remote_source_affiliation_tags %}
{% load i18n %}
{% load tags %}

{% if equipment_list|equipment_list_has_items %}
    <dl class="dl-horizontal">
        {% for klass, items in equipment_list.items %}
            {% if items|length > 0 %}
                <dt>{% get_verbose_field_name image klass %}</dt>
                <dd>
                    {% for item in items %}
                        {% if item.version == 'LEGACY' %}
                            <a
                                rel="popover"
                                class="gear-popover-label"
                                data-load="{% url 'gear_popover_ajax' item.id image.id %}?q={{ search_query|urlencode }}{% if 'DEBUG_COUNTRY' in request.GET %}&DEBUG_COUNTRY={{ request.GET|get_item:'DEBUG_COUNTRY' }}{% endif %}"
                                href='{% url "haystack_search" %}?q="{% gear_name_iriencoded item.label %}"'
                            >
                                {% highlight_text item.label with search_query %}
                            </a>
    
                            {# Shopping cart #}
                            {% with request.user|get_valid_usersubscription as request_user_valid_usersubscription_for_link %}
                                {% with image.user|get_valid_usersubscription as image_user_valid_usersubscription_for_link %}
                                    {% if request_user_valid_usersubscription_for_link|allow_full_retailer_integration:image_user_valid_usersubscription_for_link %}
                                        {% if item.object|equipment_item_listings_for_legacy_gear:REQUEST_COUNTRY|length %}
                                            {% with item.object|equipment_item_listings_for_legacy_gear:REQUEST_COUNTRY as listings %}
                                                {% equipment_brand_listing_url_with_tags listings.all.0 'card' as url_with_tags %}
                                                <a class="retailer-affiliate-cart-link"
                                                   href="{{ url_with_tags }}"
                                                   onclick="getOutboundLink('{{ url_with_tags }}', '{{ request.path }}')"
                                                   target="_blank">
                                                    <i class="icon-shopping-cart" rel="tooltip"
                                                       data-placement="bottom" title="
                                                           {% blocktrans trimmed with name=listings.all.0.name retailer=listings.all.0.retailer %}
                                                               Shop {{ name }} at {{ retailer }}
                                                           {% endblocktrans %}
                                                        "></i>
                                                </a>
                                                {% if request_user_valid_usersubscription_for_link|can_remove_retailer_integration %}
                                                    <a class="close" data-toggle="modal"
                                                       title="{% trans "Disable retailer integration" %}"
                                                       href="#remove-ads-modal">
                                                        &times;
                                                    </a>
                                                {% endif %}
                                            {% endwith %}
                                        {% elif item.object|equipment_brand_listings_for_legacy_gear:REQUEST_COUNTRY|length %}
                                            {% with item.object|equipment_brand_listings_for_legacy_gear:REQUEST_COUNTRY as listings %}
                                                {% if listings|length == 1 %}
                                                    {% equipment_brand_listing_url_with_tags listings.all.0 'card' as url_with_tags %}
                                                    <a class="retailer-affiliate-cart-link"
                                                       href="{{ url_with_tags }}"
                                                       onclick="getOutboundLink('{{ url_with_tags }}', '{{ request.path }}')"
                                                       target="_blank">
                                                        <i class="icon-shopping-cart" rel="tooltip"
                                                           data-placement="bottom" title="
                                                           {% blocktrans trimmed with name=listings.all.0.brand retailer=listings.all.0.retailer %}
                                                               Shop {{ name }} at {{ retailer }}
                                                           {% endblocktrans %}
                                                        "></i>
                                                    </a>
                                                {% else %}
                                                    <span
                                                        rel="popover"
                                                        class="gear-popover-label"
                                                        data-load="{% url 'gear_popover_ajax' item.id image.id %}{% if 'DEBUG_COUNTRY' in request.GET %}?DEBUG_COUNTRY={{ request.GET|get_item:'DEBUG_COUNTRY' }}{% endif %}">
                                                        <i class="icon-shopping-cart"></i>
                                                    </span>
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                            {# ./Shopping cart #}
                        {% else %} {# NEW equipment items #}
                            {% if item.object.brand %}
                                <a href="{{ item.explorer_url }}"
                            {% else %}
                                <span
                            {% endif %}
                                rel="popover"
                                class="gear-popover-label"
                                data-load="{% url 'equipment:item-popover' item.type item.id image.get_id %}?q={{ search_query|urlencode }}{% if 'DEBUG_COUNTRY' in request.GET %}&DEBUG_COUNTRY={{ request.GET|get_item:'DEBUG_COUNTRY' }}{% endif %}"
                            >
                                {% highlight_text item.label with search_query %}
                            {% if item.object.brand %}
                                </a>
                            {% else %}
                                </span>
                            {% endif %}
    
                            {% if item.unapproved and item.creator_id == request.user.id %}
                                <a
                                        href="{{ item.explorer_url }}"
                                        rel="tooltip"
                                        title="{% trans 'This item is unapproved and it might require your attention.' %}"
                                >
                                    <i class="icon-exclamation-sign"></i>
                                </a>
                            {% endif %}
    
                            {# Shopping cart #}
                            {% with request.user|get_valid_usersubscription as request_user_valid_usersubscription_for_link %}
                                {% with image.user|get_valid_usersubscription as image_user_valid_usersubscription_for_link %}
                                    {% if request_user_valid_usersubscription_for_link|allow_full_retailer_integration:image_user_valid_usersubscription_for_link %}
                                        {% if item.object|equipment_item_listings:REQUEST_COUNTRY|length and item.object|equipment_brand_listings_by_item:REQUEST_COUNTRY|length %}
                                            <span
                                                rel="popover" class="gear-popover-label shopping-cart"
                                                data-load="{% url 'equipment:item-popover' item.type item.id image.get_id %}?q={{ search_query|urlencode }}{% if 'DEBUG_COUNTRY' in request.GET %}&DEBUG_COUNTRY={{ request.GET|get_item:'DEBUG_COUNTRY' }}{% endif %}"
                                            >
                                                <i class="icon-shopping-cart"></i>
                                            </span>
                                        {% elif item.object|equipment_item_listings:REQUEST_COUNTRY|length %}
                                            {% with item.object|equipment_item_listings:REQUEST_COUNTRY as listings %}
                                                {% if listings|length == 1 %}
                                                    {% equipment_item_listing_url_with_tags listings.all.0 'card' as url_with_tags %}
                                                    <a class="retailer-affiliate-cart-link"
                                                       href="{{ url_with_tags }}"
                                                       onclick="getOutboundLink('{{ url_with_tags }}', '{{ request.path }}')"
                                                       target="_blank">
                                                        <i class="icon-shopping-cart" rel="tooltip"
                                                           data-placement="bottom" title="
                                                           {% blocktrans trimmed with name=listings.all.0.name retailer=listings.all.0.retailer %}
                                                               Shop {{ name }} at {{ retailer }}
                                                           {% endblocktrans %}
                                                        "></i>
                                                    </a>
                                                    {% if request_user_valid_usersubscription_for_link|can_remove_retailer_integration %}
                                                        <a class="close" data-toggle="modal"
                                                           title="{% trans "Disable retailer integration" %}"
                                                           href="#remove-ads-modal">
                                                            &times;
                                                        </a>
                                                    {% endif %}
                                                {% else %}
                                                    <span rel="popover"
                                                          class="gear-popover-label shopping-cart"
                                                          data-load="{% url 'equipment:item-popover' item.type item.id image.get_id %}?q={{ search_query|urlencode }}{% if 'DEBUG_COUNTRY' in request.GET %}&DEBUG_COUNTRY={{ request.GET|get_item:'DEBUG_COUNTRY' }}{% endif %}">
                                                        <i class="icon-shopping-cart"></i>
                                                    </span>
                                                {% endif %}
                                            {% endwith %}
                                        {% elif item.object|equipment_brand_listings_by_item:REQUEST_COUNTRY|length %}
                                            {% with item.object|equipment_brand_listings_by_item:REQUEST_COUNTRY as listings %}
                                                {% if listings|length == 1 %}
                                                    {% equipment_brand_listing_url_with_tags listings.all.0 'card' as url_with_tags %}
                                                    <a class="retailer-affiliate-cart-link"
                                                       href="{{ url_with_tags }}"
                                                       onclick="getOutboundLink('{{ url_with_tags }}', '{{ request.path }}')"
                                                       target="_blank">
                                                        <i class="icon-shopping-cart" rel="tooltip"
                                                           data-placement="bottom" title="
                                                           {% blocktrans trimmed with name=listings.all.0.brand retailer=listings.all.0.retailer %}
                                                               Shop {{ name }} at {{ retailer }}
                                                           {% endblocktrans %}
                                                        "></i>
                                                    </a>
                                                    {% if request_user_valid_usersubscription_for_link|can_remove_retailer_integration %}
                                                        <a class="close" data-toggle="modal"
                                                           title="{% trans "Disable retailer integration" %}"
                                                           href="#remove-ads-modal">
                                                            &times;
                                                        </a>
                                                    {% endif %}
                                                {% else %}
                                                    <span rel="popover" class="gear-popover-label shopping-cart"
                                                          data-load="{% url 'equipment:item-popover' item.type item.id image.get_id %}?q={{ search_query|urlencode }}{% if 'DEBUG_COUNTRY' in request.GET %}&DEBUG_COUNTRY={{ request.GET|get_item:'DEBUG_COUNTRY' }}{% endif %}">
                                                        <i class="icon-shopping-cart"></i>
                                                    </span>
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                            {# ./Shopping cart #}
                        {% endif %} {# ./LEGACY/NEW equipment items #}
    
                        {% if not forloop.last %}
                            &middot;
                        {% endif %}
                    {% endfor %}
                </dd>
            {% endif %}
        {% endfor %}
    </dl>
{% else %}
    <p>{% trans "No equipment specified." %}</p>
{% endif %}
