{% load common_tags %}
{% load astrobin_apps_premium_tags %}
{% load astrobin_apps_platesolving_tags %}
{% load i18n %}
{% load tags %}

{% if image|can_add_technical_details %}

    <div class="row technical-card">
        <div class="span8">
            <div class="subtle-container">
                <div class="header">
                    <h4>
                        <i class="icon-list-alt"></i> {% trans "Technical card" %}

                        {% if not request.user|can_view_full_technical_card and not request.user == image.user %}
                            <div class="actions">
                                <a href="#feature-restricted-modal" data-toggle="modal">
                                    {% trans "More" %}
                                </a>
                            </div>
                        {% endif %}
                    </h4>
                </div>

                {% if gear_list|gear_list_has_items %}
                    <div class="gear">
                        <div class="gear-inner">
                            {% for i in gear_list %}
                                {% if request.user|can_view_technical_card_item:i %}
                                    <p>
                                        <strong class="card-label">{% trans i.0 %}:</strong>
                                        {% for g in i.1 %}
                                            <a rel="popover"
                                               class="gear-popover{% if g.commercial and g.commercial.is_paid or g.commercial.producer == request.user %} btn btn-mini btn-warning{% endif %}"
                                               data-load="{% url 'gear_popover_ajax' g.id %}"
                                               href="{% url 'gear_page' g.id g.slug %}">{{ g }}</a>
                                            {% if not forloop.last %}
                                                ,&nbsp;{% endif %}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    {% if request.user|can_view_full_technical_card %}
                        <hr />
                    {% endif %}
                {% endif %}

                <div class="acquisition">
                    <div class="acquisition-inner">
                        {% if image_type == 'deep_sky' %}
                            {% for data in deep_sky_data %}
                                {% if request.user|can_view_technical_card_item:data %}
                                    <p>
                                        <strong class="card-label">{{ data.0 }}:</strong>
                                        {% if data.0 == dates_label %}
                                            {% for date in data.1 %}
                                                <a href="/search/{% query_string "q=, start_date=date, end_date=date" "plate_solving_started, r, mod" %}">{{ date|date:"DATE_FORMAT" }}</a>
                                                {% if not forloop.last %},&nbsp;{% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {{ data.1|safe|linebreaksbr }}
                                        {% endif %}
                                    </p>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if request.user|can_view_full_technical_card %}
                                {% if ssa.date %}
                                    <p><strong class="card-label">{% trans "Date" %}:</strong> <a
                                            href="/search/{% query_string "q=, start_date=ssa.date, end_date=ssa.date" "plate_solving_started, r, mod" %}">{{ ssa.date|date:"DATE_FORMAT" }}</a>
                                    </p>
                                {% endif %}
                                {% if ssa.time %}
                                    <p><strong class="card-label">{% trans "Time" %}:</strong> {{ ssa.time }}</p>
                                {% endif %}
                                {% if ssa.frames %}
                                    <p><strong class="card-label">{% trans "Frames" %}:</strong> {{ ssa.frames }}</p>
                                {% endif %}
                                {% if ssa.fps %}
                                    <p><strong class="card-label">{% trans "FPS" %}:</strong> {{ ssa.fps }}</p>
                                {% endif %}
                                {% if ssa.focal_length %}
                                    <p><strong
                                            class="card-label">{% trans "Focal length" %}:</strong> {{ ssa.focal_length }}
                                    </p>
                                {% endif %}
                                {% if ssa.cmi %}
                                    <p><strong class="card-label">{% trans "CMI" %}:</strong> {{ ssa.cmi }}</p>
                                {% endif %}
                                {% if ssa.cmii %}
                                    <p><strong class="card-label">{% trans "CMII" %}:</strong> {{ ssa.cmii }}</p>
                                {% endif %}
                                {% if ssa.cmiii %}
                                    <p><strong class="card-label">{% trans "CMIII" %}:</strong> {{ ssa.cmiii }}</p>
                                {% endif %}
                                {% if ssa.seeing %}
                                    <p><strong class="card-label">{% trans "Seeing" %}:</strong> {{ ssa.seeing }}</p>
                                {% endif %}
                                {% if ssa.transparency %}
                                    <p><strong
                                            class="card-label">{% trans "Transparency" %}:</strong> {{ ssa.transparency }}
                                    </p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% if instance_to_platesolve.solution and request.user|can_view_full_technical_card %}
                    <hr />

                    {% if not instance_to_platesolve.solution|has_started_advanced_platesolving %}
                        <div class="astrometry-header basic">{% trans "Basic astrometry details" %}</div>
                    {% endif %}

                    <p>
                        <strong class="card-label">Astrometry.net job:</strong>
                        <a href="http://nova.astrometry.net/status/{{ instance_to_platesolve.solution.submission_id }}"
                           target="_blank">
                            {{ instance_to_platesolve.solution.submission_id }}
                        </a>
                    </p>

                    {% if instance_to_platesolve.solution.ra is not None or instance_to_platesolve.solution.advanced_ra is not None %}
                        <p>
                            <strong class="card-label">{% trans "RA center" %}:</strong>

                            {% if instance_to_platesolve.solution.advanced_ra is not None %}
                                <abbr title="{{ instance_to_platesolve.solution.advanced_ra }} {% trans "degrees" %}">
                                    {{ instance_to_platesolve.solution.advanced_ra | ra_to_hms }}
                                </abbr>
                            {% else %}
                                <abbr title="{{ instance_to_platesolve.solution.ra }} {% trans "degrees" %}">
                                    {{ instance_to_platesolve.solution.ra | ra_to_hms }}
                                </abbr>
                            {% endif %}
                        </p>
                    {% endif %}

                    {% if instance_to_platesolve.solution.dec is not None or instance_to_platesolve.solution.advanced_dec is not None %}
                        <p>
                            <strong class="card-label">{% trans "DEC center" %}:</strong>

                            {% if instance_to_platesolve.solution.advanced_dec is not None %}
                                <abbr title="{{ instance_to_platesolve.solution.advanced_dec }} {% trans "degrees" %}">
                                    {{ instance_to_platesolve.solution.advanced_dec | dec_to_dms }}
                                </abbr>
                            {% else %}
                                <abbr title="{{ instance_to_platesolve.solution.dec }} {% trans "degrees" %}">
                                    {{ instance_to_platesolve.solution.dec | dec_to_dms }}
                                </abbr>
                            {% endif %}
                        </p>
                    {% endif %}

                    {% if instance_to_platesolve.solution.pixscale is not None or instance_to_platesolve.solution.advanced_pixscale is not None %}
                        <p>
                            <strong class="card-label">{% trans "Pixel scale" %}:</strong>

                            {% if instance_to_platesolve.solution.advanced_pixscale is not None %}
                                {{ instance_to_platesolve.solution.advanced_pixscale }}
                            {% else %}
                                {{ instance_to_platesolve.solution.pixscale }}
                            {% endif %}
                            {% trans "arcsec/pixel" %}
                        </p>
                    {% endif %}

                    {% if instance_to_platesolve.solution.orientation is not None or instance_to_platesolve.solution.advanced_orientation is not None %}
                        <p>
                            <strong class="card-label">{% trans "Orientation" %}:</strong>

                            {% if instance_to_platesolve.solution.advanced_orientation is not None %}
                                {{ instance_to_platesolve.solution.advanced_orientation }} {% trans "degrees" %}
                                {% if instance_to_platesolve.solution.advanved_flipped %}
                                    {% trans "(flipped)" %}
                                {% endif %}
                            {% else %}
                                {{ instance_to_platesolve.solution.orientation }} {% trans "degrees" %}
                            {% endif %}
                        </p>
                    {% endif %}

                    {% if instance_to_platesolve.solution.radius is not None or instance_to_platesolve.solution.advanved_radius is not None %}
                        <p>
                            <strong class="card-label">{% trans "Field radius" %}:</strong>

                            {% if instance_to_platesolve.solution.advanved_radius is not None %}
                                {{ instance_to_platesolve.solution.advanced_radius }}
                            {% else %}
                                {{ instance_to_platesolve.solution.radius }}
                            {% endif %}
                            {% trans "degrees" %}
                        </p>
                    {% endif %}

                    {% if instance_to_platesolve.solution.advanced_wcs_transfrmation is not None %}
                        <p>
                            <strong class="card-label">{% trans "WCS transformation" %}:</strong>
                            {{ instance_to_platesolve.solution.advanced_wcs_transformation }}
                        </p>
                    {% endif %}
                {% endif %}

                {% if request.user|can_view_full_technical_card or request.user == image.user %}
                    <hr />
                {% endif %}

                {% if resolution %}
                    <p><strong class="card-label">{% trans "Resolution" %}:</strong> {{ resolution }}</p>
                {% endif %}

                {% if locations %}
                    <p><strong class="card-label">{% trans "Locations" %}:</strong> {{ locations }}</p>
                {% endif %}

                {% if request.user == image.user and image.uncompressed_source_file %}
                    <p>
                        <strong class="card-label">{% trans "Uncompressed source file" %}:</strong>
                        <a href="{{ image.uncompressed_source_file.url }}">
                            {% private_abbr %} {% trans "Download" %}
                        </a>
                    </p>
                {% endif %}

                {% if request.user|can_view_full_technical_card or request.user == image.user %}
                    {% if image.data_source and image.data_source != "OTHER" and image.data_source != "UNSET" %}
                        <p><strong class="card-label">{% trans "Data source" %}:</strong> {{ image.get_data_source }}
                        </p>
                    {% endif %}

                    {% if image.remote_source and image.remote_source != "OTHER" %}
                        <p><strong
                                class="card-label">{% trans "Remote source" %}:</strong> {{ image.get_remote_source }}
                        </p>
                    {% endif %}
                {% endif %}

            </div>
        </div> <!-- span -->
    </div> <!-- row technical-card -->

{% endif %} {# image|can_add_technical_details #}

