{% load avatar_tags %}
{% load astrobin_apps_donations_tags %}
{% load astrobin_apps_premium_tags %}
{% load astrobin_apps_users_tags %}
{% load common_tags %}
{% load i18n %}
{% load hitcount_tags %}
{% load tags %} {% comment %} TODO: rename tags to astrobin_tags {% endcomment %}
{% load toggleproperty_tags %}
{% load staticfiles %}

<div class="subtle-container avatar-block">
    <div class="header visible-phone">
        <h4><i class="icon-user"></i> {% trans "Author" %}</h4>
    </div>

    <div class="avatar">
        <a href="{% url 'user_page' image.user %}">
            {% avatar image.user 106 %}

            {% if DONATIONS_ENABLED %}
                {% donor_badge image.user 'medium' %}
            {% endif %}

            {% if PREMIUM_ENABLED %}
                {% premium_badge image.user 'medium' %}
            {% endif %}
        </a>
    </div>
    <div class="username">
        {% astrobin_username image.user %}
        <div class="data">
            <img class="license"
                 src="{{license_icon}}"
                 alt="{% trans "License" %}: {{license_title}}"
                 title="{% trans "License" %}: {{license_title}}" />

            <abbr class="published timeago" title="{{published_on|date:'Y-m-d\TH:i:s'}}"></abbr>

            <div>
                <span class="views">
                    {% get_hit_count for image as hit_count %}
                    <i class="icon-eye-open"></i> <span class="number">{{hit_count}}</span>
                </span>

                <span class="bookmarks">
                    <a href="#people-bookmarked-this-modal" data-toggle="modal">
                        <i class="icon-bookmark"></i>
                        <span class="number">{{bookmarked_this|length}}</span>
                    </a>
                </span>

                <span class="likes">
                    <a href="#people-like-this-modal" data-toggle="modal">
                        <i class="icon-thumbs-up"></i>
                        <span class="number">{{like_this|length}}</span>
                    </a>
                </span>
            </div>
        </div>

        {% if request.user != image.user %}
            {% add_remove_toggleproperty "follow" image.user request.user %}
        {% endif %}
    </div>
</div>


