{% load i18n %}
{% load astrobin_apps_iotd_tags %}

{% if image|is_current_or_past_iotd and not image.user.userprofile.exclude_from_competitions %}
    {% with iotd=image.iotd %}
        <div class="iotd-ribbon-container">
            <div class="iotd-ribbon">
                <div class="ribbon-stitches-top"></div>
                <strong class="ribbon-content">
                    <h1>
                        <i class="icon-trophy"></i>
                        {% trans "Image of the day" %}
                        <span class="date">
                            {{iotd.date|date:"SHORT_DATE_FORMAT"}}
                        </span>

                        {% if iotd.judge and IOTD_SHOW_CHOOSING_JUDGE %}
                        <span class="chosen-by">
                            --
                            {% trans "chosen by" %}
                            <a href="{% url 'user_page' image.judge %}">
                                {{iotd.judge.userprofile}}
                            </a>
                        </span>
                        {% endif %}

                        <a class="info" href="https://welcome.astrobin.com/iotd" target="_blank">
                            <i class="icon-info-sign"></i>
                        </a>
                    </h1>
                </strong>
                <div class="ribbon-stitches-bottom"></div>
            </div>
        </div>
    {% endwith %}
{% endif %}

