{% load astrobin_apps_images_tags %}
{% load common_tags %}
{% load hitcount_tags %}
{% load i18n %}
{% load tags %}
{% load staticfiles %}

{% ifnotequal request.user image.user %} 
    <script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>

    {% get_hit_count_js_variables for image as hitcount %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        // use the template tags in our JavaScript call
        $.postCSRF("{{ hitcount.ajax_url }}", { hitcountPK : "{{ hitcount.pk }}" })
            .done(function(data) {
                var $el = $('.views .number');
                var views = parseInt($el.text());
                if (data.hit_counted) {
                    $el.text(views + 1);
                }
            }).fail(function(data) {
                console.log('POST failed');
                console.log(data);
            });
    });
    </script>
{% endifnotequal %}

<script type="text/javascript">
$(document).ready(function() {
    $('form.copy select').change(function() {
        var sharing_mode = parseInt($('select[name=sharing_mode] option:selected').val());
        var image_size = parseInt($('select[name=sharing_image_size] option:selected').val());
        var image_mode = parseInt($('select[name=sharing_image_mode] option:selected').val());
        var thumbnail = parseInt($('select[name=sharing_thumbnail] option:selected').val());
        var textarea = $('form.copy textarea');
        var content = '';

        if (sharing_mode == 0) {
            $('select[name=sharing_thumbnail]').attr('disabled', 'disabled');
            $('select[name=sharing_thumbnail]').closest('.selector').addClass('disabled');
        } else {
            $('select[name=sharing_thumbnail]').removeAttr('disabled');
            $('select[name=sharing_thumbnail]').closest('.selector').removeClass('disabled');
        }

        /* Make thumbnail url */
        var thumbnail_alias = 'gallery';
        if (image_mode === 1)
            thumbnail_alias = 'gallery_inverted';
        var thumbnail_url = '{{SHARE_PATH}}/{{image.get_id}}/{{revision_label}}/rawthumb/' + thumbnail_alias + '/get.jpg?insecure';

        /* Make link url */
        var qs = '';
        if (image_mode === 1)
           qs += "{% query_string "mod='inverted'" "" %}";

        var sharing_url = '{{SHARE_PATH}}';
        if (image_size === 0) { /* regular */
            sharing_url += "{% get_image_url image revision_label %}";
        } else if (image_size === 1) { /* full */
            sharing_url += "{% get_image_url image revision_label 'full' %}";
        } else if (image_size === 2) { /* real */
            if(qs.length > 0)
                qs += "&real=";
            else
                qs = "{% query_string "mod=mod,real=''" ""%}";

            sharing_url += "{% get_image_url image revision_label 'full' %}";
        }

        sharing_url += qs;
        sharing_url = sharing_url.replace(/&amp;/g, '&');


        /* Make text */
        var text = "{{image.title|escape}}";
        if (thumbnail === 0)
            text = thumbnail_url;

        /*************
        * SIMPLE URL *
        *************/
        if (sharing_mode === 0) {
            content = sharing_url;
        } else

        /********
        * FORUM *
        ********/
        if (sharing_mode === 1) {
            content = "[URL=" + sharing_url + "]";
            if (thumbnail === 0) content += "[IMG]";
            content += text
            if (thumbnail === 0) content += "[/IMG]";
            content += "[/URL]"
        } else

        /*******
        * HTML *
        *******/
        if (sharing_mode === 2) {
            content = "<a href=\"" + sharing_url + "\">";
            if (thumbnail === 0) content += "<img src=\"";
            content += text;
            if (thumbnail === 0) content += "\"/>";
            content += "</a>"
        }

        textarea.val(content);
    });

    astrobin_common.init('{{image.user.username}}');

    astrobin_common.setup_gear_popovers();
    astrobin_common.setup_subject_popovers();
    astrobin_common.setup_user_popovers();

    $('#upload-revision-modal form input[type=submit]').click(function(e) {
        $(this).addClass('disabled');
        $(this).siblings('.spinner').show();
    });

    $('button#send-to-group').click(function(e) {
        var selected = $('form#select-group select option:selected').val();

        $.ajax({
            type: 'post',
            dataType: 'json',
            data: {'image': {{image.id}}},
            url: '/groups/' + selected + '/add-image/',
            success: function() {
                window.location.href = '/groups/' + selected + '/';
            }
        });

        e.preventDefault();
    });
});
</script>

