{% load astrobin_apps_images_tags %}
{% load common_tags %}
{% load hitcount_tags %}
{% load i18n %}
{% load tags %}
{% load static %}
{% load astrobin_apps_platesolving_tags %}


{% ifnotequal request.user image.user %}
    <script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>

    {% get_hit_count_js_variables for image as hitcount %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        if ($.postCSRF !== undefined) {
            $.postCSRF("{{ hitcount.ajax_url }}", {hitcountPK: "{{ hitcount.pk }}"})
                .done(function (data) {
                    var $el = $('.views .number');
                    var views = parseInt($el.text());
                    if (data.hit_counted) {
                        $el.text(views + 1);
                    }
                });
        }
    });
    </script>
{% endifnotequal %}

<script type="text/javascript">
$(document).ready(function() {
    function showProperImageSize() {
        var containerWidth = $(".astrobin-container").width();
        var imageWidth = {{ w }};
        var imageHeight = {{ h }};
        var actualImageHeight = containerWidth / imageWidth * imageHeight;
        var viewportHeight = window.innerHeight;

        var $partial = $(".partial-width-image-container");
        var $full = $(".full-width-image-container");

        function showFull() {
            $partial.remove();
            $full.show();
        }

        function showPartial() {
            $full.remove();
            $partial.show();
        }

        if ($full.length && viewportHeight - actualImageHeight > 250) {
            showFull();
        } else {
            showPartial();
        }

        if (window.attemptPlatesolving !== undefined) {
            window.attemptPlatesolving();
        }

        {% if instance_to_platesolve.solution|is_advanced_success_status %}
            $(document).ready(function () {
                let $image = $('.show-ra-dec-coordinates').first();
                let pickFirst = true;

                if ($image.outerWidth() === 0) {
                    $image = $('.show-ra-dec-coordinates').last();
                    pickFirst = false;
                }

                const $tooltip = pickFirst ? $('#ra-dec-coordinates').first() : $('#ra-dec-coordinates').last();
                const $xRuler = pickFirst ? $('#x-ruler').first() : $('#x-ruler').last();
                const $yRuler = pickFirst ? $('#y-ruler').first() : $('#y-ruler').last();

                new AstroBinPlatesolvingMouseMove(
                    $image,
                    $tooltip,
                    $xRuler,
                    $yRuler,
                    '{{ instance_to_platesolve.solution.advanced_ra_matrix }}'.split(',').map(parseFloat),
                    '{{ instance_to_platesolve.solution.advanced_dec_matrix }}'.split(',').map(parseFloat),
                    '{{ instance_to_platesolve.solution.advanced_matrix_rect }}'.split(',').map(parseFloat),
                    parseFloat('{{ instance_to_platesolve.solution.advanced_matrix_delta }}'),
                    {{ instance_to_platesolve | thumbnail_width:'hd' }},
                    {{ instance_to_platesolve | thumbnail_height:'hd' }},
                    {% thumbnail_scale image.w 'regular' %}
                );
            });
        {% endif %}

        $(".loading-correct-image-size").remove();
    }

    function setupSmallerThanRegularAttribute() {
        const $img = $(".main-image img");
        const $advancedPlatesolvingObject = $("#advanced-plate-solution-svg");

        function _do() {
            const containerWidth = $(".astrobin-image-container").width();
            const imageWidth = {{ w }};

            if (imageWidth < containerWidth) {
                $img.attr("data-smaller-than-regular", "true");

                if ($advancedPlatesolvingObject) {
                    $advancedPlatesolvingObject.attr('width', imageWidth);
                }
            }
        }

        if (
            $img.attr('data-loaded') === 'true' &&
            (
                $img.attr('data-regular-large-load-bypassed') === 'true' ||
                $img.attr('data-regular-large-loaded') === 'true'
            ) &&
            (
                $img.attr('data-hires-load-bypassed') === 'true' ||
                $img.attr('data-hires-loaded') === 'true'
            )
        ) {
            _do();
        } else {
            setTimeout(() => {
                setupSmallerThanRegularAttribute();
            }, 100);
        }
    }

    function detectForceClassicRevisionUploader() {
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());

        if (params["forceClassicRevisionUploader"] !== undefined) {
            $("#upload-revision-modal").modal("show");
        }
    }

    $('form.copy select').change(function () {
        const SHARING_MODE_SIMPLE = 0;
        const SHARING_MODE_FORUMS = 1;
        const SHARING_MODE_HTML = 2;

        const THUMBNAIL_SIZE_OFF = 0;
        const THUMBNAIL_SIZE_SMALL = 1;
        const THUMBNAIL_SIZE_MEDIUM = 2;
        const THUMBNAIL_SIZE_LARGE = 3;

        const LINKED_IMAGE_SIZE_PAGE = 0;
        const LINKED_IMAGE_SIZE_LARGE = 1;
        const LINKED_IMAGE_SIZE_FULL = 2;

        const IMAGE_MODE_NORMAL = 0;
        const IMAGE_MODE_INVERTED = 1;

        const sharingMode = parseInt($('select[name=sharing_mode] option:selected').val());
        const thumbnailSize = parseInt($('select[name=sharing_thumbnail] option:selected').val());
        const linkedImageSize = parseInt($('select[name=sharing_image_size] option:selected').val());
        const imageMode = parseInt($('select[name=sharing_image_mode] option:selected').val());

        const $textarea = $('form.copy textarea');
        const $sharingMode = $('select[name=sharing_thumbnail]');

        let content = '';

        if (sharingMode === SHARING_MODE_SIMPLE) {
            $sharingMode.attr('disabled', 'disabled');
            $sharingMode.closest('.selector').addClass('disabled');
        } else {
            $sharingMode.removeAttr('disabled');
            $sharingMode.closest('.selector').removeClass('disabled');
        }

        // Build thumbnail URL.
        let thumbnailAlias;
        let thumbnailUrl;

        switch (thumbnailSize) {
            case THUMBNAIL_SIZE_OFF:
                break;
            case THUMBNAIL_SIZE_SMALL:
                thumbnailAlias = 'gallery';
                break;
            case THUMBNAIL_SIZE_MEDIUM:
                thumbnailAlias = 'regular';
                break;
            case THUMBNAIL_SIZE_LARGE:
                thumbnailAlias = 'hd';
                break;
        }

        if (!!thumbnailAlias && imageMode === IMAGE_MODE_INVERTED) {
            thumbnailAlias += '_inverted';
        }

        if (!!thumbnailAlias) {
            thumbnailUrl = '{{SHARE_PATH}}/{{image.get_id}}/{{revision_label}}/rawthumb/' + thumbnailAlias + '/get.jpg?insecure';
        }

        // Build link URL.
        let queryString = '';
        if (imageMode === IMAGE_MODE_INVERTED)
            queryString += "{% query_string "mod='inverted'" "" %}";

        let sharingUrl = '{{SHARE_PATH}}';
        if (linkedImageSize === LINKED_IMAGE_SIZE_PAGE) {
            sharingUrl += "{% get_image_url image revision_label %}";
        } else if (linkedImageSize === LINKED_IMAGE_SIZE_LARGE) {
            sharingUrl += "{% get_image_url image revision_label 'full' %}";
        } else if (linkedImageSize === LINKED_IMAGE_SIZE_FULL) {
            if (queryString.length > 0)
                queryString += "&real=";
            else
                queryString = "{% query_string "mod=mod,real=''" ""%}";

            sharingUrl += "{% get_image_url image revision_label 'full' %}";
        }

        sharingUrl += queryString;
        sharingUrl = sharingUrl.replace(/&amp;/g, '&');


        // Build text.
        let text = "{{image.title}}";

        if (thumbnailUrl) {
            text = thumbnailUrl;
        }

        /*************
         * SIMPLE URL *
         *************/
        if (sharingMode === SHARING_MODE_SIMPLE) {
            content = sharingUrl;
        } else if (sharingMode === SHARING_MODE_FORUMS) {
            content = "[URL=" + sharingUrl + "]";
            if (thumbnailSize !== THUMBNAIL_SIZE_OFF) content += "[IMG]";
            content += text
            if (thumbnailSize !== THUMBNAIL_SIZE_OFF) content += "[/IMG]";
            content += "[/URL]"
        } else if (sharingMode === SHARING_MODE_HTML) {
            content = "<a href=\"" + sharingUrl + "\">";
            if (thumbnailSize !== THUMBNAIL_SIZE_OFF) content += "<img src=\"";
            content += text;
            if (thumbnailSize !== THUMBNAIL_SIZE_OFF) content += "\"/>";
            content += "</a>"
        }

        $textarea.val(content);
    });

    showProperImageSize();
    setupSmallerThanRegularAttribute();

    astrobin_common.setup_gear_popovers();
    astrobin_common.setup_subject_popovers();

    $('#upload-revision-modal form input[type=submit]').click(function (e) {
        $(this).addClass('disabled');
        $(this).siblings('.spinner').show();
    });

    $('button#send-to-group').click(function(e) {
        var selected = $('form#select-group select option:selected').val();

        $.ajax({
            type: 'post',
            dataType: 'json',
            data: {'image': {{image.id}}},
            url: '/groups/' + selected + '/add-image/',
            success: function() {
                window.location.href = '/groups/' + selected + '/';
            }
        });

        e.preventDefault();
    });

    $(".delete-all-other-versions").click(function () {
        var revisionLabel = $(this).data("revision-label");
        $("#delete-all-other-versions-modal #id_revision").val(revisionLabel);
    });

    detectForceClassicRevisionUploader();
});
</script>

