{% load i18n %}
{% load tags %}
{% load toggleproperty_tags %}

{% if request.user.is_authenticated and request.user != image.user %}
    {% if not request.user|can_like:image %}
        <span class="toggleproperty-add-remove property-like">
            <a class="btn btn-primary disabled" data-toggle="modal" href="#cant-like">
                <i class="icon-thumbs-up"></i>
                <span class="toggleproperties-label">
                    {% trans "Like" %}
                </span>
            </a>
        </span>
    {% else %}
        {% add_remove_toggleproperty "like" image request.user %}
    {% endif %}
{% endif %}

{% if not request.user.is_authenticated %}
    <span class="toggleproperty-add-remove property-like">
        <a class="btn btn-primary" href="{% url 'auth_login' %}?next={{request.path}}">
            <i class="icon-thumbs-up"></i>
            <span class="toggleproperties-label">
                {% trans "Like" %}
            </span>
        </a>
    </span>
{% endif %}
