{% load astrobin_apps_images_tags %}
{% load i18n %}

{% if revision_data %}
<div class="subtle-container">
    <ul class="thumbnails astrobin-thumbnails">
        <li class="thumbnail astrobin-thumbnail revisions">
            <div class="revision">
                {% if revision_label == '0' %}
                    <div class="overlay"></div>
                {% endif %}

                {% if image.is_final %}
                    <div class="final">
                        <span class="text">
                            {% trans "Final" %}
                        </span>
                    </div>
                {% endif %}

                <div class="image">
                    {% astrobin_image image 'revision' '0' %}
                </div>

                <div class="label">
                    {% trans "Original" %}
                </div>
            </div> <!-- .revision -->
        </li>

        {% for r in revision_data %}
            <li class="thumbnail astrobin-thumbnail revisions">
                <div class="revision">
                    {% if revision_label == r.object.label %}
                        <div class="overlay"></div>
                    {% endif %}

                    {% if r.object.is_final %}
                        <div class="final">
                            <span class="text">
                                {% trans "Final" %}
                            </span>
                        </div>
                    {% endif %}

                    <div class="image">
                        {% astrobin_image r.object.image 'revision' r.object.label %}
                    </div>

                    <div class="label">
                        {{r.object.label}}
                    </div>
                </div> <!-- .revision -->
            </li>
        {% endfor %}
    </ul> <!-- thumbnails -->
</div> <!-- subtle-container -->
{% endif %}



