{% load i18n %}

{% if pixinsight_finding_chart_small %}
    <div class="subtle-container pixinsight-finding-chart">
        <div class="header"><h4><i class="icon-hand-up"></i> {% trans "Sky plot" %}</h4></div>
        <div class="image">
            {% if pixinsight_finding_chart_small %}
                <a href="{{ IMAGES_URL }}{{ pixinsight_finding_chart }}" data-fancybox="sky-plot" data-rel="sky-plot">
                  <img src="{{ IMAGES_URL }}{{ pixinsight_finding_chart_small }}" alt="{% trans "Sky plot" %}" />
                </a>
            {% else %}
                <img src="{{ IMAGES_URL }}{{ pixinsight_finding_chart_small }}" alt="{% trans "Sky plot" %}" />
            {% endif %}
        </div>
    </div>
{% elif skyplot_zoom1 %}
    <div class="subtle-container sky-plot">
        <div class="header"><h4><i class="icon-hand-up"></i> {% trans "Sky plot" %}</h4></div>
        <div class="image">
            <img src="{{IMAGES_URL}}{{skyplot_zoom1}}" alt="{% trans "Sky plot" %}"/>
        </div>
    </div>
{% endif %}

