{% load i18n %}

<p>
    {% blocktrans trimmed with _0="<strong>" _1="</strong>" %}
        {{ _0 }}{{ seller_display_name }}{{ _1 }} deleted their marketplace listing {{ _0 }}{{ listing }}{{ _1 }}
    {% endblocktrans %}.
</p>

<p>
    <strong>
        {% blocktrans trimmed %}
           You received this notification because you have an offer on this listing, or you follow the listing.
        {% endblocktrans %}
    </strong>
</p>

<p>
    {% blocktrans trimmed %}
       Please note that the seller may only deleted listings without any sold line items.
    {% endblocktrans %}
</p>
