{% load i18n %}
{% load astrobin_apps_notifications_tags %}

<p>
    <a href="{{ base_url }}{% url 'image_detail' image.get_id %}?{% notification_url_params_for_email image.user %}">
        {% blocktrans trimmed with image.user.userprofile.get_display_name as user %}
            <strong>{{ user }}</strong> has published a new image
        {% endblocktrans %}{% if image.title %}: {{ image.title }}{% endif %}
    </a>
</p>

<p>
    <a href="{{ base_url }}{% url 'image_detail' image.get_id %}?{% notification_url_params_for_email image.user %}">
        <img src="{{ image_thumbnail }}" />
    </a>
</p>

{% if image.collaborators.all|length > 0 %}
    <p>
        {% trans "This image is a group effort among the following collaborators:" %}
    </p>

    <ul>
        <li>
            <a href="{{ base_url }}{% url 'user_page' image.user.username %}?{% notification_url_params_for_email image.user %}">
                {{ image.user.userprofile.get_display_name }}
            </a>
        </li>
        {% for collaborator in image.collaborators.all %}
            <li>
                <a href="{{ base_url }}{% url 'user_page' collaborator.username %}?{% notification_url_params_for_email image.user %}">
                    {{ collaborator.userprofile.get_display_name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if followed_equipment_items|length > 0 %}
    <p>
        {% trans "This image features some equipment items that you follow:" %}
    </p>

    <ul>
        {% for equipment_item in followed_equipment_items %}
            <li>
                <a href="{{ app_url }}/equipment/explorer/{{ equipment_item.klass|lower }}/{{ equipment_item.pk }}">
                    {{ equipment_item }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
