<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>AstroBin</title>

        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
        <meta name="author" content="Salvatore Iovene - http://iovene.com/" />
        <meta name="description" content="Community for astrophotographers" />
        <meta name="keywords" content="astrophotography, astronomy, telescopes" />
        <meta name="robots" content="index, follow, noarchive" />
        <meta name="googlebot" content="noarchive" />

        <!-- font -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>

        <!-- site's css -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/reset.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/astrobin.css"/>
        <!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/ie6.css"/><![endif]-->
    </head>

    <body style="width: 100%">
        <h1>AstroBin - Internal server error</h1>
        <p>
            We are really sorry, but something unexpected happened! Don't worry, it wasn't your fault.
        </p>
        <p>
            We have received an email with the details of this error and we'll fix it in no time!
        </p>
        <p>
            <img src="{{STATIC_URL}}images/broken_mirror.jpg" />
        </p>
    </body>
</html>

