{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "AstroBin in temporarily unavailable" %}{% endblock %}

{% block content %}
    <h1>{% trans "AstroBin is temporarily unavailable" %}</h1>
    <p>
        {% blocktrans %}We apologize for the inconvenience, but we are performing some server maintenance, or probably a software upgrade. Usually this doesn't take more than 30 minutes.{% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}Come back soon!{% endblocktrans %}
    </p>
{% endblock %}
