{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load avatar_tags %}
{% load markup %}
{% load tags %}

{% block title %}{% trans "Affiliates" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Help' None %}
    {% breadcrumb 'Affiliates' None %}
{% endblock %}


{% block content %}
    <div class="subtitle">
        <i class="icon icon-info-sign"></i>
        {% blocktrans %}The following companies support AstroBin.{% endblocktrans %}
    </div>

    {% for affiliate in affiliate_list %}
        <div class="subtle-container">
            <div class="header">
                <h4>{{ affiliate.company_name }}</h4>
            </div>

            {% if affiliate.company_website %}
                <a target="_blank" href="{{ affiliate.company_website }}">{{ affiliate.company_website }}</a>
            {% endif %}
            {{ affiliate.company_description|markdown|linebreaks }}
        </div>
    {% endfor %}
{% endblock %}

