{% load render_bundle from webpack_loader %}

<!doctype html>
<html lang="en">
<head>
    <title>AstroBin</title>

    <base href="/app">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Salvatore Iovene - http://iovene.com/" />
    <meta name="description"
          content="AstroBin is an image hosting website specifically targeted to astrophotographers: it's the first and the last place where you need to upload your astrophotography images. Made by an astrophotographer, for the astrophotographers." />
    <meta name="keywords" content="astrophotography, astronomy, telescopes" />
    <meta name="robots" content="index, follow, noarchive" />
    <meta name="googlebot" content="noarchive" />
</head>

<body>

<app-root></app-root>
<div class="app-loading"></div>

{% render_bundle 'main' 'js' 'FRONTEND' %}
{% render_bundle 'polyfills' 'js' 'FRONTEND' %}
{% render_bundle 'runtime' 'js' 'FRONTEND' %}
{% render_bundle 'styles' 'js' 'FRONTEND' %}
{% render_bundle 'vendor' 'js' 'FRONTEND' %}

</body>
</html>



