{% load tags %}
{% load astrobin_apps_donations_tags %}
{% load astrobin_apps_premium_tags %}
{% load pipeline %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% load static %}
{% load tags %}
{% load cookie_consent_tags %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb_safe '<i class="icon-home hidden-phone"></i> Home' "/" %}
{% endblock %}

<!DOCTYPE html>
<html lang="{% if request.user.is_authenticated and user_language %}{{user_language}}{% else %}en{% endif %}">
    <head>
        <title>{% block title %}{% endblock %} - AstroBin</title>

        {% block meta_description %}
            <meta
                    name="description"
                    content="AstroBin is an image hosting platform and social network for amateur astronomers and astrophotographers."
            />
        {% endblock %}

        {% include "base/meta.html" %}
        {% block extra_meta %}{% endblock %}

        {% include "base/favicon.html" %}
        {% include "base/ie8html5.html" %}

        {% block canonical %}{% endblock %}

        <link rel="preload"
              as="style"
              href="https://cdn.astrobin.com/delivery/token-input-1.6.0.css"
              onload="this.onload=null;this.rel='stylesheet'"
        />

        <link rel="preload"
              as="style"
              href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/basic/jquery.qtip.min.css"
              onload="this.onload=null;this.rel='stylesheet'"
        />

        <link rel="preload"
              as="style"
              href="https://cdnjs.cloudflare.com/ajax/libs/vue-multiselect/2.1.4/vue-multiselect.min.css"
              integrity="sha512-9+yOFHbE9OTmoxEGSX1Rp0xm6yF/F6AvxVn7BTmbbJE/GRZvfKuz4toFyUoM7olAv7kxkvQVJSFQwu++pHzRZQ=="
              crossorigin="anonymous" referrerpolicy="no-referrer"
              onload="this.onlaod=null;this.rel='stylesheet'"
        />

        <link rel="preload"
              as="style"
              href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/12.1.0/nouislider.min.css"
              integrity="sha512-5WWTTEAo+zuFXfBmnALx1ZOhxoSk/yxw2hAd+TyYWDQpAVRwg+pyNEG6SSgi0VkGFL7EmKUasrX14rbSsyd9Zw=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
              onload="this.onload=null;this.rel='stylesheet'"
        />

        <link rel="preload"
              as="style"
              href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
              integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E="
              crossorigin="anonymous"
              onload="this.onload=null;this.rel='stylesheet'"
        />

        <link rel="preload"
              as="style"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css"
              integrity="sha512-wJgJNTBBkLit7ymC6vvzM1EcSWeM9mmOu+1USHaRBbHkm6W9EgM0HY27+UtUaprntaYQJF75rc8gjxllKs5OIQ=="
              crossorigin="anonymous"
              onload="this.onload=null;this.rel='stylesheet'"
        />

        <link rel="preload"
              as="style"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap2-toggle.min.css"
              integrity="sha512-ZSzRvNQMQa7fj7j5kNJDi/vbH7ZjQnAUwVHpNc5SOr3y3HdburytNTNN4taNJotSwwF1DAcnhtv8rkHvGGpGZg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
              onload="this.onload=null;this.rel='stylesheet'"
        />

        <link rel="preload"
              as="style"
              href="https://cdn.astrobin.com/delivery/fancybox-4.0.css"
              onload="this.onload=null;this.rel='stylesheet'"
        />

        <link rel="preload"
              as="style"
              href="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/css/sortable-theme-dark.min.css"
              integrity="sha512-yPf2RMYcTbUiIoIVRRM5fgH3+2bTFzqTjvEARS6nNPIYEHpqeWe8QkLlRpzuvqHhShCSYiN2ZsuuNth19etDYA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
              onload="this.onload=null;this.rel='stylesheet'"
        />

        <link rel="preload"
              as="font"
              href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700|Noto+Serif:700|Noto+Sans:400|Roboto+Mono&subset=latin-ext"
              onload="this.onload=null;this.rel='stylesheet'"
        />

        <link rel="preload"
              as="style"
              href="https://cdn.astrobin.com/delivery/highlightjs-11.6.0-github-dark.min.css"
              onload="this.onload=null;this.rel='stylesheet'"
        />

        <link rel="preload"
              as="style"
              href="https://vjs.zencdn.net/8.3.0/video-js.css"
              onload="this.onload=null;this.rel='stylesheet'"
        />

        {% use_high_contrast_theme as use_high_contrast_theme %}
        {% if use_high_contrast_theme %}
            {% stylesheet 'screen_high_contrast' %}
        {% else %}
            {% stylesheet 'screen' %}
        {% endif %}

        {% include "base/ie6.html" %}

        {% block extra_css %}{% endblock %}

        {% include "base/noscript.html" %}
        {% include "base/ga.html" %}
        {% include "base/admanager.html" %}

        {% block extra_gtag %}{% endblock %}

        <script type="text/javascript" src="{% static 'common/js/jquery-1.8.3.min.js' %}"></script>

        {% if request|is_gdpr_country %}
            <script type="text/javascript" src="{% static "cookie_consent/cookiebar.js" %}"></script>
        {% endif %}

        {% block extra_head %}{% endblock %}

        {% comment %}Alternative spelling.{% endcomment %}
        {% block extrahead %}{% endblock %}
    </head>

    {% show_skyscraper_ads_on_page as show_skyscraper_ads_on_page %}

    <body id="{% block page_body_id %}none{% endblock %}"
          {% if show_skyscraper_ads_on_page %}class="with-ads-sidebar"{% endif %}
          data-offset="60"
          data-instant-allow-query-string
          data-instant-intensity="mousedown">

        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P24R3RF" height="0" width="0"
                    style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="header-container">
                        {% include "base/site_links.html" %}
    
                        <span class="header-search d-none d-lg-block">
                            {% include "base/search_form.html" %}
                        </span>
                          
                        <span class="d-lg-none brand-mobile">
                            AstroBin
                        </span>
    
                        {% include "base/user_links.html" %}
                    </div>
                </div>
            </div>
        </div>

        {% include "base/global_alerts.html" %}

        <div class="container extra-alerts">
            {% include "base/alerts.html" %}
            {% block extra_alerts %}{% endblock %}
        </div>

        <div id="top" class="container astrobin-container {% block container_extra_classes %}{% endblock %}">
            {% if show_skyscraper_ads_on_page %}
                {% with None|ad_key_value_pairs:request.user as key_value_pairs %}
                    {% include 'ads/skyscraper_ad.html' %}
                {% endwith %}
            {% endif %}

            {% block breadcrumb %} {# Use a block to allow forum template to override this #}
                {% render_breadcrumbs %}
            {% endblock %}

            {% block content %}{% endblock %}
        </div> <!-- container -->

        {% include "base/footer.html" %}

        {% include "base/page_loading_indicator.html" %}

        {% block base_modals %}
            {% include "base/modals.html" %}
        {% endblock %}

        {% block modals %}{% endblock %}

        {% include "base/scripts.html" %}
        {% include "base/js.html" %}

        {% block extra_js %}{% endblock %}

        {% with request.user|get_unseen_active_popups as popup_messages %}
            {% if popup_messages %}
                <ul class="popup-messages">
                    {% for popup_message in popup_messages %}
                        <li class="popup-message" data-id="{{ popup_message.id }}">
                           <div class="popup-message-title">
                               {{ popup_message|title }}
                           </div>
                           <div class="popup-message-body">
                                {{ popup_message.body|safe }}
                           </div>
                           <div class="popup-message-footer">
                               <button class="popup-message-dont-show-again btn btn-primary">
                                   <i class="icon-check"></i>
                                   {% trans "Don't show this again" %}
                               </button>
                           </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if request|cookie_consent_enabled and request|is_gdpr_country and '/cookies/' not in request.path %}
            {% not_accepted_or_declined_cookie_groups request as cookie_groups %}

            {% if cookie_groups %}
                {% url "cookie_consent_cookie_group_list" as url_cookies %}
                {% cookie_consent_accept_url cookie_groups as url_accept %}
                {% cookie_consent_decline_url cookie_groups as url_decline %}
                <script type="text/javascript">
                    const cookie_groups = [];

                    {% for cookie_group in cookie_groups %}
                        cookie_groups.push("{{ cookie_group.varname }}");
                    {% endfor %}

                    function ready(fn) {
                        if (document.readyState !== "loading") {
                            fn();
                        } else if (document.addEventListener) {
                            document.addEventListener("DOMContentLoaded", fn);
                        } else {
                            document.attachEvent("onreadystatechange", function () {
                                if (document.readyState !== "loading")
                                    fn();
                            });
                        }
                    }

                    ready(function () {
                        showCookieBar({
                            content: "{% filter escapejs %}{% spaceless %}{% include 'cookie_consent/cookiebar.html' %}{% endspaceless %}{% endfilter %}",
                            cookie_groups: cookie_groups,
                            cookie_decline: "{% get_decline_cookie_groups_cookie_string request cookie_groups %}",
                            beforeDeclined: function () {
                                document.cookie = "{% get_decline_cookie_groups_cookie_string request cookie_groups %}";
                            }
                        });

                        document
                            .querySelector(".cc-cookie-dismiss")
                            .addEventListener('click', (e) => {
                                e.preventDefault();

                                const body = document.querySelector('body');
                                const cookieBar = document.querySelector('.cookie-bar');

                                cookieBar.style.display = "none";
                                body.classList.remove('with-cookie-bar');
                            });
                    });
                </script>
            {% endif %}
        {% endif %}
    </body>
</html>

