{% load tags %}
{% load astrobin_apps_donations_tags %}
{% load astrobin_apps_premium_tags %}
{% load pipeline %}
{% load dfp_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load cookielaw_tags %}
{% load i18n %}


{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb_safe '<i class="icon-home hidden-phone"></i> Home' "/" %}
{% endblock %}

<!DOCTYPE html>
<html lang="{% if request.user.is_authenticated and user_language %}{{user_language}}{% else %}en{% endif %}">
    <head>
        <title>{% block title %}{% endblock %} - AstroBin</title>
        <base href="{% block base_href %}/{% endblock %}">

        {% include "base/meta.html" %}
        {% block extra_meta %}{% endblock %}

        {% include "base/favicon.html" %}
        {% include "base/ie8html5.html" %}

        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-darkness/jquery-ui.min.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.tokeninput/1.6.0/styles/token-input.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.multiselect/1.13/jquery.multiselect.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/basic/jquery.qtip.min.css">
        <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.4/dist/vue-multiselect.min.css">
        <link rel="stylesheet" href="https://unpkg.com/nouislider@12.1.0/distribute/nouislider.min.css">

        <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700|Noto+Serif:700|Noto+Sans:400|Roboto+Mono&subset=latin-ext" rel="stylesheet">
        {% stylesheet 'screen' %}

        {% include "base/ie6.html" %}

        {% block extra_css %}{% endblock %}

        {% include "base/noscript.html" %}
        {% include "base/ga.html" %}

        {% block extra_gtag %}{% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

        {% block extra_head %}{% endblock %}

        {% comment %}Alternative spelling.{% endcomment %}
        {% block extrahead %}{% endblock %}
    </head>

    <body id="{% block page_body_id %}none{% endblock %}" data-offset="55">
        {% cookielaw_banner %}

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">

                    {% include "base/site_links.html" %}
                    {% include "base/search_form.html" %}
                    {% include "base/user_links.html" %}

                </div>
            </div>
        </div>

        {% include "base/global_alerts.html" %}

        <div id="top" class="container astrobin-container {% block container_extra_classes %}{% endblock %}">
            {% block breadcrumb %} {# Use a block to allow forum template to override this #}
                {% render_breadcrumbs %}
            {% endblock %}
            {% include "base/alerts.html" %}
            {% block content %}{% endblock %}
        </div> <!-- container -->

        {% include "base/footer.html" %}

        {% block base_modals %}
            {% include "base/modals.html" %}
        {% endblock %}

        {% block modals %}{% endblock %}

        {% include "base/scripts.html" %}
        {% include "base/js.html" %}

        {% block extra_js %}{% endblock %}

        {% if request.user|show_ads and not image.user|is_any_ultimate %}
            {% dfp_footer %}
        {% endif %}

        <!-- used to figure out how many users use ad blocking software -->
        <script type="text/javascript">
            document.write('<div id="adsense" style="visibility: hidden;">Test ad.</div>');
            $(document).ready(checkAds());

            /* Adblock Check */
            function checkAds() {
                var ad = document.getElementById('adsense');
                if(!ad || ad.innerHTML.length == 0 || ad.clientHeight === 0) {
                    document.write("<script>gtag('set', {'Adblock': 'Blocked'});<\/sc" + "ript>");
                } else {
                    document.write("<script>gtag('set', {'Adblock': 'Unblocked'});<\/sc" + "ript>");
                }
            }
            /* End Adblock Check */
        </script>
    </body>
</html>

