{% load i18n %}
{% load common_tags %}
{% load tags %}

<div class="modal hide fade" id="cant-like">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3><i class="icon-frown"></i> {% trans "Sorry" %}</h3>
    </div>

    <div class="modal-body">
        {% setvar request.user|can_like:item as can_like %}
        {% setvar request.user|can_like_reason:item as can_like_reason %}

        {% blocktrans trimmed with reason=can_like_reason %}
            You cannot like this item. Reason: "{{reason}}".
        {% endblocktrans %}
    </div>

    <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal">{% trans "OK" %}</a>
    </div>
</div>
