{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load pagination_tags %}
{% load avatar_tags %}
{% load markup %}

{% block title %}AstroBin - {% trans "Comments" %}{% endblock %}
{% block content %}
    <h1>{% trans "Comments" %}</h1>

    {% for comment in comment_list %}
        {% if not comment.deleted %}
            <div class="explore-comment-container">
                <div class="comment">
                    <div class="avatar">
                        <a href="{% url user_page comment.author %}">
                            {% avatar comment.author 48 %}
                        </a>
                    </div>

                    <div class="meta">
                        <a rel="popover" class="author user-popover" data-load="{% url user_popover_ajax comment.author %}"
                           href="{% url user_page comment.author %}">
                            {{comment.author}}
                        </a>
                        
                        <abbr class="timeago" title="{{comment.updated|date:'Y-m-d\TH:i:s'}}">
                            {{comment.updated|date}}
                        </abbr>

                        <a href="{{comment.get_absolute_url}}">{% trans "Link" %}</a>
                    </div>

                    <div class="content">
                        {{comment.text|truncatechars:"55"|markdown}}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="pagination pagination-centered">
        {% paginate 4 %}
    </div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        astrobin_common.setup_user_popovers("{% trans "Follow" %}", "{% trans "Unfollow" %}");
    });
</script>
{% endblock %}
