{% load i18n %}
{% load pipeline %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{% if request.user.is_authenticated and user_language %}{{user_language}}{% else %}en{% endif %}">
    <head>
        <title>{% block title %}{% endblock %} | AstroBin</title>

        {% include "base/meta.html" %}

        <link rel="shortcut icon" href="{% static 'astrobin/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'astrobin/favicon.ico' %}" type="image/x-icon">

        {% stylesheet 'screen' %}
    </head>

    <body data-offset="60">
        <div id="top" class="container astrobin-container">
            {% block content %}{% endblock %}
        </div> <!-- container -->
    </body>
</html>

