{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block title %}AstroBin - {% trans "TIFF/FITS" %}{% endblock %}
{% block content %}
    <a name="page_anchor"></a>
    <div class="row">
        <div class="span12">
            <h1>{% trans "TIFF/FITS" %}</h1>
            <div class="well">
                {% blocktrans %}The authors of these images have been generous, and provided a link to the TIFF or FITS original files.{% endblocktrans %}
            </div>
            
            {% image_list request image_list %}
        </div>
    </div>
{% endblock %}

