{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="full-box clear">
        <h1>{% trans "Guidelines" %}</h1>
        <p>
            {% blocktrans %}AstroBin accounts are meant for members to share original images that they have created.{% endblocktrans %}
        </p>
        <h3>{% blocktrans %}What is allowed{% endblocktrans %}</h3>
        <ol class="tos">
            <li>
                <strong>{% blocktrans %}Do upload content you have created yourself.{% endblocktrans %}</strong><br />
                {% blocktrans %}Respect the copyright of others. Stealing images from other people and trying to pass them off as yours is not allowed on AstroBin.{% endblocktrans %}
            </li>
            <li>
                <strong>{% blocktrans %}Do fill in all the technical details you can.{% endblocktrans %}</strong><br />
                {% blocktrans %}AstroBin is founded on the idea that data is important and can't go wasted in a sea of chaos. As much as you can, please fill in the technical details of your images.{% endblocktrans %}
            </li>
            <li>
                <strong>{% blocktrans %}Be respectful of other users.{% endblocktrans %}</strong><br />
                {% blocktrans %}Be nice and friendly to other users when you send them messages.{% endblocktrans %}
            </li>
        </ol>
        <h3>{% blocktrans %}What is forbidden{% endblocktrans %}</h3>
        <ol class="tos">
            <li>
                <strong>{% blocktrans %}Don't upload anything that you don't hold the copyright for.{% endblocktrans %}</strong><br />
                {% blocktrans %}It's simple: if you didn't take an image yourself, then don't upload it. Images taken with remote equipment and images taken with borrowed equipment are fine of course. What matters is that it was your work.{% endblocktrans %}
            </li>
            <li>
                <strong>{% blocktrans %}No nudity, no explicitly sexual content, no illegal content.{% endblocktrans %}</strong><br />
                {% blocktrans %}Your account will be permanently deleted, and so will all your content, if you upload any content that is illegal, porn or nudity. We also reserve the right to report you to the authorities, if we find it necessary.{% endblocktrans %}
            </li>
            <li>
                <strong>{% blocktrans %}Don't upload images that have nothing to do with astronomy.{% endblocktrans %}</strong><br />
                {% blocktrans %}Images of your equipment are fine, but don't use AstroBin to upload pictures from your last vacation. Your account won't be deleted, but we will ask you to remove those pictures.{% endblocktrans %}
            </li>
            <li>
                <strong>{% blocktrans %}Don't use your account to host images for websites, banners or logos.{% endblocktrans %}</strong><br />
                {% blocktrans %}Banners, logos, icons or other graphic elements that are not astrophotography are not allowed on AstroBin.{% endblocktrans %}
            </li>
        </ol>
        <p>
            {% blocktrans %}In conclusion, these terms are just a way to say "please be nice and use common sense". If you feel you can't abide by them, please let us know what you feel is wrong.{% endblocktrans %}
        </p>
    </div>
{% endblock %}

