{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div class="small-box">
        <h2>{% trans "Quick upload" %}</h2>
        <div class="single-form">
            {% if upload_form %} 
            <form id="upload" action="{% url image_upload_process %}" method="post" enctype="multipart/form-data">
                <p>
                    <input type="file" name="file" id="id_file"/>
                    <noscript>
                        <input class="button submit-button" type="submit" value="{% trans "Upload" %}" />
                    </noscript>
                </p>
                <p>{% trans "Choose an image to upload, or" %}
                <p><a href="{% url profile_flickr_import %}">{% trans "import from Flickr" %}</a></p>
            </form>
            {% else %}
            {% url profile_edit_gear as the_url %}
            <img src="/static/images/dim_upload.png" />
            <h3>{% trans "Warning!" %}</h3>
            <p>
            {% blocktrans %}Before you start uploading images, you have to add at least one telescope and one camera. Do that in <a href="{{the_url}}">your profile</a>!{% endblocktrans %}
            </p>
            {% endif %}
        </div>
    </div>
    {% else %}
    {% url help as help_url %}
    <p class="hello">
    {% blocktrans %}<strong>Hello there! Welcome to AstroBin!</strong> <em>AstroBin</em> is an image hosting service made specifically for astrophotographers. It comes packed with features that benefit the astrophotography community greatly! Read more in the <a href="{{help_url}}">help page.</a>{% endblocktrans %}
    {% endif %}
    </p>
    <a name="pag_anchor"></a>
    <div class="full-box clear">
        <h2>{% trans "These images have been uploaded recently" %}</h2>
        {% image_list request image_list %}
    </div>
{% endblock %}

