{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% if upload_form %} 
            <div class="upload-forms">
                <div class="wip-form-box single-form">
                    <div class="container">
                        <h2>{% trans "Upload as a work in progress" %}</h2>
                        <div class="loading"><img src="/static/images/ajax-loader.gif" alt=""/></div>
                        <form class="upload" action="{% url image_upload_process %}" method="post" enctype="multipart/form-data">
                            <input type="file" name="file" class="file" id="id_file" />
                            <input class="button submit-button" type="submit" value="{% trans "Upload" %}" />
                            <input type="hidden" name="wip" value="" />
                        </form>
                        <div class="progressbar"><img src="/static/images/loading-bar.gif" alt="{% trans "Uploading..." %}"/></div>
                        <p>
                            {% url faq as faq_url %}
                            {% blocktrans %}Use this button to upload an image to the <strong>Staging Area</strong>. It's perfect for works in progress that you want to share on Internet forums. Read more in the <a href="{{faq_url}}#6">FAQ</a>.{% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="final-form-box single-form">
                    <div class="container">
                        <h2>{% trans "Upload as a finished image" %}</h2>
                        <div class="loading"><img src="/static/images/ajax-loader.gif" alt=""/></div>
                        <form class="upload" action="{% url image_upload_process %}" method="post" enctype="multipart/form-data">
                            <input type="file" name="file" class="file" id="id_file" />
                            <input class="button submit-button" type="submit" value="{% trans "Upload" %}" />
                        </form>
                        <div class="progressbar"><img src="/static/images/loading-bar.gif" alt="{% trans "Uploading..." %}"/></div>
                        <p>
                            {% url profile_flickr_import as flickr_url %}
                            {% url me as profile_url %}
                            {% blocktrans %}Use this button to upload an image to the <strong>Public Area</strong>. It will be displayed in <a href="{{profile_url}}">your profile</a> and here on the home page. You can <a href="{{flickr_url}}">import from Flickr</a> too.{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        {% else %} <!-- upload_form -->
            <div class="upload-forms">
                <div class="single-form">
                    <div class="container">
                        {% url profile_edit_gear as the_url %}
                        <img src="/static/images/dim_upload.png" />
                        <h2>{% trans "Warning!" %}</h2>
                        <p>
                            {% blocktrans %}Before you start uploading images, you have to add at least one telescope and one camera. Do that in <a href="{{the_url}}?initial">your profile</a>!{% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="single-form">
                    <div class="container">
                        {% url profile_edit_gear as the_url %}
                        <img src="/static/images/dim_upload.png" />
                    </div>
                </div>

            </div>
        {% endif %} <!-- upload_form -->
    {% else %}<!-- authenticated -->
        <div id="why-astrobin-nav-container">
            <ul id="why-astrobin-nav"></ul>
        </div>

        <div id="why-astrobin" class="full-box">
            <div class="container">
                <div class="why-astrobin-page">
                    <img src="/static/images/slide1.png" alt=""/>
                    <h2>{% blocktrans %}The perfect home for your astrophotography.{% endblocktrans %}</h2>
                    {% url help as help_url %}
                    <p>{% blocktrans %}AstroBin is an image hosting service made specifically for astrophotographers. It comes packed with features that benefit the astrophotography community greatly! See the <a href="{{help_url}}">help page.</a> for more information.{% endblocktrans %}</p>
                </div>

                <div class="why-astrobin-page" style="display: none">
                    <img src="/static/images/slide2.png" alt=""/>
                    <h2>{% blocktrans %}Unlimited uploads, unlimited size.{% endblocktrans %}</h2>
                    <p>{% blocktrans %}Astrophotography images have scientific value that shouldn't be lost in file compression. On AstroBin you can (and should!) upload full size images. And you have unlimited space for free.{% endblocktrans %}</p>
                </div>

                <div class="why-astrobin-page" style="display: none">
                    <img src="/static/images/slide3.png" alt=""/>
                    <h2>{% blocktrans %}Have your data neatly plotted.{% endblocktrans %}</h2>
                    <p>{% blocktrans %}Data is everything, and AstroBin will give you the tools to keep your data neat and organized. And with our plots, you can get insights on your productivity and on the gear you use the most.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    {% endif %}<!-- authenticated -->

    <a name="page_anchor"></a>
    <div class="full-box clear index">
        <div class="container">
            <h2>{% trans "Recently uploaded" %}</h2>
            {% search_image_list request image_list 0 %}
            <h2>{% trans "Recently favorited" %}</h2>
            {% image_list request recently_favorited 0 %}
            <h2>{% trans "Recently voted 5 stars" %}</h2>
            {% image_list request recently_five_starred 0 %}

            <div class="pagination">
                <a href="{% url wall %}">{% trans "(view more)" %}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_head %}
<noscript>
    <style type="text/css">
        .upload-forms .loading {
            display: none;
        }
        .upload-forms form {
            display: block;
        }
    </style>
</noscript>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#why-astrobin-nav-container').show();
        $('#why-astrobin .container').css('height', '165px');
        $(function() {
            $('#why-astrobin .container').cycle({
                fx:     'scrollHorz',
                speed:  'slow',
                timeout: 7000,
                pager:  '#why-astrobin-nav',
                pause: 1,
                startingSlide: Math.floor(Math.random()*3),
                pagerAnchorBuilder: function(idx, slide) { 
                    return '<li><a href="#"></a></li>'; 
                } 
            });
        });

        $('.upload-forms form').submit(function() {
            form = $(this);
            progressbar = form.parent().find('.progressbar');

            form.hide();
            progressbar.show();

            return true;
        });

        $('.upload-forms .loading').hide();
        $('.upload-forms form').show();
    });
</script>
{% endblock %}
