{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <div id="why-astrobin" class="carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <img src="{{STATIC_URL}}images/M81_astrojoe.jpg" />
                    <div class="carousel-caption">
                        <h4>{% blocktrans %}The perfect home for your astrophotography.{% endblocktrans %}</h4>
                        {% url help as help_url %}
                        <p>{% blocktrans %}AstroBin is an image hosting service made specifically for astrophotographers. It comes packed with features that benefit the astrophotography community greatly! See the <a href="{{help_url}}">help page.</a> for more information.{% endblocktrans %}</p>
                    </div>
                </div>

                <div class="item">
                    <img src="{{STATIC_URL}}images/M42_astrojoe.jpg" />
                    <div class="carousel-caption">
                        <h4>{% blocktrans %}Unlimited uploads, unlimited size.{% endblocktrans %}</h4>
                        <p>{% blocktrans %}Astrophotography images have scientific value that shouldn't be lost in file compression. On AstroBin you can (and should!) upload full size images. And you have unlimited space for free.{% endblocktrans %}</p>
                    </div>
                </div>

                <div class="item">
                    <img src="{{STATIC_URL}}images/M45_astrojoe.jpg" />
                    <div class="carousel-caption">
                        <h4>{% blocktrans %}Have your data neatly plotted.{% endblocktrans %}</h4>
                        <p>{% blocktrans %}Data is everything, and AstroBin will give you the tools to keep your data neat and organized. And with our plots, you can get insights on your productivity and on the gear you use the most.{% endblocktrans %}</p>
                    </div>
                </div>
            </div> <!-- carousel-inner -->

            <a class="carousel-control left" href="#why-astrobin" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#why-astrobin" data-slide="next">&rsaquo;</a>
        </div> <!-- carousel -->
    {% endif %}<!-- authenticated -->

    {% if user.is_authenticated and image_of_the_day %}
        {% with image_of_the_day as iotd %}
        <div class="visible-desktop">
            <div class="row">
                <div class="span10">
                    <div class="image-of-the-day">
                        <h2>{% trans "Image of the day" %}!</h2>
                        <a href="{% url image_detail iotd.image.id %}">
                            <img src="http://{{s3_url}}/astrobin_images/{{iotd.filename}}.jpg"
                                 alt="{{iotd.image.title|default:_("(no title)")}}"/>
                        </a>
                        <div class="info visible-desktop">
                            <h3>{{iotd.image.title|truncatechars:"60"}}</h3>
                            <span class="by">
                                by <a href="{% url user_page iotd.image.user %}">{{iotd.image.user}}</a>
                            </span>
                            {% for i in gear_list %}
                                {% if i.1 %}
                                <p>
                                    <strong>{% trans i.0 %}:</strong>
                                    {% for g in i.1 %}
                                        {% if i.2 == 'imaging_telescopes' or i.2 == 'imaging_cameras' %}
                                            <a rel="popover" class="gear-popover" data-load="{% url gear_popover_ajax g.id %}" href="/search/?q=&amp;as_values_{{i.2}}={{g.id}}{% search_form_query %}">{{g.name|escape}}</a>
                                        {% else %}
                                            <a rel="popover" class="gear-popover" data-load="{% url gear_popover_ajax g.id %}" href="/search/?q={{g.name|escape|urlencode}}&amp;type={{i.2}}{% search_form_query %}">{{g.name|escape}}</a>{% endif %}{% if not forloop.last %},&nbsp;{% endif %}
                                    {% endfor %}
                                </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <a class="btn btn-primary btn-upload" href="{% url image_upload %}">
                        <img alt="&uarr;" src="{{STATIC_URL}}icons/upload.png"/>
                        <span class="text">
                            {% trans "Upload" %}
                        </span>
                    </a>
                </div>
            </div>
        </div>
        {% endwith %}
    {% endif %}

    <div class="row">
        <div class="span12">
            <div class="home-strip-container">
                <div class="title">
                    <h3>{% trans "Recent" %}</h3>
                </div>
                <div class="thumbs">
                    {% image_list request image_list 0 small_size %}
                </div>
            </div>
        </div>
    </div> <!-- recently uploaded row -->

    {% if user.is_authenticated %}

    {% if recent_from_followees %}
    <div class="row">
        <div class="span12">
            <div class="home-strip-container">
                <div class="title">
                    <h3>{% trans "Followed" %}</h3>
                </div>
                <div class="thumbs">
                    {% image_list request recent_from_followees 0 small_size %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="span6">
            <div class="home-strip-container">
                <div class="title">
                    <h3>
                        <img rel="tooltip" title="{% trans "Recently voted 5 stars" %}" alt="" src="{{STATIC_URL}}icons/iconic/white/star_16x16.png"/>
                        <img rel="tooltip" title="{% trans "Recently voted 5 stars" %}" alt="" src="{{STATIC_URL}}icons/iconic/white/star_16x16.png"/>
                        <img rel="tooltip" title="{% trans "Recently voted 5 stars" %}" alt="" src="{{STATIC_URL}}icons/iconic/white/star_16x16.png"/>
                        <img rel="tooltip" title="{% trans "Recently voted 5 stars" %}" alt="" src="{{STATIC_URL}}icons/iconic/white/star_16x16.png"/>
                        <img rel="tooltip" title="{% trans "Recently voted 5 stars" %}" alt="" src="{{STATIC_URL}}icons/iconic/white/star_16x16.png"/>
                    </h3>
                </div>
                <div class="thumbs">
                    {% image_list request recently_five_starred 0 small_size %}
                </div>
            </div>
        </div>

        <div class="span6">
            <div class="home-strip-container">
                <div class="title">
                    <h3>
                        <img src="{{STATIC_URL}}icons/iconic/white/heart_stroke_16x14.png" alt="{% trans "Recently favorited" %}"/>
                    </h3>
                </div>
                <div class="thumbs">
                    {% image_list request recently_favorited 0 small_size %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        astrobin_common.setup_gear_popovers("{% trans "Follow" %}", "{% trans "Unfollow" %}");
    });
</script>
{% endblock %}
