{% extends 'base.html' %}

{% load i18n %}
{% load astrobin_apps_images_tags %}
{% load tags %}

{% block title %}{% trans "Image of the Day" %}{% endblock %}

{% block content %}
    <div class="row large-section">
        <div class="span10 offset1">
            <h1>
                {% trans "Image of the Day" %}
                <small>
                    {{iotd.date|date:"SHORT_DATE_FORMAT"}}
                    {% if iotd.chosen_by %}
                        --
                        {% trans "chosen by" %}
                        <a href="{% url user_page iotd.chosen_by %}">
                            {{iotd.chosen_by.userprofile}}
                        </a>
                    {% endif %}
                </small>
            </h1>

            <div class="iotd-archive-image">
                {% astrobin_image iotd.image 'iotd' %}

                <div class="data">
                    <h3>{{iotd.image.title|escape}}</h3>
                    <p>
                        {% trans "by" %}
                        <a href="{% url user_page iotd.image.user %}">
                            {{iotd.image.user.userprofile}}
                        </a>
                    </p>
                </div>
            </div>
        </div> <!-- span -->
    </div> <!-- row -->

    <div class="row">
        <div class="span12">
            <h2>{% trans "Chosen from the following candidates" context "images" %}</h2>

            {% image_list image_list %}
        </div>
    </div>
{% endblock %}
