{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block title %}AstroBin - {% trans "Archive of 'Image of the day' winners" %}{% endblock %}
{% block content %}
    <a name="page_anchor"></a>
    <div class="row">
        <div class="span10 offset1">
            <h1>{% trans "Archive of 'Image of the day' winners" %}</h1>

            {% for iotd in iotd_list %}
                <div class="iotd-archive-image">
                    <a href="{% url image_detail iotd.image.id %}">
                        <img src="{{IMAGES_URL}}{{iotd.filename}}.jpg"
                             alt="{{iotd.image.title|escape}}" />
                    </a>

                    <div class="data">
                        <h3>{{iotd.image.title|escape}}</h3>
                        <p>
                            {{iotd.date|date:"SHORT_DATE_FORMAT"}},
                            {% trans "by" %}
                            <a href="{% url user_page iotd.image.user %}">
                                {{iotd.image.get_author_profile}}
                            </a>
                        </p>
                    </div>

                    {% if iotd.runnerup_1 or iotd.runnerup_2 %}
                    <div class="runner-ups">
                        <h3>{% trans "Runners-up" %}:</h3>
                        {% if iotd.runnerup_1 %}
                            <div class="runner-up">
                                <a
                                    rel="tooltip"
                                    title="{{iotd.runnerup_1.title|escape}}, {% trans "by" %} {{iotd.runnerup_1.get_author_profile}}",
                                    href="{% get_image_url iotd.runnerup_1 %}">

                                    <img
                                        src="{{IMAGES_URL}}{% get_final_filename iotd.runnerup_1 %}_small_thumb{{iotd.runnerup_1.original_ext}}"
                                        alt="{{iotd.runnerup_1.title|escape}}"
                                        width="45" height="45" />
                                </a>
                            </div>
                        {% endif %}

                        {% if iotd.runnerup_2 %}
                            <div class="runner-up">
                                <a
                                    rel="tooltip"
                                    title="{{iotd.runnerup_2.title|escape}}, {% trans "by" %} {{iotd.runnerup_2.get_author_profile}}",
                                    href="{% get_image_url iotd.runnerup_2 %}">

                                    <img
                                        src="{{IMAGES_URL}}{% get_final_filename iotd.runnerup_2 %}_small_thumb{{iotd.runnerup_2.original_ext}}"
                                        alt="{{iotd.runnerup_2.title|escape}}"
                                        width="45" height="45" />
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'pagination.html' %}
{% endblock %}

