{% extends 'base.html' %}

{% load i18n %}
{% load astrobin_apps_images_tags %}
{% load tags %}

{% block title %}{% trans "Are you sure?" %}{% endblock %}

{% block content %}
    {% if not iotd_already_exists %}
        <h1>
            <span class="iotd-choose-date">{% now "SHORT_DATE_FORMAT" %}</span>
            {% trans "Are you sure?" %}
        </h1>

        <div class="row section iotd-choose">
            <div class="span12">
                {% astrobin_image image 'iotd_candidate' 'final' '' False %}

                <div class="alert alert-warning">
                    <i class="icon-warning-sign"></i>
                    {% trans "This image will be selected as today's 'Image of the day'." %}
                    {% trans "This operation cannot be undone." %}
                </div>

                <form method='POST' action="{% url iotd_choose image.id %}">
                    {% csrf_token %}
                    <input
                        type="submit"
                        class="btn btn-large btn-block btn-primary"
                        value="{% trans "Yes, I'm sure" %}"/>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

