{% extends 'base.html' %}

{% load i18n %}
{% load astrobin_apps_images_tags %}
{% load tags %}

{% block title %}{% trans "Archive of 'Image of the day' winners" %}{% endblock %}

{% block content %}
    <a class="anchor" name="page_anchor"></a>
    <div class="row">
        <div class="span10 offset1">
            <h1>{% trans "Archive of 'Image of the day' winners" %}</h1>

            {% for iotd in iotd_list %}
                <div class="iotd-archive-image">
                    {% astrobin_image iotd.image 'iotd' nav_ctx='iotd' %}

                    <div class="data hidden-phone">
                        <h3>{{iotd.image.title|escape}}</h3>
                        <p>
                            <a href="{% url 'iotd_detail' iotd.pk %}">
                                {{iotd.date|date:"SHORT_DATE_FORMAT"}}
                            </a>,
                            {% trans "by" %}
                            <a href="{% url 'user_page' iotd.image.user %}">
                                {{iotd.image.user.userprofile}}
                            </a>
                        </p>
                    </div>

                    {% if iotd.runnerup_1 or iotd.runnerup_2 %}
                    <div class="runner-ups hidden-phone hidden-tablet">
                        <h3>{% trans "Runners-up" %}:</h3>
                        {% if iotd.runnerup_1 %}
                            <div class="runner-up">
                                {% astrobin_image iotd.runnerup_1 'thumb' %}
                            </div>
                        {% endif %}

                        {% if iotd.runnerup_2 %}
                            <div class="runner-up">
                                {% astrobin_image iotd.runnerup_2 'thumb' %}
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'pagination.html' %}
{% endblock %}
