{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block content %}
    <div class="full-box clear">
        <h1>{% trans "Leaderboard" %}</h1>
        <p>
        {% blocktrans %}How productive are the users on AstroBin? Here you can see them all, sorted by total hours of integration time (counting all their images) or number of images.{% endblocktrans %}
        </p>

        <div class="leaderboard-sort">
                {% trans "Sort by:" %}&nbsp;
                <a href="{% url leaderboard %}{% query_string "sort='tot_integration'" "" %}">{% trans "Total integration" %}</a>&nbsp;|&nbsp;
                <a href="{% url leaderboard %}{% query_string "sort='avg_integration'" "" %}">{% trans "Avg. integration" %}</a>&nbsp;|&nbsp;
                <a href="{% url leaderboard %}{% query_string "sort='images'" "" %}">{% trans "Images" %}</a>
        </div>
        <table class="leaderboard">
            <tr>
                <th>{% trans "Position" %}</th>
                <th>{% trans "User" %}</th>
                <th>{% trans "Total integration hours" %}</th>
                <th>{% trans "Avg. integration hours" %}</th>
                <th>{% trans "Images uploaded" %}</th>
            </tr>
        {% for u in user_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url user_page u.user_name %}">{{u.user_name}}</a></td>
                <td>{{u.user_integration|floatformat}}</a></td>
                <td>{{u.user_avg_integration|floatformat}}</a></td>
                <td>{{u.user_images}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}

