{% extends 'base.html' %}
{% load i18n %}
{% load common_tags %}
{% load tags %}
{% load cache %}

{% block title %}{% trans "Leaderboard" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "Leaderboard" %}</h1>
    </div>

    <div class="row">
        <div class="span12">
            <div class="leaderboard">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans "Position" %}</th>
                            <th>{% trans "User" %}</th>

                            <th>
                                <a href="{% url leaderboard %}{% query_string "sort='likes'" "" %}">
                                    {% trans "AstroBin index" %} <i class="icon-sort"></i>
                                </a>
                            </th>
                            <th>
                                <a href="{% url leaderboard %}{% query_string "sort='followers'" "" %}">
                                    {% trans "Followers" %} <i class="icon-sort"></i>
                                </a>
                            </th>
                            <th>
                                <a href="{% url leaderboard %}{% query_string "sort='images'" "" %}">
                                    {% trans "Images" %} <i class="icon-sort"></i>
                                </a>
                            </th>
                            <th>
                                <a href="{% url leaderboard %}{% query_string "sort='integration'" "" %}">
                                    {% trans "Total integration" %} <i class="icon-sort"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    {% for u in user_list|slice:":100" %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>
                                <a rel="popover" class="user-popover"
                                   data-load="{% url user_popover_ajax u.username %}"
                                   href="{% url user_page u.username %}">
                                    {% if u.object %}
                                        {{u.object.userprofile}}
                                    {% else %}
                                        {{u.username}}
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{u.normalized_likes|floatformat:2}}</td>
                            <td>{{u.followers}}</td>
                            <td>{{u.images}}</td>
                            <td>{{u.integration|floatformat:2}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        astrobin_common.setup_user_popovers();
    });
</script>
{% endblock %}
