{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load pagination_tags %}
{% load cache %}

{% block title %}AstroBin - {% trans "Leaderboard" %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="span12">
            <div class="leaderboard">
                <h1>{% trans "Leaderboard" %}</h1>

                <table class="table">
                    <tr>
                        <th>{% trans "Position" %}</th>
                        <th>{% trans "User" %}</th>
                        <th>
                            <a href="{% url leaderboard %}{% query_string "sort='integration'" "" %}">
                                {% trans "Total integration" %} <i class="icon-sort"></i>
                            </a>
                        </th>
                        <th>
                            <a href="{% url leaderboard %}{% query_string "sort='avg_integration'" "" %}">
                                {% trans "Avg. integration hours" %} <i class="icon-sort"></i>
                            </a>
                        </th>
                        <th>
                            <a href="{% url leaderboard %}{% query_string "sort='images'" "" %}">
                                {% trans "Images" %} <i class="icon-sort"></i>
                            </a>
                        </th>
                        <th>
                            <a href="{% url leaderboard %}{% query_string "sort='comments'" "" %}">
                                {% trans "Comments" %} <i class="icon-sort"></i>
                            </a>
                        </th>
                    </tr>
                    {% autopaginate user_list 100 %}
                    {% for u in user_list %}
                        <tr>
                            <td>{{page_obj.start_index|add:forloop.counter0}}</td>
                            <td>
                                <a rel="popover" class="user-popover"
                                   data-load="{% url user_popover_ajax u.object.username %}"
                                   href="{% url user_page u.object.username %}">
                                    {{u.object.username}}
                                </a>
                            </td>
                            <td>{{u.integration|floatformat}}</a></td>
                            <td>{{u.avg_integration|floatformat}}</a></td>
                            <td>{{u.images}}</td>
                            <td>{{u.comments_written}}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="pagination pagination-centered">
                    {% paginate 4 %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        astrobin_common.setup_user_popovers("{% trans "Follow" %}", "{% trans "Unfollow" %}");
    });
</script>
{% endblock %}
