{% load i18n %}
{% load tags %}
{% load astrobin_apps_notifications_tags %}
{% load inbox %}
{% load pipeline %}
{% load common_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{% if request.user.is_authenticated and user_language %}{{user_language}}{% else %}en{% endif %}">
    <head>
        <title>{% block title %}AstroBin{% endblock %}</title>

        {% include "base/meta.html" %}

        <link rel="shortcut icon" href="{% static 'astrobin/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'astrobin/favicon.ico' %}" type="image/x-icon">

        <!--[if lte IE 8]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="{% static 'astrobin/js/selectivizr.js' %}"></script>
        <![endif]-->

        <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700|Noto+Serif:700&subset=latin-ext" rel="stylesheet">
        {% stylesheet 'screen' %}

        <!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="{% static 'astrobin/css/ie6.css' %}"/><![endif]-->

        {% block extra_css %}{% endblock %}

        {% block extra_head %}{% endblock %}

        {% comment %}Alternative spelling.{% endcomment %}
        {% block extrahead %}{% endblock %}

        <noscript>
            <style type="text/css">
                form select { width: 70%; }
            </style>
        </noscript>

        {% include "base/ga.html" %}
    </head>

    <body data-offset="60">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".site-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="text">{% trans "Site links" %}</span>
                    </a>
                    <div class="site-nav nav-collapse collapse pull-left">
                        <ul class="nav">
                            <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
                            <li class="dropdown {% current request "^/forum/" %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% trans "Forum" %}
                                    <i class="icon-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'pybb:index' %}"><i class="icon-comments"></i> {% trans "Home" %}</a></li>
                                    <li><a href="{% url 'pybb:topic_latest' %}"><i class="icon-sort-by-attributes-alt"></i> {% trans "Latest topics" %}</a></li>
                                    {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'pybb:topic_subscribed' %}"><i class="icon-eye-open"></i> {% trans "Subscribed topics" %}</a></li>
                                    {% endif %}
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% trans "Explore" %}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'iotd_archive' %}">
                                            <i class="icon-trophy"></i>
                                            {% trans "Image of the day" %}
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="{% url 'haystack_search' %}">
                                            <i class="icon-search"></i>
                                            {% trans "Advanced search" %}
                                        </a>
                                    </li>

                                    {% show_competitive_feature request.user None as show_competitive_feature %}
                                    {% if show_competitive_feature or request.user.is_superuser %}
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{% url 'stats' %}">
                                                <i class="icon-bar-chart"></i>
                                                {% trans "Stats" %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'astrophotographers_list' %}">
                                                <i class="icon-list-ol"></i>
                                                {% trans "Astrophotographers list" %}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% trans "Help" %}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="https://welcome.astrobin.com/help" target="_blank">
                                            <i class="icon-info-sign"></i>
                                            {% trans "What is this site?" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://welcome.astrobin.com/faq" target="_blank">
                                            <i class="icon-question-sign"></i>
                                            {% trans "FAQ" %}
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="{% url 'api' %}">
                                            <i class="icon-key"></i>
                                            API
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://welcome.astrobin.com/sponsors-and-partners" target="_blank">
                                            <i class="icon-group"></i>
                                            {% trans "Sponsors" %}
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="{% url 'contact' %}">
                                            <i class="icon-envelope"></i>
                                            {% trans "Contact" %}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div> <!-- nav-collapse -->

                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".user-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="text">{% trans "User" %}</span>
                    </a>

                    <div class="user-nav nav-collapse collapse pull-right">
                        <ul class="nav pull-right">
                            {% if request.user.is_authenticated %}
                            <li class="dropdown">
                                <div class="btn-group">
                                    <a href="{% url 'user_page' request.user %}" class="btn btn-primary">
                                        <i class="icon-user icon-white"></i>
                                        {{request.user|truncatechars:"12"}}
                                    </a>
                                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'image_upload' %}">
                                                <i class="icon-upload-alt"></i>
                                                {% trans "Upload" %}
                                            </a>
                                        </li>
                                        <li class="nav-header">{% trans "My places" %}</li>

                                        <li>
                                            <a href="{% url 'user_page' request.user %}">
                                                <i class="icon-picture"></i>
                                                {% trans "Gallery" %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'user_page_bookmarks' request.user %}">
                                                <i class="icon-bookmark"></i>
                                                {% trans "Bookmarks" %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'user_page_plots' request.user %}">
                                                <i class="icon-bar-chart"></i>
                                                {% trans "Plots" %}
                                            </a>
                                        </li>
                                        <li class="divider"></li>

                                        <li>
                                            <a href="{% url 'messages_inbox' %}">
                                                <i class="icon-inbox"></i>
                                                {% trans "My messages" %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'user_page_api_keys' request.user %}">
                                                <i class="icon-key"></i>
                                                {% trans "API Keys" %}
                                            </a>
                                        </li>

                                        <li class="nav-header">{% trans "My settings" %}</li>
                                        <li>
                                            <a href="{% url 'profile_edit_basic' %}">
                                                <i class="icon-edit"></i>
                                                {% trans "Basic information" %}
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{% url 'profile_edit_gear' %}">
                                                <i class="icon-cog"></i>
                                                {% trans "Gear" %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'profile_edit_locations' %}">
                                                <i class="icon-globe"></i>
                                                {% trans "Locations" %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'profile_edit_license' %}">
                                                <i class="icon-legal"></i>
                                                {% trans "Default license" %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'profile_edit_preferences' %}">
                                                <i class="icon-wrench"></i>
                                                {% trans "Preferences" %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'avatar_change' %}">
                                                <i class="icon-user"></i>
                                                {% trans "Avatar" %}
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{% url 'auth_logout' %}">
                                                <i class="icon-signout"></i>
                                                {% trans "Logout" %}
                                            </a>
                                        </li>
                                    </ul>
                                </div> <!-- btn-group -->
                            </li> <!-- user menu -->

                            <li class="divider-vertical"></li>

                            <li class="dropdown notice-container hidden-phone hidden-tablet">
                                {% if notifications_count > 0 %}
                                    <span id="notifications_count" class="notice-count">{{notifications_count}}</span>
                                {% endif %}
                                <a class="dropdown notifications" data-toggle="dropdown" title="{% trans "Notifications" %}" href="#">
                                    <i class="icon icon-bell-alt"></i>
                                </a>
                                <ul class="dropdown-menu" id="notifications-popup">
                                    {% notification_list request.user %}
                                </ul>
                            </li> <!-- notifications -->

                            {% else %} <!-- request.user.is_authenticated -->
                            <li>
                                <a href="{% url 'auth_login' %}{% if request.path|slice:"9" != "/accounts" %}?next={{request.path}}{% endif %}">
                                    {% trans "Login" %}
                                </a>
                            </li>
                            {% if not privatebeta_enabled %}
                            <li>
                                <a href="https://welcome.astrobin.com/pricing">{% trans "Register" %}</a>
                            </li>
                            {% endif %}
                        {% endif %} <!-- request.user.is_authenticated -->
                        </ul>
                    </div> <!-- user-nav -->

                    <form class="navbar-search pull-right hidden-phone hidden-tablet" id="quick-search" action="{% url 'haystack_search' %}" method="get" >
                        <input class="tbox"
                               id="q"
                               type="text"
                               name="q"
                               value="{% trans "Quick search" %}"/>
                    </form>
                </div>
            </div>
        </div>

        <div id="top" class="container astrobin-container">
            {% if request.user.is_authenticated and messages %}
                {% for message in messages %}
                    <div class="alert
                        {% if message.level == 20 %}alert-info{% endif %}
                        {% if message.level == 25 %}alert-success{% endif %}
                        {% if message.level == 30 %}alert-warning{% endif %}
                        {% if message.level == 40 %}alert-error{% endif %}">
                        <button class="close" data-dismiss="alert">&times;</button>
                        <h4 class="alert-heading">
                            {% if message.level == 20 %}<i class="icon-info-sign"></i> {% trans "Hey!" %}{% endif %}
                            {% if message.level == 25 %}<i class="icon-ok-sign"></i> {% trans "Success!" %}{% endif %}
                            {% if message.level == 30 %}<i class="icon-warning-sign"></i> {% trans "Warning!" %}{% endif %}
                            {% if message.level == 40 %}<i class="icon-fire"></i> {% trans "Error!" %}{% endif %}
                        </h4>
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div> <!-- container -->

        {% include "base/footer.html" %}

        {% block modals %}{% endblock %}

        <!--[if lte IE 8]><script type="text/javascript" src="{% static 'astrobin/js/flashcanvas.js' %}"></script><![endif]-->

        {% javascript 'scripts' %}

        <!-- javascript -->
        <script type="text/javascript">
            $(window).bind('beforeunload', function() {
                $.each(astrobin_common.globals.requests, function(i, xhr) {
                    try {
                        xhr.abort();
                    } catch(e) {
                        if (console)
                            console.log('failed to abort xhr');
                    }
                });
                astrobin_common.globals.requests = [];
            });

            function getInternetExplorerVersion()
            // Returns the version of Internet Explorer or a -1
            // (indicating the use of another browser).
            {
              var rv = -1; // Return value assumes failure.
              if (navigator.appName == 'Microsoft Internet Explorer')
              {
                var ua = navigator.userAgent;
                var re  = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
                if (re.exec(ua) != null)
                  rv = parseFloat( RegExp.$1 );
              }
              return rv;
            }

            var dictionary = {
                'Cancel': '{% trans "Cancel" %}'
            }
            $.i18n.setDictionary(dictionary);

            $(document).ready(function() {
                {% comment %}
                    {% if request.user.is_authenticated %}
                    var ver = getInternetExplorerVersion();
                    if (ver == -1) {
                        astrobin_common.start_listeners('{{request.user.username}}');
                    }
                    {%endif %}
                {% endcomment %}
                astrobin_common.init_ajax_csrf_token();

                $('.dropdown-toggle').dropdown();
                $('.carousel').carousel();
                $('.nav-tabs').tab();
                $('[rel=tooltip]').tooltip();

                // date and time pickers
                $('input').filter('.timepickerclass').timepicker({});
                $('input').filter('.datepickerclass').datepicker({'dateFormat':'yy-mm-dd'});

                $('input:checkbox, input:radio, input:file').uniform(
                    {fileDefaultText: '{% trans "No file selected" %}',
                     fileBtnText: '{% trans "Choose file" %}'
                    }
                );

                $("select[multiple]:not(.select2)").not('*[name="license"]').multiselect({
                    searchable: false,
                    dividerLocation: 0.5
                });

                $('.notice-container a.notifications').click(function(event) {
                    setTimeout(function() {
                        notifications_mark_seen();
                    }, 1000);
                });

                var notifications_read_timer = 0;
                var notifications_mark_seen = function() {
                    $.ajax(
                    {
                        url: '/notifications/seen/',
                        dataType: 'json',
                        success: function() {
                            $('#notifications-popup li.unread').removeClass('unread');
                            $('#notifications_count').remove();
                        }
                    });
                };
            });
        </script>

        {% block extra_js %}{% endblock %}

        {% comment %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=100834516742118";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        {% endcomment %}
</body>
</html>

