{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block content %}
    <h1>{% trans "Nominate for the Messier Marathon" %}</h1>
    {% if has_messier %}
        <div class="well">
            {% url messier as the_url %}
            {% blocktrans %}You will nominate this image for the <a href="{{the_url}}" target="_blank">Messier Marathon</a>. The Messier Marathon is a list of the Messier objects that features AstroBin images nominated by the users. For each Messier object, the AstroBin image with the most nomination is chosen.{% endblocktrans %}
        </div>
        {% if not has_multiple_messier %}
        <div class="well">
            {% blocktrans %}Press <em>Continue</em> to nominate this image for <strong>M {{messier_object}}</strong>.{% endblocktrans %}
        </div>
        {% endif %}
    {% endif %}

    {% if not has_messier %}
        <div class="well">
        {% blocktrans %}Sorry, but it doesn't look like this image contains a Messier object. If you think this is a mistake, please contact the author of the image and ask them to add the correct Messier object as a subject.{% endblocktrans %}
        </div>
        
        <a class="btn" href="{{image.get_absolute_url}}/">{% trans "Return to image" %}</a>
    {% else %}
        {% if has_multiple_messier %}
            <div class="well">
            {% blocktrans %}This image contains multiple Messier objects. Please choose the one for which you are nominating this image.{% endblocktrans %}
            </div>
            <form class="form-horizontal" action="{% url messier_nomination_process %}" method="post">
                {{form|as_bootstrap}}
                <input type="hidden" name="image_id" value="{{image.id}}" />
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="{% trans "Continue" %} &rarr;" />
                    <a class="btn" href="{{image.get_absolute_url}}/">{% trans "Return to image" %}</a>
                </div>
            </form>
        {% else %}
            <form class="form-horizontal" action="{% url messier_nomination_process %}" method="post">
                <input type="hidden" name="image_id" value="{{image.id}}" />
                <input type="hidden" name="messier_object" value="{{messier_object}}" />
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="{% trans "Continue" %} &rarr;" />
                    <a class="btn" href="{{image.get_absolute_url}}/">{% trans "Return to image" %}</a>
                </div>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
