{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% if already_nominated %}
        <h1>{% trans "You have already nominated this image" %}</h1>
        <div class="well">{% blocktrans %}You can't nominate the same image more than once.{% endblocktrans %}</div>
    {% else %}
        <h1>{% trans "Thanks for your nomination" %}</h1>
        <div class="well">{% blocktrans %}Your nomination has been recorded, thank you!{% endblocktrans %}</div>
    {% endif %}
    
    <a class="btn btn-primary" href="{% url messier %}">{% trans "Visit the Messier Marathon" %} &rarr;<a/>
    <a class="btn" href="{{image.get_absolute_url}}/">{% trans "Return to image" %}</a>
{% endblock %}
