{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block content %}
    <a name="page_anchor"></a>
    <div class="full-box clear index">
        <h1>{% trans "Messier Marathon" %}</h1>
        <p>
            {% blocktrans %}This is a list of Messier objects featuring images on AstroBin. You can nominate any image (as long as it contains a Messier object), by opening the <strong>Actions</strong> menu and selecting <strong>Nominate for the Messier Marathon</strong>.{% endblocktrans %}
        </p>
        <p>
            {% url haystack_search as search_url %}
            {% blocktrans %}What about <a href="{{search_url}}">doing a search</a> and nominating some images now?{% endblocktrans %}
        </p>

        {% messier_list request image_list 0 %}
    </div>
{% endblock %}

