{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block content %}
    <h1>
        {% blocktrans %}Images acquired night after night{% endblocktrans %}
    </h1>
    <p class="help">
        {% blocktrans %}On this page you can see images that were actually taken each night, and not merely uploaded on a particular date.{% endblocktrans %}
    </p>
    {% for day in daily %}
        {% for title, images in day.items %}
            {% if images %}
                <h4>{{title}}</h4>
                {% image_list request images 0 %}
                <div class="fix"></div>
            {% endif %}
        {% endfor %}
    {% empty %}
        {% blocktrans %}No images.{% endblocktrans %}
    {% endfor %}
    <div class="pagination">
        <div class="pager">
            {% if month_offset > 0 %}
            <span class="page">
                <a href="{% query_string "month_offset='0'" "" %}#page_anchor">&laquo; {% trans "current month" %}</a>
            </span>
            |
            <span class="page">
                <a href="{% query_string "month_offset=previous_month" "" %}#page_anchor">&laquo; {% trans "previous month" %}</a>
            </span>
            |
            {% endif %}
            <span class="page">
                <a href="{% query_string "month_offset=next_month" "" %}#page_anchor">{% trans "next month" %} &raquo;</a>
            </span>
        </div>
    </div>
{% endblock %}

