{% load i18n %}

{% if is_paginated %}
    <div class="pagination">
        <ul>
            <li>
                {% if page_obj.has_previous %}
                <a class="arrow" title="{% trans "Previous page" %}" href="?page={{ page_obj.previous_page_number }}">&larr;</a>
                {% else %}
                <span class="arrow">&larr;</span>
                {% endif %}
            </li>
            <li>
                {% if page_obj.has_next %}
                <a class="arrow" title="{% trans "Next page" %}" href="?page={{ page_obj.next_page_number }}" >&rarr;</a>
                {% else %}
                <span class="arrow">&rarr;</span>
                {% endif %}
            </li>
        </ul>
    </div>
{% endif %}
