{% load i18n %}
{% load common_tags %}
{% load tags %}

{% if page_obj.has_previous or page_obj.has_next %}
<div class="pagination pagination-centered">
    <ul>
       {% if page_obj.has_previous %}
          <li>
            <a href="{% query_string "page=page_obj.previous_page_number" "" %}#page_anchor">&laquo; {% trans "previous" %}</a>
          </li>
       {% endif %}

       {% if page_obj.has_next %}
          <li><a href="{% query_string "page=page_obj.next_page_number" "" %}#page_anchor">{% trans "next" %} &raquo;</a></li>
       {% endif %}
    </ul>
</div>
{% endif %}
