{% load i18n %}
{% load tags %}

{% if has_previous or has_next %}
<div class="pagination pagination-centered">
    <ul>
       {% if has_previous %}
          <li>
            <a href="{% query_string "page=previous" "" %}#page_anchor">&laquo; {% trans "previous" %}</a>
          </li>
       {% endif %}

       {% if show_first %}
          <li><a href="{% query_string "page=1" "" %}#page_anchor">1</a></li>
          <li classs="ellipsis disabled"><a href="#">...</a></li>
       {% endif %}
       {% for linkpage in page_numbers %}
             <li{% ifequal linkpage page %} class="active"{% endifequal %}>
                <a href="{% query_string "page=linkpage" "" %}#page_anchor">{{ linkpage }}</a>
             </li>
       {% endfor %}
       {% if show_last %}
          <li class="ellipsis disabled"><a href="#">...</a></li>
          <li class="page"><a href="{% query_string "page=last" "" %}#page_anchor">{{ pages }}</a></li>
       {% endif %}
       {% if has_next %}
          <li><a href="{% query_string "page=next" "" %}#page_anchor">{% trans "next" %} &raquo;</a></li>
       {% endif %}
    </ul>
</div>
{% endif %}
