{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load pagination_tags %}

{% block title %}AstroBin - {% trans "Stats" %}{% endblock %}
{% block content %}
    <div class="stats full-box clear">
        <div class="raw-data">
            {% blocktrans %}<strong>{{total_users}}</strong> users uploaded <strong>{{total_images}}</strong> images, reaching <strong>{{total_integration}}</strong> hours of integration time.{% endblocktrans %}
        </div>
        <div class="plots">
            <h2>
                {% if 's_ihp' in request.GET and request.GET.s_ihp == 'daily' %}
                    {% trans "Total integration hours in the last 30 days" %}
                {% else %}
                    {% trans "Total integration hours in the last 12 months" %}
                {% endif %}
            </h2>
            <a name="stats_integration_hours_anchor"></a>
            <ul class="bar">
                <li id="menu">
                    <ul class="topnav">
                        <li class="first last">
                            <span class="text"><a href="#">{% trans "Plot by" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li><span class="text"><a href="{% query_string "s_ihp='monthly'" "" %}#stats_integration_hours_anchor">{% trans "Month" %}</a></span></li>
                                    <li><span class="text"><a href="{% query_string "s_ihp='daily'" "" %}#stats_integration_hours_anchor">{% trans "Day" %}</a></span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div id="stats_integration_hours" class="plot" style="width:880px;height:300px;">
                <div class="loading">
                    <p>{% trans "Please wait: the plot is loading..." %}</p>
                    <img alt="{% trans "Loading..." %}" src="/static/images/plot-loading.gif" />
                </div>
            </div>
        </div>

        <div class="leaderboard">
            <h2>{% trans "Leaderboard" %}</h2>

            <a name="leaderboard"></a>
            <ul class="bar">
                <li id="menu">
                    <ul class="topnav">
                        <li class="first last">
                            <span class="text"><a href="#">{% trans "Sort by" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li><span class="text"><a href="{% url stats %}{% query_string "sort='tot_integration'" "" %}#leaderboard">{% trans "Total integration" %}</a></span></li>
                                    <li><span class="text"><a href="{% url stats %}{% query_string "sort='avg_integration'" "" %}#leaderboard">{% trans "Avg. integration" %}</a></span></li>
                                    <li><span class="text"><a href="{% url stats %}{% query_string "sort='images'" "" %}#leaderboard">{% trans "Images" %}</a></span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
                    
            <table>
                <tr>
                    <th>{% trans "Position" %}</th>
                    <th>{% trans "User" %}</th>
                    <th>{% trans "Total integration hours" %}</th>
                    <th>{% trans "Avg. integration hours" %}</th>
                    <th>{% trans "Images uploaded" %}</th>
                </tr>
            {% autopaginate user_list 25 %}
            {% for u in user_list %}
                <tr>
                    <td>{{page_obj.start_index|add:forloop.counter0}}</td>
                    <td><a href="{% url user_page u.user_name %}">{{u.user_name}}</a></td>
                    <td>{{u.user_integration|floatformat}}</a></td>
                    <td>{{u.user_avg_integration|floatformat}}</a></td>
                    <td>{{u.user_images}}</td>
                </tr>
            {% endfor %}
            </table>
            <div class="pagination">{% paginate 4 "#leaderboard" %}</div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    stats.init();
    stats.plot(
        '#stats_integration_hours',
        {% if 's_ihp' in request.GET %}
            {% if request.GET.s_ihp == 'monthly' %}
                "{% url stats_integration_hours 'astrobin' 'monthly' 365 %}",
            {% else %}
                "{% url stats_integration_hours 'astrobin' 'daily' 30 %}",
            {% endif %}
        {% else %}
        "{% url stats_integration_hours 'astrobin' 'monthly' 365 %}",
        {% endif %}
        5000);
    stats.enableTooltips("#stats_integration_hours");
});
</script>
{% endblock %}
