{% extends 'base.html' %}

{% load cache %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load astrobin_apps_iotd_tags %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_users_tags %}

{% block title %}{% trans "Top picks" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Explore' None %}
    {% breadcrumb 'Top picks' None %}
{% endblock %}

{% block content %}
    <div class="subtitle">
        <i class="icon icon-info-sign"></i>
        {% blocktrans %}A collection of great images that were recently handpicked.{% endblocktrans %}
    </div>

    <div class="top-picks">
        {% cache 3600 top_picks page_obj.number %}
            {% for image in object_list %}
                <div class="top-picks-item">
                    {% astrobin_image image 'story' tooltip=False nav_ctx='picks' %}
                    <div class="overlay">
                        <div class="inner">
                            <div class="image-title">{{image.title|default:_("(no title)")}}</div>
                            <div class="image-author">{% astrobin_username image.user %}</div>
                        </div>
                    </div>
                </div>
            {% empty %}
                {% trans "This list is currently empty." %}
            {% endfor %}
        {% endcache %}
    </div>

    {% include 'pagination_simple.html' %}
{% endblock %}
