{% extends 'base.html' %}

{% load cache %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load astrobin_apps_iotd_tags %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_users_tags %}
{% load common_tags %}

{% block title %}{% trans "Top picks" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Explore' None %}
    {% breadcrumb 'Top picks' None %}
{% endblock %}

{% block container_extra_classes %}has-subnav{% endblock %}

{% block content %}
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-filter icon-white"></i>
                    <span class="hidden-phone">{% trans "Data source" %}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ request.path }}{% query_string "source='backyard'" "" %}">
                            <span class="bg-icon{% if source == 'backyard' %} icon-ok{% endif %}"></span>
                            {% trans "Backyard" %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ request.path }}{% query_string "source='traveller'" "" %}">
                            <span class="bg-icon{% if source == 'traveller' %} icon-ok{% endif %}"></span>
                            {% trans "Traveller" %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ request.path }}{% query_string "source='own-remote'" "" %}">
                            <span class="bg-icon{% if source == 'own-remote' %} icon-ok{% endif %}"></span>
                            {% trans "Own remote observatory" %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ request.path }}{% query_string "source='amateur-hosting'" "" %}">
                            <span class="bg-icon{% if source == 'amateur-hosting' %} icon-ok{% endif %}"></span>
                            {% trans "Amateur hosting facility" %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ request.path }}{% query_string "source='public-amateur-data'" "" %}">
                            <span class="bg-icon{% if source == 'public-amateur-data' %} icon-ok{% endif %}"></span>
                            {% trans "Public amateur data" %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ request.path }}{% query_string "source='pro-data'" "" %}">
                            <span class="bg-icon{% if source == 'pro-data' %} icon-ok{% endif %}"></span>
                            {% trans "Professional, scientific grade data" %}
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li class="bg-icon">
                        <a href="{{ request.path }}{% query_string "" "source" %}">{% trans "All" %}</a>
                    </li>
                </ul>
            </li>
        </ul> <!-- nav -->
    </div> <!-- subnav -->

    <div class="subtitle">
        <i class="icon icon-info-sign"></i>
        {% blocktrans %}A collection of great images that were recently handpicked.{% endblocktrans %}
    </div>

    <div class="top-picks">
        {% cache 3600 top_picks source page_obj.number  %}
            {% for image in object_list %}
                <div class="top-picks-item">
                    {% astrobin_image image 'story' tooltip=False nav_ctx='picks' %}
                    <div class="overlay">
                        <div class="inner">
                            <div class="image-title">{{image.title|default:_("(no title)")}}</div>
                            <div class="image-author">{% astrobin_username image.user %}</div>
                        </div>
                    </div>
                </div>
            {% empty %}
                {% trans "This list is currently empty." %}
            {% endfor %}
        {% endcache %}
    </div>

    {% include 'pagination_simple.html' %}
{% endblock %}
