{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="full-box clear">
        <div class="container">
            <h1>{% trans "Terms of Service" %}</h1>
            <p class="info">
                {% blocktrans %}The following Terms are only available in English. It is your responsibility to comprehend them.{% endblocktrans %}
            </p>
            <div class="hentry tos">
<p>
The following terms explain your obligations when using the AstroBin
website.
</p>

<h3>ACCEPTANCE OF TERMS</h3>

<p>
The web pages available at astrobin.com ("Site"), are owned and
operated by Salvatore Iovene ("Service Provider"), and are accessed by
you under the Terms of Use described below ("Terms").
</p>

<p>
PLEASE READ THESE TERMS CAREFULLY BEFORE USING THE SITE. BY ACCESSING
ASTROBIN OR USING ANY PART OF THE SITE OR ANY CONTENT OR SERVICES (AS
EACH IS DEFINED BELOW) ON THE SITE, YOU AGREE TO BECOME BOUND BY THESE
TERMS AND CONDITIONS. IF YOU DO NOT AGREE TO ALL THE TERMS AND
CONDITIONS, YOU MAY NOT USE THE SITE, ITS CONTENT OR ANY OF ITS
SERVICES.
</p>


<h3>MODIFICATIONS OF TERMS</h3>

<p>
The Service Provider reserves the right to modify or replace the Terms
at any time, If the modifications are substantial in nature, the
Service Provider will notify you by posting an announcement on the
Site. Whether an alteration of the Terms is substantial will be
determined at the Service Provider's sole discretion, in good faith.
You shall be responsible for reading, reviewing and becoming familiar
with any such alterations. If you will decide to continue the use of
the Site following such notification, that will constitute your
acceptance of the Terms as modified.
</p>


<h3>DESCRIPTION OF SERVICE</h3>

<p>
The Service Provider may offer to provide some services and content,
as described with more detail on the Site, ("Services"). Services
shall include, but not be limited to, any service and content the
Service Provider performs for you (including, but not limited to the
display of text, user comments, messages, information, data, graphics,
photographs, images, illustrations, software, also known as the
"Content"). The Service Provider may change, suspend or discontinue
the Services including any Content for any reason, at any time,
including the availability of any feature or content. The Service
Provider may also impose limits on certain features and services of
restrict your access to parts or all the Services without notice of
liability.
</p>


<h3>YOUR OBLIGATIONS UPON REGISTRATION</h3>

<p>
As a condition to using some of the Services (including, but not
limited to uploading images, creating a user profile, commeting on
images or other comments, sending messages to other users, voting on
images), you are required to register with the Site and select a
password and a username. You are not allowed to:
</p>

<p>
<ol>
<li>select or use as an AstroBin username a name of another person with
the intent to impersonate that person;</li>
<li>use as an AstroBin username a name subjejt to any rights of a
person other than you without authorization from said person;</li>
<li>use as an AstroBin username a name that is offensive, vulgar or
obscene. The Service Provider reserves the right to decide whether a
name is such, at its own discretion.</li>
</ol>
</p>

<p>
Failure to respect one or more of the 3 points above will result in
the immediate termination of the user account.
</p>

<p>
Services are available only to individuals who are at least 13 years
old, whether acting on their own behalf or as an authorized employee
or representative of a corporation or other business entity. If you do
not so qualify, you may not register on the site.
</p>


<h3>USER CONDUCT</h3>

<p>
You may not use the Site or the Service:
</p>

<p>
<ol>
<li>to intimidate, impersonate, threaten, harass or abuse other AstroBin users;</li>
<li>to post or trasmit, or cause to be posted or trasmitted, or solicit
to post or trasmit, any Content that is libelous, infringing, obscene,
pornographic, defamatory, abusive, profane, offensive or otherwise
violates any law or right of any third party;</li>
<li>for any purpose that is illegal, unlawful or unauthorized, with
regards to the laws of your Country of residence;</li>
<li>to post or trasmit, or cause to be posted or trasmitted, or solicit
to post or trasmit, any communication designed or intended to obtain
passwords, accounts or other private information from any AstroBin
user;</li>
<li>to post or trasmit, or cause to be posted or trasmitted, or solicit
to post or trasmit, any photographic material that is not astrophotography;</li>
<li>to create or submit unwanted messages ("Spam"), including, but not
limited to emails, private messages and comments to any other AstroBin
users or any URL;</li>
<li>to create miltiple accounts for the sole purpose of voting against
or for users' photos;</li>
<li>to post copyrighted content which doesn't belong to you, to post
any images that you didn't personally take, regardless of the
ownership of the equipment used;</li>
<li>to violate any laws in your Country (including, but not limited to
copyright laws);</li>
<li>via any robot, spider, scraper or other automated means without our
express written permission, with the exception of established Search
Engines, including, but not limited to Google Search, Yahoo Search and
Bing Search. What constitute an established Search Engine is at the
sole discretion of the Service Provider. Further more, you agree that
you will not: (a) take any actions that impose, or may impose an
unreasonable load on the Site servers or infrastructure, as deemed
such at the Service Provider's sole discretion; (b) interfere or
attempt to interfere with the proper working of the Site or any
activities conducted on it; or (c) bypass any measures that the
Service Provider may have implemented to prevent or restrict access to
the Site;</li>
<li>to advertise to, or solicit, any users to buy or sell any products
or services; additionally, you may not use any public information
about any user on AstroBin, for the purpose of advertise to or solicit
them without their prior explicit consent;</li>
<li>sell or otherwise transfer your account.</li>
</ol>
</p>

<p>
The Service Provider reserves the right to remove any Content or
accounts at any time for any reasons (including, but not limited to,
upon receipt of claims from third parties or authorities concerning
such Content), or for no reason at all. To report Terms abuse, please
email: astrobin@astrobin.com
</p>


<h3>CONTENT SUBMITTED TO THE SERVICE</h3>

<p>
By uploading your photographic works to the Site, you retain full
rights that you had prior to uploading.
</p>

<p>
By submitting photographic works to the Site, you agree that this
content fully or partially may be used on the Site for promotional
reasons (such as photos at home page). By doing so, the Service
Provider will comply with the <a href="http://www.wipo.int/wipolex/en/details.jsp?id=7512" target="_blank">Finnish Copyright Act</a>,
which means your work will be properly attributed or quoted.
</p>

<p>
No photographic content, emails, and other private information will be
sold for any reasons by the Site.
</p>


<h3>REDISTRIBUTION OF CONTENT</h3>

<p>
The Service Provider reserves the right to distribute and redistribute
the content submitted by users, to other parties, web-sites,
applications, and other entities, in accordance with Finnish Copyright
Act, which requires proper attribution of the author's name and the
source, for non-commercial purposes, including users' photographs,
profile pictures, photo titles, descriptions, equipment used, and
other photo information that was submitted to the Site.
</p>


<h3>LINKS</h3>

<p>
The Services may provide links to other web-sites or resources.
Because the Service Provider has no control over such sites and
resources, you acknowledge and agree that the Service Provider is not
responsible for the availability of such external sites or resources,
and does not endorse and is not responsible or liable for any Content,
advertising, products or other materials on or available from such
sites or resources. You further acknowledge and agree that the Service
Provider shall not be responsible or liable, directly or indirectly,
for any damage or loss caused or alleged to be caused by or in
connection with use of or reliance on any such Content, goods or
services available on or through any such site or resource.
</p>


<h3>LIMITATION OF LIABILITY</h3>

<p>
IN NO EVENT SHALL THE SERVICE PROVIDER OR ITS SUPPLIERS BE LIABLE
UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR OTHER LEGAL
THEORY (A) WITH RESPECT TO THE SITE, THE SERVICE OR ANY CONTENT FOR
ANY LOST PROFITS OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR
CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR
SERVICES (HOWEVER ARISING), OR (B) FOR ANY DIRECT DAMAGES IN EXCESS OF
(IN THE AGGREGATE) €100.
</p>


<h3>INDEMNITY</h3>

<p>
You will indemnify and hold harmless the Service Provider, its
subsidiaries, affiliates, parents, customers, vendors, officers and
employees from any liability, damage or cost (including reasonable
attorneys' fees and cost) from any claim or demand made by any third
party due to or arising out of your access to the Site, use of the
Services, violation of the Terms by you, or the infringement by you,
or any third party using your account or AstroBin username, of any
intellectual property or other right of any person or entity.
</p>


<h3>WARRANTY DISCLAIMERS</h3>

<p>
THE SERVICE, CONTENT, AND SITE ARE PROVIDED ON AN "AS IS" BASIS,
WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING,
WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR
A PARTICULAR PURPOSE OR NON-INFRINGEMENT.
</p>
            </div> <!-- container -->
        </div>
    </div>
{% endblock %}

