{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}
{% load tags %}
{% load cache %}
{% load el_pagination_tags %}

{% block title %}{% trans "Trending astrophotographers" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Explore' None %}
    {% breadcrumb 'Trending astrophotographers' None %}
{% endblock %}

{% block content %}
    <div id="trending-astrophotographers-page">
        <div class="subtitle">
            <i class="icon icon-info-sign"></i>
            {% blocktrans trimmed with '<a class="btn btn-primary btn-mini" href="https://welcome.astrobin.com/features/index" target="_blank">' as _0 and '</a>' as _1 %}
                The <strong>AstroBin Index</strong> is point based system based on likes received on images, that
                incentivizes the most active and liked members of the community. {{ _0 }}Learn more.{{ _1 }}
            {% endblocktrans %}
        </div>

        <form id="trending-astrophotographers-search" class="form form-horizontal"
              method="get" action="{% url 'trending_astrophotographers' %}">
            <input type="text" id="trending-astrophotographers-search-input" name="q" placeholder="{% trans "Search" %}"
                   value="{% if 'q' in request.GET %}{{ request.GET.q }}{% endif %}" />
            <input type="hidden" name="t" value="{% if 't' in request.GET %}{{ request.GET.t }}{% endif %}" />
            <input type="hidden" name="sort" value="{% if 'sort' in request.GET %}{{ request.GET.sort }}{% endif %}" />
        </form>

        <div class="filter-toggle-group">
            <div class="filter-toggle">
                <a href="{% url 'trending_astrophotographers' %}{% query_string "t='6m'" "" %}" {% if request.GET.t == '6m' %}class="active"{%endif %}>
                    {% trans "Last 6 months" %}
                </a>
            </div>

            <span class="separator">/</span>

            <div class="filter-toggle">
                <a href="{% url 'trending_astrophotographers' %}{% query_string "t='1y'" "" %}" {% if request.GET.t == '1y' or 't' not in request.GET %}class="active"{%endif %}>
                    {% trans "Last year" %}
                </a>
            </div>

            <span class="separator">/</span>

            <div class="filter-toggle">
                <a href="{% url 'trending_astrophotographers' %}{% query_string "t='all'" "" %}" {% if request.GET.t == 'all' %}class="active"{%endif %}>
                    {% trans "All time" %}
                </a>
            </div>
        </div>

        <table class="trending-astrophotographers table striped">
            <thead>
                <tr>
                    <th class="trending-astrophotographers-position">#</th>
                    <th class="trending-astrophotographers-user">{% trans "User" %}</th>

                    <th class="trending-astrophotographers-followers hidden-phone">
                        <a href="{% url 'trending_astrophotographers' %}{% query_string "sort='-followers'" "" %}">
                            {% trans "Followers" %} <i class="icon-sort"></i>
                        </a>
                    </th>

                    <th class="trending-astrophotographers-images hidden-phone">
                        <a href="{% url 'trending_astrophotographers' %}{% query_string "sort='-images'" "" %}">
                            {% trans "Images" %} <i class="icon-sort"></i>
                        </a>
                    </th>

                    <th class="trending-astrophotographers-likes hidden-phone">
                        <a href="{% url 'trending_astrophotographers' %}{% query_string "sort='-likes'" "" %}">
                            {% trans "Likes" %} <i class="icon-sort"></i>
                        </a>
                    </th>

                    <th class="trending-astrophotographers-integration hidden-phone">
                        <a href="{% url 'trending_astrophotographers' %}{% query_string "sort='-integration'" "" %}">
                            {% trans "Total integration" %} <i class="icon-sort"></i>
                        </a>
                    </th>

                    <th class="trending-astrophotographers-index">
                        <a href="
                                {% url 'trending_astrophotographers' %}{% query_string "sort='-normalized_likes'" "" %}">
                            {% trans "AstroBin index" %} <i class="icon-sort"></i>
                        </a>
                    </th>
                </tr>
            </thead>

            {% lazy_paginate 100 user_list using "page" %}
            {% get_pages %}

            {% for u in user_list %}
                <tr>
                    <td class="trending-astrophotographers-position">
                        {% page_counter forloop.counter pages.current.number 100 %}
                    </td>

                    <td class="trending-astrophotographers-user">
                        <a href="{% url 'user_page' u.username %}">
                            {% if u.object %}
                                {{u.object.userprofile}}
                            {% else %}
                                {{u.username}}
                            {% endif %}
                        </a>
                    </td>

                    <td class="trending-astrophotographers-followers hidden-phone">
                        {% if request.GET.t == '6m' %}
                            {{u.followers_6m}}
                        {% endif %}

                        {% if request.GET.t == '1y' or 't' not in request.GET %}
                            {{u.followers_1y}}
                        {% endif %}

                        {% if request.GET.t == 'all' %}
                            {{u.followers}}
                        {% endif %}
                    </td>

                    <td class="trending-astrophotographers-images hidden-phone">
                        {% if request.GET.t == '6m' %}
                            {{u.images_6m}}
                        {% endif %}

                        {% if request.GET.t == '1y' or 't' not in request.GET %}
                            {{u.images_1y}}
                        {% endif %}

                        {% if request.GET.t == 'all' %}
                            {{u.images}}
                        {% endif %}
                    </td>

                    <td class="trending-astrophotographers-likes hidden-phone">
                        {% if request.GET.t == '6m' %}
                            {{ u.likes_6m }}
                        {% endif %}

                        {% if request.GET.t == '1y' or 't' not in request.GET %}
                            {{ u.likes_1y }}
                        {% endif %}

                        {% if request.GET.t == 'all' %}
                            {{ u.likes }}
                        {% endif %}
                    </td>

                    <td class="trending-astrophotographers-integration hidden-phone">
                        {% if request.GET.t == '6m' %}
                            {{u.integration_6m|floatformat:2}}
                        {% endif %}

                        {% if request.GET.t == '1y' or 't' not in request.GET %}
                            {{u.integration_1y|floatformat:2}}
                        {% endif %}

                        {% if request.GET.t == 'all' %}
                            {{u.integration|floatformat:2}}
                        {% endif %}
                    </td>

                    <td class="trending-astrophotographers-index">
                        {% if request.GET.t == '6m' %}
                            {{ u.normalized_likes_6m|floatformat:2 }}
                        {% endif %}

                        {% if request.GET.t == '1y' or 't' not in request.GET %}
                            {{ u.normalized_likes_1y|floatformat:2 }}
                        {% endif %}

                        {% if request.GET.t == 'all' %}
                            {{ u.normalized_likes|floatformat:2 }}
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">
                        {% trans "There isn't enough data yet, please come back later!" %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="pagination pagination-centered">
            {% show_pages %}
        </div>
    </div>
{% endblock %}
