{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block title %}AstroBin - {% trans "Upload" %}{% endblock %}
{% block content %}
    {% if upload_form %} 
        <div class="row">
            <div class="span10 offset1">
                <div class="upload-forms">
                    <div class="upload-form wip-form-box">
                        <div class="upload-form-inner">
                            <h3>{% trans "Upload as a work in progress" %}</h3>
                            <div class="loading"><img src="{{STATIC_URL}}images/ajax-loader.gif" alt=""/></div>
                            <form action="{% url image_upload_process %}" method="post" enctype="multipart/form-data">
                                <input type="file" name="file" class="file" id="id_file" />
                                <input class="btn btn-primary" type="submit" value="{% trans "Upload" %}" />
                                <input type="hidden" name="wip" value="" />
                            </form>
                            <div class="progressbar"><img src="{{STATIC_URL}}images/loading-bar.gif" alt="{% trans "Uploading..." %}"/></div>
                            <p>
                                {% url faq as faq_url %}
                                {% blocktrans %}Use this button to upload an image to the <strong>Staging Area</strong>. It's perfect for works in progress that you want to share on Internet forums. Read more in the <a href="{{faq_url}}#6">FAQ</a>.{% endblocktrans %}
                            </p>
                        </div> <!-- upload-form-inner -->
                    </div> <!-- wip-form-box -->
                    <div class="upload-form final-form-box">
                        <div class="upload-form-inner">
                            <h3>{% trans "Upload as a finished image" %}</h3>
                            <div class="loading"><img src="{{STATIC_URL}}images/ajax-loader.gif" alt=""/></div>
                            <form action="{% url image_upload_process %}" method="post" enctype="multipart/form-data">
                                <input type="file" name="file" class="file" id="id_file" />
                                <input class="btn btn-primary" type="submit" value="{% trans "Upload" %}" />
                            </form>
                            <div class="progressbar"><img src="{{STATIC_URL}}images/loading-bar.gif" alt="{% trans "Uploading..." %}"/></div>
                            <p>
                                {% url profile_flickr_import as flickr_url %}
                                {% url me as profile_url %}
                                {% blocktrans %}Use this button to upload an image to the <strong>Public Area</strong>. It will be displayed in <a href="{{profile_url}}">your profile</a> and here on the home page. You can <a href="{{flickr_url}}">import from Flickr</a> too.{% endblocktrans %}
                            </p>
                        </div> <!-- upload-form-inner -->
                    </div> <!-- final-form-box -->
                </div> <!-- upload-forms -->
            </div> <!-- span10 -->
        </div> <!-- row -->
    {% else %} <!-- upload_form -->
        <div class="upload-forms">
            <div class="single-form">
                <div class="container">
                    {% url profile_edit_gear as the_url %}
                    <img src="{{STATIC_URL}}images/dim_upload.png" />
                    <h2>{% trans "Warning!" %}</h2>
                    <p>
                        {% blocktrans %}Before you start uploading images, you have to add at least one telescope and one camera. Do that in <a href="{{the_url}}?initial">your profile</a>!{% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="single-form">
                <div class="container">
                    {% url profile_edit_gear as the_url %}
                    <img src="{{STATIC_URL}}images/dim_upload.png" />
                </div>
            </div>

        </div>
    {% endif %} <!-- upload_form -->
{% endblock %}

{% block extra_head %}
<noscript>
    <style type="text/css">
        .upload-forms .loading {
            display: none;
        }
        .upload-forms form {
            display: block;
        }
    </style>
</noscript>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.upload-forms form').submit(function() {
            form = $(this);
            progressbar = form.parent().find('.progressbar');

            form.hide();
            progressbar.show();

            return true;
        });

        $('.upload-forms .loading').hide();
        $('.upload-forms form').show();
    });
</script>
{% endblock %}
