{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load tags %}
{% load astrobin_apps_premium_tags %}
{% load staticfiles %}

{% block title %}{% trans "Upload" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Upload' None %}
{% endblock %}

{% block content %}
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
        <div class="page-header text-center">
            <h1>{% trans "Image upload" %}</h1>
        </div>

        {% if premium_has_inactive_subscription %}
            <div class="row">
                <div class="span10 offset1">
                    <div class="alert alert-warning">
                        <h4 class="alert-header">
                            <i class="icon-warning-sign"></i>
                            {% trans "Warning!" %}
                        </h4>
                        {% trans "Your Lite or Premium subscription is not active, or it has expired. If you have just subscribed, please wait for a few minutes. Thanks for your patience!" %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row section">
            <div class="span10 offset1">
                {% if premium_used_percent > -1 %}
                    <div class="progress {{ premium_progress_class }}">
                        <div class="bar" style="width:{{ premium_used_percent }}%"></div>
                    </div>
                {% endif %}

                <p class="text-center">
                    {% if user|is_free %}
                        {% blocktrans trimmed with premium_counter=user.userprofile.premium_counter max_allowed=PREMIUM_MAX_IMAGES_FREE_2020 %}
                            You have used <strong>{{ premium_counter }}</strong> images of your allowed
                            <strong>{{ max_allowed }}</strong>.{% endblocktrans %}
                    {% elif user|is_lite %}
                        {% blocktrans trimmed with premium_counter=user.userprofile.premium_counter max_allowed=PREMIUM_MAX_IMAGES_LITE %}
                            You have used <strong>{{ premium_counter }}</strong> images of your allowed
                            <strong>{{ max_allowed }}</strong>.{% endblocktrans %}
                    {% elif user|is_lite_2020 %}
                        {% blocktrans trimmed with premium_counter=user.userprofile.premium_counter max_allowed=PREMIUM_MAX_IMAGES_LITE_2020 %}
                            You have used <strong>{{ premium_counter }}</strong> images of your allowed
                            <strong>{{ max_allowed }}</strong>.{% endblocktrans %}
                    {% endif %}

                    {% if user|is_premium or user|is_premium_2020 or user|is_ultimate_2020 %}
                        {% blocktrans %}Thank you for being a premium member! Enjoy your unlimited images.
                        {% endblocktrans %}
                    {% endif %}


                    {% if not user|is_any_ultimate %}
                        <a href="{% url 'subscription_list' %}">
                            {% trans "Would you like to upgrade to a higher plan?" %}
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>

        {% if upload_form %}
            <div class="row section">
                <div class="span10 offset1">
                    <div class="upload-forms">
                        <div class="upload-form wip-form-box">
                            <div class="upload-form-inner">
                                <h3>{% trans "Upload as a work in progress" %}</h3>
                                <div class="loading"><img src="{% static 'astrobin/images/ajax-loader.gif' %}" alt="" />
                                </div>
                                <form action="{% url 'image_upload_process' %}" method="post"
                                      enctype="multipart/form-data"> {% csrf_token %}
                                    <input type="file" name="image_file" class="file" id="id_file" />
                                    <input class="btn btn-primary" type="submit" value="{% trans "Upload" %}" />
                                    <input type="hidden" name="wip" value="" />
                                </form>
                                <div class="progressbar"><img src="{% static 'astrobin/images/loading-bar.gif' %}"
                                                              alt="{% trans "Uploading..." %}" /></div>
                                <p>
                                    {% blocktrans %}Use this button to upload an image to the
                                        <strong>Staging Area</strong>. It's perfect for works in progress that you want
                                        to share on Internet forums. Read more in the
                                        <a href="https://welcome.astrobin.com/faq">FAQ</a>.{% endblocktrans %}
                                </p>
                            </div> <!-- upload-form-inner -->
                        </div> <!-- wip-form-box -->
                        <div class="upload-form final-form-box">
                            <div class="upload-form-inner">
                                <h3>{% trans "Upload as a finished image" %}</h3>
                                <div class="loading"><img src="{% static 'astrobin/images/ajax-loader.gif' %}" alt="" />
                                </div>
                                <form action="{% url 'image_upload_process' %}" method="post"
                                      enctype="multipart/form-data"> {% csrf_token %}
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <input type="file" name="image_file" class="file" id="id_file" />
                                            <input class="btn btn-primary" type="submit" value="{% trans "Upload" %}" />
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <label for="id_skip_notifications">
                                                <input type="checkbox" name="skip_notifications"
                                                       id="id_skip_notifications" />
                                                {% trans "Do not notify followers" %}
                                            </label>
                                        </div>
                                    </div>
                                </form>
                                <div class="progressbar"><img src="{% static 'astrobin/images/loading-bar.gif' %}"
                                                              alt="{% trans "Uploading..." %}" /></div>
                                <p>
                                    {% url 'profile_flickr_import' as flickr_url %}
                                    {% url 'me' as profile_url %}
                                    {% blocktrans %}Use this button to upload an image to the
                                        <strong>Public Area</strong>. It will be displayed in
                                        <a href="{{ profile_url }}">your profile</a> and here on the home page. You can
                                        <a href="{{ flickr_url }}">import from Flickr</a> too.{% endblocktrans %}
                                </p>
                            </div> <!-- upload-form-inner -->
                        </div> <!-- final-form-box -->
                    </div> <!-- upload-forms -->
                </div> <!-- span10 -->
            </div> <!-- row -->
        {% endif %} <!-- upload_form -->

    {% endif %} {# READONLY #}
{% endblock %}

{% block extra_head %}
    <noscript>
        <style type="text/css">
            .upload-forms .loading {
                display: none;
            }

            .upload-forms form {
                display: block;
            }
        </style>
    </noscript>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.upload-forms form').submit(function () {
                var $form = $(this);
                var $progressbar = $form.parent().find('.progressbar');

                $form.hide();
                $progressbar.show();

                return true;
            });

            $('.upload-forms .loading').hide();
            $('.upload-forms form').show();
        });
    </script>
{% endblock %}
