{% extends 'user_collections_base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap_toolkit %}
{% load common_tags %}

{% block title %}
    {% trans "Edit collection" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.name 'user_collection' requested_user.username %}
    {% breadcrumb 'Edit' None %}
{% endblock %}

{% block collections_content %}
    <form class="form-horizontal" action="{{request.path}}?next={{request.GET.next}}" method="post">
        {% csrf_token %}
    
        {{form|as_bootstrap}}
    
        <div class="form-actions">
            <input type="hidden" name="collection_pk" value="{{collection.pk}}"/>
            
            <button class="btn btn-primary {% button_loading_class %}" type="submit">
                {% trans "Save" %}
                {% button_loading_indicator %}
            </button>
            
            <a
                class="btn"
                href="
                {% if request.GET.next %}
                    {{request.GET.next}}
                {% else %}
                    {% url 'user_collections_list' requested_user %}
                {% endif %}">
                {% trans "Cancel" %}
            </a>
        </div>
    </form>
{% endblock %}
