{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load astrobin_apps_donations_tags %}

{% block title %}{% blocktrans with user=requested_user.userprofile %}{{user}}'s gallery{% endblocktrans %}{% endblock %}
{% block container_extra_classes %}has-subnav{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Users' None %}
    {% breadcrumb requested_user.userprofile.get_display_name 'user_page' requested_user.username %}
    {% breadcrumb 'Collections' 'user_collections_list' requested_user.username %}
{% endblock %}


{% block content %}
    {% include 'user/profile/navigation.html' %}

    <div class="row">
        {% if not form %}
            <div class="span3">
                {% include 'user/profile/meta.html' %}
            </div>
        {% endif %}

        <div class="span{% if not form %}9{% else %}12{% endif %}">
            {% block collections_content %}{% endblock %}
        </div>
    </div> <!-- row -->
{% endblock %}

{% block modals %}
    {% if request.user == user and user|is_donor %}
        {% cancel_donation_modal %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    {% include 'user/profile/js.html' %}
{% endblock %}
