{% extends 'user_collections_base.html' %}

{% load bootstrap_toolkit %}
{% load i18n %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_donations_tags %}


{% block collections_content %}
    {% include '_user_collections_list.html' %}

    {% if requested_user == request.user and collections_list.count == 0 %}
        <div class="alert alert-warning">
            {% trans "You do not have any collections." %}
        </div>

        <div class="collections">
            <div class="collection">
                <div class="collection-image">
                    <a href="{% url 'user_collections_create' requested_user.username %}">
                        +
                    </a>
                </div>
                <div class="collection-name">
                    <a href="{% url 'user_collections_create' requested_user.username %}">
                        {% trans "Create new collection" %}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if requested_user != request.user and non_empty_collections_count == 0 %}
        <div class="alert alert-warning">
            {% trans "This user does not have any collections." %}
        </div>
    {% endif %}
{% endblock %}
