{% extends 'user_collections_base.html' %}

{% load bootstrap_toolkit %}
{% load i18n %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_donations_tags %}


{% block collections_content %}
    {% if collections_list %}
        <div class="collections">
            {% if view == 'table' %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="collection-name">{% trans "Collection" %}</th>
                            <th class="collection-images hidden-phone">{% trans "Images" %}</th>
                            <th class="collection-actions">{% trans "Tools" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for collection in collections_list %}
                            <tr>
                                <td class="collection-name">
                                    {% if collection.images.count > 0 %}
                                        <a href="{% url 'user_collections_detail' requested_user.username collection.pk %}">
                                    {% endif %}
                                            {{collection.name}}
                                    {% if collection.images.count > 0 %}
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="collection-images hidden-phone">
                                    {{collection.images.count}}
                                </td>
                                <td class="collection-tools">
                                    {% ifequal requested_user request.user %}
                                        <a href="{% url 'user_collections_update' requested_user.username collection.pk %}">
                                            <i class="icon icon-edit"></i>
                                        </a>
                                        <a href="{% url 'user_collections_add_remove_images' requested_user.username collection.pk %}">
                                            <i class="icon icon-plus"></i>
                                        </a>
                                        <a href="#" class="delete-modal-toggle" data-collection-pk="{{collection.pk}}">
                                            <i class="icon icon-trash"></i>
                                        </a>
                                    {% endifequal %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="form-actions">
                    <a class="btn btn-primary" href="{% url 'user_collections_create' requested_user.username %}">
                        {% trans "Create new collection" %}
                    </a>
                </div>
            {% else %}
                {% for collection in collections_list %}
                    {% if collection.images.count > 0 or requested_user == request.user %}
                        <div class="collection">
                            <div class="collection-image {% if collection.images.count == 0 %}empty{% endif %}">
                                {% if collection.images.count > 0 %}
                                    <a href="{% url 'user_collections_detail' requested_user.username collection.pk %}">
                                        {% if collection.cover %}
                                            {% astrobin_image collection.cover 'collection' link=False tooltip=False %}
                                        {% else %}
                                            {% astrobin_image collection.images.all.0  'collection' link=False tooltip=False %}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                            <div class="collection-name">
                                <a href="{% url 'user_collections_detail' requested_user.username collection.pk %}">
                                    {{collection.name}}
                                </a>
                            </div>
                            {% ifequal requested_user request.user %}
                                <div class="collection-tools">
                                    <a href="{% url 'user_collections_update' requested_user.username collection.pk %}">
                                        <i class="icon icon-edit"></i>
                                    </a>
                                    <a href="{% url 'user_collections_add_remove_images' requested_user.username collection.pk %}">
                                        <i class="icon icon-plus"></i>
                                    </a>
                                    <a href="#" class="delete-modal-toggle" data-collection-pk="{{collection.pk}}">
                                        <i class="icon icon-trash"></i>
                                    </a>
                                </div>
                            {% endifequal %}
                        </div>
                    {% endif %}
                {% endfor %}

                {% ifequal requested_user request.user %}
                    <div class="collection">
                        <div class="collection-image">
                            <a href="{% url 'user_collections_create' requested_user.username %}">
                                +
                            </a>
                        </div>
                        <div class="collection-name">
                            <a href="{% url 'user_collections_create' requested_user.username %}">
                                {% trans "Create new collection" %}
                            </a>
                        </div>
                    </div>
                {% endifequal %}
            {% endif %}
        </div>
    {% endif %}

    {% if requested_user == request.user and collections_list.count == 0 %}
        <div class="alert alert-warning">
            {% trans "You do not have any collections." %}
            <a href="{% url 'user_collections_create' requested_user.username %}">
                {% trans "Do you want to create a collection now?" %}
            </a>
        </div>
    {% endif %}

    {% if requested_user != request.user and non_empty_collections_count == 0 %}
        <div class="alert alert-warning">
            {% trans "This user does not have any collections." %}
        </div>
    {% endif %}
{% endblock %}

{% block modals %}
    {% include 'user_collections_delete_modal.html' %}

    {% if request.user == requested_user and requested_user|is_donor %}
        {% cancel_donation_modal %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('a.delete-modal-toggle').click(function(e) {
                var $modal = $('#delete-modal'),
                    $form = $modal.find('form'),
                    collection_pk = $(this).data('collection-pk'),
                    url = '/users/{{requested_user.username}}/collections/' + collection_pk + '/delete/';

                $form.attr('action', url);
                $modal.modal('show');
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
