{% extends 'user_collections_base.html' %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load common_tags %}

{% block title %}
    {% trans "Create new collection" %}
{% endblock %}

{% block collections_content %}
    <h1>{% trans "Create new collection" %}</h1>

    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        
        {{form|as_bootstrap}}
        
        <div class="form-actions">
            <button class="btn btn-primary {% button_loading_class %}" type="submit">
                {% trans "Create new collection" %}
                {% button_loading_indicator %}
            </button>
            
            <a class="btn" href="{% url 'user_collections_list' requested_user.username %}">
                {% trans "Cancel" %}
            </a>
        </div>
    </form>
{% endblock %}
