{% extends 'user_collections_base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load tags %}
{% load astrobin_apps_donations_tags %}

{% block title %}
    {{collection.name}}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.name None %}
{% endblock %}


{% block collections_content %}
    <div class="collection-detail">
        {% if collection.description %}
            <p>{{collection.description}}</p>
        {% endif %}

        {% if image_list.count > 0 or not_matching_tag.count > 0 %}
            {% if image_list.count > 0 %}
                {% image_list image_list nav_ctx='collection' nav_ctx_extra=collection.pk %}
            {% endif %}

            {% if not_matching_tag.count > 0 %}
                <div class="alert alert-warning">
                    {% trans "The following images do not have the key/value tag chosen to order this collection, so they are shown as unsorted here." %}
                </div>

                {% image_list not_matching_tag nav_ctx='collection' nav_ctx_extra=collection.pk %}
            {% endif %}
        {% else %}
            <p class="alert alert-warning">
                {% trans "This collection contains no images." %}
                {% ifequal requested_user request.user %}
                    <a href="{% url 'user_collections_add_remove_images' requested_user.username collection.pk %}">
                        {% trans "Would you like to add some images?" %}
                    </a>
                {% endifequal %}
            </p>
        {% endif %}
    </div>
{% endblock %}

{% block modals %}
    {% include 'user_collections_delete_modal.html' %}

    {% if request.user == requested_user and requested_user|is_donor %}
        {% cancel_donation_modal %}
    {% endif %}
{% endblock %}
