{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block title %}AstroBin - {% trans "The Big Wall" %}{% endblock %}
{% block content %}
    <a name="page_anchor"></a>
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {% trans "Sort by" %}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% query_string "" "sort" %}">
                            <span class="bg-icon{% if sort == '-uploaded' %} icon-check{% endif %}"></span>
                            {% trans "Uploaded" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "sort='-acquired'" "" %}">
                            <span class="bg-icon{% if sort == '-acquired' %} icon-check{% endif %}"></span>
                            {% trans "Acquired" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "sort='-integration'" "" %}">
                            <span class="bg-icon{% if sort == '-integration' %} icon-check{% endif %}"></span>
                            {% trans "Integration" %}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% query_string "sort='-rating'" "" %}">
                            <span class="bg-icon{% if sort == '-rating' %} icon-check{% endif %}"></span>
                            {% trans "Rating" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "sort='-favorited'" "" %}">
                            <span class="bg-icon{% if sort == '-favorited' %} icon-check{% endif %}"></span>
                            {% trans "Favorited" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "sort='-views'" "" %}">
                            <span class="bg-icon{% if sort == '-views' %} icon-check{% endif %}"></span>
                            {% trans "Views" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "sort='-comments'" "" %}">
                            <span class="bg-icon{% if sort == '-comments' %} icon-check{% endif %}"></span>
                            {% trans "Comments" %}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {% trans "Filter by" %}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% query_string "filter='all_ds'" "" %}">
                            <span class="bg-icon{% if filter == 'all_ds' %} icon-check{% endif %}"></span>
                            {% trans "All deep sky objects" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='clusters'" "" %}">
                            <span class="bg-icon{% if filter == 'clusters' %} icon-check{% endif %}"></span>
                            {% trans "Clusters" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='nebulae'" "" %}">
                            <span class="bg-icon{% if filter == 'nebulae' %} icon-check{% endif %}"></span>
                            {% trans "Nebulae" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='galaxies'" "" %}">
                            <span class="bg-icon{% if filter == 'galaxies' %} icon-check{% endif %}"></span>
                            {% trans "Galaxies" %}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% query_string "filter='all_ss'" "" %}">
                            <span class="bg-icon{% if filter == 'all_ss' %} icon-check{% endif %}"></span>
                            {% trans "All Solar System objects" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='sun'" "" %}">
                            <span class="bg-icon{% if filter == 'sun' %} icon-check{% endif %}"></span>
                            {% trans "Sun" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='moon'" "" %}">
                            <span class="bg-icon{% if filter == 'moon' %} icon-check{% endif %}"></span>
                            {% trans "Moon" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='planets'" "" %}">
                            <span class="bg-icon{% if filter == 'planets' %} icon-check{% endif %}"></span>
                            {% trans "Planets" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='comets'" "" %}">
                            <span class="bg-icon{% if filter == 'comets' %} icon-check{% endif %}"></span>
                            {% trans "Comets" %}
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="{% query_string "filter='wide'" "" %}">
                            <span class="bg-icon{% if filter == 'wide' %} icon-check{% endif %}"></span>
                            {% trans "Extremely wide field" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='trails'" "" %}">
                            <span class="bg-icon{% if filter == 'trails' %} icon-check{% endif %}"></span>
                            {% trans "Star trails" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='gear'" "" %}">
                            <span class="bg-icon{% if filter == 'gear' %} icon-check{% endif %}"></span>
                            {% trans "Gear" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% query_string "filter='other'" "" %}">
                            <span class="bg-icon{% if filter == 'other' %} icon-check{% endif %}"></span>
                            {% trans "Other" %}
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li class="bg-icon">
                        <a href="{% query_string "" "filter" %}">{% trans "Remove filter" %}</a>
                    </li>
                </ul>
            </li>
        </ul> <!-- nav -->
    </div> <!-- subnav -->

    <h1>{% trans "The Big Wall" %}</h1>
    {% search_image_list request image_list %}
{% endblock %}

