{% load i18n %}
{% load tags %}

<div class="gear-popover">
    {% if gear.commercial and gear.commercial.image %}
        <div class="thumbnail astrobin-thumbnail">
            {% with gear.commercial.image as image %}
                <img src="http://{{s3_url}}/{{bucket_name}}/{{image.filename}}_thumb.png"
                     alt="{{image.title|escape}}"/>
            {% endwith %}
        </div>
    {% endif %}
    <div class="data">
		<h3>{{gear.name}}</h3>
		{% if gear.type %}<p><strong>{% trans "Type" %}</strong>: {% gear_type gear %}</p>{% endif %}
		{% if gear.get_make %}<p><strong>{% trans "Make" %}</strong>: <a href="/search/?q={{gear.get_make}}{% search_form_query %}&amp;search_type=3">{{gear.get_make}}</a></p>{% endif %}
		{% if gear.pixel_size %}<p><strong>{% trans "Pixel size" %}</strong>: {{gear.pixel_size}} &mu;m</p>{% endif %}
		{% if gear.sensor_width %}<p><strong>{% trans "Sensor width" %}</strong>: {{gear.sensor_width}} mm</p>{% endif %}
		{% if gear.sensor_height %}<p><strong>{% trans "Sensor height" %}</strong>: {{gear.sensor_height}} mm</p>{% endif %}

		<div class="actions">
		    <a class="btn btn-mini btn-primary" href="/search/?q=&amp;as_values_imaging_cameras={{gear.id}}{% search_form_query %}">{% trans "Find images" %}</a>
		    {% if is_authenticated %}
		        {% if follows %}
		            <a class="btn btn-mini btn-primary unfollow-gear" data-gear="{{gear.id}}" href="{% url unfollow_gear gear.id %}">{% trans "Unfollow" %}</a>
		        {% else %}
		            <a class="btn btn-mini btn-primary follow-gear" data-gear="{{gear.id}}" href="{% url follow_gear gear.id %}">{% trans "Follow" %}</a>
		        {% endif %}
		    {% endif %}
		    <a class="btn btn-mini" href="{% url gear_page gear.id gear.slug %}">{% trans "View page" %}</a>
		</div>
	</div>
</div>
