{% load i18n %}
{% load tags %}
{% load astrobin_apps_images_tags %}
{% load toggleproperty_tags %}

<div class="gear-popover">

    <div class="header">
        <h3>{{ gear }}</h3>
        <p>{% gear_type gear %}</p>
    </div>

    <div class="data">
        {# Camera #}

        {% if gear.pixel_size %}
            <p><strong>{% trans "Pixel size" %}</strong>: {{ gear.pixel_size }} &mu;m</p>
        {% endif %}

        {% if gear.sensor_width %}
            <p><strong>{% trans "Sensor width" %}</strong>: {{ gear.sensor_width }} mm</p>
        {% endif %}

        {% if gear.sensor_height %}
            <p><strong>{% trans "Sensor height" %}</strong>: {{ gear.sensor_height }} mm</p>
        {% endif %}

        {# Filter #}

        {% if gear.bandwidth %}
            <p><strong>{% trans "Bandwidth" %}</strong>: {{ gear.bandwidth }} nm</p>
        {% endif %}

        {# Mount #}

        {% if gear.max_payload %}
            <p><strong>{% trans "Max. payload" %}</strong>: {{ gear.max_payload }} kg</p>
        {% endif %}

        {% if gear.pe %}
            <p><strong>{% trans "Periodic error" %}</strong>: {{ gear.pe }}"</p>
        {% endif %}

        {# Software #}

        {% if gear.type %}
            <p><strong>{% trans "Type" %}</strong>: {{ gear.type }}</p>
        {% endif %}

        {# Telescope #}

        {% if gear.aperture %}
            <p><strong>{% trans "Aperture" %}</strong>: {{ gear.aperture }} mm</p>
        {% endif %}

        {% if gear.focal_length %}
            <p><strong>{% trans "Focal length" %}</strong>: {{ gear.focal_length }} mm</p>
        {% endif %}

        {% if not gear.pixel_size and not gear.sensor_height and not gear.sensor_width and not gear.bandwidth and not gear.max_payload and not gear.pe and not gear.type and not gear.aperture and not gear.focal_length %}
            {% trans "No additional information available for this item." %}
        {% endif %}
    </div>

    {% if gear.equipment_brand_listings %}
        <div class="equipment-brand-listings">
            {% for listing in gear.equipment_brand_listings.all %}
                <div class="equipment-brand-listing">
                    <a href="{{ listing.url }}" target="_blank">
                        <img class="logo" src="{{ listing.retailer.logo.url }}" alt="{{ listing.retailer }}">
                    </a>

                    <a href="{{ listing.url }}" target="_blank" class="shop-button btn btn-block">
                        <i class="icon-shopping-cart"></i>
                        {% blocktrans trimmed with brand=listing.brand retailer=listing.retailer %}
                            Shop <strong>{{ brand }}</strong> at <strong>{{ retailer }}</strong>
                        {% endblocktrans %}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="actions">
        {% if is_authenticated %}
            {% add_remove_toggleproperty "follow" gear request.user %}
        {% endif %}

        <a class="btn btn-primary" href="/search/?q={% gear_name_iriencoded gear %}">
            {% trans "Find images" %}
        </a>
    </div>
</div>
