{% load i18n %}

<h3>{{gear.name}}</h3>
<p><strong>{% trans "Make" %}</strong>: {{gear.make}}</p>
<p><strong>{% trans "Pixel size" %}</strong>: {{gear.pixel_size}} &mu;m</p>
<p><strong>{% trans "Sensor width" %}</strong>: {{gear.sensor_width}} mm</p>
<p><strong>{% trans "Sensor height" %}</strong>: {{gear.sensor_height}} mm</p>

<div class="actions">
    <a class="btn btn-mini btn-primary" href="/search/?q=&as_values_imaging_cameras={{gear.id}}&license=0&license=1&license=2&license=3&license=4&license=5&license=6">{% trans "Find images" %}</a>
</div>

