{% load i18n %}
{% load tags %}

<h3>{{gear.name}}</h3>
<p><strong>{% trans "Make" %}</strong>: {{gear.make}}</p>
<p><strong>{% trans "Pixel size" %}</strong>: {{gear.pixel_size}} &mu;m</p>
<p><strong>{% trans "Sensor width" %}</strong>: {{gear.sensor_width}} mm</p>
<p><strong>{% trans "Sensor height" %}</strong>: {{gear.sensor_height}} mm</p>

<div class="actions">
    <a class="btn btn-mini btn-primary" href="/search/?q=&as_values_imaging_cameras={{gear.id}}{% search_form_query %}">{% trans "Find images" %}</a>
    {% if is_authenticated %}
        {% if follows %}
            <a class="btn btn-mini btn-primary unfollow-gear" data-gear="{{gear.id}}" href="{% url unfollow_gear gear.id %}">{% trans "Unfollow" %}</a>
        {% else %}
            <a class="btn btn-mini btn-primary follow-gear" data-gear="{{gear.id}}" href="{% url follow_gear gear.id %}">{% trans "Follow" %}</a>
        {% endif %}
    {% endif %}
</div>

