{% load i18n %}

<h3>{{gear.name}}</h3>
<p><strong>{% trans "Make" %}</strong>: {{gear.make}}</p>
<p><strong>{% trans "Max. payload" %}</strong>: {{gear.max_payload}} kg</p>
<p><strong>{% trans "Periodic error" %}</strong>: {{gear.pe}}"</p>

<div class="actions">
    <a class="btn btn-mini btn-primary" href="/search/?q={{gear.name}}&type=mounts&license=0&license=1&license=2&license=3&license=4&license=5&license=6">{% trans "Find images" %}</a>
    {% if is_authenticated %}
        {% if follows %}
            <a class="btn btn-mini btn-primary unfollow-gear" data-gear="{{gear.id}}" href="{% url unfollow_gear gear.id %}">{% trans "Unfollow" %}</a>
        {% else %}
            <a class="btn btn-mini btn-primary follow-gear" data-gear="{{gear.id}}" href="{% url follow_gear gear.id %}">{% trans "Follow" %}</a>
        {% endif %}
    {% endif %}
</div>

