{% load i18n %}
{% load tags %}
{% load toggleproperty_tags %}

<h3>{{subject.mainId}}</h3>
{% if subject.ra %}<p><strong>{% trans "RA" %}</strong>: {{subject.ra}}</p>{% endif %}
{% if subject.dec %}<p><strong>{% trans "Dec" %}</strong>: {{subject.dec}}</p>{% endif %}
{% if subject.otype or subject.mtype %}
    <p>
        <strong>{% trans "Type" %}</strong>: {% if subject.otype %}{{subject.otype}}{% endif %}
                                             {% if subject.mtype %}{{subject.mtype}}{% endif %}
    </p>
{% endif %}
{% if subject.dim_majaxis and subject.dim_minaxis %}
    <p><strong>{% trans "Size" %}</strong>: {{subject.dim_majaxis}}&times;{{subject.dim_minaxis}}'</p>
{% endif %}

<div class="actions">
    {% if is_authenticated %}
        {% add_remove_toggleproperty "follow" subject request.user %}
    {% endif %}
    <a class="btn btn-primary" href="/search/?q={{subject.mainId|escape|cut:" "}}">{% trans "Find images" %}</a>
    <a class="btn" href="{% url 'subject_page' subject.id %}">{% trans "View page" %}</a>
</div>

