{% if ADS_ENABLED %}
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script>
        window.googletag = window.googletag || {cmd: []};

        googletag.cmd.push(function () {
            googletag.defineSlot(
                '/{{ ADMANAGER_PUBLISHER_ID }}/astrobin-native-responsive-wide',
                ['fluid'],
                '{{ NATIVE_RESPONSIVE_WIDE_SLOT }}'
            ).setTargeting('format', ['wide']).addService(googletag.pubads());
            googletag.defineSlot(
                '/{{ ADMANAGER_PUBLISHER_ID }}/astrobin-native-responsive-rectangular',
                ['fluid'],
                '{{ NATIVE_RESPONSIVE_RECTANGULAR_SLOT }}'
            ).setTargeting('format', ['rectangular']).addService(googletag.pubads());

            googletag.enableServices();
        });
    </script>

{% endif %}
