{% load i18n %}

{% if request.user.is_authenticated and messages %}
    {% for message in messages %}
        {% if not message.is_persistent %}
            <div class="alert
                {% if message.level == 20 %}alert-info{% endif %}
                {% if message.level == 25 %}alert-success{% endif %}
                {% if message.level == 30 %}alert-warning{% endif %}
                {% if message.level == 40 %}alert-error{% endif %}">
                <button class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">
                    {% if message.level == 20 %}<i class="icon-info-sign"></i> {% trans "Hey!" %}{% endif %}
                    {% if message.level == 25 %}<i class="icon-ok-sign"></i> {% trans "Success!" %}{% endif %}
                    {% if message.level == 30 %}<i class="icon-warning-sign"></i> {% trans "Warning!" %}{% endif %}
                    {% if message.level == 40 %}<i class="icon-fire"></i> {% trans "Error!" %}{% endif %}
                </h4>
                {{message | safe}}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if is_producer or is_retailer %}
    {% with request.user.userprofile as profile %}
        {% if not profile.company_name or not profile.company_description or not profile.company_website %}
            <div class="alert alert-warning">
                <h4 class="alert-heading"><i class="icon-warning-sign"></i> {% trans "Warning!" %}</h4>
                {% url 'profile_edit_commercial' as the_url %}
                {% blocktrans %}As a producer and/or a retailer on AstroBin, it's very important that you fill in all of your company details! Click <a href="{{the_url}}">here</a> to do it now.{% endblocktrans %}
            </div>
        {% endif %}
    {% endwith %}
{% endif %}

{% if is_retailer %}
    {% with request.user.userprofile as profile %}
        {% if not profile.retailer_country %}
            <div class="alert alert-warning">
                <h4 class="alert-heading"><i class="icon-warning-sign"></i> {% trans "Warning!" %}</h4>
                {% url 'profile_edit_retailer' as the_url %}
                {% blocktrans %}As a retailer on AstroBin, it's very important that you fill in your country of operation! Click <a href="{{the_url}}">here</a> to do it now.{% endblocktrans %}
            </div>
        {% endif %}
    {% endwith %}
{% endif %}

