{% load staticfiles %}

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'astrobin/apple-touch-icon.png'%}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'astrobin/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'astrobin/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'astrobin/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'astrobin/safari-pinned-tab.svg' %}" color="#cc4b2e">
<link rel="shortcut icon" href="{% static 'astrobin/favicon.ico' %}">
<meta name="msapplication-TileColor" content="#cc4b2e">
<meta name="msapplication-TileImage" content="{% static 'astrobin/mstile-144x144.png' %}">
