{% if GOOGLE_ANALYTICS_ID != "invalid" %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag("js", new Date());

        {% if user.is_authenticated %}
            gtag("set", {"User Type": "Member"});
            gtag("set", {"Username": "{{ user.username }}"});
        {% else %}
            gtag("set", {"User Type": "Anonymous"});
        {% endif %}

        gtag("config", "{{GOOGLE_ANALYTICS_ID}}", {
            "linker": {
                "domains": [
                    "www.astrobin.com",
                    "app.astrobin.com",
                    "welcome.astrobin.com",
                    "de.welcome.astrobin.com",
                    "es.welcome.astrobin.com",
                    "fr.welcome.astrobin.com",
                    "it.welcome.astrobin.com",
                    "pt.welcome.astrobin.com"
                ],
                "accept_incoming": true
            }
        });

        {% if GOOGLE_ADS_ID != "invalid" %}
            gtag("config", "{{ GOOGLE_ADS_ID }}");
        {% endif %}
    </script>
{% endif %}

