<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{GOOGLE_ANALYTICS_ID}}']);
    _gaq.push(['_setDomainName', 'astrobin.com']);
    _gaq.push(['_setAllowLinker', true]);

    {% if user.is_authenticated %}
        _gaq.push(['_setCustomVar', 1, 'User Type', 'Member']);
        _gaq.push(['_setCustomVar', 2, 'Username', '{{user.username}}']);
    {% else %}
        _gaq.push(['_setCustomVar', 1, 'User Type', 'Anonymous']);
    {% endif %}

    // Reset the custom variables that might be then overriden later.
    _gaq.push(['_setCustomVar', 3, 'Staging Image', 'No']);
    {% block extra_gaq_push %}{% endblock %}

    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    function trackOutboundLink(link, category, action) {
        try {
            _gaq.push(['_trackEvent', category, action]);
        } catch (err) {
        }

        setTimeout(function () {
            document.location.href = link.href;
        }, 100);
    }
</script>

