{% load common_tags %}
{% load i18n %}
{% load astrobin_apps_premium_tags %}
{% load bootstrap_toolkit %}

{% if request.user.is_authenticated and request.user.userprofile.detected_insecure_password is not None %}
    <div class="accordion container" id="insecure-password-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle show-caret collapsed" data-toggle="collapse"
                   data-parent="#insecure-password-accordion" href="#insecure-password-accordion-content">
                    <i class="icon-warning-sign"></i>
                    {% blocktrans trimmed %}
                        AstroBin detected that your password does not meet security requirements.
                    {% endblocktrans %}
                </a>
            </div>
            <div id="insecure-password-accordion-content" class="accordion-body collapse">
                <div class="accordion-inner alert alert-info global-alert">
                    {% blocktrans trimmed %}
                        To prevent spam, phishing, and other malicious activities, all your new content posted on
                        AstroBin will be moderated until you have changed your password to meet security requirements,
                        or you have enabled two-factor authentication.
                    {% endblocktrans %}

                    <div>
                        <a class="btn btn-primary" href="{{ base_url }}{% url 'password_change' %}">
                            {% blocktrans trimmed %}Change your password{% endblocktrans %}<br/>
                        </a>

                        <a class="btn btn-secondary" href="{{ base_url }}{% url 'two_factor:profile' %}">
                            {% trans "Two-factor Authentication" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if skill_level_form %}
    <div class="accordion container" id="skill-level-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle show-caret collapsed" data-toggle="collapse"
                   data-parent="#skill-level-accordion" href="#skill-level-accordion-content">
                    <i class="icon-question-sign"></i>
                    {% blocktrans trimmed %}
                        How would you categorize your current skills as an astrophotographer?
                    {% endblocktrans %}
                </a>
            </div>
            <div id="skill-level-accordion-content" class="accordion-body collapse">
                <div class="accordion-inner alert alert-info global-alert">
                    <form class="form-horizontal" method="post" action="{% url 'profile_save_basic' %}"
                          novalidate>{% csrf_token %}
                        {{ skill_level_form|as_bootstrap }}

                        <div class="form-actions">
                            <button class="btn btn-primary btn-block-mobile {% button_loading_class %}" type="submit">
                                {% trans "Save" %}
                                {% button_loading_indicator %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if request.user.is_authenticated and request.user|has_expired_paid_subscription %}

    <div class="accordion container" id="expired-subscription-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle show-caret collapsed" data-toggle="collapse"
                   data-parent="#expired-subscription-accordion" href="#expired-subscription-accordion-content">
                    <i class="icon-info-sign"></i>
                    {% blocktrans trimmed %}
                        Your AstroBin subscription is expired.
                    {% endblocktrans %}
                </a>
            </div>
            <div id="expired-subscription-accordion-content" class="accordion-body collapse">
                <div class="accordion-inner alert alert-info global-alert">
                    <p>
                        {% blocktrans trimmed %}
                            That's okay: we don't EVER delete your images if your subscription expires.
                        {% endblocktrans %}

                        {% blocktrans trimmed %}
                            However, it would be great if you considered renewing: it's inexpensive and it goes a long
                            way to support the AstroBin project!
                        {% endblocktrans %}
                    </p>

                    <a class="btn btn-small btn-primary"
                       href="{% app_redirection_service '/subscriptions/options' %}">
                        {% trans "Subscription plans" %}
                    </a>

                    <a class="btn btn-small"
                       href="{% app_redirection_service '/subscriptions/view' %}">
                        {% trans "Your subscriptions" %}
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endif %}

{% if request.user.is_authenticated and request.user|has_paid_subscription_near_expiration:7 %}

    <div class="accordion container" id="expiring-subscription-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle show-caret collapsed" data-toggle="collapse"
                   data-parent="#expired-subscription-accordion" href="#expiring-subscription-accordion-content">
                    <i class="icon-info-sign"></i>
                    {% blocktrans trimmed %}
                        Your AstroBin subscription about to expire.
                    {% endblocktrans %}
                </a>
            </div>
            <div id="expiring-subscription-accordion-content" class="accordion-body collapse">
                <div class="accordion-inner alert alert-info global-alert">
                    <p>
                        {% blocktrans trimmed %}
                            That's okay: we don't EVER delete your images if your subscription expires.
                        {% endblocktrans %}

                        {% blocktrans trimmed %}
                            However, it would be great if you considered renewing: it's inexpensive and it goes a
                            long way to support the AstroBin project!
                        {% endblocktrans %}
                    </p>

                    <a class="btn btn-small btn-primary"
                       href="{% app_redirection_service '/subscriptions/options' %}">
                        {% trans "Subscription plans" %}
                    </a>


                    <a class="btn btn-small" href="{% app_redirection_service '/subscriptions/view' %}">
                        {% trans "Your subscriptions" %}
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endif %}

{% if HARD_BOUNCES %}

    <div class="accordion container" id="hard-bounce-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle show-caret collapsed" data-toggle="collapse" data-parent="#hard-bounce-accordion"
                   href="#hard-bounce-accordion-content">
                    <i class="icon-warning-sign"></i>
                    {% blocktrans trimmed %}
                        AstroBin is unable to deliver your emails, and it won't try again until the issue is
                        resolved.
                    {% endblocktrans %}
                </a>
            </div>
            <div id="hard-bounce-accordion-content" class="accordion-body collapse">
                <div class="accordion-inner alert alert-warning global-alert">
                    <p>

                        {% blocktrans trimmed %}
                            Your email provider recently reported the following error code(s):
                        {% endblocktrans %}
                    </p>
                    <p>
                        {{ HARD_BOUNCES.0.diagnostic_code }}
                    </p>
                    <p>
                        {% blocktrans trimmed %}
                            If you believe this is in error, please contact us. Otherwise please contact you
                            email provider or change your e-mail address on AstroBin.
                        {% endblocktrans %}
                    </p>

                    <a class="btn btn-small btn-primary"
                       href="{% url 'change_email_index' %}">{% trans "Change your e-mail" %}</a>
                    <a class="btn btn-small"
                       href="{% url 'astrobin_apps_users.bounce_ignore_and_retry' %}">{% trans "Ignore and retry" %}</a>
                    <a class="btn btn-small" href="{% url 'contact' %}">{% trans "Contact us" %}</a>
                </div>
            </div>
        </div>
    </div>
    
{% elif SOFT_BOUNCES and SOFT_BOUNCES|length > 2 %}
    
    <div class="accordion container" id="soft-bounce-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle show-caret collapsed" data-toggle="collapse" data-parent="#soft-bounce-accordion"
                   href="#soft-bounce-accordion-content">
                    <i class="icon-warning-sign"></i>
                    {% blocktrans trimmed %}
                        AstroBin is unable to deliver your emails, and it will try again a week after the latest email
                        bounce.
                    {% endblocktrans %}
                </a>
            </div>
            <div id="soft-bounce-accordion-content" class="accordion-body collapse">
                <div class="accordion-inner alert alert-warning global-alert">
                    <p>
                        {% blocktrans trimmed %}
                            Your email provider recently reported the following error code(s):
                        {% endblocktrans %}
                    </p>
                    <p>
                        <ul>
                            {% for bounce in SOFT_BOUNCES %}
                                <li>{{ bounce.diagnostic_code }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                    <p>
                        {% blocktrans trimmed %}
                            If you believe this is in error, please contact us. Otherwise please contact your email
                            provider or
                            change your e-mail address on AstroBin.
                        {% endblocktrans %}
                    </p>

                    <a class="btn btn-small btn-primary"
                       href="{% url 'change_email_index' %}">{% trans "Change your e-mail" %}</a>
                    <a class="btn btn-small"
                       href="{% url 'astrobin_apps_users.bounce_ignore_and_retry' %}">{% trans "Ignore and retry" %}</a>
                    <a class="btn btn-small" href="{% url 'contact' %}">{% trans "Contact us" %}</a>
                </div>
            </div>
        </div>
    </div>
    
{% elif HAS_COMPLAINT %}

    <div class="accordion container" id="complaint-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle show-caret collapsed" data-toggle="collapse" data-parent="#complaint-accordion"
                   href="#complaint-accordion-content">
                    <i class="icon-warning-sign"></i>
                    {% blocktrans trimmed %}
                        AstroBin is not delivering you emails because you have marked some of them as spam.
                    {% endblocktrans %}
                </a>
            </div>
            <div id="complaint-accordion-content" class="accordion-body collapse">
                <div class="accordion-inner alert alert-warning global-alert">
                    <p>
                        {% blocktrans trimmed %}
                            If you have an automated filter or rule to mark AstroBin emails as spam, please disable it
                            using your email client.
                        {% endblocktrans %}
                    </p>

                    <a class="btn btn-small btn-primary"
                       href="{% url 'astrobin_apps_users.complaint_remove' %}">{% trans "Resume emails" %}</a>
                    <a class="btn btn-small" href="{% url 'contact' %}">{% trans "Contact us" %}</a>
                </div>
            </div>
        </div>
    </div>
    
{% endif %}
