{% load common_tags %}
{% load i18n %}
{% load astrobin_apps_premium_tags %}

<div id="global-alerts">

{% if request.user.is_authenticated and request.user|has_an_expired_premium_subscription %}

    <div class="accordion container" id="expired-subscription-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle show-caret collapsed" data-toggle="collapse"
                   data-parent="#expired-subscription-accordion" href="#expired-subscription-accordion-content">
                    <i class="icon-info-sign"></i>
                    {% blocktrans trimmed %}
                        Your AstroBin subscription is expired.
                    {% endblocktrans %}
                </a>
            </div>
            <div id="expired-subscription-accordion-content" class="accordion-body collapse">
                <div class="accordion-inner alert alert-info global-alert">
                    <p>
                        {% blocktrans trimmed %}
                            That's okay: we don't EVER delete your images if your subscription expires.
                        {% endblocktrans %}

                        {% blocktrans trimmed %}
                            However, it would be great if you considered renewing: it's inexpensive and it goes a long
                            way to support the AstroBin project!
                        {% endblocktrans %}
                    </p>

                    <a class="btn btn-small btn-primary"
                       href="{% app_redirection_service request '/subscriptions/options' %}">
                        {% trans "Subscription plans" %}
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endif %}

{% if HARD_BOUNCES %}

    <div class="accordion container" id="hard-bounce-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle show-caret collapsed" data-toggle="collapse" data-parent="#hard-bounce-accordion"
                   href="#hard-bounce-accordion-content">
                    <i class="icon-warning-sign"></i>
                    {% blocktrans trimmed %}
                        AstroBin is unable to deliver your emails, and it won't try again until the issue is
                        resolved.
                    {% endblocktrans %}
                </a>
            </div>
            <div id="hard-bounce-accordion-content" class="accordion-body collapse">
                <div class="accordion-inner alert alert-warning global-alert">
                    <p>

                        {% blocktrans trimmed %}
                            Your email provider recently reported the following error code(s):
                        {% endblocktrans %}
                    </p>
                    <p>
                        {{ HARD_BOUNCES.0.diagnostic_code }}
                    </p>
                    <p>
                        {% blocktrans trimmed %}
                            If you believe this is in error, please contact us. Otherwise please contact you
                            email provider or change your e-mail address on AstroBin.
                        {% endblocktrans %}
                    </p>

                    <a class="btn btn-small btn-primary"
                       href="{% url 'change_email_index' %}">{% trans "Change your e-mail" %}</a>
                    <a class="btn btn-small"
                       href="{% url 'astrobin_apps_users.bounce_ignore_and_retry' %}">{% trans "Ignore and retry" %}</a>
                    <a class="btn btn-small" href="{% url 'contact' %}">{% trans "Contact us" %}</a>
                </div>
            </div>
        </div>
    </div>
    
{% elif SOFT_BOUNCES and SOFT_BOUNCES|length > 2 %}
    
    <div class="accordion container" id="soft-bounce-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle show-caret collapsed" data-toggle="collapse" data-parent="#soft-bounce-accordion"
                   href="#soft-bounce-accordion-content">
                    <i class="icon-warning-sign"></i>
                    {% blocktrans trimmed %}
                        AstroBin is unable to deliver your emails, and it will try again a week after the latest email
                        bounce.
                    {% endblocktrans %}
                </a>
            </div>
            <div id="soft-bounce-accordion-content" class="accordion-body collapse">
                <div class="accordion-inner alert alert-warning global-alert">
                    <p>
                        {% blocktrans trimmed %}
                            Your email provider recently reported the following error code(s):
                        {% endblocktrans %}
                    </p>
                    <p>
                        <ul>
                            {% for bounce in SOFT_BOUNCES %}
                                <li>{{ bounce.diagnostic_code }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                    <p>
                        {% blocktrans trimmed %}
                            If you believe this is in error, please contact us. Otherwise please contact your email
                            provider or
                            change your e-mail address on AstroBin.
                        {% endblocktrans %}
                    </p>

                    <a class="btn btn-small btn-primary"
                       href="{% url 'change_email_index' %}">{% trans "Change your e-mail" %}</a>
                    <a class="btn btn-small"
                       href="{% url 'astrobin_apps_users.bounce_ignore_and_retry' %}">{% trans "Ignore and retry" %}</a>
                    <a class="btn btn-small" href="{% url 'contact' %}">{% trans "Contact us" %}</a>
                </div>
            </div>
        </div>
    </div>
    
{% elif HAS_COMPLAINT %}

    <div class="accordion container" id="complaint-accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle show-caret collapsed" data-toggle="collapse" data-parent="#complaint-accordion"
                   href="#complaint-accordion-content">
                    <i class="icon-warning-sign"></i>
                    {% blocktrans trimmed %}
                        AstroBin is not delivering you emails because you have marked some of them as spam.
                    {% endblocktrans %}
                </a>
            </div>
            <div id="complaint-accordion-content" class="accordion-body collapse">
                <div class="accordion-inner alert alert-warning global-alert">
                    <p>
                        {% blocktrans trimmed %}
                            If you have an automated filter or rule to mark AstroBin emails as spam, please disable it
                            using your email client.
                        {% endblocktrans %}
                    </p>

                    <a class="btn btn-small btn-primary"
                       href="{% url 'astrobin_apps_users.complaint_remove' %}">{% trans "Resume emails" %}</a>
                    <a class="btn btn-small" href="{% url 'contact' %}">{% trans "Contact us" %}</a>
                </div>
            </div>
        </div>
    </div>
    
{% endif %}

{% if HAS_RECOVERED_IMAGES %}
    <div class="container alert alert-info global-alert">
        <p>
            {% blocktrans trimmed with date=AUTOMATIC_RECOVERY_CONFIRMATION_BEGINS|date:"SHORT_DATE_FORMAT" %}
                <strong>Good news!</strong> AstroBin automatically recovered some of your images that were lost in the
                data loss incident of February 2020. Please review them to confirm the recovery. If you do nothing, your
                recovered images will be confirmed automatically starting from <strong>{{ date }}</strong>.
            {% endblocktrans %}
        </p>

        <a class="btn btn-primary" href="{% url 'me' %}?recovered">
            {% trans "Review recovered images" %}
        </a>
    </div>
{% endif %}

</div>
