{% load i18n %}
{% load static %}
{% load cache %}
{% load astrobin_apps_premium_tags %}
{% load common_tags %}

<!-- javascript -->
<script type="text/javascript">
    $(window).bind('beforeunload', function() {
        $.each(astrobin_common.globals.requests, function(i, xhr) {
            try {
                xhr.abort();
            } catch(e) {
                if (console)
                    console.log('failed to abort xhr');
            }
        });
        astrobin_common.globals.requests = [];
    });

    function getInternetExplorerVersion()
    // Returns the version of Internet Explorer or a -1
    // (indicating the use of another browser).
    {
      var rv = -1; // Return value assumes failure.
      if (navigator.appName == 'Microsoft Internet Explorer')
      {
        var ua = navigator.userAgent;
        var re  = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
        if (re.exec(ua) != null)
          rv = parseFloat( RegExp.$1 );
      }
      return rv;
    }

    {% if request.user.is_authenticated %}
        {% cache 600 hotjar_identify user.id request.LANGUAGE_CODE %}
            function initHotjarIdentify() {
                if (window.hj !== undefined) {
                    var userId = "{{ request.user.id }}";

                    window.hj("identify", userId, {
                        "Registration date": new Date("{{ request.user.date_joined|date:"Y-m-d" }}").toISOString(),
                        "Language": "{{ request.LANGUAGE_CODE }}",
                        "Country": "{{ REQUEST_COUNTRY }}",
                        "Images": {{ request.user.image_set.count }},
                        "Is Free": "{{ valid_usersubscription|is_free }}" === "True",
                        "Is Lite": "{{ valid_usersubscription|is_any_lite }}" === "True",
                        "Is Premium": "{{ valid_usersubscription|is_any_premium }}" === "True",
                        "Is Ultimate": "{{ valid_usersubscription|is_any_ultimate }}" === "True",
                        "Is IOTD Staff": "{{ request.user|has_group:"iotd_staff" }}" === "True"
                    });
                } else {
                    setTimeout(function() {
                        initHotjarIdentify();
                    }, 500);
                }
            }
        {% endcache %}

        initHotjarIdentify();
    {% endif %}

    var dictionary = {
        'Cancel': '{% trans "Cancel" %}'
    };
    $.i18n.setDictionary(dictionary);

    $.localise('ui-multiselect', {
        loadBase: false,
        language: '{{request.LANGUAGE_CODE|default:'en'}}',
        path: '{% get_static_prefix %}' + 'astrobin/js/locale/',
        timeout: 500
    });


    $(document).ready(function () {
        astrobin_common.init({
            is_authenticated: {{ request.user.is_authenticated|yesno:"true,false" }},
            open_notifications_in_new_tab: {{ request.user.userprofile.open_notifications_in_new_tab|yesno:"true,false" }}
        });

        astrobin_common.setup_user_popovers();

        $('input:checkbox, input:radio, input:file').uniform(
            {
                fileDefaultText: '{% trans "No file selected" %}',
                fileBtnText: '{% trans "Choose file" %}'
            }
        );

        {% trans "Like" context 'Verb (imperative)' as i18nLike %}
        {% trans "Unlike" context 'Verb (imperative)' as i18nUnlike %}
        {% trans "Browse images currently visible on the page." as i18nFancyboxHelp %}
        {% trans "Settings" as i18nSettings %}

        Fancybox.Plugins.Toolbar.defaults.items.viewImagePage = {
            type: "button",
            class: "fancybox__button--viewImagePage",
            label: "{{ _('View page') | escapejs }}",
            html: '<i class="icon-link"></i>',
            click: function (event) {
                event.stopPropagation();
                event.preventDefault();

                const slide = Fancybox.getInstance().getSlide();
                const url = slide.url;
                const link = document.createElement('a');

                link.href = url;
                document.body.appendChild(link);

                link.click();
            },
        };

        Fancybox.Plugins.Toolbar.defaults.items.viewImagePageInNewTab = {
            type: "button",
            class: "fancybox__button--viewImagePageInNewTab",
            label: "{{ _('View page in new tab') | escapejs }}",
            html: '<i class="icon-external-link"></i>',
            click: function (event) {
                event.stopPropagation();
                event.preventDefault();

                const slide = Fancybox.getInstance().getSlide();
                const url = slide.url;
                const link = document.createElement('a');

                link.href = url;
                link.target = '_blank';
                document.body.appendChild(link);

                link.click();
            },
        };

        Fancybox.Plugins.Toolbar.defaults.items.like = {
            type: "button",
            class: "fancybox__button--toggleProperty",
            label: "{{ i18nLike | escapejs }}",
            html: '<i class="icon-spinner"></i>'
        };


        Fancybox.Plugins.Toolbar.defaults.items.settings = {
            type: "button",
            class: "fancybox__button--settings",
            label: "{{ i18nSettings | escapejs }}",
            html: "<i class='icon-cog'></i>",
            click: function (event) {
                event.preventDefault();

                const $modal = $("#fancybox-settings-modal");

                $modal.on('shown', function () {
                    $(".fancybox__container").css("visibility", "hidden");

                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    const autoplay = urlParams.get('autoplay');
                    const speed = parseInt(urlParams.get('speed'), 10) || 5000;

                    $modal.find('#id_slideshow_autoplay').prop('checked', autoplay === 'true');
                    $modal.find('#id_slideshow_play_speed').val(speed);

                    $.uniform.update();

                    astrobin_common.update_fancybox_share_links();

                    Fancybox.getInstance().plugins.Toolbar.Slideshow.deactivate();
                });

                $modal.on('hidden', function () {
                    $(".fancybox__container").css("visibility", "visible");
                });

                $modal.modal("show");
            }
        };

        window.astrobinFancyboxOptions = {
            infinite: true,
            autoFocus: false,
            slideshow: {
                delay: 5000
            },
            i10n: {
                CLOSE: "{{ _("Close") | escapejs }}",
                NEXT: "{{ _("Next") | escapejs }}",
                PREV: "{{ _("Previous") | escapejs }}",
                MODAL: "{{ _("You can close this modal content with the ESC key") | escapejs }}",
                ERROR: "{{ _("Something went wrong, Please try again later.") | escapejs }}",
                IMAGE_ERROR: "{{ _("Image not found") | escapejs }}",
                ELEMENT_NOT_FOUND: "{{ _("HTML Element not found") | escapejs }}",
                AJAX_NOT_FOUND: "{{ _("Error loading AJAX : Not Found") | escapejs }}",
                AJAX_FORBIDDEN: "{{ _("Error loading AJAX : Forbidden") | escapejs }}",
                IFRAME_ERROR: "{{ _("Error loading page") | escapejs }}",
            },
            on: {
                initCarousel: (fancybox) => {
                    const slide = fancybox.Carousel.slides[fancybox.Carousel.page];

                    fancybox.$container.style.setProperty(
                        "--bg-image",
                        `url("${slide.src}")`
                    );

                    astrobin_common.init_fancybox_toolbar_link_buttons(fancybox, slide);
                    astrobin_common.init_fancybox_toolbar_toggle_property_button(
                        fancybox,
                        slide,
                        {% if request.user.is_authenticated %}{{ request.user.id }}{% else %}0{% endif %}
                    );
                    setTimeout(() => {
                        astrobin_common.init_fancybox_plate_solution(fancybox, slide);
                    }, 100);
                },
                "Carousel.change": (fancybox, carousel, to, from) => {
                    const slide = carousel.slides[to];

                    fancybox.$container.style.setProperty(
                        "--bg-image",
                        `url("${slide.src}")`
                    );

                    astrobin_common.init_fancybox_toolbar_link_buttons(fancybox, slide);
                    astrobin_common.init_fancybox_toolbar_toggle_property_button(
                        fancybox,
                        slide,
                        {% if request.user.is_authenticated %}{{ request.user.id }}{% else %}0{% endif %}
                    );
                    setTimeout(() => {
                        astrobin_common.init_fancybox_plate_solution(fancybox, slide);
                    }, 100);
                },
                destroy: (fancybox) => {
                    let url = astrobin_common.remove_url_param(window.location.href, 'slideshow');
                    url = astrobin_common.remove_url_param(url, 'autoplay');
                    url = astrobin_common.remove_url_param(url, 'loop');
                    url = astrobin_common.remove_url_param(url, 'speed');

                    window.history.pushState({path: url}, '', url);
                }
            },
            Thumbs: {
                Carousel: {
                    fill: false,
                    center: true,
                },
            },
            Toolbar: {
                display: [
                    {id: "viewImagePage", position: "left"},
                    {id: "viewImagePageInNewTab", position: "left"},
                    {id: "like", position: "left"},
                    {id: "prev", position: "center"},
                    {id: "counter", position: "center"},
                    {id: "next", position: "center"},
                    "zoom",
                    "slideshow",
                    "fullscreen",
                    "thumbs",
                    "close",
                ],
            }
        }

        Fancybox.bind("[data-fancybox]", window.astrobinFancyboxOptions);

        $('#fancybox-settings-modal #id_slideshow_autoplay').change(function () {
            let url = astrobin_common.add_or_update_url_param(window.location.href, 'autoplay', this.checked);
            window.history.pushState({path: url}, '', url);

            astrobin_common.update_fancybox_share_links();
        });

        $('#fancybox-settings-modal #id_slideshow_play_speed').change(function () {
            let url = astrobin_common.add_or_update_url_param(window.location.href, 'speed', $(this).val());
            window.history.pushState({path: url}, '', url);

            astrobin_common.update_fancybox_share_links();
        });

        $('#fancybox-settings-modal .btn-primary').click(function () {
            const instance = Fancybox.getInstance();
            const slideshow = instance.plugins.Toolbar.Slideshow;

            const autoplay = $('#fancybox-settings-modal #id_slideshow_autoplay')[0].checked;
            const speed = parseInt($('#fancybox-settings-modal #id_slideshow_play_speed').val(), 10);

            let url = astrobin_common.add_or_update_url_param(window.location.href, 'autoplay', autoplay);
            url = astrobin_common.add_or_update_url_param(url, 'speed', speed);
            window.history.pushState({path: url}, '', url);

            instance.options.slideshow = instance.options.slideshow || {};
            instance.options.slideshow.delay = speed;

            if (autoplay) {
                slideshow.activate();
            } else {
                slideshow.deactivate();
            }

            $('#fancybox-settings-modal').modal('hide');
        });

        $('.astrobin-thumbnail .astrobin-image-container figcaption').each(function () {
            if (!window.bowser) {
                return;
            }

            const browserParser = window.bowser.getParser(window.navigator.userAgent);

            if (!browserParser) {
                return;
            }

            const os = browserParser.getOS();

            if (os.name === 'iOS') {
                $(this).css('display', 'none');
            }
        });

        $("form:not(.ajax) [type='submit']").one("click", function (event) {
            var $target = $(event.target);
            var $form = $target.closest("form");

            $form.find(":submit").addClass("running");

            // Have a timeout to make sure the browser shows the spinning indicator.
            window.setTimeout(function() {
                $target.trigger(event.type);
                $(":submit").prop("disabled", true);
            }, 10);

            event.preventDefault();
            return false;
        });

        $(".shadow-ban").click(function () {
            var userPk = $(this).data('user-pk');
            $("#shadow-ban-modal #userPk").val(userPk);
        });

        $(".remove-shadow-ban").click(function () {
            var userPk = $(this).data('user-pk');
            $("#remove-shadow-ban-modal #userPk").val(userPk);
        });

        astrobin_common.highlightCode();
    });
</script>

