{% load i18n %}
{% load static %}
{% load cache %}
{% load astrobin_apps_premium_tags %}
{% load common_tags %}

<!-- javascript -->
<script type="text/javascript">
    $(window).bind('beforeunload', function() {
        $.each(astrobin_common.globals.requests, function(i, xhr) {
            try {
                xhr.abort();
            } catch(e) {
                if (console)
                    console.log('failed to abort xhr');
            }
        });
        astrobin_common.globals.requests = [];
    });

    function getInternetExplorerVersion()
    // Returns the version of Internet Explorer or a -1
    // (indicating the use of another browser).
    {
      var rv = -1; // Return value assumes failure.
      if (navigator.appName == 'Microsoft Internet Explorer')
      {
        var ua = navigator.userAgent;
        var re  = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
        if (re.exec(ua) != null)
          rv = parseFloat( RegExp.$1 );
      }
      return rv;
    }

    {% if request.user.is_authenticated %}
        {% cache 600 hotjar_identify user.id request.LANGUAGE_CODE %}
            function initHotjarIdentify() {
                if (window.hj !== undefined) {
                    var userId = "{{ request.user.id }}";

                    window.hj("identify", userId, {
                        "Registration date": new Date("{{ request.user.date_joined|date:"Y-m-d" }}").toISOString(),
                        "Language": "{{ request.LANGUAGE_CODE }}",
                        "Country": "{{ REQUEST_COUNTRY }}",
                        "Images": {{ request.user.image_set.count }},
                        "Is Free": "{{ request.user|is_free }}" === "True",
                        "Is Lite": "{{ request.user|is_any_lite }}" === "True",
                        "Is Premium": "{{ request.user|is_any_premium }}" === "True",
                        "Is Ultimate": "{{ request.user|is_any_ultimate }}" === "True",

                    });
                } else {
                    setTimeout(function() {
                        initHotjarIdentify();
                    }, 500);
                }
            }
        {% endcache %}

        initHotjarIdentify();
    {% endif %}

    var dictionary = {
        'Cancel': '{% trans "Cancel" %}'
    };
    $.i18n.setDictionary(dictionary);

    $.localise('ui-multiselect', {
        loadBase: false,
        language: '{{request.LANGUAGE_CODE|default:'en'}}',
        path: '{% get_static_prefix %}' + 'astrobin/js/locale/',
        timeout: 500
    });


    $(document).ready(function () {
        astrobin_common.init({
            is_authenticated: {{ request.user.is_authenticated|yesno:"true,false" }},
            open_notifications_in_new_tab: {{ request.user.userprofile.open_notifications_in_new_tab|yesno:"true,false" }}
        });

        astrobin_common.setup_user_popovers();

        $('input:checkbox, input:radio, input:file').uniform(
            {
                fileDefaultText: '{% trans "No file selected" %}',
                fileBtnText: '{% trans "Choose file" %}'
            }
        );

        {% trans "Like" context 'Verb (imperative)' as i18nLike %}
        {% trans "Unlike" context 'Verb (imperative)' as i18nUnlike %}
        {% trans "Browse images currently visible on the page." as i18nFancyboxHelp %}

        Fancybox.Plugins.Toolbar.defaults.items.viewImagePage = {
            type: "button",
            class: "fancybox__button--viewImagePage",
            label: "{{ _('View page') | escapejs }}",
            html: '<i class="icon-link"></i>',
            click: function (event) {
                event.stopPropagation();
                event.preventDefault();

                const slide = Fancybox.getInstance().getSlide();
                const url = slide.url;
                const link = document.createElement('a');

                link.href = url;
                document.body.appendChild(link);

                link.click();
            },
        };

        Fancybox.Plugins.Toolbar.defaults.items.viewImagePageInNewTab = {
            type: "button",
            class: "fancybox__button--viewImagePageInNewTab",
            label: "{{ _('View page in new tab') | escapejs }}",
            html: '<i class="icon-external-link"></i>',
            click: function (event) {
                event.stopPropagation();
                event.preventDefault();

                const slide = Fancybox.getInstance().getSlide();
                const url = slide.url;
                const link = document.createElement('a');

                link.href = url;
                link.target = '_blank';
                document.body.appendChild(link);

                link.click();
            },
        };

        Fancybox.Plugins.Toolbar.defaults.items.like = {
            type: "button",
            class: "fancybox__button--toggleProperty",
            label: "{{ i18nLike | escapejs }}",
            html: '<i class="icon-spinner"></i>'
        };

        function initFancyBoxToolbarTogglePropertyButton(fancybox, slide) {
            const rel = slide.rel;
            const imageId = slide.id;
            const imageIdOrHash = slide.idOrHash;
            const userId = slide.userId;
            const requestUserId = {% if request.user.is_authenticated %}{{ request.user.id }}{% else %}0{% endif %};

            const waitIcon = 'icon-spinner';
            const likeIcon = 'icon-thumbs-up';

            setTimeout(() => {
                const $button = $(fancybox.plugins.Toolbar.$container).find('.fancybox__button--toggleProperty');
                const $icon = $button.find('i');

                if (rel !== 'image-list' || requestUserId === userId || requestUserId === 0) {
                    $button.remove();
                    return;
                }

                $icon
                    .addClass(waitIcon)
                    .removeClass(likeIcon);
                $button
                    .off('click')
                    .attr('disabled', 'disabled');

                $.ajax({
                    type: 'get',
                    url: '/api/v2/common/contenttypes/?app_label=astrobin&model=image',
                    dataType: 'json',
                    success: (contentTypeResponse) => {
                        const contentType = contentTypeResponse[0];

                        $.ajax({
                            type: 'get',
                            url: `/api/v2/common/toggleproperties?content_type=${contentType.id}&property_type=like&user_id=${requestUserId}&object_id=${imageId}`,
                            dataType: 'json',
                            success: (togglePropertyResponse) => {
                                const liked = togglePropertyResponse.count > 0;

                                if (liked) {
                                    $icon
                                        .removeClass(waitIcon)
                                        .addClass(likeIcon);
                                    $button
                                        .attr('disabled', 'disabled');
                                    return;
                                }

                                $button
                                    .html(`<i class="${likeIcon}"></i>`)
                                    .removeAttr('disabled')
                                    .data('content-type', contentType.id)
                                    .data('object-id', imageId)
                                    .one('click', function (e) {
                                        e.preventDefault();

                                        $icon
                                            .removeClass(likeIcon)
                                            .addClass(waitIcon);
                                        $button
                                            .attr('disabled', 'disabled');

                                        $.ajax({
                                            type: 'post',
                                            url: '/api/v2/common/toggleproperties/',
                                            data: {
                                                property_type: 'like',
                                                content_type: contentType.id,
                                                object_id: imageId,
                                                user: {{ request.user.id }}
                                            },
                                            timeout: 5000,
                                            success: function (response) {
                                                togglePropertyResponse = {
                                                    results: [
                                                        response
                                                    ]
                                                };

                                                $icon
                                                    .removeClass(waitIcon)
                                                    .addClass(likeIcon);
                                                $button
                                                    .attr('disabled', 'disabled');
                                            },
                                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                if (XMLHttpRequest.status === 401) {
                                                    window.location.href = `/accounts/login/?next=/${imageIdOrHash}`;
                                                    return;
                                                } else {
                                                    $('#cant-like').modal('show');
                                                }

                                                $icon
                                                    .removeClass(waitIcon)
                                                    .addClass(likeIcon);
                                                $button
                                                    .removeAttr('disabled');
                                            }
                                        });
                                    })
                            }
                        })
                    }
                });
            }, 250);
        }

        function initFancyBoxPlateSolution(fancybox, slide) {
            function observeImageMutations($img) {
                const delay = 100;

                function applyMutations(mutations) {
                    if (window.astroBinFancyBoxLastMutation && new Date().getTime() - window.astroBinFancyBoxLastMutation < delay) {
                        return;
                    }

                    const $solution = $(fancybox.$carousel).find('.fancybox__slide.is-selected .hover-overlay-solution');

                    mutations.forEach(function () {
                        $solution.attr('style', $img.attr('style'));
                        $solution.css('display', 'block');
                    });
                }

                if (!!window.astroBinFancyBoxMutationObserver) {
                    window.astroBinFancyBoxMutationObserver.disconnect();
                }

                window.astroBinFancyBoxMutationObserver = new MutationObserver(function (mutations) {
                    window.astroBinFancyBoxLastMutation = new Date().getTime();
                    const $solution = $(fancybox.$carousel).find('.fancybox__slide.is-selected .hover-overlay-solution');
                    $solution.css('display', 'none');
                    setTimeout(() => applyMutations(mutations), delay + 1);
                });

                window.astroBinFancyBoxMutationObserver.observe($img[0], {
                    attributes: true,
                    attributeFilter: ['style']
                });
            }

            if ($(fancybox.$carousel).find('.hover-overlay-solution').length > 0) {
                observeImageMutations($(fancybox.$carousel).find('.fancybox__slide.is-selected .fancybox__image'));
                return;
            }

            $.ajax({
                type: 'get',
                url: '/api/v2/common/contenttypes/?app_label=astrobin&model=image',
                dataType: 'json',
                success: (contentTypeResponse) => {
                    const contentType = contentTypeResponse[0];
                    const imageId = slide.id;

                    $.ajax({
                        type: 'get',
                        url: `/api/v2/platesolving/solutions/?content_type=${contentType.id}&object_id=${imageId}`,
                        dataType: 'json',
                        success: (response) => {
                            if (response.length === 0) {
                                return;
                            }

                            const solution = response[0];

                            const $img = $(fancybox.$carousel).find('.fancybox__slide.is-selected .fancybox__image');
                            let $element = null;

                            if (solution.pixinsight_svg_annotation_hd) {
                                $element = $(
                                    `
                                        <div class="hover-overlay-solution">
                                            <object
                                                id="advanced-plate-solution-svg"
                                                onload="AstroBinPlatesolving.advancedSvgLoaded()"
                                                type="image/svg+xml"
                                                data="/platesolving/solution/${solution.id}/svg/hd/">
                                            </object>
                                        </div>
                                    `
                                )
                            } else if (solution.image_file) {
                                $element = $(
                                    `
                                        <div class="hover-overlay-solution">
                                            <img src="${solution.image_file}" />
                                        </div>
                                    `
                                )
                            }

                            if ($element !== null) {
                                observeImageMutations($img);
                                $img.after($element);
                            }
                        }
                    });
                }
            });
        }

        Fancybox.bind("[data-fancybox]", {
            infinite: false,
            autoFocus: false,
            i10n: {
                CLOSE: "{{ _("Close") | escapejs }}",
                NEXT: "{{ _("Next") | escapejs }}",
                PREV: "{{ _("Previous") | escapejs }}",
                MODAL: "{{ _("You can close this modal content with the ESC key") | escapejs }}",
                ERROR: "{{ _("Something went wrong, Please try again later.") | escapejs }}",
                IMAGE_ERROR: "{{ _("Image not found") | escapejs }}",
                ELEMENT_NOT_FOUND: "{{ _("HTML Element not found") | escapejs }}",
                AJAX_NOT_FOUND: "{{ _("Error loading AJAX : Not Found") | escapejs }}",
                AJAX_FORBIDDEN: "{{ _("Error loading AJAX : Forbidden") | escapejs }}",
                IFRAME_ERROR: "{{ _("Error loading page") | escapejs }}",
            },
            on: {
                initCarousel: (fancybox) => {
                    const slide = fancybox.Carousel.slides[fancybox.Carousel.page];

                    fancybox.$container.style.setProperty(
                        "--bg-image",
                        `url("${slide.src}")`
                    );

                    initFancyBoxToolbarTogglePropertyButton(fancybox, slide);
                    setTimeout(() => {
                        initFancyBoxPlateSolution(fancybox, slide);
                    }, 100);
                },
                "Carousel.change": (fancybox, carousel, to, from) => {
                    const slide = carousel.slides[to];

                    fancybox.$container.style.setProperty(
                        "--bg-image",
                        `url("${slide.src}")`
                    );

                    initFancyBoxToolbarTogglePropertyButton(fancybox, slide);
                    setTimeout(() => {
                        initFancyBoxPlateSolution(fancybox, slide);
                    }, 100);
                }
            },
            Thumbs: {
                Carousel: {
                    fill: false,
                    center: true,
                },
            },
            Toolbar: {
                display: [
                    {id: "viewImagePage", position: "left"},
                    {id: "viewImagePageInNewTab", position: "left"},
                    {id: "like", position: "left"},
                    {id: "prev", position: "center"},
                    {id: "counter", position: "center"},
                    {id: "next", position: "center"},
                    "zoom",
                    "slideshow",
                    "fullscreen",
                    "thumbs",
                    "close",
                ],
            }
        });

        $('.astrobin-thumbnail .astrobin-image-container figcaption').each(function () {
            if (!window.bowser) {
                return;
            }

            const browserParser = window.bowser.getParser(window.navigator.userAgent);

            if (!browserParser) {
                return;
            }

            const os = browserParser.getOS();

            if (os.name === 'iOS') {
                $(this).css('display', 'none');
            }
        });

        $("form:not(.ajax) [type='submit']").one("click", function (event) {
            var $target = $(event.target);
            var $form = $target.closest("form");

            $form.find(":submit").addClass("running");

            // Have a timeout to make sure the browser shows the spinning indicator.
            window.setTimeout(function() {
                $target.trigger(event.type);
                $(":submit").prop("disabled", true);
            }, 10);

            event.preventDefault();
            return false;
        });

        $(".shadow-ban").click(function () {
            var userPk = $(this).data('user-pk');
            $("#shadow-ban-modal #userPk").val(userPk);
        });

        $(".remove-shadow-ban").click(function () {
            var userPk = $(this).data('user-pk');
            $("#remove-shadow-ban-modal #userPk").val(userPk);
        });
    });
</script>

