{% load static %}
{% load i18n %}
{% load tags %}

<li class="dropdown language-switcher">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="hidden-phone">
            {% if request.user.is_authenticated %}
                {% get_language_code_display request.LANGUAGE_CODE %}
            {% else %}
                {% get_language_name request.LANGUAGE_CODE %}
            {% endif %}
            <i class="icon-caret-down"></i>
        </span>
    </a>
    <ul class="dropdown-menu">

        {% get_native_languages as native_languages %}
        {% for lang in native_languages %}
            <li>
                <a href="{% url 'set_language' lang %}" title="{% get_language_name lang %}">
                    {% get_language_name lang %}
                </a>
            </li>
        {% endfor %}

        <li class="divider"></li>

        {% get_officially_supported_languages as supported_languages %}
        {% for lang in supported_languages %}
            <li>
                <a href="{% url 'set_language' lang %}" title="{% get_language_name lang %}">
                    {% get_language_name lang %}
                </a>
            </li>
        {% endfor %}

        <li class="divider"></li>

        {% get_other_languages as other_languages %}
        {% for lang in other_languages %}
            <li>
                <a href="{% url 'set_language' lang %}" title="{% get_language_name lang %}">
                    {% get_language_name lang %}
                </a>
            </li>
        {% endfor %}


        {% if request.user.is_authenticated %}
            <li class="divider"></li>

            <li>
                <a href="https://welcome.astrobin.com/contact?subject=Help%20with%20translations&username={{ request.user.username }}&email={{ request.user.email }}"
                   target="_blank">
                    <i class="icon-tasks"></i>
                    {% trans "Help with translations!" %}
                </a>
            </li>
        {% endif %}

    </ul>

    {% if request.user.is_authenticated and not user_language %}
        <div id="language-prompt">
            <div class="bubble">
                {% blocktrans %}Please select your language from the options above.{% endblocktrans %}
            </div>
        </div>
    {% endif %}
</li>
