{% load i18n %}
{% load static %}
{% load astrobin_apps_notifications_tags %}
{% load astrobin_apps_premium_tags %}

<div class="modal hide fade" id="notifications-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{% trans "Notifications" %}</h3>
    </div>

    <div class="modal-body">
        {% notifications_table request.user 20 10 %}
    </div>

    <div class="modal-footer">

        <form action="{% url 'astrobin_apps_notifications.mark_all_as_read' %}" method="post">{% csrf_token %}
            <a class="btn btn-primary" href="{% url 'astrobin_apps_notifications.all' %}">
                {% trans "View all" %}
            </a>

            {% if READONLY_MODE %}
                <a class="btn disabled" href="#readonly-mode-modal" data-toggle="modal">
            {% else %}
                <a class="btn" href="{% url 'astrobin_apps_notifications.settings' %}">
            {% endif %}
            {% trans "Settings" %}
            </a>

            {% if request.user|has_unseen_notifications %}
                {% if READONLY_MODE %}
                    <a class="btn disabled" href="#readonly-mode-modal" data-toggle="modal">
                        {% trans "Mark all as read" %}
                    </a>
                {% else %}
                    <input type="submit"
                           class="btn btn-danger"
                           value="{% trans "Mark all as read" %}" />
                {% endif %}
            {% endif %}

            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
    </div>
</div>

<div class="modal hide fade" id="readonly-mode-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{% trans "AstroBin is in READ ONLY mode" %}</h3>
    </div>

    <div class="modal-body">
        {% include 'readonly_mode.html' %}
    </div>
</div>

<div class="modal hide fade" id="feature-restricted-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{% trans "Sorry :-(" %}</h3>
    </div>

    <div class="modal-body">
        <div class="row-fluid">
            <div class="span3 visible-desktop">
                <img src="{% static 'astrobin/images/red-lock.png' %}" alt="{% trans 'Access denied' %}" />
            </div>
            <div class="span9 upgrade-info">
                <p>{% trans "This feature is only offered at higher membership levels." %}</p>
                <p>{% trans "Would you be interested in upgrading? AstroBin is a very small business and your support would mean a lot!" %}</p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-secondary">{% trans "No, thanks" %}</button>
        <a href="{% url 'subscription_list' %}" class="btn btn-primary">{% trans "Tell me more!" %}</a>
    </div>
</div>

{% if request.user|can_remove_ads %}
    <div class="modal hide fade" id="remove-ads-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3><i class="icon-gift"></i> {% trans "Are you really sure?" %}</h3>
        </div>
        <div class="modal-body">
            <p>
                {% blocktrans %}We know, we're all used to the fact that ads on the Internet are
                    annoying.{% endblocktrans %}
                {% blocktrans %}However, please let us offer you two good reasons to allow ads on
                    AstroBin:{% endblocktrans %}
            </p>

            <ol>
                <li>
                    {% blocktrans %}AstroBin is a one-person business. As of the time of writing, in early 2020,
                        I'm trying to make AstroBin a full time job, but it hasn't happened yet. If this dream were to
                        become reality, I could invest a lot more time in the development of AstroBin, and everybody
                        would benefit from it!{% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}There are only astronomy ads on AstroBin, that are published after my review and
                        approval. Nothing fishy, nothing off-topic, and nothing that will use any of your private
                        information.{% endblocktrans %}
                </li>
            </ol>

            <p>
                {% url 'profile_edit_preferences' as profile_url %}
                {% blocktrans %}If you still feel that you would rather not see these ads, you can change this on
                    <a href="{{ profile_url }}">your settings page</a>.{% endblocktrans %}
            </p>

            <p>
                {% trans "Thank you!" %}
            </p>
        </div>

        <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</a>
        </div>
    </div>
{% endif %}

