{% load i18n %}
{% load static %}
{% load astrobin_apps_notifications_tags %}
{% load astrobin_apps_premium_tags %}
{% load common_tags %}

<div class="modal hide fade" id="notifications-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{% trans "Notifications" %}</h3>
    </div>

    <div class="modal-body">
        <table class="table table-condensed table-striped notifications-modal">
            <tbody>
                <template id="notification-row-template">
                    <tr class="notification-item notification-unread" data-id="">
                        <td class="notification-state"><div class="state-indicator"></div></td>
                        <td class="notification-content"></td>
                        <td class="notification-date"><abbr class="timestamp" data-epoch="">...</abbr></td>
                        <td class="notification-mark-as-read">
                            <a href="#"><i class="icon icon-ok"></i></a>
                            <div class="loading"><div class="ld ld-ring ld-spin"></div></div>
                        </td>
                    </tr>
                </template>

                <tr class="no-new-notifications">
                    <td colspan="4">
                        {% trans "You have no new notifications." %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <a class="btn btn-primary" href="{% url 'astrobin_apps_notifications.all' %}">
            {% trans "View all" %}
        </a>

        {% if READONLY_MODE %}
            <a class="btn disabled" href="#readonly-mode-modal" data-toggle="modal">
        {% else %}
            <a class="btn" href="{% url 'astrobin_apps_notifications.settings' %}">
        {% endif %}
            {% trans "Settings" %}
        </a>

        {% if READONLY_MODE %}
            <a class="btn disabled" href="#readonly-mode-modal" data-toggle="modal">
        {% else %}
            <a class="btn btn-danger" id="mark-all-notifications-as-read" disabled="disabled">
        {% endif %}
            {% trans "Mark all as read" %}
        </a>
    </div>
</div>

<div class="modal hide fade" id="readonly-mode-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{% trans "AstroBin is in READ ONLY mode" %}</h3>
    </div>

    <div class="modal-body">
        {% include 'readonly_mode.html' %}
    </div>
</div>

<div class="modal hide fade" id="feature-restricted-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{% trans "Sorry :-(" %}</h3>
    </div>

    <div class="modal-body">
        <div class="row-fluid">
            <div class="span3 visible-desktop">
                <img src="{% static 'astrobin/images/red-lock.png' %}" alt="{% trans 'Access denied' %}" />
            </div>
            <div class="span9 upgrade-info">
                <p>{% trans "This feature is only offered at higher membership levels." %}</p>
                <p>{% trans "Would you be interested in upgrading? AstroBin is a very small business and your support would mean a lot!" %}</p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-secondary">{% trans "No, thanks" %}</button>
        <a href="https://welcome.astrobin.com/pricing" target="_blank" class="btn btn-primary">
            {% trans "Tell me more!" %}
        </a>
    </div>
</div>

{% if request.user|can_remove_ads %}
    <div class="modal hide fade" id="remove-ads-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3><i class="icon-gift"></i> {% trans "Are you really sure?" %}</h3>
        </div>
        <div class="modal-body">
            <p>
                {% blocktrans trimmed %}
                    We know, we're all used to the fact that ads on the Internet are annoying.
                {% endblocktrans %}

                {% blocktrans trimmed %}However, please let us offer you a good reason to allow ads on AstroBin:
                {% endblocktrans %}
            </p>

            <ul>
                <li>
                    {% blocktrans trimmed %}
                        There are only astronomy ads on AstroBin, that are published after my review and approval.
                        Nothing fishy, nothing off-topic, and nothing that will use any of your private information.
                    {% endblocktrans %}
                </li>
            </ul>

            <p>
                {% url 'profile_edit_preferences' as profile_url %}
                {% blocktrans trimmed %}
                    If you still feel that you would rather not see these ads, you can change this on
                    <a href="{{ profile_url }}">your settings page</a>.
                {% endblocktrans %}
            </p>

            <p>
                {% trans "Thank you!" %}
            </p>
        </div>

        <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</a>
        </div>
    </div>
{% endif %}

<div class="modal hide fade" id="shadow-ban-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3><i class="icon-ban-circle"></i> {% trans "Are you really sure?" %}</h3>
    </div>
    <div class="modal-body">
        <p>
            {% blocktrans trimmed %}
                If this user has been harassing you, and you shadow-ban them, all their activities on your content will
                be invisible to everyone except themselves.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
                They will not know that they have been shadow-banned, and the goal is that eventually they will get
                bored while having caused no harm, since nobody saw what they posted.
            {% endblocktrans %}
        </p>
    </div>
    <div class="modal-footer">
        <form action="{% url 'profile_shadow_ban' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="userPk" id="userPk" value="" />
            <input type="hidden" name="next" id="next" value="{{ request.path }}" />
            <button class="btn btn-secondary btn-block-mobile" data-dismiss="modal">{% trans "Cancel" %}</button>
            <button type="submit" class="btn btn-primary btn-block-mobile {% button_loading_class %}">
                {% trans 'Continue' %}
                {% button_loading_indicator %}
            </button>
        </form>
    </div>
</div>

<div class="modal hide fade" id="remove-shadow-ban-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3><i class="icon-ban-circle"></i> {% trans "Are you really sure?" %}</h3>
    </div>
    <div class="modal-body">
        <p>
            {% blocktrans trimmed %}
                You will remove your shadow-ban on this user, and their comments, messages, etc, will appear again on
                your content.
            {% endblocktrans %}
        </p>
    </div>
    <div class="modal-footer">
        <form action="{% url 'profile_remove_shadow_ban' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="userPk" id="userPk" value="" />
            <input type="hidden" name="next" id="next" value="{{ request.path }}" />
            <button class="btn btn-secondary btn-block-mobile" data-dismiss="modal">{% trans "Cancel" %}</button>
            <button type="submit" class="btn btn-primary btn-block-mobile {% button_loading_class %}">
                {% trans 'Continue' %}
                {% button_loading_indicator %}
            </button>
        </form>
    </div>
</div>
