{% load i18n %}
{% load astrobin_apps_notifications_tags %}

<div class="modal hide fade" id="notifications-modal">

    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{% trans "Notifications" %}</h3>
    </div>

    <div class="modal-body">
        {% notifications_table request.user -1 20 %}
    </div>

    <div class="modal-footer">
        <a class="btn btn-primary" href="{% url 'astrobin_apps_notifications.all' %}">
            {% trans "View all" %}
        </a>

        <a class="btn" href="{% url 'astrobin_apps_notifications.settings' %}">
            {% trans "Settings" %}
        </a>

        {% if request.user|has_unseen_notifications %}
            <a class="btn btn-danger"
               href="{% url 'message_mark_all_read' %}">
                {% trans "Mark all as read" %}
            </a>
        {% endif %}

    </div>

</div>
