{% load pipeline %}
{% load staticfiles %}

<!--[if lte IE 8]>
<script src="//cdn.jsdelivr.net/flashcanvas/1.5/flashcanvas.js"></script>
<![endif]-->

<!-- own js -->
{% javascript 'scripts' %}

<!-- other js -->
{% with 'astrobin/js/locale/jquery.timeago.'|add:LANGUAGE_CODE|add:'.js' as timeago_static %}
    <script type="text/javascript" src="{% static timeago_static %}"></script>
{% endwith %}
<script type="text/javascript" src="{% static 'astrobin/js/Markdown.Converter.js' %}"></script>
<script type="text/javascript" src="{% static 'astrobin/js/Markdown.Sanitizer.js' %}"></script>
<script type="text/javascript" src="{% static 'pybb/js/pybbjs.js' %}"></script>
<script type="text/javascript" src="{% static 'cookielaw/js/cookielaw.js' %}"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/nouislider@12.1.0/distribute/nouislider.min.js"></script>
