{% load pipeline %}
{% load staticfiles %}

<!--[if lte IE 8]>
<script src="//cdn.jsdelivr.net/flashcanvas/1.5/flashcanvas.js"></script>
<![endif]-->

<!-- own js -->
{% javascript 'scripts' %}

<!-- other js -->
{% with 'astrobin/js/locale/jquery.timeago.'|add:LANGUAGE_CODE|add:'.js' as timeago_static %}
    <script type="text/javascript" src="{% static timeago_static %}"></script>
{% endwith %}
<script type="text/javascript" src="{% static 'astrobin/js/Markdown.Converter.js' %}"></script>
<script type="text/javascript" src="{% static 'astrobin/js/Markdown.Sanitizer.js' %}"></script>
<script type="text/javascript" src="{% static 'pybb/js/pybbjs.js' %}"></script>
<script type="text/javascript" src="{% static 'cookielaw/js/cookielaw.js' %}"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/nouislider@12.1.0/distribute/nouislider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha256-AFAYEOkzB6iIKnTYZOdUf9FFje6lOTYdwRJKwTN5mks=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
        integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"
        integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw=="
        crossorigin="anonymous"></script>

<script>
    var CKEDITOR_BASEPATH = '{{ STATIC_URL }}astrobin/ckeditor/';
</script>

<script src="{% static "astrobin/ckeditor/ckeditor.js" %}"></script>
