{% load i18n %}

<form class="navbar-search pull-left hidden-phone hidden-tablet" id="quick-search" action="{% url 'haystack_search' %}" method="get" >
    <input class="tbox"
           id="q"
           type="text"
           name="q"
           value="{% trans "Quick search" %}"
           onfocus="astrobin_common.clearText(this)"
           onblur="astrobin_common.clearText(this)"/>

    <input type="hidden" name="search_type" value="0"/>
    <input type="hidden" name="license" value="0"/>
    <input type="hidden" name="license" value="1"/>
    <input type="hidden" name="license" value="2"/>
    <input type="hidden" name="license" value="3"/>
    <input type="hidden" name="license" value="4"/>
    <input type="hidden" name="license" value="5"/>
    <input type="hidden" name="license" value="6"/>

    <input type="hidden" name="telescope_type" value="any"/>
    <input type="hidden" name="telescope_type" value="0"/>
    <input type="hidden" name="telescope_type" value="1"/>
    <input type="hidden" name="telescope_type" value="2"/>
    <input type="hidden" name="telescope_type" value="3"/>
    <input type="hidden" name="telescope_type" value="4"/>
    <input type="hidden" name="telescope_type" value="5"/>
    <input type="hidden" name="telescope_type" value="6"/>
    <input type="hidden" name="telescope_type" value="7"/>
    <input type="hidden" name="telescope_type" value="8"/>
    <input type="hidden" name="telescope_type" value="9"/>
    <input type="hidden" name="telescope_type" value="10"/>
    <input type="hidden" name="telescope_type" value="11"/>
    <input type="hidden" name="telescope_type" value="12"/>
    <input type="hidden" name="telescope_type" value="13"/>
    <input type="hidden" name="telescope_type" value="14"/>
    <input type="hidden" name="telescope_type" value="15"/>
    <input type="hidden" name="telescope_type" value="16"/>
    <input type="hidden" name="telescope_type" value="17"/>
    <input type="hidden" name="telescope_type" value="18"/>
    <input type="hidden" name="telescope_type" value="19"/>
    <input type="hidden" name="telescope_type" value="20"/>
    <input type="hidden" name="telescope_type" value="21"/>
    <input type="hidden" name="telescope_type" value="22"/>

    <input type="hidden" name="camera_type" value="any"/>
    <input type="hidden" name="camera_type" value="0"/>
    <input type="hidden" name="camera_type" value="1"/>
    <input type="hidden" name="camera_type" value="2"/>
    <input type="hidden" name="camera_type" value="3"/>
    <input type="hidden" name="camera_type" value="4"/>
    <input type="hidden" name="camera_type" value="5"/>
</form>

