{% load i18n %}
{% load tags %}

<li>
    <a href="{% url 'subscription_list' %}">
        <i class="icon-asterisk"></i>
        {% trans "Subscription plans" %}
    </a>
</li>

<li>
    <a href="{% url 'image_upload' %}">
        <i class="icon-upload-alt"></i>
        {% trans "Upload" %}
    </a>
</li>
<li class="nav-header">{% trans "My places" %}</li>

{% if is_producer or is_retailer %}
    <li>
        <a href="{% url 'user_page_commercial_products' request.user.username %}">
            <i class="icon-barcode"></i>
            {% trans "Commercial products" %}
        </a>
    </li>
{% endif %}

<li>
    <a href="{% url 'user_page' request.user.username %}">
        <i class="icon-picture"></i>
        {% trans "Gallery" %}
    </a>
</li>

<li>
    <a href="{% url 'user_page_bookmarks' request.user.username %}">
        <i class="icon-bookmark"></i>
        {% trans "Bookmarks" %}
    </a>
</li>

<li>
    <a href="{% url 'user_page_plots' request.user.username %}">
        <i class="icon-bar-chart"></i>
        {% trans "Plots" %}
    </a>
</li>

<li class="divider"></li>

<li>
    <a href="{% url 'messages_inbox' %}">
        <i class="icon-inbox"></i>
        {% trans "My messages" %}
    </a>
</li>

<li>
    <a href="{% url 'user_page_api_keys' request.user.username %}">
        <i class="icon-key"></i>
        {% trans "API Keys" %}
    </a>
</li>

<li>
    <a href="{% url 'profile_edit_basic' %}">
        <i class="icon-edit"></i>
        {% trans "My settings" %}
    </a>
</li>

<li class="divider"></li>

<li>
    <a href="{% url 'auth_logout' %}">
        <i class="icon-signout"></i>
        {% trans "Logout" %}
    </a>
</li>
