/* Color palette: http://www.colourlovers.com/palette/322645/Mambo_For_Cats */
@font-face {
  font-family: 'astrobin_sans';
  src: url('/static/fonts/Vegur-R_0600.otf');
}
@font-face {
  font-family: 'astrobin_sans_strong';
  src: url('/static/fonts/Vegur-B_0600.otf');
}
@font-face {
  font-family: 'Sling';
  src: url('/static/fonts/Sling.ttf');
}
.background-gradient {
  border: 1px solid #222222;
  border-top: 1px solid #292929;
  background: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#2b2b2b));
  background: -moz-linear-gradient(top, #333333, #2b2b2b);
  color: #b8b8b8;
}
.background-gradient-inverted {
  border: 1px solid #222222;
  border-top: 1px solid #1c1c1c;
  background: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#3d3d3d));
  background: -moz-linear-gradient(top, #333333, #3d3d3d);
  color: #b8b8b8;
}
.button-gradient {
  border: 1px solid #cc4b2e;
  border-top: 1px solid #ff6c42;
  background: #cc4b2e;
  background: -webkit-gradient(linear, left top, left bottom, from(#f55a37), to(#cc4b2e));
  background: -moz-linear-gradient(top, #f55a37, #cc4b2e);
  color: #fcfcfc;
}
.button-gradient-hilighted {
  border-top-color: #ff8753;
  background: #f55a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6c42), to(#cc4b2e));
  background: -moz-linear-gradient(top, #ff6c42, #cc4b2e);
  color: #ffffff;
}
.button-gradient-active {
  border-color: #f55a37;
  border-top-color: #aa3f26;
  background: #f55a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc4b2e), to(#f55a37));
  background: -moz-linear-gradient(top, #cc4b2e, #cc4b2e);
  color: #fcfcfc;
}
.button-gradient-inverted {
  border: 1px solid #b8b8b8;
  border-top: 1px solid #ffffff;
  background: #b8b8b8;
  background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#b8b8b8));
  background: -moz-linear-gradient(top, #dddddd, #b8b8b8);
  color: #333333;
}
.button-gradient-inverted-hilighted {
  border-color: #b8b8b8;
  border-top-color: #ffffff;
  background: #dddddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b8b8b8));
  background: -moz-linear-gradient(top, #ffffff, #b8b8b8);
  color: #3d3d3d;
}
.danger-gradient {
  border: 1px solid #c70000;
  border-top: 1px solid #ef0000;
  background: #c70000;
  background: -webkit-gradient(linear, left top, left bottom, from(#ef0000), to(#c70000));
  background: -moz-linear-gradient(top, #ef0000, #c70000);
  color: #fcfcfc;
}
.danger-gradient-hilighted {
  border-top-color: #ff0000;
  background: #ef0000;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#c70000));
  background: -moz-linear-gradient(top, #ff0000, #c70000);
  color: #ffffff;
}
.danger-gradient-active {
  border-color: #c70000;
  border-bottom-color: #ef0000;
  background: #a60000;
  background: -webkit-gradient(linear, left top, left bottom, from(#c70000), to(#a60000));
  background: -moz-linear-gradient(top, #c70000, #a60000);
  color: #ffffff;
}
.box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
.bottom-box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 6px 18px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 6px 18px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 18px;
}
.small-bottom-box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
}
.wrap-box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 62px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 62px 6px;
  box-shadow: rgba(0, 0, 0, 0.9) 0 62px 6px;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.common-border {
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
}
.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
}
.strong {
  color: #fcfcfc;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
}
.hidden {
  display: none;
}
.horizontal-separator {
  width: 100%;
  height: 0;
  border-top: 1px solid #171717;
  border-bottom: 1px solid #292929;
}
/* clearing */
.fix {
  clear: both;
  height: 1px;
  margin: -1px 0 0;
  overflow: hidden;
}
.clear {
  display: inline-block;
}
.clear:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: " ";
}
.js {
  display: none;
}
.icon-edit {
  background: url('/static/icons/iconic/black/edit.png') no-repeat left center;
}
.icon-edit-gear {
  background: url('/static/icons/iconic/black/edit-gear.png') no-repeat left center;
}
.icon-edit-acquisition {
  background: url('/static/icons/iconic/black/edit-acquisition.png') no-repeat left center;
}
.icon-upload {
  background: url('/static/icons/iconic/black/upload.png') no-repeat left center;
}
.icon-delete {
  background: url('/static/icons/iconic/black/delete.png') no-repeat left center;
}
.icon-quote {
  background: url('/static/icons/iconic/black/quote.png') no-repeat left center;
}
.icon-info {
  background: url('/static/icons/iconic/black/info.png') no-repeat left center;
}
.icon-file {
  background: url('/static/icons/iconic/black/file.png') no-repeat left center;
}
.icon-follow {
  background: url('/static/icons/iconic/black/follow.png') no-repeat left center;
}
.icon-unfollow {
  background: url('/static/icons/iconic/black/unfollow.png') no-repeat left center;
}
.icon-normal {
  background: url('/static/icons/iconic/black/normal.png') no-repeat left center;
}
.icon-inverted {
  background: url('/static/icons/iconic/black/inverted.png') no-repeat left center;
}
.icon-solved {
  background: url('/static/icons/iconic/black/solved.png') no-repeat left center;
}
.icon-profile {
  background: url('/static/icons/iconic/black/profile.png') no-repeat left center;
}
.icon-message {
  background: url('/static/icons/iconic/black/message.png') no-repeat left center;
}
/*
Uniform Theme: Uniform Default
Version: 1.6
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/
---
Generated by Uniform Theme Generator:
http://pixelmatrixdesign.com/uniform/themer.html

*/
/* Global Declaration */
div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader span.filename,
div.uploader span.action,
div.button,
div.button span {
  background-image: url(../images/uniform/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
.selector,
.radio,
.checker,
.uploader,
.button,
.selector *,
.radio *,
.checker *,
.uploader *,
.button * {
  margin: 0;
  padding: 0;
}
/* INPUT & TEXTAREA */
input.text,
input.email,
input.password,
textarea.uniform {
  font-size: 13px;
  font-weight: normal;
  padding: 3px;
  color: #333333;
  background: url('../images/uniform/bg-input-focus.png') repeat-x 0px 0px;
  background: url('../images/uniform/bg-input.png') repeat-x 0px 0px;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
}
input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  background: url('../images/uniform/bg-input-focus.png') repeat-x 0px 0px;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
input[readonly], input:focus[readonly] {
  color: #7b7b7b;
  background: #222222;
}
/* SPRITES */
/* Select */
div.selector {
  background-position: -483px -130px;
  line-height: 26px;
  height: 26px;
}
div.selector span {
  background-position: right 0px;
  height: 26px;
  line-height: 26px;
}
div.selector select {
  /* change these to adjust positioning of select element */

  top: 0px;
  left: 0px;
}
div.selector:active, div.selector.active {
  background-position: -483px -156px;
}
div.selector:active span, div.selector.active span {
  background-position: right -26px;
}
div.selector.focus, div.selector.hover, div.selector:hover {
  background-position: -483px -182px;
}
div.selector.focus span, div.selector.hover span, div.selector:hover span {
  background-position: right -52px;
}
div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
  background-position: -483px -208px;
}
div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
  background-position: right -78px;
}
div.selector.disabled {
  background-position: -483px -234px;
}
div.selector.disabled span {
  background-position: right -104px;
}
/* Checkbox */
div.checker {
  width: 19px;
  height: 19px;
}
div.checker input {
  width: 19px;
  height: 19px;
}
div.checker span {
  background-position: 0px -260px;
  height: 19px;
  width: 19px;
}
div.checker:active span, div.checker.active span {
  background-position: -19px -260px;
}
div.checker.focus span, div.checker:hover span {
  background-position: -38px -260px;
}
div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
  background-position: -57px -260px;
}
div.checker span.checked {
  background-position: -76px -260px;
}
div.checker:active span.checked, div.checker.active span.checked {
  background-position: -95px -260px;
}
div.checker.focus span.checked, div.checker:hover span.checked {
  background-position: -114px -260px;
}
div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
  background-position: -133px -260px;
}
div.checker.disabled span, div.checker.disabled:active span, div.checker.disabled.active span {
  background-position: -152px -260px;
}
div.checker.disabled span.checked, div.checker.disabled:active span.checked, div.checker.disabled.active span.checked {
  background-position: -171px -260px;
}
/* Radio */
div.radio {
  width: 18px;
  height: 18px;
}
div.radio input {
  width: 18px;
  height: 18px;
}
div.radio span {
  height: 18px;
  width: 18px;
  background-position: 0px -279px;
}
div.radio:active span, div.radio.active span {
  background-position: -18px -279px;
}
div.radio.focus span, div.radio:hover span {
  background-position: -36px -279px;
}
div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
  background-position: -54px -279px;
}
div.radio span.checked {
  background-position: -72px -279px;
}
div.radio:active span.checked, div.radio.active span.checked {
  background-position: -90px -279px;
}
div.radio.focus span.checked, div.radio:hover span.checked {
  background-position: -108px -279px;
}
div.radio.focus:active span.checked,
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
  background-position: -126px -279px;
}
div.radio.disabled span, div.radio.disabled:active span, div.radio.disabled.active span {
  background-position: -144px -279px;
}
div.radio.disabled span.checked, div.radio.disabled:active span.checked, div.radio.disabled.active span.checked {
  background-position: -162px -279px;
}
/* Uploader */
div.uploader {
  height: 28px;
}
div.uploader span.action {
  background-position: right -409px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}
div.uploader span.filename {
  height: 24px;
  background-position: 0px -299px;
  cursor: pointer;
  /* change this line to adjust positioning of filename area */

  margin: 2px 0px 2px 2px;
  line-height: 24px;
}
div.uploader.focus, div.uploader.hover, div.uploader:hover {
  background-position: 0px -353px;
}
div.uploader.focus span.action, div.uploader.hover span.action, div.uploader:hover span.action {
  background-position: right -437px;
}
div.uploader.active span.action, div.uploader:active span.action {
  background-position: right -465px;
}
div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -493px;
}
div.uploader.disabled {
  background-position: 0px -325px;
}
div.uploader.disabled span.action {
  background-position: right -381px;
}
div.button {
  background-position: 0px -523px;
}
div.button span {
  background-position: right -643px;
}
div.button.focus,
div.button:focus,
div.button:hover,
div.button.hover {
  background-position: 0px -553px;
}
div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span {
  background-position: right -673px;
}
div.button.active, div.button:active {
  background-position: 0px -583px;
}
div.button.active span, div.button:active span {
  background-position: right -703px;
  color: #333333;
}
div.button.disabled, div.button:disabled {
  background-position: 0px -613px;
}
div.button.disabled span, div.button:disabled span {
  background-position: right -733px;
  color: #222222;
  cursor: default;
}
/* PRESENTATION */
/* Button */
div.button {
  height: 30px;
}
div.button span {
  margin-left: 13px;
  height: 22px;
  padding-top: 8px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 2px;
  padding-right: 15px;
}
/* Select */
div.selector {
  width: 190px;
  font-size: 13px;
}
div.selector select {
  min-width: 190px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
}
div.selector span {
  padding: 0px 25px 0px 2px;
  cursor: pointer;
}
div.selector span {
  color: #333333;
  width: 158px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
}
div.selector.disabled span {
  color: #bbb;
}
/* Checker */
div.checker {
  margin-right: 5px;
}
/* Radio */
div.radio {
  margin-right: 3px;
}
/* Uploader */
div.uploader {
  width: 190px;
  cursor: pointer;
}
div.uploader span.action {
  width: 85px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
  color: #3d3d3d;
  font-size: 11px;
  font-weight: bold;
}
div.uploader span.filename {
  color: #3d3d3d;
  width: 82px;
  font-size: 11px;
}
div.uploader input {
  width: 190px;
}
div.uploader.disabled span.action {
  color: #aaa;
}
div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/
.selector,
.checker,
.button,
.radio,
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}
.selector select:focus,
.radio input:focus,
.checker input:focus,
.uploader input:focus {
  outline: 0;
}
/* Button */
div.button a, div.button button, div.button input {
  position: absolute;
}
div.button {
  cursor: pointer;
  position: relative;
}
div.button span {
  display: -moz-inline-box;
  display: inline-block;
  line-height: 1;
  text-align: center;
}
/* Select */
div.selector {
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}
div.selector span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.selector select {
  position: absolute;
  opacity: 0;
  height: 25px;
  border: none;
  background: none;
}
/* Checker */
div.checker {
  position: relative;
}
div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}
div.checker input {
  opacity: 0;
  display: inline-block;
  background: none;
}
/* Radio */
div.radio {
  position: relative;
}
div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}
div.radio input {
  opacity: 0;
  text-align: center;
  display: inline-block;
  background: none;
}
/* Uploader */
div.uploader {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
div.uploader span.action {
  float: left;
  display: inline;
  padding: 2px 0px;
  overflow: hidden;
  cursor: pointer;
}
div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}
div.uploader input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
  height: 25px;
  border: none;
  cursor: pointer;
}
/* ----------------------------------------------
   HTML ELEMENTS
------------------------------------------------- */
body {
  font-family: Museo- 500, Helvetica, Verdana, Sans-serif;
  font-size: 13px;
  line-height: 1.25em;
  color: #b8b8b8;
  background: #4d4d4d url('/static/images/background-tile.png');
  border-top: 5px solid #3092cf;
  text-align: left;
}
hr {
  color: #222222;
  background-color: #222222;
}
/* links */
a, a:visited {
  text-decoration: none;
  color: #cc4b2e;
}
a:hover {
  color: #f55a37;
}
a.danger, a:visited.danger {
  color: #c70000;
}
a:hover.danger {
  color: #ef0000;
}
/* headers */
h1,
h2,
h3,
h4 {
  font-family: Museo- 500, Georgia, Times New Roman, serif;
  font-weight: bold;
  color: #fcfcfc;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
}
h1 {
  font-size: 2em;
  margin: 20px 10px 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #666666;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid #666666;
}
h3 {
  font-size: 1.4em;
  margin: 20px 0 10px 0;
}
h4 {
  font-size: 1em;
  margin: 10px 0 8px 0;
}
/* Lists */
ul, ol {
  margin: 10px 20px;
  padding: 0 20px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
dt {
  font-weight: bold;
  color: #fcfcfc;
}
dd {
  padding-left: 20px;
}
p, dl {
  margin: 10px 20px;
}
/* images */
img {
  border: none;
}
img.float-right {
  margin: 5px 0px 10px 10px;
}
img.float-left {
  margin: 5px 10px 10px 0px;
}
code {
  margin: 3px 0;
  padding: 20px;
  text-align: left;
  display: block;
  overflow: auto;
  font-family: 'Lucida Console', 'Courier New', Monospace;
  /* white-space: pre; */

  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  background-color: #130d0a;
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #555;
}
blockquote {
  margin: 10px 20px;
  padding: 15px 15px 15px 32px;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  background: #130d0a url(../images/quote.gif) no-repeat 12px 12px;
  font-weight: normal;
  line-height: 1.5em;
  font-style: italic;
}
strong {
  color: #fcfcfc;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
}
/* form elements */
form p {
  margin: 0;
  padding: 2px 5px;
}
form p.hint {
  font-style: italic;
  width: 70%;
  margin-left: 160px;
}
form span.helptext {
  font-style: italic;
  width: 70%;
  margin-left: 160px;
  font-size: small;
}
form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form ul li {
  display: inline;
  margin-right: 15px;
}
form label {
  color: #fcfcfc;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
  font-size: 13px;
  width: 150px;
}
form input, form select, form textarea {
  font-size: 13px;
  margin: 2px 0;
  padding: 8px 4px;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  background-color: #333333;
  color: #c9c9c9;
  width: 70%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
form input:focus, form select:focus, form textarea:focus {
  border-color: #292929;
  background-color: #3d3d3d;
  color: #fcfcfc;
}
.button, .button:visited {
  font-size: 13px;
  color: #b8b8b8;
  border: 1px solid #cc4b2e;
  border-top: 1px solid #ff6c42;
  background: #cc4b2e;
  background: -webkit-gradient(linear, left top, left bottom, from(#f55a37), to(#cc4b2e));
  background: -moz-linear-gradient(top, #f55a37, #cc4b2e);
  color: #fcfcfc;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
  text-align: center;
  vertical-align: middle;
  margin: 12px 0;
  padding: 4px 8px;
  cursor: pointer;
}
.button :hover {
  border-top-color: #ff8753;
  background: #f55a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6c42), to(#cc4b2e));
  background: -moz-linear-gradient(top, #ff6c42, #cc4b2e);
  color: #ffffff;
}
.button :active {
  border-color: #f55a37;
  border-top-color: #aa3f26;
  background: #f55a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc4b2e), to(#f55a37));
  background: -moz-linear-gradient(top, #cc4b2e, #cc4b2e);
  color: #fcfcfc;
}
.dangerous-button {
  border: 1px solid #c70000;
  border-top: 1px solid #ef0000;
  background: #c70000;
  background: -webkit-gradient(linear, left top, left bottom, from(#ef0000), to(#c70000));
  background: -moz-linear-gradient(top, #ef0000, #c70000);
  color: #fcfcfc;
}
.dangerous-button :hover {
  border-top-color: #ff0000;
  background: #ef0000;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#c70000));
  background: -moz-linear-gradient(top, #ff0000, #c70000);
  color: #ffffff;
}
.dangerous-button :active {
  border-color: #c70000;
  border-bottom-color: #ef0000;
  background: #a60000;
  background: -webkit-gradient(linear, left top, left bottom, from(#c70000), to(#a60000));
  background: -moz-linear-gradient(top, #c70000, #a60000);
  color: #ffffff;
}
/* ------------------------------------------
   LAYOUT
------------------------------------------- */
#wrap {
  position: relative;
  width: 960px;
  min-height: 100%;
  height: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 62px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 62px 6px;
  box-shadow: rgba(0, 0, 0, 0.9) 0 62px 6px;
  padding-top: 30px;
  margin: 0 auto;
}
#header {
  margin: 0 auto;
  height: 220px;
  background: transparent url('/static/images/header-bg.png');
  /*  navigation  */

}
#header #title {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 138px;
  left: 12px;
  text-align: center;
  overflow: visible;
  width: 184px;
}
#header #title h1 {
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 4px;
  border: none;
}
#header #title h1 a {
  font-size: 1.5em;
  text-decoration: none;
  color: #3092cf;
}
#header #title h4 {
  margin-top: 4px;
  color: #3092cf;
}
#header #ad {
  position: absolute;
  top: 138px;
  right: 4px;
}
#header #nav-container {
  padding: 16px 0;
}
#header #nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
}
#header #nav ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
#header #nav ul li {
  float: left;
  margin: 0;
  padding: 0;
}
#header #nav ul li a, #header #nav ul li a:visited {
  float: left;
  margin: 0;
  padding: 47px 0 8px;
  width: 80px;
  text-align: center;
  text-transform: lowercase;
}
#header #nav ul li a:hover, #header #nav ul li a:active {
  background: url('/static/images/header-hover-bg.png') no-repeat;
}
#header #nav ul li#current > a {
  color: #fcfcfc;
}
#header #noscript {
  position: absolute;
  top: 4px;
  left: 0;
  width: 65%;
  padding: 4px 12px;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  color: #333333;
  background-color: #fafad2;
  font-size: 90%;
  font-weight: bold;
}
#header #noscript p {
  padding: 0;
  margin: 0;
}
#header #search {
  position: absolute;
  top: 12px;
  right: 0;
  padding: 0 4px;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  background-color: #2b2b2b;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#header #search p {
  margin: 0;
  padding: 0;
  border: none;
}
#header #search input {
  float: left;
  border: none;
  background: transparent;
  color: #5c5c5c;
}
#header #search .tbox {
  padding: 4px 0 0 4px;
  width: 200px;
  display: inline;
}
#header #search .btn {
  width: 16px;
  height: 16px;
  padding: 4px 8px;
}
#header #search label {
  display: none;
}
#header #user-nav {
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
}
#header #user-nav .icon {
  text-align: center;
  width: 16px;
}
#header #user-nav img {
  height: 26px;
  width: 16px;
}
#header #user-nav > ul {
  float: right;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: inline;
}
#header #user-nav > ul > li {
  padding: 0;
  position: relative;
  float: left;
  margin: 0;
  display: inline;
}
#header #user-nav > ul > li > a.icon, #header #user-nav > ul > li > a:visited.icon {
  float: left;
  margin: 0;
  padding: 37px 0 8px;
  text-align: center;
  text-transform: lowercase;
  width: 40px;
}
#header #user-nav > ul > li > a:hover.icon, #header #user-nav > ul > li > a:active.icon {
  background: url('/static/images/user-nav-hover-bg.png') no-repeat;
}
#header #user-nav > ul > li > a.active, #header #user-nav > ul > li > a:visited.active {
  background: url('/static/images/user-nav-active-bg.png') no-repeat;
}
#header #user-nav > ul > li.text {
  padding-top: 47px;
}
#header #user-nav > ul > li.text a,
#header #user-nav > ul > li.text a,
#header #user-nav > ul > li.text a:visited,
#header #user-nav > ul > li.text a:active {
  background: none;
  text-transform: lowercase;
  padding: 0 10px;
}
/* AutoSuggest CSS - Version 1.2 */
ul.as-selections {
  list-style-type: none;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  padding: 8px 4px;
  margin: 2px 0;
  width: 70%;
  overflow: auto;
  background-color: #333333;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
ul.as-selections li {
  float: left;
  margin: 1px 4px 1px 0;
}
ul.as-selections li.as-selection-item {
  border: 1px solid #b8b8b8;
  border-top: 1px solid #ffffff;
  background: #b8b8b8;
  background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#b8b8b8));
  background: -moz-linear-gradient(top, #dddddd, #b8b8b8);
  color: #333333;
  padding: 2px 7px 2px 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
ul.as-selections li.as-selection-item :last-child {
  margin-left: 4px;
}
ul.as-selections li.as-selection-item a.as-close, ul.as-selections li.as-selection-item a.as-edit {
  float: right;
  margin: 0;
  padding: 3px 0 0 0;
  cursor: pointer;
  color: #333333;
  font-weight: bold;
}
ul.as-selections li.as-selection-item a.as-close :hover, ul.as-selections li.as-selection-item a.as-edit :hover {
  color: #cc4b2e;
}
ul.as-selections li.as-selection-item a.as-edit {
  padding-left: 8px;
}
ul.as-selections li.as-original {
  margin-left: 0;
}
ul.as-selections li.as-original input {
  border: none;
  outline: none;
  width: 458px;
  height: 18px;
  padding-top: 3px;
  background-color: #333333;
}
input.as-input {
  background-color: #333333;
  font-size: 13px;
}
ul.as-list {
  position: absolute;
  list-style-type: none;
  margin: 2px 0 0 170px;
  padding: 8px 4px;
  z-index: 2;
  background: #b8b8b8;
  background: -moz-linear-gradient(top, #fcfcfc, #b8b8b8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b8b8b8));
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  color: #333333;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
li.as-result-item, li.as-message {
  margin: 0 0 0 0;
  padding: 4px 12px;
  background-color: transparent;
  cursor: pointer;
  display: block;
}
li.as-message {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
li:first-child.as-result-item {
  margin: 0;
}
li.as-result-item.active {
  color: #cc4b2e;
}
li.as-result-item em {
  font-style: normal;
  background: #b8b8b8;
  padding: 0 2px;
  color: #333333;
}
/* Webkit Hacks 
@media screen and (-webkit-min-device-pixel-ratio:0) {  
    ul.as-selections {
        border-top-width: 2px;
    }
    ul.as-selections li.as-selection-item {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    ul.as-selections li.as-selection-item a.as-close a.as-edit {
        margin-top: -1px;
    }
    ul.as-selections li.as-original input {
        height: 19px;
    }
}*/
/* Opera Hacks
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    ul.as-list {
        border: 1px solid #888;
    }
    ul.as-selections li.as-selection-item a.as-close a.as-edit {
        margin-left: 4px;
        margin-top: 0;
    }
}*/
/* IE Hacks  */
ul.as-list {
  border: 1px solid #222222;
}
ul.as-selections li.as-selection-item a.as-close a.as-edit {
  margin-left: 4px;
  margin-top: 0;
}
/* Firefox 3.0 Hacks */
ul.as-list, x:-moz-any-link, x:default {
  border: 1px solid #222222;
}
BODY:first-of-type ul.as-list, x:-moz-any-link, x:default {
  /* Target FF 3.5+ */

  border: none;
}
/* abpod block */
#abpod {
  clear: both;
  margin: 0;
  padding-bottom: 20px;
  width: 960px;
  background: url(../images/sep-bg.jpg) no-repeat center bottom;
}
#abpod-block {
  position: relative;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  background-color: #130d0a;
  width: 920px;
  margin-left: 10px;
  padding-bottom: 25px;
}
#abpod-ribbon {
  position: absolute;
  background: url(../images/abpod-ribbon.png) no-repeat;
  width: 99px;
  height: 98px;
  top: -1px;
  right: -2px;
  z-index: 999;
}
#abpod h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: -2px;
  color: #f0e8e8;
}
#abpod h2 a {
  color: #f0e8e8;
  border: none;
}
#abpod .image-block {
  float: left;
  width: 380px;
  margin: 20px 0 0 25px;
  padding: 10px 0 0 0;
  display: inline;
}
#abpod .image-block img {
  background-color: #1c130e;
  border: 1px solid #251a15;
  padding: 12px;
}
#abpod .text-block {
  float: right;
  width: 480px;
  margin: 15px 25px 0 0;
  display: inline;
}
#abpod a.more-link {
  float: left;
  margin-top: 25px;
  padding: 5px 10px;
  border: 1px solid #c96111;
  background: #e2721b url(../images/button-bg.png) repeat-x;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  display: block;
}
#abpod a.more-link:hover {
  border: 1px solid #2f4c13;
  background: #4a781d url(../images/button-hover-bg.png) repeat-x;
}
/* Content */
#content-wrap {
  clear: both;
  width: 100%;
  padding-bottom: 260px;
  background: #333333;
}
#content {
  float: left;
  width: 940px;
  padding: 20px 10px;
  display: inline;
}
.info-side-bar {
  float: left;
  text-align: right;
  margin-top: 10px;
  width: 120px;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  border-right: none;
  background-color: #2b2b2b;
}
.info-side-bar p {
  margin: 0;
  padding: 10px;
  line-height: 1.4em;
  text-align: left;
}
.info-side-bar ul {
  float: right;
  width: 120px;
  margin: 0;
  padding: 0;
}
.info-side-bar li {
  list-style: none;
  margin: 0;
  padding: 3px 10px;
  border-bottom: 1px solid #222222;
}
.info-side-bar li.current {
  background-color: #cc4b2e;
}
.info-side-bar li.current a {
  color: #2b2b2b;
}
.info-side-bar li.last {
  border-bottom: none;
}
.sided-main-content {
  float: left;
  width: 740px;
  padding: 20px;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  background-color: #2b2b2b;
  min-height: 135px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  margin-bottom: 40px;
}
.sided-main-content label {
  float: left;
  text-align: right;
  padding: 11px 10px 0 0;
}
.sided-main-content .submit-button {
  margin-left: 160px;
  width: 200px;
}
.sided-main-content .lone-button {
  margin: 0 auto;
  width: 200px;
}
.sided-main-content .inline-button {
  width: auto;
  margin: 0;
}
.sided-main-content .fieldless {
  text-align: center;
}
.sided-main-content .fieldless .button {
  left: 0;
}
.sided-main-content-popup {
  width: 240px;
}
.sided-main-content-popup input, .sided-main-content-popup textarea {
  width: 220px;
}
.sided-main-content-popup ul.as-selections {
  width: 100%;
}
.sided-main-content-popup ul.as-selections li.as-original input {
  width: 220px;
}
.sided-main-content-popup ul.as-list {
  margin-left: 0;
}
.sided-main-content-popup .submit-button {
  margin-left: 6px;
  width: 100px;
}
.small-box {
  margin: 20px auto 20px;
  padding: 10px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background-color: #4d4d4d;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  width: 50%;
  margin-top: 28px;
}
.small-box .single-form {
  text-align: center;
}
.full-box {
  width: 880px;
  padding: 28px;
  margin: 12px 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #4d4d4d;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
}
.full-box label {
  float: left;
  text-align: right;
  padding: 11px 10px 0 0;
}
.full-box .submit-button {
  margin-left: 160px;
  width: 200px;
}
.full-box .lone-button {
  margin: 0 auto;
  width: 200px;
}
.full-box .inline-button {
  width: auto;
  margin: 0;
}
.full-box .fieldless {
  text-align: center;
}
.full-box .fieldless .button {
  left: 0;
}
.tools-box {
  width: 880px;
  padding: 28px;
  margin: 12px 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #4d4d4d;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
}
.tools-box label {
  float: left;
  text-align: right;
  padding: 11px 10px 0 0;
}
.tools-box .submit-button {
  margin-left: 160px;
  width: 200px;
}
.tools-box .lone-button {
  margin: 0 auto;
  width: 200px;
}
.tools-box .inline-button {
  width: auto;
  margin: 0;
}
.tools-box .fieldless {
  text-align: center;
}
.tools-box .fieldless .button {
  left: 0;
}
.tools-box ul {
  list-style: none;
  display: inline;
}
.tools-box li {
  padding: 0 12px;
  float: left;
}
.tools-box a {
  padding: 4px 0;
  display: block;
}
#image-detail #main-content {
  float: left;
  width: 722px;
}
#image-detail #side-pane {
  width: 204px;
  float: right;
}
#image-detail ul.bar {
  list-style: none;
  margin: 0 0 28px 0;
  padding: 0;
}
#image-detail ul.bar > li {
  float: left;
}
#image-detail ul.bar > li.rating {
  padding-top: 4px;
  text-align: right;
  float: right;
}
#image-detail ul.topnav {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #cc4b2e;
  border-top: 1px solid #ff6c42;
  background: #cc4b2e;
  background: -webkit-gradient(linear, left top, left bottom, from(#f55a37), to(#cc4b2e));
  background: -moz-linear-gradient(top, #f55a37, #cc4b2e);
  color: #fcfcfc;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: block;
  height: 24px;
}
#image-detail ul.topnav > li {
  display: inline-block;
  padding: 2px 10px;
  margin: 0;
  float: left;
  position: relative;
}
#image-detail ul.topnav > li > span > a {
  color: #fcfcfc;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
}
#image-detail ul.topnav > li > span > a :hover {
  color: #ffffff;
}
#image-detail ul.topnav > li.subhover {
  cursor: pointer;
}
#image-detail ul.topnav > li:hover {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border-top-color: #ff8753;
  background: #f55a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6c42), to(#cc4b2e));
  background: -moz-linear-gradient(top, #ff6c42, #cc4b2e);
  color: #ffffff;
}
#image-detail .main-image-data {
  margin: 10px 0;
}
#image-detail .main-image-data p {
  margin: 4px 0 0 0;
}
#image-detail .main-image-data ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#image-detail .main-image-data ul li {
  display: inline;
}
#image-detail .main-image-data ul h2 {
  font-size: 2em;
  margin: 0;
  border: 0;
  display: inline;
}
#image-detail .main-image-data ul li.title {
  margin-right: 15px;
  font-family: Museo- 500, Georgia, Times New Roman, serif;
  font-weight: bold;
  line-height: 1.1em;
  color: #fcfcfc;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
  font-size: 2em;
}
#image-detail .main-image-data ul li.contains {
  float: right;
  text-align: right;
}
#image-detail #main-image {
  text-align: center;
}
#image-detail #main-image img {
  cursor: -moz-zoom-in;
  border: 1px solid #2b2b2b;
}
#image-detail p#description {
  margin: 0;
}
#image-detail #revisions .image-strip {
  width: 696px;
}
.sub {
  color: #333333;
  visibility: hidden;
  position: absolute;
  margin: 0;
  padding: 8px;
  overflow: visible;
  background: url('/static/images/popup-bg.png');
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  z-index: 9999;
  text-shadow: white 0 1px 0;
  left: 0px;
  top: 20px;
}
.sub strong {
  color: #2b2b2b;
  font-weight: bold;
}
.sub li.footer {
  margin-top: 4px;
  text-align: center;
  border: 1px solid #999999;
  background: url('/static/images/popup-footer-bg.png');
}
.sub a {
  padding: 4px 0 4px 8px;
  margin-left: -4px;
  display: block;
}
.sub li {
  text-align: left;
}
.sub li a {
  padding: 4px;
  color: #333333;
}
.sub li a:hover {
  color: #cc4b2e;
}
.sub li a.danger {
  color: #c70000;
}
.sub li a.danger :hover {
  color: #ef0000;
}
.sub li > img {
  padding-top: 4px;
}
.sub li.bg-icon a {
  padding-left: 16px;
}
.popup {
  color: #333333;
  visibility: hidden;
  position: absolute;
  margin: 0;
  padding: 8px;
  overflow: visible;
  background: url('/static/images/popup-bg.png');
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  z-index: 9999;
  text-shadow: white 0 1px 0;
  -moz-border-radius: 6px 0 6px 6px;
  -webkit-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
  right: 0;
  top: 69px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px;
}
.popup strong {
  color: #2b2b2b;
  font-weight: bold;
}
.popup li.footer {
  margin-top: 4px;
  text-align: center;
  border: 1px solid #999999;
  background: url('/static/images/popup-footer-bg.png');
}
.popup a {
  padding: 4px 0 4px 8px;
  margin-left: -4px;
  display: block;
}
.popup ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.popup li.unread {
  background: url('/static/images/popup-unread-bg.png');
  border-left: 1px solid #fcfcfc;
}
.popup li {
  border-bottom: 1px dotted #cccccc;
}
.popup li :hover {
  background: url('/static/images/popup-li-bg.png');
}
.popup li.last {
  border-bottom: none;
}
.popup a {
  color: #333333;
}
.popup a :hover {
  color: #cc4b2e;
  border: none;
}
li:hover > .sub, .sub:hover {
  visibility: visible;
}
#notifications-popup, #messages-popup, #requests-popup {
  width: 250px;
}
#profile-popup, #profile-popup li a {
  width: 125px;
}
ul.subnav {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
ul.subnav li.copy-box {
  margin: 8px 0;
}
ul.subnav li.separator {
  height: 0;
  margin: 8px 0;
  padding: 0;
  width: 100%;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #fcfcfc;
}
.small-icon {
  width: 16px;
}
span.copy-box {
  display: inline;
  padding: 6px;
  margin-left: 6px;
  color: #b8b8b8;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  background-color: #2b2b2b;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#technical-card {
  margin: 0 auto 25px auto;
  padding: 8px 10px;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  overflow: auto;
  background-color: #4d4d4d;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#technical-card .gear, #technical-card .acquisition {
  float: left;
  width: 48%;
  display: inline-block;
}
#technical-card .gear {
  border-right: 1px solid #5c5c5c;
  margin-right: 20px;
}
#technical-card .acquisition {
  padding-left: 5px;
}
#technical-card .acquisition img {
  border: 1px solid #333333;
}
#technical-card p {
  margin: 2px 0;
  font-size: 15px;
}
#technical-card hr {
  border: 0;
  color: #5c5c5c;
  background-color: #5c5c5c;
}
/* footer */
#footer {
  position: absolute;
  bottom: -62px;
  height: 260px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  text-align: center;
  background: #222222 url('/static/images/footer-bg.png');
  color: #7b7b7b;
}
#footer-outer {
  clear: both;
  margin: 0 auto;
  width: 960px;
  font-size: .9em;
  text-align: left;
}
#footer-wrap {
  float: left;
  padding-top: 20px;
  display: inline;
}
#footer-wrap h3 {
  margin-left: 20px;
  font-size: 1.6em;
  font-weight: bold;
  color: #7b7b7b;
}
#footer-wrap .col-a {
  width: 225px;
  float: left;
  display: inline;
}
#footer-wrap .col-b {
  width: 225px;
  float: right;
  display: inline;
}
/* footer-bottom */
#footer-bottom {
  float: left;
  width: 100%;
  margin: 28px auto 16px auto;
}
#footer-bottom .bottom-left {
  float: left;
}
#footer-bottom .bottom-right {
  text-align: right;
  padding-right: 0;
}
#footer-bottom a.back-to-top {
  padding-right: 20px;
}
/* JQueryy UI */
.ui-corner-all {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.ui-widget-content {
  border: 1px solid #b8b8b8;
  border-top: 1px solid #ffffff;
  background: #b8b8b8;
  background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#b8b8b8));
  background: -moz-linear-gradient(top, #dddddd, #b8b8b8);
  color: #333333;
}
.ui-widget-header {
  border: 1px solid #cc4b2e;
  border-top: 1px solid #ff6c42;
  background: #cc4b2e;
  background: -webkit-gradient(linear, left top, left bottom, from(#f55a37), to(#cc4b2e));
  background: -moz-linear-gradient(top, #f55a37, #cc4b2e);
  color: #fcfcfc;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus {
  color: #cc4b2e;
  border-color: #f55a37;
}
img.flickr-photo-to-import {
  border: 1px solid #111;
  margin: 1px;
}
img.flickr-photo-to-import-selected {
  border: 1px solid #eee;
  margin: 1px;
}
ul.select-links {
  margin: 0 0 0 2px;
  padding: 0;
}
ul.select-links li {
  display: inline;
  list-style: none;
  margin-right: 10px;
}
ul.select-links li a {
  text-decoration: underline;
}
p#flickr_progress_message, p#flickr_progress {
  text-align: center;
}
#file-uploader {
  text-align: center;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  padding-top: 20px;
}
#file-uploader-wrap {
  text-align: center;
  padding: 20px;
  min-height: 200px;
}
#file-uploader-wrap p {
  margin: 0;
  padding: 0;
  color: #897876;
}
form ul.errorlist {
  margin-left: 170px;
}
ul.inline {
  margin: 0;
  padding: 0;
  clear: both;
}
ul.inline li {
  display: inline-block;
  margin-right: 0;
  list-style: none;
}
input.inline, select.inline {
  width: 0;
  margin-right: 10px;
  width: 190px;
}
select.inline {
  width: 200px;
}
ul.inline input.frame {
  width: 32px;
  margin-right: 0;
}
ul.inline label.notfirst {
  margin: 0;
  width: auto;
}
input.date {
  width: 80px;
  margin-right: 20px;
}
.image-strip {
  background-color: #4d4d4d;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  list-style: none;
  margin: 6px 0;
  padding: 12px;
}
.ic_caption a {
  color: black;
}
.ic_caption a :hover {
  color: #cc4b2e;
}
.sort {
  margin-bottom: 5px;
}
.thumbnail-list {
  padding: 0 10px;
}
table.messages, table.requests {
  width: 100%;
}
table.messages td, table.requests td {
  padding: 4px 12px;
}
table.messages td, table.requests td {
  padding: 4px 12px;
}
table.messages td a, table.requests td a {
  padding: 0;
  display: inline;
}
table.messages td a :hover, table.requests td a :hover {
  background-color: #404040;
}
th {
  color: #fcfcfc;
  font-weight: bold;
  padding: 4px 12px;
  border: 1px solid #222222;
  background-color: #404040;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
}
td {
  padding: 4px 8px;
  border: 1px dotted #404040;
  background-color: #333333;
}
.message p.body {
  padding: 12px 16px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #222222;
  background-color: #404040;
}
#message-reply {
  margin: 10px 20px;
}
p.info {
  text-align: left;
  color: #333333;
  margin: 0;
  padding: 30px 10px;
  border: 1px solid #222222;
  border-bottom: 1px solid #666666;
  background-color: #FFFFD0;
}
.simple-choice {
  margin-left: 20px;
}
#feedback {
  position: fixed;
  right: -35px;
  top: 50%;
  padding: 8px 12px;
  margin: 8px 12px;
  height: 16px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 15.6px;
  color: #b8b8b8;
  border: 1px solid #222222;
  background: #333333;
  writing-mode: bt-rl;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  white-space: nowrap;
  display: block;
  bottom: 0;
  font-weight: normal;
  text-shadow: 0px 0px 1px #333333;
}
form#advanced_search {
  display: none;
}
form#upload input {
  width: auto;
}
p.error {
  color: red;
  font-weight: bold;
}
