@font-face {
  font-family: 'astrobin_sans';
  src: url('/static/fonts/Vegur-R_0600.otf');
}
@font-face {
  font-family: 'astrobin_sans_strong';
  src: url('/static/fonts/Vegur-B_0600.otf');
}
@font-face {
  font-family: 'Sling';
  src: url('/static/fonts/Sling.ttf');
}
.button-gradient {
  border: 1px solid #cc4b2e;
  border-top: 1px solid #ff6c42;
  background: #cc4b2e;
  background: -webkit-gradient(linear, left top, left bottom, from(#f45a37), to(#cc4b2e));
  background: -moz-linear-gradient(top, #f45a37, #cc4b2e);
  color: #fcfcf0;
}
.button-gradient-hilighted {
  border-top-color: #ff7d4d;
  background: #f45a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6c42), to(#cc4b2e));
  background: -moz-linear-gradient(top, #ff6c42, #cc4b2e);
  color: #ffffff;
}
.button-gradient-active {
  border-color: #f45a37;
  border-top-color: #aa3e26;
  background: #f45a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc4b2e), to(#f45a37));
  background: -moz-linear-gradient(top, #cc4b2e, #cc4b2e);
  color: #fcfcf0;
}
.button-gradient-inverted {
  border: 1px solid #b8b8ac;
  border-top: 1px solid #fffff7;
  background: #b8b8ac;
  background: -webkit-gradient(linear, left top, left bottom, from(#dcdcce), to(#b8b8ac));
  background: -moz-linear-gradient(top, #dcdcce, #b8b8ac);
  color: #1d140f;
}
.button-gradient-inverted-hilighted {
  border-color: #b8b8ac;
  border-top-color: #ffffff;
  background: #dcdcce;
  background: -webkit-gradient(linear, left top, left bottom, from(#fffff7), to(#b8b8ac));
  background: -moz-linear-gradient(top, #fffff7, #b8b8ac);
  color: #221812;
}
.danger-gradient {
  border: 1px solid #c70000;
  border-top: 1px solid #ee0000;
  background: #c70000;
  background: -webkit-gradient(linear, left top, left bottom, from(#ee0000), to(#c70000));
  background: -moz-linear-gradient(top, #ee0000, #c70000);
  color: #fcfcf0;
}
.danger-gradient-hilighted {
  border-top-color: #ff0000;
  background: #ee0000;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#c70000));
  background: -moz-linear-gradient(top, #ff0000, #c70000);
  color: #ffffff;
}
.danger-gradient-active {
  border-color: #c70000;
  border-bottom-color: #ee0000;
  background: #a50000;
  background: -webkit-gradient(linear, left top, left bottom, from(#c70000), to(#a50000));
  background: -moz-linear-gradient(top, #c70000, #a50000);
  color: #ffffff;
}
.box-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
.text-shadow { text-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px; }
.strong {
  font-family: astrobin_sans_strong;
  color: #fcfcf0;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
.hidden { display: none; }
.fix {
  clear: both;
  height: 1px;
  margin: -1px 0 0;
  overflow: hidden;
}
.clear { display: inline-block; }
.clear:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: " ";
}
div.selector {
  background-image: url(../images/uniform/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
div.selector span {
  background-image: url(../images/uniform/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
div.checker span {
  background-image: url(../images/uniform/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
div.radio span {
  background-image: url(../images/uniform/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
div.uploader span.filename {
  background-image: url(../images/uniform/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
div.uploader span.action {
  background-image: url(../images/uniform/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
div.button {
  background-image: url(../images/uniform/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
div.button span {
  background-image: url(../images/uniform/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
.selector, .radio, .checker, .uploader, .button {
  margin: 0;
  padding: 0;
}
.selector * {
  margin: 0;
  padding: 0;
}
.radio * {
  margin: 0;
  padding: 0;
}
.checker * {
  margin: 0;
  padding: 0;
}
.uploader * {
  margin: 0;
  padding: 0;
}
.button * {
  margin: 0;
  padding: 0;
}
input.text, input.email, input.password, textarea.uniform {
  font-size: 12px;
  font-weight: normal;
  padding: 3px;
  color: #1d140f;
  background: url('../images/uniform/bg-input-focus.png') repeat-x 0px 0px;
  background: url('../images/uniform/bg-input.png') repeat-x 0px 0px;
  border: solid 1px #221812;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
}
input.text:focus {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-color: #1d140f;
  background: url('../images/uniform/bg-input-focus.png') repeat-x 0px 0px;
}
input.email:focus {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-color: #1d140f;
  background: url('../images/uniform/bg-input-focus.png') repeat-x 0px 0px;
}
input.password:focus {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-color: #1d140f;
  background: url('../images/uniform/bg-input-focus.png') repeat-x 0px 0px;
}
textarea.uniform:focus {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-color: #1d140f;
  background: url('../images/uniform/bg-input-focus.png') repeat-x 0px 0px;
}
div.selector {
  background-position: -483px -130px;
  line-height: 26px;
  height: 26px;
}
div.selector span {
  background-position: right 0px;
  height: 26px;
  line-height: 26px;
}
div.selector select {
  top: 0px;
  left: 0px;
}
div.selector:active { background-position: -483px -156px; }
div.selector.active { background-position: -483px -156px; }
div.selector:active span { background-position: right -26px; }
div.selector.active span { background-position: right -26px; }
div.selector.focus, div.selector.hover { background-position: -483px -182px; }
div.selector:hover { background-position: -483px -182px; }
div.selector.focus span { background-position: right -52px; }
div.selector.hover span { background-position: right -52px; }
div.selector:hover span { background-position: right -52px; }
div.selector.focus:active { background-position: -483px -208px; }
div.selector.focus.active { background-position: -483px -208px; }
div.selector:hover:active { background-position: -483px -208px; }
div.selector.active:hover { background-position: -483px -208px; }
div.selector.focus:active span { background-position: right -78px; }
div.selector:hover:active span { background-position: right -78px; }
div.selector.active:hover span { background-position: right -78px; }
div.selector.focus.active span { background-position: right -78px; }
div.selector.disabled { background-position: -483px -234px; }
div.selector.disabled span { background-position: right -104px; }
div.checker {
  width: 19px;
  height: 19px;
}
div.checker input {
  width: 19px;
  height: 19px;
}
div.checker span {
  background-position: 0px -260px;
  height: 19px;
  width: 19px;
}
div.checker:active span { background-position: -19px -260px; }
div.checker.active span { background-position: -19px -260px; }
div.checker.focus span { background-position: -38px -260px; }
div.checker:hover span { background-position: -38px -260px; }
div.checker.focus:active span { background-position: -57px -260px; }
div.checker:active:hover span { background-position: -57px -260px; }
div.checker.active:hover span { background-position: -57px -260px; }
div.checker.focus.active span { background-position: -57px -260px; }
div.checker span.checked { background-position: -76px -260px; }
div.checker:active span.checked { background-position: -95px -260px; }
div.checker.active span.checked { background-position: -95px -260px; }
div.checker.focus span.checked { background-position: -114px -260px; }
div.checker:hover span.checked { background-position: -114px -260px; }
div.checker.focus:active span.checked { background-position: -133px -260px; }
div.checker:hover:active span.checked { background-position: -133px -260px; }
div.checker.active:hover span.checked { background-position: -133px -260px; }
div.checker.active.focus span.checked { background-position: -133px -260px; }
div.checker.disabled span { background-position: -152px -260px; }
div.checker.disabled:active span { background-position: -152px -260px; }
div.checker.disabled.active span { background-position: -152px -260px; }
div.checker.disabled span.checked { background-position: -171px -260px; }
div.checker.disabled:active span.checked { background-position: -171px -260px; }
div.checker.disabled.active span.checked { background-position: -171px -260px; }
div.radio {
  width: 18px;
  height: 18px;
}
div.radio input {
  width: 18px;
  height: 18px;
}
div.radio span {
  height: 18px;
  width: 18px;
  background-position: 0px -279px;
}
div.radio:active span { background-position: -18px -279px; }
div.radio.active span { background-position: -18px -279px; }
div.radio.focus span { background-position: -36px -279px; }
div.radio:hover span { background-position: -36px -279px; }
div.radio.focus:active span { background-position: -54px -279px; }
div.radio:active:hover span { background-position: -54px -279px; }
div.radio.active:hover span { background-position: -54px -279px; }
div.radio.active.focus span { background-position: -54px -279px; }
div.radio span.checked { background-position: -72px -279px; }
div.radio:active span.checked { background-position: -90px -279px; }
div.radio.active span.checked { background-position: -90px -279px; }
div.radio.focus span.checked { background-position: -108px -279px; }
div.radio:hover span.checked { background-position: -108px -279px; }
div.radio.focus:active span.checked { background-position: -126px -279px; }
div.radio:hover:active span.checked { background-position: -126px -279px; }
div.radio.focus.active span.checked { background-position: -126px -279px; }
div.radio.active:hover span.checked { background-position: -126px -279px; }
div.radio.disabled span { background-position: -144px -279px; }
div.radio.disabled:active span { background-position: -144px -279px; }
div.radio.disabled.active span { background-position: -144px -279px; }
div.radio.disabled span.checked { background-position: -162px -279px; }
div.radio.disabled:active span.checked { background-position: -162px -279px; }
div.radio.disabled.active span.checked { background-position: -162px -279px; }
div.uploader { height: 28px; }
div.uploader span.action {
  background-position: right -409px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}
div.uploader span.filename {
  height: 24px;
  background-position: 0px -299px;
  cursor: pointer;
  margin: 2px 0px 2px 2px;
  line-height: 24px;
}
div.uploader.focus, div.uploader.hover { background-position: 0px -353px; }
div.uploader:hover { background-position: 0px -353px; }
div.uploader.focus span.action { background-position: right -437px; }
div.uploader.hover span.action { background-position: right -437px; }
div.uploader:hover span.action { background-position: right -437px; }
div.uploader.active span.action { background-position: right -465px; }
div.uploader:active span.action { background-position: right -465px; }
div.uploader.focus.active span.action { background-position: right -493px; }
div.uploader:focus.active span.action { background-position: right -493px; }
div.uploader.focus:active span.action { background-position: right -493px; }
div.uploader:focus:active span.action { background-position: right -493px; }
div.uploader.disabled { background-position: 0px -325px; }
div.uploader.disabled span.action { background-position: right -381px; }
div.button { background-position: 0px -523px; }
div.button span { background-position: right -643px; }
div.button.focus { background-position: 0px -553px; }
div.button:focus { background-position: 0px -553px; }
div.button:hover { background-position: 0px -553px; }
div.button.hover { background-position: 0px -553px; }
div.button.focus span { background-position: right -673px; }
div.button:focus span { background-position: right -673px; }
div.button:hover span { background-position: right -673px; }
div.button.hover span { background-position: right -673px; }
div.button.active { background-position: 0px -583px; }
div.button:active { background-position: 0px -583px; }
div.button.active span {
  background-position: right -703px;
  color: #1d140f;
}
div.button:active span {
  background-position: right -703px;
  color: #1d140f;
}
div.button.disabled { background-position: 0px -613px; }
div.button:disabled { background-position: 0px -613px; }
div.button.disabled span {
  background-position: right -733px;
  color: #140e0a;
  cursor: default;
}
div.button:disabled span {
  background-position: right -733px;
  color: #140e0a;
  cursor: default;
}
div.button { height: 30px; }
div.button span {
  margin-left: 13px;
  height: 22px;
  padding-top: 8px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 2px;
  padding-right: 15px;
}
div.selector {
  width: 190px;
  font-size: 12px;
}
div.selector select {
  min-width: 190px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: solid 1px #221812;
}
div.selector span {
  padding: 0px 25px 0px 2px;
  cursor: pointer;
}
div.selector span {
  color: #1d140f;
  width: 158px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
div.selector.disabled span { color: #bbbbbb; }
div.checker { margin-right: 5px; }
div.radio { margin-right: 3px; }
div.uploader {
  width: 190px;
  cursor: pointer;
}
div.uploader span.action {
  width: 85px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  color: #221812;
  font-size: 11px;
  font-weight: bold;
}
div.uploader span.filename {
  color: #221812;
  width: 82px;
  border-right: solid 1px #bbbbbb;
  font-size: 11px;
}
div.uploader input { width: 190px; }
div.uploader.disabled span.action { color: #aaaaaa; }
div.uploader.disabled span.filename {
  border-color: #dddddd;
  color: #aaaaaa;
}
.selector, .checker, .button, .radio, .uploader {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}
.selector select:focus { outline: 0; }
.radio input:focus { outline: 0; }
.checker input:focus { outline: 0; }
.uploader input:focus { outline: 0; }
div.button a { position: absolute; }
div.button button { position: absolute; }
div.button input { position: absolute; }
div.button {
  cursor: pointer;
  position: relative;
}
div.button span {
  display: -moz-inline-box;
  display: inline-block;
  line-height: 1;
  text-align: center;
}
div.selector {
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}
div.selector span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.selector select {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity:0);
  height: 25px;
  border: none;
  background: none;
}
div.checker { position: relative; }
div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}
div.checker input {
  opacity: 0;
  filter: alpha(opacity:0);
  display: inline-block;
  background: none;
}
div.radio { position: relative; }
div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}
div.radio input {
  opacity: 0;
  filter: alpha(opacity:0);
  text-align: center;
  display: inline-block;
  background: none;
}
div.uploader {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
div.uploader span.action {
  float: left;
  display: inline;
  padding: 2px 0px;
  overflow: hidden;
  cursor: pointer;
}
div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}
div.uploader input {
  opacity: 0;
  filter: alpha(opacity:0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
  height: 25px;
  border: none;
  cursor: pointer;
}
body {
  font-family: astrobin_sans, Helvetica, Verdana, Sans-serif;
  font-size: 12px;
  line-height: 1.25em;
  color: #b8b8ac;
  background: #1d140f;
  border-top: 5px solid #258e92;
  text-align: left;
}
hr {
  color: #221812;
  background-color: #221812;
}
a:link {
  text-decoration: none;
  color: #cc4b2e;
}
a:visited {
  text-decoration: none;
  color: #cc4b2e;
}
a:hover { color: #f45a37; }
a.danger:link { color: #c70000; }
a.danger:visited { color: #c70000; }
a.danger:hover { color: #ee0000; }
h1, h2, h3, h4 {
  font-family: Sling, Georgia, Times New Roman, serif;
  font-weight: bold;
  color: #fcfcf0;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
h1 {
  font-size: 2em;
  margin: 20px 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #221812;
}
h2 {
  font-size: 1.5em;
  margin: 5px;
  padding-bottom: 8px;
  border-bottom: 1px solid #221812;
}
h3 {
  font-size: 1.4em;
  margin: 20px 0 10px 0;
}
h4 {
  font-size: 1.2em;
  margin: 10px 0 8px 0;
}
ul, ol {
  margin: 10px 20px;
  padding: 0 20px;
}
ul { list-style: disc; }
ol { list-style: decimal; }
dt {
  font-weight: bold;
  color: #fcfcf0;
}
dd { padding-left: 20px; }
p, dl { margin: 10px 20px; }
img { border: none; }
img.float-right { margin: 5px 0px 10px 10px; }
img.float-left { margin: 5px 10px 10px 0px; }
code {
  margin: 3px 0;
  padding: 20px;
  text-align: left;
  display: block;
  overflow: auto;
  font-family: 'Lucida Console', 'Courier New', Monospace;
  border: 1px solid #251a14;
  background-color: #130d0a;
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #555555;
}
blockquote {
  margin: 10px 20px;
  padding: 15px 15px 15px 32px;
  border: 1px solid #251a14;
  background: #130d0a url(../images/quote.gif) no-repeat 12px 12px;
  font-weight: normal;
  line-height: 1.5em;
  font-style: italic;
}
strong {
  font-family: astrobin_sans_strong;
  color: #fcfcf0;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
form {
  margin: 0;
  padding: 10px;
}
form p {
  margin: 0;
  padding: 2px 5px;
}
form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form ul li {
  display: inline;
  margin-right: 15px;
}
form label {
  font-family: astrobin_sans_strong;
  color: #fcfcf0;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  font-size: 15px;
  width: 150px;
}
form input {
  font-size: 12px;
  margin: 2px 0;
  padding: 8px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #221812;
  background-color: #1d140f;
  color: #c9c9bd;
  width: 70%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
form select {
  font-size: 12px;
  margin: 2px 0;
  padding: 8px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #221812;
  background-color: #1d140f;
  color: #c9c9bd;
  width: 70%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
form textarea {
  font-size: 12px;
  margin: 2px 0;
  padding: 8px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #221812;
  background-color: #1d140f;
  color: #c9c9bd;
  width: 70%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
form input:focus {
  border-color: #291c15;
  background-color: #221812;
  color: #fcfcf0;
}
form select:focus {
  border-color: #291c15;
  background-color: #221812;
  color: #fcfcf0;
}
form textarea:focus {
  border-color: #291c15;
  background-color: #221812;
  color: #fcfcf0;
}
.button {
  font-size: 12px;
  border: 1px solid #cc4b2e;
  border-top: 1px solid #ff6c42;
  background: #cc4b2e;
  background: -webkit-gradient(linear, left top, left bottom, from(#f45a37), to(#cc4b2e));
  background: -moz-linear-gradient(top, #f45a37, #cc4b2e);
  color: #fcfcf0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  text-align: center;
  vertical-align: middle;
  margin: 10px 0;
  padding: 4.5px 9px;
  cursor: pointer;
}
.button:hover {
  border-top-color: #ff7d4d;
  background: #f45a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6c42), to(#cc4b2e));
  background: -moz-linear-gradient(top, #ff6c42, #cc4b2e);
  color: #ffffff;
}
.button:active {
  border-color: #f45a37;
  border-top-color: #aa3e26;
  background: #f45a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc4b2e), to(#f45a37));
  background: -moz-linear-gradient(top, #cc4b2e, #cc4b2e);
  color: #fcfcf0;
}
.dangerous-button {
  border: 1px solid #c70000;
  border-top: 1px solid #ee0000;
  background: #c70000;
  background: -webkit-gradient(linear, left top, left bottom, from(#ee0000), to(#c70000));
  background: -moz-linear-gradient(top, #ee0000, #c70000);
  color: #fcfcf0;
}
.dangerous-button:hover {
  border-top-color: #ff0000;
  background: #ee0000;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#c70000));
  background: -moz-linear-gradient(top, #ff0000, #c70000);
  color: #ffffff;
}
.dangerous-button:active {
  border-color: #c70000;
  border-bottom-color: #ee0000;
  background: #a50000;
  background: -webkit-gradient(linear, left top, left bottom, from(#c70000), to(#a50000));
  background: -moz-linear-gradient(top, #c70000, #a50000);
  color: #ffffff;
}
.small-icon { padding: 0 4px; }
#wrap {
  width: 940px;
  margin: 0 auto;
}
#header {
  position: relative;
  margin: 0 auto;
  height: 159px;
  background: url(../images/header-bg.jpg) no-repeat center bottom;
}
#header #title {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 64px;
  left: 10px;
  text-align: center;
  overflow: visible;
  width: 220px;
}
#header #title h1 { font-size: 2.5em; }
#header #title h1 a {
  font-size: 1.5em;
  text-decoration: none;
  color: #258e92;
}
#header #title h4 {
  margin-top: 6px;
  color: #258e92;
}
#header #nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
}
#header #nav ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
#header #nav ul li {
  float: left;
  margin: 0;
  padding: 0 0 0 5px;
}
#header #nav ul li a:link {
  float: left;
  margin: 0;
  padding: 30px 15px 17px 11px;
  text-transform: lowercase;
}
#header #nav ul li a:visited {
  float: left;
  margin: 0;
  padding: 30px 15px 17px 11px;
  text-transform: lowercase;
}
#header #nav ul li a:hover {
  border: none;
  color: #f45a37;
}
#header #nav ul li a:active {
  border: none;
  color: #f45a37;
}
#header #nav ul li#current a { color: #fcfcf0; }
#header #user-nav {
  float: right;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#header #user-nav ul {
  float: right;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: inline;
}
#header #user-nav ul li {
  float: left;
  margin: 0;
  padding: 0 0 0 5px;
  display: inline;
}
#header #user-nav ul li a:link {
  float: left;
  margin: 0;
  padding: 30px 15px 17px 11px;
  text-transform: lowercase;
}
#header #user-nav ul li a:visited {
  float: left;
  margin: 0;
  padding: 30px 15px 17px 11px;
  text-transform: lowercase;
}
#header #user-nav ul li a:hover {
  border: none;
  color: #f45a37;
}
#header #user-nav ul li a:active {
  border: none;
  color: #f45a37;
}
#header #user-nav ul li#current a { color: #fcfcf0; }
#header form#quick-search {
  position: absolute;
  top: 19px;
  right: 280px;
  z-index: 999;
  padding: 0;
  margin: 0;
  border: #221812;
  width: 250px;
  height: 32px;
  background-color: #140e0a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#header form#quick-search p {
  margin: 0;
  padding: 0;
  border: none;
}
#header form#quick-search input {
  float: left;
  margin: 0;
  padding: 5px;
  border: none;
  background: transparent;
  color: #5c5c56;
}
#header form#quick-search .tbox {
  margin: 3px 0 0 5px;
  width: 200px;
  display: inline;
}
#header form#quick-search .btn {
  width: 16px;
  height: 16px;
  padding-top: 10px;
}
#header form#quick-search label { display: none; }
#abpod {
  clear: both;
  margin: 0;
  padding-bottom: 20px;
  width: 940px;
  background: url(../images/sep-bg.jpg) no-repeat center bottom;
}
#abpod-block {
  position: relative;
  border: 1px solid #251a14;
  background-color: #130d0a;
  width: 920px;
  margin-left: 10px;
  padding-bottom: 25px;
}
#abpod-ribbon {
  position: absolute;
  background: url(../images/abpod-ribbon.png) no-repeat;
  width: 99px;
  height: 98px;
  top: -1px;
  right: -2px;
  z-index: 999;
}
#abpod h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: -2px;
  color: #f0e8e8;
}
#abpod h2 a {
  color: #f0e8e8;
  border: none;
}
#abpod .image-block {
  float: left;
  width: 380px;
  margin: 20px 0 0 25px;
  padding: 10px 0 0 0;
  display: inline;
}
#abpod .image-block img {
  background-color: #1c130e;
  border: 1px solid #251a15;
  padding: 12px;
}
#abpod .text-block {
  float: right;
  width: 480px;
  margin: 15px 25px 0 0;
  display: inline;
}
#abpod a.more-link {
  float: left;
  margin-top: 25px;
  padding: 5px 10px;
  border: 1px solid #c96111;
  background: #e2721b url(../images/button-bg.png) repeat-x;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  color: #ffffff;
  display: block;
}
#abpod a.more-link:hover {
  border: 1px solid #2f4c13;
  background: #4a781d url(../images/button-hover-bg.png) repeat-x;
}
#content-wrap {
  clear: both;
  width: 940px;
  background: #1d140f url(../images/content-bg.jpg) no-repeat bottom center;
}
#content {
  float: left;
  width: 920px;
  padding: 20px 10px 40px 10px;
  display: inline;
  border-left: 1px solid #221812;
  border-right: 1px solid #221812;
}
.info-side-bar {
  float: left;
  text-align: right;
  margin-top: 10px;
  width: 120px;
  border: 1px solid #221812;
  border-right: none;
  background-color: #140e0a;
}
.info-side-bar p {
  margin: 0;
  padding: 10px;
  line-height: 1.4em;
  text-align: left;
}
.info-side-bar ul {
  float: right;
  width: 120px;
  margin: 0;
  padding: 0;
}
.info-side-bar li {
  list-style: none;
  margin: 0;
  padding: 3px 10px;
  border-bottom: 1px solid #221812;
}
.info-side-bar li.current { background-color: #cc4b2e; }
.info-side-bar li.current a { color: #140e0a; }
.info-side-bar li.last { border-bottom: none; }
.sided-main-content {
  float: left;
  width: 740px;
  padding: 20px;
  border: 1px solid #221812;
  background-color: #140e0a;
  min-height: 135px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  margin-bottom: 40px;
}
.sided-main-content label {
  float: left;
  text-align: right;
  padding: 11px 10px 0 0;
}
.sided-main-content .submit-button {
  margin-left: 160px;
  width: 200px;
}
.sided-main-content .lone-button {
  margin: 0 auto;
  width: 200px;
}
.sided-main-content .inline-button {
  width: auto;
  margin: 0;
}
.sided-main-content .fieldless { text-align: center; }
.sided-main-content .fieldless .button { left: 0; }
.small-box {
  margin: 20px auto 20px;
  padding: 10px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  background-color: #281c15;
  border: 1px solid #221812;
  width: 50%;
  margin-top: 30px;
}
.small-box .single-form { text-align: center; }
#image-detail #main-content {
  float: left;
  width: 722px;
}
#image-detail #side-pane {
  float: left;
  padding-left: 20px;
  width: 178px;
  text-align: center;
}
#image-detail ul.bar {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}
#image-detail ul.bar > li { float: left; }
#image-detail ul.bar > li.rating {
  padding-top: 4px;
  text-align: right;
  float: right;
}
#image-detail ul.topnav {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #cc4b2e;
  border-top: 1px solid #ff6c42;
  background: #cc4b2e;
  background: -webkit-gradient(linear, left top, left bottom, from(#f45a37), to(#cc4b2e));
  background: -moz-linear-gradient(top, #f45a37, #cc4b2e);
  color: #fcfcf0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
}
#image-detail ul.topnav:hover {
  border-top-color: #ff7d4d;
  background: #f45a37;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6c42), to(#cc4b2e));
  background: -moz-linear-gradient(top, #ff6c42, #cc4b2e);
  color: #ffffff;
}
#image-detail ul.topnav > li {
  display: inline-block;
  padding: 2px 10px;
  margin: 0;
  float: left;
  position: relative;
}
#image-detail ul.topnav > li ul.subnav {
  list-style: none;
  position: absolute;
  left: 0px;
  top: 28px;
  margin: 0;
  padding: 5px 5px 5px 16px;
  visibility: hidden;
  float: left;
  white-space: nowrap;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  border: 1px solid #b8b8ac;
  border-top: 1px solid #fffff7;
  background: #b8b8ac;
  background: -webkit-gradient(linear, left top, left bottom, from(#dcdcce), to(#b8b8ac));
  background: -moz-linear-gradient(top, #dcdcce, #b8b8ac);
  color: #1d140f;
}
#image-detail ul.topnav > li ul.subnav li {
  clear: both;
  display: inline-block;
  margin: 0;
  float: left;
}
#image-detail ul.topnav > li ul.subnav li a {
  float: left;
  padding: 4px 8px;
  color: #1d140f;
  text-shadow: none;
}
#image-detail ul.topnav > li ul.subnav li a:hover { color: #cc4b2e; }
#image-detail ul.topnav > li ul.subnav li a.danger { color: #c70000; }
#image-detail ul.topnav > li ul.subnav li a.danger:hover { color: #ee0000; }
#image-detail ul.topnav > li ul.subnav li img { padding-top: 4px; }
#image-detail ul.topnav > li ul.subnav li.separator {
  height: 0;
  margin: 7px 0;
  border-top: 1px solid #bbbbaf;
  border-bottom: 1px solid #fcfcf0;
}
#image-detail ul.topnav a {
  color: #fcfcf0;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
#image-detail ul.topnav a:hover { color: #ffffff; }
#image-detail ul.topnav > li.subhover { cursor: pointer; }
#image-detail .main-image-data { margin: 10px 0; }
#image-detail .main-image-data ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 45px;
}
#image-detail .main-image-data ul li {
  width: 224px;
  float: left;
  display: inline;
}
#image-detail .main-image-data ul h2 {
  font-size: 2em;
  margin: 0;
  border: 0;
  display: inline;
}
#image-detail .main-image-data ul li.title {
  font-family: Sling, Georgia, Times New Roman, serif;
  font-weight: bold;
  line-height: 1.1em;
  color: #fcfcf0;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  font-size: 2em;
}
#image-detail .main-image-data ul li.contains { text-align: right; }
#image-detail .main-image-data ul li.copy-box {
  margin: 0 20px;
  text-align: center;
}
#image-detail #main-image { text-align: center; }
#image-detail #main-image img {
  cursor: -moz-zoom-in;
  border: 1px solid #140e0a;
}
#image-detail #technical-card {
  margin: 0 auto;
  padding: 8px 10px;
  border: 1px solid #302119;
  overflow: auto;
  background-color: #281c15;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
#image-detail #technical-card .gear {
  float: left;
  width: 48%;
  display: inline-block;
}
#image-detail #technical-card .acquisition {
  float: left;
  width: 48%;
  display: inline-block;
}
#image-detail #technical-card .gear {
  border-right: 1px solid #302119;
  margin-right: 20px;
}
#image-detail #technical-card .acquisition {
  margin-top: -27px;
  padding-left: 5px;
}
#image-detail #technical-card .acquisition img { border: 1px solid #1d140f; }
#image-detail #technical-card p {
  margin: 2px 0;
  font-size: 14px;
}
#image-detail #technical-card hr {
  border: 0;
  color: #302119;
  background-color: #302119;
}
#image-detail p#description { margin: 0; }
.copy-box {
  display: inline;
  padding: 4px;
  font-size: 14px;
  border: #221812;
  background-color: #140e0a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
ul.as-selections {
  list-style-type: none;
  border: 1px solid #221812;
  padding: 8px 4px;
  margin: 2px 0;
  width: 70%;
  overflow: auto;
  background-color: #1d140f;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
ul.as-selections li {
  float: left;
  margin: 1px 4px 1px 0;
}
ul.as-selections li.as-selection-item {
  border: 1px solid #b8b8ac;
  border-top: 1px solid #fffff7;
  background: #b8b8ac;
  background: -webkit-gradient(linear, left top, left bottom, from(#dcdcce), to(#b8b8ac));
  background: -moz-linear-gradient(top, #dcdcce, #b8b8ac);
  color: #1d140f;
  padding: 2px 7px 2px 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
ul.as-selections li.as-selection-item:last-child { margin-left: 30px; }
ul.as-selections li.as-selection-item a.as-close {
  float: right;
  margin: 0 0 0 7px;
  padding: 0 2px;
  cursor: pointer;
  color: #1d140f;
  font-weight: bold;
}
ul.as-selections li.as-selection-item a.as-close:hover { color: #cc4b2e; }
ul.as-selections li.as-original { margin-left: 0; }
ul.as-selections li.as-original input {
  border: none;
  outline: none;
  width: 458px;
  height: 18px;
  padding-top: 3px;
  background-color: #1d140f;
}
input.as-input {
  background-color: #1d140f;
  font-size: 12px;
}
ul.as-list {
  position: absolute;
  list-style-type: none;
  margin: 2px 0 0 170px;
  padding: 8px 4px;
  z-index: 2;
  background: #b8b8ac;
  background: -moz-linear-gradient(top, #fcfcf0, #b8b8ac);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcf0), to(#b8b8ac));
  border: 1px solid #221812;
  color: #1d140f;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 6px;
}
li.as-result-item, li.as-message {
  margin: 0 0 0 0;
  padding: 4px 12px;
  background-color: transparent;
  cursor: pointer;
  display: block;
}
li.as-message {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
li:first-child.as-result-item { margin: 0; }
li.as-result-item.active { color: #cc4b2e; }
li.as-result-item em {
  font-style: normal;
  background: #b8b8ac;
  padding: 0 2px;
  color: #1d140f;
}
ul.as-list { border: 1px solid #221812; }
ul.as-selections li.as-selection-item a.as-close {
  margin-left: 4px;
  margin-top: 0;
}
ul.as-list { border: 1px solid #221812; }
x:-moz-any-link { border: 1px solid #221812; }
x:default { border: 1px solid #221812; }
BODY:first-of-type ul.as-list { border: none; }
x:-moz-any-link { border: none; }
x:default { border: none; }
#footer {
  float: left;
  width: 100%;
  text-align: center;
  background-color: #18100c;
  color: #83837a;
}
#footer-outer {
  clear: both;
  width: 940px;
  margin: 0 auto;
  font-size: 0.9em;
  text-align: left;
}
#footer-wrap {
  float: left;
  width: 920px;
  margin-left: 10px;
  padding-top: 20px;
  display: inline;
}
#footer-wrap h3 {
  margin-left: 20px;
  font-size: 1.6em;
  font-weight: bold;
  color: #83837a;
}
#footer-wrap .col-a {
  width: 225px;
  float: left;
  display: inline;
}
#footer-wrap .col-b {
  width: 225px;
  float: right;
  display: inline;
}
#footer-bottom {
  float: left;
  width: 100%;
  margin: 30px auto 15px auto;
}
#footer-bottom .bottom-left { float: left; }
#footer-bottom .bottom-right {
  text-align: right;
  padding-right: 0;
}
#footer-bottom a.back-to-top { padding-right: 20px; }
.ui-corner-all {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.ui-widget-content {
  border: 1px solid #b8b8ac;
  border-top: 1px solid #fffff7;
  background: #b8b8ac;
  background: -webkit-gradient(linear, left top, left bottom, from(#dcdcce), to(#b8b8ac));
  background: -moz-linear-gradient(top, #dcdcce, #b8b8ac);
  color: #1d140f;
}
.ui-widget-header {
  border: 1px solid #cc4b2e;
  border-top: 1px solid #ff6c42;
  background: #cc4b2e;
  background: -webkit-gradient(linear, left top, left bottom, from(#f45a37), to(#cc4b2e));
  background: -moz-linear-gradient(top, #f45a37, #cc4b2e);
  color: #fcfcf0;
}
.ui-state-hover {
  color: #cc4b2e;
  border-color: #f45a37;
}
.ui-widget-content .ui-state-hover {
  color: #cc4b2e;
  border-color: #f45a37;
}
.ui-state-focus {
  color: #cc4b2e;
  border-color: #f45a37;
}
.ui-widget-content .ui-state-focus {
  color: #cc4b2e;
  border-color: #f45a37;
}
img.flickr-photo-to-import {
  border: 1px solid #111111;
  margin: 1px;
}
img.flickr-photo-to-import-selected {
  border: 1px solid #eeeeee;
  margin: 1px;
}
ul.select-links {
  margin: 0 0 0 2px;
  padding: 0;
}
ul.select-links li {
  display: inline;
  list-style: none;
  margin-right: 10px;
}
ul.select-links li a { text-decoration: underline; }
p#flickr_progress_message, p#flickr_progress { text-align: center; }
#file-uploader {
  text-align: center;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  padding-top: 20px;
}
#file-uploader-wrap {
  text-align: center;
  padding: 20px;
  min-height: 200px;
}
#file-uploader-wrap p {
  margin: 0;
  padding: 0;
  color: #897876;
}
form ul.errorlist { margin-left: 170px; }
ul.inline {
  margin: 0;
  padding: 0;
  clear: both;
}
ul.inline li {
  display: inline-block;
  margin-right: 0;
  list-style: none;
}
input.inline, select.inline {
  width: 0;
  margin-right: 10px;
  width: 190px;
}
select.inline { width: 200px; }
ul.inline input.frame {
  width: 32px;
  margin-right: 10px;
}
ul.inline label.notfirst {
  margin: 0;
  width: auto;
}
input.date {
  width: 80px;
  margin-right: 20px;
}
ul.image-strip {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ic_caption a { color: black; }
.ic_caption a:hover { color: #cc4b2e; }
