.ic_container{
    vertical-align:baseline;
    margin:0;
    position:relative;
}
.overlay{
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    opacity:0.3;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.ic_caption{
    position:absolute;    
    bottom: 4px;
    opacity:0.6;   
    overflow:hidden;
    margin:0px;
    padding:10px;
    cursor:default;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    border-radius: 0 0 24px 24px;
    -moz-border-radius: 0 0 24px 24px;
    -webkit-border-radius: 0 0 24px 24px;
}
.ic_category{
    text-transform:uppercase;
    font-size:11px;
    padding:5px;
    margin:0px;
}
.ic_caption h3{
    padding:0px 5px 5px 5px;
    margin:0px;
    font-size:18px;
    color: black;
}
.ic_text{
    padding:5px;
    margin:0px;
    font-size:11px;
}

