/**********************************************************************
 * BEGIN CSS RESET
 *********************************************************************/
html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
         font-size: 100%;
         vertical-align: baseline;
background: transparent;
    }
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
    q:before, q:after {
content: '';
content: none;
    }

/* remember to define focus styles! */
:focus {
outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**********************************************************************
 * END CSS RESET
 *********************************************************************/
body {
    background: #131716;
    font-family: Verdana, sans-serif;
}

#container {
    width: 1024px;
    margin: 0 auto;
    color: #bbb;
}

#header {
    background: url('/static/img/astrobin_header.jpg') no-repeat;
    height: 120px;
    text-align: right;
    padding: 10px 10px 10px 0;
}

#login {
    border: 1px solid #8ba7a8;
    padding: 5px 10px;
    background-color: #131716;
    float: right;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#tagline {
    float:left;
    position: absolute;
    top: 85px;
    margin-left: 20px;
}

a {
    color: #198cb9;
    text-decoration: none;
}

a:hover {
    color: white;
}

#menubar {
}

#menubar ul {
    display: inline;
}

#menubar ul li {
    list-style: none;
    display: inline;
    border-left: 1px solid #bbb;
    padding: 3px 15px;
}

#menubar ul li.first {
    border-left: none;
}


#content {
}

#footer {
    font-size: small;
    text-align: center;
}
