{% load i18n %}

<p>
    {% blocktrans trimmed %}
        You, or somebody on your behalf, attempted to log in to AstroBin and we detected that your password does not
        meet security requirements.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
        For your security, an additional confirmation token was sent in a separate email.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
        If this was a legitimate login attempt, please use the token to complete the process.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
        If you did not make this login attempt, please change your password and/or contact AstroBin immediately.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
        For your security, following this event, AstroBin has automatically enabled email-based two-factor
        authentication on your account. You can disable in your settings or using the link below.
    {% endblocktrans %}
</p>

<p>
    <a class="btn btn-primary" href="{{ base_url }}{% url 'two_factor:profile' %}">
        {% trans "Two-factor Authentication" %}
    </a>
</p>

<p>
    {% blocktrans trimmed %}
        We recommend that you change your password as soon as possible, for your security and the safety of the other
        members of the AstroBin community.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}Learn more about security standards on AstroBin:{% endblocktrans %}<br/>
    https://welcome.astrobin.com/faq#is-my-security-protected
</p>

<p>
    {% blocktrans trimmed %}Change your password:{% endblocktrans %}<br/>
    {{ base_url }}{% url 'password_change' %}
</p>

<p>
    {% blocktrans trimmed %}
        Wishing you clear skies and excellent seeing!
    {% endblocktrans %}
</p>

<p>
    AstroBin
</p>
