{% load i18n %}
{% load astrobin_apps_premium_tags %}

<script type="text/x-template" id="acquisition-months-filter-template">
    {% if valid_usersubscription|can_access_full_search %}
        <div class="form-group" :class="{highlighted: highlighted}">
            <v-multiselect v-model="value" :options="options" track-by="id" label="label" selectLabel=""
                           deselectLabel="" selectedLabel="" :searchable="true" :multiple="true"
                           placeholder="{% trans "Select" %}"
            ></v-multiselect>
            <span class="help-block">
                <p>
                    {% blocktrans trimmed %}
                        Results will include images that were acquired in any of the selected months.
                    {% endblocktrans %}
                </p>
            </span>
            <input type="hidden" name="acquisition_months" :value="getFormValue()">

            <div v-if="showMatchTypeSelect">
                <label for="acquisition_months_op">
                    {{ _('Match choices')|escapejs }}
                </label>
                <select id="acquisition_months_op" class="form-control" data-minimum-results-for-search="Infinity">
                    <option value="ANY">{{ _('Any')|escapejs }}</option>
                    <option value="ALL">{{ _('All')|escapejs }}</option>
                </select>
                <input type="hidden" name="acquisition_months_op" :value="selectedAcquisitionMonthsOp">
            </div>
        </div>
    {% else %}
        {% include "./_filter_requires_ultimate.html" %}
    {% endif %}
</script>

<script>
    Vue.component("acquisition-months-filter", {
        template: "#acquisition-months-filter-template",
        props: {
            acquisitionMonths: String,
            acquisitionMonthsOp: {
                type: String,
                default: 'ANY'
            }
        },
        mixins: [
            FilterComponentMixin
        ],
        data: function () {
            return {
                value: [],
                selectedAcquisitionMonthsOp: this.acquisitionMonthsOp,
                options: [
                    {id: "Jan", label: "{{ _('January')|escapejs }}"},
                    {id: "Feb", label: "{{ _('February')|escapejs }}"},
                    {id: "Mar", label: "{{ _('March')|escapejs }}"},
                    {id: "Apr", label: "{{ _('April')|escapejs }}"},
                    {id: "May", label: "{{ _('May')|escapejs }}"},
                    {id: "Jun", label: "{{ _('June')|escapejs }}"},
                    {id: "Jul", label: "{{ _('July')|escapejs }}"},
                    {id: "Aug", label: "{{ _('August')|escapejs }}"},
                    {id: "Sep", label: "{{ _('September')|escapejs }}"},
                    {id: "Oct", label: "{{ _('October')|escapejs }}"},
                    {id: "Nov", label: "{{ _('November')|escapejs }}"},
                    {id: "Dec", label: "{{ _('December')|escapejs }}"},
                ]
            };
        },
        created: function () {
            if (this.acquisitionMonths) {
                const months = this.acquisitionMonths.split(',');

                for (let i = 0; i < this.options.length; i++) {
                    if (months.indexOf(this.options[i].id) > -1) {
                        this.value.push(this.options[i]);
                    }
                }
            }
        },
        mounted: function() {
            this.initMatchTypeSelect("#acquisition_months_op", "acquisitionMonthsOp", "selectedAcquisitionMonthsOp");
        },
        watch: {
            value: function (newVal) {
                const formValue = this.getFormValue();
                this.$emit('update:acquisitionMonths', formValue);
                this.updateHiddenInput('acquisition_months', formValue);
            },
            selectedAcquisitionMonthsOp: function (newVal) {
                this.updateHiddenInput('acquisition_months_op', newVal);
            },
            showMatchTypeSelect: function (newVal) {
                if (newVal) {
                    this.$nextTick(() => {
                        this.initMatchTypeSelect("#acquisition_months_op", "acquisitionMonthsOp", "selectedAcquisitionMonthsOp");
                    });
                }
            }
        },
        methods: {
            getFormValue: function () {
                if (Array.isArray(this.value)) {
                    return this.value.map(function (v) {
                        return v.id;
                    }).join(',');
                }

                if (this.value) {
                    return this.value.id;
                }

                return null;
            },
        },
        beforeDestroy: function() {
            this.unregisterMatchTypeChanges("#acquisition_months_op");
        }
    });
</script>
