{% load i18n %}
{% load astrobin_apps_premium_tags %}

<script type="text/x-template" id="add-filter-template">
    <div class="search-filter">
        <div class="search-filter-title">{% trans "Add filter:" %}</div>
        <div class="search-filter-widget">
            <div class="form-group">
                <v-multiselect v-model="value" @input="onAddFilter" :options="options" track-by="name" label="label"
                               selectLabel="" deselectLabel="" :searchable="true" placeholder="{% trans "Select" %}">

                    <template slot="option" slot-scope="props">
                        {% if not request.user|can_access_advanced_search %}
                            <i class="icon-lock" v-if="props.option.restricted"></i>
                        {% elif not request.user|can_access_full_search %}
                            <i class="icon-lock" v-if="props.option.restricted === 'FULL'"></i>
                        {% endif %}

                        <span v-html="props.option.label"></span>
                    </template>

                </v-multiselect>
            </div>
        </div>
    </div>
</script>

<script>
    function compare(a, b) {
        return (a.label > b.label) ? 1 : ((b.label > a.label) ? -1 : 0);
    }

    Vue.component("add-filter", {
        template: "#add-filter-template",
        props: [
            "availableFilters"
        ],
        data: function () {
            return {
                value: null,
                options: this.availableFilters.sort(compare)
            }
        },
        methods: {
            onAddFilter: function () {
                this.$emit("onAddFilter", this.value.name);
                this.value = null;
            }
        },
        watch: {
            availableFilters: function(newValue) {
                this.options = newValue.sort(compare);
            }
        }
    });
</script>
