{% load astrobin_apps_premium_tags %}

<script type="text/x-template" id="coord-dec-filter-template">
    {% if request.user|can_access_full_search %}
        <div class="form-group" :class="{highlighted: highlighted}">
            <div id="coord-dec-slider" class="slider-filter tooltip-fixed"></div>

            <input id="coord-dec-min-value" name="coord_dec_min" type="hidden" :value="coordDecMin" />
            <input id="coord-dec-max-value" name="coord_dec_max" type="hidden" :value="coordDecMax" />
        </div>
    {% else %}
        {% include "./_filter_not_allowed.html" %}
    {% endif %}
</script>

<script>
    Vue.component("coord-dec-filter", {
        template: "#coord-dec-filter-template",
        props: [
            "coordDecMin",
            "coordDecMax"
        ],
        mixins: [
            FilterComponentMixin
        ],
        mounted() {
            function decFmt(value) {
                var degrees = Math.floor(value);
                value = (value - degrees) * 60;
                var minutes = Math.round(value);
                if (minutes >= 60) {hours = hours + 1; minutes = minutes - 60;}
                if (minutes < 10) minutes = "0" + minutes;
                return degrees + "°" + minutes + "'";
            }
            var slider = noUiSlider.create($('#coord-dec-slider')[0], {
                start: [this.coordDecMin, this.coordDecMax],
                range: {min: -90, max: 90},
                step: .5,
                tooltips: [{to: decFmt}, {to: decFmt}],
                connect: true,
                behaviour: 'tap-drag'
            });

            slider.on("change", function () {
                $("#coord-dec-min-value").val(slider.get()[0]);
                $("#coord-dec-max-value").val(slider.get()[1]);
            });

            $("#coord-dec-min-value").on("change", function () {
                slider.set([$("#icoord-dec-min-value").val(), $("#coord-dec-max-value").val()]);
            });

            $("#integration-time-max-value").on("change", function () {
                slider.set([$("#coord-dec-min-value").val(), $("#coord-dec-max-value").val()]);
            });
        }
    });
</script>
