{% load i18n %}
{% load astrobin_apps_premium_tags %}

<script type="text/x-template" id="country-filter-template">
    {% if request.user|can_access_advanced_search %}
        <div class="form-group" :class="{highlighted: highlighted}">
            <v-multiselect v-model="value" :options="options" track-by="id" label="label"
                           selectLabel="" deselectLabel="" selectedLabel="" :searchable="true"
                           placeholder="{% trans "Select" %}">
            </v-multiselect>
            <input type="hidden" name="country" :value="getFormValue()">
        </div>
    {% else %}
        {% include "./_filter_requires_lite_or_premium.html" %}
    {% endif %}
</script>

<script>
    Vue.component("country-filter", {
        template: "#country-filter-template",
        props: [
            "country"
        ],
        mixins: [
            FilterComponentMixin
        ],
        data: function () {
            return {
                value: null,
                options: [
                    {% for country in COUNTRIES %}
                        {% if country.0 != "" %}
                            {
                                id: "{{ country.0 }}",
                                label: "{{ country.1 }}"
                            },
                        {% endif %}
                    {% endfor %}
                ]
            }
        },
        created: function () {
            for (var i = 0; i < this.options.length; i++) {
                if (this.options[i].id === this.country) {
                    this.value = this.options[i];
                    return;
                }
            }
        },
        methods: {
            getFormValue: function () {
                if (Array.isArray(this.value)) {
                    return this.value.map(function (v) {
                        return v.id;
                    }).join(',');
                }

                if (this.value) {
                    return this.value.id;
                }

                return null;
            }
        }
    });
</script>
