{% load astrobin_apps_premium_tags %}

<script type="text/x-template" id="field-radius-filter-template">
    {% if request.user|can_access_full_search %}
        <div class="form-group" :class="{highlighted: highlighted}">
            <div id="field-radius-slider" class="slider-filter"></div>

            <input id="field-radius-min-value" name="field_radius_min" type="hidden" :value="fieldRadiusMin" />
            <input id="field-radius-max-value" name="field_radius_max" type="hidden" :value="fieldRadiusMax" />
        </div>
    {% else %}
        {% include "./_filter_not_allowed.html" %}
    {% endif %}
</script>

<script>
    Vue.component("field-radius-filter", {
        template: "#field-radius-filter-template",
        props: [
            "fieldRadiusMin",
            "fieldRadiusMax"
        ],
        mixins: [
            FilterComponentMixin
        ],
        mounted() {
            var slider = noUiSlider.create($('#field-radius-slider')[0], {
                start: [this.fieldRadiusMin, this.fieldRadiusMax],
                range: {min: 0, max: 180},
                step: 1,
                tooltips: true
            });

            slider.on("change", function () {
                $("#field-radius-min-value").val(slider.get()[0]);
                $("#field-radius-max-value").val(slider.get()[1]);
            });
        }
    });
</script>
