{% load i18n %}
{% load astrobin_apps_premium_tags %}

<script type="text/x-template" id="license-filter-template">
    {% if request.user|can_access_advanced_search %}
        <div class="form-group" :class="{highlighted: highlighted}">
            <v-multiselect v-model="value" :options="options" track-by="id" label="label"
                           selectLabel="" deselectLabel="" selectedLabel="" :searchable="false" :multiple="true"
                           placeholder="{% trans "Select" %}">
            </v-multiselect>
            <input type="hidden" name="license" :value="getFormValue()">
        </div>
    {% else %}
        {% include "./_filter_requires_lite_or_premium.html" %}
    {% endif %}
</script>

<script>
    Vue.component("license-filter", {
        template: "#license-filter-template",
        props: [
            "license"
        ],
        mixins: [
            FilterComponentMixin
        ],
        data: function () {
            return {
                value: [],
                options: [
                    {
                        id: "ALL_RIGHTS_RESERVED",
                        label: "{% trans "None (All rights reserved)" %}"
                    },
                    {
                        id: "ATTRIBUTION_NON_COMMERCIAL_SHARE_ALIKE",
                        label: "{% trans "Attribution-NonCommercial-ShareAlike Creative Commons" %}"
                    },
                    {
                        id: "ATTRIBUTION_NON_COMMERCIAL",
                        label: "{% trans "Attribution-NonCommercial Creative Commons" %}"
                    },
                    {
                        id: "ATTRIBUTION_NON_COMMERCIAL_NO_DERIVS",
                        label: "{% trans "Attribution-NonCommercial-NoDerivs Creative Commons" %}"
                    },
                    {
                        id: "ATTRIBUTION",
                        label: "{% trans "Attribution Creative Commons" %}"
                    },
                    {
                        id: "ATTRIBUTION_SHARE_ALIKE",
                        label: "{% trans "Attribution-ShareAlike Creative Commons" %}"
                    },
                    {
                        id: "ATTRIBUTION_NO_DERIVS",
                        label: "{% trans "Attribution-NoDerivs Creative Commons" %}"
                    }
                ]
            }
        },
        created: function () {
            if (this.license) {
                var licenses = this.license.split(",");
                this.value = [];

                for (var i = 0; i < this.options.length; i++) {
                    if (licenses.indexOf(this.options[i].id) > -1) {
                        this.value.push(this.options[i]);
                    }
                }
            }

            if (this.value.length === 0) {
                this.value = this.options[0];
            }
        },
        methods: {
            getFormValue: function () {
                if (Array.isArray(this.value)) {
                    return this.value.map(function (v) {
                        return v.id;
                    }).join(',');
                }

                if (this.value) {
                    return this.value.id;
                }

                return null;
            }
        }
    });
</script>
