{% load astrobin_apps_premium_tags %}

<script type="text/x-template" id="pixel-scale-filter-template">
    {% if request.user|can_access_full_search %}
        <div class="form-group" :class="{highlighted: highlighted}">
            <div id="pixel-scale-slider" class="slider-filter"></div>

            <input id="pixel-scale-min-value" name="pixel_scale_min" type="hidden" :value="pixelScaleMin" />
            <input id="pixel-scale-max-value" name="pixel_scale_max" type="hidden" :value="pixelScaleMax" />
        </div>
    {% else %}
        {% include "./_filter_not_allowed.html" %}
    {% endif %}
</script>

<script>
    Vue.component("pixel-scale-filter", {
        template: "#pixel-scale-filter-template",
        props: [
            "pixelScaleMin",
            "pixelScaleMax"
        ],
        mixins: [
            FilterComponentMixin
        ],
        mounted() {
            var slider = noUiSlider.create($('#pixel-scale-slider')[0], {
                start: [this.pixelScaleMin, this.pixelScaleMax],
                range: {min: 0, max: 10},
                step: 0.1,
                tooltips: true
            });

            slider.on("change", function () {
                $("#pixel-scale-min-value").val(slider.get()[0]);
                $("#pixel-scale-max-value").val(slider.get()[1]);
            });
        }
    });
</script>
