{% load i18n %}
{% load common_tags %}

<script type="text/x-template" id="search-domain-filter-template">
    <div class="form-group">
        <v-multiselect v-model="value" :options="options" track-by="id" label="label"
                       selectLabel="" deselectLabel="" selectedLabel="" :searchable="false"
                       placeholder="{% trans "Select" %}">
        </v-multiselect>
        <span class="help-block">
            {% trans "What kind of search results do you want?" %}
        </span>

        <input type="hidden" name="d" :value="value.id">
    </div>
</script>

<script>
    Vue.component("search-domain-filter", {
        template: "#search-domain-filter-template",
        props: [
            "searchDomain"
        ],
        mixins: [
            FilterComponentMixin
        ],
        data: function () {
            return {
                value: null,
                options: [
                    {
                        id: "i",
                        label: "{{ _('All images')|escapejs }}"
                    },
                    {% if request.user.is_authenticated %}
                    {
                        id: "iu",
                        label: "{{ _('Your images')|escapejs }}"
                    },
                    {
                        id: "ib",
                        label: "{{ _('Images bookmarked by you')|escapejs }}"
                    },
                    {
                        id: "il",
                        label: "{{ _('Images liked by you')|escapejs }}"
                    },
                    {
                        id: "if",
                        label: "{{ _('Images by users you follow')|escapejs }}"
                    },
                    {% endif %}
                    {
                        id: "u",
                        label: "{{ _('Users')|escapejs }}"
                    },
                    {
                        id: "f",
                        label: "{{ _('Forums')|escapejs }}"
                    },
                    {
                        id: "c",
                        label: "{{ _('Comments')|escapejs }}"
                    }
                ]
            }
        },
        created: function () {
            for (let i = 0; i < this.options.length; i++) {
                if (this.options[i].id === this.searchDomain) {
                    this.value = this.options[i];
                    return;
                }
            }
            this.value = this.options[0];
        },
        watch: {
            value: function (val) {
                if (val) {
                    this.$emit("input", val.id);
                }
            }
        }
    });
</script>
