{% load i18n %}

<script type="text/x-template" id="subject-type-filter-template">
    <div class="form-group" :class="{highlighted: highlighted}">
        <v-multiselect class="multiselect--grouped" v-model="value" :options="options" track-by="id" label="label"
                       selectLabel="" deselectLabel="" selectedLabel="" :searchable="false"
                       placeholder="{% trans "Select" %}">
        </v-multiselect>
        <input type="hidden" name="subject_type" :value="getValue()">
    </div>
</script>

<script>
    Vue.component("subject-type-filter", {
        template: "#subject-type-filter-template",
        props: [
            "subjectType"
        ],
        mixins: [
            FilterComponentMixin
        ],
        data: function () {
            return {
                value: null,
                options: [
                    {
                        id: "DEEP_SKY",
                        label: "{% trans "Deep sky object or field" %}"
                    },
                    {
                        id: "SOLAR_SYSTEM",
                        label: "{% trans "Solar system body or event" %}"
                    },
                    {
                        id: "WIDE_FIELD",
                        label: "{% trans "Extremely wide field" %}"
                    },
                    {
                        id: "STAR_TRAILS",
                        label: "{% trans "Star trails" %}"
                    },
                    {
                        id: "NORTHERN_LIGHTS",
                        label: "{% trans "Northern lights" %}"
                    },
                    {
                        id: "GEAR",
                        label: "{% trans "Gear" %}"
                    },
                    {
                        id: null,
                        label: "",
                        $isDisabled: true
                    },
                    {
                        id: "SUN",
                        label: "{% trans "Sun" %}"
                    },
                    {
                        id: "MOON",
                        label: "{% trans "Earth's moon" %}"
                    },
                    {
                        id: "MERCURY",
                        label: "{% trans "Mercury" %}"
                    },
                    {
                        id: "VENUS",
                        label: "{% trans "Venus" %}"
                    },
                    {
                        id: "MARS",
                        label: "{% trans "Mars" %}"
                    },
                    {
                        id: "JUPITER",
                        label: "{% trans "Jupiter" %}"
                    },
                    {
                        id: "SATURN",
                        label: "{% trans "Saturn" %}"
                    },
                    {
                        id: "URANUS",
                        label: "{% trans "Uranus" %}"
                    },
                    {
                        id: "NEPTUNE",
                        label: "{% trans "Neptune" %}"
                    },
                    {
                        id: "MINOR_PLANET",
                        label: "{% trans "Minor planet" %}"
                    },
                    {
                        id: "COMET",
                        label: "{% trans "Comet" %}"
                    },
                    {
                        id: "OCCULTATION",
                        label: "{% trans "Occultation" %}"
                    },
                    {
                        id: "CONJUNCTION",
                        label: "{% trans "Conjunction" %}"
                    },
                    {
                        id: "PARTIAL_LUNAR_ECLIPSE",
                        label: "{% trans "Partial lunar eclipse" %}"
                    },
                    {
                        id: "TOTAL_LUNAR_ECLIPSE",
                        label: "{% trans "Total lunar eclipse" %}"
                    },
                    {
                        id: "PARTIAL_SOLAR_ECLIPSE",
                        label: "{% trans "Partial solar eclipse" %}"
                    },
                    {
                        id: "ANULAR_SOLAR_ECLIPSE",
                        label: "{% trans "Anular solar eclipse" %}"
                    },
                    {
                        id: "TOTAL_SOLAR_ECLIPSE",
                        label: "{% trans "Total solar eclipse" %}"
                    },
                    {
                        id: "OTHER",
                        label: "{% trans "Other solar system object" %}"
                    }
                ]
            }
        },
        created: function () {
            for (var i = 0; i < this.options.length; i++) {
                if (this.options[i].id === this.subjectType) {
                    this.value = this.options[i];
                    return;
                }
            }
        },
        methods: {
            getValue: function() {
                if (this.value) {
                    return this.value.id;
                }

                return null;
            }
        }
    });
</script>
