{% load i18n %}
{% load astrobin_apps_premium_tags %}

<script type="text/x-template" id="subject-type-filter-template">
    {% if valid_usersubscription|can_access_advanced_search %}
        <div class="form-group" :class="{highlighted: highlighted}">
            <v-multiselect class="multiselect--grouped" v-model="value" :options="options" track-by="id" label="label"
                           selectLabel="" deselectLabel="" selectedLabel="" :searchable="false"
                           placeholder="{% trans "Select" %}">
            </v-multiselect>
            <input type="hidden" name="subject_type" :value="getValue()">
        </div>
    {% else %}
        {% include "./_filter_requires_lite_or_premium_or_ultimate.html" %}
    {% endif %}
</script>

<script>
    Vue.component("subject-type-filter", {
        template: "#subject-type-filter-template",
        props: [
            "subjectType"
        ],
        mixins: [
            FilterComponentMixin
        ],
        data: function () {
            return {
                value: null,
                options: [
                    {
                        id: "DEEP_SKY",
                        label: "{{ _('Deep sky object or field')|escapejs }}"
                    },
                    {
                        id: "SOLAR_SYSTEM",
                        label: "{{ _('Solar system body or event')|escapejs }}"
                    },
                    {
                        id: "WIDE_FIELD",
                        label: "{{ _('Extremely wide field')|escapejs }}"
                    },
                    {
                        id: "STAR_TRAILS",
                        label: "{{ _('Star trails')|escapejs }}"
                    },
                    {
                        id: "NORTHERN_LIGHTS",
                        label: "{{ _('Northern lights')|escapejs }}"
                    },
                    {
                        id: "NOCTILUCENT_CLOUDS",
                        label: "{{ _('Noctilucent clouds')|escapejs }}"
                    },
                    {
                        id: "LANDSCAPE",
                        label: "{{ _('Landscape')|escapejs }}"
                    },
                    {
                        id: "ARTIFICIAL_SATELLITE",
                        label: "{{ _('Artificial satellite')|escapejs }}"
                    },
                    {
                        id: "GEAR",
                        label: "{{ _('Equipment')|escapejs }}"
                    },
                    {
                        id: null,
                        label: "",
                        $isDisabled: true
                    },
                    {
                        id: "SUN",
                        label: "{{ _('Sun')|escapejs }}"
                    },
                    {
                        id: "MOON",
                        label: "{{ _('Earth\'s moon')|escapejs }}"
                    },
                    {
                        id: "MERCURY",
                        label: "{{ _('Mercury')|escapejs }}"
                    },
                    {
                        id: "VENUS",
                        label: "{{ _('Venus')|escapejs }}"
                    },
                    {
                        id: "MARS",
                        label: "{{ _('Mars')|escapejs }}"
                    },
                    {
                        id: "JUPITER",
                        label: "{{ _('Jupiter')|escapejs }}"
                    },
                    {
                        id: "SATURN",
                        label: "{{ _('Saturn')|escapejs }}"
                    },
                    {
                        id: "URANUS",
                        label: "{{ _('Uranus')|escapejs }}"
                    },
                    {
                        id: "NEPTUNE",
                        label: "{{ _('Neptune')|escapejs }}"
                    },
                    {
                        id: "MINOR_PLANET",
                        label: "{{ _('Minor planet')|escapejs }}"
                    },
                    {
                        id: "COMET",
                        label: "{{ _('Comet')|escapejs }}"
                    },
                    {
                        id: "OCCULTATION",
                        label: "{{ _('Occultation')|escapejs }}"
                    },
                    {
                        id: "CONJUNCTION",
                        label: "{{ _('Conjunction')|escapejs }}"
                    },
                    {
                        id: "PARTIAL_LUNAR_ECLIPSE",
                        label: "{{ _('Partial lunar eclipse')|escapejs }}"
                    },
                    {
                        id: "TOTAL_LUNAR_ECLIPSE",
                        label: "{{ _('Total lunar eclipse')|escapejs }}"
                    },
                    {
                        id: "PARTIAL_SOLAR_ECLIPSE",
                        label: "{{ _('Partial solar eclipse')|escapejs }}"
                    },
                    {
                        id: "ANULAR_SOLAR_ECLIPSE",
                        label: "{{ _('Annular solar eclipse')|escapejs }}"
                    },
                    {
                        id: "TOTAL_SOLAR_ECLIPSE",
                        label: "{{ _('Total solar eclipse')|escapejs }}"
                    },
                    {
                        id: "METEOR_SHOWER",
                        label: "{{ _('Meteor shower')|escapejs }}"
                    },
                    {
                        id: "OTHER",
                        label: "{{ _('Other solar system object')|escapejs }}"
                    }
                ]
            }
        },
        created: function () {
            for (var i = 0; i < this.options.length; i++) {
                if (this.options[i].id === this.subjectType) {
                    this.value = this.options[i];
                    return;
                }
            }
        },
        methods: {
            getValue: function() {
                if (this.value) {
                    return this.value.id;
                }

                return null;
            }
        }
    });
</script>
