{% extends "base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load tags %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Accounts' None %}
    {% breadcrumb 'E-mail change' 'change_email_index' %}
    {% breadcrumb 'Request' None %}
{% endblock %}

{% block title %}{% trans "E-mail change request" %}{% endblock %}

{% block content %}
    <h1>{% trans "E-mail change request" %}</h1>
    <p class="well">{% trans "You already have a pending request to change your e-mail address. You should have received a confirmation e-mail with instructions about how to confirm this request. If not, please delete it and start a new one." %}</p>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "New e-mail" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><abbr class="timeago" title="{{object.date|to_user_timezone:request.user|date:'Y-m-d\TH:i:s'}}"></abbr></td>
                <td><a href="mailto:{{object.new_email}}">{{object.new_email}}</a></td>
                <td>
                    <a href="{% url 'change_email_delete' object.pk %}" class="btn btn-danger">
                        {% trans "Delete and start new request" %}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
