version: '3'

services:
  nginx:
    image: astrobin/nginx-${NGINX_MODE}
    links:
      - astrobin
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - media:/media
      - letsencrypt:/etc/letsencrypt

  rabbitmq:
    image: rabbitmq:management-alpine
    environment:
      - RABBITMQ_DEFAULT_USER=astrobin
      - RABBITMQ_DEFAULT_PASS=astrobin

  celery_default:
    image: astrobin/astrobin:v1.72.4-adsense.1
    command: celery worker -A astrobin -Q default,email -c 8 -l debug -f celery_default.log
    links:
      - memcached
      - rabbitmq
    env_file:
      - ./astrobin.env
    environment:
      - C_FORCE_ROOT=true
      - PYTHONPATH=/usr/lib/python2.7/dist-packages
      - DJANGO_SETTINGS_MODULE=astrobin.settings
      - CELERY_RDB_HOST=0.0.0.0
      - CELERY_RDB_PORT=6900
      - POSTGRES_DB=astrobin
      - POSTGRES_USER=astrobin
    volumes:
      - media:/media


  celery_thumbnails:
    image: astrobin/astrobin:v1.72.4-adsense.1
    command: celery worker -A astrobin -Q thumbnails -c 8 -l debug -f celery_thumbnails.log
    links:
      - memcached
      - rabbitmq
    env_file:
      - ./astrobin.env
    environment:
      - C_FORCE_ROOT=true
      - PYTHONPATH=/usr/lib/python2.7/dist-packages
      - DJANGO_SETTINGS_MODULE=astrobin.settings
      - CELERY_RDB_HOST=0.0.0.0
      - CELERY_RDB_PORT=6900
      - POSTGRES_DB=astrobin
      - POSTGRES_USER=astrobin
    volumes:
      - media:/media


  celery_haystack:
    image: astrobin/astrobin:v1.72.4-adsense.1
    command: celery worker -A astrobin -Q haystack -c 8 -l debug -f celery_haystack.log
    links:
      - memcached
      - rabbitmq
    env_file:
      - ./astrobin.env
    environment:
      - C_FORCE_ROOT=true
      - PYTHONPATH=/usr/lib/python2.7/dist-packages
      - DJANGO_SETTINGS_MODULE=astrobin.settings
      - CELERY_RDB_HOST=0.0.0.0
      - CELERY_RDB_PORT=6900
      - POSTGRES_DB=astrobin
      - POSTGRES_USER=astrobin


  beat:
    image: astrobin/astrobin:v1.72.4-adsense.1
    command: celery -A astrobin beat -l debug -f celery_beat.log --pidfile= --scheduler django_celery_beat.schedulers:DatabaseScheduler
    links:
      - memcached
      - rabbitmq
    env_file:
      - ./astrobin.env
    environment:
      - C_FORCE_ROOT=true
      - PYTHONPATH=/usr/lib/python2.7/dist-packages
      - DJANGO_SETTINGS_MODULE=astrobin.settings
      - CELERY_RDB_HOST=0.0.0.0
      - CELERY_RDB_PORT=6900
      - POSTGRES_DB=astrobin
      - POSTGRES_USER=astrobin


  astrobin:
    image: astrobin/astrobin:v1.72.4-adsense.1
    command: bash -c "./scripts/init.sh && gunicorn wsgi:application -w 4 -b :8083 --max-requests 1000 --max-requests-jitter 50 --timeout 300 --graceful-timeout 300 -k gevent"
    links:
      - memcached
      - rabbitmq
    ports:
      - "8084:8084"
    env_file:
      - ./astrobin.env
    environment:
      - PYTHONPATH=/usr/lib/python2.7/dist-packages
      - DJANGO_SETTINGS_MODULE=astrobin.settings
      - POSTGRES_DB=astrobin
      - POSTGRES_USER=astrobin
    volumes:
      - media:/media
      - tmp:/tmp


  flower:
    image: totem/celery-flower-docker
    links:
      - rabbitmq
    env_file:
      - ./astrobin.env
    environment:
      - AMQP_HOST=rabbitmq
      - AMQP_USERNAME=astrobin
      - AMQP_PASSWORD=astrobin
      - AMQP_ADMIN_HOST=rabbitmq
      - AMQP_ADMIN_USERNAME=astrobin
      - AMQP_ADMIN_PASSWORD=astrobin
    ports:
      - "5555:5555"


volumes:
  postgres-data: {}
  elasticsearch-data: {}
  media: {}
  letsencrypt: {}
  tmp: {}
