version: '3'

# This file is meant to be used by docker-compose to build images locally. It's useful for development.

services:
  nginx:
    build:
      context: ../
      dockerfile: docker/nginx.${NGINX_MODE}.dockerfile


  elasticsearch:
    image: elasticsearch:2.4.6-alpine
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data:cached


  memcached:
    image: memcached:alpine


  redis:
    image: redis:6.0.10-alpine
    ports:
      - "6379:6379"


  postgres:
    image: postgres:alpine
    environment:
      - POSTGRES_DB=astrobin
      - POSTGRES_USER=astrobin
      - POSTGRES_PASSWORD=astrobin
    volumes:
      - postgres-data:/var/lib/postgresql/data:cached
    ports:
      - "5432:5432"


  astrobin:
    build:
      context: ../
      dockerfile: docker/astrobin.dockerfile
    command:
      - bash
      - -c
      - |
        ./scripts/init.sh && \
        gunicorn wsgi:application \
          -w 4 \
          -b :8083 \
          --max-requests 500 \
          --max-requests-jitter 50 \
          --timeout 300 \
          --graceful-timeout 300 \
          -k gevent
    ports:
      - "8083:8083"
      - "8084:8084"
    volumes:
      - ..:/code
    links:
      - debug_email
      - postgres
      - elasticsearch
      - redis
      - memcached


  celery_default:
    build:
      context: ../
      dockerfile: docker/astrobin.dockerfile
    links:
      - postgres
      - elasticsearch
      - redis


  celery_email:
    build:
      context: ../
      dockerfile: docker/astrobin.dockerfile
    links:
      - postgres
      - elasticsearch
      - redis


  celery_thumbnails:
    build:
      context: ../
      dockerfile: docker/astrobin.dockerfile
    links:
      - postgres
      - elasticsearch
      - redis


  celery_haystack:
    build:
      context: ../
      dockerfile: docker/astrobin.dockerfile
    links:
      - postgres
      - elasticsearch
      - redis


  celery_monitor:
    build:
      context: ../
      dockerfile: docker/astrobin.dockerfile
    links:
      - postgres
      - elasticsearch
      - redis


  beat:
    build:
      context: ../
      dockerfile: docker/astrobin.dockerfile
    links:
      - postgres
      - elasticsearch
      - redis


  debug_email:
    image: python:2.7-alpine
    command: python -m smtpd -n -c DebuggingServer 0.0.0.0:25
    ports:
      - "25"


volumes:
  postgres-data: { }
  elasticsearch-data: { }
  tmp: { }
  media: { }
  letsencrypt: { }
