version: '3'

services:
  astrobin:
    image: astrobin/astrobin:latest
    environment:
      - USE_SQLITE=true
      - TESTING=true
      - CODECOV_TOKEN


  # Override all other services with most minimalist image

  celery_default:
    image: tianon/true
    command: "/true"
    entrypoint: "/true"


  celery_thumbnails:
    image: tianon/true
    command: "/true"
    entrypoint: "/true"


  celery_haystack:
    image: tianon/true
    command: "/true"
    entrypoint: "/true"

  beat:
    image: tianon/true
    command: "/true"
    entrypoint: "/true"


  memcached:
    image: tianon/true
    command: "/true"
    entrypoint: "/true"


  postgres:
    image: tianon/true
    command: "/true"
    entrypoint: "/true"


  rabbitmq:
    image: tianon/true
    command: "/true"
    entrypoint: "/true"


  elasticsearch:
    image: tianon/true
    command: "/true"
    entrypoint: "/true"


  flower:
    image: tianon/true
    command: "/true"
    entrypoint: "/true"


  debug_email:
    image: tianon/true
    command: "/true"
    entrypoint: "/true"
