{% load i18n %}
{% load astrobin_apps_notifications_tags %}

<a href="{{ object_url }}">
    {% blocktrans trimmed %}
        AstroBin completed the advanced plate-solution of your image: <strong>{{ title }}</strong>.
    {% endblocktrans %}
</a>

<br /><br />

{% if should_show_field_size_note %}
    {% blocktrans trimmed %}
        AstroBin applied default settings based on your image's field size ({{ field_radius }} degrees).
        Different field sizes receive different annotation settings for optimal results.
        You are free to change these settings using the "Edit plate-solving settings" menu in your image.
    {% endblocktrans %}
    
    <br /><br />
{% endif %}

{% if image_thumbnail %}
    <a href="{{ object_url }}">
        <img src="{{ image_thumbnail }}" />
    </a>
{% endif %}
