{% load i18n %}
{% load static %}
{% load tags %}

<tr
    class="notification-item{% if n.read %} notification-read{% else %} notification-unread{% endif %}"
    data-id="{{n.pk}}">

    <td class="notification-state">
        <div class="state-indicator"></div>
    </td>

    <td class="notification-content">
        {% autoescape off %}{{n.message}}{% endautoescape %}
    </td>

    <td class="notification-date">
        <abbr class="timeago" title="{{n.created|to_user_timezone:n.user|date:'Y-m-d\TH:i:s'}}">
            {{n.created|to_user_timezone:n.user|date:'Y-m-d\TH:i:s'}}
        </abbr>
    </td>

    <td class="notification-mark-as-read">
        {% if not n.read %}
            <a
                href="#"
                onclick="astrobin_common.mark_notification_as_read({{n.pk}}); return false;">
                <i class="icon icon-ok"></i>
            </a>
        {% endif %}

        <div class="loading"><img src="{% static 'astrobin/images/ajax-loader.gif' %}" alt="" /></div>
    </td>

</tr>

