{% extends 'base.html' %}

{% load i18n %}
{% load el_pagination_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load astrobin_apps_notifications_tags %}
{% load tags %}

{% block title %}{% trans "Notifications" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Notifications' 'astrobin_apps_notifications.all' %}
{% endblock %}

{% block content %}
    {% paginate 20 notification_list %}
        <table class="table table-striped notifications">
            {% for n in notification_list %}
                <tr class="notification-item {% if n.read %}notification-read{% else %}notification-unread{% endif %}">
                    <td class="notification-state">
                        <div class="state-indicator">
                    </td>
                    <td class="notification-content">
                        {% autoescape off %}{{n.message}}{% endautoescape %}
                    </td>
                    <td class="notification-date hidden-phone">
                        <abbr class="timeago" title="{{n.created|to_user_timezone:n.user|date:'Y-m-d\TH:i:s'}}">
                            {{n.created|to_user_timezone:n.user|date:'Y-m-d\TH:i:s'}}
                        </abbr>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">
                        {% trans "You have no notifications." %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="form-actions">
            {% if READONLY_MODE %}
                <a data-toggle="modal" href="#readonly-mode-modal" class="btn btn-block-mobile disabled">
            {% else %}
                <a class="btn btn-block-mobile" href="{% url 'astrobin_apps_notifications.settings' %}">
            {% endif %}
                {% trans "Settings" %}
            </a>

            {% if request.user|has_unseen_notifications %}
                <form action="{% url 'astrobin_apps_notifications.mark_all_as_read' %}" method="post">{% csrf_token %}
                    {% if READONLY_MODE %}
                        <a data-toggle="modal" href="#readonly-mode-modal" class="btn btn-block-mobile disabled">
                            {% trans "Mark all as read" %}
                        </a>
                    {% else %}
                        <input type="submit"
                               class="btn btn-danger btn-block-mobile"
                               value="{% trans "Mark all as read" %}" />
                    {% endif %}

                    <input type="hidden" name="next" value="{{request.path}}">
                </form>
            {% endif %}
        </div>

        <div class="pagination pagination-centered">
            {% show_pages %}
        </div>
{% endblock %}
