{% extends 'base.html' %}

{% load i18n %}
{% load pagination_tags %}

{% block titlej%}{% trans "Notifications" %}{% endblock %}

{% block content %}
    {% autopaginate notification_list 25 %}
        <h1>{% trans "Notifications" %}</h1>
        <table class="table table-condensed notifications">
            {% for n in notification_list %}
            <tr{% if not n.read %} class="notification-unread"{% endif %}>
                    <td class="notification-state">
                        <div class="state-indicator">
                    </td>
                    <td>
                        {% autoescape off %}{{n.message}}{% endautoescape %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>
                        {% trans "You have no notifications." %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div id="mark-all-as-read">
            <a href="{% url message_mark_all_read %}">
                {% trans "Mark all as read" %}
            </a>
        </div>

        <div class="pagination pagination-centered">
            {% paginate %}
        </div>
{% endblock %}
