{% load i18n %}

{% for n in unseen %}
    <li class="notification-item unread" data-id="{{n.pk}}">
        {% autoescape off %}{{n.message}}{% endautoescape %}
        <a
            href="#"
            onclick="astrobin_common.mark_notification_as_read({{n.pk}}); return false;"
            rel="tooltip"
            data-placement="right"
            title="{% trans "Mark as read" %}"
            class="mark-single-as-read">
            <i class="icon icon-ok"></i>
        </a>
    </li>
{% empty %}
    <li><a href="#">{% trans "You have no new notifications." %}</a></li>
{% endfor %}

    <li class="divider"></li>
    <li>
        <a href="{% url astrobin_apps_notifications.all %}">
            {% trans "View all" %}
        </a>
    </li>
    {% if unseen %}
     <li>
        <a
            href="#"
            onclick="astrobin_common.mark_all_notifications_as_read(); return false;">
            {% trans "Mark all as read" %}
        </a>
    </li>
    {% endif %}
