{% extends 'pybb/base.html' %}

{% load i18n %}
{% load pybb_tags %}
{% load static %}
{% load common_tags %}
{% load bbcode_tags %}

{% block title %}
    {% if forum %}
        {% trans 'New topic' %}
    {% else %}
        {% trans 'New reply' %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            if (
                !$.cookie('astrobin_forum_usage_modal_seen') ||
                "{{ forum.name }}" === "Anything goes" ||
                "{{ forum.name }}" === "Other"
            ) {
                const $modal = $('#forum-usage-modal');

                $modal.modal({
                    backdrop: 'static',
                    show: true,
                    keyboard: false
                });

                $modal.on('hidden', function () {
                    $.ajax({
                        url: '/json-api/user/mark-forum-usage-modal-as-seen/',
                        type: 'POST',
                        dataType: 'json',
                        timeout: 5000
                    });
                });

                $('#i-have-read').on('change', function () {
                    if ($('#i-have-read').is(':checked'))
                        $('#forum-usage-modal .btn-primary').removeAttr('disabled');
                    else {
                        $('#forum-usage-modal .btn-primary').attr('disabled', 'disabled');
                    }
                });
            }
        });
    </script>
{% endblock %}

{% block breadcrumb %}
    {% if forum %}
        {% with object=forum extra_crumb="New topic" %}
            {% include 'pybb/breadcrumb.html' %}
        {% endwith %}
    {% else %}
        {% with object=topic extra_crumb="New reply" %}
            {% include 'pybb/breadcrumb.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}


{% block modals %}
    <div class="modal hide fade" id="forum-usage-modal">
        <div class="modal-header">
            <h3>{% trans "Please note" %}</h3>
        </div>

        <div class="modal-body">
            <div class="row-fluid">
                <div class="span2 visible-desktop">
                    <img src="{% static 'astrobin/images/attention.png' %}" alt="{% trans 'Please note' %}" />
                </div>
                <div class="span9 offset1">
                    <p>
                        {% url 'contact' as contact_url %}
                        {% blocktrans trimmed %}
                            The AstroBin forums are a place to discuss astrophotography and astronomy. If you need help
                            with AstroBin please use the <a href="{{ contact_url }}">contact form</a>.
                        {% endblocktrans %}
                    </p>

                    <p class="alert alert-warning">
                        {% blocktrans trimmed %}
                            User support posts, feature requests, issue reports, etc, will be deleted.
                        {% endblocktrans %}
                    </p>

                    <p>
                        {% setvar 'https://www.astrobin.com/groups/5785/' as open_discussions_url %}
                        {% blocktrans trimmed %}
                            If you want to engage in open discussion about AstroBin and its feature with other members
                            of the community, please join the <a href="{{ open_discussions_url }}">AstroBin Platform
                            open discussions community forum</a> group!
                        {% endblocktrans %}
                    </p>

                    <p>
                        {% blocktrans trimmed %}
                            Thanks for your cooperation!
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>

        <div class="modal-footer" style="display:flex; align-items:center; justify-content:space-between">
            <div class="i-have-read form-inline" style="margin: 0; text-align: left; flex: 1">
                <input type="checkbox" id="i-have-read" name="i-have-read" />
                <label for="i-have-read">{% trans "I have read the text above" %}</label>
            </div>
            <button data-dismiss="modal" class="btn btn-primary" disabled="disabled">{% trans "I understand" %}</button>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if forum and forum.group and forum.group.forum_notice %}
        <div class="alert alert-sticky alert-warning">
            <h3 class="alert-heading">{% trans "Forum notice" %}</h3>

            <h4>
                {% blocktrans trimmed %}
                    This forum belongs to a group, and the group's owner set the following notice to communicate forum
                    rules, disclaimers, or important information to users before they create a new post
                {% endblocktrans %}
            </h4>

            <div class="alert-body">
                {{ forum.group.forum_notice|bbcode|safe }}
            </div>
        </div>
    {% endif %}

    <h1>
        {% if forum %}
            {% blocktrans with forum_name=forum.name %}
                New topic in forum: "{{ forum_name }}"
            {% endblocktrans %}
        {% else %}
            {% blocktrans with topic_name=topic.name %}
                New reply in topic: "{{ topic_name }}"
            {% endblocktrans %}
        {% endif %}
    </h1>

    {% include "pybb/post_form.html" %}
{% endblock content %}
