{% extends 'pybb/base.html' %}
{% load pybb_tags i18n %}

{% block title %}{{ forum.name }}{% endblock title %}

{% block container_extra_classes %}
    {% if forum.category.slug == 'group-forums' or user|pybb_may_create_topic:forum %}
        has-subnav
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% with forum as object %}
        {% include "pybb/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    {% if forum.category.slug == 'group-forums' or user|pybb_may_create_topic:forum %}
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            {% if forum.category.slug == 'group-forums' %}
                <li>
                    <a href="{% url 'group_detail' forum.group.pk %}">
                        <i class="icon-arrow-left icon-white"></i>
                        <span class="hidden-phone">{% trans "Back to group" %}</span>
                    </a>
                </li>
            {% endif %}

            {% if user|pybb_may_create_topic:forum %}
                <li>
                    <a href="{% url 'pybb:add_topic' forum.id %}">
                        <i class="icon-plus icon-white"></i>
                        {% trans "New topic" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

    <div class="forum">
        {% if forum.headline %}
            <div class="forum-headline alert alert-block">
                {{ forum.headline|safe }}
            </div>
        {% endif %}

        {% include 'pybb/forum_list.html' with forum_list=forum.forums_accessed category='' parent_forum=forum %}
        {% include "pybb/topic_list.html" %}
    </div>
    {% include 'pagination_simple.html' %}
{% endblock content %}
