{% load pybb_tags i18n %}

{% for forum in forum_list|pybb_forum_unread:user %}
    <tr class="forum-row">
        <td class="forum-status {% if forum.unread %} forum-unread{% endif %}">
            <div class="state-indicator"></div>
        </td>
        <td class="forum-name {% if forum.unread %} forum-unread{% endif %}">
            <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a> {% if forum.hidden %}[{% trans "Hidden" %}]{% endif %}
            <div class="forum-description">
                {{ forum.description|safe }}
            </div>
        </td>
        <td class="forum-topic-count hidden-tablet hidden-phone">
            {{ forum.topic_count }}
        </td>
        <td class="forum-post-count hidden-tablet hidden-phone">
            {{ forum.post_count }}
        </td>
        <td class="forum-last-post hidden-phone">
            {% include "pybb/forum_last_update_info.html" %}
        </td>
    </tr>
{% empty %}
    {% if category and category.slug != 'group-forums' %}
    <tr>
        <td colspan="5">
            {% trans "No forums created" %}
        </td>
    </tr>
    {%  endif %}

    {% if category and category.slug == 'group-forums' %}
    <tr>
        <td colspan="5">
            {% trans "You are not a member of any groups" %}
        </td>
    </tr>
    {%  endif %}

{% endfor %}
