{% extends 'pybb/base.html' %}


{% load i18n %}

{% block title %}{{ PYBB_DEFAULT_TITLE }}{% endblock title %}

{% block container_extra_classes %}
    {% if user.is_authenticated %}
        has-subnav
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% include "pybb/breadcrumb.html" %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="subnav subnav-fixed">
            <ul class="nav nav-pills">
                <li>
                    <a href='{% url 'pybb:topic_latest' %}'>
                        <i class="icon-time icon-white"></i>
                        <span class="hidden-phone">{% trans "Latest topics" %}</span>
                    </a>
                </li>
                {% if not READONLY_MODE %}
                <li>
                    <a href='{% url 'pybb:mark_all_as_read' %}'>
                        <i class="icon-check icon-white"></i>
                        <span class="hidden-phone">{% trans "Mark all as read" %}</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {% if category and category.slug == 'group-forums' %}
        <div class="alert alert-warning">
            {% trans "These are the forums in the groups you have access to." %}
        </div>
    {% endif %}

    {% if categories %}
        <table class="forums table {% if category %}category-table{% elif parent_forum %}child-forums-table{% endif %}">
        {% for category in categories %}
            <tr class="forum-row head-row">
                <th class="forum-status">
                    &nbsp;
                </th>
                <th class="forum-name">
                    {{category.name}}
                </th>
                <th class="forum-topic-count hidden-tablet hidden-phone">
                    {% trans "Topics" %}
                </th>
                <th class="forum-post-count hidden-tablet hidden-phone">
                    {% trans "Posts" %}
                </th>
                <th class="forum-last-post hidden-phone">
                    {% trans "Last posts" %}
                </th>
            </tr>
            {% include 'pybb/forum_list.html' with forum_list=category.forums_accessed category=category parent_forum='' %}
        {% endfor %}
        </table>
    {% else %}
        <h2>{% trans "Forum categories are not created" %}</h2>
        <a href="{% url 'admin:pybb_category_add' %}">{% trans "Add a category now" %}</a>
    {% endif %}

{% endblock content %}
