{% extends 'pybb/base.html' %}


{% load i18n %}

{% block title %}{{ PYBB_DEFAULT_TITLE }}{% endblock title %}

{% block container_extra_classes %}
    {% if user.is_authenticated %}
        has-subnav
    {% endif %}
{% endblock %}

{% block extra_alerts_container_extra_classes %}
    {% if user.is_authenticated %}
        has-subnav
    {% endif %}
{% endblock %}

{% block global_alerts_container_extra_classes %}
    {% if user.is_authenticated %}
        has-subnav
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% include "pybb/breadcrumb.html" %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="subnav subnav-fixed">
            <ul class="nav nav-pills">
                <li>
                    <a href='{% url 'pybb:topic_latest' %}'>
                        <i class="icon-time icon-white"></i>
                        <span class="hidden-phone">{% trans "Latest topics" %}</span>
                    </a>
                </li>
                {% if not READONLY_MODE %}
                <li>
                    <a data-no-instant href='{% url 'pybb:mark_all_as_read' %}'>
                        <i class="icon-check icon-white"></i>
                        <span class="hidden-phone">{% trans "Mark all as read" %}</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {% include 'pybb/_forum_tools.html' %}

    {% if categories %}
        <table class="forums table {% if category %}category-table{% elif parent_forum %}child-forums-table{% endif %}">
        {% for category in categories %}
            <tbody>
            <tr class="forum-row head-row">
                <th class="forum-status">
                    &nbsp;
                </th>
                <th class="forum-name">
                    {{category.name}}
                </th>
                <th class="forum-topic-count hidden-tablet hidden-phone">
                    {% trans "Topics" %}
                </th>
                <th class="forum-post-count hidden-tablet hidden-phone">
                    {% trans "Posts" %}
                </th>
                <th class="forum-last-post hidden-phone">
                    {% trans "Last posts" %}
                </th>
            </tr>
            {% if category.slug == 'group-forums' %}
                <tr>
                    <td colspan="5">
                        <p class="category-description">
                            {% blocktrans trimmed with _0='<a href="https://welcome.astrobin.com/features/groups" target="_blank">' _1='</a>' %}
                                Every AstroBin group has a forum associated with it. Group members are notified of new
                                topics unless they opt out. {{ _0 }}Learn more about AstroBin Groups!{{ _1 }}
                            {% endblocktrans %}
                        </p>
                    </td>
                </tr>
            {% endif %}

            {% if category.slug == 'equipment-forums' %}
                <tr>
                    <td colspan="5">
                        <p class="category-description">
                            {% trans "Every equipment item on AstroBin has a forum associated with it." %}

                            {% blocktrans trimmed %}
                                Anybody who used an equipment item is notified of new topics in its forum, unless they
                                opt out.
                            {% endblocktrans %}

                            {% blocktrans trimmed %}
                                Below, you can see a list of equipment item forums that have at least one discussion
                                topic.
                            {% endblocktrans %}

                            <a href="https://welcome.astrobin.com/features/equipment-database" target="_blank">
                                {% blocktrans trimmed %}
                                    Learn more about the AstroBin equipment database!
                                {% endblocktrans %}
                            </a>
                        </p>
                    </td>
                </tr>
            {% endif %}

            {% include 'pybb/forum_list.html' with forum_list=category.forums_accessed category=category parent_forum='' %}
            </tbody>
        {% endfor %}
        </table>
    {% else %}
        <h2>{% trans "Forum categories are not created" %}</h2>
        <a href="{% url 'admin:pybb_category_add' %}">{% trans "Add a category now" %}</a>
    {% endif %}

{% endblock content %}

{% block extra_js %}
    {% include 'pybb/_forum_selection_js.html' %}
{% endblock %}
