{% extends 'pybb/base.html' %}

{% load i18n pybb_tags common_tags %}

{% block content %}

    {% if post.is_topic_head %}
        <h1>{% blocktrans with topic=post.topic %}Move topic "{{ topic }}"{% endblocktrans %}</h1>
    {% else %}
        <h1>{% blocktrans with topic=post.topic %}Split posts from topic "{{ topic }}"{% endblocktrans %}</h1>
    {% endif %}

    <form method="post" action="." class="move-post-form form-horizontal">
        {% csrf_token %}
        <fieldset>
            {% if not post.is_topic_head %}
                {% pybb_get_profile post.user as author %}
                <div class="control-group">
                    <label>
                        {% blocktrans with author.get_display_name as author_name %}
                            Starting post by {{ author_name }}
                        {% endblocktrans %}
                    </label>

                    <div class="post-preview well form-control">
                        {{ post.body_html|safe|truncatewords_html:20 }}
                    </div>
                </div>
            {% endif %}

            {% include "pybb/form_errors.html" %}

            {% if form.move_to %} {% include "pybb/form_field.html" with field=form.move_to %} {% endif %}
            {% if form.number %} {% include "pybb/form_field.html" with field=form.number %} {% endif %}
            {% if form.name %} {% include "pybb/form_field.html" with field=form.name %} {% endif %}
            {% if form.slug %} {% include "pybb/form_field.html" with field=form.slug %} {% endif %}
        </fieldset>

        <div class="form-actions">
            <a class="btn" href="{{ post.get_absolute_url }}">{% trans 'Cancel' %}</a>

            <button type="submit" class="btn btn-danger {%  button_loading_class %}">
                {% if post.is_topic_head %}
                    {% trans 'Move this topic' %}
                {% else %}
                    {% trans "Split posts" %}
                {% endif %}

                {% button_loading_indicator %}
            </button>
        </div>
    </form>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_move_to').select2({
                theme: "flat",
                ajax: {
                    url: '/api/v2/forum/forum/select2/',
                    dataType: 'json',
                    delay: 250,
                    transport: function (params, success, failure) {
                        params.timeout = 5000;

                        const $request = $.ajax(params);

                        $request.then(success);
                        $request.fail(failure);

                        return $request;
                    },
                    data: function (params) {
                        const query = {
                            page: params.page || 1,
                        };

                        if (params.term) {
                            query.q = params.term;
                        }

                        return query;
                    },
                    processResults: function (data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // adjust the data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;

                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * {{ REST_FRAMEWORK_PAGE_SIZE }}) < data.totalCount
                            }
                        };
                    },
                    cache: true
                },
                placeholder: '{% trans "Select..." %}',
                minimumInputLength: 0,
                scroll: true,
                scrollThreshold: 0.5
            });
        });
    </script>
{% endblock %}
