{% load i18n %}

{% if is_paginated %}
    <div class="pagination">
        <ul>
            <li class="prev {% if not page_obj.has_previous %}disabled{% endif %}">
                <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">&lt;</a>
            </li>
            <li class="next {% if not page_obj.has_next %}disabled{% endif %}">
                <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" >&gt;</a>
            </li>
        </ul>
    </div>
{% endif %}
