{% load i18n %}
{% load static %}

{% load avatar_tags %}
{% load pybb_tags %}
{% load bbcode_tags %}

{% load astrobin_apps_users_tags %}
{% load common_tags %}
{% load toggleproperty_tags %}
{% load tags %}


{% pybb_get_profile user=post.user as post_user_profile %}
{% pybb_get_profile user=user as user_profile %}

<a class="anchor" name="post-{{ post.id }}"></a> {# may be remove this string? #}

<table class="table post {% if post.on_moderation %}on-moderation{% endif %}" id="post-{{ post.id }}">
    <thead class="post-header">
    <tr>
    <th>
        <div class="hidden-phone">
            {% avatar post.user 60 %}
        </div>
        <div class="post-author">
            {% astrobin_username post.user %}
            {% show_competitive_feature request.user post.user as show_competitive_feature %}
            {% if show_competitive_feature or request.user.is_superuser %}
                <span class="contribution-index" rel="tooltip" title="{% trans 'Contribution Index' %} {% trans '(beta)' %}">
                    {{ post.user|contribution_index|floatformat:2 }}
                </span>
            {% endif %}
        </div>
        <div class="post-updated">
            <a class="permalink" href="{{ post.get_absolute_url }}">#</a>
            {% pybb_time post.created %}
        </div>
        <div class="post-likes">
            {% toggleproperties_for_object 'like' post as likes_count %}
            {{ likes_count }}
            {% if likes_count == 1 %}
                {% trans "like" context "Noun, e.g. 'This element has 1 like'" %}
            {% else %}
                {% trans "likes" context "Noun, e.g. 'This element has 10 likes'" %}
            {% endif %}
        </div>
    </th>
    </tr>
    </thead>
    <tbody>
    {% if post.on_moderation %}
    <tr class="alert alert-warning">
        <td>
            {% trans "Warning: this post awaits moderation and is not yet visible to everybody" %}
        </td>
    </tr>
    {% endif %}
    <tr class="post-row">
        <td class="post-content">
            {{ post.body|bbcode|safe }}

            {% if not user.is_authenticated or user_profile.show_signatures %}
                {% if post_user_profile.signature %}
                    <div class="post-signature">
                        {{ post_user_profile.signature_html|safe }}
                    </div>
                {% endif %}
            {% endif %}
            {% if post.updated %}
                <div class="updated-message">{% trans "Edited" %} {% pybb_time post.updated %}</div>
            {% endif %}

            <div class="post-related">
                {% if user|pybb_may_create_post:post.topic %}
                    <a href="{% url 'pybb:add_post' topic.id %}?quote_id={{ post.id }}"
                       class="btn btn-mini bb-quote-link">
                        <i class="icon-comment"></i> {% trans "quote" %}
                    </a>
                    <a href="#" class="btn btn-mini bb-quote-selected-link">
                        <i class="icon-quote-right"></i> {% trans "quote selected" %}
                    </a>
                {% endif %}

                {% if post|pybb_posted_by:user or user.is_moderator %}
                    {% if post.created|more_recent_than:86400 or user.is_moderator %}
                        <a href="{% url 'pybb:edit_post' pk=post.id %}"
                           class="btn btn-mini btn-primary">
                            <i class="icon-pencil"></i> {% trans "Edit" %}
                        </a>
                    {% else %}
                        <a data-toggle="modal"
                           href="#post-editing-not-allowed-modal"
                           class="btn btn-mini btn-primary disabled">
                            <i class="icon-pencil"></i> {% trans "Edit" %}
                        </a>
                    {% endif %}
                {% endif %}

                {% if not post|pybb_posted_by:user or user.is_superuser %}
                    {% if READONLY_MODE %}
                        <span class="toggleproperty-add-remove property-like">
                            <a class="btn btn-primary disabled" data-toggle="modal" href="#readonly-mode-modal">
                                <i class="icon-thumbs-up"></i>
                                <span class="toggleproperties-label">
                                    {% trans "Like" %} / {% trans "Unlike" %}
                                </span>
                            </a>
                        </span>
                    {% elif not user|can_like:post %}
                        {% if user|can_like_reason:post == "INDEX" %}
                            <span class="toggleproperty-add-remove property-like">
                                <a class="btn btn-primary disabled" data-toggle="modal" href="#cant-like">
                                    <i class="icon-thumbs-up"></i>
                                    <span class="toggleproperties-label">
                                        {% trans "Like" %}
                                    </span>
                                </a>
                            </span>
                        {% elif user|can_like_reason:post == "TOPIC_CLOSED" %}
                            <span class="toggleproperty-add-remove property-like">
                                <a class="btn btn-primary disabled" data-toggle="modal" href="#cant-like-topic-closed">
                                    <i class="icon-thumbs-up"></i>
                                    <span class="toggleproperties-label">
                                        {% trans "Like" %}
                                    </span>
                                </a>
                            </span>
                        {% elif user|can_like_reason:post == "ANONYMOUS" %}
                            <span class="toggleproperty-add-remove property-like">
                                <a class="btn btn-primary disabled"
                                   href="{% url 'auth_login' %}?next={{ request.path }}">
                                    <i class="icon-thumbs-up"></i>
                                    <span class="toggleproperties-label">
                                        {% trans "Like" %}
                                    </span>
                                </a>
                            </span>
                        {% endif %}
                    {% else %}
                        {% setvar request.user|can_like:post as can_like %}
                        {% setvar request.user|can_unlike:post as can_unlike %}
                        {% add_remove_toggleproperty "like" post request.user can_add=can_like can_remove=can_unlike %}
                    {% endif %}
                {% endif %}

                {% if user.is_moderator %}
                    <a class="btn btn-mini btn-danger"
                       onclick="pybb_delete_post('{% url 'pybb:delete_post' post.id %}', 'post-{{ post.id }}', '{% trans 'Delete post?' %}'); return false;"
                       href="{% url 'pybb:delete_post' post.id %}">
                        <i class="icon-trash"></i> {% trans "Delete" %}
                    </a>
                    {% if post.on_moderation %}
                        <a class="btn btn-mini btn-success"
                           href="{% url 'pybb:moderate_post' pk=post.id %}">
                            <i class="icon-ok"></i> {% trans "Approve post" %}
                        </a>
                    {% endif %}
                {% endif %}

                {% if perms.pybb.change_post and user.is_superuser %}
                    <a class="btn btn-mini btn-danger"
                       href="{% url 'admin:pybb_post_change' post.id %}">
                        <i class="icon-legal"></i> {% trans 'Admin' %}
                    </a>
                {% endif %}
            </div>
        </td>
    </tr>
    </tbody>
</table>

{% block modals %}
    <div class="modal hide fade" id="post-editing-not-allowed-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{% trans "Sorry :-(" %}</h3>
        </div>
        <div class="modal-body">
            {% blocktrans trimmed with hours=24 %}
                Editing a post is only allowed within {{ hours }} hours after creating it.
            {% endblocktrans %}
        </div>
    </div>

    <div class="modal hide fade" id="cant-like-topic-closed">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3><i class="icon-frown"></i> {% trans "Sorry" %}</h3>
        </div>

        <div class="modal-body">
            {% blocktrans trimmed %}
                You cannot Like this post because the topic is closed.
            {% endblocktrans %}
        </div>

        <div class="modal-footer">
            <a class="btn btn-primary" data-dismiss="modal">{% trans "OK" %}</a>
        </div>
    </div>

    {% include 'image/detail/modals/cant_like.html' %}
    {% include 'image/detail/modals/cant_unlike.html' %}
{% endblock %}
