{% load i18n %}
{% load static %}

{% load avatar_tags %}
{% load pybb_tags %}

{% load astrobin_apps_users_tags %}
{% load common_tags %}


{% pybb_get_profile user=post.user as post_user_profile %}
{% pybb_get_profile user=user as user_profile %}

<a class="anchor" name="post-{{ post.id }}"></a> {# may be remove this string? #}

<table class="table post {% if post.on_moderation %}on-moderation{% endif %}" id="post-{{ post.id }}">
    <thead class="post-header">
    <tr>
    <th>
        <div class="hidden-phone">
            {% avatar post.user 60 %}
        </div>
        <div class="post-author">
            {% astrobin_username post.user %}
        </div>
        <div class="post-updated">
            <a class="permalink" href="{{ post.get_absolute_url }}">#</a>
            {% pybb_time post.created %}
        </div>
    </th>
    </tr>
    </thead>
    <tbody>
    {% if post.on_moderation %}
    <tr class="alert alert-warning">
        <td>
            {% trans "Warning: this post awaits moderation and is not yet visible to everybody" %}
        </td>
    </tr>
    {% endif %}
    <tr class="post-row">
        <td class="post-content">
            {{ post.body_html|safe }}

            {% if not user.is_authenticated or user_profile.show_signatures %}
                {% if post_user_profile.signature %}
                    <div class="post-signature">
                        {{ post_user_profile.signature_html|safe }}
                    </div>
                {% endif %}
            {% endif %}
            {% if post.updated %}
                <div class="updated-message">{% trans "Edited" %} {% pybb_time post.updated %}</div>
            {% endif %}

            <div class="post-related">
                {% if user|pybb_may_create_post:post.topic %}
                    <a href="{% url 'pybb:add_post' topic.id %}?quote_id={{ post.id }}" class="btn btn-mini bb-quote-link">{% trans "quote" %}</a>
                    <a href="#" class="btn btn-mini bb-quote-selected-link">{% trans "quote selected" %}</a>
                {% endif %}

                {% if post|pybb_posted_by:user or user.is_moderator %}
                    {% if  post.created|more_recent_than:300 or user.is_moderator %}
                        <a href="{% url 'pybb:edit_post' pk=post.id %}"
                           class="btn btn-mini btn-primary">
                            {% trans "Edit" %}
                        </a>
                    {% else %}
                        <a data-toggle="modal"
                           href="#post-editing-not-allowed-modal"
                           class="btn btn-mini btn-primary disabled">
                            {% trans "Edit" %}
                        </a>
                    {% endif %}
                {% endif %}

                {% if user.is_moderator %}
                    <a class="btn btn-mini btn-danger" onclick="pybb_delete_post('{% url 'pybb:delete_post' post.id %}',
                            'post-{{ post.id }}', '{% trans 'Delete post?' %}'); return false;"
                       href="{% url 'pybb:delete_post' post.id %}">{% trans "Delete" %}</a>
                    {% if post.on_moderation %}
                        <a class="btn btn-mini btn-danger" href="{% url 'pybb:moderate_post' pk=post.id %}">{% trans "Approve post" %}</a>
                    {% endif %}
                {% endif %}

                {% if perms.pybb.change_post and user.is_staff %}
                    <a class="btn btn-mini btn-danger" href="{% url 'admin:pybb_post_change' post.id %}">{% trans 'Admin' %}</a>
                {% endif %}
            </div>
        </td>
    </tr>
    </tbody>
</table>

{% block modals %}
    <div class="modal hide fade" id="post-editing-not-allowed-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{% trans "Sorry :-(" %}</h3>
        </div>
        <div class="modal-body">
            {% blocktrans trimmed with minutes=5 %}
                Editing a post is only allowed within {{ minutes }} minutes after creating it.
            {% endblocktrans %}
        </div>
    </div>
{% endblock %}
