{% extends 'pybb/base.html' %}


{% load pybb_tags i18n %}

{% block title %}{% trans "Topics you subscribe to" %}{% endblock title %}

{% block container_extra_classes %}has-subnav{% endblock %}
{% block extra_alerts_container_extra_classes %}has-subnav{% endblock %}
{% block global_alerts_container_extra_classes %}has-subnav{% endblock %}

{% block breadcrumb %}
    {% with extra_crumb=_("Topics you subscribe to") %}
        {% include "pybb/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="subnav subnav-fixed">
            <ul class="nav nav-pills">
                <li>
                    <a href='{% url 'pybb:mark_all_as_read' %}'>
                        <i class="icon-check icon-white"></i>
                        {% trans "Mark all as read" %}
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}


    <div class="forum">
        {% if forum.headline %}
            <div class="forum-headline alert alert-block">
                {{ forum.headline|safe }}
            </div>
        {% endif %}

        {% include "pybb/topic_list.html" %}
        {% include "pagination_simple.html" %}
    </div>
{% endblock content %}
