{% load pybb_tags %}
{% load i18n %}

{% if topic.updated %}
    {% with topic.last_post as last_post %}
        {% if not last_post.user.userprofile.deleted %}
            <a href="{% url 'user_page' last_post.user %}">
                {{ last_post.user.userprofile.get_display_name|truncatechars:30 }}
            </a>
        {% else %}
            {% trans "(deleted)" %}
        {% endif %}

        <br />

        <a href="{{ last_post.get_absolute_url }}">
            {% pybb_time topic.updated %}
        </a>
    {% endwith %}
{% endif %}
