{% load i18n pybb_tags %}
{% load astrobin_apps_users_tags %}
{% load tags %}
{% load common_tags %}

<form method="post" action="{% url 'forum_moderation_mark_as_spam' %}">{% csrf_token %}
    <table class="table table-striped topic-list">
        <thead>
        <tr class="topic-row head-row">
            {% if request.user|is_forum_moderator %}
                <th class="topic-select">
                    &nbsp;
                </th>
            {% endif %}

            <th class="topic-state">
                &nbsp;
            </th>

            <th class="topic-name">
                {% if forum %}
                    {{ forum.name }}
                {% else %}
                    {% trans "Topic" %}
                {% endif %}
            </th>

            {% if forum %}
                <th class="topic-post-count hidden-tablet hidden-phone">
                    {% trans "Posts" %} / {% trans "Views" %}
                </th>
            {% endif %}

            <th class="topic-last-post hidden-phone ">
                {% trans "Last post" %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for topic in topic_list|pybb_topic_unread:user %}
            <tr class="topic-row {% if topic.sticky %} sticky {% endif %} {% cycle "odd" "even" %} {% if topic.on_moderation and user.is_superuser %} on-moderation {% endif %}">
                    {% if request.user|is_forum_moderator %}
                        <td class="topic-select">
                            <input type="checkbox" name="topic-ids[]" value="{{ topic.id }}">
                        </td>
                    {% endif %}

                    <td class="topic-state{% if topic.unread %} topic-unread{% endif %}">
                        <div class="state-indicator"></div>
                    </td>


                    <td class="topic-name{% if topic.unread %} topic-unread{% endif %}">
                        <a href="{{ topic.get_absolute_url }}">
                            {% if topic.poll_type %}
                                <span class="poll">[{% trans 'Poll' %}]</span>
                            {% endif %}
                            {{ topic.name|truncatechars:120 }}
                        </a>
                        {% if topic.sticky %} &nbsp;[{% trans "Sticky" %}] {% endif %}

                        {% if topic.closed %} &nbsp;[{% trans "Closed" %}] {% endif %}

                        <br/>

                        {% if not forum %}
                            <a href="{{ topic.forum.get_absolute_url }}">
                                {{ topic.forum.name }}
                            </a> &middot;
                        {% endif %}

                        {% if not topic.user.userprofile.deleted %}
                            <a href="{% url 'user_page' topic.user %}">
                                {{ topic.user.userprofile.get_display_name|truncatechars:30 }}
                            </a>
                        {% else %}
                            {% trans "(deleted)" %}
                        {% endif %}
                        &middot;
                        {% timestamp topic.created %}

                        {% with topic|pybb_topic_inline_pagination as pages %}
                            {% if pages|length > 1 %}
                                <span class="mini-pagination">
                                    {% for page in pages %}
                                        <span class="page">
                                            {% if page == "..." %}
                                                ...
                                            {% else %}
                                                <a href="{{ topic.get_absolute_url }}?page={{ page }}">{{ page }}</a>
                                            {% endif %}
                                        </span>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        {% endwith %}
                        <a href="{{ topic.get_absolute_url }}?first-unread=1" class="first-unread-post-link">&#8680;</a>
                    </td>

                    {% if forum %}
                        <td class="topic-post-count hidden-tablet hidden-phone">
                            {{ topic.post_count }} / {{ topic|pybbm_calc_topic_views }}
                        </td>
                    {% endif %}

                    <td class="topic-last-post hidden-phone">
                        {% include "pybb/topic_last_message_info.html" %}
                    </td>
                </tr>
        {% empty %}
            <tr>
                <td class="topic-state"></td>
                <td colspan="5" class="empty-table">
                    {% trans "This forum does not have any topics." %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if request.user|is_forum_moderator %}
        <div class="form-actions">
            <input type="submit" class="btn" value="{% trans "Mark as spam" %}" />
        </div>
    {% endif %}
</form>
