{% load i18n %}
{% load astrobin_apps_users_tags %}

<div class="modal hide fade" id="remove-ads-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3><i class="icon-gift"></i> {% trans "Donate to remove ads" %}</h3>
    </div>
    <div class="modal-body">
        <p>
            {% blocktrans %}Although we have tried to keep AstroBin ad free, as of right now the only way we can keep the website running is with commercial support by advertisers.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}The ads you will see on AstroBin are related to astronomy and astrophotography only. They come from legitimate advertisers whose business we support, and each image and word is reviewed and approved before it's published. {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}AstroBin will not share any personal information about you to its advertisers. {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}However, if you still feel that you would rather not see these ads, we kindly ask you for a small donation that can keep our servers running and help with the hosting costs. AstroBin stores images at full size and with no limitation, because quality is important when it comes to astrophotography. But such files can be large, and bandwidth is expensive. {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}Please donate any amount you want, by subscribing with a recurring monthly payment. Options are $2, $5, $10 and $20 per month.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}If you donate, you will not be shown ads anymore. Furthermore, if you pick the $20/month option, nobody at all will see ads on your image pages.{% endblocktrans %}
        </p>
    </div>

    <div class="modal-footer">
        <span class="pull-left">{% trans "How much is AstroBin worth to you?" %}</span>
        <a class="btn btn-primary" href="#">{% trans "Please donate!" %}</a>
    </div>
</div>

