{% load i18n %}
{% load astrobin_apps_users_tags %}

<div class="modal hide fade" id="remove-ads-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3><i class="icon-gift"></i> {% trans "Donate to remove ads" %}</h3>
    </div>
    <div class="modal-body">
        <p>
            {% blocktrans %}Although we have tried to keep AstroBin ad free, as of right now the only way we can keep the website running is with commercial support by advertisers.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}The ads you will see on AstroBin are related to astronomy and astrophotography only. They come from legitimate advertisers whose business we support, and each image and word is reviewed and approved before it's published. AstroBin will not share any personal information about you to its advertisers.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}However, if you still feel that you would rather not see these ads, we kindly ask you for a small donation. It will keep our servers running and help with the hosting costs. AstroBin stores images at full size and with no limitation, because quality is important when it comes to astrophotography. But such files can be large, and bandwidth is expensive. {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}Please donate any amount you want, selecting from the options below, by subscribing with a recurring monthly payment. If you donate, you will not be shown ads anymore.{% endblocktrans %}
        </p>
    </div>

    <div class="modal-footer">

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="form-inline form-donate">
            <input type="hidden" name="cmd" value="_s-xclick"/>
            <input type="hidden" name="hosted_button_id" value="E5CR76YQ8BPY8"/>
            <input type="hidden" name="currency_code" value="USD"/>
            <input type="hidden" name="on0" value="What is AstroBin worth to you?"/>

            <label for="os0">
                {% trans "What is AstroBin worth to you?" %}
            </label>

            <select name="os0">
                <option value="A coffee">{% trans "A coffee" %}:      $2.00 USD - {% trans "monthly" %}</option>
                <option value="A snack"> {% trans "A snack"  %}:      $3.00 USD - {% trans "monthly" %}</option>
                <option value="A pizza"> {% trans "A pizza"  %}:      $5.00 USD - {% trans "monthly" %}</option>
                <option value="A movie night"> {% trans "A movie night" %}: $10.00 USD - {% trans "monthly" %}</option>
            </select>

            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" class="button"/>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
        </form>

    </div>
</div>

