{% load i18n %}
{% load tags %}
{% load common_tags %}
{% load toggleproperty_tags %}

{% if image and request.user|can_like:image %}
    {% if READONLY_MODE %}
        <span class="toggleproperty-add-remove property-like">
            <button
                class="btn btn-primary disabled"
                data-toggle="modal"
                data-target="#readonly-mode-modal"
                title="{% trans "AstroBin is in READ ONLY mode "%}">
                <i class="icon-thumbs-up"></i>
            </button>
        </span>
    {% else %}
        {% setvar request.user|can_like:image as can_like %}
        {% setvar request.user|can_unlike:image as can_unlike %}
        {% add_remove_toggleproperty "like" image request.user can_add=can_like can_remove=can_unlike %}
    {% endif %}
{% endif %}
