{% load astrobin_apps_premium_tags %}
{% load astrobin_apps_images_tags %}
{% load avatar_tags %}
{% load cache %}
{% load i18n %}
{% load tags %}
{% load common_tags %}
{% load staticfiles %}

{% if action.verb|startswith:"VERB_" and user.username != '' %}

<div class="action"
     id="{{action.verb}}.{{action.actor.pk}}.{{action.action_object.pk}}{% if action.target %}.{{action.target.pk}}{% endif %}">

    {% comment %}
      The like mini-button is outside of the cache section because we cache for all
      users with the same language, but the like button is the only thing that is
      user specific there.
    {% endcomment %}
    {% if action.action_object|get_class == 'Image' %}
        {% with image=action.action_object %}
            {% include 'actstream/_action_image_like.html' %}
        {% endwith %}
    {% endif %}

    {% if action.target|get_class == 'Image' %}
        {% with image=action.target %}
            {% include 'actstream/_action_image_like.html' %}
        {% endwith %}
    {% endif %}

    {% cache 600 actstream_action action.verb action.actor action.action_object action.target user_language %}

    {% if action.verb == 'VERB_UPLOADED_IMAGE' %}
        {% with image=action.action_object user=action.actor %}
            {% include 'actstream/_action_avatar.html' %}
            <div class="action-object has-like-button has-avatar">
                <div class="verb">
                    <div class="inner">
                        {% url 'user_page' user.username as user_page %}
                        {% blocktrans with user_page as user_page and user.userprofile as user and image.title as title %}
                            <a href="{{user_page}}">{{user}}</a> uploaded a new image.
                        {% endblocktrans %}
                    </div>
                </div>
                {% astrobin_image image 'story' nav_ctx='user' request=request %}
                {% include 'actstream/_action_image_title.html' %}
            </div>
        {% endwith %}
    {% endif %}

    {% if action.verb == 'VERB_UPLOADED_REVISION' %}
        {% with revision=action.action_object image=action.action_object.image user=action.actor %}
            {% include 'actstream/_action_avatar.html' %}
            <div class="action-object has-like-button has-avatar">
                <div class="verb">
                    <div class="inner">
                        {% url 'user_page' user.username as user_page %}
                        {% blocktrans with user_page as user_page and user.userprofile as user and image.title as title %}
                            <a href="{{user_page}}">{{user}}</a> uploaded a new image revision.
                        {% endblocktrans %}
                    </div>
                </div>
                {% astrobin_image image 'story' revision=revision.label nav_ctx='user' request=request %}
                {% include 'actstream/_action_image_title.html' %}
            </div>
        {% endwith %}
    {% endif %}

    {% if action.verb == 'VERB_LIKED_IMAGE' %}
        {% with image=action.action_object user=action.actor %}
            {% include 'actstream/_action_avatar.html' %}
            <div class="action-object has-like-button has-avatar">
                <div class="verb">
                    <div class="inner">
                        {% url 'user_page' user.username as user_page %}
                        {% if image.likes > 1 %}
                            {% blocktrans with user_page as user_page and user.userprofile as user and image.title as title and image.likes|add:"-1" as count %}
                                <a href="{{user_page}}">{{user}}</a> and {{count}} others like this image.
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with user_page as user_page and user.userprofile as user and image.title as title %}
                                <a href="{{user_page}}">{{user}}</a> likes this image.
                            {% endblocktrans %}
                        {% endif %}
                    </div>
                </div>
                {% astrobin_image image 'story' nav_ctx='user' request=request %}
                {% include 'actstream/_action_image_title.html' %}
            </div>
        {% endwith %}
    {% endif %}

    {% if action.verb == 'VERB_BOOKMARKED_IMAGE' %}
        {% with image=action.action_object user=action.actor %}
            {% include 'actstream/_action_avatar.html' %}
            <div class="action-object has-like-button has-avatar">
                <div class="verb">
                    <div class="inner">
                        {% url 'user_page' user.username as user_page %}
                        {% if image.bookmarks > 1 %}
                            {% blocktrans with user_page as user_page and user.userprofile as user and image.title as title and image.bookmarks|add:"-1" as count %}
                                <a href="{{user_page}}">{{user}}</a> and {{count}} others bookmarked this image.
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with user_page as user_page and user.userprofile as user and image.title as title %}
                                <a href="{{user_page}}">{{user}}</a> bookmarked this image.
                            {% endblocktrans %}
                        {% endif %}
                    </div>
                </div>
                {% astrobin_image image 'story' nav_ctx='user' request=request %}
                {% include 'actstream/_action_image_title.html' %}
            </div>
        {% endwith %}
    {% endif %}

    {% if action.verb == 'VERB_COMMENTED_IMAGE' %}
        {% with comment=action.action_object distinct_commenters=action.target.comments_by_distinct_users image=action.target user=action.actor %}
            {% include 'actstream/_action_avatar.html' %}
            <div class="action-object has-like-button has-avatar">
                <div class="verb">
                    <div class="inner">
                        {% url 'user_page' user.username as user_page %}
                        {% if distinct_commenters > 1 %}
                            {% blocktrans with user_page as user_page and user.userprofile as user and image.title as title and distinct_commenters|add:"-1" as count %}
                                <a href="{{user_page}}">{{user}}</a> and {{count}} others commented this image.
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with user_page as user_page and user.userprofile as user and image.title as title %}
                                <a href="{{user_page}}">{{user}}</a> commented this image.
                            {% endblocktrans %}
                        {% endif %}

                        <div class="detail">
                            "{{comment.text}}"
                        </div>
                    </div>
                </div>
                {% astrobin_image image 'story' nav_ctx='user' request=request %}
                {% include 'actstream/_action_image_title.html' %}
            </div>
        {% endwith %}
    {% endif %}

    {% if action.verb == 'VERB_CREATED_PUBLIC_GROUP' %}
        {% with group=action.action_object user=action.actor %}
            {% include 'actstream/_action_avatar.html' %}
            <div class="action-object">
                <div class="verb">
                    <div class="inner">
                        {% url 'user_page' user.username as user_page %}
                        {% blocktrans with user_page as user_page and user.userprofile as user and image.title as title %}
                            <a href="{{user_page}}">{{user}}</a> created a new public group.
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="astrobin-image-container">
                    <a href="{% url 'group_detail' group.pk %}">
                        <img src="{% static 'astrobin/images/actstream-group-action.png' %}" alt="Group action" />
                    </a>
                </div>
                <div class="title hidden-phone hidden-tablet">
                    <div class="inner">
                        {{group.name}}
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endif %}

    {% if action.verb == 'VERB_JOINED_GROUP' %}
        {% with group=action.action_object user=action.actor %}
            {% include 'actstream/_action_avatar.html' %}
            <div class="action-object">
                <div class="verb">
                    <div class="inner">
                        {% url 'user_page' user.username as user_page %}
                        {% blocktrans with user_page as user_page and user.userprofile as user and image.title as title %}
                            <a href="{{user_page}}">{{user}}</a> joined a group.
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="astrobin-image-container">
                    <a href="{% url 'group_detail' group.pk %}">
                        <img src="{% static 'astrobin/images/actstream-group-action.png' %}" alt="Group action" />
                    </a>
                </div>
                <div class="title hidden-phone hidden-tablet">
                    <div class="inner">
                        {{group.name}}
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endif %}

    {% endcache %}

</div> <!-- action -->

{% endif %} {# action strts with VERB_ #}
