{% extends "base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}


{% block title %}{% trans "Your profile is now active." %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Accounts' None %}
    {% breadcrumb 'Activated' None %}
{% endblock %}

{% block extra_gtag %}
    {% if GOOGLE_ADS_ID != "invalid" %}
        <!-- Event snippet for Sign-up conversion page -->
        <script type="text/javascript">
            gtag('event', 'conversion', {'send_to': '{{ GOOGLE_ADS_ID }}/qFlnCMarhtEBEJrDxfoD'});
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        {% trans "Your profile is now active." %} {% trans "Thank you!" %}
    </p>

    <a class="btn btn-primary" href="{% url 'auth_login' %}">
        {% trans "Login" %}.
    </a>
{% endblock %}
