{% extends "base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}


{% block title %}{% trans "Account activation" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Accounts' None %}
    {% breadcrumb 'Activation' None %}
{% endblock %}

{% block content %}
    {% if account %}
        <h1>
            {% trans "Account successfully activated" %}
            <small>{% trans "You have been logged in automatically." %}</small>
        </h1>
        
        {% if request.GET.next %}
            <p>{% trans "You'll be redirected momentarily..." %}</p>
            <script>
                // Redirect to the 'next' URL after a short delay
                setTimeout(function() {
                    window.location.href = "{{ request.GET.next }}";
                }, 2000); // 2 second delay
            </script>
        {% else %}
            <p>
                <a class="btn btn-primary btn-block-mobile" href="/">
                    {% trans "Go to homepage" %}
                </a>
            </p>
        {% endif %}
    {% else %}
        <h1>
            {% trans "Account activation failed" %}

            <small>
                {% blocktrans trimmed %}
                    This could mean that your activation link expired, is invalid, or you clicked it more than once (in
                    which case, please try to log in: your account could be already active).
                {% endblocktrans %}
            </small>
        </h1>
        
        <p>
            <a class="btn btn-primary btn-block-mobile" href="{% url 'auth_login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
                {% trans "Log in" %}
            </a>
        </p>
    {% endif %}
{% endblock %}
