{% extends "base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}


{% block title %}{% trans "Account activation" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Accounts' None %}
    {% breadcrumb 'Activation' None %}
{% endblock %}

{% block content %}
    {% if account %}
        <h1>{% trans "Account successfully activated" %}</h1>
    {% else %}
        <h1>
            {% trans "Account activation failed" %}

            <small>
                {% blocktrans trimmed %}
                    This could mean that your activation link expired, is invalid, or you clicked it more than once (in
                    which case, please try to log in: your account could be already active).
                {% endblocktrans %}
            </small>
        </h1>
    {% endif %}

    <p>
        <a class="btn btn-primary btn-block-mobile" href="{% url 'auth_login' %}">
            {% trans "Log in" %}
        </a>
    </p>
{% endblock %}
