{% extends "base.html" %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}


{% block title %}{% trans "Reset password" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Account' None %}
    {% breadcrumb 'Reset password' 'password_reset' %}
{% endblock %}

{% block content %}
    <h1>{% trans "Reset password" %}</h1>

    <form class="form-horizontal" method="post" action="">{% csrf_token %}
        {{ form|as_bootstrap }}

        <div class="form-actions">
            <input class="btn btn-primary btn-block-mobile" type="submit" value="{% trans 'Submit' %}" />
        </div>
    </form>
{% endblock %}
