{% extends "base.html" %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}

{% block title %}{% trans "Change your password" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Account' None %}
    {% breadcrumb 'Password change' 'password_change' %}
{% endblock %}

{% block content %}
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
        <h1>{% trans "Change your password" %}</h1>
        
        {% if request.user.userprofile.detected_insecure_password and request.GET.token != request.user.userprofile.password_reset_token %}
            <p>
                {% url 'contact' as contact_url %}
                {% blocktrans trimmed %}
                    As AstroBin has detected that your current password is insecure, you may not change it yourself.
                    Please <a href="{{ contact_url }}">contact us</a> to request a password reset.
                {% endblocktrans %}
            </p>
        {% else %}
            <form class="form-horizontal" method="post" action="">{% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-actions">
                    <button class="btn btn-primary btn-block-mobile {% button_loading_class %}" type="submit">
                        {% trans 'Submit' %}
                        {% button_loading_indicator %}
                    </button>
                </div>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
