{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="info-side-bar">
    <p>{% trans "Password reset" %}</p>
</div>

<div class="sided-main-content">
    <h1>{% trans "Password reset confirmation" %}</h1>
{% if validlink %}
    <form method="post" action=".">{% csrf_token %}
      {{ form.as_p }}

      <input class="button submit-button" type="submit" value="{% trans 'Submit' %}" />
    </form>
{% else %}
    <p>{% trans "Password reset failed" %}</p>
{% endif %}
</div>
{% endblock %}
