{% extends "base.html" %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}


{% block title %}{% trans "Password reset confirmation" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Account' None %}
    {% breadcrumb 'Reset password' 'password_reset' %}
    {% breadcrumb 'Confirm' None %}
{% endblock %}

{% block content %}
    <h1>{% trans "Password reset confirmation" %}</h1>
    {% if validlink %}
        <form method="post" action="">{% csrf_token %}
            {{ form|as_bootstrap }}

            <div class="form-actions">
                <input class="btn btn-primary btn-block-mobile" type="submit" value="{% trans 'Submit' %}" />
            </div>
        </form>
    {% else %}
        <p>{% trans "Password reset failed" %}</p>
    {% endif %}
{% endblock %}
