{% extends "base.html" %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Account' None %}
    {% breadcrumb 'Reset password' 'password_reset' %}
{% endblock %}

{% block content %}
    <h1>{% trans "Reset password" %}</h1>
    <p class="well">
        {% trans "Did you forget your password or just want to reset it?" %}
        {% trans "Please use the text field below to tell us the email address with which you signed up with AstroBin." %}
    </p>

    <form class="form-horizontal" method="post" action="">{% csrf_token %}
        {{ form|as_bootstrap }}

        <div class="form-actions">
            <button class="btn btn-primary btn-block-mobile {% button_loading_class %}" type="submit">
                {% trans 'Submit' %}
                {% button_loading_indicator %}
            </button>
        </div>
    </form>
{% endblock %}
