{% extends "base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}


{% block title %}{% trans "Email with password reset instructions has been sent." %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Account' None %}
    {% breadcrumb 'Reset password' 'password_reset' %}
    {% breadcrumb 'Done' None %}
{% endblock %}

{% block content %}
    <h1>{% trans "Thank you!" %}</h1>
    <p>
        {% trans "We sent you an email with a link to reset your password. Please check your inbox and spam folder!" %}
    </p>
{% endblock %}

