{% extends "base.html" %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}

{% block title %}{% trans "Password reset confirmation" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Account' None %}
    {% breadcrumb 'Reset password' 'password_reset' %}
    {% breadcrumb 'Confirm' None %}
{% endblock %}

{% block content %}
    <h1>{% trans "Password reset confirmation" %}</h1>
    {% if validlink %}
        <form class="form-horizontal" method="post" action="">{% csrf_token %}
            {{ form|as_bootstrap }}

            <div class="form-actions">
                <button class="btn btn-primary btn-block-mobile {% button_loading_class %}" type="submit">
                    {% trans 'Submit' %}
                    {% button_loading_indicator %}
                </button>
            </div>
        </form>
    {% else %}
        <p>{% trans "Password reset failed" %}</p>
    {% endif %}
{% endblock %}
