{% extends "base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}


{% block title %}{% trans "Registration completed" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Account' None %}
    {% breadcrumb 'Registration completed' None %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "Registration completed" %}
            <small>{% trans "You are now registered" %}</small>
        </h1>
    </div>

    <p>
        {% blocktrans %}To confirm your e-mail address, we have sent you an e-mail with an activation
            link.{% endblocktrans %}
    </p>

    <div class="alert alert-warning">
        {% blocktrans %}If you don't receive the e-mail within a few minutes, remember to check your spam
            folder.{% endblocktrans %}
    </div>
{% endblock %}
