{% extends "base.html" %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}

{% block title %}{% trans "Register with AstroBin" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Account' None %}
    {% breadcrumb 'Register with AstroBin' None %}
{% endblock %}

{% block content %}
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
        <h1>{% trans "Register with AstroBin" %}</h1>
        <div class="well">
            {% blocktrans %}By registering with AstroBin, you agree to our <a href="https://welcome.astrobin.com/terms-of-service">terms of service</a>.{% endblocktrans %}
        </div>

        <form class="form-horizontal" method="post" action="">{% csrf_token %}
            {{ form|as_bootstrap }}

            <div class="form-actions">
                <button class="btn btn-primary btn-block-mobile {% button_loading_class %}" type="submit">
                    {% trans "Submit" %}
                    {% button_loading_indicator %}
                </button>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }

        $(document).ready(function () {
            var referral = getUrlParameter('r');
            var $el = $('#id_referral_code');

            if ($el.val() === '') {
                $el.val(referral);
            }
        });
    </script>
{% endblock %}
