{% extends "base.html" %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}


{% block title %}{% trans "Register with AstroBin" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Account' None %}
    {% breadcrumb 'Register with AstroBin' None %}
{% endblock %}

{% block content %}
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
        <h1>{% trans "Register with AstroBin" %}</h1>
        <div class="well">
            {% blocktrans %}By registering with AstroBin, you agree to our <a href="https://welcome.astrobin.com/terms-of-service">terms of service</a>.{% endblocktrans %}
        </div>

        <form class="form-horizontal" method="post" action="">{% csrf_token %}
            {{ form|as_bootstrap }}

            <div class="form-actions">
                <input class="btn btn-primary btn-block-mobile" type="submit" value="{% trans 'Submit' %}" />
            </div>
        </form>
    {% endif %}
{% endblock %}
