{% extends "base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Join AstroBin" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Account' None %}
    {% breadcrumb 'Join AstroBin' None %}
{% endblock %}

{% block content %}
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
        <h1 style="margin-bottom: 5rem">
            {% trans "Join AstroBin" %}

            <small>{% trans "One small click for you, one giant leap for your astrophotography!" %} 🚀</small>
        </h1>

        {% crispy form %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }

        $(document).ready(function () {
            var referral = getUrlParameter('r');
            var $el = $('#id_referral_code');

            if ($el.val() === '') {
                $el.val(referral);
            }
        });
    </script>
{% endblock %}
