{% load i18n %}

<p>
    {% blocktrans trimmed with user=user make=legacy_item.make name=legacy_item.name %}
        <a href="{{ user_url }}">{{ user }}</a> approved the equipment item for
        <em><strong>{{ make }}</strong> {{ name }}</em>
        that you created.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
        The migrations is now staged for execution and will be applied at a later time.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans %}Proposed strategy{% endblocktrans %}: <strong>{{ migration_flag }}</strong>
</p>

{% if target_item %}
    <p>
        {% blocktrans %}Target item{% endblocktrans %}: <a href="{{ target_url }}">{{ target_item }}</a>
    </p>
{% endif %}

<p>
    {% blocktrans trimmed %}
        Thanks for your cooperation!
    {% endblocktrans %}
</p>
