{% extends 'base.html' %}

{% load i18n tags bootstrap_toolkit avatar_tags markup %}

{% block title %}AstroBin - {% gear_name gear %}{% endblock %}

{% block content %}
    <div class="gear-page">
        <h1>{% gear_name gear %}</h1>
        {% if gear.commercial and gear.commercial.tagline %}
            <h4>{{gear.commercial.tagline}}</h4>
        {% endif %}
        {% if gear.commercial and gear.commercial.link %}
            <a class="commercial-link" href="{{gear.commercial.link}}" target="_blank">{{gear.commercial.link}}</a>
        {% endif %}

        <div class="commercial">
            <div class="row section">
                <div class="span8">
                    {% if gear.commercial and gear.commercial.image %}
                        {% with gear.commercial.image as image %}
                            <img src="http://{{s3_url}}/{{bucket_name}}/{{image.filename}}{{image.original_ext}}"
                                 alt="{{image.title|escape}}"/>
                        {% endwith %}
                    {% else %}
                        <div class="subtle-container">
                            <div style="font-size: 30px; padding: 40px; text-align: center;">
                                <i class="icon-question-sign"></i>
                                {% trans "No image" %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="span4">
                    <div class="subtle-container">
                        <div class="header">
                            <h4><i class="icon-tags"></i> {% trans "Properties" %}</h4>
                        </div>
                        <table class="table">
                            <tr>
                                <th>{% trans "Type" %}</th>
                                <td>{% gear_type gear %}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Make" %}</th>
                                <td><a href="/search/?q={{gear.make}}{% search_form_query %}&amp;search_type=3">{{gear.make}}</a></td>
                            </tr>
                            {% for attribute in attributes %}
                                {% if attribute.1 %}
                                    <tr>
                                        <th>{{attribute.0}}</th>
                                        <td>{{attribute.1}}{% if attribute.2 %} {{attribute.2|safe}}{% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <th>{% trans "Owners" %}</th>
                                <td>{{owners_count}}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Images" %}</th>
                                <td>{{images_count}}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Reviews" %}</th>
                                <td>{{reviews|length}}</td>
                            </tr>
                             <tr>
                                <th>{% trans "Comments" %}</th>
                                <td>{{comments|length}}</td>
                            </tr>
                        </table>
                    </div>

                    {% if gear.retailed.all %}
                        <div class="subtle-container">
                            <div class="header">
                                <h4><i class="icon-credit-card"></i> {% trans "Buy it here" %}</h4>
                            </div>
                            <table class="table">
                                {% for retailed in gear.retailed.all %}
                                    {% with retailed.retailer.userprofile_set.all.0 as profile %}
                                        {% if profile.company_name %}
                                            <tr>
                                                <th>
                                                    <div class="company-name">
                                                        {% if profile.company_website %}
                                                            <a href="{{profile.company_website}}" target="_blank"
                                                               rel="tooltip" title="{{profile.company_website}}">
                                                        {% endif %}
                                                            {{profile.company_name}}
                                                        {% if profile.company_website %}
                                                            </a>
                                                        {% endif %}
                                                    <div class="reailer-country">
                                                        {% if profile.retailer_country %}
                                                            {% trans profile.get_retailer_country_display %}
                                                        {% endif %}
                                                    </div>
                                                </th>
                                                <td>
                                                    {{retailed.price|default:"-"}}
                                                    {% if retailed.price %}
                                                        {{retailed.currency}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if retailed.link %}
                                                        <a href="{{retailed.link}}" target="_blank" rel="tooltip" title="{{retailed.link}}">
                                                    {% endif %}
                                                        <i class="icon-link"></i>
                                                    {% if retailed.link %}
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if gear.commercial and commercial_image_revisions %}
            <div class="row">
                <div class="span8">
                    <div class="subtle-container">
                        <div class="header">
                            <h4><i class="icon-picture"></i> {% trans "Other images" %}</h4>
                        </div>
                        {% for r in commercial_image_revisions %}
                            <a href="{% url image_detail r.image.id r.label %}" target="{{r.image.id}}_{{r.label}}">
                                <img src="http://{{s3_url}}/{{bucket_name}}/{{r.filename}}_small_thumb{{r.original_ext}}"
                                     alt="{{r.image.title|escape}}"/>
                             </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        {% if gear.commercial and gear.commercial.description %}
        <div class="row">
            <div class="span8">
                <div class="subtle-container">
                    <div class="header">
                        <h4><i class="icon-align-left"></i> {% trans "Producer's description" %}</h4>
                    </div>
                    {{gear.commercial.description|markdown|linebreaks}}
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="span12">
                {% if examples %}
                    <div class="subtle-container">
                        <div class="header">
                            <h4>
                                <i class="icon-picture"></i>
                                {% trans "Some images" %}
                                <a href="/search/?q={% gear_name gear %}{% search_form_query %}">
                                    {% trans "(view more)" %}
                                </a>
                            </h4>
                        </div>
                        {% image_list request examples 0 87 %}
                    </div>
                {% endif %}

                <div class="subtle-container">
                    <div class="header">
                        <h4><i class="icon-bar-chart"></i> {% trans "Total images" %}</h4>
                    </div>
                    <div id="stats_total_images" class="plot" style="width:900px; height: 200px;">
                        <div class="loading">
                            <p>{% trans "Please wait: the plot is loading..." %}</p>
                            <img alt="{% trans "Loading..." %}" src="{{STATIC_URL}}images/ajax-loader.gif" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="span6">
                <div class="reviews subtle-container">
                    <div class="header"><h4><i class="icon-star-empty"></i> {% trans "Reviews" %}</h4></div>
                    <p>
                        {% if request.user.is_authenticated %}
                            {% blocktrans %}Please be fair, honest and polite when writing a review. Many people will read your review: all the users on AstroBin who own this piece of gear, will be notified of your review.{% endblocktrans %}
                        {% else %}
                            {% blocktrans %}Please <a href="/accounts/login/">login</a> or <a href="/accounts/register/">register</a> to write a review.{% endblocktrans %}
                        {% endif %}
                    </p>

                    {% for review in reviews %}
                        <div id="r{{review.id}}" class="review">
                            <div class="avatar">
                                <a href="{% url user_page review.user %}">
                                    {% avatar review.user 32 %}
                                </a>
                            </div>

                            <div class="meta">
                                <a class="author" href="{% url user_page review.user %}">
                                    {{review.user}}
                                </a>
                                {{review.date_added|ago}}
                            </div>

                            <div class="content">
                                {{review.content|markdown|linebreaks}}
                            </div>

                            <div class="score">
                                <strong>{% trans "Rating" %}: {{review.score}}/5</strong>
                            </div>
                        </div>
                    {% empty %}
                        <p class="empty">{% trans "There are no reviews yet." %}</p>
                    {% endfor %}
                </div>

                {% if request.user.is_authenticated %}
                    <div class="subtle-container">
                        <div class="header"><h4><i class="icon-star"></i> {% trans "Add your review" %}</h4></div>
                        <form class="form-vertical review-form" method="post" action="{% url gear_review_save %}">
                            {{review_form|as_bootstrap}}
                            <input type="hidden" name="gear_id" value="{{gear.id}}" />
                            <input type="submit" class="btn btn-mini btn-primary" value="{% trans "Submit" %} &rarr;" />
                        </form>
                    </div>
                {% endif %}
            </div>

            <div class="span6">
                <div class="comments subtle-container">
                    <div class="header"><h4><i class="icon-comments-alt"></i> {% trans "Comments" %}</h4></div>
                    <p>
                        {% if request.user.is_authenticated %}
                            {% blocktrans %}Use this space to start a discussion, leave a comment or ask a question about this piece of gear. All the users on AstroBin who own one, will be notified and can join the discussion.{% endblocktrans %}
                        {% else %}
                            {% blocktrans %}Please <a href="/accounts/login/">login</a> or <a href="/accounts/register/">register</a> to leave a comment.{% endblocktrans %}
                         {% endif %}
                    </p>

                    {% if comments %}
                        {% load mptt_tags %}
                        {% recursetree comments %}
                            <div style="margin-left: {{node.get_level|add:node.get_level}}em">
                                <div id="c{{node.id}}" class="comment">
                                    <div class="avatar">
                                        <a href="{% url user_page node.author %}">
                                            {% avatar node.author 32 %}
                                        </a>
                                    </div>
                                    <div class="meta">
                                        <a class="author" href="{% url user_page node.author %}">{{node.author}}</a> {{node.added|ago}}
                                    </div>
                                    <div class="content{% if node.is_deleted %} deleted{% endif %}">
                                        {% if node.is_deleted %}
                                            <p>{% trans "(comment deleted)" %}</p>
                                        {% else %}
                                            {{node.comment|markdown|linebreaks}}
                                        {% endif %}
                                    </div>
                                    <div class="links">
                                        <a class="permalink" href="{% url gear_page gear.id gear.slug %}#c{{node.id}}">{% trans "Link" %}</a>
                                        {% if user.is_authenticated %}
                                            {% if user == node.author %}
                                                <a class="delete" href="#">
                                                    {% if node.is_deleted %}
                                                        {% trans "Undelete" %}
                                                    {% else %}
                                                        {% trans "Delete" %}
                                                    {% endif %}
                                                </a>
                                                <a class="edit" href="#">{% trans "Edit" %}</a>
                                            {% endif %}
                                            <a class="reply" href="#">{% trans "Reply" %}</a>
                                        {% endif %}
                                    </div>
                                    <form action="{% url image_comment_save %}" method="post">
                                        {{comment_form.as_p}}
                                        <input type="hidden" name="author" value="{{user.id}}" />
                                        <input type="hidden" name="gear_id" value="{{gear.id}}" />
                                        <input type="hidden" name="parent_id" value="{{node.id}}" />
                                        <input type="hidden" name="level" value="{{node.get_level}}" />
                                        <p>
                                            <input class="btn btn-mini btn-primary" type="submit" value="{% trans "Save" %}" />
                                            <input class="btn btn-mini cancel" type="reset" value="{% trans "Cancel" %}" />
                                            <span class="formatting-help">
                                                <a href="{% url faq %}#10" target="_blank">{% trans "Formatting help" %}</a>
                                            </span>
                                            <span class="loader">
                                                <img src="{{STATIC_URL}}images/ajax-loader.gif" alt=""/> 
                                            </span>
                                        </p>
                                    </form>
                                </div>
                            </div>
                            {% if not node.is_leaf_node %}
                                {{children}}
                            {% endif %}
                        {% endrecursetree %}
                    {% else %}
                        <p class="no-comments-yet">
                            {% blocktrans %}There are no comments yet.{% endblocktrans %}
                        </p>
                    {% endif %}
                </div>

                {% if request.user.is_authenticated %}
                    <div class="subtle-container">
                        <div class="header"><h4><i class="icon-comment"></i> {% trans "Start a discussion, leave a comment or ask a question" %}</h4></div>
                        <div class="top-level-form">
                            <form class="form-horizontal" action="{% url gear_comment_save %}" method="post">
                                {{comment_form|as_bootstrap}}
                                <input type="hidden" name="author" value="{{request.user.id}}" />
                                <input type="hidden" name="gear_id" value="{{gear.id}}" />
                                <input type="hidden" name="parent_id" value="" />
                                <input type="hidden" name="level" value="0" />
                                <div>
                                    <input class="btn btn-mini btn-primary" type="submit" value="{% trans "Submit" %} &rarr;" />
                                    <span class="help-inline">
                                        <a href="{% url faq %}#10" target="_blank">{% trans "Formatting help" %}</a>
                                    </span>
                                    <span class="loader">
                                        <img src="{{STATIC_URL}}images/ajax-loader.gif" alt=""/> 
                                    </span>
                                </div>
                            </form>
                        </div> <!-- top-level-form -->
                    </div> <!-- subtle-container -->
                {% endif %}
            </div>
        </div>
    </div> <!-- gear-page -->
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    var reviewFormOptions = {
        dataType: 'json',
        timeout: 30000,
        beforeSubmit: function(data, $form, options) {
            var $btn = $form.find('input[type=submit]');
            var $textarea = $form.find('textarea');

            if ($textarea.val() == '')
                return false;

            $btn.attr('disabled', 'disabled').addClass('disabled');
        },
        success: function(response, statusText, xhr, $form) {
            var $btn = $form.find('input[type=submit]');
            var $textarea = $form.find('textarea');

            if (response.success) {
                var $container = $('<div/>').addClass('review');

                var $avatar = $('<div/>').addClass('avatar');
                var $avatar_link = $('<a/>').attr('href', '{% url user_page request.user %}');

                var $meta = $('<div/>').addClass('meta');
                var $author = $('<a/>').attr('href', '{% url user_page request.user %}').text('{{request.user}}');

                var $content = $('<div/>').addClass('content');
                var $score = $('<div/>').addClass('score');
                
                $content.text(response.content);
                $score.text(response.score);

                $meta
                    .append($author)
                    .append("&nbsp;{% trans "just now" %}");

                $container
                    .append($avatar)
                    .append($meta)
                    .append($content)
                    .append($score);

                $('p.empty').remove();
                $('.reviews').append($container);

                $textarea.val('');
            }

            $btn.removeAttr('disabled').removeClass('disabled');
        }
    };
    $('.review-form').ajaxForm(reviewFormOptions);

    var commentsFormOptions = {
        dataType: 'json',
        timeout: 30000,
        beforeSubmit: function(formData, $form, options) {
            $loader = $form.find('.loader');
            $button = $form.find('.btn:first-child');
            $textarea = $form.find('textarea');

            if ($textarea.val() == '')
                return false;

            $button.attr('disabled', 'disabled').addClass('disabled');
            $loader.css('visibility', 'visible');
        },
        success: function(responseJson, statusText, xhr, $form) {
            var $loader = $form.find('.loader');
            var $button = $form.find('.btn:first-child');

            $button.removeAttr('disabled').removeClass('disabled');
            $loader.css('visibility', 'hidden');

            if (responseJson.action == 'save') {
                var $textarea = $form.find('textarea');
                if ($form.parent().hasClass('top-level-form')) {
                    var $parent = $('.comments');
                    var is_top_level = true;
                    var level = 0;
                } else {
                    var $parent = $form.closest('.comment').parent();
                    var is_top_level = false;
                    var level = parseInt($form.find('input:hidden[name="level"]').val()) + 1;
                }
                var parent_id = responseJson['comment_id']
                var $nocomments = $('.no-comments-yet');

                $container = $('<div/>').css('margin-left', level*2 + 'em');
                $new_comment = $('<div/>').addClass('comment').attr('id', 'c' + parent_id);
                $container.append($new_comment);

                $meta = $('<div/>').addClass('meta');
                $author = $('<a/>').attr('href', '{% url user_page user %}').addClass('author').text('{{user.username}}');
                $meta.append($author).append("{% trans "just now" %}");

                $links = $('<div/>').addClass('links');
                $permalink = $('<a/>').addClass('permalink').attr('href', '{% url gear_page gear.id gear.slug %}#c' + parent_id).text('{% trans "Link" %}');
                $delete = $('<a/>').addClass('delete').attr('href', '#').text('{% trans "Delete" %}');
                $edit = $('<a/>').addClass('edit').attr('href', '#').text('{% trans "Edit" %}');
                $reply = $('<a/>').addClass('reply').attr('href', '#').text('{% trans "Reply" %}');

                $links.append($permalink).append($delete).append($edit).append($reply);

                var converter = Markdown.getSanitizingConverter();
                $content = $('<div/>').addClass('content').append($('<p/>').html(converter.makeHtml($textarea.val()).replace(/\n\r?/g, '<br />')));

                new_form_template = "\
                    <form action=\"{% url image_comment_save %}\" method=\"post\">\
                        {{comment_form.as_p|escapejs}}\
                        <input type=\"hidden\" id=\"csrfmiddlewaretoken\" name=\"csrfmiddlewaretoken\" value=\"{{csrf_token}}\" />\
                        <input type=\"hidden\" name=\"author\" value=\"{{user.id}}\" />\
                        <input type=\"hidden\" name=\"gear_id\" value=\"{{gear.id}}\" />\
                        <input type=\"hidden\" name=\"parent_id\" value=\"" + parent_id + "\" />\
                        <input type=\"hidden\" name=\"level\" value=\"" + level + "\" />\
                        <p>\
                            <input class=\"btn btn-mini btn-primary\" type=\"submit\" value=\"{% trans "Save" %}\" />\
                            <input class=\"btn btn-mini cancel\" type=\"reset\" value=\"{% trans "Cancel" %}\" />\
                            <span class=\"loader\">\
                                <img src=\"{{STATIC_URL}}images/ajax-loader.gif\" alt=\"\"/>\
                            </span>\
                            <span class=\"formatting-help\">\
                                <a href=\"{% url faq %}#10\" target=\"_blank\">{% trans "Formatting help" %}</a>\
                            </span>\
                        </p>\
                    </form>"

                $new_form = $(new_form_template);
                $new_form.ajaxForm(commentsFormOptions);

                $new_comment.append($meta)
                            .append($content)
                            .append($links)
                            .append($new_form);

                $textarea.val('');
                if (!is_top_level)
                    $form.hide();

                $nocomments.remove();
                $parent.append($container);
            }
            else if (responseJson.action == 'edit') {
                var $comment = $form.closest('.comment');
                var $content = $comment.find('.content');
                var $links = $comment.find('.links');

                var converter = Markdown.getSanitizingConverter();
                $content.html($('<div/>').addClass('content').append($('<p/>').html(converter.makeHtml(responseJson.comment).replace(/\n\r?/g, '<br />'))));
                $content.show();
                $links.show();

                $form.hide();
            }
        }
    };

    $('.top-level-form form, .comment form').ajaxForm(commentsFormOptions);
    $('.comment form .cancel').live('click', function() {
        var $comment = $(this).closest('.comment');
        var $content = $comment.find('.content');
        var $links = $comment.find('.links');
        var $form = $(this).closest('form');

        $form.hide();
        $content.show();
        $links.show();

        return false;
    });

    $('.comment .permalink').live('click', function() {
        var id = $(this).closest('.comment').find('input:hidden[name="parent_id"]').val()
        $('.comment.hilight').removeClass('hilight');
        $('#c' + id).addClass('hilight');
        return true;
    });

    $('.comment .delete').live('click', function() {
        var id = $(this).closest('.comment').find('input:hidden[name="parent_id"]').val()
        var $content = $(this).closest('.comment').find('> .content');
        var $self = $(this);

        $.ajax({
            url: '/gear/comment/delete/' + id + '/',
            dataType: 'json',
            timeout: 30000,
            cache: false,
            success: function(data, status, xhr) {
                if (data.deleted) {
                    $content.addClass('deleted');
                    $content.html('<p>{% trans "(comment deleted)" %}</p>');
                    $self.text('{% trans 'Undelete' %}');
                } else {
                    var converter = Markdown.getSanitizingConverter();

                    $content.removeClass('deleted');
                    $content.html(converter.makeHtml(data.comment).replace(/\n\r?/g, '<br />'));
                    $self.text('{% trans 'Delete' %}');
                }
            }
        });
        return false;
    });

    $('.comment .edit').live('click', function() {
        var $comment = $(this).closest('.comment');
        var $content = $comment.find('.content');
        var $links = $comment.find('.links');
        var $form = $comment.find('form');
        var $textarea = $form.find('textarea');
        var id = $form.find('input:hidden[name="parent_id"]').val()

        $.ajax({
            url: '/gear/comment/get/' + id + '/',
            dataType: 'json',
            timeout: 30000,
            success: function(data, status, xhr) {
                $content.hide();
                $links.hide();
                $textarea.val(data.comment);
                $form.attr('action', '{% url gear_comment_edit %}');
                $form.show();
            }
        });

        return false;
    });

    $('.comment .reply').live('click', function() {
        var $comment = $(this).closest('.comment');
        var $form = $comment.find('form');
        var $textarea = $form.find('textarea');

        $form.attr('action', '{% url gear_comment_save %}');
        $textarea.val('');
        $form.show();
        $textarea.focus();

        return false;
    });

    astrobin_stats.init();
    astrobin_stats.plot(
        '#stats_total_images',
        "{% url stats_gear_total_images gear.id %}",
        30000);
    astrobin_stats.enableTooltips("#stats_total_images");

    var hilighted_comment = location.hash.substr(1);
    if (hilighted_comment) {
        $('#' + hilighted_comment).addClass('hilight');
        setTimeout(function() {
            $('html, body').animate({scrollTop: $("#" + hilighted_comment).offset().top - 54}, 500);
        }, 1000);
    }
});
</script>
{% endblock %}

