{% load i18n %}

<span class="toggleproperty-add-remove property-{{ property_type }}">
    <button class="{{ btn_class }}{% if is_toggled %} active{% endif %}"
            data-toggle="button"
            id="toggleproperty-{{ property_type }}-{{ content_type_id }}-{{ object_id }}"

            {% if not disabled and property_tooltip_on and property_tooltip_off %}
                rel="tooltip"
                title="{% if is_toggled %}{{ property_tooltip_on | safe }}{% else %}{{ property_tooltip_off | safe }}{% endif %}"
            {% endif %}

            {% if disabled %}
                disabled="disabled"
            {% endif %}
    >

        {% if property_icon and not hide_icon %}
            <i class="{{ property_icon }}"></i>
        {% endif %}

        {% if not hide_label %}
            {% if property_label_on or property_label_off %}
                <span class="toggleproperties-label">
                    {% if is_toggled %}
                        {{ property_label_on | safe }}
                    {% else %}
                        {{ property_label_off | safe }}
                    {% endif %}
                </span>
            {% endif %}
        {% endif %}

        {% if show_count %}
            <span id="count-{{ property_type }}-{{ content_type_id }}-{{ object_id }}"
                  class="badge badge-important">
                {{ count }}
            </span>
        {% endif %}
    </button>
</span>

<script type="text/javascript">
    $(document).ready(function () {
        $("#toggleproperty-{{ property_type }}-{{ content_type_id }}-{{ object_id }}").click(function (e) {
            const $btn = $(this);

            e.stopPropagation();
            e.preventDefault();

            function onTogglePropertyAddSuccess(data) {
                const $tp = $("#toggleproperty-{{ property_type }}-{{ content_type_id }}-{{ object_id }}");
                const $label = $tp.find(".toggleproperties-label");
                const $count = $('#count-{{ property_type }}-{{ content_type_id }}-{{ object_id }}');

                {% if property_tooltip_on and property_tooltip_off %}
                    $tp
                        .tooltip('hide')
                        .attr('data-original-title', "{{ property_tooltip_on | safe }}")
                        .tooltip('fixTitle')
                        .tooltip('show');
                {% endif %}

                $label.text("{{ property_label_on | safe }}");

                $btn.addClass("active");

                if (!!data && data['count'] !== undefined) {
                    $count.text(data.count);
                }
            }

            function onTogglePropertyAddFailure(jqXHR, textStatus, errorThrown) {
                const $tp = $("#toggleproperty-{{ property_type }}-{{ content_type_id }}-{{ object_id }}");
                const $label = $tp.find(".toggleproperties-label");

                $.toast({
                    heading: "{{ _("Error!") | escapejs }}",
                    text: jqXHR.responseText,
                    showHideTransition: 'slide',
                    allowToastClose: true,
                    position: 'top-right',
                    loader: false,
                    hideAfter: false,
                    icon: 'error'
                });

                {% if property_tooltip_on and property_tooltip_off %}
                    $tp
                        .tooltip('hide')
                        .attr('data-original-title', "{{ property_tooltip_off | safe }}")
                        .tooltip('fixTitle')
                        .tooltip('show');
                {% endif %}

                $label.text("{{ property_label_off | safe }}");
            }

            function onTogglePropertyRemoveSuccess(data) {
                const $tp = $("#toggleproperty-{{ property_type }}-{{ content_type_id }}-{{ object_id }}");
                const $label = $tp.find(".toggleproperties-label");
                const $count = $('#count-{{ property_type }}-{{ content_type_id }}-{{ object_id }}');

                {% if property_tooltip_on and property_tooltip_off %}
                    $tp
                        .tooltip('hide')
                        .attr('data-original-title', "{{ property_tooltip_off | safe }}")
                        .tooltip('fixTitle')
                        .tooltip('show');
                {% endif %}

                $label.text("{{ property_label_off | safe }}");

                $btn.removeClass("active");

                if (!!data && data['count'] !== undefined) {
                    $count.text(data.count);
                }
            }

            {% if request.user and request.user.is_authenticated %}
                $("#toggleproperty-{{ property_type }}-{{ content_type_id }}-{{ object_id }} .toggleproperties-label").text("...");
                if ($btn.hasClass("active")) {
                    $.ajax({
                        url: "{% url 'toggleproperty_ajax_remove' %}",
                        type: "POST",
                        data: {
                            property_type: "{{ property_type }}",
                            content_type_id: {{ content_type_id }},
                            object_id: {{ object_id }}
                        },
                        timeout: 10000,
                        dataType: 'json',
                        success: function (data) {
                            onTogglePropertyRemoveSuccess(data);
                        }
                    });
                } else {
                    $.ajax({
                        url: "{% url 'toggleproperty_ajax_add' %}",
                        type: "POST",
                        data: {
                            property_type: "{{ property_type }}",
                            content_type_id: {{ content_type_id }},
                            object_id: {{ object_id }}
                        },
                        timeout: 10000,
                        dataType: 'json',
                        success: function (data) {
                            onTogglePropertyAddSuccess(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            if (jqXHR.status === 409) {
                                // If the property is already toggled we spare the user the error message and simply
                                // make it look as if it just worked.
                                onTogglePropertyAddSuccess();
                            } else {
                                onTogglePropertyAddFailure(jqXHR, textStatus, errorThrown);
                            }
                        }
                    });
                }
            {% else %} {# Anonymous user #}
                window.location = '/account/login/?next={{request.path}}'
            {% endif %}

            return false;
        });
    });
</script>

