{% load i18n %}

<p>
    {% blocktrans trimmed %}
        <strong>{{ seller_display_name }}</strong> sold a line item in their marketplace listing
        <strong>{{ listing }}</strong>.
    {% endblocktrans %}
</p>

<p>
    {% trans "Item" %}: <strong>{{ line_item }}</strong><br/>
</p>

<p>
    <strong>
        {% blocktrans trimmed %}
           You received this notification because you have an active offer on this listing, or you follow the listing.
        {% endblocktrans %}
    </strong>
</p>

<p>
    <a href="{{ listing_url }}" class="btn btn-primary">{% trans "View listing" %}</a>
</p>
