{% extends 'base.html' %}

{% load i18n %}

{% block content %}
{% if advanced_form %}
<div class="info-side-bar">
    <p>
    {% blocktrans %}
        Search for image with fine tuned control.
    {% endblocktrans %}
    </p>
</div>
<div class="sided-main-content">
    <form method="get" action="/search/">{% csrf_token %}
        {{advanced_form.as_p}}
        <input class="button submit-button" type="submit" value="{% trans "Search" %} &rarr;" />
    </form>
</div>
{% endif %}

{% if query %}
<div id="search-results" class="full-box clear">
    <h2>{% trans "Images matching" %} <em>"{{query}}"</em></h2>

    <div class="sort">
            {% trans "Sort these images by:" %}&nbsp;
            <a href="/search/?q={{query}}">{% trans "Relevance" %}</a>&nbsp;|&nbsp;
            <a href="/search/?q={{query}}&sort=-new">{% trans "Date" %}</a>&nbsp;|&nbsp;
            <a href="/search/?q={{query}}&sort=-rating">{% trans "Rating" %}</a>&nbsp;|&nbsp;
            <a href="/search/?q={{query}}&sort=-integration">{% trans "Integration" %}</a>
            {% trans "or go to the" %}&nbsp;<a href="{% url advanced_search %}">{% trans "Advanced Search" %}</a>
    </div>

    {% load tags %}
    {% image_list page.object_list %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}
            <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
            {% endif %}
            &laquo; {% trans "Previous" %}
            {% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}
            <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
            {% endif %}
            {% trans "Next" %} &raquo;
            {% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
</div>
{% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}
{% endblock %}
