{% extends 'base.html' %}

{% load i18n %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/jquery.capSlide.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/capSlide.css" />
{% endblock %}


{% block content %}
{% if query %}
<div id="search-results">
    <h2>{% trans "Images matching" %} <em>"{{query}}"</em></h2>

    <div class="sort">
            {% trans "Sort these images by:" %}&nbsp;
            <a href="/search/?q={{query}}">{% trans "Relevance" %}</a>&nbsp;|&nbsp;
            <a href="/search/?q={{query}}&sort=-new">{% trans "Date" %}</a>&nbsp;|&nbsp;
            <a href="/search/?q={{query}}&sort=-rating">{% trans "Rating" %}</a>&nbsp;|&nbsp;
            <a href="/search/?q={{query}}&sort=-integration">{% trans "Integration" %}</a>
    </div>

    {% load tags %}
    {% image_list page.object_list %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}
            <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
            {% endif %}
            &laquo; {% trans "Previous" %}
            {% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}
            <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
            {% endif %}
            {% trans "Next" %} &raquo;
            {% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
</div>
{% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}
{% endblock %}
