@import "variables";

.btn {
  font-size: .85rem;

  &.btn-primary {
    background: $accent-color linear-gradient(to bottom, lighten($accent-color, 5%), darken($accent-color, 5%));
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    color: $white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  }
}
