@import "variables";

input {
  color: $light-grey;
  background-color: $dark-grey;
  border-radius: 8px;
  border: 1px solid darken($dark-grey, 5%);
  padding: 6px 8px;

  &::placeholder {
    color: lighten($dark-grey, 15%);
  }

  &:focus {
    outline: none;
    border-color: lighten($dark-grey, 5%);
  }
}
