.denied {
  background: url("/assets/images/undraw_cancel_u1it.svg") no-repeat center;
}

.welcome {
  background: url("/assets/images/undraw_welcome_3gvl.svg") no-repeat center;
}

.logged-out {
  background: url("/assets/images/undraw_going_offline_ihag.svg") no-repeat center;
}

.not-found {
  background: url("/assets/images/undraw_starry_window_ppm0.svg") no-repeat center;
}

.sad {
  background: url("/assets/images/undraw_feeling_blue_4b7q.svg") no-repeat center;
}

.celebration {
  background: url("/assets/images/celebration.png") no-repeat center;
}
