@import "variables";

$background: $dark-grey;
$foreground: $lightest-grey;
$highlight: 3%;

.ng-select {
  background: $background;
  color: $foreground;
  padding: .75rem 1rem;

  .ng-arrow-wrapper {
    width: 25px;
    padding-right: 5px;

    .ng-arrow {
      border-color: $light-grey transparent transparent;
      border-style: solid;
      border-width: 5px 5px 2.5px;
    }
  }

  .ng-input > input {
    color: $foreground;
  }
}

.ng-dropdown-panel {
  background: $background;
  border-top: 1px solid lighten($background, $highlight);
  box-shadow: .25rem .5rem 1rem rgba(0,0,0,.5);

  .ng-option {
    padding: .5rem 1rem;

    &.ng-option-marked {
      color: lighten($foreground, $highlight);
      background: lighten($background, $highlight);
    }
  }
}
