$accent-color: #cc4b2e;
$subtle-accent-color: #e0e0e0;
$secondary-accent-color: #3092cf;

$bright-white: #ffffff;
$green: green;
$white: #e9e9e9;
$grey: #333;
$black: #101010;

$light-grey: lighten($grey, 10%);
$lighter-grey: lighten($grey, 25%);
$lightest-grey: lighten($grey, 50%);

$dark-grey: darken($grey, 10%);
$darker-grey: darken($grey, 25%);
$darkest-grey: darken($grey, 50%);

$darkest_background_text_color: #b0b0b0;

$warning-orange: #ff9a28;
$error-red: #e84545;
$gold: gold;

// Bootstrap overrides:
$primary: $accent-color;
$theme-colors: (
  "primary": $accent-color
);

// Breakpoints
$xs-max: 575.98px;

$sm-min: 576px;
$sm-max: 767.98px;

$md-min: 768px;
$md-max: 991.98px;

$lg-min: 992px;
$lg-max: 1199.98px;

$xl-min: 1200px;
