@import "variables";

.ng-wizard-theme-arrows {
  box-shadow: none;
  border: 0;

  > ul.step-anchor {
    border-bottom-color: $light-grey;
    background: none;
  }

  .nav-item {
    .nav-link {
      font-weight: bold;
      background: $grey !important;

      &::before {
        border-left-color: $grey;
      }

      &::after {
        background: transparent;
        border-left-color: $grey !important;
      }

      small {
        font-weight: normal;
        opacity: .85;
      }
    }

    &:not(.done) {
      cursor: pointer;
      pointer-events: none;
    }

    &.done .nav-link {
      color: $white !important;
      background: darken($accent-color, 10%) !important;

      &::after {
        border-left-color: darken($accent-color, 10%) !important;
      }
    }

    &.active .nav-link {
      background: $accent-color !important;

      &::after {
        border-left-color: $accent-color !important;
      }
    }

    &.done .nav-link {
      color: $lightest-grey !important;

      &::after {
        background: none;
      }
    }

    &.danger .nav-link {
      background: $error-red !important;
      color: $white !important;

      &::after {
        border-left-color: $error-red !important;
      }
    }
  }

  .step-content {
    background-color: transparent;
    border: 0;
    padding: 2rem 0;
  }

  .ng-wizard-toolbar-bottom {
    background-color: transparent;
    padding: 0;

    .btn-group:last-child {
      margin-right: 0 !important;
    }
  }
}
