{% load i18n %}

{% blocktrans trimmed %}
    Your request for an API Key has been approved!
{% endblocktrans %}

<br /><br />

{% trans "Your API key" %}: <strong>{{ key }}</strong><br />
{% trans "Your API secret" %}: <strong>{{ secret }}</strong>

<br /><br />

{% blocktrans trimmed with '<a href="https://www.astrobin.com/help/api/">' as _0 and '</a>' as _1 %}
    Please read the API documentation {{ _0 }}here{{ _1 }}.
{% endblocktrans %}

<br /><br />

{% blocktrans trimmed %}
    You can review your API keys at <a href="{{ api_keys_url }}">{{ api_keys_url }}</a>
{% endblocktrans %}

<br /><br />

{% blocktrans trimmed%}
    Thank you for using AstroBin's APIs!
{% endblocktrans %}
