{% load i18n %}
{% load tags %}
{% load common_tags %}

<table class="table migrate-donations">
    <caption>{% trans "Your donations last year" %}</caption>
    <thead>
        <tr>
            <th>{% trans "Amount" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Subscription" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for t in migration_data.transactions %}
        <tr>
            <td>$ {{t.amount}} USD</td>
            <td>{% timestamp t.timestamp %}</td>
            <td>{{t.subscription.name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
