{% extends "base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    {% trans "Data loss compensation reauest" %}: {% trans "Already done" %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'AstroBin Premium' None %}
    {% breadcrumb 'Data loss compensation request' None %}
    {% breadcrumb 'Already done' None %}
{% endblock %}

{% block content %}
    <h1>{% trans "Sorry, you can't do this again." %}</h1>
    <p>
    {% blocktrans trimmed %}
        Your preference was already recorded and cannot be changed.
    {% endblocktrans %}
{% endblock %}
