{% load i18n %}

{% blocktrans trimmed %}
    Equipment item <strong>{{ item }}</strong> was removed from your image <a href="{{ image_url }}">{{ image_title }}</a>.
{% endblocktrans %}

<br /><br />

{% blocktrans trimmed %}
    This happened because somebody rejected the creation of this equipment item. Please remember that the AstroBin
    equipment database is collectively maintained by the community in order to keep a clean and orderly set of data.
{% endblocktrans %}

<br /><br />

{% blocktrans trimmed %}
    Please edit your image and try adding the relevant equipment item again. If possible, use one of the offered
    suggestions to avoid creating a duplicate.
{% endblocktrans %}

<br /><br />

{% if reject_reason %}
    {% blocktrans trimmed %}
        The reviewer cited the following code as the reason for the rejection:
    {% endblocktrans %}

    <br />

    "<strong>{{ reject_reason }}</strong>"

    {% if comment %}
        <br /><br />
    {% endif %}
{% endif %}

{% if comment %}
    {% blocktrans trimmed %}
        The reviewer left the following comment:
    {% endblocktrans %}

    <br />

    "<em>{{ comment }}</em>"
{% endif %}

