{% load i18n %}

<a href="{{ item_url }}">
{% if duplicate_of %}
    {% blocktrans trimmed with _0="<strong>" _1="</strong>" %}
        Equipment item {{ _0 }}{{ item }}{{ _1 }} was removed from your image {{ _0 }}{{ image_title }}{{ _1 }} and
         replaced with {{ _0 }}{{ duplicate_of }}{{ _1 }}
    {% endblocktrans %}
{% else %}
    {% blocktrans trimmed with _0="<strong>" _1="</strong>" %}
        Equipment item {{ _0 }}{{ item }}{{ _1 }} was removed from your image {{ _0 }}{{ image_title }}{{ _1 }}
    {% endblocktrans %}
{% endif %}
</a>
