{% load i18n %}
{% load ember %}

<div id="nested-comments-user-id" data-value="{{request.user.id}}"></div>
<div id="nested-comments-page-url" data-value="{{request.get_full_path}}"></div>
<div id="nested-comments-static-url" data-value="{{STATIC_URL}}"></div>

{% handlebars "nested-comments" %}
    {{outlet top-level}}
    {{outlet comments}}
{% endhandlebars %}

{% handlebars "top-level" %}
    <p>Top level form goes here</p>
{% endhandlebars %}

{% handlebars "comments" %}
    {{#each controller.tree.children}}
        {{view view.SingleCommentView nodeBinding="this"}}
    {{/each}}
{% endhandlebars %}

{% handlebars "singleComment" %}
    <div class="comment-container" {{bindAttr id="view.node.data.cid"}}>
        <div class="meta">
            <a class="author" href="#">
                {{#if view.node.data.deleted}}
                    {% trans "(deleted)" %}
                {{else}}
                    {{view.node.data.author_username}}
                {{/if}}
            </a>
            {{view NestedCommentsApp.TimeagoView valueBinding="view.node.data.updated"}}
        </div>

        <div class="content">
            {{#if view.node.data.deleted}}
                <p>{% trans "(deleted)" %}</p>
            {{else}}
                {{#if view.node.data.editing}}
                    {{view view.EditView commentBinding="view.node.data"}}
                {{else}}
                    {{{view.node.data.markdown}}}
                {{/if}}
            {{/if}}
        </div>

        <div class="links">
            <a {{bindAttr href="view.node.data.url"}}>{% trans "Link" %}</a>

            {{#if view.node.data.authorIsRequestingUser}}
                {{#if view.node.data.deleted}}
                    <a href="#" {{action "undeleteComment"}}>{% trans "Undelete" %}</a>
                {{else}}
                    <a href="#" {{action "deleteComment"}}>{% trans "Delete" %}</a>
                {{/if}}

                {{#if view.node.data.allowEditing}}
                    {{#unless view.node.data.editing}}
                        <a href="#" {{action "editComment"}}>{% trans "Edit" %}</a>
                    {{/unless}}
                {{/if}}
            {{else}}
                <a href="#">{% trans "Reply" %}</a>
            {{/if}}
        </div>

        <div class="children">
            {{#each view.node.children}}
                {{view view.parentView.SingleCommentView nodeBinding="this"}}
            {{/each}}
        </div>
    </div>
{% endhandlebars %}

{% handlebars "timeago" %}
    {{view.value}}
{% endhandlebars %}

{% handlebars "edit" %}
    {{view Ember.TextArea rows=6 valueBinding="view.comment.text"}}

    {{view view.SaveButtonView commentBinding="view.comment"}}
    <a class="btn btn-mini" href="#" {{action cancelEditingComment}}>{% trans "Cancel" %}</a>

    {{#if view.comment.submitting}}
        <span class="loader">
            <img alt="" {{bindAttr src="view.loader_url"}}/> 
        </span>
    {{/if}}

    <div class="preview">
        <h3>{% trans "Preview" %}</h3>
        {{{view.comment.markdown}}}
    </div>

    <div class="formatting-help">
        <h3>{% trans "Formatting help" %}</h3>
        <table class="table table-condensed">
            <tr><td><strong>{% trans "You type:" %}</strong</td><td><strong>{% trans "You see:" %}</strong></td></tr>
            <tr><td>*{% trans "italics" %}*</td><td><i>{% trans "italics" %}</i></td></tr>
            <tr><td>**{% trans "bold" %}**</td><td><strong>{% trans "bold" %}</strong></td></tr>
            <tr><td>[AstroBin!](http://astrobin.com)</td><td><a href="http://astrobin.com">AstroBin!</a></td></tr>
            <tr><td><i>{% trans "(TAB or 4 spaces)" %}</i> {% trans "preformatted text" %}</td><td><tt>{% trans "preformatted text" %}</tt></td></tr>
            <tr><td>&gt; {% trans "quoted text" %}</td><td>| <i>{% trans "quoted text" %}</i></td></tr>
            <tr><td>\*{% trans "escape the formatting syntax" %}\*</td><td>*{% trans "escape the formatting syntax" %}*</td></tr>
        </table>
    </div>
{% endhandlebars %}

{% handlebars "saveButton" %}
    {% trans "Save" %}
{% endhandlebars %}

{% comment %}
<div id="nested-comments">
    <div class="top-level-form">
        <form class="form-horizontal" action="{% url nested_comments.create content_type.id object.id %}" method="post">
            {{comment_form}}

            <input type="hidden" name="parent_id" value="" />
            <input type="hidden" name="level" value="0" />

            <div>
                <input class="btn btn-mini btn-primary" type="submit" value="{% trans "Save" %}" />
                <span class="help-inline">
                    <a href="{% url faq %}#10" target="_blank">{% trans "Formatting help" %}</a>
                </span>
                <span class="loader hidden">
                    <img src="{{STATIC_URL}}images/ajax-loader.gif" alt=""/> 
                </span>
            </div>
        </form>
    </div> <!-- top-level-form -->

    <div class="comments">
        {% include 'nested_comments/nestedcomment_list.html' %}
    </div>
</div>
{% endcomment %}
