{% load i18n %}
{% load staticfiles %}
{% load ember %}
{% load avatar_tags %}


<div id="nested-comments-user-id" data-value="{{request.user.id}}"></div>
<div id="nested-comments-user-name" data-value="{{request.user.username}}"></div>
<div id="nested-comments-user-is-authenticated" data-value="{{ request.user.is_authenticated.value }}"></div>
<div id="nested-comments-user-is-superuser" data-value="{{ request.user.is_superuser }}"></div>
<div id="nested-comments-page-url" data-value="{{request.get_full_path}}"></div>
<div id="nested-comments-loaderGif-url" data-value="{% static 'astrobin/images/ajax-loader.gif' %}"></div>

{% handlebars "nested-comments" %}
    {{outlet top-level}}
    {{outlet comments}}
{% endhandlebars %}


{% handlebars "top-level" %}
    {{#if view.userIsAuthenticated}}
        {{#unless view.collapsed}}
            <form>
                {{view Ember.TextArea rows=6 valueBinding="view.comment.text"}}

                {{view view.SaveCommentButtonView}}
                <a class="btn btn-mini" href="#" {{action "collapse" target="view"}}>{% trans "Cancel" %}</a>

                {{#if view.submitting}}
                    {{view NestedCommentsApp.LoaderView}}
                {{/if}}
            </form>
        {{else}}
            <a href="#"
               class="uncollapse add-top-level label label-important"
               {{action "uncollapse" target="view"}}>{% trans "Add a comment" %}
            </a>
        {{/unless}}
    {{else}}
        <p>{% blocktrans %}Please <a href="/accounts/login/">login</a> or <a href="/accounts/register/">register</a> to leave a comment.</p>{% endblocktrans %}
    {{/if}}
{% endhandlebars %}


{% handlebars "comments" %}
    {{#if controller.ready}}
        {{#if controller.content.length}}
        {{else}}
           <p class="comment">{% trans "There are no comments yet." %}</p>
        {{/if}}

        {{#each controller.content}}
            {{view NestedCommentsApp.SingleCommentView nodeBinding="this"}}
        {{/each}}
    {{else}}
        {{view NestedCommentsApp.LoaderView}}
    {{/if}}
{% endhandlebars %}


{% handlebars "singleComment" %}
    <div class="avatar visible-desktop">
        <a class="author" {{bindAttr href="view.node.author_url"}}>
            <img
                {{bindAttr src="view.node.author_avatar"}}
                {{bindAttr alt="view.node.author_username"}}
                width="40" height="40" />
        </a>
    </div>
    <div class="comment-container" {{bindAttr id="view.node.cid"}}>
        <div class="meta">
            {{#if view.node.deleted}}
                {% trans "(deleted)" %}
            {{else}}
                <a class="author" {{bindAttr href="view.node.author_url"}}>
                    {{view.node.author_username}}
                </a>
            {{/if}}
            {{view NestedCommentsApp.TimeagoView valueBinding="view.node.updated"}}

            {{#unless view.collapsed}}
                <a href="#" class="collapse" {{action "collapse" target="view"}}>[-]</a>
            {{else}}
                <a href="#" class="collapse" {{action "uncollapse" target="view"}}>[+]</a>
            {{/unless}}
        </div>

        {{#unless view.collapsed}}
            <!-- Used to access a wisybb object and convert the bbcode to HTML. -->
            <div class="converter" style="display: none">
                {{view Ember.TextArea rows=6 valueBinding="view.node.text"}}
            </div>

            <div class="content">
                {{#if view.node.deleted}}
                    <p>{% trans "(deleted)" %}</p>
                {{else}}
                    {{#if view.editing}}
                        {{view view.EditView commentBinding="view.node"}}
                    {{else}}
                        {{# if view.node.ready }}
                            {{{view.node.getHTML}}}
                        {{else}}
                            {{view NestedCommentsApp.LoaderView}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>

            <div class="links">
                <a {{bindAttr href="view.node.url"}} {{action "link" target="view"}}>{% trans "Link" %}</a>

                {{#if view.node.authorIsRequestingUser}}
                    {{#if view.node.deleted}}
                        <a href="#" {{action "undelete" target="view"}}>{% trans "Undelete" %}</a>
                    {{else}}
                        <a href="#" {{action "delete_" target="view"}}>{% trans "Delete" %}</a>
                    {{/if}}

                    {{#if view.node.allowEditing}}
                        {{#unless view.editing}}
                            <a href="#" {{action "edit" target="view"}}>{% trans "Edit" %}</a>
                        {{/unless}}
                    {{/if}}

                    {{#if view.userIsSuperuser }}
                        <a href="#" class="label label-important" {{ action "reply" target="view"}}>
                            {% trans "Reply" %}
                        </a>
                    {{/if}}
                {{else}}
                    <a href="#" class="label label-important" {{action "reply" target="view"}}>
                        {% trans "Reply" %}
                    </a>
                {{/if}}
            </div>

            {{#if view.replying}}
                <div class="reply">
                    {{view view.ReplyView parentBinding="view.node.comment"}}
                </div>
            {{/if}}

            <div class="children">
                {{#each view.node.children}}
                    {{view NestedCommentsApp.SingleCommentView nodeBinding="this"}}
                {{/each}}
            </div>
        {{/unless}}
    </div>
{% endhandlebars %}


{% handlebars "edit" %}
    {{view Ember.TextArea rows=6 valueBinding="view.comment.text"}}

    {{view view.SaveEditButtonView commentBinding="view.comment"}}
    <a class="btn btn-mini" href="#" {{action "cancel" target="view"}}>{% trans "Cancel" %}</a>

    {{#unless view.comment.getHTML}}
        <small>{% trans "The comment cannot be empty." %}</small>
    {{/unless}}

    {{#if view.parentView.submitting}}
        {{view NestedCommentsApp.LoaderView}}
    {{/if}}
{% endhandlebars %}


{% handlebars "reply" %}
    {{# if view.userIsAuthenticated}}
        {{view Ember.TextArea rows=6 valueBinding="view.comment.text"}}

        {{view view.SaveReplyButtonView}}
        <a class="btn btn-mini" href="#" {{action "cancel" target="view"}}>{% trans "Cancel" %}</a>

        {{#if view.parentView.submitting}}
            {{view NestedCommentsApp.LoaderView}}
        {{/if}}
    {{else}}
        <p>{% blocktrans %}Please <a href="/accounts/login/">login</a> or <a href="/accounts/register/">register</a> to leave a comment.</p>{% endblocktrans %}
    {{/if}}
{% endhandlebars %}


{% handlebars "timeago" %}
    {{view.value}}
{% endhandlebars %}


{% handlebars "saveButton" %}
    {% trans "Save" %}
{% endhandlebars %}


{% handlebars "loader" %}
    <img alt="" {{bindAttr src="view.loaderUrl"}}/>
{% endhandlebars %}


<script type="text/javascript" src="{% static "common/js/handlebars-1.0.rc.1.js" %}"></script>
<script type="text/javascript" src="{% static "common/js/ember-1.0.0-pre.2.js" %}"></script>
<script type="text/javascript" src="{% static "nested_comments/js/nested_comments_app.js" %}"></script>
