{% load i18n %}
{% load mptt_tags %}
{% load avatar_tags %}
{% load bootstrap_toolkit %}
{% load markup %}
{% load staticfiles %}

{% if comments %}
    {% recursetree comments %}
        <div style="margin-left: {{node.get_level|add:node.get_level}}em">
            <div id="c{{node.id}}" class="comment">
                <div class="avatar">
                    <a href="{% url 'user_page' node.author %}">
                        {% avatar node.author 32 %}
                    </a>
                </div>
                <div class="meta">
                    <a rel="popover" class="author user-popover"
                       data-load="{% url 'user_popover_ajax' node.author %}"
                       href="{% url 'user_page' node.author %}">{{node.author}}</a>
                    <abbr class="timeago" title="{{node.created|date:'Y-m-d\TH:i:s'}}">
                        {{node.created|date}}
                    </abbr>
                </div>
                <div class="content{% if node.is_deleted %} deleted{% endif %}">
                    {% if node.deleted %}
                        <p>{% trans "(comment deleted)" %}</p>
                    {% else %}
                        {{node.text|markdown|linebreaks}}
                    {% endif %}
                </div>
                <div class="links">
                    <a class="permalink" href="{{node.get_absolute_url}}#c{{node.id}}">
                        {% trans "Link" %}
                    </a>
                    {% if user.is_authenticated %}
                        {% if user == node.author %}
                            <a class="delete" href="#">
                                {% if node.is_deleted %}
                                    {% trans "Undelete" %}
                                {% else %}
                                    {% trans "Delete" %}
                                {% endif %}
                            </a>
                            <a class="edit" href="#">{% trans "Edit" %}</a>
                        {% else %}
                            <a class="reply btn btn-mini btn-primary" href="#">{% trans "Reply" %}</a>
                        {% endif %}
                    {% endif %}
                </div>
                <form action="{% url 'nested_comments.create' content_type.id object.id %}" method="post">
                    {{comment_form|as_bootstrap}}

                    <input type="hidden" name="parent_id" value="{{node.id}}" />
                    <input type="hidden" name="level" value="{{node.get_level}}" />

                    <p>
                        <input class="btn btn-mini btn-primary" type="submit" value="{% trans "Save" %}" />
                        <input class="btn btn-mini cancel" type="reset" value="{% trans "Cancel" %}" />
                        <span class="loader">
                            <img src="{% static 'astrobin/images/ajax-loader.gif' %}" alt=""/>
                        </span>
                    </p>
                </form>
            </div>
        </div>

        {% if not node.is_leaf_node %}
            {{children}}
        {% endif %}
    {% endrecursetree %}
{% else %}
    {% trans "There doesn't seem to be anything here." %}
{% endif %}
