{% load i18n %}
{% load ember %}

<div id="nested-comments-user-id" data-value="{{request.user.id}}"></div>
<div id="nested-comments-page-url" data-value="{{request.get_full_path}}"></div>
<div id="nested-comments-static-url" data-value="{{STATIC_URL}}"></div>

{% handlebars "nested-comments" %}
    {{outlet comments}}
    {{outlet top-level}}
{% endhandlebars %}


{% handlebars "top-level" %}
    <form>
        {{view Ember.TextArea rows=6 valueBinding="view.comment.text"}}

        {{view view.SaveCommentButtonView}}

        {{#if view.submitting}}
            {{view NestedCommentsApp.LoaderView}}
        {{/if}}

        {{#if view.comment.hasText}}
            {{view NestedCommentsApp.PreviewView commentBinding="view.comment"}}
        {{/if}}

        {{view NestedCommentsApp.FormattingHelpView}}
    </form>
{% endhandlebars %}


{% handlebars "comments" %}
    {{#if controller.ready}}
        {{#if controller.content.length}}
            <small>
                {% blocktrans %}Remember to use the <span class="label label-important">reply</span> button when replying directly to a comment. To post a new top level comment, use the form at the end of the comment list.{% endblocktrans %}
            </small>
        {{/if}}

        {{#each controller.content}}
            {{view NestedCommentsApp.SingleCommentView nodeBinding="this"}}
        {{/each}}
    {{else}}
        {{view NestedCommentsApp.LoaderView}}
    {{/if}}
{% endhandlebars %}


{% handlebars "singleComment" %}
    <div class="comment-container" {{bindAttr id="view.node.cid"}}>
        <div class="meta">
            <a class="author" href="#">
                {{#if view.node.deleted}}
                    {% trans "(deleted)" %}
                {{else}}
                    {{view.node.author_username}}
                {{/if}}
            </a>
            {{view NestedCommentsApp.TimeagoView valueBinding="view.node.updated"}}

            {{#unless view.collapsed}}
                <a href="#" class="collapse" {{action "collapse" target="view"}}>[-]</a>
            {{else}}
                <a href="#" class="collapse" {{action "uncollapse" target="view"}}>[+]</a>
            {{/unless}}
        </div>

        {{#unless view.collapsed}}
            <div class="content">
                {{#if view.node.deleted}}
                    <p>{% trans "(deleted)" %}</p>
                {{else}}
                    {{#if view.editing}}
                        {{view view.EditView commentBinding="view.node"}}
                    {{else}}
                        {{{view.node.markdown}}}
                    {{/if}}
                {{/if}}
            </div>

            <div class="links">
                <a {{bindAttr href="view.node.url"}}>{% trans "Link" %}</a>

                {{#if view.node.authorIsRequestingUser}}
                    {{#if view.node.deleted}}
                        <a href="#" {{action "undelete" target="view"}}>{% trans "Undelete" %}</a>
                    {{else}}
                        <a href="#" {{action "delete" target="view"}}>{% trans "Delete" %}</a>
                    {{/if}}

                    {{#if view.node.allowEditing}}
                        {{#unless view.editing}}
                            <a href="#" {{action "edit" target="view"}}>{% trans "Edit" %}</a>
                        {{/unless}}
                    {{/if}}
                {{else}}
                    <a href="#" class="label label-important" {{action "reply" target="view"}}>
                        {% trans "Reply" %}
                    </a>
                {{/if}}
            </div>

            {{#if view.replying}}
                <div class="reply">
                    {{view view.ReplyView parentBinding="view.node.comment"}}
                </div>
            {{/if}}

            <div class="children">
                {{#each view.node.children}}
                    {{view NestedCommentsApp.SingleCommentView nodeBinding="this"}}
                {{/each}}
            </div>
        {{/unless}}
    </div>
{% endhandlebars %}


{% handlebars "edit" %}
    {{view Ember.TextArea rows=6 valueBinding="view.comment.text"}}

    {{view view.SaveEditButtonView commentBinding="view.comment"}}
    <a class="btn btn-mini" href="#" {{action "cancel" target="view"}}>{% trans "Cancel" %}</a>

    {{#unless view.comment.hasText}}
        <small>{% trans "The comment cannot be empty." %}</small>
    {{/unless}}

    {{#if view.parentView.submitting}}
        {{view NestedCommentsApp.LoaderView}}
    {{/if}}

    {{#if view.comment.hasText}}
        {{view NestedCommentsApp.PreviewView commentBinding="view.comment"}}
    {{/if}}

    {{view NestedCommentsApp.FormattingHelpView}}
{% endhandlebars %}


{% handlebars "reply" %}
    {{view Ember.TextArea rows=6 valueBinding="view.comment.text"}}

    {{view view.SaveReplyButtonView}}
    <a class="btn btn-mini" href="#" {{action "cancel" target="view"}}>{% trans "Cancel" %}</a>

    {{#if view.parentView.submitting}}
        {{view NestedCommentsApp.LoaderView}}
    {{/if}}

    {{#if view.comment.hasText}}
        {{view NestedCommentsApp.PreviewView commentBinding="view.comment"}}
    {{/if}}

    {{view NestedCommentsApp.FormattingHelpView}}
{% endhandlebars %}


{% handlebars "timeago" %}
    {{view.value}}
{% endhandlebars %}


{% handlebars "saveButton" %}
    {% trans "Save" %}
{% endhandlebars %}


{% handlebars "loader" %}
    <img alt="" {{bindAttr src="view.loaderUrl"}}/>
{% endhandlebars %}


{% handlebars "preview" %}
    <h3>{% trans "Preview" %}</h3>
    {{{view.comment.markdown}}}
{% endhandlebars %}


{% handlebars "formatting-help" %}
    <h3>{% trans "Formatting help" %}</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "You type:" %}</th>
                <th>{% trans "You see:" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>*{% trans "italics" %}*</td>
                <td><i>{% trans "italics" %}</i></td>
            </tr>

            <tr>
                <td>**{% trans "bold" %}**</td>
                <td><strong>{% trans "bold" %}</strong></td>
            </tr>

            <tr>
                <td>[AstroBin!](http://astrobin.com)</td>
                <td><a href="http://astrobin.com">AstroBin!</a></td>
            </tr>

            <tr>
                <td><i>{% trans "(TAB or 4 spaces)" %}</i> {% trans "preformatted text" %}</td>
                <td><tt>{% trans "preformatted text" %}</tt></td>
            </tr>

            <tr>
                <td>&gt; {% trans "quoted text" %}</td>
                <td>| <i>{% trans "quoted text" %}</i></td>
            </tr>
            
            <tr>
                <td>\*{% trans "escape the formatting syntax" %}\*</td>
                <td>*{% trans "escape the formatting syntax" %}*</td>
            </tr>
        </tbody>
    </table>
{% endhandlebars %}
