{% load i18n %}

<p>
    {% blocktrans trimmed %}
        You accepted <strong>{{ buyer_display_name }}</strong>'s offer for your listing
        <strong>{{ item }}</strong>.
    {% endblocktrans %}
</p>

<p>
    <strong>{% trans "Offer details" %}</strong>
</p>

<p>
    {% for offer in accepted_offers %}
        {% trans "Item" %}: <strong>{{ offer.line_item }}</strong><br/>
        {% trans "Offer amount" %}: <strong>{{ offer.line_item.currency }} {{ offer.amount }}</strong>
        {% if offer.line_item.shipping_cost %}
            {% trans "Shipping" %}: <strong>{{ offer.line_item.currency }} {{ offer.line_item.shipping_cost }}</strong>
        {% endif %}
        {% if not forloop.last %}
            <br/><br/>
        {% endif %}
    {% endfor %}
</p>

<p>
    <strong>
        {% blocktrans trimmed %}
            PLEASE NOTE: listings on AstroBin's marketplace may contain more than one item. Please review the offer
            details to ensure you understand which items the offer is for.
        {% endblocktrans %}
    </strong>
</p>

<p>
    {% blocktrans trimmed %}
        Now, it's time to finalize the details with the buyer. You can communicate and arrange payment and delivery either
        through the listing’s page or private messaging on AstroBin.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
        Please note, while AstroBin facilitates a platform for sellers and buyers, the specifics of transactions are
        managed directly between parties involved. We encourage both buyers and sellers to exercise caution and use secure
        methods for payment and delivery.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
        PS: once you've completed the transaction, please remember to mark the listing as sold.
    {% endblocktrans %}
</p>

<p>
    <a href="{{ listing_url }}" class="btn btn-primary">{% trans "View listing" %}</a>
</p>

<p>
    {% blocktrans trimmed %}
        Thank you for using AstroBin, and we wish you a smooth and successful transaction!
    {% endblocktrans %}
</p>
