{% load i18n %}

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="form-inline form-donate">
    <input type="hidden" name="cmd" value="_xclick-subscriptions">
    <input type="hidden" name="business" value="{{business}}">
    <input type="hidden" name="lc" value="FI">
    <input type="hidden" name="item_name" value="{{subscription.name}}">
    <input type="hidden" name="item_number" value="{{subscription.id}}">
    <input type="hidden" name="no_note" value="1">
    <input type="hidden" name="no_shipping" value="1">
    <input type="hidden" name="rm" value="1">
    <input type="hidden" name="return" value="{{base_url}}/donations/success/">
    <input type="hidden" name="cancel_return" value="{{base_url}}/donations/cancel/">
    <input type="hidden" name="src" value="1">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribe_LG.gif:NonHosted">
    <input type="hidden" name="notify_url" value="{{base_url}}/subscriptions/paypal/">
    <input type="hidden" name="custom" value="{{request.user.id}}"/>

    <label for="os0">
        {% trans "What is AstroBin worth to you?" %}
    </label>
    <select name="os0">
        <option value="A coffee">{% trans "A coffee" %}: $2.00 USD - {% trans "monthly" %}</option>
        <option value="A snack"> {% trans "A snack"  %}: $3.00 USD - {% trans "monthly" %}</option>
        <option value="A pizza" selected="selected"> {% trans "A pizza"  %}: $5.00 USD - {% trans "monthly" %}</option>
        <option value="A movie night"> {% trans "A movie night" %}: $10.00 USD - {% trans "monthly" %}</option>
    </select>

    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" name="submit"  class="button"/>
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"/>

    <input type="hidden" name="currency_code" value="USD">

    <input type="hidden" name="option_select0" value="A coffee">
    <input type="hidden" name="option_amount0" value="2.00">
    <input type="hidden" name="option_period0" value="M">
    <input type="hidden" name="option_frequency0" value="1">

    <input type="hidden" name="option_select1" value="A snack">
    <input type="hidden" name="option_amount1" value="3.00">
    <input type="hidden" name="option_period1" value="M">
    <input type="hidden" name="option_frequency1" value="1">

    <input type="hidden" name="option_select2" value="A pizza">
    <input type="hidden" name="option_amount2" value="5.00">
    <input type="hidden" name="option_period2" value="M">
    <input type="hidden" name="option_frequency2" value="1">

    <input type="hidden" name="option_select3" value="A movie night">
    <input type="hidden" name="option_amount3" value="10.00">
    <input type="hidden" name="option_period3" value="M">
    <input type="hidden" name="option_frequency3" value="1">

    <input type="hidden" name="option_index" value="k">
</form>

