{% load i18n %}
{% load astrobin_apps_donations_tags %}

<form
        {% if PAYPAL_TEST %}
            action="https://www.sandbox.paypal.com/cgi-bin/webscr"
        {% else %}
            action="https://www.paypal.com/cgi-bin/webscr"
        {% endif %}
            method="post"
            target="_top"
            class="form-horizontal form-donate">
    <input type="hidden" name="cmd" value="_xclick-subscriptions">
    <input type="hidden" name="business" value="{{ business }}">
    <input type="hidden" name="lc" value="CH">
    <input type="hidden" name="no_note" value="1">
    <input type="hidden" name="no_shipping" value="1">
    <input type="hidden" name="rm" value="1">
    <input type="hidden" name="return" value="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'astrobin_apps_donations.success' %}">
    <input type="hidden" name="cancel_return" value="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'astrobin_apps_donations.cancel' %}">
    <input type="hidden" name="src" value="1">
    <input type="hidden" name="currency_code" value="CHF">
    <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribe_LG.gif:NonHosted">
    <input type="hidden" name="notify_url" value="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'paypal-ipn' %}">
    <input type="hidden" name="custom" value="{{ request.user.id }}" />

    {% if not request.user|is_donor %}
        <input type="hidden" name="item_name" value="{{ monthly_gold_sub.name }}" />
        <input type="hidden" name="item_number" value="{{ monthly_gold_sub.id }}" />
    {% else %}
        <input type="hidden" name="modify" value="1" />
        <input type="hidden" name="item_name" value="{% user_donation_subscription_name request.user %}" />
        <input type="hidden" name="item_number" value="{% user_donation_subscription_id request.user %}" />
    {% endif %}

    <select name="os0">
        <optgroup label="{% trans "Monthly contributions" %}">
            <option
                    id="bronze_monthly"
                    value="bronze_monthly"
                    {% donation_form_selected "AstroBin Donor Bronze Monthly" %}>
                {% trans "Bronze" %}:
                {% blocktrans with 2.50|floatformat:2 as amount %}CHF {{ amount }} / month{% endblocktrans %}
            </option>

            <option
                    id="silver_monthly"
                    value="silver_monthly"
                    {% donation_form_selected "AstroBin Donor Silver Monthly" %}>
                {% trans "Silver" %}:
                {% blocktrans with 5.00|floatformat:2 as amount %}CHF {{ amount }} / month{% endblocktrans %}
            </option>

            <option
                    id="gold_monthly"
                    value="gold_monthly"
                    {% donation_form_selected "AstroBin Donor Gold Monthly" %}>
                {% trans "Gold" %}:
                {% blocktrans with 10.00|floatformat:2 as amount %}CHF {{ amount }} / month{% endblocktrans %}
            </option>

            <option
                    id="platinum_monthly"
                    value="platinum_monthly"
                    {% donation_form_selected "AstroBin Donor Platinum Monthly" %}>
                {% trans "Platinum" %}:
                {% blocktrans with 20.00|floatformat:2 as amount %}CHF {{ amount }} / month{% endblocktrans %}
            </option>
        </optgroup>

        <optgroup label="{% trans "Yearly contributions (cheaper)" %}">
            <option
                    id="bronze_yearly"
                    value="bronze_yearly"
                    {% donation_form_selected "AstroBin Donor Bronze Yearly" %}>
                {% trans "Bronze" %}:
                {% blocktrans with 27.50|floatformat:2 as amount %}CHF {{ amount }} / year{% endblocktrans %}
            </option>

            <option
                    id="silver_yearly"
                    value="silver_yearly"
                    {% donation_form_selected "AstroBin Donor Silver Yearly" %}>
                {% trans "Silver" %}:
                {% blocktrans with 55.00|floatformat:2 as amount %}CHF {{ amount }} / year{% endblocktrans %}
            </option>

            <option
                    id="gold_yearly"
                    value="gold_yearly"
                    {% donation_form_selected "AstroBin Donor Gold Yearly" %}>
                {% trans "Gold" %}:
                {% blocktrans with 110.00|floatformat:2 as amount %}CHF {{ amount }} / year{% endblocktrans %}
            </option>

            <option
                    id="platinum_yearly"
                    value="platinum_yearly"
                    {% donation_form_selected "AstroBin Donor Platinum Yearly" %}>
                {% trans "Platinum" %}:
                {% blocktrans with 220.00|floatformat:2 as amount %}CHF {{ amount }} / year{% endblocktrans %}
            </option>
        </optgroup>
    </select>

    <input type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_donateCC_LG.gif" name="submit"
           class="button" />
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />

    <!-- Monthly -->
    <input type="hidden" name="option_select0" value="bronze_monthly">
    <input type="hidden" name="option_amount0" value="2.50">
    <input type="hidden" name="option_period0" value="M">
    <input type="hidden" name="option_frequency0" value="1">

    <input type="hidden" name="option_select1" value="silver_monthly">
    <input type="hidden" name="option_amount1" value="5.00">
    <input type="hidden" name="option_period1" value="M">
    <input type="hidden" name="option_frequency1" value="1">

    <input type="hidden" name="option_select2" value="gold_monthly">
    <input type="hidden" name="option_amount2" value="10.00">
    <input type="hidden" name="option_period2" value="M">
    <input type="hidden" name="option_frequency2" value="1">

    <input type="hidden" name="option_select3" value="platinum_monthly">
    <input type="hidden" name="option_amount3" value="20.00">
    <input type="hidden" name="option_period3" value="M">
    <input type="hidden" name="option_frequency3" value="1">

    <!-- Yearly -->
    <input type="hidden" name="option_select5" value="bronze_yearly">
    <input type="hidden" name="option_amount5" value="27.50">
    <input type="hidden" name="option_period5" value="Y">
    <input type="hidden" name="option_frequency5" value="1">


    <input type="hidden" name="option_select6" value="silver_yearly">
    <input type="hidden" name="option_amount6" value="55.00">
    <input type="hidden" name="option_period6" value="Y">
    <input type="hidden" name="option_frequency6" value="1">

    <input type="hidden" name="option_select7" value="gold_yearly">
    <input type="hidden" name="option_amount7" value="110.00">
    <input type="hidden" name="option_period7" value="Y">
    <input type="hidden" name="option_frequency7" value="1">

    <input type="hidden" name="option_select8" value="platinum_yearly">
    <input type="hidden" name="option_amount8" value="220.00">
    <input type="hidden" name="option_period8" value="Y">
    <input type="hidden" name="option_frequency8" value="1">

    <input type="hidden" name="option_index" value="k">
</form>

{% if request.user|is_donor %}
    <p>
        <strong>{% trans "IMPORTANT" %}</strong>:
        <i>
            {% trans "Please note: if you are already a donor, the Subscribe button will update your existing subscription, not create a new one." %}
        </i>
    </p>
{% endif %}

<div class="subtle-container">
    <h3>{% trans "Pay with a bank transfer" %}</h3>
    <p>
        {% blocktrans with amount=object.price currency=object.currency email_prefix="<a href='mailto:astrobin@astrobin.com'>" email="astrobin@astrobin.com" email_postfix="</a>" %}
            Prefer to donate via bank transfer? Please make a deposit of the amount you wish to donate to the following
            bank details. Thanks!
        {% endblocktrans %}
    </p>

    <pre>BANK: PostFinance Switzerland
ACCOUNT HOLDER: Salvatore Iovene
ADDRESS: Obstgartenstrasse 32, 8136 Gattikon (Switzerland)
ACCOUNT # (IBAN):  CH97 0900 0000 6922 3618 4
SWIFT / BIC: POFICHBEXXX</pre>
</div>

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('select[name=os0]').change(function () {
                var item_name = "{{monthly_gold_sub.name}}";
                var item_number = "{{monthly_gold_sub.id}}";
                var opt = $(this).find('option:selected').attr('id');

                if (opt === 'bronze_monthly') {
                    item_name = "{{monthly_bronze_sub.name}}";
                    item_number = "{{monthly_bronze_sub.id}}";
                } else if (opt === 'silver_monthly') {
                    item_name = "{{monthly_silver_sub.name}}";
                    item_number = "{{monthly_silver_sub.id}}";
                } else if (opt === 'gold_monthly') {
                    item_name = "{{monthly_gold_sub.name}}";
                    item_number = "{{monthly_gold_sub.id}}";
                } else if (opt === 'platinum_monthly') {
                    item_name = "{{monthly_platinum_sub.name}}";
                    item_number = "{{monthly_platinum_sub.id}}";
                } else if (opt === 'bronze_yearly') {
                    item_name = "{{yearly_bronze_sub.name}}";
                    item_number = "{{yearly_bronze_sub.id}}";
                } else if (opt === 'silver_yearly') {
                    item_name = "{{yearly_silver_sub.name}}";
                    item_number = "{{yearly_silver_sub.id}}";
                } else if (opt === 'gold_yearly') {
                    item_name = "{{yearly_gold_sub.name}}";
                    item_number = "{{yearly_gold_sub.id}}";
                } else if (opt === 'platinum_yearly') {
                    item_name = "{{yearly_platinum_sub.name}}";
                    item_number = "{{yearly_platinum_sub.id}}";
                }

                $('input[name=item_name]').val(item_name);
                $('input[name=item_number]').val(item_number);
            });
        });
    </script>
{% endblock %}
