{% load i18n %}

{% if request.user.is_authenticated %}
    <div class="modal hide fade" id="remove-ads-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3><i class="icon-gift"></i> {% trans "Are you really sure?" %}</h3>
        </div>
        <div class="modal-body">
            <p>
                {% blocktrans %}We know, we're all used to the fact that ads on the Internet are
                    annoying.{% endblocktrans %}
                {% blocktrans %}However, please let us offer you two good reasons to allow ads on
                    AstroBin:{% endblocktrans %}
            </p>

            <ol>
                <li>
                    {% blocktrans %}AstroBin is a one-person business. As of the time of writing, in early 2020,
                        I'm trying to make AstroBin a full time job, but it hasn't happened yet. If this dream were to
                        become reality, I could invest a lot more time in the development of AstroBin, and everybody
                        would benefit from it!{% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}There are only astronomy ads on AstroBin, that are published after my review and
                        approval. Nothing fishy, nothing off-topic, and nothing that will use any of your private
                        information.{% endblocktrans %}
                </li>
            </ol>

            <p>
                {% url 'profile_edit_preferences' as profile_url %}
                {% blocktrans %}If you still feel that you would rather not see these ads, you can change this on
                    <a href="{{ profile_url }}">your settings page</a>.{% endblocktrans %}
            </p>

            <p>
                {% trans "Thank you!" %}
            </p>
        </div>

        <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</a>
        </div>
    </div>
{% endif %}

