{% load i18n %}

{% if request.user.is_authenticated %}
    <div class="modal hide fade" id="remove-ads-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3><i class="icon-gift"></i> {% trans "Please donate!" %}</h3>
        </div>
        <div class="modal-body">
            <p>
                {% blocktrans %}Although we have tried to keep AstroBin ad free, as of right now the only way we can keep the website running is with commercial support by advertisers and your donations.{% endblocktrans %}
            </p>

            <p>
                {% blocktrans %}The ads you will see on AstroBin come from legitimate advertisers whose business we support, and each image and word is reviewed and approved before it's published. AstroBin will not share any personal information about you to its advertisers.{% endblocktrans %}
            </p>

            <p>
                {% blocktrans %}However, if you still feel that you would rather not see these ads, we kindly ask you for a small donation. It will keep our servers running and help with the hosting costs.{% endblocktrans %}
                {% blocktrans %}AstroBin stores images at full size and quality, and with no limitations, because quality is important when it comes to astrophotography. But such files can be large, and bandwidth is expensive.{% endblocktrans %}
            </p>

            <p>
                {% blocktrans %}Please donate any amount you want, selecting from the options below and subscribing with a recurring monthly payment.{% endblocktrans %}
                {% blocktrans %}If you donate, you will not be shown ads anymore.{% endblocktrans %}
            </p>

            <p>
                {% trans "Thank you!" %}
            </p>
        </div>

        <div class="modal-footer">
            {% include 'astrobin_apps_donations/inclusion_tags/_paypal_button.html' %}
        </div>
    </div>
{% endif %}

