{% load i18n %}

<script type="text/javascript">
    $(function() {
        var $table = $('table.rawdata-browser');
        var $rows = $table.find('tr.rawfile');
        var $header = $table.find('thead tr th:first');
        var floating_header_selector = 'thead.tableFloatingHeader th:first';
        var is_folder_browser = $table.hasClass('folders');
        var is_image_browser = $table.hasClass('images');

        function reset_header($h) {
            if (is_folder_browser)
                $h.text("{{folders_header}}");
            else
                var $select_all = $('<span/>').html($('<a/>')
                    .attr('href', '#')
                    .attr('id', 'select-all')
                    .addClass('btn btn-mini')
                    .text("{% trans "Select all" %}"));
                $h.html($select_all);
        }

        function reset_headers() {
            reset_header($header);
            reset_header($(floating_header_selector));
        }

        function selection_header($h, count) {
            var $selected = ''
            if (is_image_browser) {
                var $selected = $('<span/>')
                    .attr('id', 'selectedCount')
                    .text(count);
            }

            var $reset = $('<span/>').html($('<a/>')
                .attr('href', '#')
                .addClass('btn btn-mini')
                .text("{% trans "Reset selection" %}")
                .click(function(e) {
                    $table.find('tr.active').removeClass('active');
                    reset_headers();
                    e.preventDefault();
                }));

            if (is_image_browser) {
                var ids = [];
                $.each($table.find('tr.active'), function(i, $row) {
                    ids.push($($row).attr('id'));
                });

                var $download = $('<span/>').html($('<a/>')
                    .attr('href', '/rawdata/download/' + ids.join(',') + '/')
                    .addClass('btn btn-mini btn-primary')
                    .html('<i class="icon-download-alt"></i> {% trans "Download" %}'));

                var $del = $('<span/>').html($('<a/>')
                    .attr('href', '#')
                    .addClass('btn btn-mini btn-danger')
                    .html('<i class="icon-trash"></i> {% trans "Delete" %}'))
                    .click(function(e) {
                        del(ids);
                        e.preventDefault();
                    });
            } else if (is_folder_browser) {
                var params = $table.find('tr.active td.folder-label a').attr('href').split('?')[1];

                var $download = $('<span/>').html($('<a/>')
                    .attr('href', '/rawdata/download/?' + params)
                    .addClass('btn btn-mini btn-primary')
                    .html('<i class="icon-download-alt"></i> {% trans "Download" %}'));

                var $del = $('<span/>').html($('<a/>')
                    .attr('href', '#')
                    .addClass('btn btn-mini btn-danger')
                    .html('<i class="icon-trash"></i> {% trans "Delete" %}'))
                    .click(function(e) {
                        del(params);
                        e.preventDefault();
                    });
            }

            $h
                .html($selected)
                .append($reset)
                .append($download)
                .append($del);
        }

        function selection_headers(count) {
            selection_header($header, count);
            selection_header($(floating_header_selector), count);
        }

        function del(params) {
            var query_string = '';
            var affected_rows = [];

            if (Object.prototype.toString.call(params) === '[object Array]') {
                var ids = params
                query_string = ids.join(',') + '/'

                $.each(ids, function(i, id) {
                    affected_rows.push($table.find('tr#' + id + ' td'));
                });
            } else {
                $.each($table.find('tr.active'), function(i, $row) {
                    affected_rows.push($($row));
                });
                query_string = '0/?' + params;
            }

            $.each(affected_rows, function(i, $row) {
                $row.animate({'color': 'red'}, 500);
                $row.css('text-decoration', 'line-through');
            });

            setTimeout(function() {
                $.ajax({
                    type: 'delete',
                    url: '/rawdata/delete/' + query_string,
                    cache: false,
                    timeout: 10000,
                    success: function() {
                        $.each(affected_rows, function(i, $row) {
                            $row.remove();
                        });
                    }
                });
            }, 500);
        }

        $rows.click(function(e) {
            if (e.target.tagName !== 'TD' && e.target.tagName !== 'TR')
                return;

            if (is_folder_browser) {
                /* Restrict to one folder at a time. */
                $table.find('tr.active').removeClass('active');
            }
            $(this).toggleClass('active');

            var count = $table.find('tr.rawfile.active').length;
            if (count == 0) {
                reset_headers();
            } else {
                selection_headers(count);
            }
        });

        $('.delete-link').click(function(e) {
            e.stopPropagation();

            var self = this,
                $row = $(self).closest('tr'),
                id = $row.attr('id');

            del([id]);

            e.preventDefault();
        });

        $('a#select-all').live('click', function(e) {
            $rows.trigger('click');
            e.preventDefault();
        });

        $table.stickyTableHeaders({fixedOffset: 44});
    });
</script>
