{% load i18n %}

{% load common_tags %}
{% load rawdata_tags %}

{% if folders %}
    <table class="table table-striped rawdata-browser folders">
        <thead>
            <tr>
                <th class="rawdata-browser-icon"></th>
                <th class="rawdata-browser-file">{{folders_header}}</th>
                <th class="rawdata-browser-file-count">{% trans "Files" %}</th>
                <th class="rawdata-browser-actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="header">
                <td colspan="4" class="rawdata-browser-actions">{% include 'rawdata/_folder_dropdown.html' %}</td>
            </tr>
        {% for folder in folders %}
            <tr class="rawfile">
                <td class="rawdata-browser-icon"><i class="icon-folder-close"></i></td>
                <td class="rawdata-browser-file">
                    {% ifequal folder.folder_type 'type' %}
                    <a href="{{ request.path }}{% query_string 'type=folder.type, f=none' '' %}">
                    {% endifequal %}

                    {% ifequal folder.folder_type 'upload' %}
                    <a href="{{ request.path }}{% query_string 'upload=folder.date, f=none' '' %}">
                    {% endifequal %}

                    {% ifequal folder.folder_type 'acquisition' %}
                    <a href="{{ request.path }}{% query_string 'acquisition=folder.date, f=none' '' %}">
                    {% endifequal %}

                    {% ifequal folder.folder_type 'camera' %}
                    <a href="{{ request.path }}{% query_string 'camera=folder.camera, f=none' '' %}">
                    {% endifequal %}

                    {% ifequal folder.folder_type 'telescope' %}
                    <a href="{{ request.path }}{% query_string 'telescope=folder.telescope, f=none' '' %}">
                    {% endifequal %}

                    {% ifequal folder.folder_type 'filterName' %}
                    <a href="{{ request.path }}{% query_string 'filter=folder.filterName, f=none' '' %}">
                    {% endifequal %}

                    {% ifequal folder.folder_type 'subjectName' %}
                    <a href="{{ request.path }}{% query_string 'subject=folder.subjectName, f=none' '' %}">
                    {% endifequal %}

                    {% ifequal folder.folder_type 'temperature' %}
                    <a href="{{ request.path }}{% query_string 'temperature=folder.temperature, f=none' '' %}">
                    {% endifequal %}

                        {{folder.label}}
                    </a>
                </td>
                <td class="rawdata-browser-file-count">{{folder.images|length}}</td>
                <td class="rawdata-browser-actions"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

