{% load i18n %}

{% load common_tags %}
{% load rawdata_tags %}

{% if images %}
    <table class="table table-striped rawdata-browser images">
        <thead>
        <tr>
            <th class="rawdata-browser-icon"></th>
            <th class="rawdata-browser-counter"></th>
            <th class="rawdata-browser-file">{% trans "Filename" %}</th>
            <th class="rawdata-browser-type">{% trans "Type" %}</th>
            <th class="rawdata-browser-uploaded">{% trans "Uploaded" %}</th>
            <th class="rawdata-browser-actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="6">
                    <span>
                        <a id="select-all" href="#" class="btn btn-mini">
                            {% trans "Select all" %}
                        </a>
                    </span>
                {% include "rawdata/_folder_dropdown.html" %}
            </td>
        </tr>
        {% for image in images %}
            <tr id="{{ image.id }}" class="rawfile">
                <td class="rawdata-browser-icon"><i class="icon-file"></i></td>
                <td class="rawdata-browser-counter">{{ forloop.counter }}</td>
                <td class="rawdata-browser-file">
                    <a href="{% url 'rawdata.rawimage_detail' image.pk %}">
                        {{ image.original_filename|truncatechars:70 }}
                    </a>
                </td>
                <td class="rawdata-browser-type">{{ image.image_type|humanize_rawimage_type }}</td>
                <td class="rawdata-browser-uploaded">
                    <abbr class="timeago" title="{{ image.uploaded|date:'Y-m-d\TH:i:s' }}">
                        {{ image.uploaded|date }}
                    </abbr>
                </td>
                <td class="rawdata-folder-actions">
                    <a href="{% url 'rawdata.download' image.id %}"
                       class="download-link"
                       rel="tooltip" title="{% trans "Download" %}">
                        <i class="icon-download-alt"></i>
                    </a>
                    {% if READONLY_MODE %}
                        <a
                                data-toggle="modal" href="#readonly-mode-modal"
                                class="delete-link" rel="tooltip" title="{% trans "Delete" %}">
                            <i class="icon-trash"></i>
                        </a>
                    {% else %}
                        <a href="#" class="delete-link" rel="tooltip" title="{% trans "Delete" %}">
                            <i class="icon-trash"></i>
                        </a>
                    {% endif %} {# READONLY #}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

