<script type="text/javascript">
    $('#rawdata-tour a').lightBox({
        imageLoading: '{{STATIC_URL}}common/images/lightbox-ico-loading.gif',
        imageBtnClose: '{{STATIC_URL}}common/images/lightbox-btn-close.gif',
        imageBtnPrev: '{{STATIC_URL}}common/images/lightbox-btn-prev.gif',
        imageBtnNext: '{{STATIC_URL}}common/images/lightbox-btn-next.gif',
        imageBlank: '{{STATIC_URL}}common/images/lightbox-blank.gif',
        txtImage: '',
        txtOf: '/',
    });
</script>
