{% load i18n %}
{% load staticfiles %}

<h3>{% trans "Screenshot tour" %}</h3>
<div id="rawdata-tour">
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-01.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-01.png" alt="Tour 1" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-02.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-02.png" alt="Tour 2" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-03.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-03.png" alt="Tour 3" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-04.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-04.png" alt="Tour 4" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-05.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-05.png" alt="Tour 5" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-06.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-06.png" alt="Tour 6" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-07.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-07.png" alt="Tour 7" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-08.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-08.png" alt="Tour 8" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-09.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-09.png" alt="Tour 9" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-10.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-10.png" alt="Tour 10" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-11.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-11.png" alt="Tour 11" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-12.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-12.png" alt="Tour 12" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-13.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-13.png" alt="Tour 13" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-14.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-14.png" alt="Tour 14" />
    </a>
    <a class="fancybox" rel="group" href="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/rawdata-tour-15.png">
        <img src="{% static 'rawdata/images/tour' %}/{{request.LANGUAGE_CODE}}/thumbs/rawdata-tour-15.png" alt="Tour 15" />
    </a>
</div>
