{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "AstroBin Raw Data" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "AstroBin Raw Data" %}
            <small>{% trans "To safely store and organize your raw files." %}</small>
        </h1>
    </div>

    <div class="row section">
        <div class="span4">
            {% include 'rawdata/_screenshot_tour.html' %}
        </div>

        <div class="span4">
            <h3>{% trans "Sharing is loving." %}</h3>
            <p>{% blocktrans %}Optionally, you can share your raw data with a friend, or why not, your entire astronomy club! This will make it really easy to collaborate on that massive <strong>100 integration hours</strong> project you've been meaning to complete. {% endblocktrans %}</p>

            <h3>{% trans "Peace of mind." %}</h3>
            <p>{% blocktrans %}Ever had a hard-drive crash on you, and lost a lot of data? By keeping your raw files on <strong>AstroBin Raw Data</strong> you will be safe from disaster and accidents! At AstroBin, we take data preservation very seriously.{% endblocktrans %}</p>

            <h3>{% trans "Do some science." %}</h3>
            <p>{% blocktrans %}Although your raw files are strictly private, unless you explicitly share them, professional and amateur astronomers may still search if a raw file of a particular area in the sky, acquired at a particular time, exists. You may happen to have the key to important scientific advancements in the fields of novae, supernovae, asteroids, comets, variable stars and more!{% endblocktrans %}</p>

        </div>

        <div class="span4" style="padding-top: 80px; text-align: center;">
            <img src="{{STATIC_URL}}rawdata/images/astrobin-rawdata-plan-sol.png" alt="{% trans "AstroBin Raw Data" %}" />
            <a class="btn btn-primary btn-large" href="{% url 'subscription_list' %}">{% trans "Sign up now!" %}</a>
        </div>
    </div>

    <div class="pagination pagination-centered">
        <ul>
            <li>
                <a href="{% url 'rawdata.help2' %}">{% trans "Previous page" %}</a>
                <a href="{% url 'subscription_list' %}">{% trans "Sign up now!" %}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block extra_js %}
    {% include 'rawdata/_screenshot_tour_js.html' %}
{% endblock %}
