{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "AstroBin Raw Data" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "AstroBin Raw Data" %}
            <small>{% trans "To safely store and organize your raw files." %}</small>
        </h1>
    </div>

    <div class="row section">
        <div class="span4">
            {% include 'rawdata/_screenshot_tour.html' %}
        </div>

        <div class="span4">
            <h3>{% trans "What is AstroBin Raw Data?" %}</h3>
            <p>{% blocktrans %}You already love AstroBin because of how it keeps your images organized. Thanks to it, you will never have to worry about losing your precious work, nor all the important meta-data associated with it.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}What if we told you now you can do the same with your raw files?{% endblocktrans %}</p>
            
            <p>{% blocktrans %}Is your <em>astrophotography</em> folder full of thousands of poorly organized <strong>FIT</strong> or <strong>digital camera raw</strong> files? Is it always hard to go back and find the right calibration files in your dark library? Do you just wish that you could backup your raw files somewhere safe?{% endblocktrans %}</p>
            
            <p>{% blocktrans %}<strong>AstroBin Raw Data</strong> is the answer! For a very modest price, you can store your whole <strong>raw data library</strong> online, where it will be securely accessible only by you.{% endblocktrans %}</p>

            <p>{% blocktrans %}AstroBin will <em>automatically</em> organize your files by reading the <strong>FIT</strong> headers or <strong>EXIF</strong> information!{% endblocktrans %}</p>
        </div>

        <div class="span4" style="padding-top: 80px; text-align: center;">
            <img src="{{STATIC_URL}}rawdata/images/astrobin-rawdata-plan-small.png" alt="{% trans "AstroBin Raw Data" %}" />
            <a class="btn btn-primary btn-large" href="{% url subscription_list %}">{% trans "Sign up now!" %}</a>
        </div>
    </div>

    <div class="pagination pagination-centered">
        <ul>
            <li>
                <a href="{% url rawdata.help2 %}">{% trans "Next page" %}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block extra_js %}
    {% include 'rawdata/_screenshot_tour_js.html' %}
{% endblock %}
