{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}
{% load rawdata_tags %}

{% block title %}AstroBin - {% blocktrans %}Your raw data library{% endblocktrans %}{% endblock %}
{% block container_extra_classes %}has-subnav{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Raw data library' 'rawdata.library' %}
{% endblock %}

{% block content %}
    {% comment %}
        The following template is assumed to exist in AstroBin.
    {% endcomment %}
    {% include 'user/profile/navigation.html' %}

    <div class="subtitle">
        <i class="icon icon-info-sign"></i>
        {% blocktrans with used_bytes|filesizeformat as used and byte_limit|filesizeformat as limit %}You have used {{used}} of your {{limit}}.{% endblocktrans %}
        ({{used_percent}}%)
    </div>

    {% if used_percent > 0 %}
        <div class="progress {{progress_class}}">
            <div class="bar" style="width:{{used_percent}}%"></div>
        </div>
    {% endif %}

    <div class="text-center" style="margin: 20px 0">
        <a class="btn btn-large btn-primary" href="{% url 'subscription_list' %}">
            <i class="icon-book"></i> {% trans "Manage plans" %}
        </a>
        <a class="btn btn-large btn-primary" href="{% url 'image_upload' %}">
            <i class="icon-upload-alt"></i> {% trans "Upload" %}
        </a>
    </div>

    {% if over_limit %}
        <div class="alert alert-error">
            <h4 class="alert-heading"><i class="icon-fire"></i> {% trans "Error!" %}</h3>
            {% trans "You have no more space left on your Raw Data account. Please delete some files to make room, or upgrade your account." %}
        </div>
    {% endif %} 

    {% if unindexed_count %}
        <div class="alert alert-warning">
            <h4 class="alert-heading"><i class="icon-warning-sign"></i> {% trans "Warning!" %}</h3>
            {% blocktrans with unindexed_count as number and total_files as total %}AstroBin is still working to index {{number}} of your {{total}} raw files.{% endblocktrans %}
        </div>
    {% endif %} 

    {% if total_files %}
        <div class="rawdata-browser-breadcrumb">
            <a class="btn btn-mini btn-primary" href="{{ request.path }}{% query_string '' 'f,type,upload,acquisition,camera,telescope,filter,subject,temperature' %}">
                {% trans "All files" %}
            </a>

            {% if filter_type %}
                <span class="divider">/</span>
                <a class="btn btn-mini btn-primary" href="{{ request.path }}{% query_string '' 'type' %}">
                    {% trans "Type" %}: <strong>{{filter_type|humanize_rawimage_type}}</strong>
                    <i class="icon-remove"></i>
                </a>
            {% endif %}

            {% if filter_upload %}
                <span class="divider">/</span>
                <a class="btn btn-mini btn-primary" href="{{ request.path }}{% query_string '' 'upload' %}">
                    {% trans "Uploaded" %}: <strong>{{filter_upload}}</strong>
                    <i class="icon-remove"></i>
                </a>
            {% endif %}

            {% if filter_acquisition %}
                <span class="divider">/</span>
                <a class="btn btn-mini btn-primary" href="{{ request.path }}{% query_string '' 'acquisition' %}">
                    {% trans "Acquisition date" %}: <strong>{{filter_acquisition}}</strong>
                    <i class="icon-remove"></i>
                </a>
            {% endif %}

            {% if filter_camera %}
                <span class="divider">/</span>
                <a class="btn btn-mini btn-primary" href="{{ request.path }}{% query_string '' 'camera' %}">
                    {% trans "Camera" %}: <strong>{{filter_camera}}</strong>
                    <i class="icon-remove"></i>
                </a>
            {% endif %}

            {% if filter_telescope %}
                <span class="divider">/</span>
                <a class="btn btn-mini btn-primary" href="{{ request.path }}{% query_string '' 'telescope' %}">
                    {% trans "Telescope or lens" %}: <strong>{{filter_telescope}}</strong>
                    <i class="icon-remove"></i>
                </a>
            {% endif %}

            {% if filter_filter %}
                <span class="divider">/</span>
                <a class="btn btn-mini btn-primary" href="{{ request.path }}{% query_string '' 'filter' %}">
                    {% trans "Filter" %}: <strong>{{filter_filter}}</strong>
                    <i class="icon-remove"></i>
                </a>
            {% endif %}

            {% if filter_subject %}
                <span class="divider">/</span>
                <a class="btn btn-mini btn-primary" href="{{ request.path }}{% query_string '' 'subject' %}">
                    {% trans "Subject" %}: <strong>{{filter_subject}}</strong>
                    <i class="icon-remove"></i>
                </a>
            {% endif %}

            {% if filter_temperature %}
                <span class="divider">/</span>
                <a class="btn btn-mini btn-primary" href="{{ request.path }}{% query_string '' 'temperature' %}">
                    {% trans "Temperature" %}: <strong>{{filter_temperature}}</strong>
                    <i class="icon-remove"></i>
                </a>
            {% endif %}

            {% if folders_header %}
                <span class="divider">/</span>
                <a class="btn btn-mini" href="{{ request.path }}{% query_string 'f=none' '' %}">
                    {% trans "Smart folders" %}: <strong>{{folders_header}}</strong>
                    <i class="icon-remove"></i>
                </a>
            {% endif %}
        </div>

        {% include 'rawdata/_folders.html' %}
        {% include 'rawdata/_images.html' %}
    {% else %}
        <p>
            {% blocktrans %}There doesn't seem to be anything here.{% endblocktrans %}
            {% url 'image_upload' as upload_url %}
            {% blocktrans %}Head over to the <a href="{{upload_url}}">upload page</a> to get started. {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}

{% block modals %}
    <div class="modal hide fade" id="preprocess-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{% trans "Preprocess" %}</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error">
                <h4 class="alert-header">
                    <i class="icon-fire"></i>
                    {% trans "Coming soon!" %}
                </h4>
            </div>

            <p>
                {% blocktrans %}<strong>AstroBin Raw Data</strong> will soon allow you to automatically preprocess your data with a single click!{% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}We are working on algorithms that will automatically scan your library for calibration files, and identify the best matches for dark, offset and flat files. AstroBin will automatically create master frames, calibrate your selected images, align them, stack them and offer you the stacked file for download, ready to be postprocessed in your favorite image processing program.{% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}We will let you know when this feature is available!{% endblocktrans %}
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans "OK" %}</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% include 'rawdata/_browser_js.html' %}
{% endblock %}
