{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}
{% load staticfiles %}

{% block title %}AstroBin - {% blocktrans %}Share on a private folder{% endblocktrans %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Explore' None %}
    {% breadcrumb 'Raw data library' 'rawdata.library' %}
    {% breadcrumb 'Share on a private folder' None %}
{% endblock %}

{% block content %}
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
        <div class="subtitle">
            <i class="icon icon-info-sign"></i>
            {% blocktrans %}Share your raw data with a selected group of people{% endblocktrans %}
        </div>

        <div class="row">
            <div class="span6"> <!-- file list -->
                <table class="table rawdata-browser">
                    <thead>
                        <tr>
                            <th colspan="2">{% trans "Name" %}</th>
                            <th>{% trans "Size" %}</th>
                            <th>{% trans "Uploaded" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for image in images %}
                            <tr id="{{image.id}}" class="rawfile">
                                <td class="icon"><i class="icon-file"></i></td>
                                <td class="filename" rel="tooltip" title="{{image.original_filename}}">
                                    {{image.original_filename|truncatechars:"40"}}
                                </td>
                                <td>{{image.size|filesizeformat}}</td>
                                <td>
                                    <abbr class="timeago" title="{{image.uploaded|date:'Y-m-d\TH:i:s'}}">
                                        {{image.uploaded|date}}
                                    </abbr>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="span6">
                <p>
                    {% blocktrans %}A <strong>private shared folder</strong> is a place where you can collaborate with friends, memebers of your local astronomy club, or anyone else you select. Your raw data is only shared with the people you select, who need to be subscibers to <strong>AstroBin Raw Data</strong> as well, and nobody else.{% endblocktrans %}
                </p>

                <p>
                    {% blocktrans %}When you select an existing private shared folder, or create a new one, the images listed here on the side will be added to it.{% endblocktrans %}
                </p>

                {% if folders_form %}
                <div class="well">
                    <p>
                        {% blocktrans %}Use this form to select an existing <strong>private shared folder</strong>.{% endblocktrans %}
                    </p>
                    <form id="select-existing-form" class="form-inline">
                        {{folders_form}}
                        <button class="btn btn-primary">{% trans "Send" %}</button>
                        <img class="loading hidden"
                             src="{% static 'astrobin/images/ajax-loader.gif' %}"
                             alt="{% trans "Loading..." %}"/>
                    </form>
                </div>
                {% endif %}

                <div id="success-1" class="alert alert-success hidden"></div>

                <div class="well">
                    {% if folders_form %}
                    <p>
                        {% blocktrans %}Or use this button to create a whole new <strong>private shared folder</strong>.{% endblocktrans %}
                    </p>
                    {% endif %}
                    <a id="create-new-modal-link" href="#create-new-modal" class="btn btn-primary">
                        {% trans "Create new private shared folder" %}
                    </a>
                </div>

                <div id="success-2" class="alert alert-success hidden"></div>
            </div>
        </div>
    {% endif %} {# READONLY #}
{% endblock %}

{% block modals %}
    <div class="modal hide fade" id="create-new-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{% trans "Create new private shared folder" %}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post" action="">
                {{form|as_bootstrap}}
            </form>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
            <a href="#" class="btn btn-primary">{% trans "Create" %}</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(function($) {
            $('table').stickyTableHeaders({fixedOffset: 44});

            function post_images(folder_id, $success) {
                $.ajaxSettings.traditional = true;
                $.ajax({
                    cache: false,
                    data: {
                        images: [
                            {% for image in images %}
                                {{image.id}}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]
                    },
                    dataType: 'json',
                    type: 'post',
                    timeout: 10000,
                    success: function() {
                        if ($success !== undefined) {
                            $success.removeClass('hidden');
                            $success.html(
                                "{% trans "Success!" %} " +
                                "<a href=\"/rawdata/privatesharedfolders/" + folder_id + "/\">" +
                                  "Go to the folder's page" +
                                "</a>");
                        }
                    },
                    url: '/rawdata/privatesharedfolders/' + folder_id + '/add-data/'
                });
            }

            $('form#select-existing-form button').click(function(e) {
                var $form = $(this).closest('form');
                var pool_id = $form.find('select option:selected').val();
                $form.find('loading').removeClass('hidden');
                post_images(pool_id, $('#success-1'));
                e.preventDefault();
            });

            $('#create-new-modal-link').click(function(e) {
                $('#create-new-modal').modal('show');
                e.preventDefault();
            });

            $('#create-new-modal form').ajaxForm({
                cache: false,
                timeout: 10000,
                error: function(xhr, status, error) {
                    if (xhr.status == 400) {
                        // Form did not validate
                        data = $.parseJSON(xhr.responseText);
                        for (var key in data) {
                            var $input = $('[name=' + key + ']');
                            $input.closest('.control-group').addClass('error');
                            $input.after(
                                $('<p/>')
                                    .addClass('help-block error')
                                    .text(data[key][0])
                            );
                        }
                    }
                },
                success: function(response, status, xhr, $form) {
                    var pool_id = response.pk;
                    $form.closest('.modal').modal('hide');
                    post_images(pool_id, $('#success-2'));
                }
            });
            $('#create-new-modal .btn-primary').click(function(e) {
                $('#create-new-modal form').submit();
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
