{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% trans "Public data pools" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Explore' None %}
    {% breadcrumb 'Public data pools' None %}
{% endblock %}

{% block content %}
    <div class="subtitle">
        <i class="icon icon-info-sign"></i>
        {% trans "Collections of raw files for massive, collectively acquired deep sky images." %}
    </div>

    <div class="row section">
        <div class="span12">
            <p>
                {% blocktrans with rawdata_url="https://welcome.astrobin.com/features/raw-data-support" %}A <strong>public data pool</strong> is a way for subscribers to the <a href="{{rawdata_url}}">AstoBin Raw Data Platform</a> to collectively contribute to repositories of FIT and digital camera raw files, and achieve massive integration times, often consisting in hundreds of integration hours, on super deep images of the cosmos.{% endblocktrans %}
            </p>
            <p>
                {% blocktrans with rawdata_url="https://welcome.astrobin.com/features/raw-data-support" %}The <a href="{{rawdata_url}}">Raw Data Platform</a> is primarily a way to securely back up your raw files, and keep them neatly and effortlessly organized, but being part of it also means that you support AstroBin and can perhaps contribute your raw files to scientic discoveries.{% endblocktrans %}
            </p>
        </div>
    </div>

    <table class="table table-striped rawdata-folder-table">
        <thead>
            <th class="rawdata-folder-name">{% trans "Name" %}</th>
            <th class="rawdata-folder-owner hidden-phone">{% trans "Owner" %}</th>
            <th class="rawdata-folder-files hidden-phone">{% trans "Raw images" %}</th>
            <th class="rawdata-folder-images hidden-phone">{% trans "Processed images" %}</th>
            <th class="rawdata-folder-created hidden-phone hidden-tablet">{% trans "Created" %}</th>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td class="rawdata-folder-name"><a href="{% url 'rawdata.publicdatapool_detail' object.pk %}">{{object.name}}</a></td>
                    <td class="rawdata-folder-owner hidden-phone">
                        <a rel="popover" class="user-popover"
                           data-load="{% url 'user_popover_ajax' object.creator %}"
                           href="{% url 'user_page' object.creator %}">{{object.creator}}</a>
                    </td>
                    <td class="rawdata-folder-files hidden-phone">{{object.images.all|length}}</td>
                    <td class="rawdata-folder-images hidden-phone">{{object.processed_images.all|length}}</td>
                    <td class="rawdata-folder-created hidden-phone hidden-tablet">
                        <abbr class="timeago" title="{{object.created|date:'Y-m-d\TH:i:s'}}">
                            {{object.updated|date}}
                        </abbr>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('table').stickyTableHeaders({fixedOffset: 44});
        astrobin_common.setup_user_popovers("{% trans "Follow" %}", "{% trans "Unfollow" %}");
    });
</script>
{% endblock %}
