{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load tags %} {% comment %} AstroBin tags {% endcomment %}
{% load common_tags %}
{% load astrobin_apps_premium_tags %}

{% block title %}AstroBin - {% blocktrans %}Public data pool{% endblocktrans %} - {{object}}{% endblock %}
{% block container_extra_classes %}
    {% ifequal object.creator request.user %}has-subnav{% endifequal %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Explore' None %}
    {% breadcrumb 'Public data pools' 'rawdata.publicdatapool_list' %}
    {% breadcrumb object.name None %}
{% endblock %}

{% block content %}
    {% ifequal object.creator request.user %}
        <div class="subnav subnav-fixed">
            <ul class="nav nav-pills">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-bolt"></i>
                        {% trans "Actions" %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#edit-pool-modal" data-toggle="modal">
                                <i class="icon-pencil"></i>
                                {% trans "Edit" %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    {% endifequal %}

    <div class="subtitle">
        <i class="icon icon-info-sign"></i>
        {% url 'user_page' object.creator as user_url %}
        {% blocktrans with object.creator as user and size|filesizeformat as size and object.images.all|length as image_count %}A public data pool created by <a href="{{user_url}}">{{user}}</a>, with {{size}} in {{image_count}} images.{% endblocktrans %}
    </div>

    <div id="pool-description" class="well">{{object.description|linebreaks}}</div>

    {% if object.processed_images.all %}
        <div class="subtle-container">
            <div class="header">
                <h4>
                    <i class="icon-picture"></i>
                    {% trans "Processing submissions for this pool" %}
                </h4>
            </div>

            {% image_list object.processed_images.all alias='thumb' %}
        </div>
    {% endif %}

    <div class="row">
        <div class="span6"> <!-- file list -->
            <table class="table table-striped rawdata-browser hidden-phone">
                <thead>
                    <tr>
                        <th class="rawdata-browser-counter"></th>
                        <th class="rawdata-browser-name">{% trans "Name" %}</th>
                        <th class="rawdata-browser-user">{% trans "User" %}</th>
                        <th class="rawdata-browser-size">{% trans "Size" %}</th>
                        <th class="rawdata-browser-uploaded">{% trans "Uploaded" %}</th>
                        <th class="rawdata-browser-action"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in object.images.all %}
                        <tr id="{{image.id}}" class="rawfile">
                            <td class="rawdata-browser-counter">{{forloop.counter}}</td>
                            <td class="rawdata-browser-name">
                                {{image.original_filename|truncatechars:40}}
                            </td>
                            <td class="rawdata-browser-user"><a href="{% url 'user_page' image.user %}">{{image.user}}</td>
                            <td class="rawdata-browser-size">{{image.size|filesizeformat}}</td>
                            <td class="rawdata-browser-uploaded">
                                <abbr class="timeago" title="{{image.uploaded|date:'Y-m-d\TH:i:s'}}">
                                    {{image.uploaded|date}}
                                </abbr>
                            </td>
                            <td class="rawdata-browser-action">
                                {% ifequal request.user image.user %}
                                    <a href="#"
                                       class="remove-rawimage"
                                       data-pk="{{image.pk}}"
                                       rel="tooltip"
                                       title="{% trans "Remove from this pool" %}">
                                        <i class="icon-remove-sign"></i>
                                    </a>
                                {% endifequal %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="span6">
            <p>
            {% url 'user_page' object.creator as user_url %}
            {% blocktrans with object.creator as user and size|filesizeformat as size and object.images.all|length as image_count and object.created|date:"DATE_FORMAT" as date and rawdata_url="https://welcome.astrobin.com/features/raw-data-support"%}This public data pool was created on {{date}} by <a href="{{user_url}}">{{user}}</a>. It consists of {{size}} in {{image_count}} images. You can contribute by donating your raw files, if you are subscribed to <a href="{{rawdata_url}}">AstroBin Raw Data</a>, or you can download the available data and try to process it!{% endblocktrans %}
            </p>

            <div class="download-with-icon">
                <div class="data" style="padding-top: 0">
                    <a
                            class="btn btn-primary btn-large"
                            {% if request.user|can_download_rawdata %}
                                href="{% url 'rawdata.publicdatapool_download' object.pk %}"
                            {% else %}
                                href="#feature-restricted-modal" data-toggle="modal"
                            {% endif %}
                    >
                        <i class="icon-download-alt"></i>
                        {% trans "Download" %}
                    </a>
                    <span class="size">
                        {% trans "Size before zip compression" %}: <strong>{{size|filesizeformat}}</strong>
                    </span>
                </div>
            </div>

            <div class="subtle-container">
                <div class="header">
                    <h4>
                        <i class="icon-comments-alt"></i>
                        {% trans "Comments" %}
                    </h4>
                </div>

                {% if READONLY_MODE %}
                    {% include 'readonly_mode.html' %}
                {% else %}
                    <p>
                        {% trans "You can use this space to discuss this public data pool and exchange information and tips with other contributors or people who want to process the data." %}
                    </p>

                    <div id="nested-comments"
                         data-content-type-id="{{content_type.pk}}"
                         data-object-id="{{object.pk}}">
                    </div>
                    {% include 'nested_comments/nestedcomment_app.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal hide fade" id="edit-pool-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{% trans "Edit public data pool" %}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" method="post"
                  action="{% url 'rawdata.publicdatapool_update' object.id %}">
                {{update_form|as_bootstrap}}
            </form>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
            <a href="#" class="btn btn-primary">{% trans "Save" %}</a>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#edit-pool-modal form').ajaxForm({
                timeout: 10000,
                beforeSubmit: function(data, $form, options) {
                    $form.find('.btn').addClass('disabled').attr('disabled');
                },
                error: function(xhr, status, error) {
                    if (xhr.status == 400) {
                        // Form did not validate
                        data = $.parseJSON(xhr.responseText);
                        for (var key in data) {
                            var $input = $('[name=' + key + ']');
                            $input.closest('.control-group').addClass('error');
                            $input.after(
                                $('<p/>')
                                    .addClass('help-block error')
                                    .text(data[key][0])
                            );
                            $form.find('.btn').removeClass('disabled').removeAttr('disabled');
                        }
                    }
                },
                success: function(response, status, xhr, $form) {
                    $('#pool-name').text($form.find('input[name=name]').val());
                    $('#pool-description').text($form.find('textarea[name=description]').val());
                    $form.closest('.modal').modal('hide');
                    $form.find('.error').removeClass('error');
                    $form.find('.btn').removeClass('disabled').removeAttr('disabled');
                }
            });

            $('#edit-pool-modal .btn-primary').click(function(e) {
                $('#edit-pool-modal form').submit();
                e.preventDefault();
            });

            $('.remove-rawimage').click(function(e) {
                var $cells = $(this).closest('tr').find('td');
                var pk = $(this).attr('data-pk');

                $.ajax({
                    url: '/rawdata/publicdatapools/' + {{object.pk}} + '/remove-data/' + pk + '/',
                    type: 'post',
                    success: function() {
                        $cells.animate({'color': 'red'}, 500)
                              .css('text-decoration', 'line-through');
                    }
                });

                e.preventDefault();
            });
        });
    </script>
{% endblock %}
