{% extends 'base.html' %}
{% load i18n %}
{% load rawdata_tags %}

{% block title %}AstroBin - {{object}}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{object}}</h1>
    </div>

    <div class="row">
        <div class="span6">
            <table class="table table-striped rawdata-files-table">
                <tr><th>{% trans "Type" %}</th><td>{{object.image_type|humanize_rawimage_type}}</td></tr>
                <tr><th>{% trans "Size" %}</th><td>{{object.size|filesizeformat}}</td></tr>
                <tr><th>{% trans "Uploaded" %}</th><td>{{object.uploaded|date}}</td></tr>
                <tr><th>{% trans "Acquisition date" %}</th><td>{{object.acquisition_date|date}}</td></tr>
                <tr><th>{% trans "Camera" %}</th><td>{{object.camera}}</td></tr>
                <tr><th>{% trans "Temperature" %}</th><td>{{object.temperature}}&deg;C</td></tr>
            </table>
        </div>
    </div>
{% endblock %}

