{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "AstroBin Raw Data" %} - {% trans "Restricted content" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "AstroBin Raw Data" %}
            <small>{% trans "Restricted content" %}</small>
        </h1>
    </div>

    <div class="alert alert-error">
        <button class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">
            <i class="icon-fire"></i>
            {% trans "Error!" %}
        </h4>

        {% blocktrans with rawdata_url="https://welcome.astrobin.com/features/raw-data-support" %}The page you tried to access is reserved for subscribers to the AstroBin <a href="{{rawdata_url}}">Raw Data Platform</a>.{% endblocktrans %}
    </div>

    <p>
        {% blocktrans with rawdata_url="https://welcome.astrobin.com/features/raw-data-support" %}The <a href="{{rawdata_url}}">Raw Data Platform</a> is primarily a way to securely back up your raw files, and keep them neatly and effortlessly organized, but being part of it also means that you support AstroBin and can perhaps contribute your raw files to scientic discoveries.{% endblocktrans %}
    </p>

    <div class="pagination pagination-centered">
        <ul>
            <li>
                <a href="https://welcome.astrobin.com/features/raw-data-support">{% trans "Find out more!" %}</a>
            </li>
        </ul>
    </div>
{% endblock %}
