{% load i18n %}
{% load astrobin_apps_premium_tags %}
{% load astrobin_apps_equipment_tags %}
{% load common_tags %}
{% load toggleproperty_tags %}

<div class="equipment-item-popover">
    <div class="header">
        <h3>{{ item }}</h3>
        <p>{{ item.item_type_label }}</p>
    </div>

    {% if item.properties %}
        <div class="data">
            {% for property in item.properties %}
                <p>
                    <strong>{{ property.label }}</strong>: {{ property.value }}
                </p>
            {% empty %}
                <p>
                    {% trans "No additional information available for this item." %}
                </p>
            {% endfor %}
        </div>
    {% endif %}
</div>
