{% load i18n %}
{% load astrobin_apps_premium_tags %}
{% load astrobin_apps_equipment_tags %}
{% load astrobin_apps_groups_tags %}
{% load common_tags %}
{% load toggleproperty_tags %}

<div class="equipment-item-popover">
    <div class="header">
        <h3>
            {{ item }}
            <small>{{ item.item_type_label }}</small>
        </h3>

        {% if item.brand or item.created_by == request.user %}
            <a href="{% app_redirection_service '/equipment/explorer' %}/{{ item.klass|lower }}/{{ item.pk }}"
               class="btn btn-link">
                <i class="icon-file-text"></i>
                {% trans "Details" %}
            </a>
        {% endif %}
    </div>

    <div class="body">
        <table class="table item-data">
            <tbody>
            {% for property in item.properties %}
                <tr>
                    <th>{{ property.label }}</th>
                    <td>{{ property.value }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th>{% trans "Users" %}</th>
                <td>{{ item.user_count }}</td>
            </tr>
            <tr>
                <th>{% trans "Images" %}</th>
                <td>{{ item.image_count }}</td>
            </tr>
            </tbody>
        </table>

        {% with item_listings=item|equipment_item_listings:REQUEST_COUNTRY brand_listings=item|equipment_brand_listings_by_item:REQUEST_COUNTRY %}
            {% setvar image.user|get_valid_usersubscription as image_user_valid_usersubscription %}
            {% setvar request.user|get_valid_usersubscription as request_user_valid_usersubscription %}

            {% if request_user_valid_usersubscription|allow_full_retailer_integration:image_user_valid_usersubscription %}
                {% if item_listings|length or brand_listings|length %}
                    <p class="alert alert-info">
                        <i class="icon-heart" style="color:red"></i>
                        {% blocktrans trimmed %}
                            Please support AstroBin by shopping at one of our partners!
                        {% endblocktrans %}
                    </p>

                    <div class="equipment-listings row-fluid">
                        {% if item_listings|length %}
                            {% for listing in item_listings %}
                                <div class="span6">
                                    <div class="equipment-listing">
                                        <a class="close" data-toggle="modal"
                                           title="{% trans "Disable retailer integration" %}"
                                                {% if request_user_valid_usersubscription|can_remove_retailer_integration %}
                                           href="#remove-ads-modal"
                                                {% else %}
                                           href="#feature-restricted-modal"
                                                {% endif %}
                                        >
                                            &times;
                                        </a>

                                        {% equipment_item_listing_url_with_tags listing 'card' as url_with_tags %}

                                        {% if request_user_valid_usersubscription|allow_full_retailer_integration:image_user_valid_usersubscription and listing.retailer.logo %}
                                            <a href="{{ url_with_tags }}"
                                               onclick="getOutboundLink('{{ url_with_tags }}', '{{ request.path }}')"
                                               target="_blank">
                                                <img
                                                    class="logo"
                                                    src="{{ listing.image_url|default:listing.retailer.logo.url }}"
                                                    alt="{{ listing.retailer }}"
                                                />
                                            </a>
                                        {% endif %}

                                        <a href="{{ url_with_tags }}"
                                           onclick="getOutboundLink('{{ url_with_tags }}', '{{ request.path }}')"
                                           target="_blank" class="shop-button btn btn-block">
                                            <i class="icon-shopping-cart"></i>
                                            {% if listing.listing_type == "SELLS" or listing.listing_type == None %}
                                                {% blocktrans trimmed with name=listing.name retailer=listing.retailer %}
                                                    Shop <strong>{{ name }}</strong> at {{ retailer }}
                                                {% endblocktrans %}
                                            {% endif %}

                                            {% if listing.listing_type == "PAIRS_WELL" %}
                                                {% blocktrans trimmed with _0=item _1=listing.name _2=listing.retailer %}
                                                    <strong>{{ _0 }}</strong> pairs well with {{ _1 }} by {{ _2 }}
                                                {% endblocktrans %}
                                            {% endif %}

                                            {% if listing.stock_status %}
                                                {% spaceless %}
                                                    <span class="no-wrap" rel="tooltip"
                                                          title="{% trans 'Last update' %}: {{ listing.updated | date:' jS, Y' }}">
                                                    (
                                                        <i class="icon-circle"
                                                           {% if listing.stock_status == "UNKNOWN" %}style="color: grey;"{% endif %}
                                                           {% if listing.stock_status == "BACK_ORDER" %}style="color: orange;"{% endif %}
                                                           {% if listing.stock_status == "IN_STOCK" %}style="color: green;"{% endif %}
                                                           {% if listing.stock_status == "OUT_OF_STOCK" %}style="color: red;"{% endif %}></i>

                                                        {% if listing.stock_status == "UNKNOWN" %}
                                                            {% trans "Stock status unknown" %}
                                                        {% endif %}

                                                        {% if listing.stock_status == "BACK_ORDER" %}
                                                            {% trans "Back ordered" %}
                                                        {% endif %}

                                                        {% if listing.stock_status == "IN_STOCK" %}
                                                            {% if listing.stock_amount > 10 %}
                                                                {% blocktrans trimmed with x='10+' %}
                                                                    {{ x }} in stock
                                                                {% endblocktrans %}
                                                            {% else %}
                                                                {% blocktrans trimmed with x=listing.stock_amount %}
                                                                    {{ x }} in stock
                                                                {% endblocktrans %}
                                                            {% endif %}
                                                        {% endif %}

                                                        {% if listing.stock_status == "OUT_OF_STOCK" %}
                                                            {% trans "Currently out of stock" %}
                                                        {% endif %}
                                                        )
                                                </span>
                                                {% endspaceless %}
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if brand_listings|length %}
                            {% for listing in brand_listings %}
                                <div class="span6">
                                    <div class="equipment-listing">
                                        <a class="close" data-toggle="modal"
                                           title="{% trans "Disable retailer integration" %}"
                                                {% if request_user_valid_usersubscription|can_remove_retailer_integration %}
                                           href="#remove-ads-modal"
                                                {% else %}
                                           href="#feature-restricted-modal"
                                                {% endif %}
                                        >
                                            &times;
                                        </a>

                                        {% equipment_brand_listing_url_with_tags listing 'card' as url_with_tags %}

                                        {% if request_user_valid_usersubscription|allow_full_retailer_integration:image_user_valid_usersubscription and listing.retailer.logo %}
                                            <a href="{{ url_with_tags }}"
                                               onclick="getOutboundLink('{{ url_with_tags }}', '{{ request.path }}')"
                                               target="_blank">
                                                <img class="logo" src="{{ listing.retailer.logo.url }}"
                                                     alt="{{ listing.retailer }}">
                                            </a>
                                        {% endif %}

                                        <a href="{{ url_with_tags }}"
                                           onclick="getOutboundLink('{{ url_with_tags }}', '{{ request.path }}')"
                                           target="_blank" class="shop-button btn btn-block">
                                            <i class="icon-shopping-cart"></i>
                                            {% blocktrans trimmed with name=listing.brand retailer=listing.retailer %}
                                                Shop <strong>{{ name }}</strong> at {{ retailer }}
                                            {% endblocktrans %}
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="footer">
        {% if item.brand %}
            <a href="{% app_redirection_service '/equipment/explorer' %}/{{ item.klass|lower }}/{{ item.pk }}?edit=true"
               class="btn btn-secondary btn-block-mobile">
                {% trans "Propose edit" %}
            </a>

            {% if item.forum %}
                <a href="{% url 'pybb:forum' item.forum.id %}" class="btn btn-secondary btn-block-mobile">
                    {% trans "Forum" %}
                </a>
            {% endif %}

            {% add_remove_toggleproperty 'follow' item request.user btn_class="btn btn-secondary btn-block-mobile" hide_icon=True %}

            <a href="{% app_redirection_service '/equipment/marketplace/create' %}?lineItemCount=1&equipmentItemId={{ item.id }}&equipmentItemContentTypeId={{ item_content_type.id }}"
               class="btn btn-secondary btn-block-mobile">
                {% trans "Sell in the marketplace" %}
            </a>
        {% endif %}

        <a href="#" class="btn btn-secondary btn-block-mobile btn-close visible-phone">
            {% trans "Close" %}
        </a>
    </div>
</div>
