{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block content %}
    {% include 'image/edit/menu.html' %}   
    <div class="sided-main-content">
    <h1>{% trans "Edit your image: acquisition details" %}</h1>
    {% form_saved request %}
    {% if edit_type == 'solar_system' %}
        <form id="image_acquisition" action="{% url image_edit_save_acquisition %}" method="post">{% csrf_token %}
            {% if error %}
            <p class="error">{{error}}</p>
            {% endif %}
            <p class="solar_system_field">
                <label for="frames">{% trans "Number of frames" %}:</label>
                <input type="text"
                       class="validate[optional,custom[onlyNumber]]"
                       id="frames"
                       name="frames"
                       value="{% if solar_system_acquisition.frames %}{{solar_system_acquisition.frames}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="fps">{% trans "FPS" %}:</label>
                <input type="text"
                       class="validate[optional,custom[onlyNumber]]"
                       id="fps"
                       name="fps"
                       value="{% if solar_system_acquisition.fps %}{{solar_system_acquisition.fps}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="focal_length">{% trans "Focal length" %}:</label>
                <input type="text"
                       class="validate[optional,custom[onlyNumber]]"
                       id="focal_length"
                       name="focal_length",
                       value="{% if solar_system_acquisition.focal_length %}{{solar_system_acquisition.focal_length}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="cmi">{% trans "CMI" %}:</label>
                <input type="text"
                       class="validate[optional,custom[number]]"
                       id="cmi"
                       name="cmi",
                       value="{% if solar_system_acquisition.cmi %}{{solar_system_acquisition.cmi}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="cmii">{% trans "CMII" %}:</label>
                <input type="text"
                       class="validate[optional,custom[number]]"
                       id="cmii"
                       name="cmii",
                       value="{% if solar_system_acquisition.cmii %}{{solar_system_acquisition.cmii}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="cmiii">{% trans "CMIII" %}:</label>
                <input type="text"
                       class="validate[optional,custom[number]]"
                       id="cmiii"
                       name="cmiii",
                       value="{% if solar_system_acquisition.cmiii %}{{solar_system_acquisition.cmiii}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="seeing">{% trans "Seeing (0-5)" %}:</label>
                <input type="text"
                       class="validate[optional,custom[onlyNumber]]"
                       id="seeing"
                       name="seeing",
                       value="{% if solar_system_acquisition.seeing %}{{solar_system_acquisition.seeing}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="transparency">{% trans "Transparency (0-10)" %}:</label>
                <input type="text"
                       class="validate[optional,custom[onlyNumber]]"
                       id="transparency"
                       name="transparency",
                       value="{% if solar_system_acquisition.transparency %}{{solar_system_acquisition.transparency}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="date">{% trans "Date" %}:</label>
                <input type="text"
                       class="date datepickerclass validate[optional,date]"
                       id="date"
                       name="date",
                       value="{% if solar_system_acquisition.date %}{{solar_system_acquisition.date|date:'Y-m-d'}}{% else %}{% trans "yyyy-mm-dd" %}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="time">{% trans "Universal time" %}:</label>
                <input type="text"
                       class="date timepickerclass validate[optional]"
                       id="time"
                       name="time",
                       value="{% if solar_system_acquisition.time %}{{solar_system_acquisition.time}}{% else %}{% trans "hh:mm" %}{% endif %}"/>
            </p>
            <input type="hidden" name="image_id" value="{{image.id}}" />
            <input type="hidden" name="edit_type" value="solar_system" />
            <ul style="clear:both">
                <li><input class="button submit-button" type="submit" value="{% trans "Save" %} &rarr;" /></li>
                <li><a class="button dangerous-button inline-button" href="{% url image_edit_acquisition_reset image.id %}">{% trans "Remove data" %}</a></li>
                <li><a href="{{image.get_absolute_url}}/">{% trans "Return to image" %}</a></li>
            </ul>
        </form>
    {% else %}
    {% if edit_type == 'deep_sky' %}
        <p>
        {% blocktrans %}You can insert as many acquisition sessions as you want, as often images are taken across several nights. An acquisition session is defined primarily by a date and a filter. Fill in your data and then click on <strong>Save</strong> to finish, or on <strong>Add more</strong> to add more acquisition sessions.{% endblocktrans %}
        </p>
        <form id="image_acquisition" action="{% url image_edit_save_acquisition %}" method="post">{% csrf_token %}
            {% for form in deep_sky_acquisitions %}
                <h3>{% trans "Acquisition session" %}:</h3>
                {{form.as_p}}
                <div class="hline"></div>
            {% endfor %}
            {{deep_sky_acquisitions.management_form}}
            <input type="hidden" name="image_id" value="{{image.id}}" />
            <input type="hidden" name="edit_type" value="deep_sky" />
            <ul style="clear:both">
                <li><input class="button submit-button" type="submit" value="{% trans "Save" %} &rarr;" /></li>
                <li><input class="button inline-button" type="submit" value="{% trans "Add more" %}" name="add_more" /></li>
                <li><a class="button dangerous-button inline-button" href="{% url image_edit_acquisition_reset image.id %}">{% trans "Remove data" %}</a></li>
                <li><a href="{{image.get_absolute_url}}/">{% trans "Return to image" %}</a></li>
            </ul>
        </form>

    {% else %}
        <p>{% trans "What kind of image is this?" %}</p>
        <div class="simple-choice">
            <a class="button" href="{% url image_edit_acquisition image.id %}?edit_type=solar_system">
                {% trans "Solar system" %}
            </a>
            <a class="button" href="{% url image_edit_acquisition image.id %}?edit_type=deep_sky">
                {% trans "Deep sky" %}
            </a>
        </div>
    {% endif %}
    {% endif %}
{% endblock %}
