{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load tags %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% trans "Edit your image: basic information" %}{% endblock %}
{% block container_extra_classes %}has-subnav{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Image' None %}
    {% breadcrumb image.title|escape|default:_("(no title)") 'image_detail' image.get_id %}
    {% breadcrumb 'Basic information' None %}
{% endblock %}

{% block content %}
    {% include 'image/edit/menu.html' %}

    <div class="text-center">
        <img class="loading"
             src="{% static 'astrobin/images/ajax-loader.gif' %}"
             alt="{% trans "Loading..." %}" />
    </div>

    <form
            class="form-horizontal hidden"
            id="basic"
            action=""
            method="post"
            enctype="multipart/form-data">{% csrf_token %}

        {% if 'corrupted' in request.GET %}
            {% include './_catastrophic_data_corruption.html' %}
        {% endif %}

        {{form|as_bootstrap}}

        <input type="hidden" name="image_id" value="{{image.get_id}}" />

        {% if image.subject_type and image.subject_type == 500 or image.subject_type == 600 %}
            <input type="hidden" name="skip_rest" value="true"/>
        {% endif %}

        <div class="form-actions">
            <input class="btn btn-primary btn-block-mobile" type="submit" name="submit_save" value="{% trans "Save" %} &rarr;" />

            {% if image.subject_type < 500 %}
            <input class="btn btn-primary btn-block-mobile" type="submit" name="submit_gear" value="{% trans "Next step: gear used" %} &rarr;" />
            {% endif %}

            <a data-toggle="modal" class="btn btn-danger btn-block-mobile" href="#delete-modal">
                <i class="icon-remove"></i> {% trans "Delete" %}
            </a>

            <a class="btn btn-block-mobile" href="{{image.get_absolute_url}}">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
<script language="javascript">
    function showHideRemoteSource() {
        var dataSource = $('#id_data_source').val();
        var $remoteSourceGroup = $('#id_remote_source').closest('.control-group');

        if (['OWN_REMOTE', 'AMATEUR_HOSTING'].indexOf(dataSource) === -1) {
            $remoteSourceGroup.hide();
            $('#id_remote_source').val("");
        } else {
            $remoteSourceGroup.show();
        }
    }

    $(document).ready(function() {
        $('.ui-multiselect').show();

        showHideRemoteSource();
        $(document).on('change', '#id_data_source', function () {
            showHideRemoteSource();
        });

        $('form#basic').removeClass("hidden");
        $('img.loading').parent().remove();
    });
</script>
{% endblock %}

{% block modals %}
    {% include 'image/detail/modals/delete.html' %}
{% endblock %}
