{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block content %}
    {% include 'image/edit/menu.html' %}   
    <div class="sided-main-content">
    <h1>{% trans "Edit your image: basic information" %}</h1>
    {% form_saved request %}
    <p id="form_help_text" style="display:none">{% blocktrans %}Remember that the locations and subjects fields autocomplete, and you need to press TAB to add something to your list. If it's not in a white box, it doesn't get saved!{% endblocktrans %}
    <form action="{% url image_edit_save_basic %}" method="post">{% csrf_token %}
        <div id="js_form" style="display:none">
            {{form.as_p}}
        </div>

        <noscript>
            <p><label for="id_title">{% trans "Title" %}:</label>
               <input id="id_title" type="text" name="title" value="{{image.title}}" maxlength="64" />
            </p>
            <p>
                <label for="id_subjects">{% trans "Subjects" %}:</label>
                <input type="text" name="subjects" id="id_subjects" value="{{subjects}}" disabled="disabled" />
                <span class="helptext">{% trans "You can't edit Subjects without Javascript. Please enable it in your Internet browser." %}</span>
            </p>
            <p>
                <label for="id_locations">{% trans "Locations" %}:</label>
                <input type="text" name="locations" value="{{locations}}" id="id_locations" />
                <span class="helptext">
                    <p class="hint">
                        {% blocktrans %}Use a comma to separate the values.{% endblocktrans %}
                    </p>
                </span>
            </p>
            <p>
                <label for="id_description">{% trans "Description" %}:</label>
                <textarea id="id_description" rows="10" cols="40" name="description">{{image.description}}</textarea>
            </p>
        </noscript>

        <input type="hidden" name="image_id" value="{{image.id}}" />
        <ul>
            <li><input class="button submit-button" type="submit" value="{% trans "Save" %} &rarr;" /></li>
            <li><a href="{{image.get_absolute_url}}/">{% trans "Return to image" %}</a></li>
        </ul>
    </form>
    </div>
{% endblock %}

{% block extra_js %}
<script language="javascript">
    $(document).ready(function() {
        $('p#form_help_text').show();
        $('#js_form').show();

        {% autoescape off %}
        {% for key, value in prefill_dict.items %}
        var startText = '{{value.1}}';
        var emptyText = '{{value.2}}';
        var resultsTitleText = '{{value.3}}';
        $('#id_{{key}}').autoSuggest('/autocomplete/{{key}}/',
            {asHtmlID: '{{key}}',
            selectedItemProp: 'name',
            searchObjProps: 'name',
            preFill: {{value.0}},
            selectedItemProp: 'name',
            selectedValuesProp: 'id',
            startText: startText,
            emptyText: emptyText,
            resultsTitleText: resultsTitleText});
        {% endfor %}
        {% endautoescape %}
    });
</script>
{% endblock %}
