{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load bootstrap_toolkit %}


{% block title %}AstroBin - {% trans "Edit your image: basic information" %}{% endblock %}
{% block content %}
    {% if image.is_stored %}
        {% include 'image/edit/menu.html' %}   
    {% endif %}

    <h1>
        {% if image.is_stored %}
            {% blocktrans %}Edit your image: basic information{% endblocktrans %}
        {% else %}
            {% blocktrans %}Step 3 of 5: basic information{% endblocktrans %}
        {% endif %}
    </h1>
    {% form_saved request %}
    <form class="form-horizontal" id="basic" action="{% url image_edit_save_basic %}" method="post">{% csrf_token %}
        <div id="js_form" style="display:none">
            {{form|as_bootstrap}}
        </div>

        <noscript>
            {{form.non_field_errors}}

            {{form.title.errors}}
            <p{% if form.title.errors %} class="error"{% endif %}>
                {{form.title.label_tag}}
                {{form.title}}
            </p>

            {{form.link.errors}}
            <p{% if form.link.errors %} class="error"{% endif %}>
                {{form.link.label_tag}}
                {{form.link}}
            </p>

            <p>
                {{form.subjects.label_tag}}
                <input type="text" name="subjects" id="id_subjects" value="{{subjects}}"/>
                <span class="helptext">
                    {% trans "Use a <strong>comma</strong> to separate the values." %}
                </span>
            </p>

            <p>
                {{form.subject_type.label_tag}}
                {{form.subject_type}}
                <span class="helptext">
                    {{form.subject_type.help_text}}
                </span>
            </p>

            <p>
                {{form.solar_system_main_subject.label_tag}}
                {{form.solar_system_main_subject}}
                <span class="helptext">
                    {{form.solar_system_main_subject.help_text}}
                </span>
            </p>

            <p>
                {{form.locations.label_tag}}
                {{form.locations}}
            </p>
            <p>
                {{form.description.label_tag}}
                {{form.description}}
            </p>
        </noscript>

        <input type="hidden" name="image_id" value="{{image.id}}" />
        {% if image.subject_type and image.subject_type == 500 or image.subject_type == 600 %}
            <input type="hidden" name="skip_rest" value="true"/>
        {% endif %}

        <div class="form-actions">
            {% if image.is_stored %}
                <input class="btn btn-primary" type="submit" value="{% trans "Save" %} &rarr;" />
                <a class="btn" href="{{image.get_absolute_url}}/">{% trans "Return to image" %}</a>
            {% else %}
                <input class="btn btn-primary" type="submit" name="submit_next" value="{% trans "Next step: gear used" %} &rarr;" />
                <input type="hidden" name="was_not_ready" value="true"/>
            {% endif %}
        </div>
    </form>
{% endblock %}

{% block extra_js %}
<script language="javascript">
    $(document).ready(function() {
        $('#js_form').show();
        $('#js_form form .loading').hide();
        $('#js_form .ui-multiselect').show();
        $('#js_form .ui-multiselect').next('.helptext').hide();

        prepare_subject_fields();

        {% autoescape off %}
        {% for key, value in prefill_dict.items %}
        var startText = "{{value.1}}";
        var emptyText = "{{value.2}}";
        var resultsTitleText = "{{value.3}}";
        $('#id_{{key}}').autoSuggest('/autocomplete/{{key}}/',
            {asHtmlID: '{{key}}',
            searchObjProps: 'name',
            preFill: {{value.0}},
            selectedItemProp: 'name',
            selectedValuesProp: 'name',
            startText: startText,
            emptyText: emptyText,
            resultsTitleText: resultsTitleText});
        {% endfor %}
        {% endautoescape %}

        function prepare_subject_fields() {
            function reset_ss() {
                $('select[name=solar_system_main_subject]').val('');
            }

            function reset_ds() {
                var $input = $('input[name=subjects]');
                var $input_values = $('input[name=as_values_subjects]');
                var $ul = $input.closest('ul.as-selections');

                $ul.find('li.as-selection-item').remove();
                $input.val('');
                $input_values.val('');
            }

            var selected = $('select[name=subject_type]').find('option:selected');
            var $ss = $('select[name=solar_system_main_subject]').closest('.control-group');
            var $ds = $('input[name=subjects]').closest('.control-group');

            if (selected.val() == 100) {
                $ss.hide();
                reset_ss();

                $ds.show();
            } else if (selected.val() == 200) {
                $ds.hide();
                reset_ds();

                $ss.show();
            } else {
                $ss.hide();
                $ds.hide();

                reset_ss();
                reset_ds();
            }

            {% if not image.is_stored %}
            if (selected.val() == 500 || selected.val() == 600) {
                // For Gear and Other we don't need to edit gear or acquisition.
                $('form#basic .form-actions input[name=submit_next]').val("{% trans "Save and finish" %} →");
                $('form#basic .form-actions').append(
                    '<input type="hidden" name="skip_rest" value="true"/>');
            } else {
                $('form#basic .form-actions input[name=submit_next]').val(
                    "{% trans "Next step: gear used" %} →");
                $('form#basic .form-actions input[name=skip_rest]').remove();
            }
            {% endif %}
        }

        $('select[name=subject_type]').change(function() {
            prepare_subject_fields();
        });

        // Perform some magic as the user types the title
        var parse_subjects = function() {
            var $input = $('input[name=title]');
            var val = $input.val().toUpperCase();
            var regex = /(M|MESSIER|IC|NGC|VDB)\s*([0-9]+)/g;

            var m = regex.exec(val);
            while (m != null) {
                m[0] = m[0].replace('MESSIER', 'M');

                var subjects = $('input[name=subjects]');
                var subjects_values = $('input[name=as_values_subjects]');
                var selection_items = $('li.as-selection-item');
                var split_regex = /([A-Z]+)(\d+)/;
                var split = split_regex.exec(m[0]);
                if (split)
                    s = split[1] + ' ' + split[2];
                else
                    s = m[0]; // and good luck with that.

                var subjects_regex = new RegExp(s + "\\b", "g");
                var subjects_matches = subjects[0].defaultValue.toUpperCase().search(subjects_regex, "regex");
                var subjects_values_matches = subjects_values.val().toUpperCase().search(subjects_regex, "regex");
                var selection_items_matches = -1;
                selection_items.each(function() {
                    value = $.trim(this.innerText.toUpperCase());
                    if (value == s)
                        selection_items_matches += 1;
                });
                if (subjects_matches == -1 && subjects_values_matches == -1 && selection_items_matches == -1) {
                    // Let's add the subject to the auto suggest box
                    if (subjects.val() == startText)
                        subjects.val("");

                    subjects.val(subjects.val() + s);

                    e = jQuery.Event('keydown');
                    e.keyCode = 188; // tab
                    subjects.trigger(e);

                    current_subjects.push(s);
                }
                m = regex.exec(val);
            }
        }

        var current_subjects = new Array();
        $('input[name=title]').blur(function(e) {
                parse_subjects();
        });

        $('.submit-button').click(function() {
            parse_subjects();
        });
    });
</script>
{% endblock %}
