{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block content %}
    {% include 'image/edit/menu.html' %}
    <div class="sided-main-content" id="image-edit-gear">
        <h1>{% trans "Edit your image: gear used" %}</h1>
        {% form_saved request %}
        {% if no_gear %}
            <p>
                {% url profile_edit_gear as the_url %}
                {% blocktrans %}Can't see anything here? Perhaps you should first add some gear in your <a href="{{the_url}}">profile</a>!{% endblocktrans %}
            </p>
        {% endif %}
        <form method="post" action="{% url image_edit_save_gear %}">{% csrf_token %}
            {{form.non_field_errors}}
            {% for field in form %}
                <p>
                    {{field.errors}}
                    <label class="multiple" for="id_{{field.name}}">{{field.label}}:</label>
                    {{field}}
                </p>
            {% endfor %}

            <input type="hidden" name="image_id" value="{{image.id}}" />
            <ul>
                <li><input class="button submit-button" type="submit" value="{% trans "Save" %} &rarr;" /></li>
                <li><a href="{{image.get_absolute_url}}">{% trans "Return to image" %}</a></li>
            </ul>
        </form>
    </div>  
{% endblock %}

