{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load bootstrap_toolkit %}

{% block title %}AstroBin - {% trans "Edit your image: gear used" %}{% endblock %}

{% block content %}
    {% if image.is_stored %}
        {% include 'image/edit/menu.html' %}
    {% endif %}

    <h1>
    {% if image.is_stored %}
        {% trans "Edit your image: gear used" %}
    {% else %}
        {% trans "Step 4 of 5: gear used" %}
    {% endif %}
    </h1>
    
    {% if image.is_stored %}
        {% form_saved request %}
    {% endif %}

    <div class="well">
        {% if no_gear %}
            {% url profile_edit_gear as the_url %}
            {% blocktrans %}Can't see anything here? Perhaps you should first add some gear in your <a href="{{the_url}}">profile</a>!{% endblocktrans %}
        {% else %}
            {% blocktrans %}To choose the gear used for this image, drag items from the right side to left side, or click the plus sign.{% endblocktrans %}
        {% endif %}
    </div>

    <form class="form-horizontal">
        <div class="form-actions">
            <a class="btn btn-primary" href="#copy-gear-modal" rel="tooltip" title="{% trans "Use this button to import the gear settings from another image of yours." %}" data-toggle="modal">{% trans "Copy from another image" %}</a>
        </div>
    </form>

    <form class="form-horizontal" id="gear" method="post" action="{% url image_edit_save_gear %}">{% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
            <div class="control-group">
                <label class="control-label" for="id_{{field.name}}">{{field.label}}:</label>
                <div class="loading"><img src="{{STATIC_URL}}images/ajax-loader.gif" alt=""/></div>
                <div class="controls">
                    {{field}}
                </div>
                {{field.errors}}
            </div>
        {% endfor %}

        <input type="hidden" name="image_id" value="{{image.id}}" />

        <div class="form-actions">
            {% if image.is_stored %}
                <input class="btn btn-primary" type="submit" value="{% trans "Save" %} &rarr;" />
                <a class="btn" href="{{image.get_absolute_url}}/">{% trans "Return to image" %}</a>
            {% else %}
                <input class="btn btn-primary" type="submit" name="submit_next" value="{% trans "Next step: acquisition" %} &rarr;" /></li>
                <input type="hidden" name="was_not_ready" value="true"/></li>
            {% endif %}
        </div>
    </form>
{% endblock %}

{% block modals %}
    <div class="modal hide fade" id="copy-gear-modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>{% trans "Copy gear" %}</h3>
        </div>
        <div class="modal-body">
            <div class="well">
                {% blocktrans %}Copying the gear from another image will populate the gear selection form for you, but you will still need to save it in the end.{% endblocktrans %}
            </div>
            <form class="form-inline copy-gear-form">
                {{copy_gear_form}}
                <a class="btn btn-primary" href="#">{% trans "Copy" %}</a>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_head %}
<noscript>
    <style type="text/css">
        form#gear .loading {
            display: none;
        }
        form#gear select {
            display: block;
        }
    </style>
</noscript>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('form .loading').hide();
        $('form .ui-multiselect').show();

        function selectGearItem($select, text) {
            $select.multiselect('select', text);
        };
        $('.copy-gear-form .btn').click(function() {
            var $modal = $(this).closest('.modal');

            $.ajax({
                url: '/get-gear-ajax/' + $('.copy-gear-form select#id_image').val() + '/',
                dataType: 'json',
                timeout: 5000,
                cache: false,
                success: function(data) {
                    for (var attr in data) {
                        var $select = $('form#gear select[name=' + attr + ']');
                        $select.multiselect('selectNone');

                        var ids = data[attr];
                        for (var i in ids) {
                            var text = $select.find('option[value=' + ids[i] +']').text();
                            (function(a, b) {
                                setTimeout(function() {
                                    selectGearItem(a, b);
                                }, 250);
                            })($select, text);
                        }
                    }
                    $modal.modal('hide');
                }
            });
        });
    });
</script>
{% endblock %}
