{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% include 'image/edit/menu.html' %}
    <div class="sided-main-content" id="image-edit-gear">
        <h1>{% trans "Edit your image: gear used" %}</h1>
        <p>
        {% url profile_edit_gear as the_url %}
        {% blocktrans %}Can't see anything here? Perhaps you should first add some gear in your <a href="{{the_url}}">profile</a>!{% endblocktrans %}
        </p>
        <form method="post" action="{% url image_edit_save_gear %}">{% csrf_token %}
            {{form.as_p}}
            <input type="hidden" name="image_id" value="{{image.id}}" />
            <ul>
                <li><input class="button submit-button" type="submit" value="{% trans "Save and continue" %} &rarr;" /></li>
                <li><a href="{{image.get_absolute_url}}">{% trans "Return to image" %}</a></li>
            </ul>
        </form>
    </div>  
{% endblock %}

