{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Edit your image: plate-solving settings" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Image' None %}
    {% breadcrumb image.title|default:_("(no title)") 'image_detail' image.get_id %}
    {% breadcrumb 'Plate-solving settings' None %}
{% endblock %}

{% block content %}
    <h1>{% trans "Plate-solving settings" %}</h1>

    {% crispy form %}

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            const $form = $('form#platesolving-settings'),
                $blind = $form.find('input#id_blind'),
                $nonBlindFields = [
                    $form.find("#id_scale_units"),
                    $form.find("#id_scale_min"),
                    $form.find("#id_scale_max"),
                    $form.find("#id_center_ra"),
                    $form.find("#id_center_dec"),
                    $form.find("#id_radius"),
                ]

            function disable_all($form) {
                $nonBlindFields.forEach(function ($field) {
                    $field.attr("disabled", "disabled").addClass("disabled");
                });
            }

            function enable_all($form) {
                $nonBlindFields.forEach(function ($field) {
                    $field.removeAttr("disabled").removeClass("disabled");
                });
            }

            $blind.change(function () {
                if ($(this).is(':checked')) {
                    disable_all($form);
                } else {
                    enable_all($form);
                }
            });
        });
    </script>
{% endblock %}
