{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}

{% block title %}{% trans "Edit your image: advanced plate-solving settings" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Image' None %}
    {% breadcrumb image.title|default:_("(no title)") 'image_detail' image.get_id %}
    {% breadcrumb 'Advanced plate-solving settings' None %}
{% endblock %}

{% block content %}
    <h1>{% trans "Advanced plate-solving settings" %}</h1>

    <form
            id="advanced-platesolving-settings"
            class="form-horizontal"
            action="{% url 'image_edit_platesolving_advanced_settings' image.get_id revision_label %}"
            method="post"
            novalidate
            enctype="multipart/form-data">
        {% csrf_token %}
        {{form|as_bootstrap}}

        <div class="form-actions">
            <button
                class="btn btn-primary btn-block-mobile {% button_loading_class %}"
                type="submit"
                name="submit_save">
                {% trans "Save and plate-solve again" %}
                {% button_loading_indicator %}
            </button>

            <a class="btn btn-block-mobile" href="{{return_url}}">
                {% trans "Cancel" %}
            </a>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        function showHideHDMaxMagnitudeFields() {
            const showHd = $("#id_show_hd").is(":checked");
            const $hdMaxMagnitudeGroup = $("#id_hd_max_magnitude").closest(".control-group")

            if (showHd) {
                $hdMaxMagnitudeGroup.show();
            } else {
                $hdMaxMagnitudeGroup.hide();
            }
        }

        function showHideGCVsMaxMagnitudeFields() {
            const showGCVs = $("#id_show_gcvs").is(":checked");
            const $gcvsMaxMagnitudeGroup = $("#id_gcvs_max_magnitude").closest(".control-group")

            if (showGCVs) {
                $gcvsMaxMagnitudeGroup.show();
            } else {
                $gcvsMaxMagnitudeGroup.hide();
            }
        }

        function showHideTycho2MaxMagnitudeFields() {
            const showTycho2 = $("#id_show_tycho_2").is(":checked");
            const $tycho2MaxMagnitudeGroup = $("#id_tycho_2_max_magnitude").closest(".control-group")

            if (showTycho2) {
                $tycho2MaxMagnitudeGroup.show();
            } else {
                $tycho2MaxMagnitudeGroup.hide();
            }
        }

        $(document).ready(function () {
            showHideHDMaxMagnitudeFields();
            showHideGCVsMaxMagnitudeFields();
            showHideTycho2MaxMagnitudeFields();

            $(document).on("change", "#id_show_hd", showHideHDMaxMagnitudeFields);
            $(document).on("change", "#id_show_gcvs", showHideGCVsMaxMagnitudeFields);
            $(document).on("change", "#id_show_tycho_2", showHideTycho2MaxMagnitudeFields);
        });
    </script>
{% endblock %}
