{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}

{% block title %}{% trans "Edit your image: plate-solving settings" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Image' None %}
    {% breadcrumb image.title|escape|default:_("(no title)") 'image_detail' image.get_id %}
    {% breadcrumb 'Plate-solving settings' None %}
{% endblock %}

{% block content %}
    <h1>{% trans "Plate-solving settings" %}</h1>

    <form id="platesolving-settings" class="form-horizontal"
          action="{% url 'image_edit_platesolving_settings' image.get_id revision_label %}"
          method="post">{% csrf_token %}

        {{ form|as_bootstrap }}

        <div class="form-actions">
            <button class="btn btn-primary btn-block-mobile {% button_loading_class %}" type="submit"
                    name="submit_save">
                {% trans "Save and plate-solve again" %}
                {% button_loading_indicator %}
            </button>

            <a class="btn btn-block-mobile" href="{{ return_url }}">
                {% trans "Cancel" %}
            </a>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    <script language="javascript">
        $(document).ready(function () {
            var $form = $('form#platesolving-settings'),
                $blind = $form.find('input#id_blind');

            function disable_all($form) {
                $form.find('.control-group').each(function (index, group) {
                    if ($(group).find('input#id_blind').length > 0) {
                        // Skip
                        return;
                    }

                    $(group).find('input, select').attr('disabled', 'disabled');
                });
            }

            function enable_all($form) {
                $form.find('.control-group').each(function (index, group) {
                    if ($(group).find('input#id_blind').length > 0) {
                        // Skip
                        return;
                    }

                    $(group).find('input, select').removeAttr('disabled');
                });
            }

            $blind.change(function () {
                if ($(this).is(':checked')) {
                    disable_all($form);
                } else {
                    enable_all($form);
                }
            });
        });
    </script>
{% endblock %}
