{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load bootstrap_toolkit %}

{% block title %}AstroBin - {% trans "Plate-solve" %}{% endblock %}

{% block content %}
    {% include 'image/edit/menu.html' %}

    <h1>
        {% blocktrans %}Edit your image: plate-solving scale{% endblocktrans %}
    </h1>

    <div class="well">
        {% blocktrans %}AstroBin <em>could</em> plate-solve your image without knowing anything about it, but that could be a long process. If you know the approximate size of the field of your image, plate-solving will be much faster and will have a better chance of success!{% endblocktrans %}
    </div>

    <form class="form-horizontal" action="{% url image_edit_presolve image.id %}" method="post">
        {% csrf_token %}
        {{form|as_bootstrap}}
        <input type="hidden" name="image_id" value="{{image.id}}" />
        <div class="form-actions">
            <!-- TODO: Remove references to done_later -->
            <input type="hidden" name="done_later" value="" />
            <input class="btn btn-primary" type="submit" value="{% trans "Start plate-solving" %} &rarr;" />
            <a class="btn" href="{% url image_detail image.id %}">{% trans "Return to image" %}</a>
        </div>
    </form>
    <div class="well">
        {% blocktrans %}<strong>Note</strong>: if you didn't upload a full resolution image, the pixel scale will be wrong!{% endblocktrans %}
    </div>
{% endblock %}


