{% extends 'base.html' %}

{% load i18n %}
{% load tags %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}

{% block title %}{% trans "Edit revision" %}{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Image' None %}
    {% breadcrumb revision.image.title|escape|default:_("(no title)") 'image_detail' revision.image.get_id %}
    {% breadcrumb 'Revision' None %}
{% endblock %}

{% block content %}
    <h1>{% trans "Edit revision" %}</h1>

    <form id="edit-revision-form" class="form-horizontal edit-revision"
          action="{% url 'image_edit_revision' revision.pk %}" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {% if 'corrupted' in request.GET %}
            {% include './_catastrophic_data_corruption.html' %}
        {% endif %}

        {{ form|as_bootstrap }}

        <div class="form-actions">
            <button class="btn btn-primary btn-block-mobile {% button_loading_class %}" type="submit">
                {% trans "Save" %}
                {% button_loading_indicator %}
            </button>

            <a class="btn btn-danger btn-block-mobile" data-toggle="modal"
               href="#delete-revision-modal-{{ revision.pk }}">
                <i class="icon-remove"></i>
                {% trans "Delete this revision only" %}
            </a>

            <a class="btn btn-block-mobile" href="{% url 'image_detail' revision.image.get_id %}">
                {% trans "Cancel" %}
            </a>
        </div>
    </form>
{% endblock %}

{% block modals %}
    {% include "./_processing_thumbnails_modal.html" %}
    {% with revision_image=revision is_revision=True %}
        {% include "image/detail/modals/delete_revision.html" %}
    {% endwith %}
{% endblock %}

{% block extra_js %}
    {% include "./_processing_thumbnails_modal_js.html" %}
{% endblock %}
