{% extends 'base.html' %}
{% load i18n %}
{% load tags %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load common_tags %}

{% block title %}{% trans "Apply a watermark to image" %}{% endblock %}
{% block container_extra_classes %}has-subnav{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Image' None %}
    {% breadcrumb image.title|escape|default:_("(no title)") 'image_detail' image.get_id %}
    {% breadcrumb 'Watermark' None %}
{% endblock %}

{% block content %}
    {% include 'image/edit/menu.html' %}

    <div class="subtitle">
        <i class="icon icon-info-sign"></i>
        {% blocktrans %}AstroBin can protect your images from theft by applying a watermark to them. Be careful with your settings though: once a watermark has been applied, it cannot be removed (AstroBin won't store the non-watermarked version of your image, for your safety). If you don't like the watermark resulting from the following settings, your only choice is to delete the image and start over.{% endblocktrans %}
        {% blocktrans %}Please note: animated GIFs cannot be watermarked at this time.{% endblocktrans %}
    </div>

    <form class="form-horizontal" action="{% url 'image_edit_save_watermark' %}" method="post">{% csrf_token %}
        {{form|as_bootstrap}}
        <input type="hidden" name="image_id" value="{{image.get_id}}" />

        <div class="form-actions">
            <button
                class="btn btn-primary btn-block-mobile {% button_loading_class %}"
                type="submit">
                {% if image.title %}
                    {% trans "Save" %}
                {% else %}
                    {% trans "Next step: basic information" %} &rarr;
                {% endif %}

                {% button_loading_indicator %}
            </button>


            {% if image.title %}
                <a class="btn btn-block-mobile" href="{{image.get_absolute_url}}">{% trans "Cancel" %}</a>

                <p class="help-block">
                    {% trans "Warning!" %}
                    {% trans "This operation might take several seconds." %}
                </p>
            {% endif %}
        </div>
    </form>
{% endblock %}
