{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load tags %}
{% load common_tags %}

{% block title %}
    {% blocktrans trimmed with user=requested_user.userprofile.get_display_name %}
        {{user}}'s bookmarks
    {% endblocktrans %}
{% endblock %}

{% block container_extra_classes %}has-subnav{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Users' None %}
    {% breadcrumb requested_user.userprofile.get_display_name 'user_page' requested_user.username %}
    {% breadcrumb 'Bookmarks' None %}
{% endblock %}

{% block content %}
    {% include 'user/profile/navigation.html' %}

    <p class="alert alert-info">
        <strong>
            <i class="icon-lightbulb"></i>
            {% trans "Tip!" context "Piece of advice" %}
        </strong>
        {% blocktrans trimmed %}
            You can filter and sort your bookmarks by going the <strong>Advanced search</strong> page, selecting
            <em>Images bookmarked by you</em> as <strong>Search domain</strong>, and applying filtering and sorting
            options to your liking.
        {% endblocktrans %}

        <a href="{% url 'haystack_search' %}{% query_string 'd="ib"' '' %}">
            {% trans "Get started!" %}
        </a>
    </p>

    {% image_list image_list paginate_by=paginate_by %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.image-slideshow-button').remove();
        });
    </script>

    {% include 'user/profile/js.html' %}
{% endblock %}
