{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block title %}AstroBin - {% blocktrans with user=user %}{{user}}'s favorites{% endblocktrans %}{% endblock %}

{% block content %}
    {% include 'user/profile-subnav.html' %}
    <h1>
        {% ifequal user request.user %}
            {% blocktrans %}View your favorites{% endblocktrans %}
        {% else %}
            {% blocktrans with user.username as username %}View {{username}}'s favorites{% endblocktrans %}
        {% endifequal %}
    </h1>

    {% if user == request.user %}
    <div class="well">
        {% blocktrans %}These are the images you marked as favorite.{% endblocktrans %}
    </div>
    {% endif %}

    {% image_list request image_list %}
{% endblock %}

{% block extra_js %}
    {% include 'user/profile-js.html' %}
{% endblock %}