{% extends 'base.html' %}

{% load astrobin_apps_users_tags %}
{% load i18n %}
{% load tags %}

{% block title %}{% blocktrans with user=requested_user.userprofile %}{{user}}'s followers{% endblocktrans %}{% endblock %}
{% block container_extra_classes %}has-subnav{% endblock %}

{% block content %}
    {% include 'user/profile/navigation.html' %}
    <h1>
        {% ifequal requested_user request.user %}
            {% blocktrans %}Your followers{% endblocktrans %}
        {% else %}
            {% blocktrans with requested_user.userprofile as username %}{{username}}'s followers{% endblocktrans %}
        {% endifequal %}
    </h1>

    {% astrobin_apps_users_list user_list %}
{% endblock %}

{% block extra_js %}
    {% include 'user/profile/js.html' %}
{% endblock %}

