{% extends 'base.html' %}

{% load astrobin_apps_users_tags %}
{% load i18n %}
{% load tags %}

{% block title %}{% blocktrans with user=user %}{{user}}'s followed users{% endblocktrans %}{% endblock %}

{% block content %}
    {% include 'user/profile-subnav.html' %}
    <h1>
        {% ifequal user request.user %}
            {% blocktrans %}Your followed users{% endblocktrans %}
        {% else %}
            {% blocktrans with user.username as username %}{{username}}'s followed users{% endblocktrans %}
        {% endifequal %}
    </h1>

    {% astrobin_apps_users_list user_list 'inline' %}
{% endblock %}

{% block extra_js %}
    {% include 'user/profile-js.html' %}
{% endblock %}

