{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load tags %}

{% block title %}{% blocktrans trimmed with user=user %}{{user}}'s liked images{% endblocktrans %}{% endblock %}
{% block container_extra_classes %}has-subnav{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Users' None %}
    {% breadcrumb requested_user.userprofile.get_display_name None %}
    {% breadcrumb 'Likes' None %}
{% endblock %}

{% block content %}
    {% include 'user/profile/navigation.html' %}
    {% image_list image_list paginate_by=paginate_by %}
{% endblock %}

{% block extra_js %}
    {% include 'user/profile/js.html' %}
{% endblock %}
