{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load tags %}
{% load static %}

{% block title %}
    {% blocktrans trimmed with user=requested_user.userprofile.get_display_name %}
        {{user}}'s plots{% endblocktrans %}
{% endblock %}

{% block container_extra_classes %}has-subnav{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Users' None %}
    {% breadcrumb requested_user.userprofile.get_display_name 'user_page' requested_user.username %}
    {% breadcrumb 'Plots' None %}
{% endblock %}

{% block content %}
    <a class="anchor" name="page_anchor"></a>
    {% include 'user/profile/navigation.html' %}

    <div class="alert alert-info">
        <h4>{% trans "Sorry" %}</h4>
        <p>
            {% blocktrans trimmed %}
                This page has been temporarily retired because of performance reasons.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Please keep up-to-date with AstroBin's developments by following the newsletter and the the social
                accounts!
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Thank you for your understanding.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
