{% extends 'base.html' %}

{% load astrobin_apps_donations_tags %}
{% load avatar_tags %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load tags %}
{% load toggleproperty_tags %}
{% load staticfiles %}

{% block title %}{% blocktrans with user=requested_user.userprofile %}{{user}}'s gallery{% endblocktrans %}{% endblock %}
{% block container_extra_classes %}has-subnav{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Users' None %}
    {% breadcrumb requested_user.userprofile.get_display_name None %}
{% endblock %}

{% block content %}
    <a class="anchor" name="page_anchor"></a>

    {% include 'user/profile/navigation.html' %}

    {% if requested_user == request.user and section == 'staging' %}
    <div class="subtitle">
        <i class="icon icon-info-sign"></i>
        {% blocktrans %}These are your "work in progress" images: only you can see this list. You can show people individual images by sharing them using the <em>Share</em> menu.{% endblocktrans %}
    </div>
    {% endif %}

    {% if requested_user == request.user and section == 'trash' %}
        <div class="subtitle">
            <i class="icon icon-info-sign"></i>
            {% blocktrans %}These are your "deleted" images: only you can see this list. Click the images you want to
            restore, and then use the button below to confirm.{% endblocktrans %}
        </div>
    {% endif %}

    {% if requested_user == request.user and has_corrupted_images and section == 'corrupted' and not request.COOKIES.astrobin_corrupted_images_banner_seen %}
        <div class="alert alert-warning corrupted-images-banner">
            <button class="close" data-dismiss="alert">&times;</button>

            <h4>
                <i class="icon icon-warning-sign"></i> {% trans "Oh no!" %}
            </h4>

            <p>
                {% blocktrans with "forum/c/astrobin/annoucements/official-statement-and-post-mortem-about-the-data-loss/" as data_corruption_url %}
                    We are very, very sorry, but it appears that some of your images suffered a catastrophic data
                    corruption, and cannot be retrieved. Please read more <a href="{{ data_corruption_url }}">here</a>.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}
                    Please click on the thumbnails stuck with the hourglass icon to upload the image files that you
                    still have on your computer or backups to their pages again.
                {% endblocktrans %}
            </p>

            <p>
                {% blocktrans %}
                    The data associated to your affected images, such as title, description, equipment used, acquisition
                    details, comments, likes, bookmarks, and so on, is still intact and safe.
                {% endblocktrans %}
            </p>

            <p>
                {% blocktrans %}
                    AstroBin would like to offer you its sincerest apologies. :(
                {% endblocktrans %}
            </p>

            <p>
                <button class="btn btn-primary dont-show-again">
                    {% trans "Okay, don't show this again" %}
                </button>
            </p>
        </div>
    {% endif %}

    <div class="row">
        <div class="span3">
            {% include 'user/profile/meta.html' %}
        </div>

        <div class="span9"> <!-- images -->
            {% if subsection == 'nodata' %}
            <div class="well">
                {% blocktrans %}These images don't have enough data. It's a shame...{% endblocktrans %}
                {% if request.user == requested_user %}
                    {% blocktrans %}If you want your images to be categorized in albums, you should really fill in some data. Imaging telescopes, imaging cameras and subjects are the bare minimum. Dates of acquisitions are very important too.{% endblocktrans %}
                {% endif %}
            </div>
            {% endif %}

            {% if section == 'trash' %}
                {% include "user/profile/trash_image_list.html" %}
            {% else %}
                {% image_list image_list nav_ctx='user' %}
            {% endif %}
        </div> <!-- images -->
    </div> <!-- row -->
{% endblock %}

{% block modals %}
    {% if request.user == requested_user and requested_user|is_donor %}
        {% cancel_donation_modal %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    {% include 'user/profile/js.html' %}
{% endblock %}
