{% load i18n %}
{% load tags %}
<script type="text/javascript">
$(document).ready(function() {
    astrobin_common.init(
        '{{user.username}}',
        {
            follow_action: {
                dialog: {
                    title : "{% blocktrans with user.username as username %}Follow {{username}}?{% endblocktrans %}",
                    body  : "{% blocktrans with user.username as username %}You will receive a notification every time {{username}} posts a new image. Continue?{% endblocktrans %}",
                    button: "{% trans "Yes, follow!" %}"
                },
                stop_following: "{% trans "Stop following" %}"
            },
            unfollow_action: {
                dialog: {
                    title : "{% blocktrans with user.username as username %}Stop following {{username}}?{% endblocktrans %}",
                    body  : "{% blocktrans with user.username as username %}You will stop receiving notifications when {{username}} posts a new image. Continue?{% endblocktrans %}",
                    button: "{% trans "Yes, stop following!" %}"
                },
                follow: "{% trans "Follow" %}"
            },
            message_action: {
                dialog: {
                    title : "{% blocktrans with user.username as username %}Send {{username}} a message{% endblocktrans %}",
                    body  : "",
                    button: "{% trans "Send" %} &rarr;"
                },
                form_html: '{% autoescape off %}{{private_message_form.as_p|append_slash}}{% endautoescape %}',
                csrf_token: '{{csrf_token}}',
                url      : "{% url send_private_message %}"
            }
        });
});
</script>
