{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block title %}AstroBin - {% blocktrans with user=user %}{{user}}'s stats{% endblock %}
{% block content %}
<a name="page_anchor"></a>
<div class="profile">
    {% include 'inclusion_tags/profile_tabs.html' with active_tab='stats' %}
    <div class="tabbed-box clear">
        <a name="stats"></a>
        <div class="plots full-box">
            <h2>{% blocktrans with user.username as user %}{{user}}'s statistics{% endblocktrans %}</h2>
            {% ifequal request.user user %}
            <p>
                {% blocktrans with user.username as user %}Hey <strong>{{user}}</strong>! I just wanted to let you know that you could make these plots more useful if you added all data to your images. Please make sure by checking whether you have images which lack data <a href="?public&sub=nodata">here</a>.{% endblocktrans %}
            </p>
            {% endifequal %}

            <a name="stats_integration_hours_anchor"></a>
            <ul class="bar">
                <li id="menu">
                    <ul class="topnav">
                        <li class="first last">
                            <span class="text"><a href="#">{% trans "Show by period" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li><span class="text"><a href="{% query_string "s_ihp='yearly'" "" %}#stats_integration_hours_anchor">{% trans "Yearly" %}</a></span></li>
                                    <li><span class="text"><a href="{% query_string "s_ihp='monthly'" "" %}#stats_integration_hours_anchor">{% trans "Monthly" %}</a></span></li>
                                    <li><span class="text"><a href="{% query_string "s_ihp='daily'" "" %}#stats_integration_hours_anchor">{% trans "Daily" %}</a></span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div id="stats_integration_hours" class="plot" style="width:880px;height:300px;">
                <div class="loading">
                    <p>{% trans "Please wait: the plot is loading..." %}</p>
                    <img alt="{% trans "Loading..." %}" src="/static/images/plot-loading.gif" />
                </div>
            </div>

            <a name="stats_uploaded_images_anchor"></a>
            <ul class="bar">
                <li id="menu">
                    <ul class="topnav">
                        <li class="first last">
                            <span class="text"><a href="#">{% trans "Show by period" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li><span class="text"><a href="{% query_string "s_uip='yearly'" "" %}#stats_uploaded_images_anchor">{% trans "Yearly" %}</a></span></li>
                                    <li><span class="text"><a href="{% query_string "s_uip='monthly'" "" %}#stats_uploaded_images_anchor">{% trans "Monthly" %}</a></span></li>
                                    <li><span class="text"><a href="{% query_string "s_uip='daily'" "" %}#stats_uploaded_images_anchor">{% trans "Daily" %}</a></span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div id="stats_uploaded_images" class="plot" style="width:880px;height:300px;">
                <div class="loading">
                    <p>{% trans "Please wait: the plot is loading..." %}</p>
                    <img alt="{% trans "Loading..." %}" src="/static/images/plot-loading.gif" />
                </div>
            </div>

            <a name="stats_integration_hours_by_gear_anchor"></a>
            <ul class="bar">
                <li id="menu">
                    <ul class="topnav">
                        <li class="first last">
                            <span class="text"><a href="#">{% trans "Show by period" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li><span class="text"><a href="{% query_string "s_ihgp='yearly'" "" %}#stats_integration_hours_by_gear_anchor">{% trans "Yearly" %}</a></span></li>
                                    <li><span class="text"><a href="{% query_string "s_ihgp='monthly'" "" %}#stats_integration_hours_by_gear_anchor">{% trans "Monthly" %}</a></span></li>
                                    <li><span class="text"><a href="{% query_string "s_ihgp='daily'" "" %}#stats_integration_hours_by_gear_anchor">{% trans "Daily" %}</a></span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div id="stats_integration_hours_by_gear" class="plot" style="width:880px;height:300px;">
                <div class="loading">
                    <p>{% trans "Please wait: the plot is loading..." %}</p>
                    <img alt="{% trans "Loading..." %}" src="/static/images/plot-loading.gif" />
                </div>
            </div>
            <div id="stats_integration_hours_by_gear_legend" class="legend"></div>

            <a name="stats_views_anchor"></a>
            <ul class="bar">
                <li id="menu">
                    <ul class="topnav">
                        <li class="first last">
                            <span class="text"><a href="#">{% trans "Show by period" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li><span class="text"><a href="{% query_string "s_vp='yearly'" "" %}#stats_views_anchor">{% trans "Yearly" %}</a></span></li>
                                    <li><span class="text"><a href="{% query_string "s_vp='monthly'" "" %}#stats_views_anchor">{% trans "Monthly" %}</a></span></li>
                                    <li><span class="text"><a href="{% query_string "s_vp='daily'" "" %}#stats_views_anchor">{% trans "Daily" %}</a></span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div id="stats_views" class="plot" style="width:880px;height:300px;">
                <div class="loading">
                    <p>{% trans "Please wait: the plot is loading..." %}</p>
                    <img alt="{% trans "Loading..." %}" src="/static/images/plot-loading.gif" />
                </div>
            </div>
        </div>
    </div>
</div> <!-- profile -->
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    stats.init();

    stats.plot(
        '#stats_integration_hours',
        {% if 's_ihp' in request.GET %}
        "{% url stats_integration_hours user.username request.GET.s_ihp 0 %}",
        {% else %}
        "{% url stats_integration_hours user.username 'monthly' 0 %}",
        {% endif %}
        5000);
    stats.enableTooltips("#stats_integration_hours");

    stats.plot(
        '#stats_uploaded_images',
        {% if 's_uip' in request.GET %}
        "{% url stats_uploaded_images user.username request.GET.s_uip %}",
        {% else %}
        "{% url stats_uploaded_images user.username 'monthly' %}",
        {% endif %}
        5000);
    stats.enableTooltips("#stats_uploaded_images");

    $.ajax({
        {% if 's_ihgp' in request.GET %}
            url: "{% url stats_integration_hours_by_gear user.username request.GET.s_ihgp %}",
        {% else %}
            url: "{% url stats_integration_hours_by_gear user.username 'monthly' %}",
        {% endif %}
        method: 'GET',
        dataType: 'json',
        timeout: 60000,
        success: function(series) {
            series['flot_options']['legend']['container'] = $('#stats_integration_hours_by_gear_legend');
            $.plot($('#stats_integration_hours_by_gear'),
                series['flot_data'],
                series['flot_options']);
        }
    });
    stats.enableTooltips("#stats_integration_hours_by_gear");

    stats.plot(
        '#stats_views',
        {% if 's_vp' in request.GET %}
        "{% url stats_views user.username request.GET.s_vp %}",
        {% else %}
        "{% url stats_views user.username 'daily' %}",
        {% endif %}
        5000);
    stats.enableTooltips("#stats_views");
});
</script>
{% endblock %}
