{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block title %}AstroBin - {% blocktrans %}Votes{% endblocktrans %}{% endblock %}
{% block content %}
    {% include 'user/profile-subnav.html' %}

    <div class="row section">
        <div class="span12">
            <h1>{% blocktrans %}Votes{% endblocktrans %}: {{user}}</h1>

            <table class="table">
                <thead>
                    <th>{% trans "Image" %}</th>
                    <th>{% trans "User" %}</th>
                    <th>{% trans "AstroBin Index" %}</th>
                    <th><i class="icon-star"></i></th>
                    <th><i class="icon-calendar"></i></th>
                </thead>

                <tbody>
                    {% for vote in votes %}
                        <tr>
                            <td><a href="{% url image_detail vote.object_id %}">{{vote.content_object.title}}</a></td>
                            <td><a href="{% url user_page vote.content_object.user %}">{{vote.content_object.user}}</a></td>
                            <td>{{vote.content_object.astrobinIndex|floatformat:3}}</td>
                            <td>{{vote.score}}</td>
                            <td>{{vote.date_added|date:"SHORT_DATE_FORMAT"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{% include 'user/profile-js.html' %}
{% endblock %}
