{% load i18n %}{% load common_tags %}{% load astrobin_apps_premium_tags %}

<script type="text/x-template" id="app-template">
    <div class="accordion search-filters-app" :class="{collapsed: collapsed}">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" @click="toggleCollapsed">
                    <span v-if="collapsed">
                        {% trans "Show filters" %} <i class="pull-right icon-angle-down"></i>
                    </span>
                    <span v-if="!collapsed">
                        {% trans "Hide filters" %} <i class="pull-right icon-angle-up"></i>
                    </span>
                </a>
            </div>
            <div id="searchFilterCollapsible" class="accordion-body" :class="{collapse: collapsed}">
                <div class="accordion-inner">
                    <form method="get" action="{% url 'haystack_search' %}">
                        <div class="search-filters">
                            <div class="search-filter" v-for="filter in enabledFilters">
                                <a v-if="filter.removable" class="search-filter-remove"
                                   @click="onRemoveFilter(filter.name)">
                                    &times;
                                </a>

                                <div class="search-filter-title">{% trans "${filter.label}" %}</div>

                                <search-terms-filter v-if="filter.name === 'q'" :q="q"></search-terms-filter>

                                <subject-search-terms-filter v-if="filter.name === 'subject'"
                                                             :subject="subject"></subject-search-terms-filter>

                                <telescope-search-terms-filter v-if="filter.name === 'telescope'"
                                                             :telescope="telescope"></telescope-search-terms-filter>

                                <camera-search-terms-filter v-if="filter.name === 'camera'"
                                                               :camera="camera"></camera-search-terms-filter>

                                <search-domain-filter v-if="filter.name === 'd'" :searchDomain="searchDomain"
                                                      @input="onSearchDomainChanged($event)"></search-domain-filter>

                                <search-by-filter v-if="filter.name === 't'" :searchBy="searchBy"></search-by-filter>

                                <animated-filter v-if="filter.name === 'animated'"
                                                 :animated="animated"></animated-filter>

                                <award-filter v-if="filter.name === 'award'" :award="award"></award-filter>

                                <date-published-filter v-if="filter.name === 'date_published'"
                                                       :date-published-min="datePublishedMin"
                                                       :date-published-max="datePublishedMax"></date-published-filter>

                                <date-acquired-filter v-if="filter.name === 'date_acquired'"
                                                      :date-acquired-min="dateAcquiredMin"
                                                      :date-acquired-max="dateAcquiredMax"></date-acquired-filter>

                                <camera-type-filter v-if="filter.name === 'camera_type'"
                                                    :camera-type="cameraType"></camera-type-filter>

                                <country-filter v-if="filter.name === 'country'" :country="country"></country-filter>

                                <acquisition-type-filter v-if="filter.name === 'acquisition_type'"
                                                         :acquisition-type="acquisitionType"></acquisition-type-filter>

                                <data-source-filter v-if="filter.name === 'data_source'"
                                                    :data-source="dataSource"></data-source-filter>

                                <field-radius-filter v-if="filter.name === 'field_radius'"
                                                     :field-radius-min="fieldRadiusMin"
                                                     :field-radius-max="fieldRadiusMax"></field-radius-filter>

                                <license-filter v-if="filter.name === 'license'" :license="license"></license-filter>

                                <minimum-data-filter v-if="filter.name === 'minimum_data'"
                                                     :minimum-data="minimumData"></minimum-data-filter>

                                <moon-phase-filter v-if="filter.name === 'moon_phase'" :moon-phase-min="moonPhaseMin"
                                                   :moon-phase-max="moonPhaseMax"></moon-phase-filter>

                                <coord-ra-filter v-if="filter.name === 'coord_ra'" :coord-ra-min="coordRaMin"
                                                 :coord-ra-max="coordRaMax"></coord-ra-filter>

                                <coord-dec-filter v-if="filter.name === 'coord_dec'" :coord-dec-min="coordDecMin"
                                                  :coord-dec-max="coordDecMax"></coord-dec-filter>

                                <pixel-scale-filter v-if="filter.name === 'pixel_scale'"
                                                    :pixel-scale-min="pixelScaleMin"
                                                    :pixel-scale-max="pixelScaleMax"></pixel-scale-filter>

                                <remote-source-filter v-if="filter.name === 'remote_source'"
                                                      :remote-source="remoteSource"></remote-source-filter>

                                <subject-type-filter v-if="filter.name === 'subject_type'"
                                                     :subject-type="subjectType"></subject-type-filter>

                                <telescope-type-filter v-if="filter.name === 'telescope_type'"
                                                       :telescope-type="telescopeType"></telescope-type-filter>

                                <integration-time-filter v-if="filter.name === 'integration_time'"
                                                         :integration-time-min="integrationTimeMin"
                                                         :integration-time-max="integrationTimeMax"></integration-time-filter>

                                <constellation-filter v-if="filter.name === 'constellation'"
                                                      :constellation="constellation"></constellation-filter>
                            </div>

                            <add-filter v-if="availableFilters().length > 0 && isImageSearch()"
                                        :availableFilters="availableFilters()" @onAddFilter="onAddFilter"></add-filter>
                        </div>

                        <div class="accordion-footer">
                            <button class="btn btn-primary search-button {% button_loading_class %}" type="submit">
                                {% trans "Search" %}
                                {% button_loading_indicator %}
                            </button>

                            {% if paginator and request.GET.q and paginator.count > 100 %}
                                <div class="result-count">
                                    {% trans "Results" %}: ~{{ paginator.count }}
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    new Vue({
        el: '#search-app',
        template: "#app-template",
        data: {
            collapsed: window.innerWidth < 768,

            q: "{{ request.GET.q }}",

            subject:
                {% if "subject" in request.GET %}
                    "{{ request.GET.subject }}"
                {% else %}
                    undefined
                {% endif %},

            telescope:
                {% if "telescope" in request.GET %}
                    "{{ request.GET.telescope }}"
                {% else %}
                    undefined
                {% endif %},

            camera:
                {% if "camera" in request.GET %}
                    "{{ request.GET.camera }}"
                {% else %}
                    undefined
                {% endif %},

            searchDomain:
                {% if "d" in request.GET %}
                    "{{ request.GET.d }}"
                {% else %}
                    undefined
                {% endif %},

            searchBy:
                {% if "t" in request.GET %}
                    "{{ request.GET.t }}"
                {% else %}
                    undefined
                {% endif %},

            animated:
                {% if "animated" in request.GET %}
                    true
                {% else %}
                    undefined
                {% endif %},
            award:
                {% if "award" in request.GET %}
                    "{{ request.GET.award }}"
                {% else %}
                    undefined
                {% endif %},
            datePublishedMin:
                {% if "date_published_min" in request.GET %}
                    "{{ request.GET.date_published_min }}"
                {% else %}
                    "2011-11-09"
                {% endif %},
            datePublishedMax:
                {% if "date_published_max" in request.GET %}
                    "{{ request.GET.date_published_max }}"
                {% else %}
                    new Date().toISOString().split('T')[0]
                {% endif %},
            dateAcquiredMin:
                {% if "date_acquired_min" in request.GET %}
                    "{{ request.GET.date_acquired_min }}"
                {% else %}
                    undefined
                {% endif %},
            dateAcquiredMax:
                {% if "date_acquired_max" in request.GET %}
                    "{{ request.GET.date_acquired_max }}"
                {% else %}
                    undefined
                {% endif %},
            cameraType:
                {% if "camera_type" in request.GET and request.GET.camera_type %}
                    "{{ request.GET.camera_type }}"
                {% else %}
                    undefined
                {% endif %},
            country:
                {% if "country" in request.GET and request.GET.country %}
                    "{{ request.GET.country }}"
                {% else %}
                    undefined
                {% endif %},
            acquisitionType:
                {% if "acquisition_type" in request.GET and request.GET.acquisition_type %}
                    "{{ request.GET.acquisition_type }}"
                {% else %}
                    undefined
                {% endif %},
            dataSource:
                {% if "data_source" in request.GET and request.GET.data_source %}
                    "{{ request.GET.data_source }}"
                {% else %}
                    undefined
                {% endif %},
            fieldRadiusMin:
                {% if "field_radius_min" in request.GET and request.GET.field_radius_min %}
                    {{ request.GET.field_radius_min }}
                {% else %}
                    0
                {% endif %},
            fieldRadiusMax:
                {% if "field_radius_max" in request.GET and request.GET.field_radius_max %}
                    {{ request.GET.field_radius_max }}
                {% else %}
                    180
                {% endif %},
            license:
                {% if "license" in request.GET and request.GET.license %}
                    "{{ request.GET.license }}"
                {% else %}
                    undefined
                {% endif %},
            minimumData:
                {% if "minimum_data" in request.GET and request.GET.minimum_data %}
                    "{{ request.GET.minimum_data }}"
                {% else %}
                    undefined
                {% endif %},
            moonPhaseMin:
                {% if "moon_phase_min" in request.GET and request.GET.moon_phase_min %}
                    {{ request.GET.moon_phase_min }}
                {% else %}
                    0
                {% endif %},
            moonPhaseMax:
                {% if "moon_phase_max" in request.GET and request.GET.moon_phase_max %}
                    {{ request.GET.moon_phase_max }}
                {% else %}
                    100
                {% endif %},
            coordRaMin:
                {% if "coord_ra_min" in request.GET and request.GET.coord_ra_min %}
                    {{ request.GET.coord_ra_min }}
                {% else %}
                    0
                {% endif %},
            coordRaMax:
                {% if "coord_ra_max" in request.GET and request.GET.coord_ra_max %}
                    {{ request.GET.coord_ra_max }}
                {% else %}
                    360
                {% endif %},
            coordDecMin:
                {% if "coord_dec_min" in request.GET and request.GET.coord_dec_min %}
                    {{ request.GET.coord_dec_min }}
                {% else %}
                    -90
                {% endif %},
            coordDecMax:
                {% if "coord_dec_max" in request.GET and request.GET.coord_dec_max %}
                    {{ request.GET.coord_dec_max }}
                {% else %}
                    90
                {% endif %},
            pixelScaleMin:
                {% if "pixel_scale_min" in request.GET and request.GET.pixel_scale_min %}
                    {{ request.GET.pixel_scale_min }}
                {% else %}
                    0
                {% endif %},
            pixelScaleMax:
                {% if "pixel_scale_max" in request.GET and request.GET.pixel_scale_max %}
                    {{ request.GET.pixel_scale_max }}
                {% else %}
                    10
                {% endif %},
            remoteSource:
                {% if "remote_source" in request.GET and request.GET.remote_source %}
                    "{{ request.GET.remote_source }}"
                {% else %}
                    undefined
                {% endif %},
            subjectType:
                {% if "subject_type" in request.GET and request.GET.subject_type %}
                    "{{ request.GET.subject_type }}"
                {% else %}
                    undefined
                {% endif %},
            telescopeType:
                {% if "telescope_type" in request.GET and request.GET.telescope_type %}
                    "{{ request.GET.telescope_type }}"
                {% else %}
                    undefined
                {% endif %},
            integrationTimeMin:
                {% if "integration_time_min" in request.GET and request.GET.integration_time_min %}
                    {{ request.GET.integration_time_min }}
                {% else %}
                    0
                {% endif %},
            integrationTimeMax:
                {% if "integration_time_max" in request.GET and request.GET.integration_time_max %}
                    {{ request.GET.integration_time_max }}
                {% else %}
                    999
                {% endif %},
            constellation:
                {% if "constellation" in request.GET and request.GET.constellation %}
                    "{{ request.GET.constellation }}"
                {% else %}
                    undefined
                {% endif %},

            allFilters: [
                {
                    name: "q",
                    label: "{% trans "Search terms" %}",
                    removable: true
                },
                {
                    name: "subject",
                    label: "{% trans "Subject" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "telescope",
                    label: "{% trans "Telescope" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "camera",
                    label: "{% trans "Camera" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "d",
                    label: "{% trans "Search domain" %}",
                    removable: true
                },
                {
                    name: "t",
                    label: "{% trans "Search by" %}",
                    removable: true
                },
                {
                    name: "animated",
                    label: "{% trans "Only animated" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "award",
                    label: "{% trans "Award" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "date_published",
                    label: "{% trans "Publication date range" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "date_acquired",
                    label: "{% trans "Acquisition date range" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "camera_type",
                    label: "{% trans "Camera type" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "country",
                    label: "{% trans "Country" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "acquisition_type",
                    label: "{% trans "Acquisition type" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "data_source",
                    label: "{% trans "Data source" %}",
                    removable: true,
                    restricted: "FULL"
                },
                {
                    name: "field_radius",
                    label: "{% trans "Field radius (deg)" %}",
                    removable: true,
                    restricted: "FULL"
                },
                {
                    name: "license",
                    label: "{% trans "License" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "minimum_data",
                    label: "{% trans "Minimum data" %}",
                    removable: true,
                    restricted: "FULL"
                },
                {
                    name: "moon_phase",
                    label: "{% trans "Moon phase (%)" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "coord_ra",
                    label: "{% trans "Right ascension" %}",
                    removable: true,
                    restricted: "FULL"
                },
                {
                    name: "coord_dec",
                    label: "{% trans "Declination" %}",
                    removable: true,
                    restricted: "FULL"
                },
                {
                    name: "pixel_scale",
                    label: "{% trans "Pixel scale (arcsec/pixel)" %}",
                    removable: true,
                    restricted: "FULL"
                },
                {
                    name: "remote_source",
                    label: "{% trans "Remote source" %}",
                    removable: true,
                    restricted: "FULL"
                },
                {
                    name: "subject_type",
                    label: "{% trans "Subject type" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "telescope_type",
                    label: "{% trans "Telescope type" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
                {
                    name: "integration_time",
                    label: "{% trans "Integration time (hours)" %}",
                    removable: true,
                    restricted: "FULL"
                },
                {
                    name: "constellation",
                    label: "{% trans "Constellation" %}",
                    removable: true,
                    restricted: "ADVANCED"
                },
            ],
            enabledFilters: []
        },
        created: function () {
            if (this.searchDomain === undefined) {
                this.searchDomain = "i";
            }

            if (this.searchBy === undefined) {
                this.searchBy = "all";
            }

            this.enabledFilters.push(this.getFilterByName("q"));

            {% if request.user|can_access_advanced_search %}
                if (this.isImageSearch()) {
                    this.enabledFilters.push(this.getFilterByName("subject"));
                    this.enabledFilters.push(this.getFilterByName("telescope"));
                    this.enabledFilters.push(this.getFilterByName("camera"));
                } else {
                    this.enabledFilters.push(this.getFilterByName("d"));
                }
            {% else %}
                this.enabledFilters.push(this.getFilterByName("d"));

                if (this.searchDomain === "i") {
                    this.enabledFilters.push(this.getFilterByName("t"));
                }
            {% endif %}

            if (this.animated) {
                this.enabledFilters.push(this.getFilterByName("animated"));
            }

            if (this.award) {
                this.enabledFilters.push(this.getFilterByName("award"));
            }

            if (this.datePublishedMin || this.datePublishedMax) {
                this.enabledFilters.push(this.getFilterByName("date_published"));
            }

            if (this.dateAcquiredMin || this.dateAcquiredMax) {
                this.enabledFilters.push(this.getFilterByName("date_acquired"));
            }

            if (this.cameraType) {
                this.enabledFilters.push(this.getFilterByName("camera_type"));
            }

            if (this.country) {
                this.enabledFilters.push(this.getFilterByName("country"));
            }

            if (this.acquisitionType) {
                this.enabledFilters.push(this.getFilterByName("acquisition_type"));
            }

            if (this.dataSource) {
                this.enabledFilters.push(this.getFilterByName("data_source"));
            }

            {% if "field_radius_min" in request.GET or "field_radius_max" in request.GET %}
                this.enabledFilters.push(this.getFilterByName("field_radius"));
            {% endif %}

            {% if "moon_phase_min" in request.GET or "moon_phase_max" in request.GET %}
                this.enabledFilters.push(this.getFilterByName("moon_phase"));
            {% endif %}

            {% if "coord_ra_min" in request.GET or "coord_ra_max" in request.GET %}
                this.enabledFilters.push(this.getFilterByName("coord_ra"));
            {% endif %}

            {% if "coord_dec_min" in request.GET or "coord_dec_max" in request.GET %}
                this.enabledFilters.push(this.getFilterByName("coord_dec"));
            {% endif %}

            {% if "pixel_scale_min" in request.GET or "pixel_scale_max" in request.GET %}
                this.enabledFilters.push(this.getFilterByName("pixel_scale"));
            {% endif %}

            {% if "integration_time_min" in request.GET or "integration_time_max" in request.GET %}
                this.enabledFilters.push(this.getFilterByName("integration_time"));
            {% endif %}

            if (this.license) {
                this.enabledFilters.push(this.getFilterByName("license"));
            }

            if (this.minimumData) {
                this.enabledFilters.push(this.getFilterByName("minimum_data"));
            }

            if (this.remoteSource) {
                this.enabledFilters.push(this.getFilterByName("remote_source"));
            }

            if (this.subjectType) {
                this.enabledFilters.push(this.getFilterByName("subject_type"));
            }

            if (this.telescopeType) {
                this.enabledFilters.push(this.getFilterByName("telescope_type"));
            }

            if (this.constellation) {
                this.enabledFilters.push(this.getFilterByName("constellation"));
            }
        },
        methods: {
            toggleCollapsed: function () {
                this.collapsed = !this.collapsed;
            },
            getFilterByName: function (name) {
                for (var i = 0; i < this.allFilters.length; i++) {
                    if (this.allFilters[i].name === name) {
                        return this.allFilters[i];
                    }
                }
            },
            hasFilter: function (name) {
                return this.enabledFilters
                    .map(function (filter) {
                        return filter.name;
                    })
                    .indexOf(name) > -1;
            },
            availableFilters: function () {
                var availableFilters = [];
                for (var i = 0; i < this.allFilters.length; i++) {
                    if (!this.hasFilter(this.allFilters[i].name) && this.allFilters[i].removable) {
                        availableFilters.push(this.allFilters[i]);
                    }
                }

                return availableFilters;
            },
            onAddFilter: function (name) {
                this.enabledFilters.push(this.getFilterByName(name));
            },
            onRemoveFilter: function (name) {
                var i = this.enabledFilters.length;
                while (i--) {
                    if (this.enabledFilters[i].name === name) {
                        this.enabledFilters.splice(i, 1);
                    }
                }
            },
            isImageSearch: function () {
                return this.searchDomain === "i";
            },

            onSearchDomainChanged: function (val) {
                this.searchDomain = val;
                if (this.searchDomain !== "i") {
                    this.enabledFilters = this.enabledFilters.filter(function (filter) {
                        return [
                            "q",
                            "d"
                        ].indexOf(filter.name) > -1
                    });
                }
            }
        }
    })
</script>
