{% include "vue_frontend/config.vue.html" %}

{% include "vue_frontend/search_app/mixins/filter_component_mixin.vue.html" %}

{% include "vue_frontend/search_app/components/add_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/animated_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/award_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/camera_type_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/country_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/acquisition_type_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/data_source_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/date_publilshed_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/date_acquired_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/field_radius_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/license_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/minimum_data_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/moon_phase_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/coord_ra_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/coord_dec_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/pixel_scale_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/remote_source_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/search_terms_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/search_domain_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/search_by_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/subject_type_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/telescope_type_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/integration_time_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/constellation_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/subject_search_terms_filter_component.vue.html" %}
{% include "vue_frontend/search_app/components/telescope_search_terms_filter_component.vue.html" %}

{% include "vue_frontend/search_app/app.vue.html" %}
