{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% include 'profile-edit-menu.html' %}
    <div class="sided-main-content">
        <h1>{% trans "Import your photos from Flickr" %}</h1>
        <div class="js">
            <form name="flickr_form" action="">{% csrf_token %}
                {% if flickr_sets %}
                <p id="flickr_sets">
                    <label for="id_flickr_sets">{% trans "Which set" %}:</label>
                    <select id="id_flickr_sets">
                    {% for title, id in flickr_sets.items %}
                        <option value="{{id}}">{{title}}</option>
                    {% endfor %}
                    </select>
                </p>
                <p id="flickr_photos" class="hidden"></p>
                <p id="flickr_progress" class="hidden"></p>
                <p id="flickr_progress_message" class="hidden"></p>
                {% endif %}

                <p id="button">
                    {% if flickr_sets %}
                    <input class="button submit-button" type="submit" value="{% trans "Import photos" %} &rarr;"/>
                    {% else %}
                    <input class="button lone-button" type="submit" value="{% trans "Authenticate with Flickr" %} &rarr;"/>
                    {% endif %}
                </p>
            </form>
        </div>
        <noscript>
            <p>
                {% blocktrans %}Unfortunately you need to enable Javascript to be able to import photos from Flickr at this time.{% endblocktrans %}
            </p>
        </noscript>
    </div>  
{% endblock %}

{% block extra_js %}
<script language="javascript">
$(function() {
    var selected_photos = [];
    var phase = 0; // nothing done yet
    var link = '{% autoescape off %}{{flickr_link}}{% endautoescape %}';
    var refresh_id;

    $('.js').css('display', 'block');

    if (link == '') {
        // we have passed the user authentication phase
        phase++;
    }
    $('.button').click(function() {
        if (phase == 0) {
                window.location = link;
        } else if (phase == 1) { // Time to ask for the photos in the set.
            $.ajax({
                    type: 'POST',
                    url: '/profile/edit/flickr/',
                    dataType: 'json',
                    data: ({'id_flickr_set': $('select option:selected').val()}),
                    timeout: 5000,
                    success: function(data) {
                        var photos = data.flickr_photos;
                        $('p#flickr_photos').removeClass('hidden');
                        $('p#flickr_photos').html(function() {
                                var ret = '\
                                    <h3>{% trans "Click to select the photos you want to import" %}</h3> \
                                    <ul class="select-links"> \
                                        <li><a id="all" href="#">{% trans "Select all" %}</a></li> \
                                        <li><a id="none" href="#">{% trans "Select none" %}</a></li> \
                                    </ul>';
                                $.each(photos, function(id, url) {
                                    ret += '\
                                        <div style="float:left; width: 77px; height: 77px;"> \
                                            <a href="#"> \
                                                <img id="' + id + '" class="flickr-photo-to-import" src="' + url + '" width=75 height=75 /> \
                                            </a> \
                                        </div>'
                                });
                                return ret +
                                       '<div style="clear:both"></div>';
                        });
                        $('.button').val('{% trans "Import selected photos" %} \u2192');
                        $('.button').addClass('lone-button');
                        $('.button').removeClass('submit-button');
                        $('p#flickr_sets').hide();
                        phase++;
                    }
            });
        } else if (phase == 2) { // Time to communicate which photos have been selected.
            $('p#flickr_progress').removeClass('hidden');
            $('p#flickr_progress').html('<img src="/static/images/loading-bar.gif" alt="Loading..."/>');
            $('p#flickr_progress_message').removeClass('hidden');
            $('.button').hide();
            $('p#flickr_progress_message').html("<strong>{% trans "Importing images." %}</strong> {% trans "Do not navigate away from this window: this might take a while!" %}");
            
            $.ajax({
                    type: 'POST',
                    url: '/profile/edit/flickr/',
                    dataType: 'json',
                    data: ({'flickr_selected_photos': selected_photos}),
                    success: function(data) {
                        $('p#flickr_progress_message').hide();
                        $('p#flickr_progress').html("{% blocktrans %}Done! Go to <a href=\"/me\">your profile</a> to see the new pictures (and keep an eye on your notifications)!{% endblocktrans %}");
                    }
            });
        }
        return false;
    });
    $('img.flickr-photo-to-import').live('click', function() {
            $(this).removeClass('flickr-photo-to-import');
            $(this).addClass('flickr-photo-to-import-selected');
            selected_photos.push($(this).attr('id'));
    });
    $('img.flickr-photo-to-import-selected').live('click', function() {
            $(this).removeClass('flickr-photo-to-import-selected');
            $(this).addClass('flickr-photo-to-import');
            selected_photos.splice(selected_photos.indexOf($(this).attr('id')), 1);
    });
    $('a#all').live('click', function() {
            $('img.flickr-photo-to-import').addClass('flickr-photo-to-import-selected');
            $('img.flickr-photo-to-import').removeClass('flickr-photo-to-import');
            selected_photos = [];
            $('img.flickr-photo-to-import-selected').each(function() {
                    selected_photos.push($(this).attr('id'));
            });
    });
    $('a#none').live('click', function() {
            $('img.flickr-photo-to-import-selected').addClass('flickr-photo-to-import');
            $('img.flickr-photo-to-import-selected').removeClass('flickr-photo-to-import-selected');
            selected_photos = [];
    });
});
</script>
{% endblock %}

