{% extends 'base.html' %}

{% load i18n %}
{% load astrobin_apps_premium_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load staticfiles %}
{% load common_tags %}

{% block title %}{% trans "Import from Flickr" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Users' None %}
    {% breadcrumb request.user.userprofile.get_display_name 'user_page' request.user.username %}
    {% breadcrumb 'Settings' None %}
    {% breadcrumb 'Import from Flickr' None %}
{% endblock %}

{% block content %}
    <div class="row">
        {% include 'user/profile/edit/navigation.html' %}
        <div class="span9">
            {% if READONLY_MODE %}
                {% include 'readonly_mode.html' %}
            {% else %}
                {% if request.user|is_any_premium or request.user|is_any_ultimate %}
                    {% if readonly %}
                        <div class="alert alert-error">
                            {% blocktrans trimmed %}AstroBin is currently in read-only mode, because of server maintenance.
                                Please try again soon!{% endblocktrans %}
                        </div>
                    {% else %}
                        <div class="well">
                            {% blocktrans trimmed %}Please note: when importing from Flickr, automatic watermarking of the
                                images it not supported.{% endblocktrans %}
                        </div>
                        <div class="js">
                            <form class="form form-vertical" name="flickr_form" action="">{% csrf_token %}
                                {% if flickr_sets %}
                                    <p id="flickr_sets">
                                        <label for="id_flickr_sets">{% trans "Which set" %}:</label>
                                        <select id="id_flickr_sets">
                                            {% for title, id in flickr_sets.items %}
                                                <option value="{{ id }}">{{ title }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p id="flickr_photos" class="hidden"></p>
                                    <p id="flickr_progress" class="hidden"></p>
                                    <p id="flickr_progress_message" class="hidden"></p>
                                {% endif %}

                                <div class="form-actions">
                                    {% if flickr_sets %}
                                        <button class="btn btn-primary btn-flickr {% button_loading_class %}" type="submit">
                                            <span class="text">{% trans "Import photos" %}</span>
                                            {% button_loading_indicator %}
                                        </button>
                                    {% else %}
                                        <button class="btn btn-primary btn-flickr {% button_loading_class %}" type="submit">
                                            <span class="text">{% trans "Authenticate with Flickr" %}</span>
                                            {% button_loading_indicator %}
                                        </button>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                        <noscript>
                            <p>
                                {% blocktrans trimmed %}Unfortunately you need to enable Javascript to be able to import photos
                                    from Flickr at this time.{% endblocktrans %}
                            </p>
                        </noscript>
                    {% endif %} {# readonly #}
                {% else %}
                    <div class="alert alert-warning">
                        <h4 class="alert-header">
                            <i class="icon-warning-sign"></i>
                            {% trans "Warning!" %}
                        </h4>
                        {% trans "Sorry, but importing from Flickr is reserved to AstroBin Premium and Ultimate users." %}
                        <a href="{% url 'subscription_list' %}">
                            {% trans "Would you like to upgrade?" %}
                        </a>
                    </div>
                {% endif %}
            {% endif %} {# READONLY #}
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script language="javascript">
        $(function () {
            var selected_photos = [];
            var phase = 1;
            var refresh_id;
            var username = "{{request.user.username}}";

            $('.js').css('display', 'block');

            $('.btn-flickr').click(function () {
                var $btn = $(this);
                $btn.addClass('running');
                $btn.attr('disabled', true);
                if (phase == 1) { // Time to ask for the photos in the set.
                    $.ajax({
                        type: 'POST',
                        url: '/profile/edit/flickr/',
                        dataType: 'json',
                        data: ({'id_flickr_set': $('select option:selected').val()}),
                        timeout: 5000,
                        success: function (data) {
                            var photos = data.flickr_photos;
                            $('p#flickr_photos').removeClass('hidden');
                            $('p#flickr_photos').html(function () {
                                var ret = '\
                                    <h3>{% trans "Click to select the photos you want to import" %}</h3> \
                                    <ul class="select-links" style="margin-left: 0; margin-bottom: 10px;"> \
                                        <li style="display: inline-block"><button class="btn btn-mini" id="all">{% trans "Select all" %}</button></li> \
                                        <li style="display: inline-block"><button class="btn btn-mini" id="none">{% trans "Select none" %}</button></li> \
                                    </ul>';
                                $.each(photos, function (id, url) {
                                    ret += '\
                                        <div style="float:left; width: 77px; height: 77px;"> \
                                            <img id="' + id + '" class="flickr-photo-to-import" src="' + url + '" width=75 height=75 /> \
                                        </div>'
                                });
                                return ret +
                                    '<div style="clear:both"></div>';
                            });
                            $btn.removeClass('running');
                            $btn.attr('disabled', false);
                            $btn.find('text').val('{% trans "Import selected photos" %}');
                            $('p#flickr_sets').hide();
                            phase++;
                        }
                    });
                } else if (phase == 2) { // Time to communicate which photos have been selected.
                    $('p#flickr_progress').removeClass('hidden');
                    $('p#flickr_progress').html('<img src="{% static 'astrobin/images/loading-bar.gif' %}" alt="Loading..."/>');
                    $('p#flickr_progress_message').removeClass('hidden');
                    $('.btn-flickr').hide();
                    $('p#flickr_progress_message').html("<strong>{% trans "Importing images." %}</strong> {% trans "Do not navigate away from this window: this might take a while!" %}");

                    $.ajax({
                        type: 'POST',
                        url: '/profile/edit/flickr/',
                        dataType: 'json',
                        data: ({'flickr_selected_photos': selected_photos}),
                        timeout: 60000,
                        success: function () {
                            window.location.assign("{% url 'user_page' request.user.username %}?staging");
                        }
                    });
                }
                return false;
            });
            $('img.flickr-photo-to-import').live('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                $(this).removeClass('flickr-photo-to-import');
                $(this).addClass('flickr-photo-to-import-selected');
                selected_photos.push($(this).attr('id'));
                return false;
            });
            $('img.flickr-photo-to-import-selected').live('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                $(this).removeClass('flickr-photo-to-import-selected');
                $(this).addClass('flickr-photo-to-import');
                selected_photos.splice(selected_photos.indexOf($(this).attr('id')), 1);
                return false;
            });
            $('#all').live('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                $('img.flickr-photo-to-import').addClass('flickr-photo-to-import-selected');
                $('img.flickr-photo-to-import').removeClass('flickr-photo-to-import');
                selected_photos = [];
                $('img.flickr-photo-to-import-selected').each(function () {
                    selected_photos.push($(this).attr('id'));
                });
                return false;
            });
            $('#none').live('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                $('img.flickr-photo-to-import-selected').addClass('flickr-photo-to-import');
                $('img.flickr-photo-to-import-selected').removeClass('flickr-photo-to-import-selected');
                selected_photos = [];
                return false;
            });
        });
    </script>
{% endblock %}

