{% load i18n %}

<script type="text/javascript">
$(document).ready(function() {
    astrobin_common.init_ajax_csrf_token();

    {% ifequal request.GET.view None %}
        if (astrobin_common.utils.isTouchDevice() && window.innerWidth >= 375) {
            $('#show-gallery-mouse-hovers input').bootstrapToggle('off');
            $('#show-gallery-mouse-hovers .toggle').css('height', '18px');
            $('#show-gallery-mouse-hovers').show();

            $('#show-gallery-mouse-hovers input').change(function () {
                $('.astrobin-thumbnail figcaption')
                    .css('opacity', $(this).prop('checked') ? 1 : '')
                    .css('visibility', $(this).prop('checked') ? 'visible' : 'hidden')
                    .css('display', $(this).prop('checked') ? 'block' : 'none');
            });
        }
    {% endifequal %}
});
</script>
