{% load astrobin_apps_premium_tags %}
{% load astrobin_apps_users_tags %}
{% load common_tags %}
{% load dfp_tags %}
{% load tags %}

{% load i18n %}

<div class="profile-meta hidden-phone">
    {% astrobin_user requested_user view='default'%}

    {% if PREMIUM_ENABLED and requested_user == request.user %}
    <div class="subtle-container">
        <div class="header">
            <h4>{% trans "Subscription" %}</h4>
        </div>
        <p>
            {% trans "Type" %}<br/>
            <strong data-test="subscription-type">
                {% if requested_user|is_free %}AstroBin Free{% endif %}
                {% if requested_user|is_any_lite %}AstroBin Lite{% endif %}
                {% if requested_user|is_any_premium %}AstroBin Premium{% endif %}
                {% if requested_user|is_any_ultimate %}AstroBin Ultimate{% endif %}
            </strong>
        </p>

        {% if not requested_user|is_free %}
        <p>
            {% trans "Expiration date" %}<br/>
            <strong data-test="expiration-date">
                {% with expiration=requested_user|get_premium_subscription_expiration %}
                    {{expiration|date:"SHORT_DATE_FORMAT"}}
                {% endwith %}
            </strong>
        </p>
        {% endif %}

        <p>
            {% trans "Images used" %}<br/>
            <strong data-test="images-used">
                {{requested_user.userprofile.premium_counter}} /
                {% if requested_user|is_free %}{{PREMIUM_MAX_IMAGES_FREE_2020}}{% endif %}
                {% if requested_user|is_lite %}{{PREMIUM_MAX_IMAGES_LITE}}{% endif %}
                {% if requested_user|is_lite_2020 %}{{PREMIUM_MAX_IMAGES_LITE_2020}}{% endif %}
                {% if requested_user|is_premium_2020 %}&infin;{% endif %}
                {% if requested_user|is_premium %}&infin;{% endif %}
                {% if requested_user|is_ultimate_2020 %}&infin;{% endif %}
            </strong>
        </p>

        {% if requested_user|is_any_premium_subscription %}
        <p class="small"><em>{% trans "Thanks for your support!" %}</em></p>
        {% endif %}
    </div>
    {% endif %}

    {% if menu %}
        <ul class="nav nav-tabs nav-stacked">
            {% for item in menu %}
                <li{% if item.0 == active %} class="active"{% endif %}>
                    <a href="{% url 'user_page' requested_user.username %}{% query_string "active=item.0" "" %}">
                        {{item.1}}
                        <i class="icon-chevron-right"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if request.user|show_ads and not image.user|is_any_ultimate %}
        <div class="subtle-container simple-container advertisement hidden-phone hidden-tablet">
            <div class="header">
                <h4><i class="icon-bullhorn"></i></h4>

                {% if request.user|can_remove_ads %}
                    <a class="remove" data-toggle="modal" href="#remove-ads-modal">
                        <i class="icon-remove"></i>
                    </a>
                {% endif %}
            </div>

            {% dfp_tag '47890729/user-page' 220 600 brands='' %}
        </div>
    {% endif %}

    {% if stats %}
    <div class="subtle-container stats">
        <div class="header">
            <h4>
                {% trans "Stats" %}
            </h4>
        </div>

        {% for i in stats %}
            {% if i.1 %}
                <p>
                    {{i.0}}<br/>
                    <strong>{{i.1}}</strong>
                </p>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div><!-- ./profile-meta -->
