{% load astrobin_apps_premium_tags %}
{% load astrobin_apps_users_tags %}
{% load common_tags %}
{% load tags %}
{% load i18n %}


{% with ad_container_classes='visible-phone' %}
    {% include 'ads/wide_ad.html' %}
{% endwith %}

<style>
    @media screen and (max-width: 767px) {
        .mobile-header-background {
            background-image: url('{{ mobile_header_background }}');
        }
    }
</style>

<div class="profile-meta{% if mobile_header_background %} mobile-header-background{% endif %}">
    {% astrobin_user requested_user view='default'%}

    {% with ad_container_classes='hidden-phone' %}
        {% include 'ads/rectangular_ad.html' %}
    {% endwith %}

    {% if PREMIUM_ENABLED and requested_user == request.user or request.user.is_superuser%}
        <div class="subtle-container hidden-phone">
            <div class="header">
                <h4>{% trans "Subscription" %}</h4>
            </div>
            <p>
                {% trans "Type" %}<br/>
                <strong data-test="subscription-type">
                    {% if requested_user|is_free %}AstroBin Free{% endif %}
                    {% if requested_user|is_any_lite %}AstroBin Lite{% endif %}
                    {% if requested_user|is_any_premium %}AstroBin Premium{% endif %}
                    {% if requested_user|is_any_ultimate %}AstroBin Ultimate{% endif %}
                </strong>
            </p>

            {% if not requested_user|is_free %}
            <p>
                {% trans "Expiration date" %}<br/>
                <strong data-test="expiration-date">
                    {% with expiration=requested_user|get_premium_subscription_expiration %}
                        {{expiration|date:"SHORT_DATE_FORMAT"}}
                    {% endwith %}
                </strong>
            </p>
            {% endif %}

            {% if requested_user|show_images_used %}
                <p>
                    {% trans "Images used" %}<br />
                    <strong data-test="images-used">
                        {# Lite 2020 is the only account with a limit on total images #}
                        {{ requested_user.userprofile.premium_counter }} / {{ PREMIUM_MAX_IMAGES_LITE_2020 }}
                    </strong>
                </p>
            {% endif %}

            {% if requested_user|show_uploads_used %}
                <p>
                    {% trans "Images used" %}<br />
                    <strong data-test="uploads-used">
                        {# Free and old Lite are the only accounts with a limit on upload count #}
                        {{ requested_user.userprofile.premium_counter }} /
                        {% if requested_user|is_free %}{{ PREMIUM_MAX_IMAGES_FREE_2020 }}{% endif %}
                        {% if requested_user|is_lite %}{{ PREMIUM_MAX_IMAGES_LITE }}{% endif %}
                    </strong>
                </p>
            {% endif %}

            {% if requested_user|is_any_premium_subscription %}
                <p class="small">
                    <em>{% trans "Thanks for your support!" %}</em>
                </p>
            {% endif %}

            {% if request.user == requested_user %} {# superuser doesn't need to see these #}
                <hr/>

                <div class="btn-group btn-group-vertical btn-block">
                    <a href="{% app_redirection_service request '/subscriptions/view' %}" class="btn">
                        {% trans "Your subscriptions" %}
                    </a>
                    <a href="{% app_redirection_service request '/subscriptions/payments' %}" class="btn">
                        {% trans "Your payments" %}
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="subtle-container stats hidden-phone">
        <div class="header">
            <h4>
                {% trans "Stats" %}
            </h4>
        </div>

        {% for i in stats %}
            {% if i.1 %}
                <p>
                    {{i.0}}<br/>
                    <strong>{{i.1}}</strong>
                </p>
            {% endif %}
        {% empty %}
            <p>
                {% blocktrans trimmed %}
                    This data is currently not available and will be recalculated shortly.
                {% endblocktrans %}

                {% blocktrans trimmed %}
                    Please check again in a bit, thanks!
                {% endblocktrans %}
            </p>
        {% endfor %}
    </div>
</div><!-- ./profile-meta -->


