{% load astrobin_apps_premium_tags %}
{% load astrobin_apps_users_tags %}
{% load common_tags %}
{% load tags %}
{% load i18n %}


{% with ad_container_classes='visible-phone' %}
    {% include 'ads/wide_ad.html' %}
{% endwith %}

<style>
    @media screen and (max-width: 767px) {
        .mobile-header-background {
            background-image: url('{{ mobile_header_background }}');
        }
    }
</style>

<div class="profile-meta{% if mobile_header_background %} mobile-header-background{% endif %}">
    {% setvar requested_user|get_valid_usersubscription as requested_user_valid_usersubscription %}
    {% astrobin_user requested_user view='default'%}

    {% if requested_user.userprofile.about %}
        <div class="subtle-container about">
            <div class="header">
                <h4>
                    {% trans "About" %}
                    {% if requested_user == request.user %}
                        <div class="actions">
                            <a href="{% url 'profile_edit_basic' %}">
                                <i class="icon-pencil"></i>
                            </a>
                        </div>
                    {% endif %}
                </h4>
            </div>

            <div class="about-content">
                {{ requested_user.userprofile.about|strip_html|safe|linebreaks|truncatechars_html:250 }}

                {% if requested_user.userprofile.about|length > 250 or requested_user.userprofile.job or requested_user.userprofile.hobbies or requested_user.userprofile.website %}
                    <a class="read-more" href="#profile-about-modal" data-toggle="modal">
                        {% trans "(read more)" %}
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        {% if requested_user == request.user %}
            <a class="add-about-section" href="{% url 'profile_edit_basic' %}">
                <i class="icon-plus-sign"></i>
                {% trans "Add about section" %}
            </a>
        {% endif %}
    {% endif %}

    {% with ad_container_classes='hidden-phone' %}
        {% with None|ad_key_value_pairs:request.user as key_value_pairs %}
            {% include 'ads/rectangular_ad.html' %}
        {% endwith %}
    {% endwith %}

    <div class="user-marketplace-container"></div>

    {% if PREMIUM_ENABLED and requested_user == request.user or request.user.is_superuser%}
        <div class="subtle-container hidden-phone">
            <div class="header">
                <h4>{% trans "Subscription" %}</h4>
            </div>
            <p>
                {% trans "Type" %}<br/>
                <strong data-test="subscription-type">
                    {% if requested_user_valid_usersubscription|is_free %}AstroBin Free{% endif %}
                    {% if requested_user_valid_usersubscription|is_any_lite %}AstroBin Lite{% endif %}
                    {% if requested_user_valid_usersubscription|is_any_premium %}AstroBin Premium{% endif %}
                    {% if requested_user_valid_usersubscription|is_any_ultimate %}AstroBin Ultimate{% endif %}
                </strong>
            </p>

            {% if not requested_user_valid_usersubscription|is_free %}
            <p>
                {% trans "Expiration date" %}<br/>
                <strong data-test="expiration-date">
                    {% with expiration=requested_user_valid_usersubscription|get_paid_subscription_expiration %}
                        {% timestamp expiration %}
                    {% endwith %}
                </strong>
            </p>
            {% endif %}

            {% if requested_user_valid_usersubscription|show_images_used %}
                <p>
                    {% trans "Images used" %}<br />
                    <strong data-test="images-used">
                        {# Lite 2020 is the only account with a limit on total images #}
                        {{ requested_user.userprofile.premium_counter }} / {{ PREMIUM_MAX_IMAGES_LITE_2020 }}
                    </strong>
                </p>
            {% endif %}

            {% if requested_user_valid_usersubscription|show_uploads_used %}
                <p>
                    {% trans "Images used" %}<br />
                    <strong data-test="uploads-used">
                        {# Free and old Lite are the only accounts with a limit on upload count #}
                        {{ requested_user.userprofile.premium_counter }} /
                        {% if requested_user_valid_usersubscription|is_free %}{{ PREMIUM_MAX_IMAGES_FREE_2020 }}{% endif %}
                        {% if requested_user_valid_usersubscription|is_lite %}{{ PREMIUM_MAX_IMAGES_LITE }}{% endif %}
                    </strong>
                </p>
            {% endif %}

            {% if requested_user_valid_usersubscription|is_any_paid_subscription %}
                <p class="small">
                    <em>{% trans "Thanks for your support!" %}</em>
                </p>
            {% endif %}

            {% if request.user == requested_user %} {# superuser doesn't need to see these #}
                <hr/>

                <div class="btn-group btn-group-vertical btn-block">
                    <a href="{% app_redirection_service '/subscriptions/view' %}" class="btn">
                        {% trans "Your subscriptions" %}
                    </a>
                    <a href="{% app_redirection_service '/subscriptions/payments' %}" class="btn">
                        {% trans "Your payments" %}
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="subtle-container stats hidden-phone">
        <div class="header">
            <h4>
                {% trans "Stats" %}

                <div
                        class="info"
                        rel="tooltip"
                        title="
                            {{ _('The <strong>Last seen online</strong> field is updated hourly.') | force_escape }}
                            {% if request.user == requested_user %}
                                <br/>
                               {{ _('To change the visibility of these fields, edit your privacy settings.') }}
                            {% endif %}"
                        data-container="body"
                        data-html="true"
                        data-placement="bottom">
                    <i class="icon-info-sign"></i>
                </div>
            </h4>
        </div>

        {% for i in stats %}
            {% if i.1 != None %}
                <p>
                    {{i.0}}<br/>
                    <strong>
                        {% if i.2 and i.2 == 'datetime' %}
                            {% timestamp i.1 %}
                        {% else %}
                            {{i.1}}
                        {% endif %}
                    </strong>
                </p>
            {% endif %}
        {% empty %}
            <p>
                {% blocktrans trimmed %}
                    This data is currently not available and will be recalculated shortly.
                {% endblocktrans %}

                {% blocktrans trimmed %}
                    Please check again in a bit, thanks!
                {% endblocktrans %}
            </p>
        {% endfor %}
    </div>
</div><!-- ./profile-meta -->


