{% load i18n %}
{% load common_tags %}
{% load tags %}
{% load astrobin_apps_premium_tags %}

<div class="subnav subnav-fixed">
    <ul class="nav nav-pills">

        {% if request.user.is_superuser %}
            <li class="dropdown hidden-phone">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-legal icon-white"></i>
                    <span class="hidden-phone">{% trans "Admin" %}</span>
                    <span class="caret hidden-phone"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'user_ban' requested_user.username %}">
                            <i class="icon-ban-circle"></i>
                            {% trans "Ban user" %}
                        </a>
                    </li>
                 </ul>
             </li> <!-- admin -->
        {% endif %}

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-eye-open icon-white"></i>
                <span class="hidden-phone">{% trans "View" %}</span>
                {% if corrupted_no > 0 and request.user == requested_user %}
                    <i class="icon-warning-sign hidden-phone"></i>
                {% endif %}
                <span class="caret hidden-phone"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="nav-header">{% trans "Gallery" %}</li>

                <li>
                    <a href="{% url 'user_page' requested_user.username %}{% query_string "" "sub,active,staging,corrupted,trash" %}">
                        <i class="icon-bullhorn"></i>
                        {% trans "Public Area" %}
                        <span class="badge badge-success">
                            {{public_images_no}}
                        </span>
                    </a>
                </li>

                {% ifequal requested_user request.user %}
                    <li>
                        <a href="{% url 'user_page' requested_user.username %}{% query_string "sub=uploaded,staging=" "public,active,corrupted,trash" %}">
                            <i class="icon-lock"></i>
                            {% trans "Staging Area" %}
                            <span class="badge badge-success">
                                {{wip_images_no}}
                            </span>
                        </a>
                    </li>

                    {% if corrupted_no > 0 %}
                        <li>
                            <a href="{% url 'user_page' requested_user.username %}{% query_string "sub=uploaded,corrupted=" "public,active,staging,trash" %}">
                                <i class="icon-ambulance"></i>
                                {% trans "Corrupted" %}
                                <span class="badge badge-important">
                                {{ corrupted_no }}
                            </span>
                            </a>
                        </li>
                    {% endif %}

                    <li>
                        {% if request.user|can_restore_from_trash %}
                            <a href="
                                    {% url 'user_page' requested_user.username %}{% query_string "trash=" "public,active,sub,staging,corrupted" %}">
                        {% else %}
                            <a href="#feature-restricted-modal" data-toggle="modal">
                        {% endif %}
                        <i class="icon-trash"></i>
                        {% trans "Trash" %}
                        <span class="badge badge-success">
                                {{ deleted_images_no }}
                            </span>
                        </a>
                    </li>
                {% endifequal %}

                <li class="divider"></li>

                <li>
                    <a href="{% url 'user_page_bookmarks' requested_user.username %}">
                        <i class="icon-bookmark"></i>
                        {% trans "Bookmarks" %}
                        <span class="badge badge-success">
                            {{bookmarked_no}}
                        </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'user_page_liked' requested_user.username %}">
                        <i class="icon-thumbs-up"></i>
                        {% trans "Liked images" %}
                        <span class="badge badge-success">
                            {{liked_no}}
                        </span>
                    </a>
                </li>

                <li class="divider"></li>

                {% ifequal request.user requested_user %}
                    {% if is_producer or is_retailer %}
                        <li>
                            <a href="{% url 'user_page_commercial_products' request.user.username %}">
                                <i class="icon-barcode"></i>
                                {% trans "Commercial products" %}
                            </a>
                        </li>
                    {% endif %}
                {% endifequal %}

                <li>
                    <a href="{% url 'user_page_plots' requested_user.username %}">
                        <i class="icon-bar-chart"></i>
                        {% trans "Plots" %}
                    </a>
                </li>

                {% ifequal requested_user request.user %}
                <li class="divider"></li>
                <li>
                    <a href="{% url 'user_page_api_keys' requested_user.username %}">
                        <i class="icon-key"></i>
                        {% trans "API Keys" %}
                    </a>
                </li>
                {% endifequal %}

                <li class="divider"></li>
                <li>
                    <a href="{% url 'user_page_following' requested_user.username %}">
                        <i class="icon-eye-open"></i>
                        {% trans "Following" %}
                    </a>

                <li>
                    <a href="{% url 'user_page_followers' requested_user.username %}">
                        <i class="icon-eye-open"></i>
                        {% trans "Followers" %}
                    </a>
                </li>
            </ul>
        </li>

        {% if request.user != requested_user and request.user.is_authenticated %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user icon-white"></i>
                <span class="hidden-phone">{% trans "User" %}</span>
                <span class="caret hidden-phone"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="send-private-message" href="{% url 'messages_compose_to' requested_user.username %}">
                        <i class="icon-envelope"></i>
                        {% trans "Send private message" %}
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}

        <li class="dropdown" style="visibility: {% in_gallery request %}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-sort icon-white"></i>
                <span class="hidden-phone">{% trans "Sort" %}</span>
                <span class="caret hidden-phone"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'user_collections_list' requested_user.username %}">
                    <i class="icon-folder-open-alt"></i>
                    {% trans "Collections" %}</a></li>
                <li><a href="{% url 'user_page' requested_user.username %}{% query_string "public=,sub=title" "staging,active" %}">
                    <i class="icon-sort-by-alphabet"></i>
                    {% trans "Title" %}</a></li>
                <li><a href="{% url 'user_page' requested_user.username %}{% query_string "public=,sub=uploaded" "staging,active" %}">
                    <i class="icon-upload-alt"></i>
                    {% trans "Upload time" %}</a></li>
                <li><a href="{% url 'user_page' requested_user.username %}{% query_string "public=,sub=acquired" "staging,active" %}">
                    <i class="icon-time"></i>
                    {% trans "Acquisition time" %}</a></li>
                <li><a href="{% url 'user_page' requested_user.username %}{% query_string "public=,sub=subject" "staging,active" %}">
                    <i class="icon-tags"></i>
                    {% trans "Subject type" %}</a></li>
                <li><a href="{% url 'user_page' requested_user.username %}{% query_string "public=,sub=year" "staging,active" %}">
                    <i class="icon-calendar"></i>
                    {% trans "Year" %}</a></li>
                <li><a href="{% url 'user_page' requested_user.username %}{% query_string "public=,sub=gear" "staging,active" %}">
                    <i class="icon-cog"></i>
                    {% trans "Gear" %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'user_page' requested_user.username %}{% query_string "public=,sub=nodata" "staging,active" %}">
                    <i class="icon-warning-sign"></i>
                    {% trans "Lacking data" %}</a></li>
            </ul>
        </li>

        {% if collection and requested_user == request.user %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-folder-open"></i>
                    <span class="hidden-phone">{% trans "Collection tools" %}</span>
                    <span class="caret hidden-phone"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'user_collections_add_remove_images' requested_user.username collection.pk %}">
                            <i class="icon-edit"></i>{% trans "Add/remove images" %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'user_collections_update' requested_user.username collection.pk %}?next={{request.path}}">
                            <i class="icon-edit"></i>{% trans "Edit" %}
                        </a>
                    </li>

                    <li>
                        <a class="danger" href="#delete-modal" data-toggle="modal">
                            <i class="icon-trash"></i>{% trans "Delete" %}
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li class="nav-header">
                        {% trans "Quick edit" %}
                    </li>

                    <li>
                        <a href="{% url 'user_collections_quick_edit_key_value_tags' requested_user.username collection.pk %}">
                            <i class="icon-tags"></i>{% trans "Key/value pairs" %}
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}

        <li class="pull-right">
            {% ifequal request.GET.view 'table' %}
                <a href="{{ request.path }}{% query_string "" "view" %}">
                    <i class="icon-th"></i>
                </a>
            {% else %}
                <a href="{{ request.path }}{% query_string "view=table" "" %}">
                    <i class="icon-list"></i>
                </a>
            {% endifequal %}
        </li>
    </ul>
</div>
