{% load i18n %}
{% load static %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_users_tags %}
{% load common_tags %}


{% if requested_user == request.user and has_recovered_images and section == 'recovered' %}
    <div class="alert alert-info">
        <h4>{% trans "Good news!" %}</h4>

        <p>
            {% blocktrans trimmed with url='https://docs.google.com/document/d/1PzdYQQpR4LueJUMnbyi162xQLAYkr3MiU_7wy4ScdMU/edit?usp=sharing' %}
                Following the <a href="{{ url }}" target="_blank">data loss incident in February 2020</a>, these images
                <strong>were recovered</strong> from a copy kept by our plate-solving partner.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Please click on the images below to make your selection to recover or delete them.
            {% endblocktrans %}
        </p>
    </div>
{% endif %}

{% if image_list %}
    <ul class="astrobin-thumbnails">
        {% for image in image_list %}
            <li class="thumbnail astrobin-thumbnail">
                <span
                    rel="tooltip"
                    title="{{ image.title|escape|default:_("(no title)") }}">
                    {% astrobin_image image 'gallery' link=False tooltip=False %}
                </span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    {% trans "There doesn't seem to be anything here." %}
{% endif %}

<form class="form">
    <div class="form-actions text-right">
        <button
            id="recovery-process-recover-all"
            class="btn btn-link btn-block-mobile">
            {% trans "Recover all" %}
        </button>

        <button id="recovery-process-delete-all" class="btn btn-link btn-block-mobile">
            {% trans "Delete all" %}
        </button>

        <button id="recovery-process-reset" class="btn btn-link btn-block-mobile">
            {% trans "Reset" %}
        </button>

        <button
            id="recovery-process-submit-button"
            class="btn btn-primary btn-block-mobile {% button_loading_class %}"
            disabled="disabled">
            {% trans "Submit selected" %} (<span id="recovery-process-selected-number">0</span>)
            {% button_loading_indicator %}
        </button>
    </div>
</form>
