{% load i18n %}
{% load static %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_users_tags %}
{% load common_tags %}


{% if requested_user == request.user and has_recovered_images and section == 'recovered' %}
    <div class="alert alert-info">
        <h4>{% trans "Good news!" %}</h4>

        <p>
            {% blocktrans trimmed with url='https://docs.google.com/document/d/1PzdYQQpR4LueJUMnbyi162xQLAYkr3MiU_7wy4ScdMU/edit?usp=sharing' %}
                Following the <a href="{{ url }}" target="_blank">data loss incident in February 2020</a>, these images
                <strong>were recovered</strong> from a copy kept by our plate-solving partner.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Please click on the images below to make your selection to recover or delete them.
            {% endblocktrans %}
        </p>
    </div>
{% endif %}

{% if image_list %}
    <div class="recovery-process">
        {% for image in image_list %}
            <div class="row section">
                <div class="span9">
                    <h2>{{ image.title|escape|default:_("(no title)") }}</h2>
                </div>

                <div class="span5">
                    {% astrobin_image image 'story' revision='0' link=False tooltip=False %}
                </div>
                <div class="span4">
                    <dl>
                        <dt>{% trans "Link" %}</dt>
                        <dd>
                            <a href="{% url 'image_detail' image.get_id '0' %}" target="_blank">
                                <i class="icon-link"></i>
                            </a>
                        </dd>

                        <dt>{% trans "Staging area" %}</dt>
                        <dd>
                            {% if image.is_wip %}
                                <i class="icon-ok"></i>
                            {% else %}
                                <i class="icon-remove"></i>
                            {% endif %}
                        </dd>

                        <dt>{% trans "Corrupted" %}</dt>
                        <dd>
                            {% if image.corrupted %}
                                <span class="corrupted-yes">{% trans "Yes" %}</span>
                            {% else %}
                                <span class="corrupted-no">{% trans "No" %}</span>
                            {% endif %}
                        </dd>

                        {% if image.corrupted %}
                            <dt>{% trans "Recovered" %}</dt>
                            <dd>
                                {% if image.recovered %}
                                    <span class="recovered-yes">{% trans "Yes" %}</span>
                                {% else %}
                                    <span class="recovered-no">{% trans "No" %}</span>
                                {% endif %}
                            </dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
            {% if image.revisions.all.count > 0 %}
                {% for revision in image.revisions.all %}
                    <div class="row section">
                        <div class="span2">
                            {% astrobin_image image 'story' revision=revision.label link=False tooltip=False %}
                        </div>
                        <div class="span4">
                            <dl>
                                <dt>{% trans "Revision" %}</dt>
                                <dd>{{ revision.label }}</dd>

                                <dt>{% trans "Link" %}</dt>
                                <dd>
                                    <a href="{% url 'image_detail' image.get_id revision.label %}" target="_blank">
                                        <i class="icon-link"></i>
                                    </a>
                                </dd>

                                <dt>{% trans "Final" %}</dt>
                                <dd>
                                    {% if revision.final %}
                                        <i class="icon-ok"></i>
                                    {% else %}
                                        <i class="icon-remove"></i>
                                    {% endif %}
                                </dd>

                                <dt>{% trans "Corrupted" %}</dt>
                                <dd>
                                    {% if revision.corrupted %}
                                        <span class="corrupted-yes">{% trans "Yes" %}</span>
                                    {% else %}
                                        <span class="corrupted-no">{% trans "No" %}</span>
                                    {% endif %}
                                </dd>

                                {% if revision.corrupted %}
                                    <dt>{% trans "Recovered" %}</dt>
                                    <dd>
                                        {% if revision.recovered %}
                                            <span class="recovered-yes">{% trans "Yes" %}</span>
                                        {% else %}
                                            <span class="recovered-no">{% trans "No" %}</span>
                                        {% endif %}
                                    </dd>
                                {% endif %}
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <hr />
        {% endfor %}
    </div>
{% else %}
    {% trans "There doesn't seem to be anything here." %}
{% endif %}

<form class="form">
    <div class="form-actions text-right">
        <button
            id="recovery-process-recover-all"
            class="btn btn-link btn-block-mobile">
            {% trans "Recover all" %}
        </button>

        <button id="recovery-process-delete-all" class="btn btn-link btn-block-mobile">
            {% trans "Delete all" %}
        </button>

        <button id="recovery-process-reset" class="btn btn-link btn-block-mobile">
            {% trans "Reset" %}
        </button>

        <button
            id="recovery-process-submit-button"
            class="btn btn-primary btn-block-mobile {% button_loading_class %}"
            disabled="disabled">
            {% trans "Submit selected" %} (<span id="recovery-process-selected-number">0</span>)
            {% button_loading_indicator %}
        </button>
    </div>
</form>
