{% load i18n %}
{% load static %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_users_tags %}
{% load common_tags %}

<h3>{% trans "Trash"%}</h3>

{% if image_list %}
    <ul class="astrobin-thumbnails">
        {% for image in image_list %}
            <li
                    class="thumbnail astrobin-thumbnail trash-thumbnail"
                    data-pk="{{ image.pk }}"
                    data-restore="false">

                <a href="#" rel="tooltip"
                   title="{{ image.title|escape|default:_("(no title)") }}, {% astrobin_username image.user link=False %}">
                    {% astrobin_image image 'gallery' link=False tooltip=False %}

                    <div class="restore-thumbnail-overlay hide">
                        <i class="icon-rotate-left"></i>
                    </div>
                </a>

            </li>
        {% endfor %}
</ul>
{% else %}
    {% trans "There doesn't seem to be anything here." %}
{% endif %}

<form class="form">
    <div class="form-actions">
        <button id="restore-from-trash" class="btn btn-primary btn-block-mobile {% button_loading_class %}" disabled="disabled">
            <i class="icon-refresh"></i>
            {% trans "Restore selected" %} (<span id="restore-from-trash-number">0</span>)
            {% button_loading_indicator %}
        </button>

        <button id="empty-trash" class="btn btn-danger btn-block-mobile {% button_loading_class %}"
            {% if image_list|length == 0 %}
                disabled="disabled"
            {% endif %}
        >
            <i class="icon-warning-sign"></i>
            {% trans "Empty trash" %}
            {% button_loading_indicator %}
        </button>
    </div>
</form>

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.image-slideshow-button').remove();
        });
    </script>
{% endblock %}
