{% extends 'base.html' %}
{% load i18n %}
{% load tags %}

{% block content %}
    {% include 'image/edit/menu.html' %}   
    <div class="sided-main-content">
    <h1>{% trans "Edit your image: acquisition details" %}</h1>
    {% if edit_type == 'solar_system' %}
        <form id="image_acquisition" action="/edit/save/acquisition/" method="post">{% csrf_token %}
            <p class="solar_system_field">
                <label for="frames">{% trans "Number of frames" %}:</label>
                <input type="text"
                       class="validate[optional,custom[onlyNumber]]"
                       id="frames"
                       name="frames"
                       value="{% if solar_system_acquisition.frames %}{{solar_system_acquisition.frames}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="fps">{% trans "FPS" %}:</label>
                <input type="text"
                       class="validate[optional,custom[onlyNumber]]"
                       id="fps"
                       name="fps"
                       value="{% if solar_system_acquisition.fps %}{{solar_system_acquisition.fps}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="focal_length">{% trans "Focal length" %}:</label>
                <input type="text"
                       class="validate[optional,custom[onlyNumber]]"
                       id="focal_length"
                       name="focal_length",
                       value="{% if solar_system_acquisition.focal_length %}{{solar_system_acquisition.focal_length}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="cmi">{% trans "CMI" %}:</label>
                <input type="text"
                       class="validate[optional,custom[number]]"
                       id="cmi"
                       name="cmi",
                       value="{% if solar_system_acquisition.cmi %}{{solar_system_acquisition.cmi}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="cmii">{% trans "CMII" %}:</label>
                <input type="text"
                       class="validate[optional,custom[number]]"
                       id="cmii"
                       name="cmii",
                       value="{% if solar_system_acquisition.cmii %}{{solar_system_acquisition.cmii}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="cmiii">{% trans "CMIII" %}:</label>
                <input type="text"
                       class="validate[optional,custom[number]]"
                       id="cmiii"
                       name="cmiii",
                       value="{% if solar_system_acquisition.cmiii %}{{solar_system_acquisition.cmiii}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="seeing">{% trans "Seeing (0-5)" %}:</label>
                <input type="text"
                       class="validate[optional,custom[onlyNumber]]"
                       id="seeing"
                       name="seeing",
                       value="{% if solar_system_acquisition.seeing %}{{solar_system_acquisition.seeing}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="transparency">{% trans "Transparency (0-10)" %}:</label>
                <input type="text"
                       class="validate[optional,custom[onlyNumber]]"
                       id="transparency"
                       name="transparency",
                       value="{% if solar_system_acquisition.transparency %}{{solar_system_acquisition.transparency}}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="date">{% trans "Date" %}:</label>
                <input type="text"
                       class="date datepickerclass validate[optional,date]"
                       id="date"
                       name="date",
                       value="{% if solar_system_acquisition.date %}{{solar_system_acquisition.date|date:'Y-m-d'}}{% else %}{% trans "yyyy-mm-dd" %}{% endif %}"/>
            </p>
            <p class="solar_system_field">
                <label for="time">{% trans "Universal time" %}:</label>
                <input type="text"
                       class="date timepickerclass validate[optional]"
                       id="time"
                       name="time",
                       value="{% if solar_system_acquisition.time %}{{solar_system_acquisition.time}}{% else %}{% trans "hh:mm" %}{% endif %}"/>
            </p>
            <input type="hidden" name="image_id" value="{{image.id}}" />
            <input type="hidden" name="image_type" value="solar_system" />
            <ul style="clear:both">
                <li><input class="button submit-button" type="submit" value="{% trans "Save" %} &rarr;" /></li>
                <li><a class="button dangerous-button inline-button" href="{% url views.image_edit_acquisition_reset image.id %}">{% trans "Remove data" %}</a></li>
                <li><a href="{{image.get_absolute_url}}/">{% trans "Return to image" %}</a></li>
            </ul>
        </form>
    {% else %}
    {% if edit_type == 'deep_sky' %}
        <form id="image_acquisition" action="/edit/save/acquisition/" method="post">{% csrf_token %}
        {% for a in deep_sky_acquisitions %}
            <ul class="inline">
                <li>
                    <p>
                        <label for="{{a.acquisition_type}}_{{forloop.counter0}}_number">{% acquisition_label a.acquisition_type %} ({% trans "num" %})</label>
                        <input type="text" name="{{a.acquisition_type}}_{{forloop.counter0}}_number" id="{{a.acquisition_type}}_{{forloop.counter0}}_number"
                               class="frame validate[custom[onlyNuber]]" max_length="4" size="4"
                               value="{% if a.number != None %}{{a.number}}{% endif %}"/>
                    </p>
                </li>
                {% if a.acquisition_type == '0l' or a.acquisition_type == '1r' or a.acquisition_type == '2g' or a.acquisition_type == '3b' %}
                <li>
                    <p>
                        <label class="notfirst" for="{{a.acquisition_type}}_{{forloop.counter0}}_duration">{% trans "x secs" %}</label>
                        <input type="text" name="{{a.acquisition_type}}_{{forloop.counter0}}_duration" id="{{a.acquisition_type}}_{{forloop.counter0}}_duration"
                               class="frame validate[custom[onlyNumber]]" max_lenght="4"  size="4"
                               value="{% if a.duration != None %}{{a.duration}}{% endif %}"/>
                    </p>
                </li>
                <li>
                    <p>
                        <label class="notfirst" for="{{a.acquisition_type}}_{{forloop.counter0}}_iso">{% trans "ISO" %}</label>
                        <input type="text" name="{{a.acquisition_type}}_{{forloop.counter0}}_iso" id="{{a.acquisition_type}}_{{forloop.counter0}}_iso"
                               class="frame validate[custom[onlyNumber]]" max_lenght="4"  size="4"
                               value="{% if a.iso != None %}{{a.iso}}{% endif %}"/>
                    </p>
                </li>
                <li>
                    <p>
                        <label class="notfirst" for="{{a.acquisition_type}}_{{forloop.counter0}}_date">{% trans "Date" %}</label>
                        <input type="text" name="{{a.acquisition_type}}_{{forloop.counter0}}_date" id="{{a.acquisition_type}}_{{forloop.counter0}}_date"
                               class="date datepickerclass validate[custom[onlyNumber]]"
                               value="{% if a.date %}{{a.date|date:'Y-m-d'}}{% else %}{% trans "yyyy-mm-dd" %}{% endif %}"/>
                    </p>
                </li>
                {% endif %}
            </ul>
        {% endfor %}
            <input type="hidden" name="image_id" value="{{image.id}}" />
            <input type="hidden" name="image_type" value="deep_sky" />
            <ul style="clear:both">
                <li><input class="button submit-button" type="submit" value="{% trans "Save" %} &rarr;" /></li>
                <li><a class="button dangerous-button inline-button" href="{% url views.image_edit_acquisition_reset image.id %}">{% trans "Remove data" %}</a></li>
                <li><a href="{{image.get_absolute_url}}/">{% trans "Return to image" %}</a></li>
            </ul>
        </form>

    {% else %}
        <p>{% trans "What kind of image is this?" %}</p>
        <div class="simple-choice">
            <a class="button" href="{% url views.image_edit_acquisition image.id %}?type=solar_system">
                Solar system
            </a>
            <a class="button" href="{% url views.image_edit_acquisition image.id %}?type=deep_sky">
                Deep sky
            </a>
        </div>
    {% endif %}
    {% endif %}
{% endblock %}
