{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% include 'image/edit/menu.html' %}
    <div class="sided-main-content">
        <h1>{% trans "Edit your image: gear userd" %}</h1>
        <form method="post" action="/edit/save/gear/">{% csrf_token %}
            {{form.as_p}}
            <input type="hidden" name="image_id" value="{{image.id}}" />
            <ul>
                <li><input class="button submit-button" type="submit" value="{% trans "Save and continue" %} &rarr;" /></li>
                <li><a href="{{image.get_absolute_url}}">{% trans "Return to image" %}</a></li>
            </ul>
        </form>
    </div>  
{% endblock %}

{% block extra_js %}
<script language="javascript">
    $(document).ready(function() {
        var startText = '{% trans "Enter partial name and wait for the suggestions!" %}';
        var emptyText = '{% trans "No results. Press TAB to add it to this image and your gear!" %}';

        {% autoescape off %}
        {% for key, value in prefill_dict.items %}
        $('#id_{{key}}').autoSuggest('/autocomplete_user/{{key}}/',
            {asHtmlID: '{{key}}',
            selectedItemProp: 'name',
            searchObjProps: 'name',
            preFill: {{value}},
            selectedItemProp: 'name',
            selectedValuesProp: 'name',
            startText: startText,
            emptyText: emptyText});
        {% endfor %}
        {% endautoescape %}
    });
</script>
{% endblock %}


