{% extends "zinnia/base.html" %}
{% load i18n comments zinnia_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block meta-description %}{% if object.excerpt %}{{ object.excerpt|striptags }}{% else %}{{ object.content|striptags|truncatewords:100 }}{% endif %}{% endblock %}

{% block meta-keywords %}{% if object.tags %}{{ object.tags }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block link %}
  {{ block.super }}
  {% with object.previous_entry as previous_entry %}{% if previous_entry %}
  <link rel="prev" title="{{ previous_entry.title }}" href="{{ previous_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  {% with object.next_entry as next_entry %}{% if next_entry %}
  <link rel="next" title="{{ next_entry.title }}" href="{{ next_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  {% if object.short_url %}
  <link rel="shortlink" href="{{ object.short_url }}" />
  {% endif %}
  <link rel="canonical" href="{{ object.get_absolute_url }}" />
  {% with object.creation_date|date:"Y" as year %}
  {% with object.creation_date|date:"m" as month %}
  {% with object.creation_date|date:"d" as day %}
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of discussions on" %} '{{ object.title }}'"
        href="{% url zinnia_entry_discussion_feed year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of comments on" %} '{{ object.title }}'"
        href="{% url zinnia_entry_comment_feed year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of pingbacks on" %} '{{ object.title }}'"
        href="{% url zinnia_entry_pingback_feed year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of trackbacks on" %} '{{ object.title }}'"
        href="{% url zinnia_entry_trackback_feed year month day object.slug %}" />
  {% endwith %}
  {% endwith %}
  {% endwith %}
{% endblock %}

{% block content %}
<div id="entry-{{ object.pk }}" class="row">
  <div class="span12">
	{% with object.html_content|safe as object_content %}
	  {% include "zinnia/_entry_detail.html" %}
	{% endwith %}
  </div>
</div>

<div id="comments" class="row">
  <div class="span12">
	<h3>{% trans "Comments" %}</h3>
	{% with object.comments as comment_list %}
	  {% if comment_list.count %}
		<ol id="comment-list" class="span-15 last">
		  {% for comment in comment_list %}
			<li id="comment_{{ comment.pk }}" class="comment vcard {% cycle box1,box2 %}{% if comment.user in object.authors.all %} post-author{% endif %}">
			  <div class="comment-body subtle-container">
				<div class="comment-author">
				  {% if comment.url %}
					<a href="{{ comment.url }}" class="fn url">{{ comment.user_name }}</a>
				  {% else %}
					<strong>{{ comment.user_name }}</strong>
				  {% endif %}
				  {% trans "on" %} <em>{{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}</em>
				</div>
				<cite>
				  {{ comment.comment|linebreaks }}
				</cite>
			  </div>
			</li>
		  {% endfor %}
		</ol>
		{% if not object.comments_are_open %}
		  <p>{% trans "Comments are closed." %}</p>
		{% endif %}
	  {% else %}
		{% if object.comments_are_open %}
		  <p>{% trans "No comments yet." %}</p>
		{% else %}
		  <p>{% trans "Comments are closed." %}</p>
		{% endif %}
	  {% endif %}
	{% endwith %}
  </div>
</div>

{% if object.comments_are_open %}
<div class="row">
    <div class="span12">
	  {% render_comment_form for object %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block admin_tools %}
{% if perms.zinnia.change_entry %}
<li>
  <a href="{% url admin:zinnia_entry_change object.pk %}" title="{% trans "Edit the entry" %}">
    {% trans "Edit the entry" %}
  </a>
</li>
{% endif %}
{% endblock %}
