{% extends 'base.html' %}

{% load i18n tags %}

{% block title %}AstroBin - {{subject.mainId}}{% endblock %}

{% block content %}
    <h1>{{subject.mainId}}</h1>

    <div class="row section">
        <div class="span4">
            <div class="subtle-container">
                <h4>{% trans "Basic information" %}</h4>
                <table class="table">
                    {% if subject.ra %}
                        <tr>
                            <th><strong>{% trans "RA" %}</strong></th>
                            <td>{{subject.ra}}</td>
                        </tr>
                    {% endif %}

                    {% if subject.dec %}
                        <tr>
                            <th><strong>{% trans "Dec" %}</strong></th>
                            <td>{{subject.dec}}</td>
                        </tr>
                    {% endif %}

                    {% if subject.otype or subject.mtype %}
                        <tr>
                            <th><strong>{% trans "Type" %}</strong></th>
                            <td>
                                {% if subject.otype %}{{subject.otype}}{% endif %}
                                {% if subject.mtype %}{{subject.mtype}}{% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if subject.dim_majaxis and subject.dim_minaxis %}
                        <tr>
                            <th><strong>{% trans "Size" %}</strong></th>
                            <td>{{subject.dim_majaxis}}&times;{{subject.dim_minaxis}}'</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>

        <div class="span4">
            <div class="subtle-container">
                <h4>{% trans "Interesting links" %}</h4>
                <ul>
                    <li>
                        <a href="http://simbad.u-strasbg.fr/simbad/sim-basic?Ident={{subject.mainId}}" target="_blank">
                            {% trans "SIMBAD page" %}
                        </a>
                    </li>
                    <li>
                        <a href="http://simbad.u-strasbg.fr/simbad/sim-plot?target=_BLANK&ident={{subject.mainId}}" target="_blank">
                            {% trans "SIMBAD clickable map" %}
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-mini btn-primary" href="/search/?q={{subject.mainId}}{% search_form_query %}">{% trans "Find images" %}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="span4">
            <div class="subtle-container">
                <h4>{% trans "Stats" %}</h4>
                <table class="table">
                    <tr>
                        <th>{% trans "Total images" %}</th>
                        <td>{{total_images}}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Total integration" %}</th>
                        <td>{{total_integration}} {% trans "hours" %}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row section">
        <div class="span12">
            <div class="well"><strong>{% trans "Some images" %}</strong></div>
            {% image_list request examples 0 %}
        </div>
    </div>

    <div class="well"><strong>{% trans "Integration hours, monthly" %}</strong></div>
    <div id="stats_integration_monthly" class="plot" style="width:940px; height: 200px;">
        <div class="loading">
            <p>{% trans "Please wait: the plot is loading..." %}</p>
            <img alt="{% trans "Loading..." %}" src="/static/images/ajax-loader.gif" />
        </div>
    </div>

    <div class="well"><strong>{% trans "Uploaded images, monthly" %}</strong></div>
    <div id="stats_images_monthly" class="plot" style="width:940px; height: 200px;">
        <div class="loading">
            <p>{% trans "Please wait: the plot is loading..." %}</p>
            <img alt="{% trans "Loading..." %}" src="/static/images/ajax-loader.gif" />
        </div>
    </div>

    <div class="well"><strong>{% trans "Total images" %}</strong></div>
    <div id="stats_total_images" class="plot" style="width:940px; height: 200px;">
        <div class="loading">
            <p>{% trans "Please wait: the plot is loading..." %}</p>
            <img alt="{% trans "Loading..." %}" src="/static/images/ajax-loader.gif" />
        </div>
    </div>

    <div class="row plot-container">
        <div class="span6">
            <div class="well"><strong>{% trans "Camera types" %}</strong></div>
            <div class="row">
                <div class="span3">
                    <div id="stats_camera_types" class="plot" style="width:200px; height: 200px;">
                        <div class="loading">
                            <p>{% trans "Please wait: the plot is loading..." %}</p>
                            <img alt="{% trans "Loading..." %}" src="/static/images/ajax-loader.gif" />
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div id="stats_camera_types_legend" class="legend"></div>
                    <div id="stats_camera_types_hover"></div>
                </div>
            </div>
        </div>

        <div class="span6">
            <div class="well"><strong>{% trans "Telescope types" %}</strong></div>
            <div class="row">
                <div class="span3">
                    <div id="stats_telescope_types" class="plot" style="width:200px; height: 200px;">
                        <div class="loading">
                            <p>{% trans "Please wait: the plot is loading..." %}</p>
                            <img alt="{% trans "Loading..." %}" src="/static/images/ajax-loader.gif" />
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div id="stats_telescope_types_legend" class="legend"></div>
                    <div id="stats_telescope_types_hover"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    stats.init();
    stats.plot(
        '#stats_images_monthly',
        "{% url stats_subject_images_monthly subject.id %}",
        5000);
    stats.enableTooltips("#stats_images_monthly");

    stats.plot(
        '#stats_integration_monthly',
        "{% url stats_subject_integration_monthly subject.id %}",
        5000);
    stats.enableTooltips("#stats_integration_monthly");

    stats.plot(
        '#stats_total_images',
        "{% url stats_subject_total_images subject.id %}",
        5000);
    stats.enableTooltips("#stats_total_images");

    stats.plot_pie(
        '#stats_camera_types',
        "{% url stats_subject_camera_types subject.id %}",
        5000);
    $('#stats_camera_types').bind('plothover', function(event, pos, obj) {
        if (!obj) return;
        percent = parseFloat(obj.series.percent).toFixed(2);
        $('#stats_camera_types_hover').html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
    });

    stats.plot_pie(
        '#stats_telescope_types',
        "{% url stats_subject_telescope_types subject.id %}",
        5000);
    $('#stats_telescope_types').bind('plothover', function(event, pos, obj) {
        if (!obj) return;
        percent = parseFloat(obj.series.percent).toFixed(2);
        $('#stats_telescope_types_hover').html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
    });
});
</script>
{% endblock %}

