{% load i18n %}
{% load tags %}
{% load common_tags %}
{% load hitcount_tags %}


{% ifequal view "list" %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "User" %}</th>
                <th>{% trans "Title" %}</th>
                <th><i class="icon-calendar"></i></th>
                <th><i class="icon-eye-open"></i></th>
                <th><i class="icon-star"></i></th>
                <th><i class="icon-heart"></i></th>
                <th><i class="icon-comments-alt"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for image in image_list %}
                <tr>
                    <td>
                        <a href="{% url user_page image.user %} ">{{image.get_author_profile}}</a>
                    </td>

                    <td>
                        <a href="{% get_image_url image %} ">{{image.title}}</a>
                    </td>
                    <td>{{image.uploaded|date:"SHORT_DATE_FORMAT"}}</td>
                    <td>{% get_hit_count for image %}</td>
                    <td>
                        {% if image.get_author_profile.optout_rating %}
                            {% trans "n/a" %}
                        {% else %}
                            {% if image.allow_rating %}
                                {{image.astrobinIndex|floatformat:"3"}}
                            {% else %}
                                {% trans "n/a" %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{image.favoritesNumber}}</td>
                    <td>{{image.commentsNumber}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <ul class="thumbnails astrobin-thumbnails">
        {% include 'inclusion_tags/image_list_entries.html' %}

        <script src="{{STATIC_URL}}common/js/jquery-1.8.3.js"></script>
        <script src="{{STATIC_URL}}endless_pagination/js/endless-pagination.js"></script>
        <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 300,
                onCompleted: function(context, fragment) {
                    window.loadThumbnails(fragment);
                }
            });
        </script>
    </ul>
{% endifequal %}

