{% load astrobin_apps_images_tags %}
{% load common_tags %}
{% load hitcount_tags %}
{% load i18n %}


{% ifequal view "list" %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "User" %}</th>
                <th>{% trans "Title" %}</th>
                <th><i class="icon-calendar"></i></th>
                <th><i class="icon-eye-open"></i></th>
                <th><i class="icon-thumbs-up"></i></th>
                <th><i class="icon-bookmark"></i></th>
                <th><i class="icon-comments-alt"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for image in image_list %}
                <tr>
                    <td>
                        <a href="{% url 'user_page' image.user %} ">{{image.user.userprofile}}</a>
                    </td>

                    <td>
                        <a href="{% get_image_url image %} ">{{image.title}}</a>
                    </td>
                    <td>{{image.uploaded|date:"SHORT_DATE_FORMAT"}}</td>
                    <td>{% get_hit_count for image %}</td>
                    <td>{{image.likes}}</td>
                    <td>{{image.bookmarks}}</td>
                    <td>{{image.commentsNumber}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <ul class="thumbnails astrobin-thumbnails">
        {% include 'inclusion_tags/image_list_entries.html' %}
        {% include 'snippets/endless_pagination_js.html' %}
    </ul>
{% endifequal %}

