{% load i18n %}
{% load tags %}
{% load common_tags %}

<ul class="thumbnails astrobin-thumbnails">
{% for object in object_list %}
    {% random_id %}
    <li class="thumbnail astrobin-thumbnail">
        <a href="{% url image_detail object.image.id %}">
            <img src="{{IMAGES_URL}}{% get_final_filename object.image %}_thumb.png"
                 class="capty-fixed"
                 id="#capty-content-{{object.image.id}}-{{randomid}}"
                 alt="{{object.image.title|default:_("(no title)")}}"
                 width="{{thumbnail_size}}" height="{{thumbnail_size}}" />
        </a>
        <div class="capty-content" id="capty-content-{{object.image.id}}-{{randomid}}">
            M {{object.messier_number}}
            <br/>
            {% trans "by" %}
            <a href="{% url user_page object.image.user %}">{{object.image.user.userprofile}}</a>
        </div>
    </li>
{% empty %}
    <li>{% trans "No images" %}.</li>
{% endfor %}
</ul>

{% if paginate %}
    {% include 'pagination.html' %}
{% endif %}
