{% load i18n %}
{% load tags %}

<ul class="thumbnails astrobin-thumbnails">
{% for object in object_list %}
    {% random_id %}
    {% if object.image.is_stored %}
    <li class="thumbnail astrobin-thumbnail">
        <a href="{% url image_detail object.image.id %}">
            <img src="{% if object.image.is_stored %}http://astrobin_images.{{s3_url}}/{{object.image.filename}}_thumb.png{% else %}/static/icons/iconic/orange/waiting_thumbnail.png{% endif %}"
                 class="capty-fixed"
                 id="#capty-content-{{object.image.id}}-{{randomid}}"
                 alt="{{object.image.title|default:_("(no title)")}}"
                 width="{{thumbnail_size}}" height="{{thumbnail_size}}" />
        </a>
        <div class="capty-content" id="capty-content-{{object.image.id}}-{{randomid}}">
            M {{object.messier_number}}
            <br/>
            {% with object.image.user.username|truncatechars:24 as user %}
            {% url user_page user as user_page %}
            {% blocktrans %} by <a href="{{user_page}}">{{user}}</a>{% endblocktrans %}
            {% endwith %}
        </div>
    </li>
    {% endif %}
{% empty %}
    <li>{% trans "No images" %}.</li>
{% endfor %}
</ul>

{% if paginate %}
    {% include 'pagination.html' %}
{% endif %}
