{% load i18n %}

<ul id="message-feed">
{% for m in messages %}
    <li {% if not m.read %}class="unread"{% endif %}{% if forloop.last %}class="last"{% endif %}>
            <div class="message-link">
            <a href="{% url message_detail m.id %}">
                {% autoescape off %}<strong>{{m.from_user}}</strong>: "{{m.subject|escape}}"{% endautoescape %}
            </a>
        </div>
    </li>
{% empty %}
    <li id="empty">
        {% trans "You have no messages." %}</a>
    </li>
{% endfor %}
{% if messages and show_footer %}
    <li class="footer">
        <div class="message-link">
            <a href="{% url messages_all %}">{% trans "Show all messages" %}</a>
        </div>
    </li>
{% endif %}
</ul>
