{% load i18n %}

{% if unseen or seen %}
    {% for n in unseen %}
    <li class="unread">
        {% autoescape off %}{{n.message}}{% endautoescape %}
    </li>
    {% endfor %}

    {% if seen %}
        {% if unseen %}
            <li class="divider"></li>
        {% endif %}
        {% for n in seen %}
        <li>{% autoescape off %}{{n.message}}{% endautoescape %}</li>
        {% endfor %}
    {% endif %}

    {% if show_footer %}
    <li class="divider"></li>
    <li>
        <a href="{% url notifications %}">{% trans "Show all notifications" %}</a>
    </li>
    {% endif %}
{% else %}
    <li><a href="#">{% trans "You have no new notifications." %}</a></li>
{% endif %}
