{% load i18n %}
{% load tags %}

<ul class="thumbnails astrobin-thumbnails">
{% for i in images.object_list %}
    <li class="thumbnail astrobin-thumbnail">
        <a href="{{i.object.get_absolute_url}}{% query_string "related=related_type" "r, mod, plate_solving_started" %}" title="{{i.object.title}}">
            <img src="{% if i.object.is_stored %}http://{{s3_url}}/astrobin_images/{{i.object.filename}}_small_thumb{{i.object.original_ext}}{% else %}{{STATIC_URL}}icons/iconic/orange/waiting_thumbnail_small.png{% endif %}" alt="{{i.object.title|escape}}" width="{{small_thumbnail_size}}" height="{{small_thumbnail_size}}"/>
        </a>
    </li>
{% endfor %}
</ul>
<ul class="pager">
    {% if images.has_previous %}
        <li>
            <a href="{% query_string "p=images.previous_page_number" "" %}">&laquo; {% trans "newer" %}</a>
        </li>
    {% endif %}
    {% if images.has_next %}
        <li>
            <a href="{% query_string "p=images.next_page_number" "" %}">{% trans "older" %} &raquo;</a>
        </li>
    {% endif %}
</ul>
