{% load astrobin_apps_equipment_tags %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_premium_tags %}
{% load astrobin_apps_users_tags %}
{% load highlight %}
{% load i18n %}
{% load avatar_tags %}
{% load common_tags %}
{% load tags %}
{% load bbcode_tags %}

{% if paginator.object_list %}

    {% if search_domain == None or search_domain|startswith:'i' %}
        {% with request.user|get_valid_usersubscription as request_user_valid_usersubscription %}
            {% if request_user_valid_usersubscription|allow_full_retailer_integration:None %}
                {% if equipment_item_listings or equipment_brand_listings %}
                    <div class="equipment-listing-search-result alert alert-info">
                        <a class="close" data-toggle="modal" title="{% trans "Remove ads" %}"
                                {% if valid_usersubscription|can_remove_ads %}
                           href="#remove-ads-modal"
                                {% else %}
                           href="#feature-restricted-modal"
                                {% endif %}
                        >
                            &times;
                        </a>

                        {% with equipment_item_listings_count=equipment_item_listings|length equipment_brand_listings_count=equipment_brand_listings|length %}
                            {% if equipment_item_listings_count == 1 %}
                                <span class="text">
                                    <i class="icon-bullhorn"></i>
                                    {% blocktrans trimmed with name=equipment_item_listings.0.name retailer=equipment_item_listings.0.retailer %}
                                        Interested in <strong>{{ name }}</strong>? Our sponsor
                                        <strong>{{ retailer }}</strong> sells this product!
                                    {% endblocktrans %}
                                </span>

                                {% equipment_item_listing_url_with_tags equipment_item_listings.0 'search' as url_with_tags %}
                                <a class="btn btn-primary" href="{{ url_with_tags }}"
                                   onclick="getOutboundLink('{{ url_with_tags }}', '{{ request.path }}')" target="_blank">
                                    <i class="icon-shopping-cart"></i>
                                    {% trans "Shop now" %}
                                </a>
                            {% elif equipment_item_listings_count > 1 %}
                                <span class="text">
                                    <i class="icon-bullhorn"></i>
                                    {% blocktrans trimmed with name=equipment_item_listings.0.name %}
                                        Interested in <strong>{{ name }}</strong>? Our sponsors sell this product!
                                    {% endblocktrans %}
                                </span>

                                <div class="btn-group">
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="icon-shopping-cart"></i>
                                        {% trans "Shop now" %}
                                        <span class="caret hidden-phone"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for listing in equipment_item_listings %}
                                            <li>
                                                {% equipment_item_listing_url_with_tags listing 'search' as url_with_tags %}
                                                <a href="{{ url_with_tags }}"
                                                   onclick="getOutboundLink('{{ url_with_tags }}', '{{ request.path }}')"
                                                   target="_blank">
                                                    <strong>{{ listing.retailer }}</strong>: {{ listing.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% elif equipment_brand_listings_count == 1 %}
                                <span class="text">
                                    <i class="icon-bullhorn"></i>
                                    {% blocktrans trimmed with brand=equipment_brand_listings.0.brand retailer=equipment_brand_listings.0.retailer %}
                                        Interested in <strong>{{ brand }}</strong>? Our sponsor
                                        <strong>{{ retailer }}</strong> sells this brand!
                                    {% endblocktrans %}
                                </span>

                                {% equipment_brand_listing_url_with_tags equipment_brand_listings.0 'search' as url_with_tags %}
                                <a class="btn btn-primary" href="{{ url_with_tags }}"
                                   onclick="getOutboundLink('{{ url_with_tags }}', '{{ request.path }}')" target="_blank">
                                    <i class="icon-shopping-cart"></i>
                                    {% trans "Shop now" %}
                                </a>
                            {% elif equipment_brand_listings_count > 1 %}
                                <span class="text">
                                    <i class="icon-bullhorn"></i>
                                    {% blocktrans trimmed with brand=equipment_brand_listings.0.brand %}
                                        Interested in <strong>{{ brand }}</strong>? Our sponsors sells this brand!
                                    {% endblocktrans %}
                                </span>

                                <div class="btn-group">
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="icon-shopping-cart"></i>
                                        {% trans "Shop now" %}
                                        <span class="caret hidden-phone"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for listing in equipment_brand_listings %}
                                            <li>
                                                {% equipment_brand_listing_url_with_tags listing 'search' as url_with_tags %}
                                                <a href="{{ url_with_tags }}"
                                                   onclick="getOutboundLink('{{ url_with_tags }}', '{{ request.path }}')" target="_blank">
                                                    {{ listing.retailer }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                {% endif %}
                {% if marketplace_line_items and request.user|is_in_astrobin_group:BETA_TESTERS_GROUP_NAME %}
                    <div class="equipment-listing-search-result alert alert-info">
                       <span class="text">
                            <i class="icon-bullhorn"></i>
                            {% blocktrans with count=marketplace_line_items|length %}
                                AstroBin's Marketplace has <strong>{{ count }}</strong> items similar to what you're
                                looking for!
                            {% endblocktrans %}
                            <a 
                                href="{% app_redirection_service '/equipment/marketplace/' %}?query={{ search_term }}"
                                class="btn btn-primary"
                            >
                                <i class="icon-shopping-cart"></i>
                                {% trans "Take a look!" %}
                            </a>
                       </span>
                    </div>
                {% endif %}
            {% endif %}
        {% endwith %}
        <ul class="thumbnails astrobin-thumbnails">
            {% for result in page_obj.object_list %}
                <li class="thumbnail astrobin-thumbnail">
                    <div class="astrobin-image-container">
                        {% if result.is_iotd or result.is_top_pick or result.is_top_pick_nomination %}
                            <ul class="badges">
                                {% if result.is_iotd %}
                                    <li>
                                        <i 
                                            class="icon-trophy iotd-badge badge"
                                            rel="tooltip"
                                            data-placement="right"
                                            data-container="body"
                                            title="{% trans "Image of the day" %}"
                                        ></i>
                                    </li>
                                {% elif result.is_top_pick %}
                                    <li>
                                        <i 
                                            class="icon-star top-pick-badge badge"
                                            rel="tooltip"
                                            data-placement="right"
                                            data-container="body"
                                            title="{% trans "Top pick" %}"></i>
                                    </li>
                                {% elif result.is_top_pick_nomination %}
                                    <li>
                                        <i
                                            class="icon-arrow-up top-pick-nomination-badge badge"
                                            rel="tooltip"
                                            data-placement="right"
                                            data-container="body"
                                            title="{% trans "Top pick nomination" %}"></i>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                        <figure>
                            <a href="{% search_image_url result %}{% query_string "" "querystring_key,page,recent_images_page,public,staging,trash,image_list_page,sub,s,t,d,license,camera_type,telescope_type,subject_type,pixel_scale_min,pixel_scale_max,field_radius_min,field_radius_max,integration_time_min,integration_time_max,moon_phase_min,moon_phase_max,country,award,subject,coord_ra_min,coord_ra_max,coord_dec_min,coord_dec_max,start_date,end_date,forceClassicRevisionUploader,active,animated,video" %}">
                                <img
                                        src="{{ result.gallery_thumbnail }}"
                                        data-preloaded="true"
                                        data-loaded="true"
                                        alt="{{ result.title }}"
                                        width="130"
                                        height="130"
                                        class="astrobin-image"
                                        data-user-id="{{ result.user_id }}"
                                        data-alias="gallery"
                                        data-revision="final"
                                        {% if result.video %}
                                            data-is-video="true"
                                        {% endif %}
                                />
                                {% if result.video %}
                                    <i class="icon-play"></i>
                                {% endif %}
                            </a>
                            <figcaption>
                                <a href="{% search_image_url result %}{% query_string "" "querystring_key,page,recent_images_page,public,staging,trash,image_list_page,sub,s,t,d,license,camera_type,telescope_type,subject_type,pixel_scale_min,pixel_scale_max,field_radius_min,field_radius_max,integration_time_min,integration_time_max,moon_phase_min,moon_phase_max,country,award,subject,coord_ra_min,coord_ra_max,coord_dec_min,coord_dec_max,start_date,end_date,forceClassicRevisionUploader,active,animated,video" %}">
                                    <h3>{{ result.title }}</h3>
                                    <h4>{{ result.user_display_name|default:result.username }}</h4>

                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <th><i class="icon-calendar"></i></th>
                                                <td colspan="5">{% timestamp result.published %}</td>
                                            </tr>

                                            <tr>
                                                <th><i class="icon-thumbs-up"></i></th>
                                                <td colspan="2">{{ result.likes }}</td>
                                                <th><i class="icon-bookmark"></i></th>
                                                <td colspan="2">{{ result.bookmarks }}</td>
                                            </tr>

                                            <tr>
                                                <th><i class="icon-comments-alt"></i></th>
                                                <td colspan="5">{{ result.comments }}</td>
                                            </tr>

                                            {% if result.is_iotd or result.is_top_pick or result.is_top_pick_nomination %}
                                                <tr>
                                                    <th class="caption-badge">
                                                        {% if result.is_iotd %}
                                                            <i class="icon-trophy"></i>
                                                        {% elif result.is_top_pick %}
                                                            <i class="icon-star"></i>
                                                        {% elif result.is_top_pick_nomination %}
                                                            <i class="icon-arrow-up"></i>
                                                        {% endif %}
                                                    </th>

                                                    <th colspan="5" class="caption-badge">
                                                        {% if result.is_iotd %}
                                                            {% trans "Image of the day" %}
                                                        {% elif result.is_top_pick %}
                                                            {% trans "Top pick" %}
                                                        {% elif result.is_top_pick_nomination %}
                                                            {% trans "Top pick nomination" %}
                                                        {% endif %}
                                                    </th>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </a>

                                <div class="image-slideshow-button">
                                    <a
                                            data-fancybox="image-list"
                                            data-rel="image-list"
                                            href="{% search_image_url result %}rawthumb/qhd/?sync"
                                            {% if result.video and result.video_url %}
                                                data-video-url="{{ result.video_url }}"
                                                data-loop-video="{{ result.loop_video | yesno:"true,false" }}"
                                            {% endif %}
                                            data-src="{% search_image_url result %}rawthumb/qhd/?sync"
                                            data-url="{% search_image_url result %}"
                                            data-caption="{{ result.user_display_name|default:result.username }} - {{ result.title }}"
                                            data-slug="{% search_image_hash_or_id result %}"
                                            data-thumb="{% search_image_url result %}rawthumb/gallery/"
                                            data-user-id="{{ result.user_id }}"
                                            data-id="{{ result.object_id }}"
                                            data-id-or-hash="{% search_image_hash_or_id result %}"
                                    >
                                        <i class="icon-play"></i>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if search_domain == 'u' %}
        <ul class="thumbnails astrobin-thumbnails">
            {% for result in page_obj.object_list %}
                {% if result.object and result.object.id %}
                    <li class="thumbnail astrobin-thumbnail">
                        <div class="user-business-card">
                            <div class="business-card-inner">
                                <div class="header">
                                    <i class="icon-user icon-white"></i>
                                    {% astrobin_username result.object %}
                                </div>
                                <div class="avatar">
                                    <a href="{% url 'user_page' result.object.username %}">
                                        {% avatar result.object 83 %}
                                    </a>
                                </div>
                                <div class="quick-data">
                                    <table class="table">
                                        <tr>
                                            <th><i class="icon-time icon-white" rel="tooltip"
                                                   title="{% trans "Integration" %}"></i></th>
                                            <td>{{ result.integration|floatformat }}</td>
                                        </tr>
                                        <tr>
                                            <th><i class="icon-thumbs-up" rel="tooltip" title="{% trans "Likes" %}"></i>
                                            </th>
                                            <td>{{ result.likes }}</td>
                                        </tr>
                                        <tr>
                                            <th><i class="icon-heart icon-white" rel="tooltip"
                                                   title="{% trans "Bookmarks" %}"></i></th>
                                            <td>{{ result.bookmarks }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="data">
                                    {% trans "Date joined" %}:
                                    <strong>{% timestamp result.object.date_joined %}</strong><br />
                                    {% trans "Images" %}: <strong>{{ result.images }}</strong><br />
                                    {% trans "Comments" %}:
                                    <strong>{{ result.comments_written }}/{{ result.comments }}</strong><br />
                                    {% trans "Views" %}: <strong>{{ result.views }}</strong>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if search_domain == 'f' %}
        <ul class="search-results__text">
            {% for item in page_obj.object_list %}
                {% if item.object %}
                    <li class="search-results__text__single">
                        {% if item.model_name == "post" %}
                            <div class="search-results__text__meta">
                                <span class="search-results__text__author">
                                    {% astrobin_username item.object.user %}
                                </span>

                                <span class="search-results__text__date">
                                    {% if item.object.updated %}
                                        {% timestamp item.object.updated %}
                                    {% elif item.object.created %}
                                        {% timestamp item.object.created %}
                                    {% endif %}
                                </span>
                            </div>

                            <div class="search-results__text__content">
                                {% if request.GET.q %}
                                    {% highlight_text item.object.body with request.GET.q css_class 'search-results__highlight' max_length 500 dialect 'bbcode' allow_lists False %}
                                {% else %}
                                    {{ item.object.body_html | truncatechars:500 | strip_html | safe  }}
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if item.model_name == "topic" %}
                            <div class="search-results__text__meta">
                                <span class="search-results__text__author">
                                    {% astrobin_username item.object.user %}
                                </span>

                                <span class="search-results__text__date">
                                    {% if item.object.updated %}
                                        {% timestamp item.object.updated %}
                                    {% elif item.object.created %}
                                        {% timestamp item.object.created %}
                                    {% endif %}
                                </span>
                            </div>

                            <div class="search-results__text__content">
                                {% if request.GET.q %}
                                    {% highlight_text item.object.name with request.GET.q css_class 'search-results__highlight' max_length 500 dialect 'bbcode' allow_lists False %}
                                {% else %}
                                    {{ item.object.name }}
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="search-results__text__links">
                            <a href="{{ item.object.get_absolute_url }}" class="btn">
                                {% trans "View" %}
                            </a>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if search_domain == 'c' %}
        <ul class="search-results__text">
            {% for item in page_obj.object_list %}
                <li class="search-results__text__single">

                    {% if item.object.image.count > 0 %}
                        <div class="search-results__text__meta">
                            <span class="search-results__text__author">
                                {% astrobin_username item.object.author %}
                            </span>

                            <span class="search-results__text__date">
                                {% timestamp item.object.updated %}
                            </span>
                        </div>

                        <div class="search-results__text__content">
                            {% if request.GET.q %}
                                {% highlight_text item.object.text with request.GET.q css_class 'search-results__highlight' max_length 500 dialect 'bbcode' allow_lists False %}
                            {% else %}
                                {{ item.object.text | bbcode | strip_html | safe}}
                            {% endif %}
                        </div>

                        <div class="search-results__text__links">
                            <a href="{{ item.object.get_absolute_url }}" class="btn">
                                {% trans "View" %}
                            </a>
                        </div>
                    {% else %}
                        <em>{% trans "Comment of deleted image not shown." %}</em>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if paginate and paginator.num_pages > 1 %}
        {% include 'pagination_numbered.html' %}
    {% endif %}

{% else %}

    {% if request.GET.q or request.GET.subject or request.GET.telescope %}
        <div class="alert alert-warning">
            {% trans "No results. Sorry." %}
        </div>
    {% else %}
        <div class="alert alert-warning">
            {% trans "Please input some search terms!" %}
        </div>
    {% endif %}

{% endif %}
