{% load astrobin_apps_images_tags %}
{% load astrobin_apps_users_tags %}
{% load highlight %}
{% load i18n %}
{% load avatar_tags %}

{% if paginator.object_list %}

    {% if search_domain == None or search_domain == 'i' %}
        <ul class="thumbnails astrobin-thumbnails">
            {% for result in page_obj.object_list %}
                {% if result.object %}
                    <li class="thumbnail astrobin-thumbnail">
                        {% astrobin_image result.object 'gallery' %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if search_domain == 'u' %}
        <ul class="thumbnails astrobin-thumbnails">
            {% for result in page_obj.object_list %}
                {% if result.object and result.object.id %}
                    <li class="thumbnail astrobin-thumbnail">
                        <div class="user-business-card">
                            <div class="business-card-inner">
                                <div class="header">
                                    <i class="icon-user icon-white"></i>
                                    {% astrobin_username result.object %}
                                </div>
                                <div class="avatar">
                                    <a href="{% url 'user_page' result.object.username %}">
                                        {% avatar result.object 83 %}
                                    </a>
                                </div>
                                <div class="quick-data">
                                    <table class="table">
                                        <tr>
                                            <th><i class="icon-time icon-white" rel="tooltip"
                                                   title="{% trans "Integration" %}"></i></th>
                                            <td>{{ result.integration|floatformat }}</td>
                                        </tr>
                                        <tr>
                                            <th><i class="icon-thumbs-up" rel="tooltip" title="{% trans "Likes" %}"></i>
                                            </th>
                                            <td>{{ result.likes }}</td>
                                        </tr>
                                        <tr>
                                            <th><i class="icon-heart icon-white" rel="tooltip"
                                                   title="{% trans "Bookmarks" %}"></i></th>
                                            <td>{{ result.bookmarks }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="data">
                                    {% trans "Date joined" %}:
                                    <strong>
                                        <abbr class="timeago"
                                              title="{{ result.object.date_joined|date:'Y-m-d\TH:i:s' }}">
                                            {{ result.object.date_joined|date }}
                                        </abbr>
                                    </strong><br />
                                    {% trans "Images" %}: <strong>{{ result.images }}</strong><br />
                                    {% trans "Comments" %}:
                                    <strong>{{ result.comments_written }}/{{ result.comments }}</strong><br />
                                    {% trans "Views" %}: <strong>{{ result.views }}</strong>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if search_domain == 'cf' %}
        <ul class="search-results__text">
            {% for text in page_obj.object_list %}
                <li class="search-results__text__single">

                    {% if text.model_name == "nestedcomment" %}
                        {% if text.object.image.count > 0 %}
                            <div class="search-results__text__meta">
                                <span class="search-results__text__author">
                                    {% astrobin_username text.object.author %}
                                </span>
                                <span class="search-results__text__date">
                                    <abbr class="timeago" title="{{ text.object.updated|date:'Y-m-d\TH:i:s' }}">
                                        {{ text.object.updated|date }}
                                    </abbr>
                                </span>
                            </div>
                            <div class="search-results__text__content">
                                {% if request.GET.q %}
                                    {% highlight text.text with request.GET.q css_class 'search-results__highlight' max_length 500 %}
                                {% else %}
                                    {{ text.text }}
                                {% endif %}
                            </div>
                            <div class="search-results__text__links">
                                <a href="{{ text.object.get_absolute_url }}">{% trans "link" %}</a>
                            </div>
                        {% else %}
                            <em>{% trans "Comment of deleted image not shown." %}</em>
                        {% endif %}
                    {% endif %}

                    {% if text.model_name == "post" %}
                        <div class="search-results__text__meta">
                    <span class="search-results__text__author">
                        {% astrobin_username text.object.user %}
                    </span>
                            <span class="search-results__text__date">
                        {% if text.object.updated %}
                            <abbr class="timeago" title="{{ text.object.updated|date:'Y-m-d\TH:i:s' }}">
                                {{ text.object.updated|date }}
                            </abbr>
                        {% elif text.object.created %}
                            <abbr class="timeago" title="{{ text.object.created|date:'Y-m-d\TH:i:s' }}">
                                {{ text.object.created|date }}
                            </abbr>
                        {% endif %}
                    </span>
                        </div>
                        <div class="search-results__text__content">
                            {% if request.GET.q %}
                                {% highlight text.text with request.GET.q css_class 'search-results__highlight' max_length 500 %}
                            {% else %}
                                {{ text.text }}
                            {% endif %}
                        </div>
                        <div class="search-results__text__links">
                            <a href="{{ text.object.get_absolute_url }}">{% trans "link" %}</a>
                        </div>
                    {% endif %}

                    {% if text.model_name == "topic" %}
                        <div class="search-results__text__meta">
                    <span class="search-results__text__author">
                        {% astrobin_username text.object.user %}
                    </span>
                            <span class="search-results__text__date">
                        {% if text.object.updated %}
                            <abbr class="timeago" title="{{ text.object.updated|date:'Y-m-d\TH:i:s' }}">
                                {{ text.object.updated|date }}
                            </abbr>
                        {% elif text.object.created %}
                            <abbr class="timeago" title="{{ text.object.created|date:'Y-m-d\TH:i:s' }}">
                                {{ text.object.created|date }}
                            </abbr>
                        {% endif %}
                    </span>
                        </div>
                        <div class="search-results__text__content">
                            {% if request.GET.q %}
                                {% highlight text.text with request.GET.q css_class 'search-results__highlight' max_length 500 %}
                            {% else %}
                                {{ text.text }}
                            {% endif %}
                        </div>
                        <div class="search-results__text__links">
                            <a href="{{ text.object.get_absolute_url }}">{% trans "link" %}</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if paginate and paginator.num_pages > 1 %}
        {% include 'pagination_numbered.html' %}
    {% endif %}

{% else %}

    {% if request.GET.q %}
        <div class="alert alert-warning">
            {% trans "No results. Sorry." %}
        </div>
    {% else %}
        <div class="alert alert-warning">
            {% trans "Please input some search terms!" %}
        </div>
    {% endif %}

{% endif %}
