{% load i18n %}
{% load tags %}
{% load avatar_tags %}
{% load common_tags %}
{% load hitcount_tags %}

{% if multiple %}
<div class="alert alert-info">{% blocktrans %}This search found results of multiple types. If you want, you can refine your search using the <strong>Search type</strong> field in the <strong>Basic criteria</strong> box.{% endblocktrans %}</div>
{% endif %}

{% if gear_list %}
<h2>{% trans "Gear" %}</h2>

<ul class="thumbnails astrobin-thumbnails">
{% for search_result in gear_list %}
    {% if search_result.object.id %}
        <li class="thumbnail astrobin-thumbnail">
            <div class="gear-business-card">
                <div class="header">
                    <i class="icon-cog icon-white"></i>
                    <a href="{% url gear_page search_result.object.id search_result.object.slug %}">
                        {% if search_result.object.make %}{{search_result.object.make}}{% endif %}
                        {{search_result.object.name}}
                    </a>
                </div>
                {% if search_result.object.commercial and search_result.object.commercial.image  %}
                    {% with search_result.object.commercial.image as image %}
                        <div class="avatar">
                            <a href="{% url gear_page search_result.object.id search_result.object.slug %}">
                                <img src="{{IMAGES_URL}}{{image.filename}}_small_thumb{{image.original_ext}}" alt="{{image.title|escape}}" />
                            </a>
                        </div>
                    {% endwith %}
                {% endif %}
                <div class="quick-data">
                    <table class="table">
                        <tr>
                            <th><i class="icon-time icon-white" rel="tooltip" title="{% trans "Integration" %}"></i></th>
                            <td>{{search_result.integration|floatformat}}</td>
                        </tr>
                        <tr>
                            <th><i class="icon-star icon-white" rel="tooltip" title="{% trans "Votes" %}"></i></th>
                            <td>{{search_result.votes}}</td>
                        </tr>
                        <tr>
                            <th><i class="icon-heart icon-white" rel="tooltip" title="{% trans "Favorites" %}"></i></th>
                            <td>{{search_result.favorited}}</td>
                        </tr>

                    </table>
                </div>
                <div class="data">
                    {% trans "Images" %}: <strong>{{search_result.images}}</strong><br/>
                    {% trans "Comments" %}: <strong>{{search_result.comments}}</strong><br/>
                    {% trans "Views" %}: <strong>{{search_result.views}}</strong>.
                </div>
            </div>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}

{% if user_list %}
<h2>{% trans "Users" %}</h2>
<p>
    <em>{% blocktrans %}If you searched for a gear item, the following users own one, or have imaged with one.{% endblocktrans %}</em>
</p>

<ul class="thumbnails astrobin-thumbnails">
{% for search_result in user_list %}
    {% if search_result.object.id %}
        <li class="thumbnail astrobin-thumbnail">
            <div class="user-business-card">
                <div class="header">
                    <i class="icon-user icon-white"></i>
                    <a href="{% url user_page search_result.object.username %}">
                        {{search_result.object.userprofile_set.all.0}}
                    </a>
                </div>
                <div class="avatar">
                    <a href="{% url user_page search_result.object.username %}">
                        {% avatar search_result.object 83 %}
                    </a>
                </div>
                <div class="quick-data">
                    <table class="table">
                        <tr>
                            <th><i class="icon-time icon-white" rel="tooltip" title="{% trans "Integration" %}"></i></th>
                            <td>{{search_result.integration|floatformat}}</td>
                        </tr>
                        <tr>
                            <th><i class="icon-star icon-white" rel="tooltip" title="{% trans "Votes" %}"></i></th>
                            <td>{{search_result.votes}}</td>
                        </tr>
                        <tr>
                            <th><i class="icon-heart icon-white" rel="tooltip" title="{% trans "Favorites" %}"></i></th>
                            <td>{{search_result.favorited}}</td>
                        </tr>
                    </table>
                </div>
                <div class="data">
                    {% trans "Date joined" %}: <strong>{{search_result.object.date_joined|ago}}</strong><br/>
                    {% trans "Images" %}: <strong>{{search_result.images}}</strong><br/>
                    {% trans "Comments" %}: <strong>{{search_result.comments_written}}/{{search_result.comments}}</strong><br/>
                    {% trans "Views" %}: <strong>{{search_result.views}}</strong>.
                </div>
            </div>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}

{% if image_list %}

{% ifequal view "list" %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "User" %}</th>
                <th>{% trans "Title" %}</th>
                <th><i class="icon-calendar"></i></th>
                <th><i class="icon-eye-open"></i></th>
                <th><i class="icon-star"></i></th>
                <th><i class="icon-heart"></i></th>
                <th><i class="icon-comments-alt"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for search_result in image_list %}
                {% if search_result.object.id %}
                    <tr>
                        <td>
                            <a href="{% url user_page search_result.object.user %} ">{{search_result.object.user.userprofile_set.all.0}}</a>
                        </td>

                        <td>
                            <a href="{% get_image_url search_result.object %} ">{{search_result.object.title}}</a>
                        </td>
                        <td>{{search_result.object.uploaded|date:"SHORT_DATE_FORMAT"}}</td>
                        <td>{% get_hit_count for search_result.object %}</td>
                        <td>
                            {% if search_result.object.user.userprofile_set.0.optout_rating %}
                                {% trans "n/a" %}
                            {% else %}
                                {% if search_result.object.allow_rating %}
                                    {{search_result.object.astrobinIndex|floatformat:"3"}}
                                {% else %}
                                    {% trans "n/a" %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{search_result.object.favoritesNumber}}</td>
                        <td>{{search_result.object.commentsNumber}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <ul class="thumbnails astrobin-thumbnails">
        {% include 'inclusion_tags/search_image_list_entries.html' %}
        {% include 'snippets/endless_pagination_js.html' %}
    </ul>
{% endifequal %}
{% endif %}

{% if paginate %}
    {% include 'pagination.html' %}
{% endif %}
