{% if DEBUG_MODE %}
    <script src="https://cdn.astrobin.com/delivery/vue-2.6.12.js"></script>
{% else %}
    <script src="https://cdn.astrobin.com/delivery/vue-2.6.12.min.js"
            integrity="sha256-KSlsysqp7TXtFo/FHjb1T9b425x3hrvzjMWaJyKbpcI=" crossorigin="anonymous"></script>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-multiselect/2.1.4/vue-multiselect.min.js"
        integrity="sha512-pJomzWJrHP27vHblX+WL7o78DSKRIZevesoFdLd5VjGE16004uBgHe8e5zS8xEUYCeTSY5QIFC7m+u3ue6Mb9g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
