{% if DEBUG_MODE %}
    <script src="https://cdn.astrobin.com/delivery/vue-2.6.12.js"></script>
{% else %}
    <script src="https://cdn.astrobin.com/delivery/vue-2.6.12.min.js"
            integrity="sha256-KSlsysqp7TXtFo/FHjb1T9b425x3hrvzjMWaJyKbpcI=" crossorigin="anonymous"></script>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-multiselect/2.1.9/vue-multiselect.min.js"
        integrity="sha512-bJhe/xkL9mjvE7wITqDRB6E9grbyaHu2Iuto1bTjCZ067B1WvqIsnb9rH7Mp0REQhINncpObJN+4+2wIWL8PrA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
