{% load i18n %}

<h1>
    {% blocktrans trimmed %}
        You have been inactive as an IOTD Submitter or Reviewer for {{days}} days or more.
    {% endblocktrans %}
</h1>

<br /><br />

<p>
    {% blocktrans trimmed %}
        While the AstroBin IOTD selection process has a good level of redundancy built into the system, it still relies
        on the members of the staff regularly making selections from their respective queues.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
        After {{max_inactivity_days}} days of inactivity (counted from the last selection you made in your queue) you
        will be removed from the IOTD staff.
    {% endblocktrans %}

    {% blocktrans trimmed %}
        This will ensure that potential IOTD or Top Pick candidates don't go unnoticed sitting in the queue of an
        inactive staff member.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
        Thank you for understanding!
    {% endblocktrans %}
</p>
