{% load i18n %}
{% load tags %}
{% load compress %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}AstroBin{% endblock %}</title>

        <noscript>
            <meta http-equiv="refresh" content="0; URL=/no_javascript">
        </noscript>

        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
        <meta name="author" content="Salvatore Iovene - http://iovene.com/" />
        <meta name="description" content="Community for astrophotographers" />
        <meta name="keywords" content="astrophotography, astronomy, telescopes" />
        <meta name="robots" content="index, follow, noarchive" />
        <meta name="googlebot" content="noarchive" />

        {% compress css %}
        <!-- 3rd party css -->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/ui-lightness/jquery-ui-1.8.7.custom.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/capSlide.css" />
        <!-- site's css -->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/reset.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/astrobin.css"/>
        <!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="/static/css/ie6.css"/><![endif]-->

        {% block extra_css %}{% endblock %}
        {% endcompress %}

        {% block extra_head %}{% endblock %}
    </head>

    <body{% if user.is_authenticated %} onload="common.start_listeners('{{request.user.username}}');"{%endif %}>
        <!-- wrap -->
        <div id="wrap">

            <!-- header -->
            <div id="header">
                <a name="top"></a>
                {% block header %}
                <div id="search">
                    <form id="quick-search" action="/search/" method="get" >
                        <p>
                        <label for="qsearch">Search:</label>
                        <input class="tbox"
                               id="q"
                               type="text"
                               name="q"
                               value="{% trans "Search images by subject or gear" %}"
                               title="{% trans "Start typing and hit ENTER" %}"
                               onfocus="common.clearText(this)"
                               onblur="common.clearText(this)"/>
                        <input class="btn" alt="{% trans "Search" %}" type="image"
                               name="searchsubmit" title="{% trans "Search" %}"
                               src="/static/icons/iconic/white/magnifying_glass_16x16.png"/>
                        </p>
                    </form>
                </div>
                <div id="title">
                    <h1><a href="/">AstroBin</a></h1>
                    <h4>
                        {% trans "The definive home for your astrophotography." %}
                    </h4>
                </div>
                <div id="ad">
                </div>
                <div id="nav-container">
                    <div id="nav">
                        <ul>
                            <li id="{% current request "^/$" %}"><a href="/">{% trans "Home" %}</a></li>
                            <li><a href="#">{% trans "ABPOD" %}</a></li>
                            <li><a href="#">{% trans "Help" %}</a></li>
                        </ul>
                    </div>
                    <div id="user-nav">
                        <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <a class="icon" href="#"><img alt="Account" src="/static/icons/iconic/orange/profile.png"/></a>
                                <div class="popup" id="profile-popup">
                                    <ul>
                                        <li>
                                            <a href="{% url auth_logout %}">{% trans "Log out" %}</a>
                                        </li>
                                        <li>
                                            <a href="/" title="{% trans "Upload an image" %}">{% trans "Upload!" %}</a>
                                        </li>
                                        <li id="{% current request "^/profile/" %}">
                                            <a href="/profile/edit/basic/">{% trans "Profile" %}</a>
                                        </li>
                                    </ul>
                               </div>
                            </li>
                            <li>
                                <a class="icon" title="{% trans "Notifications" %}" href="#">
                                    <img id="notifications" alt="{% trans "Notifications" %}" src="{% notifications_icon request %}"/>
                                </a>
                                <div class="popup" id="notifications-popup">
                                    {% notification_list request %}
                                </div>
                            </li>
                            <li>
                                <a class="icon" title="{% trans "Messages" %}" href="#">
                                    <img id="messages" alt="{% trans "Messages" %}" src="{% messages_icon request %}"/></a>
                                <div class="popup" id="messages-popup">
                                    {% message_list request %}
                                </div>
                            </li>
                            <li>
                                <a class="icon" title="{% trans "Requests" %}" href="#">
                                    <img id="requests" alt="{% trans "Requests" %}" src="{% requests_icon request %}"/></a>
                                <div class="popup" id="requests-popup">
                                    {% request_list request %}
                                </div>
                            </li>

                        {% else %}
                            <li id="{% current request "^/accounts/login/" %}">
                                <a href="{% url auth_login %}">{% trans "Log in" %}</a>
                            </li>
                            <li id="{% current request "^/accounts/register/" %}">
                                <a href="{% url registration_register %}">{% trans "Register" %}</a>
                            </li>
                        {% endif %}

                        </ul>
                    </div>
                </div>
               {% endblock %}
            <!-- /header -->
            </div>

            {% block abpod %}{% endblock %}

            <!-- content -->
            <div id="content-wrap" class="clear">
                <div id="content" class="clear">
                    {% block content %}{% endblock %}
                </div>
            </div>

        <!-- footer -->
        <div class="horizontal-separator"></div>
        <div id="footer">
            {% block footer %}
            <!-- footer-outer -->
            <div id="footer-outer" class="clear"><div id="footer-wrap">

                <div class="col-a">
                    <h3>{% trans "Site links" %}</h2>
                    <p>
                        <ul>
                            <li><a href="/">{% trans "Home" %}</a></li>
                            <li><a href="#">{% trans "ABPOD" %}</a></li>
                            <li><a href="#">{% trans "Help" %}</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-b">
                    <h3>{% trans "About" %}</h3>
                    <p>
                    {% trans "AstroBin is a image hosting website specifically targetted to astrophotographers: it's the last place where you need to upload your astrophotography images. Made by an astrophotographer, for the astrophotographers." %}
                    </p>
                </div>

                <div class="fix"></div>

                <!-- footer-bottom -->
                <div id="footer-bottom">

                    <div class="bottom-left">
                        <p>
                        &copy; 2011 Salvatore Iovene
                        </p>
                    </div>

                    <div class="bottom-right">
                        <p>
                            <a href="/">{% trans "Home" %}</a> |
                            <a href="#top" class="back-to-top">{% trans "Back to top" %}</a>
                        </p>
                    </div>

                <!-- /footer-bottom -->
                </div>

            <!-- /footer-outer -->
            </div></div>
            {% endblock %}
        <!-- /footer -->
        </div>

        <!-- wrap -->
        </div>

        <script type="text/javascript" src="/static/fonts/Museo-500/MyFonts Webfonts Order M2677657.js"></script>
        {% compress js %}
        <!-- javascript -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.uniform.min.js"></script>
        <script type="text/javascript" src="/static/js/astrobin.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.7.custom.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.capSlide.js"></script>
        <script type="text/javascript" src="/static/js/own/capslide.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('form#upload input').change(function() {
                    $('form#upload').append('\
                        <p>\
                            <img style="margin: 10px" alt="{% trans "Uploading..." %}" src="/static/images/ajax-loader.gif"/>\
                        </p>');
                    $('form#upload').submit();
                });

                // popup menus
                $('select, input:checkbox, input:radio, input:file').uniform();

                var open_popup = 0;
                var active_a = 0;
                $('#user-nav > ul > li > a').click (function(event) {
                    var a = $(this);
                    var li = a.parent()
                    var popup = li.find('.popup');

                    if (open_popup && active_a) {
                        var old_open_popup = open_popup;
                        var old_active_a = active_a;

                        open_popup.css('visibility', 'hidden');
                        active_a.removeClass('active');
                        open_popup = 0;
                        active_a = 0;
                        if (old_open_popup.get(0) == popup.get(0) &&
                            old_active_a.get(0) == a.get(0)) {
                            return;
                        }
                    }

                    a.addClass('active');
                    popup.css('visibility', 'visible');
                    open_popup = popup;
                    active_a = a;
                    event.stopPropagation();
                    $(document).one('click', function() {
                        a.removeClass('active');
                        activa_a = 0;
                        popup.css('visibility', 'hidden');
                        open_popup = 0;
                    });
                });

                var notifications_read_timer = 0;
                $('ul#notification-feed').bind('mouseover', function() {
                    notifications_read_timer = window.setTimeout(function() {
                        $.ajax({
                            url: '/notifications/seen/',
                            success: function() {
                                $('img#notifications').attr('src',
                                    '/static/icons/iconic/orange/notifications.png');
                                $('ul#notification-feed li.unread').removeClass('unread');
                            },
                        });
                    }, 250);
                });
                $('ul#notification-feed').bind('mouseout', function() {
                    window.clearTimeout(notifications_read_timer);
                });

                var messages_read_timer = 0;
                $('ul#message-feed').bind('mouseover', function() {
                    messages_read_timer = window.setTimeout(function() {
                        $.ajax({
                            url: '/messages/mark_read/all/',
                            success: function() {
                                $('img#messages').attr('src',
                                    '/static/icons/iconic/orange/messages.png');
                                $('ul#message-feed li.unread').removeClass('unread');
                            },
                        });
                    }, 250);
                });
                $('ul#message-feed').bind('mouseout', function() {
                    window.clearTimeout(messages_read_timer);
                });
            });
        </script>
        {% block extra_js %}{% endblock %}
        {% endcompress %}

        {% comment %}
        UnicodeDecodeError: 'utf8' codec can't decode byte 0x9a in position 503: unexpected code byte
        {% endcomment %}
        <script type="text/javascript" src="/static/js/jquery.autoSuggest.js"></script>


    </body>
</html>

