{% load i18n %}
{% load compress %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}AstroBin - no javascript!{% endblock %}</title>

        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
        <meta name="author" content="Salvatore Iovene - http://iovene.com/" />
        <meta name="description" content="Community for astrophotographers" />
        <meta name="keywords" content="astrophotography, astronomy, telescopes" />
        <meta name="robots" content="index, follow, noarchive" />
        <meta name="googlebot" content="noarchive" />

        <!-- site's css -->
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/reset.css" />
        {% compress css %}
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/astrobin.css" />
        {% endcompress %}
        <!--[if IE 6]><link rel="stylesheet" type="text/css" href="/static/css/ie6.css" media="screen" /><![endif]-->

        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
        <!-- wrap -->
        <div id="wrap">

            <!-- header -->
            <div id="header">
                <a name="top"></a>
                {% block header %}
                <div id="title">
                    <h1><a href="/">AstroBin</a></h1>
                    <h4>
                        {% trans "The definite home for your" %}<br/>
                        {% trans "astrophotography images." %}
                    </h4>
                </div>
                {% endblock %}
            <!-- /header -->
            </div>

            <!-- content -->
            <div id="content-wrap" class="clear">
                <div id="content">
                </div>
            </div>

        <!-- footer -->
        <div id="footer">
            {% block footer %}
            <!-- footer-outer -->
            <div id="footer-outer" class="clear"><div id="footer-wrap">
                <!-- footer-bottom -->
                <div id="footer-bottom">
                    <div class="bottom-left">
                        <p>
                        &copy; 2010 Salvatore Iovene
                        </p>
                    </div>
                    <div class="bottom-right">
                        <p>
                            <a href="/">{% trans "Home" %}</a> |
                            <a href="#top" class="back-to-top">{% trans "Back to top" %}</a>
                        </p>
                    </div>
                <!-- /footer-bottom -->
                </div>

            <!-- /footer-outer -->
            </div></div>
            {% endblock %}
        <!-- /footer -->
        </div>

        <!-- wrap -->
        </div>
    </body>
</html>
