{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="full-box clear">
        <h2>{% trans "What is this site?" %}</h2>
        {% blocktrans %}
        <h4>Hey!</h4>
        <p>
        Are you an astrophotographer? Have you ever wanted to share the
        outcome of your hard work with others? I guess you already do
        that, but as an astrophotographer myself, and a subscriber to
        numerous Astrophotography forums, I have found that the
        Internet is lacking a centralized place where astrophotographers
        can share their work.
        </p>
        <h4>Well, this is finally over!</h4>
        <p>
        <em>AstroBin</em> comes to fill the gap. It's a website built by an
        astrophotographer, and it provides means to people who want to
        share their astrophotographs.
        </p>
        <h4>So how is this different from any other photo sharing sites?</h4>
        <p>
        <em>AstroBin</em> provides a number of features that are tailored
        directly to astrophotography. Here's a quick run down of the main
        ones:
        <ul>
            <li>
                <h4>Dedication to data</h4>
                <p>On a general purpose photo sharing site, you would upload
                   your image and be done with it. <em>AstroBin</em>, instead,
                   has a user interface specifically designed to enable you
                   to input all the technical data of your image. And if you
                   neglect to supply technical data to your image, <em>AstroBin</em>
                   will periodically remind you to do so.
                </p>
            </li>
            <li>
                <h4>Data is strongly interconnected</h4>
                <p>Have you ever wanted to see how your next image is going
                   to look like? On <em>AstroBin</em>, you can search for
                   all images of a certain target that were taken with a
                   certain telescope and a certain CCD or camera. Or a certain
                   filter. How about all the images between 6 and 8 hours of
                   integration? Or with a certain Moon phase? You can do that!
                </p>
            </li>
            <li>
                <h4>All the data at a glance</h4>
                <p>Each image on <em>AstroBin</em> is annotated of all the
                   technical details about its acquisition. Telescopes involved,
                   cameras, mounts, filters, everything is visible at a glance
                   in the Technical Card. Even the Moon age at the time of the
                   acquisition is displayed.
                </p>
            </li>
            <li>
                <h4>More than just an image</h4>
                <p><em>AstroBin</em> will do more than just host a copy of your
                   image: when you upload a photograph, a histogram and a black
                   &amp; white inverted version of the image will be generated
                   on the fly, so it's easier to spot faint nebulosity regions
                   or spiral arms. On request, images can also be plate solved,
                   and an annotated version will appear on the site.
                </p>
            </li>
            <li>
                <h4>AstroBin helps you out</h4>
                <p>Ever looked for a hint on what subject you should tackle next?
                   <em>AstroBin</em> is able to make suggestions that suit your
                   geographical location and your equipment!
                </p>
            </li>
            <li>
                <h4>Will you discover the next supernova?</h4>
                <p>Have you ever wondered if in your years long journey into
                   astrophotography, having imaged tens or even hundreds of
                   galaxies, you might have discovered a supernova? <em>AstroBin</em>
                   will compare your images of galaxies to older ones. They will
                   be aligned, stacked, and examined for anomalies.
                </p>
            </li>
            <li>
                <h4>AstroBin is social!</h4>
                <p>On <em>AstroBin</em> you can message other astrophotographer,
                   follow them and be notified when they post new images, or
                   perform requests for more data. You can also vote on images
                </p>
            </li>
        </ul>
        <p>
            As you have undoubtly realized by now, <em>AstroBin</em> is way more
            than an image hosting service. It's what the Astrophotography
            community has needed for a long time. For years, I have seen amazing
            images scattered all over the Internet: general purpose image hosting
            sites, forums, personal websites and even temporary places. Some of
            those images contain data that is too precious to go wasted in a sea
            of chaos.
            <em>AstroBin</em> comes to the rescue to provide a home and a central
            hub for astrophotographers all over the world.
        </p>
        {% endblocktrans %}
        
    </div>
{% endblock %}

