    {% load i18n %}
    {% load tags %}
    <div class="info-side-bar">
        <ul>
            <li class="{% current request '^/edit(/save)?/basic/' %}"><a href="/edit/basic/{{image.id}}">{% trans "Basic Information" %}</a></li>
            <li class="{% current request '^/edit(/save)?/gear/' %}"><a href="/edit/gear/{{image.id}}">{% trans "Gear used" %}</a></li>
            <li class="{% current request '^/edit(/save)?/acquisition/' %}"><a href="/edit/acquisition/{{image.id}}">{% trans "Acquisition details" %}</a></li>
            <li class="last" style="margin: 8px 0;">
                <a href="{{image.get_absolute_url}}/"><img src="http://{{s3_small_thumbnails_bucket}}.{{s3_url}}/{{image.filename}}{{image.original_ext}}"/></a>
            </li>
        </ul>
    </div>

