{% extends 'base.html' %}
{% load i18n %}

{% block content %}
        <div class="info-side-bar">
        <p>{% trans "Choose a file from your hard-drive." %}</p>
        </div>
        <div class="sided-main-content">
            <div id="file-uploader-wrap">
                <p>{% trans "Click on the icon to upload an image." %}</p>
                <div id="file-uploader">
                    <noscript>			
                        <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
                        <!-- or put a simple form for upload here -->
                    </noscript>         
                </div>
            </div>
        </div>
{% endblock %}
