{% load i18n %}

<script type="text/javascript" src="/static/js/own/capslide.js"></script>
{% for image in image_list %}
<div class="ic_container"
     style="float:left; width: {{thumbnail_size}}px; height: {{thumbnail_size}}px; padding:2px;">
    <a href="{{image.get_absolute_url}}/">
        <img src="http://{{s3_thumbnails_bucket}}.{{s3_url}}/{{image.filename}}.png"
             class="thumbnail"
             alt="{{image.title|default:_("(no title)")}}"
             width="{{thumbnail_size}}" height="{{thumbnail_size}}" />
    </a>
    <a href="{{image.get_absolute_url}}/"><div class="overlay" style="display:none;"></div></a>
    <div class="ic_caption">
        <p class="ic_category">
            <a href="/users/{{image.user.username}}">{{image.user.username}}</a>
        </p>
        <h3><a href="{{image.get_absolute_url}}/">{{image.title|escape|default:_("(no title)")}}</a></h3>
        <p class="ic_text"><a href="{{image.get_absolute_url}}/">{{image.description|truncatewords:20|escape}}</a></p>
    </div>
</div>
{% empty %}
<p>{% trans "No images" %}.</p>
{% endfor %}

