{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% include 'image-edit-menu.html' %}   
    <div class="sided-main-content">
    <h1>{% trans "Edit your image: basic information" %}</h1>
    <form action="/edit/process_basic" method="post">
        {{form.as_p}}
        <script language="javascript">
        $(document).ready(function() {
            var subjectsData = {items:{% autoescape off %}{{subjects_prefill}}{% endautoescape %}};
            var startText = '{% trans "Enter partial names and wait for the suggestions!" %}';
            var emptyText = '{% trans "No results. Press TAB to add it!" %}';
            $("#id_subjects").autoSuggest("/autocomplete/subjects/",
                {asHtmlID: 'subjects',
                 selectedItemProp: 'name',
                 searchObjProps: 'name',
                 preFill: subjectsData.items,
                 selectedItemProp: 'name',
                 selectedValuesProp: 'name',
                 startText: startText,
                 emptyText: emptyText});
        });
        </script>
        <input type="hidden" name="image_id" value="{{image.id}}" />
        <ul>
            <li><input class="button" type="submit" value="{% trans "Continue" %} &rarr;" /></li>
            <li><a href="/show/{{image.id}}">{% trans "Cancel" %}</a></li>
        </ul>
    </form>
    </div>
{% endblock %}
