{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/jquery.raty.min.js"></script>
{% endblock %}

{% block content %}
    <div id="image-detail">
        <div id="main-content">
            <ul class="bar">
                <li id="menu">
                    <ul class="topnav">
                        <li id="actions" class="first">
                            <span class="text"><a href="#">{% trans "Actions" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                {% if request.user == image.user %}
                                    <li class="first bg-icon icon-edit">
                                        <span class="text"><a href="/edit/basic/{{image.id}}">{% trans "Edit basic information" %}</a></span>
                                    </li>
                                    <li class="bg-icon icon-edit-alt">
                                        <span class="text"><a href="/edit/gear/{{image.id}}">{% trans "Edit gear used" %}</a></span>
                                    </li>
                                    <li class="bg-icon icon-edit-alt2">
                                        <span class="text"><a href="/edit/acquisition/{{image.id}}">{% trans "Edit acquisition details" %}</a></span>
                                    </li>
                                    <li class="bg-icon icon-delete">
                                        <span class="text"><a class="delete" class="danger" href="#">{% trans "Delete" %}</a></span>
                                    </li>
                                    <li class="separator"></li>
                                {% endif %}
                                    <li class="bg-icon icon-quote">
                                        <span class="text"><a href="#">{% trans "Bring to a user's attention" %}</a></span>
                                    </li>
                                    <li class="bg-icon icon-info">
                                        <span class="text"><a href="#">{% trans "Request additional information" %}</a></span>
                                    </li>
                                    <li class="last bg-icon icon-file">
                                        <span class="text"><a href="#">{% trans "Request TIFF/FITS" %}</a></span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="view">
                            <span class="text"><a href="#">{% trans "View" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li class="first {% if inverted %}bg-icon icon-normal{% else %}bg-icon icon-inverted{% endif %}">
                                        {% if inverted %}
                                        <span class="text"><a href="{{image.get_absolute_url}}/">{% trans "Normal" %}</a></span>
                                        {% else %}
                                        <span class="text"><a href="{{image.get_absolute_url}}/?mod=inverted">{% trans "Inverted monochrome" %}</a></span>
                                        {% endif %}
                                    </li>
                                    <li class="last bg-icon icon-solved">
                                        <span class="text"><a href="#">{% trans "Plate solved" %}</a></span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="user">
                            <span class="text"><a href="#">{% trans "User" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li class="first {% if not user.is_authenticated %}last{% endif %} bg-icon icon-profile">
                                        <span class="text"><a href="{{image.user.get_absolute_url}}">{% trans "View profile" %}</a></span>
                                    </li>
                                    {% if user.is_authenticated %}
                                    <li class="bg-icon {% if follows %}icon-unfollow{% else %}icon-follow{% endif %}">
                                        <span class="text">
                                            <a class="{% if follows %}unfollow{% else %}follow{% endif %}" href="#">
                                                {% if follows %}
                                                    {% trans "Stop following" %}
                                                {% else %}
                                                    {% trans "Follow" %}
                                                {% endif %}
                                            </a>
                                        </span>
                                    </li>
                                    <li class="last bg-icon icon-message">
                                        <span class="text"><a href="#">{% trans "Send private message" %}</a></span>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        <li id="share" class="last">
                            <span class="text"><a href="#">{% trans "Share" %}</a></span>
                            <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                            <div class="sub">
                                <ul class="subnav">
                                    <li class="first copy-box">
                                        <span class="text">{% trans "Direct link:" %}</span>
                                        <span class="copy-box">http://astrob.in/{{image.id}}/</span>
                                    </li>
                                    <li class="last copy-box">
                                        <span class="text">{% trans "Forms link:" %}</span>
                                        <span class="copy-box">[URL=http://astrob.in/{{image.id}}/]{{image.title|escape}}[/URL]</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="rating"><div id="rating"></div></li>
            </ul>
            <div id="main-image">
            {% if inverted %}
            <a class="zoomable" href="http://{{s3_inverted_images_bucket}}.{{s3_url}}/{{image.filename}}{{image.original_ext}}">
                <img src="http://{{s3_resized_inverted_bucket}}.{{s3_url}}/{{image.filename}}{{image.original_ext}}" alt="{{image.title|escape}}"/>
            </a>
            {% else %}
            <a class="zoomable" href="http://{{s3_images_bucket}}.{{s3_url}}/{{image.filename}}{{image.original_ext}}">
                <img src="http://{{s3_resized_images_bucket}}.{{s3_url}}/{{image.filename}}{{image.original_ext}}" alt="{{image.title|escape}}"/>
            </a>
            {% endif %}
            </div>
            <div class="main-image-data">
                <ul>
                    <li class="title">{{image.title|escape|default:_("(no title)")}}</li>
                    <li class="author">{% trans "by" %} <a href="/users/{{image.user.username}}/">{{image.user.username}}</a></li>
                    {% if image.subjects %}
                    <li class="contains">Contains:
                        {% for s in image.subjects.all %}
                            <a href="/search/?q={{s.name|escape}}">{{s.name|escape}}</a>
                        {% empty %}
                            {% trans "(no subjects)" %}
                        {% endfor %}
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div id="technical-card">
                <h3>{% trans "Technical card" %}</h3>
                <div class="gear">
                    {% for i in gear_list %}
                        <p>
                            <strong>{% trans i.0 %}:&nbsp;</strong>
                            {% for g in i.1 %}
                                <a href="/search/?q={{g.name|escape}}">{{g.name|escape}}</a>
                                {% if not forloop.last %},&nbsp;{% endif %}
                            {% endfor %}
                        </p>
                    {% endfor %}
                </div>
                <div class="acquisition">
                    {% if image_type == 'deep_sky' %}
                        {% for d in deep_sky_data %}
                            {% if d.1 %}
                                <p>
                                <strong>{% trans d.0 %}:&nbsp;</strong>
                                {% for i in d.1 %}
                                    {{i}}
                                    {% if not forloop.last %},&nbsp;{% endif %}
                                {% endfor %}
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <hr/>
                    <h4>{% trans "Histogram" %}</h4>
                    <img src="http://{{s3_histograms_bucket}}.{{s3_url}}/{{image.filename}}.png" alt="{% trans "Histogram" %}"/>
                </div>
            </div>

            <h3>{% trans "Description" %}</h3>
            <p id="description">{{image.description|escape}}</p>
        </div>
        <div id="side-pane">
            {% if related_images.count > 1 %} 
            <ul class="topnav">
                <li>
                    <span class="text"><a href="#">Related images</a></span>
                    <span class="small-icon"><a href="#"><img alt="" src="/static/icons/iconic/white/menu.png"/></a></span>
                    <div class="sub">
                        <ul class="subnav">
                            <li><a href="{{image.get_absolute_url}}/?related=user">{% trans "Same user" %} ({{image.user.username}})</a></li>
                            <li><a href="{{image.get_absolute_url}}/?related=subject">{% trans "Same subject" %}</a></li>
                            <li><a href="{{image.get_absolute_url}}/?related=imaging_telescope">{% trans "Same imaging telescope" %}</a></li>
                            <li><a href="{{image.get_absolute_url}}/?related=imaging_camera">{% trans "Same imaging camera" %}</a></li>
                        </ul>
                    </div>
                </ul>
            </ul>

            <ul class="image-strip">
            {% for i in related_images %}
                <li>
                    <a href="{{i.object.get_absolute_url}}/">
                        <img src="http://{{s3_small_thumbnails_bucket}}.{{s3_url}}/{{i.object.filename}}{{i.object.original_ext}}" alt="{{i.object.title|escape}}"/>
                    </a>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.topnav > li').bind('mouseover', function() { top_open($(this), 'div.sub'); })
        $('.topnav > li').bind('mouseout',  top_timer)
        $('#rating').raty(
            {
                start: {{current_rating}},
                path: '/static/images/raty/',
                {% if user.is_authenticated and not already_voted %}
                readOnly: false,
                {% else %}
                readOnly: true,
                {% endif %}
                showHalf: true,
                hintList: ['{% trans "bad" %}',
                           '{% trans "poor" %}',
                           '{% trans "regular" %}',
                           '{% trans "good" %}',
                           '{% trans "gorgeous" %}'],
                onClick: function(score) {
                    $.ajax({
                        url: '/rate/{{image.id}}/' + score + '/',
                        success: function(data, textStatus, XMLHttpRequst) {
                            $.ajax({
                                url: '/get_rating/{{image.id}}/',
                                success: function(data) {
                                    var rating = $.parseJSON(data).rating
                                    $.fn.raty.start(rating);
                                    $.fn.raty.readOnly(true);
                                }
                            });
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            $.fn.raty.readOnly(true);
                        }
                    });
                }
            }
        );
        $('a.delete').click(function() {
            var $dialog = $('<div id="dialog-confirm" title="{% trans "Delete image?" %}">></div>')
                .html('\
                        <p>\
                            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>\
                            {% trans "The image will be permanently deleted and cannot be recovered. Are you sure?" %}\
                        </p>')
                .dialog({
                    resizable: false,
                    height: 180,
                    modal: true,
                    buttons: {
                        '{% trans "Delete image" %}': function() {
                            $(this).dialog('close');
                            window.location = '/delete/{{image.id}}/';
                        },
                        Cancel: function() {
                            $(this).dialog('close');
                        }
                    }
                });
        });
        $('a.follow').live('click', function() {
            var follow_a = $(this);
            var span = follow_a.parent();

            var $dialog = $('<div id="dialog-confirm" title="{% blocktrans with image.user.username as username %}Follow {{username}}?{% endblocktrans %}"></div>')
                .html('\
                        <p>\
                            <span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 20px 0;"></span>\
                            {% blocktrans with image.user.username as username %}\
                            You will be notified when {{username}} posts new images. Continue?\
                            {% endblocktrans %}\
                        </p>')
                .dialog({
                    resizable: false,
                    height: 180,
                    modal: true,
                    buttons: {
                        '{% trans "Yes, follow!" %}': function() {
                            var dlg = $(this)
                            $.ajax({
                                url: '/follow/{{image.user.username}}/',
                                success: function() {
                                    dlg.dialog('close');
                                    follow_a.remove();
                                    span.html('<a class="unfollow" href="#">{% trans "Stop following" %}</a>');
                                    span.parent().removeClass('icon-follow');
                                    span.parent().addClass('icon-unfollow');
                                }
                            });
                        },
                        Cancel: function() {
                            $(this).dialog('close');
                        }
                    }
                });
        });
        $('a.unfollow').live('click', function() {
            var unfollow_a = $(this);
            var span = unfollow_a.parent();

            var $dialog = $('<div id="dialog-confirm" title="{% blocktrans with image.user.username as username %}Stop following {{username}}?{% endblocktrans %}"></div>')
                .html('\
                        <p>\
                            <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>\
                            {% blocktrans with image.user.username as username %}\
                            You will stop receiving notifications when {{username}} posts new images. Continue?\
                            {% endblocktrans %}\
                        </p>')
                .dialog({
                    resizable: false,
                    height: 180,
                    modal: true,
                    buttons: {
                        '{% trans "Yes, stop following!" %}': function() {
                            var dlg = $(this)
                            $.ajax({
                                url: '/unfollow/{{image.user.username}}/',
                                success: function() {
                                    dlg.dialog('close');
                                    unfollow_a.remove();
                                    span.html('<a class="follow" href="#">{% trans "Follow" %}</a>');
                                    span.parent().removeClass('icon-unfollow');
                                    span.parent().addClass('icon-follow');
                                }
                            });
                        },
                        Cancel: function() {
                            $(this).dialog('close');
                        }
                    }
                });
        });

    });
    </script>
{% endblock %}
