{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/jquery.capSlide.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/capSlide.css" />
{% endblock %}

{% block abpod %}
    <div class="small-box">
        <h2>{% trans "Quick upload" %}</h2>
        <div class="single-form">
            <form id="upload" action="/upload/process" method="post" enctype="multipart/form-data">
                <p><input type="file" name="file" id="id_file"/></p>
                <p>{% trans "Choose an image to upload it." %}</p>
            </form>
        </div>
    </div>
	{% if abpod %}
	<!-- abpod -->		
	<div id="abpod">			
		<div id="abpod-block" class="clear">
			<div id="abpod-ribbon"></div>	
			<a name="TemplateInfo"></a>
			<div class="image-block">
              <a href="/show/{{abpod.image.id}}" title="{{abpod.image.subjects}}">
                <img src="http://{{s3_thumbnails_bucket}}.{{s3_url}}/{{abpod.image.filename}}" alt="AstroBin Picture of the Day"
			         width="350px" height="350px"/></a>
			</div>			
			<div class="text-block">
				<h2><a href="/show/{{abpod.image.id}}">{{abpod.image.subjects}}</a></h2>
				<p class="post-info">{% trans "Posted by" %}
				    <a href="/user/{{abpod.image.user.name}}">
				        {{abpod.image.user.name}}
				    </a>
				</p>
				<p>{{abpod.image.description}}</p>
			</div>
		</div>		
	<!-- /abpod -->
	</div>
	{% endif %}
{% endblock %}

{% block content %}
    <h2>{% trans "Recent images" %}</h2>
    {% include 'image-list.html' %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('form#upload input').change(function() {
                $('form#upload').append('\
                    <p>\
                        <img style="margin: 10px" alt="{% trans "Uploading..." %}" src="/static/images/ajax-loader.gif"/>\
                    </p>');
                $('form#upload').submit();
            });
        });
    </script>
{% endblock %}
