{% extends 'base.html' %}
{% load i18n %}

{% block abpod %}
	{% if abpod %}
	<!-- abpod -->		
	<div id="abpod">			
		<div id="abpod-block" class="clear">
			<div id="abpod-ribbon"></div>	
			<a name="TemplateInfo"></a>
			<div class="image-block">
              <a href="/show/{{abpod.image.id}}" title="{{abpod.image.subjects}}">
                <img src="http://{{s3_thumbnails_bucket}}.{{s3_url}}/{{abpod.image.filename}}" alt="AstroBin Picture of the Day"
			         width="350px" height="350px"/></a>
			</div>			
			<div class="text-block">
				<h2><a href="/show/{{abpod.image.id}}">{{abpod.image.subjects}}</a></h2>
				<p class="post-info">{% trans "Posted by" %}
				    <a href="/user/{{abpod.image.user.name}}">
				        {{abpod.image.user.name}}
				    </a>
				</p>
				<p>{{abpod.image.description}}</p>
			</div>
		</div>		
	<!-- /abpod -->
	</div>
	{% endif %}
{% endblock %}

{% block content %}
    {% if image_list %}
    <h2>{% trans "Recent images" %}</h2>
    {% for image in image_list %}
    <div style="float:left; width: {{thumbnail_size}}px; height: {{thumbnail_size}}px;">
        <a href="/show/{{image.id}}">
            <img src="http://{{s3_thumbnails_bucket}}.{{s3_url}}/{{image.filename}}"
				 width={{thumbnail_size}} height={{thumbnail_size}} />
        </a>
    </div>
    {% endfor %}
    {% else %}
    No images.
    {% endif %}
{% endblock %}
