    {% load i18n %}
    {% load tags %}
    <div class="info-side-bar">
        <ul>
            <li class="{% current request '^/profile/(edit|save)/basic/$' %}"><a href="/profile/edit/basic/">{% trans "Basic Information" %}</a></li>
            <li class="{% current request '^/profile/(edit|save)/gear/$' %}"><a href="/profile/edit/gear/">{% trans "Gear" %}</a></li>
            <li class="last {% current request '^/profile/edit/flickr/$' %}"><a href="/profile/edit/flickr/">{% trans "Import from Flickr" %}</a></li>
    </div>

