{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% include 'profile-edit-menu.html' %}
    <div class="form-box">
        <form method="post" action="/profile/save/gear/">
        {{form.as_p}}
        <p><input class="button" type="submit" value="{% trans "Save" %}" /></p>
        </form>
        <script type="text/javascript">
            $(document).ready(function(){                
                $("#id_telescopes").fcbkcomplete({
                    json_url: "/autocomplete/telescopes/",
                    addontab: true,
                    cache: false,
                    filter_case: false,
                    height: 2                    
                });
            });
        </script>
 
    </div>  
{% endblock %}

