{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% include 'profile-edit-menu.html' %}
    <div class="form-box">
        <form method="post" action="/profile/save/gear/">
            {{form.as_p}}
            <script language="javascript">
            $(document).ready(function() {
                var selectedData = {items:{% autoescape off %}{{telescopes_prefill}}{% endautoescape %}};
                $("#id_telescopes").autoSuggest("/autocomplete/telescopes",
                    {asHtmlID: 'telescopes',
                     selectedItemProp: 'name',
                     searchObjProps: 'name',
                     preFill: selectedData.items,
                     selectedItemProp: 'name',
                     selectedValuesProp: 'name'});
            });
            </script>
            <p><input class="button" type="submit" value="{% trans "Save" %}" /></p>
        </form>
    </div>  
{% endblock %}

