<ng-wizard [config]="config">
  <ng-wizard-step
    *ngFor="let step of field.fieldGroup; let index = index; let last = last"
    [description]="step.templateOptions.label"
    [title]="getStepTitle(step, index + 1)"
    [state]="getState(step)"
  >
    <div class="row">
      <div class="col-3">
        <astrobin-image [alias]="ImageAlias.REGULAR" [id]="image.pk"></astrobin-image>
      </div>
      <div class="col">
        <formly-field [field]="step"></formly-field>
      </div>
    </div>
  </ng-wizard-step>
</ng-wizard>
