{% load i18n %}

<script type="text/javascript">
    $(function() {
        var $table = $('table.rawdata-images');
        var $rows = $table.find('tr.rawimage');
        var $header = $table.find('thead tr th:first');
        var floating_header_selector = 'thead.tableFloatingHeader th:first';

        function reset_header($h) {
            $h.text("{% trans "Name" %}");
        }

        function reset_headers() {
            reset_header($header);
            reset_header($(floating_header_selector));
        }

        function selection_header($h, count) {
            var $selected = $('<span/>').text('(' + count + ')');

            var $reset = $('<span/>').html($('<a/>')
                .attr('href', '#')
                .addClass('btn btn-mini')
                .text("{% trans "Reset selection" %}")
                .click(function(e) {
                    $table.find('tr.active').removeClass('active');
                    reset_headers();
                    e.preventDefault();
                }));

            var ids = [];
            $.each($table.find('tr.active'), function(i, $row) {
                ids.push($($row).attr('id'));
            });

            var $download = $('<span/>').html($('<a/>')
                .attr('href', '/rawdata/download/' + ids.join(',') + '/')
                .addClass('btn btn-mini btn-primary')
                .html('<i class="icon-download-alt"></i> {% trans "Download" %}'));

            var $del = $('<span/>').html($('<a/>')
                .attr('href', '/rawdata/delete/' + ids.join(',') + '/')
                .addClass('btn btn-mini btn-danger')
                .html('<i class="icon-trash"></i> {% trans "Delete" %}'))
                .click(function(e) {
                    del(ids);
                    e.preventDefault();
                });

            $h
                .html($selected)
                .append($reset)
                .append($download)
                .append($del);
        }

        function selection_headers(count) {
            selection_header($header, count);
            selection_header($(floating_header_selector), count);
        }

        function del(ids) {
            $.ajax({
                type: 'DELETE',
                url: '/rawdata/delete/' + ids.join(',') + '/',
                cache: false,
                success: function() {
                    $.each(ids, function(i, id) {
                        $table.find('tr#' + id).remove();
                    });
                    $('.tooltip').remove();
                }
            });
        }

        $rows.click(function() {
            $(this).toggleClass('active');

            var count = $table.find('tr.rawimage.active').length;
            if (count == 0) {
                reset_headers();
            } else {
                selection_headers(count);
            }
        });

        $('.delete-link').click(function(e) {
            e.stopPropagation();

            var self = this,
                $row = $(self).closest('tr'),
                id = $row.attr('id');

            del([id]);

            e.preventDefault();
        });

        $table.stickyTableHeaders({fixedOffset: 44});
    });
</script>
