<ng-select
  [bindValue]="'value'"
  [items]="to.options | formlySelectOptions: field | async"
  [multiple]="to.multiple"
  [formControl]="formControl"
  groupBy="group"
>
  <ng-template ng-optgroup-tmp let-item="item">
    {{ item.label }}
  </ng-template>

    <ng-template ng-label-tmp let-item="item">
    <ng-container *ngIf="!to.optionTemplate">{{ item.label }}</ng-container>
    <ng-container
      *ngIf="to.labelTemplate"
      [ngTemplateOutlet]="to.labelTemplate"
      [ngTemplateOutletContext]="{ item: item }"
    ></ng-container>
  </ng-template>

  <ng-template ng-option-tmp let-item="item">
    <ng-container *ngIf="!to.optionTemplate">{{ item.label }}</ng-container>
    <ng-container
      *ngIf="to.optionTemplate"
      [ngTemplateOutlet]="to.optionTemplate"
      [ngTemplateOutletContext]="{ item: item }"
    ></ng-container>
  </ng-template>
</ng-select>
