@import "mixins";

.recent-images,
.activity-actions{
  .loading {
    margin: 0 auto;
  }
}

.recent-images {
    li.astrobin-thumbnail {
    @media (min-width: $xl-min) {
      width: calc(100%/10 - 4px);
    }

    @media (max-width: $lg-max) {
      width: calc(100%/8 - 4px);
    }

    @media (max-width: $md-max) {
      width: calc(100%/6 - 4px);
    }

    @media (max-width: $sm-max) {
      width: calc(100%/5 - 4px);
    }

    @media (max-width: $xs-max) {
      width: calc(100%/4 - 4px);
    }

    @media (max-width: 430px) {
      width: calc(100%/3 - 4px);
    }

    @media (max-width: 240px) {
      width: calc(100%/3 - 4px);
    }
  }
}

.activity-actions {
  .action {
    position: relative;
    display: inline-block;
    width: calc(50% - 1rem - -6px);

    .toggleproperty-add-remove {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 2;
      margin: 0;
      width: 30px;

      button {
        font-size: 12px;
        line-height: 12px;
        padding: 6px;
      }

      .icon {
        line-height: 26px;
      }

      .toggleproperties-label {
        display: none;
      }
    }

    .avatar {
      max-width: 64px;
      position: absolute;
      top: 6px;
      left: 6px;
      z-index: 2;
      @include box-shadow;
      @include rounded-corners(20px);
    }

    .action-object {
      overflow: hidden;
      width: 100% !important;

      .verb {
        position: absolute;
        bottom: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, .5);
        backdrop-filter: blur(4px);
        width: 100%;
        hyphens: auto;

        > .inner {
          padding: 12px;
        }
      }

      .title {
        position: absolute;
        top: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, .5);
        backdrop-filter: blur(4px);
        width: 100%;
        color: $text-color;
        hyphens: auto;

        > .inner {
          padding: 12px;

          .wanted {
            margin-right: .5rem;
            text-transform: uppercase;
            color: $grey-4;
          }

          .image-title a {
            color: $text-color;
          }
        }
      }

      &.has-like-button .title .inner {
        padding-right: 50px;
      }

      &.has-avatar .title .inner {
        padding-left: 80px;
      }

      .astrobin-image-container {
        a {
          display: block;
        }

        img {
          width: 100%;
        }

        p {
          margin-top: 4rem;
          padding: 0 .75rem;
        }
      }
    }
  }
}
