@import "variables";
@import "mixins";

.activity-actions {
  .action {
    position: relative;
    margin-bottom: $spacer-large;
    zoom: 1;
    display: inline-block;
    width: 460px;
    height: 320px;

    &:nth-child(odd) {
      margin-right: 16px;
    }

    .toggleproperty-add-remove {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 2;
      margin: 0;
      width: 30px;

      button {
        font-size: 12px;
        line-height: 12px;
        padding: 6px;
      }

      .icon {
        line-height: 26px;
      }

      .toggleproperties-label {
        display: none;
      }
    }

    .avatar {
      max-width: 64px;
      position: absolute;
      top: 6px;
      left: 6px;
      z-index: 2;
      @include box-shadow;
      @include rounded-corners(20px);
    }

    .action-object {
      width: 460px;
      height: 320px;
      overflow: hidden;

      .verb {
        position: absolute;
        bottom: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, .5);
        backdrop-filter: blur(4px);
        width: 100%;
        max-height: 60px;

        > .inner {
          padding: 12px;
        }
      }

      .title {
        position: absolute;
        top: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, .5);
        backdrop-filter: blur(4px);
        width: 100%;
        color: $text-color;

        > .inner {
          padding: 12px;

          .image-title a {
            color: $text-color;
          }
        }
      }

      &.has-like-button .title .inner {
        padding-right: 50px;
      }

      &.has-avatar .title .inner {
        padding-left: 80px;
      }

      .astrobin-image-container {
        a {
          display: block;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
