@-webkit-keyframes half-opacity-pulse {
  0% {
    opacity: .75;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .75;
  }
}

@keyframes half-opacity-pulse {
  0% {
    opacity: .75;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .75;
  }
}
