@font-face {
    font-family: LeagueGothicRegular;
    src: url("../fonts/LeagueGothic-Regular.otf") format("opentype");
}

@media screen and (max-width: 979px) {
    html, body {
        font-size: 16px;
    }

    .anchor {
        top: 0;
    }

    .brand-mobile {
        font: 40px "LeagueGothicRegular";
        text-transform: uppercase;
        position: absolute;
        top: 11px;
        left: 60px;
        color: #222;
        text-shadow: 0 -1px 0 #000, 0 1px 0 #333;

        &:hover, &:focus, &:active {
            color: #ddd;
            text-shadow: none;
            top: 11px;
        }
    }

    .astrobin-container {
        padding-bottom: 28px;
        margin-bottom: 0;

        &.has-subnav {
            padding-top: 28px;
        }
    }

    .navbar {
        .nav {
            margin: 5px;
        }
        input {
            width: 100%;
        }
        .btn-navbar {
            margin: 0;
            position: absolute;
            top: 20px;
            left: 12px;

            .text {
                text-shadow: none;
                position: absolute;
                top: 4px;
                left: 34px;
            }
            &:last-child {
                margin-bottom: 10px;
            }
        }
    }

    .navbar-fixed-top {
        margin: 0;

        .container {
            max-height: inherit;
        }
    }

    .site-nav.nav-collapse,
    .user-nav.nav-collapse {
        overflow: hidden;
        z-index: 1021;

        .nav > li > a, .dropdown-menu a {
            font-weight: normal;
            color: #ececec !important;
        }
    }

    .site-nav.nav-collapse {
        position: absolute;
        top: 52px;
        left: 12px;
        background: #111;
    }

    .user-nav .dropdown-menu {
        z-index: 1021;
    }

    .user-card .avatar {
        width: 140px;
        height: 140px;
    }

    .group-list {
        td, th {
            &.group-members, &.group-images, &.group-forum-posts,
            &.member-images-count, &.member-posts-count {
                width: 15%;
            }
        }
    }

    .image-of-the-day {
        .header {
            h2 {
                font-size: 20px;
            }

            .title {
                display: none;
            }
        }
    }

    .activity-actions {
        text-align: center;

        .action {
            text-align: left;
            width: 100%;
            height: auto;
            margin-bottom: 24px;

            .avatar {
                float: none;
                position: absolute;
                top: 4px;
                left: 4px;
                z-index: 1;
            }

            .action-object {
                float: none;
                width: 100%;

                .verb {
                    top: initial;
                    bottom: 0;
                    width: 100%;

                    .verb-inner {
                        padding-left: 12px;
                    }
                }
            }
        }
    }

    .iotd-queue-item {
        .iotd-queue-item-actions {
            visibility: visible;

            a {
                padding: 16px 24px;
            }
        }
    }
}


@media screen and (max-width: 767px) {
    body, .astrobin-container {
        padding: 0;
    }

    h1, h2 {
        text-align: center;
        padding-bottom: 8px;
        display: block;
        border-bottom: 1px solid #404040;

        +.subtitle {
            text-align: center;
        }

        small {
            padding-top: 8px;
            line-height: 22px;
            display: block;
        }
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    h4, p {
        padding: 0 12px;
    }

    #astrobin-index-mobile-header {
        font-size: 12px;
        font-style: italic;
        line-height: 42px;
        color: #999;
        padding: 0 4px;
    }

    .subtle-container, .subtle-container .header, .subnav,
    footer .container
    {
        -webkit-border-radius: 0;
        border-radius: 0;
        margin-top: 0;
    }

    .astrobin-thumbnails {
        text-align: center;
    }

    .image-of-the-day {
        h2 {
            left: 0;
        }

        img {
            -webkit-border-radius: 0;
            border-radius: 0;
        }
    }

    .iotd-ribbon-container {
        margin: 0;

        .iotd-ribbon {
            width: 100%;
            left: 0;

            &:after {
                display: none;
            }

            .ribbon-content:after {
                display: none;
            }
        }
    }

    .main-image .main-image-inner img {
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    div.image-title {
        padding: 0 12px;
    }

    .btn-block-mobile {
        display: block !important;
        width: 100% !important;
        margin: 8px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 11px 19px;
        font-size: 16.25px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    .loading {
        display: block;
        margin: 20px 0;
        text-align: center;

        &.hide {
            visibility: hidden;
        }
    }

    .alert {
        -webkit-border-radius: 0;
        border-radius: 0;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    form {
        padding-left: 12px;
        padding-right: 12px;
    }

    .topic {
        .subscriber-list {
            padding: 12px;
            font-size: 14px;
        }
    }

    .group-description {
        padding: 0 12px;
    }

    .image-of-the-day {
        margin: 0;

        .header {
            border-radius: 0;
            position: initial;

            h2 {
                font-size: 14px;
                padding: 0;
            }

            .title {
                display: none;
            }
        }

        .astrobin-image-container {
            img {
                border-radius: 0;
            }
        }
    }

    .subtle-container {
        padding: 0;
    }

    .breadcrumb {
        margin-left: -15px;
        width: calc(100% - 45px);
    }

    .astrobin-container .subtitle {
        padding-left: 45px;
        width: calc(100% - 45px);
    }

    .subscription-plans-overview {
        .subtle-container {
            .logo {
                top: -15%;
                width: 100%;
            }
        }
    }
}


@media screen and (max-width: 375px) {
    .modal {
        .form-horizontal {
            input[type="text"], input[type="number"],
            select,
            .help-inline {
                width: 95%;
            }
        }
    }
}
