@media screen and (min-width: 992px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container,
  .navbar .container {
    width: 880px;
  }

  .container.accordion {
    width: 940px;
  }

  .container.header-container {
    width: 930px;
  }

  #index {
    .image-of-the-day {
      .astrobin-image {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container,
  .navbar .container {
    width: 1056px;
  }

  .container.accordion {
    width: 1116px;
  }

  .astrobin-container {
    width: 1056px;
  }

  footer .container {
    max-width: unset;
    width: 1058px;
  }

  .image-page-left-pane {
    width: calc(70% - 12px) !important;
  }

  .image-page-right-pane {
    width: calc(30% - 12px) !important;
  }

  .main-image {
    max-width: unset;
  }

  .histogram {
    .astrobin-image {
      width: 100%;
    }
  }

  .user-card {
    .avatar {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }

      .profile-details {
        bottom: 12px;
      }

      &,
      &:hover {
        .icon.edit {
          position: absolute;
          top: calc(50% - 40px);
          left: calc(50% - 40px);
        }
      }
    }
  }

  .astrobin-users .user-card .avatar img {
    width: 186px;
  }

  ul.astrobin-thumbnails {
    .endless_container {
      display: list-item;
      text-align: right;

      .btn {
        margin-right: 10px;
        margin-top: 50px;
      }
    }
  }

  .collections > .collection {
    width: 185px;
    height: 185px;

    .collection-image {
      line-height: 162px;
    }

    > .collection-tools {
      left: 34px;
      bottom: 34px;
      width: 120px;
    }
  }

  .top-picks-item .astrobin-image {
    width: 535px;
  }

  .iotd-archive-image .astrobin-image {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .container,
  .astrobin-container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container,
  .navbar .container,
  footer .container {
    width: 1240px;
  }

  .container.accordion {
    width: 1300px;
  }

  .action,
  .action-object {
    width: calc(33.34% - 1rem - -4px) !important
  }

  .image-page-left-pane {
    width: calc(70% - 14px) !important;
  }

  .image-page-right-pane {
    width: calc(30% - 14px) !important;
  }

  .revisions-container li.revisions {
    width: calc(33.34% - 12px);
  }
}
