@import 'mixins';

@font-face {
  font-family: LeagueGothicRegular;
  src: url("../fonts/LeagueGothic-Regular.otf") format("opentype");
}

@media screen and (max-width: $md-max) {
  html, body {
    font-size: 16px;
  }

  body {
    padding-top: 50px;
  }

  body.full {
    .navbar {
      position: unset !important;

      .brand-mobile {
        display: none !important;
      }
    }
  }

  .anchor {
    top: 0;
  }

  .brand-mobile {
    font-size: 1.25rem;

    @media (min-width: $sm-min) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    a {
      color: $grey-2;
    }
  }

  .astrobin-container {
    padding-bottom: 28px;
    margin-bottom: 0;

    &.has-subnav {
      padding-top: 28px;
    }
  }

  .extra-alerts.has-subnav .alert:first-child {
    margin-top: 43px;
  }

  .navbar {
    position: fixed !important;

    .navbar-inner {
      box-shadow: none;
    }

    .nav {
      margin: 5px;
    }

    input {
      width: 100%;
    }

    .btn-navbar {
      margin: 0;
      background-image: none;
      background-color: transparent;
      box-shadow: none;
      border: 1px solid $grey-6;
      padding: 4px 12px;

      i {
        color: $grey-2;
        margin-right: 0;
        font-size: 1.25rem;
      }
    }
  }

  .subnav-fixed {
    position: fixed;
    top: 65px;
    z-index: 1029;
  }

  .extra-alerts {
    margin: 0;
    width: 100%;

    .alert {
      margin: 0;
    }
  }

  .navbar-fixed-top {
    margin: 0;

    .container {
      max-height: inherit;
    }
  }

  .site-nav.nav-collapse,
  .user-nav.nav-collapse {
    overflow: hidden;
    z-index: 1021;

    .nav > li > a,
    .dropdown-menu {
      a {
        font-weight: normal;
      }
    }

    .dropdown-menu {
      background-color: $grey-7;
      padding: .5rem 1rem;
      margin: 0;

      li {
        padding: .5rem 0;

        &.divider {
          display: block;
          padding: 0;
        }
      }
    }
  }

  .site-nav.nav-collapse {
    left: -100%;

    &.in {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      border: 0;
      height: calc(100% - 1rem) !important;
      width: 300px;
      z-index: 1040;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: $grey-6-dark url('../images/darker-panel-tile.png');
      margin: 0;
      border-radius: 0;
      overflow: auto;
      transition: left ease 0.25s, height 0s;
      margin: 0 !important;
      padding-bottom: 1rem;
    }

    .navbar-search {
      margin: 0;
      padding: .5rem;
      border: 0;
      box-shadow: none;

      input {
        width: calc(100% - 32px);
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      width: 100%;

      > li {
        padding: .75rem 0;

        .navbar-search {
          margin: 0;
          padding: 0;
          border: 0;
          box-shadow: none;
        }
      }
    }
  }

  .user-nav .dropdown-menu {
    z-index: 1021;
  }

  .user-card .avatar {
    width: 183px;
    height: 183px;
    margin-top: -10px;
  }

  .group-list {
    td, th {
      &.group-members, &.group-images, &.group-forum-posts,
      &.member-images-count, &.member-posts-count {
        width: 15%;
      }
    }
  }

  .image-of-the-day {
    margin-bottom: $spacer-xlarge;

    .header {
      h2 {
        background: $gold;
        background: -webkit-gradient(linear, left top, left bottom, from($gold), to(darken($gold, 10%)));
        background: -webkit-linear-gradient(top, $gold, darken($gold, 10%));
        background: -moz-linear-gradient(top, $gold, darken($gold, 10%));
        background: -ms-linear-gradient(top, $gold, darken($gold, 10%));
        background: -o-linear-gradient(top, $gold, darken($gold, 10%));
        background-image: -ms-linear-gradient(top, $gold 0%, darken($gold, 10%) 100%);
        -webkit-box-shadow: rgba(000, 000, 000, 0.3) 0 1px 1px;
        -moz-box-shadow: rgba(000, 000, 000, 0.3) 0 1px 1px;
        box-shadow: rgba(000, 000, 000, 0.3) 0 1px 1px;
        color: #f5ddae;
        text-shadow: #8f6b22 0 1px 0;

        .info {
          color: #f5ddae;
          text-shadow: #8f6b22 0 1px 0;
        }
      }

      .title {
        display: none;
      }
    }

    .astrobin-image-container {
      padding-top: 66px;

      img {
        border-radius: 0;
      }
    }
  }

  .iotd-queue-item {
    .iotd-queue-item-actions {
      visibility: visible;

      a {
        padding: 16px 24px;
      }
    }

    img {
      width: 354px !important;
    }
  }

  .top-picks-item img {
    width: 354px !important;
  }

  .revisions-container {
    li.revisions {
      .revision {
        &.current {
          @include rounded-corners(16px);
        }

        .label {
          @include rounded-corners-bottom(12px);
        }

        .final .text {
          @include rounded-corners-top(12px);
        }
      }
    }
  }

  .collections {
    > .collection {
      width: 158px;

      > .collection-tools {
        width: 113px;
      }
    }
  }
}

@media screen and (max-width: $sm-max) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .astrobin-container {
    padding: 0;

    &.has-subnav {
      padding-top: 26px;
    }

    .subtitle {
      margin-top: 0;
    }
  }

  h1, h2 {
    text-align: center;
    padding-bottom: 8px;
    display: block;
    border-bottom: 1px solid #404040;

    + .subtitle {
      text-align: center;
    }

    small {
      padding-top: 8px;
      line-height: 22px;
      display: block;
    }
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 22px;
  }

  h4, p {
    padding: 0 12px;
  }

  .subnav-fixed {
    .nav {
      padding-left: 0;
      padding-right: 0;
    }
  }


  .alert .btn {
    margin-left: 12px;
  }

  .subtle-container .header {
    width: calc(100% - 2rem);
    margin-left: 0;

    .actions {
      right: 20px;
    }
  }

  .subtle-container .footer {
    width: calc(100% - 2rem);
    margin: 1.5rem -1.5rem 0 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .subtle-container,
  .subtle-container .header,
  .subnav,
  footer .container {
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-top: 0;
  }

  .astrobin-thumbnails {
    text-align: center;
  }

  .image-of-the-day {
    .header {
      border-radius: 0;
      position: initial;

      h2 {
        font-size: 18px;
        line-height: 48px;
        padding: 0;
      }

      .title {
        display: none;
      }
    }

    .astrobin-image-container {
      padding-top: 0;
      border-bottom: 8px solid $gold;
    }
  }

  .iotd-ribbon-container {
    margin: 0;

    .iotd-ribbon {
      width: 100%;
      left: 0;

      &:after {
        display: none;
      }

      .ribbon-content:after {
        display: none;
      }
    }
  }

  .main-image {
    text-align: center;

    .main-image-inner img {
      -webkit-border-radius: 0;
      border-radius: 0;
    }
  }

  div.image-title {
    padding: 0 12px;
    text-align: center;
  }

  .image-description .subtle-container .body {
    padding: 0 .75rem;
  }

  .revisions-container {
    li.revisions {
      &,
      figure {
        width: 110px;
      }

      .astrobin-image {
        width: 100%;
      }
    }
  }

  .btn-block-mobile {
    display: block !important;
    width: 100% !important;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 11px 19px;
    font-size: 16.25px;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
  }

  .loading {
    display: block;
    margin: 20px 0;
    text-align: center;

    &.hide {
      visibility: hidden;
    }
  }

  .alert {
    -webkit-border-radius: 0;
    border-radius: 0;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  form:not(.navbar-search) {
    padding-left: 12px;
    padding-right: 12px;
  }

  .topic {
    .subscriber-list {
      padding: 12px;
      font-size: 14px;
    }
  }

  .group-description {
    padding: 0 12px;
  }

  .subtle-container {
    padding: 1.5rem 0;

    .header {
      margin-top: -24px;
    }
  }

  .breadcrumb {
    display: none;
  }

  .astrobin-container .subtitle {
    padding-left: 45px;
    width: calc(100% - 45px);
  }

  .subscription-plans-overview {
    .subtle-container {
      .logo {
        top: -15%;
        width: 100%;
      }
    }
  }

  .top-picks, .iotd-promotion-queue {
    justify-content: center;
  }

  .iotd-queue-item, .top-picks-item {
    margin-right: 0 !important;

    .image-title {
      text-align: left;
      padding: 0;
    }

    img {
      width: 100% !important;
    }
  }

  .avatar-block {
    margin-bottom: 0;
  }

  .technical-card-acquisition {
    .astrometry-header {
      padding: 0 $spacer-large;
    }
  }

  .toggleproperty-add-remove.property-like {
    margin-left: $spacer-medium;
    width: calc(70% - 22px);
  }

  .user-page {
    .advertisement {
      margin-top: -20px;
    }

    .profile-meta {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -20px;
      margin-bottom: 12px;
      padding: 2rem 0;
      background-size: cover;
      background-position: center;

      > .user-card {
        margin: 0;
        box-shadow: 0 0 2rem $black;

        .avatar {
          width: 157px;
          height: 157px;
        }
      }

      > .about,
      > .add-about-section {
        background: rgba(0, 0, 0, .5);
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: -2rem;
        border: 0;

        .header {
          display: none;
        }
      }
    }
  }

  .user-gallery {
    .nav-pills {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (max-width: 500px) {
  .activity-actions {
    text-align: center;

    .action {
      text-align: left;
      width: 100%;
      height: auto;
      margin-bottom: 24px;
      box-shadow: 0 0 .75rem rgba(0, 0, 0, .75);

      &:nth-child(odd) {
        margin-right: 0 !important;
      }

      .toggleproperty-add-remove.property-like {
        top: .5rem;
        right: .5rem;
      }

      .avatar {
        float: none;
        position: absolute;
        top: 4px;
        left: 4px;
        z-index: 2;
      }

      .action-object {
        float: none;
        width: 100%;
        height: auto;

        &.has-like-button .title .inner {
          padding-right: 35px;
        }

        .title {
          top: initial;
          bottom: initial;
          position: initial;
          backdrop-filter: none;
        }

        .verb {
          top: initial;
          bottom: initial;
          position: initial;
          width: 100%;
          backdrop-filter: none;


          .verb-inner {
            padding-left: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .modal {
    .form-horizontal {
      input[type="text"], input[type="number"],
      select,
      .help-inline {
        width: 95%;
      }
    }
  }
}
