a[data-fancybox] img {
  cursor: zoom-in;
}

.fancybox__backdrop::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 10%;
  filter: blur(2px);
  left: 50%;
  top: 50%;
  transform: scale(11);
  opacity: 0.3;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.fancybox__container {
  --fancybox-bg: #000;

  --fancybox-thumbs-width: 4rem;
  --fancybox-thumbs-ratio: 1;

  --carousel-button-bg: rgba(91, 78, 76, .74);
  --carousel-button-svg-stroke-width: 2.5;

  z-index: 1049;

  .fancybox__content {
    .fancybox__overlaySolution {
      position: absolute;
      width: 100%;
      pointer-events: none;
      opacity: 0;
      transition: opacity .25s ease-out;
    }

    &:hover .fancybox__overlaySolution {
      opacity: 1;
    }
  }
}

.fancybox__toolbar {
  padding: .5rem !important;

  --carousel-button-svg-width: 1rem;
  --carousel-button-svg-height: 1rem;

  .carousel__button {
    margin: 0 .25rem;

    i {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 767px) {
    --carousel-button-width: 2rem;
    --carousel-button-height: 2rem;

    &__items--center:not(:last-child) {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    &__items--center:not(:last-child) {
      display: flex;
    }
  }
}

.fancybox__nav {
  display: none;
}

.fancybox__nav .carousel__button.is-prev {
  left: 1rem;
}

.fancybox__nav .carousel__button.is-next {
  right: 1rem;
}

.carousel__button.is-close {
  right: auto;
  top: 1.5rem;
  left: 1.5rem;
}

.fancybox__slide {
  padding: 0;
  margin-top: 5rem;
}

.fancybox__caption {
  text-align: center;

  @media screen and (max-width: 567px) {
    bottom: 0;
    width: 100vw;
  }

  .fancybox__caption__text {
    margin-top: .5rem;
  }

  .fancybox__caption__buttons {
    display: block;
    margin: 1rem 0;

    .btn:not(:last-child) {
      margin-right: .5rem;
    }
  }

  .fancybox__caption__help {
    margin-bottom: .5rem;
    font-style: italic;
    opacity: .5;
    font-size: .8rem;
    white-space: normal;
  }
}

.fancybox__button--toggleProperty i {
  pointer-events: none;
}
