.fancybox-overlay {
  z-index: 1040;
}

.fancybox-opened {
  z-index: 1041;
}

.fancybox-wrap {
  transform: unset !important;
  -webkit-transform: unset !important;

  .fancybox-skin {
    background: $grey-8;
  }

  .fancybox-nav {
    position: fixed;
    width: 33.33%;
    z-index: 1041;

    &.fancybox-next > span {
      right: 50px;
    }

    &.fancybox-prev > span {
      left: 50px;
    }

    > span {
      @media screen and (min-width: 1024px) {
        visibility: visible;
      }
    }
  }

  .fancybox-title {
    @media screen and (max-width: 567px) {
      position: fixed;
      top: 0;
      max-width: 100vw;
    }

    .fancybox-title-caption {
      margin-top: .5rem;
    }

    .fancybox-title-buttons {
      display: block;
      margin: 1rem 0;

      .btn:not(:last-child) {
        margin-right: .5rem;
      }
    }

    .fancybox-title-help {
      margin-bottom: .5rem;
      font-style: italic;
      opacity: .5;
      font-size: .8rem;
      max-width: 80vw;
      white-space: normal;
    }
  }
}
