@import 'variables';

table.topic-list {
  color: #606060;

  a {
    color: #606060;
    border-bottom: 1px dotted #404040;

    &:hover {
      color: $link-color;
    }
  }
}

table.forums, table.topic-list {
  table-layout: auto;

  th {
    white-space: nowrap;
  }

  td {
    @media screen and (min-width: 980px) {
      text-overflow: clip;
      overflow: hidden;
    }
  }

  td, th {
    vertical-align: middle;
  }

  td.topic-name {
    text-align: left !important;
    line-height: 24px;
    width: 99%;

    > a:first-child {
      font-size: 1.15rem;
      border: 0;
      display: inline;

      + br {
        content: "";
        display: block;
        margin-top: 4px;
      }
    }
  }

  .topic-forum {
    padding-right: 20px;
  }

  .on-moderation a {
    color: $strong-text-color;
  }
}

th.forum-name {
  font-size: 18px;
  line-height: 32px;
}

.forum-description {
  margin: 5px;
  font-size: $base-font-size - 2;
}

.forum-row, .topic-row {
  width: 100%;
}

.forum-topic-count, .forum-post-count, .topic-post-count, .topic-view-count {
  text-align: center !important;
}

.forum-last-post, .topic-last-post {
  text-align: right !important;
  white-space: nowrap;
}

.first-unread-post-link {
  color: $link-color !important;
  text-decoration: none;
  border: 0 !important;
  padding-left: 8px;
}

.post {
  margin: 0 0 12px 0;
}

.post-header {
  text-align: left;

  th {
    position: relative;
    padding: 0 20px !important;
    height: 60px;
    vertical-align: middle !important;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .post-author {
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
  }

  .post-updated {
    color: $grey-4;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    margin-left: .5rem;
  }

  .post-likes {
    color: $white;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    margin-left: .5rem;
  }
}

.post tbody tr:hover td {
  background-color: inherit !important; // Cancel bootstrap's on-hover highlight
}

.post-info {
  width: 220px;

  .post-author {
    font-size: $base-font-size + 1;
    padding: 5px 0;
  }

  .post-extra-info {
    font-size: $base-font-size - 2;
    color: #777;
  }
}

.post-content {
  font-size: 14.5px;
  line-height: 20px;
  padding: 18px !important;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  ul, ol {
    list-style: initial;
    margin: 15px 30px;
  }

  blockquote {
    background-color: $grey-8;
    padding: 20px 20px 20px 60px;
    border: 1px solid #555;
    position: relative;
    min-height: 34px;

    + br,
    + br + br,
    + br + br + br {
      content: "";
    }

    @media screen and (max-width: 767px) {
      padding-left: 40px;
    }

    @media screen and (max-width: 479px) {
      padding-left: 20px;
    }
  }

  blockquote:before {
    display: block;
    content: "\201C";
    font-size: 90px;
    position: absolute;
    left: 8px;
    top: 50px;
    color: $grey-5;
    font-family: Georgia, serif;

    @media screen and (max-width: 767px) {
      font-size: 60px;
      top: 38px;
    }

    @media screen and (max-width: 479px) {
      font-size: 30px;
      top: 28px;
      left: 4px;
    }
  }

  img {
    &[alt='smile'] {
      width: 18px;
      height: 18px;
      margin-left: 1px;
      margin-right: 1px;
    }

    &:not([alt='smile']) {
      margin: 15px 0;
    }
  }

  ul,
  ol {
    + br + img:not([alt='smile']) {
    margin-top: -19px;
    }
  }

  img:not([alt='smile']) + br {
    + ul,
    + ol {
      margin-top: 0;
    }
  }
}

.post-signature {
  color: #CCC;
  margin-top: 15px;
  border-top: 1px dotted #CCC;
  display: block;
}

.post-related {
  margin-top: 20px;

  .btn {
    font-size: 11px;
    text-transform: uppercase;
    font-style: italic;
    background: #3C3C3C;
    border: 1px solid #323232;
    color: #B0B0B0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    padding: $spacer-small $spacer-medium;
    border-radius: 6px;

    &:not(:last-child) {
      margin-right: $spacer-small;
    }

    [class^="icon-"] {
      margin-right: $spacer-small;
    }
  }

  .btn-primary {
    color: white;
    background: $link-color;
  }

  .btn-danger {
    color: white;
    background: $red;
  }

  .toggleproperty-add-remove {
    width: auto !important;
    margin-left: 0 !important;

    .btn {
      width: auto;
      line-height: 18px;
      font-size: 11px;
      padding: $spacer-small $spacer-medium;

      &.active {
        background: $grey-4;
      }
    }
  }
}

.forum-headline {
  margin-top: 10px;
}

.attachments-form {
  padding-bottom: 15px;
}

.attachment-link {
  border-bottom: 1px dotted;
}

/* --- Unread --- */

.state-indicator {
  display: block;
  float: left;
  background-color: #555;
  height: 10px;
  width: 10px;
  @include border-radius(5px);
  margin: 3px 5px;
}

.topic-unread, .forum-unread, .message-unread {
  a:first-child {
    font-weight: bold;
  }

  .state-indicator {
    background-color: $link-color;
  }
}

/* --- Moderation --- */
.on-moderation {
  background: #d65454;

  .post-content {
    color: black;
  }
}

/* --- Mini pagination --- */
.mini-pagination {
  padding: 3px 0 3px 10px;
  font-size: $base-font-size - 2;

  .page {
    margin-right: 2px;

    a {
      color: $link-color;
    }
  }
}

.topic-select, .topic-state, .forum-status, .notification-state, .message-state {
  width: 20px;
}

table.post th.post-avatar {
  width: 80px;
}

.post-form-loading {
  margin: 0 0 30px;
}

.post-form {
  margin-top: 40px;
  display: none;

  li {
    list-style: initial;
  }

  input, textarea, select {
    width: 98%;
  }

  input[type="submit"] {
    width: auto;
  }
}

.submit {
  margin-top: 24px;
}

.topic h1, .forum h1, .category h1 {
  margin: 24px 0 8px 0;
  font-size: 24px;
}

.post-content .updated-message {
  color: #777;
  font-size: x-small;
  margin-top: 20px;
}

.forums .forum-name,
.forum .topic-name {
  width: 99%;
}

.forums .forum-name,
.forum .topic-forum,
.forum .topic-name {

  > a:first-child {
    color: $white;
    padding-top: 6px;
    padding-bottom: 6px;

    &:hover {
      color: $link-color;
    }
  }
}

