@import 'variables';

@keyframes highlighted {
  from {
    background-color: rgba(255, 255, 255, 0.4);
  }
  to {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

table.topic-list {
  color: #606060;

  a {
    color: #606060;
    border-bottom: 1px dotted #404040;

    &:hover {
      color: $link-color;
    }
  }
}

table.forums, table.topic-list {
  table-layout: auto;

  th {
    white-space: nowrap;
  }

  td {
    @media screen and (min-width: 980px) {
      text-overflow: clip;
      overflow: hidden;
    }
  }

  td, th {
    vertical-align: middle;
  }

  td.topic-name {
    text-align: left !important;
    line-height: 24px;
    width: 99%;

    .poll {
      font-style: italic;
      color: $grey-4;
      margin-right: .5rem;
    }

    > a:first-child {
      font-size: 1.15rem;
      border: 0;
      display: inline;

      + br {
        content: "";
        display: block;
        margin-top: 4px;
      }
    }
  }

  .topic-forum {
    padding-right: 20px;
  }

  .on-moderation a {
    color: $strong-text-color;
  }
}

th.forum-name {
  font-size: 18px;
  line-height: 32px;
}

.forum-description {
  margin: 5px;
  font-size: $base-font-size - 2;
}

.forum-row, .topic-row {
  width: 100%;
}

.forum-topic-count, .forum-post-count, .topic-post-count, .topic-view-count {
  text-align: center !important;
}

.forum-last-post, .topic-last-post {
  text-align: right !important;
  white-space: nowrap;
}

.first-unread-post-link {
  color: $link-color !important;
  text-decoration: none;
  border: 0 !important;
  padding-left: 8px;
}

.post {
  margin-bottom: 2.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);

  &.even .post-content {
    background: rgba(255, 255, 255, .02);
  }

  &.odd .post-content {
    background: rgba(0, 0, 0, .05);
  }

  &.highlighted .post-content {
    animation-name: highlighted;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.post-header {
  text-align: left;

  th {
    position: relative;
    padding: 0 18px !important;
    height: 60px;
    vertical-align: middle !important;
    border-bottom-color: $grey-5 !important;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .post-author {
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
  }

  .post-updated {
    color: $grey-4;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    margin-left: .5rem;
  }

  .post-likes {
    color: $white;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    margin-left: .5rem;
  }
}

.post-info {
  width: 220px;

  .post-author {
    font-size: $base-font-size + 1;
    padding: 5px 0;
  }

  .post-extra-info {
    font-size: $base-font-size - 2;
    color: #777;
  }
}

.post-content {
  font-size: 14.5px;
  line-height: 20px;
  padding: 1.5rem 18px !important;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  ul, ol {
    list-style: initial;
    margin: 15px 30px;
  }

  blockquote {
    background-color: $grey-8;
    margin: 20px 0;
    padding: 20px 20px 20px 60px;
    border: 1px solid #555;
    position: relative;
    min-height: 34px;

    @media screen and (max-width: 767px) {
      padding-left: 40px;
    }

    @media screen and (max-width: 479px) {
      padding-left: 20px;
    }
  }

  blockquote:before {
    display: block;
    content: "\201C";
    font-size: 90px;
    position: absolute;
    left: 8px;
    top: 50px;
    color: $grey-5;
    font-family: Georgia, serif;

    @media screen and (max-width: 767px) {
      font-size: 60px;
      top: 38px;
    }

    @media screen and (max-width: 479px) {
      font-size: 30px;
      top: 28px;
      left: 4px;
    }
  }

  img {
    margin: 15px 0;

    &[alt='smile'],
    &[src*='precise_bbcode'] {
      width: 18px;
      height: 18px;
      margin: 0 1px;
    }
  }

  ul,
  ol {
    + br + img:not([alt='smile']) {
      margin-top: -19px;
    }
  }

  img:not([alt='smile']) + br {
    + ul,
    + ol {
      margin-top: 0;
    }
  }
}

.post-signature {
  color: #CCC;
  margin-top: 15px;
  border-top: 1px dotted #CCC;
  display: block;
}

.post-related {
  margin-top: 1.5rem;
  margin-bottom: -.5rem;
  text-align: right;

  .btn {
    font-size: 11px;
    text-transform: uppercase;
    font-style: italic;
    background: #3C3C3C;
    border: 1px solid #323232;
    color: #B0B0B0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    padding: $spacer-small $spacer-medium;
    border-radius: 6px;

    &:not(:last-child) {
      margin-right: $spacer-small;
    }

    [class^="icon-"] {
      margin-right: $spacer-small;
    }
  }

  .btn-primary {
    color: white;
    background: $link-color;
  }

  .btn-danger {
    color: white;
    background: $red;
  }

  .toggleproperty-add-remove {
    width: auto !important;
    margin: 0 2px 0 0 !important;

    .btn {
      width: auto;
      line-height: 18px;
      font-size: 11px;
      padding: $spacer-small $spacer-medium;

      &.active {
        background: $grey-4;
      }
    }
  }
}

.forum-headline {
  margin-top: 10px;
}

.attachments-form {
  padding-bottom: 15px;
}

.attachment-link {
  border-bottom: 1px dotted;
}

/* --- Unread --- */

.state-indicator {
  display: block;
  float: left;
  background-color: #555;
  height: 10px;
  width: 10px;
  @include border-radius(5px);
  margin: 3px 5px;
}

.topic-unread, .forum-unread, .message-unread {
  a:first-child {
    font-weight: bold;
  }

  .state-indicator {
    background-color: $link-color;
  }
}

/* --- Moderation --- */
.on-moderation {
  background: #d65454;

  .post-content {
    color: black;
  }
}

.forum-tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1em;

  @media screen and (max-width: 579px) {
    flex-direction: column;
  }

  @media screen and (max-width: 767px) {
    padding: 0 1rem;
  }

  .forum-search {
    margin-bottom: 0;
    margin-right: 1rem;
    min-width: 300px;

    @media screen and (max-width: 579px) {
      min-width: unset;
      margin: 0 0 .5rem 0;
      width: calc(100% - -.5rem);
    }

    input {
      margin-bottom: 0;
      width: calc(100% - 1rem);
    }
  }

  .btn {
    white-space: nowrap;

    @media screen and (max-width: 579px) {
      width: calc(100% - 2rem);
    }
  }

  .pagination {
    margin: 0 0 0 1rem;
    text-align: right !important;
    display: inline-flex;
    min-width: 74px;
  }
}

.mini-pagination {
  padding: 3px 0 3px 10px;
  font-size: $base-font-size - 2;

  .page {
    margin-right: 2px;

    a {
      color: $link-color;
    }
  }
}

.topic-select, .topic-state, .forum-status, .notification-state, .message-state {
  width: 20px;
}

table.post th.post-avatar {
  width: 80px;
}

.post-form-loading {
  margin: 0 0 30px;
}

.post-form {
  margin-top: 40px;
  display: none;

  li {
    list-style: initial;
  }

  input, textarea, select {
    width: 98%;
  }

  input[type="submit"] {
    width: auto;
  }
}

.submit {
  margin-top: 24px;
}

.topic h1, .forum h1, .category h1 {
  margin: 2rem 0 2.5rem;
  font-size: 2rem;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);

  @media screen and (max-width: 767px) {
    text-align: left;
    padding: 0 18px;
    border: 0;
  }
}

.post-content .updated-message {
  color: #777;
  font-size: x-small;
  margin-top: 20px;
}

.forums .forum-name,
.forum .topic-name {
  width: 99%;
}

.forums .forum-name,
.forum .topic-forum,
.forum .topic-name {

  > a:first-child {
    color: $white;
    padding-top: 6px;
    padding-bottom: 6px;

    &:hover {
      color: $link-color;
    }
  }
}

.reply-header {
  @media screen and (max-width: 767px) {
    padding: 0 18px;
  }
}

.unread-marker {
  padding: 3rem 1rem;
  margin: 3rem 0;
  text-align: center;
  background: $grey-6 url("../images/background-tile.png");
  color: $white;
  text-shadow: 0 1px 0 $black;
  font-size: 1.15rem;
  line-height: 1.4rem;
  font-weight: bold;
  border: 1px dashed $grey-4;

  @media screen and (min-width: 1155px) {
    margin: 3rem -100px;
    border-left: 0;
    border-right: 0;
  }

  @media screen and (max-width: 767px) {
    border-left: 0;
    border-right: 0;
  }
}

.poll-edit-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 0 1.5rem 2rem;
  border: 1px dotted $grey-5;
  @include rounded-corners(6px);

  h2 {
    margin-bottom: 1.5rem;
  }

  #id_poll_question {
    margin-top: 1rem;
  }

  .poll-answer-form {
    .form-control {
      margin-top: 1rem;
    }

    .checker {
      display: none;
    }

    .delete-row {
      display: inline-block;
      font-style: italic;
      margin-top: -.5rem;
      margin-left: 2px;
    }
  }

  .add-row {
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-style: italic;
    padding: .5rem 1rem;
    border: 1px solid $link-color;
    @include rounded-corners(6px);
  }
}

.topic > .poll {
  margin-bottom: 1.5rem;

  .table.poll {
    background-color: rgba(255, 255, 255, 0.05);

    td {
      border: 0;
    }

    tbody tr:hover td,
    .table tbody tr:hover th {
      background: initial;
    }
  }

  .poll-question {
    > th {
      padding: 1.25rem;
    }
  }

  .poll-answer {
    td {
      border: 0;
      padding: .75rem 1.5rem;
    }

    &:first-child td {
      padding-top: 2rem;
    }
  }

  .poll-answer-login-to-vote {
    td {
      border: 0;
      padding: 1.5rem;
    }
  }

  .poll-answer-choice {
    > td {
      padding: 1.5rem;


      form {
        margin: 0;
      }
    }

    #id_answers {
      margin-left: 1rem;

      > li > label {
        margin-bottom: 1rem;
      }
    }
  }
}
