@import "variables";
@import "mixins";

.iotd-ribbon-container {
  position: relative;
  min-height: 56px;
  margin: 8px 0;

  .iotd-ribbon {
    width: 109%;
    position: absolute;
    left: -46px;
    text-align: center;
    font-size: 16px !important;
    background: #e3a936;
    background: -webkit-gradient(linear, left top, left bottom, from(#e3a936), to(#a87a25));
    background: -webkit-linear-gradient(top, #e3a936, #a87a25);
    background: -moz-linear-gradient(top, #e3a936, #a87a25);
    background: -ms-linear-gradient(top, #e3a936, #a87a25);
    background: -o-linear-gradient(top, #e3a936, #a87a25);
    background-image: -ms-linear-gradient(top, #e3a936 0%, #a87a25 100%);
    -webkit-box-shadow: rgba(000, 000, 000, 0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000, 000, 000, 0.3) 0 1px 1px;
    box-shadow: rgba(000, 000, 000, 0.3) 0 1px 1px;

    h1 {
      font-size: 20px !important;
      color: #f5ddae;
      text-shadow: #8f6b22 0 1px 0;
      margin: 0px;
      padding: 5px 10px;
      border-bottom: none;

      .date {
        color: $white;
      }

      .chosen-by {
        font-weight: normal;
        font-style: italic;
        font-size: 70%;
      }
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      bottom: -1em;
      border: 1.5em solid #ad7e21;
      z-index: -1;
      left: -2em;
      border-right-width: 1.5em;
      border-left-color: transparent;
      -webkit-box-shadow: rgba(000, 000, 000, 0.4) 1px 1px 1px;
      -moz-box-shadow: rgba(000, 000, 000, 0.4) 1px 1px 1px;
      box-shadow: rgba(000, 000, 000, 0.4) 1px 1px 1px;
    }

    .ribbon-content:after {
      border-color: #6b4e15 transparent transparent transparent;
      position: absolute;
      display: block;
      border-style: solid;
      bottom: -1em;
      content: '';
      left: 0;
      border-width: 1em 0 0 1em;
    }

    .ribbon-stitches-top {
      margin-top: 2px;
      border-top: 1px dashed rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    }

    .ribbon-stitches-bottom {
      margin-bottom: 2px;
      border-top: 1px dashed rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
    }
  }
}

.image-of-the-day {
  position: relative;
  margin: 0 -29px 20px -29px;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #111;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    @include rounded-corners-top;

    h2 {
      font-size: 24px;
      margin: 0;
      padding: 15px;
    }

    .title {
      font-family: 'Noto Sans', sans-serif;
      font-weight: normal;
      font-style: italic;
      font-size: 16px;
      color: $text-color;
      float: right;

      a {
        color: $link-color;
      }
    }
  }

  .astrobin-image-container {
    img {
      @include rounded-corners-top;
    }
  }
}

.iotd-archive-image {
  padding-bottom: $spacer-large;
  position: relative;

  img {
    @include rounded-corners(3px);
    @include box-shadow;
  }

  .data {
    position: absolute;
    top: $spacer-xxlarge;
    left: $spacer-large;
    padding: $spacer-small $spacer-medium;
    background-color: #111;
    background-color: rgba(0, 0, 0, 0.5);
    @include rounded-corners;

    h3 {
      font-size: 1em;
      line-height: 1.2em;
      margin: 0;
      @include text-shadow;
    }

    p {
      margin: 0;
      color: #bbb;
      font-style: italic;
      @include text-shadow;
    }
  }
}

.image-of-the-day, .iotd-archive-image {
  .runner-ups {
    position: absolute;
    bottom: $spacer-large;
    left: $spacer-xlarge;

    h3 {
      font-size: 1em;
      line-height: 1em;
      margin-bottom: $spacer-small;
      @include text-shadow;
      font-style: italic;
      color: #ccc;
    }

    .runner-up {
      float: left;
      margin-right: $spacer-medium;
      @include box-shadow;
      @include rounded-corners(20px);
    }
  }
}

.iotd-choose {
  margin-bottom: 50px !important;

  a {
    margin-top: 12px;
  }
}

.iotd-promotion-queue {
  h1 > .todays-count {
    font-size: 22px;
    font-style: italic;
    color: $grey-2;
  }

  h2 {
    padding: 20px 10px;
    background: $grey-6-dark url('../images/darker-panel-tile.png');
  }
}

.iotd-queue-item {
  display: inline-block;
  margin-bottom: 22px;
  position: relative;

  &:nth-of-type(even) {
    margin-right: 16px;
  }

  > .iotd-queue-item-actions {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background: rgba(0, 0, 0, 0.66);
    border: 1px solid rgba(255, 255, 255, 0.25);
    z-index: 2;

    a {
      font-size: 16px;
      padding: 8px 16px;
      display: block;
      text-align: center;
      margin-bottom: 8px;
      text-shadow: 1px 1px 1px black;
    }
  }

  &:hover > .iotd-queue-item-actions {
    visibility: visible;
    z-index: 3;
  }

  > .iotd-queue-item-loading-overlay {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: orange;
    background-color: rgba(255, 165, 0, 0.4);
    color: white;
    z-index: 2;

    i {
      display: inline-block;
      padding: 10px;
    }
  }

  > .iotd-queue-item-selected-overlay {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: green;
    background-color: rgba(0, 255, 0, 0.4);
    color: white;
    z-index: 2;

    i {
      display: inline-block;
      padding: 10px;
    }
  }

  &.selected > .iotd-queue-item-selected-overlay {
    visibility: visible;
  }

  > .iotd-queue-item-may-not-select-overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &.may-not-select > .iotd-queue-item-may-not-select-overlay {
    visibility: visible;
  }

  .submissions-count, .votes-count {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;

    .badge {
      font-size: 16px;
      padding: 4px 8px;
      border: 1px solid white;
      text-shadow: 1px 1px 0 #757575;
      text-decoration: underline;
    }
  }

  .submissions-count .badge {
    background-color: #3092cf;
  }

  .votes-count .badge {
    background-color: #e2bd35;
  }

  .available-until {
    position: absolute;
    top: 9px;
    left: 44px;
    padding: 4px 8px;
    font-size: 12px;
    text-shadow: 1px 1px 0 black;
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
  }
}

.top-picks-item {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;

  &:nth-child(odd) {
    margin-right: 10px;
  }

  .overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;

    .inner {
      padding: 10px;

      .image-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
