@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.meter {
  box-sizing: content-box;
  height: auto;
  position: relative;
  margin: 2rem 0 1rem 0;
  background: $grey-7;
  border-radius: 4px;
  padding: .75rem;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.3);

  > .bar {
    display: block;
    height: 100%;
    border-radius: 4px 0 0 4px;
    background-image: linear-gradient(#4c9ef3, #176196);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(
                      -45deg,
                      rgba(255, 255, 255, 0.2) 25%,
                      transparent 25%,
                      transparent 50%,
                      rgba(255, 255, 255, 0.2) 50%,
                      rgba(255, 255, 255, 0.2) 75%,
                      transparent 75%,
                      transparent
      );
      z-index: 1;
      background-size: 50px 50px;
      animation: move 2s linear infinite;
      border-radius: 4px 0 0 4px;
      overflow: hidden;
    }
  }

  > .text {
    position: relative;
    z-index: 1;
    text-shadow: 0 1px 1px $black;
    color: $white;
    padding-right: 2rem;
  }

  > .info-button {
    position: relative;
    z-index: 1;
    float: right;
    text-shadow: 0 0 3px $black;
  }

  &.success > .bar {
    background-image: linear-gradient(#47b372, #32804f);
  }

  &.danger > .bar {
    background-image: linear-gradient(#de4b4b, #b63f3f);
  }
}
