@import "variables";
@import "mixins";

.modal {
  background: $dark-panel-color url('../images/dark-panel-tile.png');
  border: none;
  @include box-shadow;
  @include rounded-corners;

  .modal-header {
    background: $grey-6-dark url('../images/darker-panel-tile.png');
    @include rounded-corners-top;
    border-bottom: #404040;

    h3 {
      margin: 0;
      padding: 0;
      font-size: $base-font-size;

      [class^="icon-"], [class*=" icon-"] {
        padding-right: 8px;
      }
    }

    .close {
      color: white;
    }
  }

  > form {
    margin-bottom: 0;
  }

  .modal-body {
    max-height: calc(100vh - 230px);

    small {
      font-size: 87.5%;
      color: darken($text-color, 15%);
    }

    ol, {
      list-style: decimal
    }

    li {
      padding: $spacer-large $spacer-xlarge;
    }

    p {
      margin-bottom: $spacer-xlarge;
    }
  }
}

.modal-footer {
  background: $grey-6-dark url('../images/darker-panel-tile.png');
  border-top: 1px solid $grey-6-dark;
  @include no-box-shadow;

  form {
    margin-bottom: 0;
  }
}
