@import "mixins";

.modal {
  background: $dark-panel-color url('../images/dark-panel-tile.png');
  border: none;
  @include box-shadow;
  @include rounded-corners;
  z-index: 1051;

  &.large {
    @media screen and (min-width: 980px) {
      width: 50%;
      margin-left: -25%;
    }
  }

  .checker {
    margin-left: 0;
  }

  .form-horizontal .checker {
    margin-left: -20px;
  }

  .modal-header {
    background: $grey-6-dark url('../images/darker-panel-tile.png');
    @include rounded-corners-top;
    border-bottom: #404040;

    h3 {
      margin: 0;
      padding: 0;
      font-size: $base-font-size;

      [class^="icon-"], [class*=" icon-"] {
        padding-right: 8px;
      }
    }

    .close {
      color: white;
    }
  }

  .modal-body {
    max-height: 66.67vh;

    h3 {
      margin-bottom: .75rem;
    }

    small {
      font-size: 87.5%;
      color: darken($text-color, 15%);
    }

    ol, {
      list-style: decimal
    }

    li {
      padding: $spacer-large $spacer-xlarge;
    }

    p {
      margin-bottom: $spacer-xlarge;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .form-vertical {
      margin-bottom: 0;

      .select2,
      .select2-container {
        width: 100% !important;
      }

      input[type='text'],
      textarea {
        width: calc(100% - 12px) !important;
      }
    }

    .table:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.modal-footer {
  background: $grey-6-dark url('../images/darker-panel-tile.png');
  border-top: 1px solid $grey-6-dark;
  @include no-box-shadow;

  form {
    margin-bottom: 0;
  }
}

.modal-backdrop {
  z-index: 1050;
}
