@import "mixins";

body.full {
  .navbar {
    .navbar-inner {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .nav.buttons > li {
      .btn {
        color: $black;
        background-color: $grey-2;
        padding: 6px;
        margin-left: 6px;
        text-shadow: none;

        &.btn-primary {
          color: $white;
          background-color: $link-color;

          &:hover {
            background-position: initial;
          }
        }

        &:hover, &:focus {
          background-position: initial;
        }
      }

      .enable-solution-overlay-form {
        margin-top: 1.5px;
      }
    }
  }

  .property-like {
    width: auto;
    margin: 0;
    display: flex;

    .btn {
      line-height: 18px;
      padding: 5px 10px;
      font-size: 13px;

      &.active {
        opacity: .75;
        color: lighten($link-color, 20%) !important;
      }
    }
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;

  @media (max-width: $md-max) {
    padding: 0 .75rem;
  }

  @media (min-width: $lg-min) {
    margin-left: -30px;
    margin-right: -30px;
  }
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  @media screen and (min-width: 1020px) {
    width: 1000px;
  }
}

.navbar .btn {
  padding: 6px 12px;
  text-shadow: none;
}

#navbar-user-scores {
  font-size: 66%;
  color: #F2CEB8;
  font-weight: bold;
  padding-left: 4px;
  vertical-align: middle;
  cursor: help;

  span {
    border-bottom: 1px dotted #D99560;
  }
}

#user-scores-popover {
  h4 {
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    line-height: 17px;
    color: $grey-4;
  }
}

.dropdown-backdrop {
  position: static;
}

.dropdown-menu > li.mark-all-as-read-container {
  position: relative;

  .mark-all-as-read-spinner {
    position: absolute;
    top: 2px;
    right: 6px;
    display: none;
  }
}

.dropdown-menu > li.nav-header {
  text-shadow: none;
  font-weight: normal;
  font-size: inherit;
  text-transform: unset;
}

.dropdown-menu > li > a {
  color: $strong-text-color;
  padding: 6px 20px;
  position: relative;

  &.danger {
    color: $red !important;
  }

  &.active {
    font-weight: bold;
  }

  &.disabled {
    color: $grey-4;
    pointer-events: none;
  }

  .badge {
    position: absolute;
    right: 4px;

    &.badge-success {
      color: white;
    }
  }

  &.with-bg-icon {
    padding-right: 2rem;
  }

  .bg-icon {
    position: absolute;
    right: .5rem;
    top: .5rem;
  }

  .muted {
    margin-top: .25rem;

    &.with-icon {
      margin-left: 1.5rem;
    }
  }

  [class^="icon-"] {
    margin-right: 4px;
  }
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  $lighter-link-color: lighten($link-color, 10%);
  $darker-link-color: darken($lighter-link-color, 10%);

  background-color: $lighter-link-color;
  background-image: -moz-linear-gradient(top, $lighter-link-color, $darker-link-color);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($lighter-link-color), to($darker-link-color));
  background-image: -webkit-linear-gradient(top, $lighter-link-color, $darker-link-color);
  background-image: -o-linear-gradient(top, $lighter-link-color, $darker-link-color);
  background-image: linear-gradient(to bottom, $lighter-link-color, $darker-link-color);

  &.danger {
    color: $white !important;
  }
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  $lighter-link-color: lighten($link-color, 10%);
  $darker-link-color: darken($lighter-link-color, 10%);

  background-color: $lighter-link-color;
  background-image: -moz-linear-gradient(top, $lighter-link-color, $darker-link-color);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($lighter-link-color), to($darker-link-color));
  background-image: -webkit-linear-gradient(top, $lighter-link-color, $darker-link-color);
  background-image: -o-linear-gradient(top, $lighter-link-color, $darker-link-color);
  background-image: linear-gradient(to bottom, $lighter-link-color, $darker-link-color);

  &.danger {
    color: $white !important;
  }
}

.btn-group.open > .btn.dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}

.navbar .nav .dropdown-toggle .icon-caret-down,
.navbar .nav .open.dropdown .icon-caret-down {
  font-size: 12px;
  margin-left: 3px;
}

.navbar .nav .dropdown-toggle.btn-primary .icon-caret-down,
.navbar .nav .open.dropdown.btn-primary .icon-caret-down {
  border-top-color: $strong-text-color;
  border-bottom-color: $strong-text-color;
  font-size: 12px;
}

.navbar .nav .open.dropdown .dropdown-toggle,
.navbar .nav .open.dropdown .dropdown-toggle:hover {
  @include rounded(6px);
  background-color: $grey-7 !important;
}

.navbar .nav > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu:before {
  border: 0;
}

.navbar .bubble input {
  @include rounded-corners(2px);
  width: auto;
  color: #555;
  border-color: $grey-3;
  padding: 2px 6px;
}

.site-nav.nav-collapse,
.user-nav.nav-collapse {
  overflow: visible;
}

.header-search {
  display: inline-block;
  margin-left: 12px;
  flex-grow: 1;
}

.search-nav {
  display: inline-block;
  width: 100%;

  @media (max-width: $md-max) {
    width: calc(100% - 1rem);
  }

  .navbar-search {
    margin-top: 4px;
    width: 100%;

    input {
      font-size: 16px;
      color: $grey-4;
      background-color: $grey-8;
      border-radius: 8px;
      margin-bottom: 0;
      padding: 8px 16px;
      border: 0;
      width: calc(100% - 45px);

      &::placeholder {
        color: $grey-5;
        font-size: 16px;
      }
    }
  }
}

.user-nav {
  > .nav {
    margin: 0;

    > li > a {
      padding: 0 10px !important;

      &.upload-button {
        font-size: 16px;
        padding-right: 0 !important;
      }
    }

    .btn-group.open .dropdown-menu {
      left: unset;
      right: 0;
      font-size: 14.4px;
    }
  }

  .user-dropdown {
    height: 20px;
  }

  .user-avatar-dropdown {
    border: 0;
    box-shadow: none !important;
    padding: 0 !important;

    img {
      border-radius: 50%;
    }
  }

  .username {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;

    @media screen and (min-width: 768px) {
      max-width: 370px;
    }

    @media screen and (min-width: 880px) {
      max-width: 480px;
    }

    @media screen and (min-width: 992px) {
      max-width: 205px;
    }
  }

  #donate-header-button {
    margin-left: $spacer-small;
  }

  @media screen and (max-width: $md-max) {
    .btn-group.open {
      .dropdown-menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        border: 0;
        height: calc(100% - 4rem);
        width: 300px;
        z-index: 1040;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background: $grey-6-dark url('../images/darker-panel-tile.png');
        margin: 0;
        border-radius: 0;
        overflow: auto;
        transition: all ease 0.25s;
        padding: 2rem 0;

        li {
          padding: 1rem 0;

          &.divider {
            background-color: $grey-8;
            border-bottom: 1px solid $grey-6;
            padding: 0 !important;
            width: calc(100% - 6rem);
          }

          &.username {
            font-size: 1.25rem;
            color: $white;
            overflow: visible;
          }

          &.username-indexes {
            color: $grey-4;
            padding-top: 0;
            font-size: .9rem;
          }

          a {
            color: $link-color;
            text-shadow: none;
          }
        }

        [class^="icon-"] {
          display: none;
        }
      }
    }
  }
}

/* Subnav */
.subnav {
  width: 100%;
  height: 25px;
  background: $link-color url('../images/orange-panel-tile.png');
  border-top: 1px solid darken($link-color, 5%);
  border-bottom: 1px solid darken($link-color, 5%);
  @include box-shadow-subtle;

  .nav {
    margin-bottom: 0;

    .open {
      .dropdown-toggle {
        &,
        &:hover {
          background: darken($link-color, 5%);
        }
      }
    }

    > .active {
      > a {
        &,
        &:hover {
          padding-left: $base-font-size;
          -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
          -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
          background: darken($link-color, 5%);

          .caret {
            border-top-color: $strong-text-color;
          }
        }
      }
    }

    > li {
      > a {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: $strong-text-color;
        background-color: transparent;

        @media screen and (min-width: 768px) {
          padding-bottom: 6px;
        }

        &:hover,
        &:focus {
          color: $white;
          background: darken($link-color, 5%);
        }

        &:first-child {
          > a {
            &,
            &:hover {
              padding-left: 10px;
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
            }
          }
        }
      }

      > .checkbox {
        margin-top: 1px;

        label {
          margin: 0;
        }

        .toggle {
          margin-left: .5rem;

          .toggle-on {
            background: $grey-6;
            color: $grey-1;
          }
        }
      }
    }

    .status-icon {
      float: right;

      &.status-icon-success {
        color: $green;
      }
    }
  }

  .dropdown-menu {
    top: 100%;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .dropdown-toggle {
    &,
    &:hover {
      .caret {
        border-top-color: $strong-text-color;
      }
    }
  }
}


/* Fixed subnav on scroll, but only for 992px and up (sorry IE!) */
.subnav-fixed {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  @include rounded-corners-top;

  .nav {
    margin: 0 auto;
    padding: 0 20px;
  }
}

.dropdown-menu {
  max-width: 940px;
  background-color: $grey-7;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.9);
  border: 0;

  @media (max-width: 600px) {
    min-width: unset;
  }

  .divider {
    background-color: $grey-6;
    border-color: $grey-7;
  }
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  &,
  strong {
    background-color: $link-color;
    color: $white;
  }
}

.nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

// Won't be needed anymore in bootstrap 2.1.0
// https://github.com/twitter/bootstrap/issues/2764
.nav li.disabled {
  pointer-events: none;

  a {
    color: #ccc;
  }
}

.nav li.disabled > a:hover {
  cursor: default;
  text-decoration: none;
  background-color: inherit;
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  margin-left: 5px;
}

.navbar-fixed-top .container {
  max-height: 40px;
}

.nav-pills.nav-stacked, .nav-tabs.nav-stacked {
  .icon-chevron-right {
    float: right;
    margin-top: 1px;
    margin-right: -6px;
    @include opacity(0.5);
  }
}

.nav-pills {
  > li > a {
    background-color: rgba(0, 0, 0, .1);
    padding: 10px 15px;

    @media screen and (max-width: 400px) {
      padding-left: 7.5px;
      padding-right: 7.5px;
    }
  }
}

.nav-tabs {
  border-bottom-color: $grey-5;

  li a {
    border-color: $grey-5 !important;
  }

  .active a,
  .active a:hover,
  .active a:focus {
    background-color: $link-color;
    color: $white;
    font-style: italic;
    font-weight: bold;
  }
}

.navbar {

  .brand {
    float: none;
    margin-left: 0;
    padding-right: 17px;
  }

  .brand img {
    height: 25px;
    margin-top: -5px;
  }

  .navbar-inner {
    border-top: 5px solid #3092cf;
    border-bottom: 0;
    background: $grey-6-dark url('../images/darker-panel-tile.png');
    box-shadow: 0 .33rem 0.5rem rgba(0, 0, 0, 0.65);
    padding: 5px 0 13px 0;

    @media (max-width: $md-max) {
      padding: 9px 0;
    }
  }

  .nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .dropdown-toggle > .icon-caret-down {
      @media (max-width: $lg-max) {
        display: none;
      }
    }

    > li > a {
      font-size: 14.4px;
      color: $link-color;
      padding: 14px 7px;
      text-shadow: none;

      &:hover {
        color: darken($link-color, 5%);
      }
    }

    > li > .btn-group {
      margin-top: 0;
      padding: 0 .5rem;
      display: flex;
      flex-wrap: nowrap;

      @media (max-width: $md-max) {
        padding: 0;
      }
    }

    > li.open > a {
      text-shadow: none;
    }

    .form-inline {
      @media screen and (min-width: 992px) {
        margin-right: $spacer-large;
        margin-top: $spacer-small;

        label {
          margin: $spacer-small $spacer-medium 0 0;
          vertical-align: middle;
        }
      }

      @media screen and (max-width: 991px) {
        margin-top: -5px;
      }
    }
  }
}
