@import "variables";
@import "mixins";

body.full {
  .navbar .nav.pull-right > li > a.btn {
    color: black;
    padding: 6px;
    margin-left: 6px;
    text-shadow: none;

    &.btn-primary {
      color: white;
    }

    &:hover, &:focus {
      background-position: initial;
    }
  }
}

.navbar .btn {
  padding: 4px 12px;
}

#navbar-user-scores {
  font-size: 66%;
  color: #F2CEB8;
  font-weight: bold;
  padding-left: 4px;
  vertical-align: middle;

  span {
    border-bottom: 1px dotted #D99560;
  }
}

.dropdown-backdrop {
  position: static;
}

.dropdown-menu > li.mark-all-as-read-container {
  position: relative;

  .mark-all-as-read-spinner {
    position: absolute;
    top: 2px;
    right: 6px;
    display: none;
  }
}

.dropdown-menu > li > a {
  color: $background-color;
  padding: 4px 20px;

  strong {
    color: $background-color;
  }

  &.danger {
    color: $red !important;
  }

  &.active {
    font-weight: bold;
  }

  &.disabled {
    color: $grey-4;
    pointer-events: none;
  }

  .badge {
    position: absolute;
    right: 4px;

    &.badge-success {
      color: white;
    }
  }
}

.btn-group.open > .btn.dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}

.navbar .nav .dropdown-toggle .icon-caret-down, .navbar .nav .open.dropdown .icon-caret-down {
  font-size: 10px;
}

.navbar .nav .dropdown-toggle.btn-primary .icon-caret-down, .navbar .nav .open.dropdown.btn-primary .icon-caret-down {
  border-top-color: $strong-text-color;
  border-bottom-color: $strong-text-color;
  font-size: 10px;
}

.navbar .nav .open.dropdown .dropdown-toggle,
.navbar .nav .open.dropdown .dropdown-toggle:hover {
  background-color: $grey-8;
}

.navbar-search {
  margin-top: 7px;
  margin-bottom: -6px;
}

.navbar input {
  color: #b8b8b8;
  background-color: #404040;
  border-color: $grey-6;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 120px;
}

.navbar .bubble input {
  @include rounded-corners(2px);
  width: auto;
  color: #555;
  border-color: $grey-3;
  padding: 2px 6px;
}

.site-nav.nav-collapse,
.user-nav.nav-collapse {
  overflow: visible;
}

/* Fixes dropdowns on IE */

.user-nav {
  .user-dropdown {
    min-height: 20px;
  }

  .upload-button {
    font-size: 16px;
  }

  .username {
    max-width: 150px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  #donate-header-button {
    margin-left: $spacer-small;
  }
}

/* Subnav */
.subnav {
  width: 100%;
  height: 25px;
  background: $link-color url('../images/orange-panel-tile.png');
  border-top: 1px solid darken($link-color, 5%);
  border-bottom: 1px solid darken($link-color, 5%);
  @include box-shadow-subtle;
}

.subnav .nav {
  margin-bottom: 0;
}

.subnav .nav > li > a {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: $strong-text-color;
}

.subnav .nav > li > a:hover, .subnav .nav > li > a:focus {
  color: $white;
  background: darken($link-color, 5%);
}

.subnav .nav .open .dropdown-toggle, .subnav .nav .open .dropdown-toggle:hover {
  background: darken($link-color, 5%);
}

.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: $base-font-size;
  kwebkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
  background: darken($link-color, 5%);
}

.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: $strong-text-color;
}

.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  padding-left: 10px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.subnav .dropdown-toggle .caret,
.subnav .dropdown-toggle:hover .caret {
  border-top-color: $strong-text-color;
}

.subnav .dropdown-menu {
  top: 100%;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
.subnav-fixed {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  @include rounded-corners-top;
}

.subnav-fixed .nav {
  margin: 0 auto;
  padding: 0 20px;
}

.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.dropdown-menu {
  max-width: 940px;

  @media (max-width: 600px) {
    min-width: unset;
  }
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: $orange;
}

.nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

// Won't be needed anymore in bootstrap 2.1.0
// https://github.com/twitter/bootstrap/issues/2764
.nav li.disabled {
  pointer-events: none;

  a {
    color: #ccc;
  }
}

.nav li.disabled > a:hover {
  cursor: default;
  text-decoration: none;
  background-color: inherit;
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  margin-left: 5px;
}

.navbar-fixed-top .container {
  max-height: 40px;
}

.nav-pills.nav-stacked, .nav-tabs.nav-stacked {
  .icon-chevron-right {
    float: right;
    margin-top: 1px;
    margin-right: -6px;
    @include opacity(0.5);
  }
}

.nav-tabs li a {
  border-color: #404040 !important;
}

.nav-tabs .active a,
.nav-tabs .active a:hover,
.nav-tabs .active a:focus {
  background-color: $grey-2;
  color: $grey-8;
  font-style: italic;
  font-weight: bold;
}

.navbar .navbar-inner {
  border-top: 4px solid #3092cf;
  background: $grey-6-dark url('../images/darker-panel-tile.png');
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 1);
  box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

.navbar .nav > li > a {
  color: $link-color;
  padding: 12px 8px;
  text-shadow: 0 1px 0 darken($link-color, 20%);

  &:hover {
    color: darken($link-color, 5%);
  }
}

.navbar .nav > li.open > a {
  text-shadow: 0 1px 0 darken($text-color, 20%);
}

.nav .language-switcher {
  margin-right: .5rem;
}
