@import "variables";

body#search {

  .search-container {
    display: flex;

    @media screen and (max-width: 979px) {
      flex-flow: column wrap;
    }

    .search-filters-app {
      flex: 1;

      @media screen and (max-width: 979px) {
        width: 100%;
        margin-right: 0;
      }

      @media screen and (min-width: 980px) and (max-width: 1240px) {
        width: 256px;
        min-width: 256px;
        max-width: 256px;
      }

      @media screen and (min-width: 1241px) {
        width: 262px;
        min-width: 262px;
        max-width: 262px;
      }
    }
  }

  .search-filters-app {
    position: relative;
    margin-right: 1rem;
    z-index: 2;

    @media screen and (min-width: 980px) {
      &.collapsed {
        width: 40px;
        min-width: 40px;
        max-width: 40px;

        .accordion-toggle {
          padding: 20px 15px;

          span {
            writing-mode: vertical-lr;
            margin-left: -4px;
          }

          i {
            margin-top: .75rem;
            margin-left: 0;
            transform: rotate(-90deg);
          }
        }

        .accordion-group {
          border: 0;
        }
      }
    }

    .accordion-inner {
      padding: 0;

      > form {
        margin: 0;
      }
    }

    .accordion-footer {
      margin: 0;
      padding: 1.5rem 1rem;
      border-radius: 0 0 4px 4px;
      text-align: center;

      .result-count {
        margin-top: 1rem;
        color: $grey-4;
      }
    }

    .search-filter {
      display: block;
      padding: 1.5rem 1rem 1.75rem;
      position: relative;
      vertical-align: top;
      background: $grey-7;

      .search-filter-remove {
        color: $grey-5;
        position: absolute;
        right: 0;
        top: 0;
        padding: .5rem;
        cursor: pointer;
        font-size: 1.25rem;

        &:hover {
          color: $grey-2;
        }
      }

      .search-filter-title {
        color: $grey-2;
        background: #111;
        padding: .5rem 1rem;
        margin: -1.5rem calc(-1rem - 1px) 2rem;
      }

      input, select {
        margin: 0;
        width: initial;
        height: 2rem;
        border: 0;
      }

      input[type="checkbox"] {
        margin-right: 4px;
      }

      .slider-filter {
        padding: 0 8px;

        &.tooltip-fixed {
          margin-bottom: 2rem;
          .noUi-tooltip {
            display: block !important;
            bottom: unset;
            top: 120%;
          }
        }
      }

      .form-group {
        height: auto;
        display: block;
        vertical-align: middle;

        &.highlighted {
          animation: pop-in 0.3s cubic-bezier(.36, .07, .19, .97) both;
        }

        > input[type='text'] {
          width: calc(100% - 1rem) !important;
        }

        input:not([type='checkbox']):not(.slider-input),
        .slider-filter {
          width: 100%;
        }

        .slider-input {
          width: 50px;
          height: 1.5rem;
        }

        &.slider-form-group {
          .min-max {
            margin-top: 3.5rem;
            display: flex;
            justify-content: space-between;

            .min,
            .max {
              * {
                display: inline-block;
              }

              label {
                color: $grey-4;
              }
            }
          }
        }
      }

      .multiselect {
        min-height: 2rem !important;
      }

      .multiselect-single {
        margin-top: 6px;
      }

      .multiselect__select::before {
        top: 19px;
      }
    }
  }

  .date-published-filter .datepickerclass:first-child,
  .date-acquired-filter .datepickerclass:first-child {
    margin-bottom: .5rem !important;
  }

  .basic-search-form {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    input[type="text"] {
      flex: 1;
      color: #bbb;
      margin: 0;
      padding: 16px;
    }

    .btn {
      height: 56px;
      margin-left: .5rem;
    }
  }
}
