ul.token-input-list {
  display: inline-block;
  list-style-type: none;
  padding: $spacer-medium ($spacer-small + $spacer-xsmall);
  margin: $spacer-small 0;
  overflow: auto;
  background-color: #404040;
  border: 1px solid $grey-7;
  max-width: 610px;
  width: calc(100% - 1rem);

  li.token-input-token {
    display: inline-block;
    font-weight: initial;
    color: white;
    text-shadow: 1px 1px 0 black;

    span {
      padding-left: $spacer-medium;
      color: $grey-1;
      font-weight: bold;
    }
  }

  li.token-input-input-token {
    border: none;

    input, textarea {
      margin: $spacer-small 0;
      background: none;
      width: calc(100% - 1rem);
    }
  }

  input, input:focus {
    background: none;
    border: none;
    box-shadow: none;
  }
}

div.token-input-dropdown {
  z-index: 1049;
  background-color: $strong-text-color;
  color: $background-color;

  li.token-input-selected-dropdown-item {
    color: $text-color;
  }

  li.token-input-dropdown-item,
  li.token-input-dropdown-item2 {
    color: $background-color;
    background-color: $link-color;
  }

  p {
    color: $text-color;
  }
}
