@import "variables";

#trending-astrophotographers-page {
  #trending-astrophotographers-search {
    @media screen and (min-width: 768px) {
      width: 300px;
      float: right;
      margin-bottom: 20px;
    }
  }

  .trending-astrophotographers {
    table-layout: initial;

    .trending-astrophotographers-position {
      width: 25px;
    }
  }
}
