/* Color palette: http://www.colourlovers.com/palette/322645/Mambo_For_Cats */
$black: #000;
$blue: #FFF;
$orange: #FFF;
$dark-orange: #DDD;
$white: #FFF;
$green: #FFF;
$red: #FFF;

$gold: #FFF;
$text-on-gold: #111;
$strong-text-on-gold: #000;
$silver: #CACACA;
$bronze: #999;

$grey-1: #F0F0F0;
$grey-2: #D5D5D5;
$grey-3: #CCC;
$grey-4: #AAA;
$grey-4-dark: #777;
$grey-5: #444;
$grey-6: #333;
$grey-6-dark: #282828;
$grey-7: #222;
$grey-8: #111;
$grey-9: #0A0A0A;

$background-color: $grey-9;
$link-color: $white;
$strong-text-color: $white;
$logo-color: $blue;

$header-color: $strong-text-color;
$text-color: $strong-text-color - $grey-6;
$input-color: $background-color;

$hilight-factor: 1.5;
$strong-hilight-factor: 2;
$strongest-hilight-factor: 3;
$border-color: $background-color / $hilight-factor;
$border-bottom-color: $background-color * $strong-hilight-factor;
$border-top-color: $background-color * $strongest-hilight-factor;
$border-color-inverted: $strong-text-color;
$border-shadow-color: $background-color / $strong-hilight-factor;
$border-shadow-color-inverted: $text-color + #030303;
$dark-panel-color: $background-color / $hilight-factor;
$regular-panel-color: $background-color / ((1 + $hilight-factor) / 2);
$light-panel-color: $background-color * $hilight-factor;
$light-panel-border-color: $background-color / $strong-hilight-factor;

$base-font-size: 14px;
$spacer-small: 4px;
$spacer-xsmall: $spacer-small * .5;
$spacer-medium: $spacer-small * 2;
$spacer-large: $spacer-small * 3;
$spacer-xlarge: $spacer-small * 4;
$spacer-xxlarge: $spacer-small * 7;
$spacer-xxxlarge: $spacer-small * 13;

$headers-font: "Noto Sans", Helvetica, Arial, sans-serif;
$regular-font: "Noto Sans", Helvetica, Arial, sans-serif;
