{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="full-box clear">
        <h2>{% trans "Here are your private messages" %}</h2>
            {% if message_list %}
            <table class="messages">
                <tr>
                    <th>{% trans "When" %}</th>
                    <th>{% trans "From" %}</th>
                    <th>{% trans "Subject" %}</th>
                </tr>
            {% for message in message_list %}
                <tr>
                    <td class="when">{{message.created|date:"D, d M. Y"}} {% trans "at" %} {{message.created|date:"H:i" }}</td>
                    <td><a href="{% url user_page message.from_user %}">{{message.from_user}}</a></td>
                    <td><a href="{% url message_detail message.id %}">{{message.subject|escape|truncatewords:64}}</a></td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
            <p>{% trans "You have no messages." %}</p>
            {% endif %}
    </div>
{% endblock %}
