{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_users_tags %}
{% load staticfiles %}


{% block title %}{% trans "Moderate" %} /{% trans "Image queue" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Moderate' None %}
    {% breadcrumb 'Image queue' None %}
{% endblock %}

{% block content %}
    <div class="image-moderation">
        {% if READONLY_MODE %}
            {% include 'readonly_mode.html' %}
        {% else %}
            {% if image_list %}
                <p class="well">
                    {% blocktrans %}Please click on the images that you want to mark as SPAM, then click on the Finish button below to approve all the others.{% endblocktrans %}
                </p>
                <ul class="astrobin-thumbnails">
                    {% for image in image_list %}
                        <li class="thumbnail astrobin-thumbnail top-title ham-thumbnail">
                            <a href="#" rel="tooltip" title="{{image.title|escape|default:_("(no title)")}}, {% astrobin_username image.user link=False %}">
                                {% astrobin_image image 'gallery' link=False tooltip=False %}
                                <div class="image-title">
                                    {{image.title|escape|default:_("(no title)")}}
                                </div>
                                <div class="spam-thumbnail-overlay hide">
                                    <span>
                                        SPAM
                                    </span>
                                </div>
                            </a>
                            <div class="image-actions">
                                <a href="{% url 'image_rawthumb' image.get_id '0' 'hd' %}" class="fancybox">
                                    <i class="icon-zoom-in"></i>
                                </a>

                                <a href="{{ image.get_absolute_url }}" target="_blank">
                                    <i class="icon-link"></i>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="form-actions">
                    <a href="#" id="finish-button" class="btn btn-primary btn-block-mobile">
                        {% trans "Finish" %} &rarr;
                    </a>
                    <span class="loading hide"><img src="{% static 'astrobin/images/ajax-loader.gif' %}" alt=""/></span>
                </div>
            {% else %}
                <div class="alert alert-success">
                    {% trans "The moderation queue is empty, hooray! Come back later." %}
                </div>
            {% endif %} {# image_list #}
        {% endif %} {# READONLY #}
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.fancybox').fancybox({
                type: 'image'
            });

            $('.astrobin-thumbnail > a').click(function(e) {
                var $spam;

                e.preventDefault();

                $(this).closest('li.astrobin-thumbnail').toggleClass('ham-thumbnail');
                $(this).closest('li.astrobin-thumbnail').toggleClass('spam-thumbnail');
                $(this).find('img').toggleClass('spam');

                $spam = $(this).find('.spam-thumbnail-overlay');
                if ($spam.css('visibility') == 'hidden') {
                    $spam.css('visibility', 'visible');
                } else {
                    $spam.css('visibility', 'hidden');
                }

            });

            $('#finish-button').click(function(e) {
                var $btn, spam_ids, ham_ids;

                e.preventDefault();

                $btn = $(this);
                $btn.addClass('disabled');
                $btn.siblings('.loading').removeClass('hide');

                spam_ids = $('.astrobin-thumbnails img.spam').map(function() {
                    return $(this).data('id');
                }).get();

                ham_ids = $('.astrobin-thumbnails img:not(.spam)').map(function() {
                    return $(this).data('id');
                }).get();

                $.ajax({
                    url: '{% url 'image_moderation_mark_as_spam' %}',
                    type: 'POST',
                    cache: false,
                    timeout: 10000,
                    data: {ids: spam_ids},
                    dataType: 'json'
                }).done(function() {
                    $.ajax({
                        url: '{% url 'image_moderation_mark_as_ham' %}',
                        type: 'POST',
                        cache: false,
                        timeout: 10000,
                        data: {ids: ham_ids},
                        dataType: 'json'
                    }).done(function() {
                        location.reload();
                    });
                });
            });
        });
    </script>
{% endblock %}
