{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load astrobin_apps_images_tags %}
{% load astrobin_apps_users_tags %}
{% load staticfiles %}


{% block title %}{% trans "Moderate" %} / {% trans "Spam list" %}{% endblock %}
{% block container_extra_classes %}no-subtitle{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Moderate' None %}
    {% breadcrumb 'Spam list' None %}
{% endblock %}

{% block content %}
    <div class="image-moderation">
        {% if READONLY_MODE %}
            {% include 'readonly_mode.html' %}
        {% else %}
            {% if image_list %}
                <div class="subtitle">
                    <i class="icon icon-info-sign"></i>
                    {% blocktrans %}Please click on the images that you want to mark as NOT SPAM, then click on the Approve button below to approve them.{% endblocktrans %}
                </div>

                <ul class="astrobin-thumbnails">
                    {% for image in image_list %}
                        <li class="thumbnail astrobin-thumbnail top-title spam-thumbnail">
                            <a href="#" rel="tooltip" title="{{image.title|escape|default:_("(no title)")}}, {% astrobin_username image.user link=False %}">
                                {% astrobin_image image 'gallery' link=False tooltip=False %}
                                <div class="image-title">
                                    {{image.title|escape|default:_("(no title)")}}
                                </div>
                                <div class="ham-thumbnail-overlay hide">
                                    <span>
                                        OK
                                    </span>
                                </div>
                            </a>
                            <div class="image-actions">
                                <a href="{% url 'image_rawthumb' image.get_id '0' 'hd' %}" class="fancybox">
                                    <i class="icon-zoom-in"></i>
                                </a>

                                <a href="{{image.get_absolute_url}}" target="_blank">
                                    <i class="icon-link"></i>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="form-actions">
                    <a href="#" id="approve-button" class="btn btn-primary btn-block-mobile">
                        {% trans "Approve selected" %} &rarr;
                    </a>
                    <a href="#" id="approve-and-ban-button" class="btn btn-block-mobile">
                        {% trans "Approve selected and ban the rest" %} &rarr;
                    </a>
                    <span class="loading hide"><img src="{% static 'astrobin/images/ajax-loader.gif' %}" alt=""/></span>
                </div>
            {% else %}
                <div class="alert alert-success">
                    {% trans "There are no images in the spam list." %}
                </div>
                {% endif %} {# image_list #}
            {% endif %} {# READONLY #}
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.fancybox').fancybox({
                type: 'image'
            });

            $('.astrobin-thumbnail > a').click(function(e) {
                var $ham;

                e.preventDefault();

                $(this).closest('li.astrobin-thumbnail').toggleClass('spam-thumbnail');
                $(this).closest('li.astrobin-thumbnail').toggleClass('ham-thumbnail');

                $ham = $(this).find('.ham-thumbnail-overlay');
                if ($ham.css('visibility') == 'hidden') {
                    $ham.css('visibility', 'visible');
                } else {
                    $ham.css('visibility', 'hidden');
                }

            });

            function mark_as_ham() {
                ham_ids = $('.astrobin-thumbnail:not(.spam-thumbnail) img').map(function() {
                    return $(this).data('id');
                }).get();

                return $.ajax({
                    url: '{% url 'image_moderation_mark_as_ham' %}',
                    type: 'POST',
                    cache: false,
                    timeout: 10000,
                    data: {ids: ham_ids},
                    dataType: 'json'
                });
            }

            function ban_all() {
                return $.ajax({
                    url: '{% url 'image_moderation_ban_all' %}',
                    type: 'POST',
                    cache: false,
                    timeout: 60000,
                });
            }


            $('#approve-button').click(function(e) {
                var $btn;

                e.preventDefault();

                $btn = $(this);
                $btn.addClass('disabled');
                $btn.siblings('.loading').removeClass('hide');

                mark_as_ham().done(function() {
                    location.reload();
                });
            });

            $('#approve-and-ban-button').click(function(e) {
                var $btn;

                e.preventDefault();

                $btn = $(this);
                $btn.addClass('disabled');
                $btn.siblings('.loading').removeClass('hide');

                mark_as_ham().done(function() {
                    ban_all().done(function() {
                        location.reload();
                    });
                });
            });

        });
    </script>
{% endblock %}
