{% extends "base.html" %}

{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}
{% load staticfiles %}
{% load common_tags %}

{% block title %}{% trans "Compose message" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Messages' 'messages_inbox' %}
    {% breadcrumb 'Compose' None %}
{% endblock %}

{% block content %}
    {% if READONLY_MODE %}
        {% include 'readonly_mode.html' %}
    {% else %}
        <form action="" method="post" class="form-horizontal" novalidate>{% csrf_token %}
            {{form|as_bootstrap }}
            <div class="form-actions">
                <button class="btn btn-primary btn-block-mobile {% button_loading_class %}" type="submit">
                    {% trans "Send" %}
                    {% button_loading_indicator %}
                </button>
                {% if 'next' in request.GET %}
                    <a class="btn btn-block-mobile" href="{{request.GET.next}}">{% trans "Cancel" %}</a>
                {% endif %}
            </div>
        </form>
    {% endif %} {# READONLY #}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            var textarea = $('#id_body');
            textarea.wysibb({
                buttons: "bold,italic,underline,|,img,link,|,bullist,numlist,|,code"
            });

            {% if 'subject' in request.GET %}
            $('input#id_subject').val("{{request.GET.subject}}");
            {% endif %}

            var recipients = $("#id_recipient").val().split(',');
            $("#id_recipient").val("");

            var parameters = {
                classes: {
                    tokenList: "token-input-list",
                    token: "token-input-token btn btn-primary",
                    tokenDelete: "token-input-delete-token",
                    selectedToken: "token-input-selected-token",
                    highlightedToken: "token-input-highlighted-token",
                    dropdown: "token-input-dropdown",
                    dropdownItem: "token-input-dropdown-item",
                    dropdownItem2: "token-input-dropdown-item2",
                    selectedDropdownItem: "token-input-selected-dropdown-item",
                    inputToken: "token-input-input-token"
                },
                hintText: "{% trans "Type in a search term" %}",
                noResultsText: "{% trans "No results" %}",
                searchingText: "{% trans "Searching" %}...",
                queryParam: "term"
            };

            if (recipients !== undefined) {
                parameters['prePopulate'] = [];
                for (var i = 0; i < recipients.length; i++) {
                    if (recipients[i] !== "") {
                        parameters['prePopulate'].push({
                            id: recipients[i],
                            name: recipients[i]
                        });
                    }
                }
            }

            $("#id_recipient").tokenInput("{% url 'recipient_search' %}?format=json", parameters);
        });
    </script>
{% endblock %}
