{% extends "django_messages/base.html" %}

{% load i18n %}
{% load uni_form_tags %}


{% block content %}
<div class="full-box">
    <h1>{% trans "Compose message" %}</h1>
    
    <form action="" method="post" class="uniForm">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ form|as_uni_form }}
            <div class="form_block">
                <input class="button submit-button" type="submit" value="{% trans "Send" %} &raquo;"/>
                {% if 'next' in request.GET %}
                    <a class="back" href="{{request.GET.next}}">{% trans "Cancel" %}</a>
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% if 'subject' in request.GET %}
            $('input#id_subject').val("{{request.GET.subject}}");
            {% endif %}

            var recipient =  $("#id_recipient").val();
            $("#id_recipient").val("");
            var parameters = {
                classes: {
                    tokenList: "token-input-list",
                    token: "token-input-token",
                    tokenDelete: "token-input-delete-token",
                    selectedToken: "token-input-selected-token",
                    highlightedToken: "token-input-highlighted-token",
                    dropdown: "token-input-dropdown",
                    dropdownItem: "token-input-dropdown-item",
                    dropdownItem2: "token-input-dropdown-item2",
                    selectedDropdownItem: "token-input-selected-dropdown-item",
                    inputToken: "token-input-input-token"
                },
                hintText: "{% trans "Type in a search term" %}",
                noResultsText: "{% trans "No results" %}",
                searchingText: "{% trans "Searching" %}...",
                queryParam: "term"
            };

            if (recipient) {
                parameters['prePopulate'] = [{id:recipient, name:recipient}];
            }

            $("#id_recipient").tokenInput("{% url recipient_search %}?format=json", parameters);
        });
    </script>
{% endblock %}
