{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="info-side-bar">
    <p>{% blocktrans %}Send a private message to a user. Messages are only shared between you and the recipient.{% endblocktrans %}
</div>
<div class="sided-main-content">
    <div class="message{% if message.tags %} {{ message.tags }}{% endif %}">
        {% if message.subject %}<h1>{{ message.subject|escape }}</h1>{% endif %}
        <span>
            {{message.created|date:"D, d M. Y"}} {% trans "at" %} {{message.created|date:"H:i"}}
            {% if message.from_user %}
                ,&nbsp;{% trans "from" %}
                <a href="{% url user_page message.from_user %}">
                    {{message.from_user}}
                </a>
            {% endif %}
        </span>
        <p class="body">{{ message.message|escape}}</p>
        <h2>{% trans "Reply" %}</h2>
        <form id="private-message" action="{% url messages_save %}" method="post">{% csrf_token %}
            {{private_message_form.as_p}}
            <input type="hidden" name="to_user" value="{{message.from_user}}"/>
            <input id="send" class="button submit-button" type="submit" value="{% trans "Send" %} &rarr;" />
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $('form#private-message #send').one('click', function() {
        $.post('{% url send_private_message %}',
               $("form#private-message").serialize(),
               function() {
                   $('#message-reply').html('\
                       <p>{% trans "Message sent" %}.</p>\
                    ');
               });
    });
</script>
{% endblock %}
