{% extends 'django_messages/inbox.html' %}

{% load i18n %}
{% load pagination_tags %}
{% load truncchar_tag %}
{% load tags %}

{% block content %}
    {% autopaginate thread_list 25 %}
    <div class="row">
        <div class="span12">
            <h1>{% trans "Messages" %}</h1>
            
            <div class="well">
                <a class="btn" href="{% url messages_compose %}{% query_string "next=request.path" "" %}">
                   {% trans "Compose message" %}
                </a>
            </div>

            <table class="table">
                <tr>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Last sender" %}</th>
                    <th>{% trans "Date and time" %}</th>
                    <th>{% trans "Subject" %}</th>
                    <th>{% trans "Excerpt" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
                {% for message in thread_list %}
                    <tr>
                        <td>{% if message.new %}<strong>{% trans "New!" %}</strong>{% endif %}</td>
                        <td><a href="{{ message.thread.latest_msg.sender.get_absolute_url }}">{{ message.thread.latest_msg.sender.username|truncchar:12 }}</a></td>
                        <td>{{message.thread.latest_msg.sent_at|date:"SHORT_DATETIME_FORMAT"}}</td>
                        <td>{{message.thread.subject|truncchar:25}}</td>
                        <td>{{message.thread.latest_msg.body|truncchar:35}}</td>
                        <td>
                            <a href="{{message.thread.get_absolute_url}}">{% trans "Read all" %}</a>
                            |
                            <a href="{{message.thread.get_absolute_url}}#reply">{% trans "Reply" %}</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">
                            {% trans "No messages" %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="pagination pagination-centered">
        {% paginate %}
    </div>
{% endblock %}
