{% load avatar_tags %}
{% load bbcode_tags %}

<div class="message">
    <div class="avatar">
        <a href="{% url 'user_page' message.sender %}">
            {% avatar message.sender 32 %}
        </a>
    </div>

    <div class="sender">
        <a href="{% url 'user_page' message.sender %}">{{ message.sender.userprofile }}</a>
        <span class="date">{{ message.sent_at|date:"SHORT_DATETIME_FORMAT"}}</span>
    </div>
    <div class="body">
        {% bbcode message.body %}
    </div>
</div>

