{% extends "django_messages/base.html" %}
{% load i18n %}
{% load avatar_tags %}

{% block content %}
 <div class="full-box">
    <h2 class="inline">{{ thread.subject }}</h2>
    <span class="sub-page-header">
        {% blocktrans with participant.user.get_absolute_url as sender_url %}
        A conversation between <a href="{{ sender_url }}">you</a> and
        {% endblocktrans %}
         {% for participant in participant.others %}
            <a href="{{ participant.user.get_absolute_url }}">{{ participant.user }}</a>
         {% endfor %}
    </span>
    {% comment %}
    <div class="messages-search">
      <form action="{% url messages_search %}" method="GET">
        <input type="text" title="{% trans 'Search messages' %}" value="{% trans 'Search messages' %}" id="q" name="q" 
               onfocus="common.clearText(this)"
               onblur="common.clearText(this)"/>
      </form>
    </div>
    {% endcomment %}
    <div class="message-thread">
        <a href="{% url messages_delete thread.pk %}" class="button dangerous-button">
           {% trans "Delete conversation" %}
        </a>
        <a href="{% url messages_inbox %}" class="back">
             {% trans "or return to messages" %}
        </a>

      <div class="message-list">
        {% for message_tuple in message_list %}
          {% with message_tuple.0 as message %}
            {% include "messages/message_list_view.html" %}
          {% endwith %}
        {% endfor %}
      </div>
      <div class="messageReplyForm message-form">
        <form method="POST" class="reply-form" action="{% url message_reply thread.pk %}">
          {% csrf_token %}
          <a name="reply"></a>
          <h3>{% trans "Reply" %}</h3>
          {{ form.body }}
          <input type="submit" class="button submit-button" value="{% trans "Reply" %}"/>
          <a href="{% url messages_inbox %}" class="back">
            {% trans "or return to messages" %}
          </a>
        </form>
      </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
     <script type="text/javascript">
         $(document).ready(function(){
             $('.reply-form').ajaxForm({
                 resetForm: true,
                 timeout: 5000,
                 beforeSubmit: function () {
                     if ($('.reply-form #id_body').val() != '') {
                         $('.reply-form .submit-button')
                            .attr('disabled', 'disabled')
                            .addClass('button-disabled')
                            .val("{% trans "Sending..." %}");
                     }
                 },
                 success: function(data) {
                     $('.message-list').append(data);
                     $('.reply-form .submit-button')
                        .removeAttr('disabled')
                        .removeClass('button-disabled')
                        .val("{% trans "Reply" %}");
                 },
                 error: function(data) {
                    if (data.status == 400) {
                        // Invalid form, do nothing, as it was surely empty.
                    } else if (data.status == 500) {
                        $('.reply-form .submit-button')
                            .removeAttr('disabled')
                            .removeClass('button-disabled')
                            .val("{% trans "Error. Try again!" %}");
                    }
                 }
             })
         })
     </script>
{% endblock %}
