{% extends "django_messages/base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block content %}
 <div class="row">
    <div class="span12">
        <h2>{{ thread.subject }}</h2>
        <p>
            {% blocktrans with participant.user.get_absolute_url as sender_url %}A conversation between <a href="{{ sender_url }}">you</a> and{% endblocktrans %}:
             {% for participant in participant.others %}
                <a href="{{ participant.user.get_absolute_url }}" class="btn btn-mini btn-primary">{{ participant.user }}</a>
             {% endfor %}
        </p>
        
        <div class="well">
            <a href="{% url messages_delete thread.pk %}" class="btn btn-danger">
               {% trans "Delete conversation" %}
            </a>
            <a class="btn" href="{% url messages_inbox %}" class="back">
                 {% trans "or return to messages" %}
            </a>
        </div>

         <div class="message-list">
            {% for message_tuple in message_list %}
              {% with message_tuple.0 as message %}
                <div class="message-container {% if message.sender = request.user %}own{% else %}other{% endif %}">
                    {% include "messages/message_list_view.html" %}
                </div>
              {% endwith %}
            {% endfor %}
         </div>
         
         <div class="message-form">
            <form class="reply-form form-horizontal" method="POST" action="{% url message_reply thread.pk %}">
               <a name="reply"></a>
               {{ form|as_bootstrap }}
               <div class="form-actions">
                  <input type="submit" class="btn btn-primary" value="{% trans "Reply" %}"/>
                  <a href="{% url messages_inbox %}" class="btn">
                     {% trans "or return to messages" %}
                  </a>
               </div>
            </form>
         </div>
    </div> <!-- span12 -->
</div> <!-- row -->
{% endblock %}

{% block extra_js %}
     <script type="text/javascript">
         $(document).ready(function(){
             $('.reply-form').ajaxForm({
                 resetForm: true,
                 timeout: 5000,
                 beforeSubmit: function () {
                     if ($('.reply-form #id_body').val() != '') {
                         $('.reply-form .submit-button')
                            .attr('disabled', 'disabled')
                            .addClass('btn-disabled')
                            .val("{% trans "Sending..." %}");
                     }
                 },
                 success: function(data) {
                    var $new_message = $(data);
                    var $container = $('<div/>').addClass('message-container own');

                    $container.append($new_message);
                    $('.message-list').append($container);

                    $('.reply-form .submit-button')
                        .removeAttr('disabled')
                        .removeClass('btn-disabled')
                        .val("{% trans "Reply" %}");
                 },
                 error: function(data) {
                    if (data.status == 400) {
                        // Invalid form, do nothing, as it was surely empty.
                    } else if (data.status == 500) {
                        $('.reply-form .submit-button')
                            .removeAttr('disabled')
                            .removeClass('button-disabled')
                            .val("{% trans "Error. Try again!" %}");
                    }
                 }
             })
         })
     </script>
{% endblock %}
