{% load i18n %}

<p>
    {% blocktrans trimmed with _0="<strong>" _1="</strong>" %}
        You updated your offer for marketplace listing {{ _0 }}{{ listing }}{{ _1 }}
    {% endblocktrans %}.
</p>

<p>
    <strong>{% trans "Offer details" %}</strong>
</p>

<p>
    {% trans "User" %}: <strong>{{ buyer_display_name }}</strong><br/>
    {% trans "Item" %}: <strong>{{ offer.line_item }}</strong><br/>
    {% trans "Offer amount" %}: <strong>{{ offer.line_item.currency }} {{ offer.amount }}</strong><br/>
    {% if offer.line_item.shipping_cost %}
        <br/>
        {% trans "Shipping cost" %}: <strong>{{ offer.line_item.currency }} {{ offer.line_item.shipping_cost }}</strong>
    {% endif %}
</p>

<a href="{{ listing_url }}#offers" class="btn btn-primary">{% trans "View listing" %}</a>
