{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block title %}AstroBin - {% trans "Contact" %}{% endblock %}
{% block content %}
<h1>{% trans "Contact" %}</h1>

<div class="well">
    {% blocktrans %}Please contact us if you need any assistance, or want to report a problem, give some feedback or suggestions, or simply want to get in touch!{% endblocktrans %}
</div>

<form class="form-horizontal" action="" method="post">
    {{form|as_bootstrap}}
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{% trans "Send" %}" />
    </div>
</form>
{% endblock %}

