{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% trans "Contact" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_safe 'Help' None %}
    {% breadcrumb 'Contact' None %}
{% endblock %}

{% block content %}
    <div class="subtitle">
        <i class="icon icon-info-sign"></i>
        {% blocktrans %}Please contact us if you need any assistance, or want to report a problem, give some feedback or
            suggestions, or simply want to get in touch!{% endblocktrans %}
    </div>

    <form class="form-horizontal" action="" method="post">{% csrf_token %}
        {{ form|as_bootstrap }}

        <div class="well">
            <strong>{% trans "Please note!" %}</strong>
            {% blocktrans %}By using this form, you will reach the AstroBin staff. To contact a user instead, please use
                the private messaging functionality. It's available by navigating to a user's gallery or an image, and
                selecting the "User" menu and then "Send private message".{% endblocktrans %}
        </div>

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{% trans "Send" %}" />
        </div>
    </form>
{% endblock %}

