{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/jquery.capSlide.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/capSlide.css" />
{% endblock %}


{% block content %}
    <div id="technical-card">
        <h3>{% trans "User's card" %}: {{user.username}}</h3>
        <div class="gear">
            {% for i in gear_list %}
                <p>
                    <strong>{% trans i.0 %}:&nbsp;</strong>
                    {% for g in i.1 %}
                        <a href="/search/?q={{g.name|escape}}">{{g.name|escape}}</a>
                        {% if not forloop.last %},&nbsp;{% endif %}
                    {% endfor %}
                </p>
            {% endfor %}
        </div>
    </div>

    <div class="full-box clear">
        <h2>{% trans "Recent images from" %} {{user.username}}</h2>
        {% include 'inclusion_tags/image_list.html' %}
    </div>
{% endblock %}
