{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "AstroBin Raw Data" %} - {% trans "Subscription plans" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "AstroBin Raw Data" %} <small>{% trans "Subscription plans" %}</small></h1>
    </div>

    <div class="row section">
        <div class="span12">
            <p>
                {% blocktrans %}<strong>AstroBin Raw Data</strong> allows you to store your raw files (<strong>FIT</strong> and <strong>digital camera raw</strong>) on AstroBin. We will keep them neatly organized, and you will have a safe backup of all your work, including calibration files.{% endblocktrans %}

                {% url rawdata.help1 as rawdata_url %}
                {% blocktrans %}Learn more by reading <a href="{{rawdata_url}}">a short introduction.</a>{% endblocktrans %}
            </p>
       </div>
    </div>

    <h3>
        {% blocktrans %}Here are the available plans. Choose the one that suits you best!{% endblocktrans %}
    </h3>

    <div class="row">
        {% for object in object_list %}
            {% comment %}
                These are hardcoded here because there are other subscription plans not
                pertaining Raw Data.
            {% endcomment %}


            {% if object.name == 'Meteor' or object.name == 'Luna' or object.name == 'Sol' or object.name == 'Galaxia' %}
                <div class="span3 plan">
                    {% include 'subscription/_plan.html' %}
                    <a class="btn btn-large btn-primary" href="{% url subscription_detail object.id %}">
                        {% trans "Manage" %}
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% comment %}
        More hardcoded things, but well...
    {% endcomment %}
    <div class="row">
        <div class="span3">
            <div class="subtle-container plan-description">
                <p>
                {% blocktrans %} Choose this plan if you want to keep your expenses to a minimum, but still want the possibity to share your FIT and digital camera raw files with your friends. You can also participate to public data pools and contribute to the deepest deep sky images ever created, and you will always know that you support AstroBin.{% endblocktrans %}
                </p>
            </div>
        </div>

        <div class="span3">
            <div class="subtle-container plan-description">
                <p>
                {% blocktrans %}Choose this plan if you have started out in the recent year or two, or you don't want to share and backup your calibration files. Enjoy a lot of room for a convenient price.{% endblocktrans %}
                </p>
            </div>
        </div>

        <div class="span3">
            <div class="subtle-container plan-description">
                <p>
                {% blocktrans %}Choose this plan if you have several years worth of data. You will probably have enough room for all your calibration files, and will enjoy the full potential of the platform.{% endblocktrans %}
                </p>
            </div>
        </div>

        <div class="span3">
            <div class="subtle-container plan-description">
                <p>
                {% blocktrans %}Choose this plan if you have a massive amount of raw data that you want to share and backup securely online.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>


    <div class="thankyou">
        {% blocktrans %}Thank you for supporting AstroBin!{% endblocktrans %}
    </div>
    <div style="text-align:center">
        {% blocktrans %}PS: are you interested in larger plans? <a href="/contact/">Let us know!</a>{% endblocktrans %}
    </div>
{% endblock %}
