{% load i18n %}
{% load common_tags %}
{% load cookie_consent_tags %}
{% load tags %}

<div class="cookie-group">
    <div class="cookie-group-title">
        <h3>{{ cookie_group.name }}</h3>

        <p class="cookie-group-description">
            {{ cookie_group.description }}
        </p>

        {% if not cookie_group.is_required %}

            <div class="cookie-group-form">
                {% if request|cookie_group_accepted:cookie_group.varname %}
                    <button class="cookie-consent-accepted btn btn-secondary btn-disabled" disabled>
                        {% trans "Accepted" %}
                    </button>
                {% else %}
                    <form class="cookie-consent-accept" action="{% url "cookie_consent_accept" cookie_group.varname %}"
                          method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary {% button_loading_class %}" type="submit">
                            {% trans "Accept" %}
                            {% button_loading_indicator %}
                        </button>
                    </form>
                {% endif %}

                {% if request|cookie_group_declined:cookie_group.varname %}
                    <button class="cookie-consent-declined btn btn-secondary btn-disabled" disabled>
                        {% trans "Declined" %}
                    </button>
                {% else %}
                    <form class="cookie-consent-decline"
                          action="{% url "cookie_consent_decline" cookie_group.varname %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger {% button_loading_class %}" type="submit">
                            {% trans "Decline" %}
                            {% button_loading_indicator %}
                        </button>
                    </form>
                {% endif %}
            </div>

        {% endif %}

    </div>

    {% if cookie_group.cookie_set.all %}
        <div class="accordion" id="{{ cookie_group.varname }}">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle show-caret collapsed" data-toggle="collapse"
                       data-parent="#{{ cookie_group.varname }}" href="#{{ cookie_group.varname }}-content">
                        <i class="icon-info-sign"></i>
                        {% blocktrans trimmed %}
                            Cookies in this group
                        {% endblocktrans %}
                    </a>
                </div>
            </div>
            <div id="{{ cookie_group.varname }}-content" class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-striped table-borderless table-cookies">
                        <thead>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Description" %}</th>
                        </thead>
                        {% for cookie in cookie_group.cookie_set.all %}
                            <tr>
                                <td>
                                    {{ cookie.name }}
                                    {% if cookie.domain %}
                                        ({{ cookie.domain }})
                                    {% endif %}
                                </td>
                                <td>
                                    {% if cookie.description %}
                                        {{ cookie.name|cookie_description }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

</div>
